@using WebApps.CommonFunction
@using ObjectInfos
@using Common.CommonData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    _AppHeaderInfo.Case_Code = "";
    _AppHeaderInfo.Appcode = "";
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }

    string language = AppsCommon.GetCurrentLang();
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

@* xem *@
<div class="divCover cls_form_title">
    <img src="/Content/icons/view.png" />
    <div class="cls_form_header">
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowViewApp_Translate()">Dịch</a>
    </div>
</div>

@* xem *@
<div class="divCover cls_form_title">
    <img src="/Content/icons/view.png" />
    <div class="cls_form_header">
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowViewApp()">Xem chi tiết đơn</a>
    </div>
</div>

@* sửa *@
@if (c_operator_type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update))
{
    if (_AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.Luu_tam ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.DaPhanChoLuatSu ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.ChoKHConfirm ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.KhacHangDaTuChoi)
    {
        <div class="divCover cls_form_title">
            <img src="/Content/icons/edit.png" />
            <div class="cls_form_header">
                <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowEditApp()"> Sửa đơn </a>
            </div>
        </div>
    }
}

@* dịch *@
@if (c_operator_type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update))
{
    if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin
                || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.SupperAdmin
                || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer)
    {
        if (_AppHeaderInfo.Status != (decimal)Common.CommonData.CommonEnums.App_Status.Luu_tam)
        {
            if (_AppHeaderInfo.Appcode == TradeMarkAppCode.AppCodeDangKynhanHieu || _AppHeaderInfo.Appcode == TradeMarkAppCode.AppCodeDangKyQuocTeNH)
            {
                <div class="divCover cls_form_title">
                    <img src="/Content/icons/edit.png" />
                    <img src="/Content/icons/translate.png" />
                    <div class="cls_form_header">
                        <a style="text-decoration: underline; font-style: italic; color: blue;" href="/trade-mark/request-for-trade-mark-translate/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode.ToLower()/@_AppHeaderInfo.Id_Vi"> Dịch </a>
                    </div>
                </div>
            }
        }
    }
}

<div class="divCover cls_form_title">
    <img src="/Content/icons/category.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.QuanLyVuViec.ToUpper()
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.CaseCode:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Case_Code" disabled="disabled" />
        </div>
    </div>
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.CaseName:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Case_Name" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.ClientReference: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_AppHeaderInfo.Client_Reference" type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" disabled="disabled" />
        </div>
    </div>
</div>

<div class="divCover cls_form_title">
    <img src="/Content/icons/category.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.ThongTinDon.ToUpper()
    </div>
</div>

<div class="divCover cls_form_title">
    @*<img src="~/Content/icons/category.png" />*@
    <div class="cls_form_header">
        @WebApps.Resources.Resource.lblChuDon
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblTenDayDu:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" style="width:250px" value="@_AppHeaderInfo.Master_Name" disabled="disabled" id="1_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.DiaChi: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_AppHeaderInfo.Master_Address" disabled="disabled" id="1_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblDienThoai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Master_Phone" disabled="disabled" id="1_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Fax" disabled="disabled" id="1_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Email" disabled="disabled" id="1_txtEmail" />
        </div>
    </div>
</div>

<div class="divCover cls_form_title">
    @*<img src="~/Content/icons/category.png" />*@
    <div class="cls_form_header">
        @WebApps.Resources.Resource.lblDaiDienChuDon
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "DDPL")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DDPL" id="_2_rdoNguoiDaiDienPL" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DDPL" id="_2_rdoNguoiDaiDienPL" disabled="disabled" />
            }
            <label>@WebApps.Resources.Resource.lblLaNguoiDaiDienTheoPL</label>
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "DVDL")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DVDL" id="_2_rdoToChucDichVuDL" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DVDL" id="_2_rdoToChucDichVuDL" disabled="disabled" />
            }
            <label>@WebApps.Resources.Resource.lblLaToChucDichVuDaiDienSoHuu </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "NDUQ")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="NDUQ" id="_2_rdoNguoiDuocUyQuyen" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="NDUQ" id="_2_rdoNguoiDuocUyQuyen" disabled="disabled" />
            }

            <label>@WebApps.Resources.Resource.lblLaNguoiKhacDuocUyQuyen </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblTenDayDu:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Name" style="width:250px" maxlength="200" disabled="disabled" id="2_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.DiaChi: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Address" maxlength="200" disabled="disabled" id="2_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblDienThoai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" p value="@_AppHeaderInfo.Rep_Master_Phone" style="width: 250px;" maxlength="50" disabled="disabled" id="2_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Fax" maxlength="50" disabled="disabled" id="2_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Email" maxlength="50" disabled="disabled" id="2_txtEmail" />
        </div>
    </div>
</div>

<script>

    function ShowViewApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-view/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            href = "/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode"
            //window.open(url);
            location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function ShowViewApp_Translate() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            href = "/app-translate/translate-app/@_AppHeaderInfo.Appcode/@_AppHeaderInfo.Id"
            window.open(url);
            //location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }



    function ShowEditApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            //window.open(url);
            location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }
</script>