@using WebApps.CommonFunction
@using ObjectInfos
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    _AppHeaderInfo.Case_Code = "";
    _AppHeaderInfo.Appcode = "";
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }

    string _Filing_Date = _AppHeaderInfo.Filing_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Filing_Date.ToString("dd/MM/yyyy");
    string _Accept_Date = _AppHeaderInfo.Accept_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Accept_Date.ToString("dd/MM/yyyy");
    string _Public_Date = _AppHeaderInfo.Public_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Public_Date.ToString("dd/MM/yyyy");

    string _Accept_Content_Date = _AppHeaderInfo.Accept_Content_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Accept_Content_Date.ToString("dd/MM/yyyy");


    string _Grant_Date = _AppHeaderInfo.Grant_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Grant_Date.ToString("dd/MM/yyyy");
    string _Grant_Public_Date = _AppHeaderInfo.Grant_Public_Date == DateTime.MinValue ? "" : _AppHeaderInfo.Grant_Public_Date.ToString("dd/MM/yyyy");

}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover cls_form_title">
    <img src="/Content/icons/view.png" />
    <div class="cls_form_header">
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowViewApp()">@WebApps.Resources.Resource.XemChiTiet</a>
    </div>
</div>

@if (_AppHeaderInfo.Id_Vi > 0)
{
    <div class="divCover cls_form_title">
        <img src="/Content/icons/view.png" />
        <img src="/Content/icons/translate.png" />
        <div class="cls_form_header">
            <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowViewApp_Translate()">@WebApps.Resources.Resource.XemDonDich</a>
        </div>
    </div>
}

<div class="divCover cls_form_title">
    <img src="/Content/icons/link_to.png" />
    <div class="cls_form_header">
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ChuyenNhuong('@_AppHeaderInfo.App_No')">@WebApps.Resources.Resource.ChuyenNhuong | </a>
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="SuaDoi('@_AppHeaderInfo.App_No')">@WebApps.Resources.Resource.SuaDoiDon | </a>
        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="KhieuKien('@_AppHeaderInfo.App_No')">@WebApps.Resources.Resource.KhieuKien</a>

    </div>
</div>

<div class="divCover cls_form_title">
    <img src="/Content/icons/category.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.QuanLyVuViec.ToUpper()
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.CaseCode:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Case_Code" disabled="disabled" />
        </div>
    </div>
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.CaseName:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Case_Name" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.ClientReference: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_AppHeaderInfo.Client_Reference" type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" disabled="disabled" />
        </div>
    </div>
</div>


<div class="divCover cls_form_title">
    <img src="/Content/icons/category.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.ThongTinDon.ToUpper()
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.SoDon:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width:250px" value="@_AppHeaderInfo.App_No" disabled="disabled" />
        </div>
    </div>

    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.CaseName:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Case_Name" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Accept date:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_Accept_Date" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Public date:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_Public_Date" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Accept Content Date:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_Accept_Content_Date" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Grant date:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_Grant_Date" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Grant Public Date:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_Grant_Public_Date" disabled="disabled" />
        </div>
    </div>
</div>



<div class="divCover cls_form_title">
    @*<img src="~/Content/icons/category.png" />*@
    <div class="cls_form_header">
        Chủ đơn
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" style="width:250px" value="@_AppHeaderInfo.Master_Name" disabled="disabled" id="1_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_AppHeaderInfo.Master_Address" disabled="disabled" id="1_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Master_Phone" disabled="disabled" id="1_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Fax" disabled="disabled" id="1_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Email" disabled="disabled" id="1_txtEmail" />
        </div>
    </div>
</div>


<script>
    function ShowViewApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-view/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            //href="/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode"
            window.open(url);
        } catch (e) {
            console.log(e.toString())
        }
    }

    function ShowViewApp_Translate() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-view/@_AppHeaderInfo.Id_Vi/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            //href = "/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id_Vi/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode"
            window.open(url);
        } catch (e) {
            console.log(e.toString())
        }
    }


    function ChuyenNhuong(_App_No) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark-3c/register/TM_PLB02CGD/" + _App_No;
            window.open(url);
            //location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function SuaDoi(_App_No) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark-3b/register/TM_PLB01SDD/" + _App_No;
            window.open(url);
        } catch (e) {
            console.log(e.toString())
        }
    }

    function KhieuKien(_App_No) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark-3d/register/TM_PLC05KN/" + _App_No;
            window.open(url);
        } catch (e) {
            console.log(e.toString())
        }
    }

    function ShowEditApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            window.open(url);
            //location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }
</script>