@using WebApps.CommonFunction
@using ObjectInfos
@using Common.CommonData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    _AppHeaderInfo.Case_Code = "";
    _AppHeaderInfo.Appcode = "";
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }

    string language = AppsCommon.GetCurrentLang();
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover cls_form_title">
    @*<img src="/Content/icons/icon_info_24.png" />*@
    <div class="cls_form_header">

        <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowViewApp()">Xem chi tiết đơn</a>
        &nbsp; &nbsp;
        @if (c_operator_type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update))
        {
            if (_AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.Luu_tam ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.DaPhanChoLuatSu ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.ChoKHConfirm ||
                _AppHeaderInfo.Status == (decimal)Common.CommonData.CommonEnums.App_Status.KhacHangDaTuChoi)
            {
                <a style="text-decoration: underline; font-style: italic; color: blue;" href="javascript:;" onclick="ShowEditApp()"> Sửa đơn </a>
            }

            @:&nbsp;
            @:&nbsp;
            @* Chi Hien thi phan dich neu la ban ghi tiếng anh, và đang xem trên ngôn ngữ tiếng việt *@
            if (_AppHeaderInfo.Id_Vi >= 0 && language == "VI_VN" && _AppHeaderInfo.Languague_Code == "EN_US")
            {
                <a href="/trade-mark/request-for-trade-mark-translate/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode.ToLower()/@_AppHeaderInfo.Id_Vi" class="icon icon-house-add" data-title="Dịch"></a>
            }

            if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin
                || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.SupperAdmin
                || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer)
            {
                <a href="/trade-mark/request-for-trade-mark-translate/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode.ToLower()/@_AppHeaderInfo.Id_Vi" data-title="Dịch">
                    <img src="/Content/icons/translate.png">
                </a>
            }
        }
    </div>
</div>

<div class="divCover cls_form_title">
    <img src="/Content/icons/icon_info_24.png" />
    <div class="cls_form_header">
        THÔNG TIN ĐƠN
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Case code:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Case_Code" disabled="disabled" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Case name:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Case_Name" disabled="disabled" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Client Reference: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_AppHeaderInfo.Client_Reference" type="text" placeholder="Client Reference" maxlength="200" disabled="disabled" />
        </div>
    </div>
</div>


<div class="divCover cls_form_title">
    @*<img src="~/Content/icons/info.png" />*@
    <div class="cls_form_header">
        Chủ đơn
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" style="width:250px" value="@_AppHeaderInfo.Master_Name" disabled="disabled" id="1_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_AppHeaderInfo.Master_Address" disabled="disabled" id="1_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Master_Phone" disabled="disabled" id="1_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Fax" disabled="disabled" id="1_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Email" disabled="disabled" id="1_txtEmail" />
        </div>
    </div>
</div>

<div class="divCover cls_form_title">
    @*<img src="~/Content/icons/info.png" />*@
    <div class="cls_form_header">
        Đại diện chủ đơn
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "DDPL")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DDPL" placeholder="_2_rdoNguoiDaiDienPL" id="_2_rdoNguoiDaiDienPL" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DDPL" placeholder="_2_rdoNguoiDaiDienPL" id="_2_rdoNguoiDaiDienPL" disabled="disabled" />
            }
            <label>Là người đại diện theo pháp luật của chủ đơn</label>
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "DVDL")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DVDL" placeholder="_2_rdoToChucDichVuDL" id="_2_rdoToChucDichVuDL" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="DVDL" placeholder="_2_rdoToChucDichVuDL" id="_2_rdoToChucDichVuDL" disabled="disabled" />
            }
            <label>Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            @if (_AppHeaderInfo.Rep_Master_Type == "NDUQ")
            {
                <input type="radio" name="_2_DaiDienChuDon" value="NDUQ" placeholder="_2_rdoNguoiDuocUyQuyen" id="_2_rdoNguoiDuocUyQuyen" disabled="disabled" checked="checked" />
            }
            else
            {
                <input type="radio" name="_2_DaiDienChuDon" value="NDUQ" placeholder="_2_rdoNguoiDuocUyQuyen" id="_2_rdoNguoiDuocUyQuyen" disabled="disabled" />
            }

            <label>Là người khác được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Name" style="width:250px" maxlength="200" disabled="disabled" id="2_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Address" maxlength="200" disabled="disabled" id="2_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" p value="@_AppHeaderInfo.Rep_Master_Phone" style="width: 250px;" maxlength="50" disabled="disabled" id="2_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Fax" maxlength="50" disabled="disabled" id="2_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_AppHeaderInfo.Rep_Master_Email" maxlength="50" disabled="disabled" id="2_txtEmail" />
        </div>
    </div>
</div>

<script>
    function ShowViewApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-view/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            href="/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode"
            window.open(url);
            //location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function ShowEditApp() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark/request-for-trade-mark-edit/@_AppHeaderInfo.Id/@_AppHeaderInfo.Status.ToString()/@_AppHeaderInfo.Appcode";
            window.open(url);
            //location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }
</script>