@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    string _Checked = "";
    List<AllCodeInfo> _lstStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "STATUS");
    int _count = 0;
    List<B_Todos_Info> _Listtodo = new List<B_Todos_Info>();
    if (ViewBag.ListTodo != null)
    {
        _Listtodo = ViewBag.ListTodo;
    }

    //int _currstatus = 1;
    //if (ViewBag.Currstatus != null)
    //{
    //_currstatus = ViewBag.Currstatus;
    //}

    B_Todos_Info _FirstTodo = new B_Todos_Info();
    if (_Listtodo.Count > 0)
    {
        _FirstTodo = _Listtodo[0];
    }

    App_Notice_Info _App_Notice_Info = new App_Notice_Info();
    if (ViewBag.App_Notice_Info != null)
    {
        _App_Notice_Info = (App_Notice_Info)ViewBag.App_Notice_Info;
    }

    string language = WebApps.CommonFunction.AppsCommon.GetCurrentLang();
}

<style>
    /*style process*/
    .progress_div_radio_sub {
        width: 19px;
        float: left;
        padding: 0px 5px;
    }

        .progress_div_radio_sub > input[type=radio] {
            width: 1.5em;
            height: 1.5em;
        }

    .progress_hr_sub {
        width: 23%;
        margin-top: 9px;
        float: left;
    }

        .progress_hr_sub:last-child {
            width: calc(100% - 712% - 215px);
            margin-top: 9px;
            float: left;
        }

        .progress_hr_sub:first-child {
            width: 20px;
            margin-top: 9px;
            float: left;
        }

    .progress_div_sub_text1 {
        width: 123px;
        float: left;
        text-align: center;
    }

    .progress_div_sub_text2 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(18% - 29px + 22px - 90px + 40px);
    }

    .progress_div_sub_text3 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(21% - 29px + 22px - 90px + 29px);
    }

    .progress_div_sub_text4 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(21% - 29px + 31px - 90px + 20px);
    }

    .progress_div_sub_text5 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(12% - 29px + 22px - 90px + 11px);
    }


    .progress_div_user_sub1 {
        width: 120px;
        float: left;
        text-align: center;
    }

    .progress_div_user_sub2 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(18% - 29px + 22px - 90px + 38px);
    }

    .progress_div_user_sub3 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(21% - 29px + 22px - 90px + 29px);
    }

    .progress_div_user_sub4 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(21% - 29px + 31px - 90px + 16px);
    }

    .progress_div_user_sub5 {
        width: 120px;
        float: left;
        text-align: center;
        margin-left: calc(12% - 29px + 22px - 90px + 18px);
    }


    .user_hidden {
        visibility: hidden
    }

    .user_progress_active {
        background-color: burlywood;
    }
</style>

<div style="width:100%;float:left;">
    @{
        _count = 0;
    }
    @foreach (var item in _lstStatus)
    {
        if (Convert.ToDecimal(item.CdVal) == (decimal)Common.CommonData.CommonEnums.Notice_Reject_Status.Cuc_TraLoi)
        {
            continue;
        }

        _count++;

        if (language.Contains("VN"))
        {
            <div class="@("progress_div_sub_text" +  _count)"> @item.Content</div>
        }
        else
        {
            <div class="@("progress_div_sub_text" +  _count)"> @item.Content_Eng</div>
        }

    }
</div>
<div style="width:100%;float:left;margin-top:0px">
    <hr class="progress_hr" />
    @{
        _count = 0;
    }
    @foreach (var item in _lstStatus)
    {
        if (Convert.ToDecimal(item.CdVal) == (decimal)Common.CommonData.CommonEnums.Notice_Reject_Status.Cuc_TraLoi)
        {
            continue;
        }

        _count++;
        _Checked = "";
        if (item.CdVal == _App_Notice_Info.Status.ToString())
        {
            _Checked = "checked='checked'";
        }
        <div class="progress_div_radio_sub"><input type="checkbox" name="name" disabled @_Checked /></div>
        <hr class="progress_hr_sub" />
    }
</div>
@if (_Listtodo.Count > 0)
{
    <div style="width:100%;float:left; margin-top:0px">
        @{
            _count = 0;
        }
        @foreach (var item in _lstStatus)
        {
            if (Convert.ToDecimal(item.CdVal) == (decimal)Common.CommonData.CommonEnums.Notice_Reject_Status.Cuc_TraLoi)
            {
                continue;
            }

            _count++;
            if (item.CdVal == _App_Notice_Info.Status.ToString())
            {
                <div class="@("user_progress_active progress_div_user_sub" +  _count)"> @_FirstTodo.REQUEST_BY_NAME - @_FirstTodo.REQUEST_DATE.ToString("dd/MM/yyyy")</div>
            }
            else
            {
                <div class="@("user_hidden progress_div_user_sub" +  _count)">@_FirstTodo.REQUEST_BY_NAME - @_FirstTodo.REQUEST_DATE.ToString("dd/MM/yyyy")</div>
            }
        }
    </div>
}

