@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<B_Remind_Info> _list_data = new List<B_Remind_Info>();
    if (ViewBag.ListRemind != null)
    {
        _list_data = ViewBag.ListRemind;
    }

}

<div>
    <table class="table-lst-data" id="tableListRemind">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="class150" id='REQUEST_BY_NAME' onclick="RemindSortByCol('REQUEST_BY_NAME')">@WebApps.Resources.Resource.Nguoigui</th>
                <th class="class250" id='REQUEST_DATE' onclick="RemindSortByCol('REQUEST_DATE')">@WebApps.Resources.Resource.Thoigiangui</th>
                <th class="class150" id='PROCESSOR_BY_NAME' onclick="RemindSortByCol('PROCESSOR_BY_NAME')">@WebApps.Resources.Resource.NguoiXuLy</th>
                <th class="class250" id='PROCESSOR_DATE' onclick="RemindSortByCol('PROCESSOR_DATE')">@WebApps.Resources.Resource.ThoiGianXuLy</th>
                <th class="class250">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">
                            @item.STT
                        </td>
                        <td class="tdleftalign">@item.REQUEST_BY_NAME</td>
                        <td class="tdcenteralign">
                            @item.REQUEST_DATE.ToDateStringN0()
                        </td>
                        <td class="tdleftalign">@item.PROCESSOR_BY_NAME</td>
                        <td class="tdcenteralign">
                            @item.PROCESSOR_DATE.ToDateStringN0()
                        </td>
                        <td class="tdleftalign">@item.CONTENT</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

 