@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Chi tiết đơn";
    Layout = "~/ViewsShared/_Layout.cshtml";

    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }

    string _appcode = "";
    if (ViewBag.Appcode != null)
    {
        _appcode = ViewBag.Appcode;
    }
    string _AppdetailPatch = "";
    string _AppdetailTitle = "";
    int _currstatus = 1;
    if (ViewBag.Currstatus != null)
    {
        _currstatus = ViewBag.Currstatus;
    }
    string _Checked = "";
    List<AllCodeInfo> _lstStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("APP", "STATUS");
    int _count = 0;
    List<B_Todos_Info> _Listtodo = new List<B_Todos_Info>();
    if (ViewBag.ListTodo != null)
    {
        _Listtodo = ViewBag.ListTodo;
    }

    B_Todos_Info _FirstTodo = new B_Todos_Info();
    if (_Listtodo.Count > 0)
    {
        _FirstTodo = _Listtodo[0];
    }

    decimal _reGrant = 0;
    if (ViewBag.Re_Grant != null)
    {
        _reGrant = (decimal)ViewBag.Re_Grant;
    }

    decimal _hardStatus = -1;
    if (ViewBag.Hard_Status != null)
    {
        _hardStatus = (decimal)ViewBag.Hard_Status;
    }

    string language = WebApps.CommonFunction.AppsCommon.GetCurrentLang();
}

<style>
    .legalTodo_div {
        text-align: left;
        border: 1px solid #ccc;
        min-height: 50px;
        padding: 5px 0px 5px 5px;
        margin-top: 10px;
        float: left;
        width: 100%;
    }

    #legaltodo_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .legalRemind_div {
        text-align: left;
        border: 1px solid #ccc;
        min-height: 50px;
        padding: 5px 0px 5px 5px;
        margin-top: 10px;
    }

    #legalOrder_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .cls_form_title {
        /*display: none;*/
    }

    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }

    .main-content {
        background-color: #E9EAEF;
        padding: 10px;
    }

    /*style process*/
    .progress_div_radio {
        width: 19px;
        float: left;
        padding: 0px 5px;
    }

        .progress_div_radio > input[type=radio] {
            width: 1.5em;
            height: 1.5em;
        }

    .progress_hr {
        /*width: 12%;*/
        width: 6%;
        margin-top: 9px;
        float: left;
    }

    .progress_div_text1 {
        width: 80px;
        float: left;
        text-align: center;
    }

    .progress_div_text2 {
        width: 90px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 40px);
        /*margin-left: calc(12% - 29px + 22px - 90px + 40px);*/
    }

    .progress_div_text3 {
        width: 110px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 29px);
    }

    .progress_div_text4 {
        width: 100px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 31px - 90px + 20px);
    }

    .progress_div_text5 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 11px);
    }

    .progress_div_text6 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 8px);
    }

    .progress_div_text7 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 8px);
    }

    .progress_div_text8 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 4px);
    }

    .progress_div_text9 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 4px);
    }

    .progress_div_text10 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 4px);
    }

    .progress_div_text11 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 4px);
    }

    .progress_hr:last-child {
        width: calc(100% - 76% - 215px);
        margin-top: 9px;
        float: left;
    }

    .progress_hr:first-child {
        width: 20px;
        margin-top: 9px;
        float: left;
    }

    .progress_div_user1 {
        width: 80px;
        float: left;
        text-align: center;
    }

    .progress_div_user2 {
        width: 90px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 38px);
    }

    .progress_div_user3 {
        width: 110px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 29px);
    }

    .progress_div_user4 {
        width: 100px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 31px - 90px + 16px);
    }

    .progress_div_user5 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 18px);
    }

    .progress_div_user6 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 6px);
    }

    .progress_div_user7 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 7px);
    }

    .progress_div_user8 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 6px);
    }

    .progress_div_user9 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 6px);
    }

    .progress_div_user10 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 6px);
    }

    .progress_div_user11 {
        width: 122px;
        float: left;
        text-align: center;
        margin-left: calc(6% - 29px + 22px - 90px + 6px);
    }

    .user_hidden {
        visibility: hidden
    }

    .user_progress_active {
        background-color: burlywood;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/trade-mark-mana/quan-ly-don">@WebApps.Resources.Resource.QuanLyDon</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.XemChiTiet</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


@Html.Partial("~/Areas/Home/Views/Shared/HomeSearchBox.cshtml")

@*Notify*@
@Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")



<fieldset style="border: 1px solid #908282; padding: 1.25rem; margin-top:20px">

    @if (_appcode == TradeMarkAppCode.AppCodeDangKynhanHieu)
    {
        _AppdetailTitle = "ĐĂNG KÝ NHÃN HIỆU";
    }
    @if (_appcode == TradeMarkAppCode.AppCodeDangKyQuocTeNH)
    {
        _AppdetailTitle = "YÊU CẦU ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU CÓ NGUỒN GỐC VIỆT NAM";
    }
    @if (_appcode == TradeMarkAppCode.AppCode_TM_3B_PLB_01_SDD)
    {
        _AppdetailTitle = "SỬA ĐỔI ĐƠN ĐĂNG KÝ ĐỐI TƯỢNG SỞ HỮU CÔNG NGHIỆP";
    }
    @if (_appcode == TradeMarkAppCode.AppCode_TM_3C_PLB_02_CGD)
    {
        _AppdetailTitle = " YÊU CẦU GHI NHẬN CHUYỂN NHƯỢNG ĐƠN ĐĂNG KÝ ĐỐI TƯỢNG SỞ HỮU CÔNG NGHIỆP";
    }
    @if (_appcode == TradeMarkAppCode.AppCode_TM_3D_PLC_05_KN)
    {
        _AppdetailTitle = "TỜ KHAI KHIẾU NẠI";
    }
    @if (_appcode == TradeMarkAppCode.AppCode_TM_4C2_PLD_01_HDCN)
    {
        _AppdetailTitle = "  ĐƠN ĐĂNG KÝ CHUYỂN NHƯỢNG";
    }

    @{
        _AppdetailPatch = @"~/Areas/TradeMark/Views/Shared/AppDetail/_AppHeader.cshtml";
    }
    <legend>@_AppdetailTitle </legend>
    <div style="width:100%;float:left;" class="mb_disnone">
        @{
            _count = 0;
        }
        @foreach (var item in _lstStatus)
        {
            _count++;
            if (item.CdVal == Convert.ToDecimal(Common.CommonData.CommonEnums.App_Status.AdminGuiKetQuaNopDon).ToString())
            {
                break;
            }

            @*<div class="@("progress_div_text" +  _count)"> @item.Content_Eng</div>*@

            if (language.Contains("VN"))
            {
                <div class="@("progress_div_text" +  _count)"> @item.Content</div>
            }
            else
            {
                <div class="@("progress_div_text" +  _count)"> @item.Content_Eng</div>
            }
        }
    </div>
    <div style="width:100%;float:left;margin-top:7px" class="mb_disnone">
        <hr class="progress_hr" />
        @{
            _count = 0;
        }
        @foreach (var item in _lstStatus)
        {
            _count++;
            if (item.CdVal == Convert.ToDecimal(Common.CommonData.CommonEnums.App_Status.AdminGuiKetQuaNopDon).ToString())
            {
                break;
            }
            _Checked = "";
            if (item.CdVal == _currstatus.ToString())
            {
                _Checked = "checked='checked'";
            }
            <div class="progress_div_radio"><input type="radio" name="name" disabled @_Checked /></div>
            <hr class="progress_hr" />
        }
    </div>
    @if (_Listtodo.Count > 0)
    {
        <div style="width:100%;float:left; margin-top:7px" class="mb_disnone">
            @{
                _count = 0;
            }
            @foreach (var item in _lstStatus)
            {
                _count++;
                if (item.CdVal == Convert.ToDecimal(Common.CommonData.CommonEnums.App_Status.AdminGuiKetQuaNopDon).ToString())
                {
                    break;
                }
                if (item.CdVal == _currstatus.ToString())
                {
                    <div class="@("user_progress_active progress_div_user" +  _count)"> @_FirstTodo.REQUEST_BY_NAME</div>
                }
                else
                {
                    <div class="@("user_hidden progress_div_user" +  _count)">@_FirstTodo.REQUEST_BY_NAME </div>
                }
            }
        </div>
    }

    @if (c_operator_type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update) && _Listtodo.Count > 0)
    {
        <div class="mb-top0 smb_content" style="margin-top:20px;float:left;width:100%">
            @* Nếu có sự thay đổi về quyền của luật sư*@
            @if (_reGrant == 1)
            {
                // nếu đổi quyền ở bước duyệt advice filing
                if (_hardStatus == (int)CommonEnums.App_Status.DaGuiLenCuc)
                {
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_Re_PhanLoai_2_Lawer.cshtml")
                }
            }
            else
            {
                if (_currstatus == (int)CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin)
                {
                    @*@Html.Partial("~/Areas/TradeMark/Views/Application/_PartialPhanLoai_Admin.cshtml")*@
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialPhanLoai.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.DaGui_ChoPhanLoai || _currstatus == (decimal)CommonEnums.App_Status.KhacHangDaTuChoi)
                {
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialPhanLoai.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.DaPhanChoLuatSu || _currstatus == (int)CommonEnums.App_Status.AdminReject)
                {
                    // Luật sư Confirm đơn
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialLawer_Confirm.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.LuatSuDaConfirm)
                {
                    // Admin gửi lại cho KH
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialAdminSend2Customer.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.ChoKHConfirm)
                {
                    //Khách hàng confirm lại cho admin
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialKH_Confirm.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.KhacHangDaConfirm)
                {
                    // Khách hàng đã confirm lại cho admin -> phân loại cho 1 loại ng dùng khác
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialPhanLoai_NopDon.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.DaPhanChoNhanVien)
                {
                    // Nhân viên confirm
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialEmployee_Confirm.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.DaNopDon)
                {
                    // advice filling
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_Filing.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.DaGuiLenCuc)
                {
                    // advice filling
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialAdminGuiKetQuaNopDon.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.AdminTuChoiKetQuaNopDon)
                {
                    // admin reject kết quả -> chuyển  về bước advice
                    @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_Filing.cshtml")
                }
                else if (_currstatus == (int)CommonEnums.App_Status.AdminGuiKetQuaNopDon)
                {
                    // khách hàng review
                    //@Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_Customer_Review_Result.cshtml")

                    // luật sư cập nhật thông tin kết quả hình thức
                    @Html.Partial("~/Areas/TradeMark/Views/Application/After_Filing/_Partial_Update_Form_Result.cshtml")
                }
            }
        </div>
    }

    <div style="margin-top:20px;float:left;width:100%" class="smb_content mb-top0">
        @Html.Partial(_AppdetailPatch)
    </div>

    <div class="divCover cls_form_title" style="margin-top:20px;float:left;width:100%">
        <img src="/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.LichSuGiaoDich
        </div>
    </div>

    <div class="divCover legalTodo_div" style="background-color: antiquewhite;">
        <div class="box_title" style="width:200px; float:left">  </div>
        <div id="d_todo_notify" class="box_title" style="width:calc(100% - 240px); padding:0px; float:left">
        </div>
        <div class="Homebox">
            <div id="LegalTododivTable" class="LegaldivBoxTable">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/AppDetail/_TodoData.cshtml")
            </div>
        </div>
    </div>

</fieldset>

