@using ObjectInfos;
@using BussinessFacade;
@model Timesheet_Info
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function() {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<div class="popup-opacity-wrapper"></div>
<div class="d-popup" style="overflow: visible">
    <div class="d-popup-content grid grid-2cols">
        <div>
            <label>Mã đơn </label>
            @Html.TextBoxFor(m => m.App_GenCode, new { id = "txtApp_GenCode", @readonly = "readonly" })
        </div>

        <div>
            <label>Loại đơn</label>
            @Html.TextBoxFor(m => m.App_Name, new { id = "txtApp_Name", @readonly = "readonly" })
        </div>

        <div>
            <label>Luật sư</label>
            @Html.TextBoxFor(m => m.Lawer_Name, new { id = "txtLawer_Name", @readonly = "readonly" })
        </div>

        <div>
            <label>Timesheet name <i class="redspan">(*)</i></label>
            @Html.TextBoxFor(m => m.Name, new { id = "txtName", @maxlength = "200" })
        </div>

        <div>
            <label>Trạng thái</label>
            @Html.TextBoxFor(m => m.Status_Name, new { id = "txtStatus_Name", @readonly = "readonly" })
        </div>

        <div>
            <label>Ngày <i class="redspan">(*)</i></label>
            @Html.TextBoxFor(m => m.Time_Date, "{0:dd/MM/yyyy}", new { id = "txtTime_Date", @Value = Model.Time_Date == DateTime.MinValue ? "" : Model.Time_Date.ToString("dd/MM/yyyy"), @placeholder = "dd/mm/yyyy", @class = "datepicker" })
            @*@Html.TextBoxFor(m => m.Time_Date, new { id = "Time_Date", @readonly = "readonly" })*@
        </div>

        <div>
            <label>Giờ <i class="redspan">(*)</i></label>
            @Html.TextBoxFor(m => m.Hours, new { id = "txtHours", @Value = Model.Hours == 0 ? "" : Model.Hours.ToString("#,##0.##"), onkeyup = "jsFormatNumber(this.value, this.id)" })
        </div>

        <div>
            <label>Ghi chú</label>
            @Html.TextBoxFor(m => m.Notes, new { id = "txtNotes", @maxlength = "2000" })
        </div>
    </div>

    <div class="d-popup-footer">
        <input type="submit" class="btn" value="Lưu" onclick="return doEditTimeSheet()" />
    </div>
</div>

<script>

    function doEditTimeSheet() {
        if (validateForm()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn sửa timesheet này không?", function () {
                var formData = new FormData();
                collectData(formData);
                $.ajax({
                    url: '/quan-ly-timesheet/danh-sach-timesheet/do-edit-timeshet',
                    type: 'POST',
                    data: formData,
                    async: true, traditional: true, contentType: false, processData: false,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Sửa timesheet thành công!', "THÔNG BÁO", function () {
                                ClosePopupEdit();
                                Search_TimeSheet(1,1);
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateForm() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        var txtName = $("#txtName").val();
        if (txtName == "") {
            jError("Tên đợt time sheet không được bỏ trống!", "lỗi", function () {
                $("#txtName").val('');
                $("#txtName").focus();
            });
            return false;
        }

        var txtTime_Date = $("#txtTime_Date").val();
        if (checkDate("Ngày khai timesheet", "#txtTime_Date", txtTime_Date) == false) {
            return false;
        }

        var txtHours = $("#txtHours").val();
        if (txtHours == "") {
            jError("Giờ khai timesheet không được bỏ trống!", "lỗi", function () {
                $("#txtHours").val('');
                $("#txtHours").focus();
            });
            return false;
        }

        if (txtHours == "0") {
            jError("Giờ khai timesheet phải lớn hơn 0!", "lỗi", function () {
                $("#txtHours").val('');
                $("#txtHours").focus();
            });
            return false;
        }

        return true;
    }

    function collectData(formData) {
        formData.append('p_Timesheet_Info.Id', @Model.Id);
        formData.append('p_Timesheet_Info.App_Header_Id', @Model.App_Header_Id);
        formData.append('p_Timesheet_Info.Lawer_Id', @Model.Lawer_Id);
        formData.append('p_Timesheet_Info.Name', $("#txtName").val());
        formData.append('p_Timesheet_Info.Time_Date', $("#txtTime_Date").val());
        formData.append('p_Timesheet_Info.Hours', $("#txtHours").val());
        formData.append('p_Timesheet_Info.Notes', $("#txtNotes").val());
    }
</script>
