@using ObjectInfos;
@using BussinessFacade;
@{
    Timesheet_Info _Timesheet_Info = new Timesheet_Info();
    if (ViewBag.Timesheet_Info != null)
    {
        _Timesheet_Info = ViewBag.Timesheet_Info;
    }
}

<div class="popup-opacity-wrapper"></div>
<div class="d-popup" style="overflow: visible">
    <div class="d-popup-content grid grid-2cols" id="divViewTimeSheet">
        <div>
            <label>Mã đơn </label>
            <p class="text-font-medium">@_Timesheet_Info.App_GenCode</p>
        </div>

        <div>
            <label>Loại đơn</label>
            <p class="text-font-medium">@_Timesheet_Info.App_Name</p>
        </div>

        <div>
            <label>Timesheet name</label>
            <p class="text-font-medium">@_Timesheet_Info.Name</p>
        </div>

        <div>
            <label>Luật sư</label>
            <p class="text-font-medium">@_Timesheet_Info.Lawer_Name</p>
        </div>

        <div>
            <label>Trạng thái</label>
            <p class="text-font-medium">@_Timesheet_Info.Status_Name</p>
        </div>

        <div>
            <label>Ngày</label>
            <p class="text-font-medium">@_Timesheet_Info.Time_Date.ToString("dd/MM/yyyy")</p>
        </div>

        <div>
            <label>Giờ</label>
            <p class="text-font-medium">@_Timesheet_Info.Hours</p>
        </div>

        <div>
            <label>Ghi chú</label>
            <p class="text-font-medium">@_Timesheet_Info.Notes</p>
        </div>

        @if (_Timesheet_Info.Status == (int)Common.CommonData.CommonEnums.TimeSheet_Status.Reject)
        {
            <div>
                <label>Lý do từ chối</label>
                <p class="text-font-medium">@_Timesheet_Info.Reject_Reason</p>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function() {
        if (@_Timesheet_Info.Status =='@((int)Common.CommonData.CommonEnums.TimeSheet_Status.Reject)' )
        {
            $("#divViewTimeSheet").removeClass("grid-2cols");
            $("#divViewTimeSheet").addClass("grid-3cols");
        }
    });

</script>

