@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using WebApps.Resources;
     
@{
    ViewBag.Title = "Translate Request for amendment of application";
    Layout = "~/ViewsShared/_Layout.cshtml";

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Detail_PLB01_SDD_Info _App_Detail = new App_Detail_PLB01_SDD_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLB01_SDD_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

@*<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;">  @Resource.TM3B_Formname</a></li>
    </ul>
</div>*@
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM3B_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
</div>

<input type="hidden" id="txtAppCode" value='@_AppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">@Resource.TM3B_Legend</legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 3 - ĐƠN YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3B_FormHeader
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoDon:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3B_SoDon" id="3_SoDon" value="@_App_Detail.App_No_Change" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @if (_App_Detail.Request_Change_Type == 1)
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDonSangChe" value="1" checked="checked" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    else
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDonSangChe" value="1" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    <label>@Resource.TM3B_DonDKSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Request_Change_Type == 2)
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdKieuDangCongNghiep" value="2" checked="checked" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    else
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdKieuDangCongNghiep" value="2" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    <label>@Resource.TM3B_DonDKKieuDangCongNghiep</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad clssDisplaynone" id="divSoHinhSoTrang">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoHinh:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3B_SoHinh" id="txt_SoHinh" style="width:318px" value="@_App_Detail.Number_Pic" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM2B_SoTrang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM2B_SoTrang" id="txt_SoTrang" value="@_App_Detail.Number_Page" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @if (_App_Detail.Request_Change_Type == 3)
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdMachTichHop" value="3" onchange="return ShowHiden_SoHinhSoTrang()" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdMachTichHop" value="3" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    <label>@Resource.TM3B_DonDKThietKeBotriMach</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Request_Change_Type == 4)
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDKNhanHieu" value="4" onchange="return ShowHiden_SoHinhSoTrang()" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDKNhanHieu" value="4" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    <label>@Resource.TM3B_DonDKNhanHieu</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Request_Change_Type == 5)
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdChiDanDiaLy" value="5" onchange="return ShowHiden_SoHinhSoTrang()" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdChiDanDiaLy" value="5" onchange="return ShowHiden_SoHinhSoTrang()" />
                    }
                    <label> @Resource.TM3B_DonDKChiDanDiaLy</label>
                </div>
            </div>
        </div>



        @* end 3 *@

        @* 4 - NỘI DUNG YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3B_NoiDungYCSuaDoi
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @*<input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdTenChuDon" value="1">*@
                    @if (_App_Detail.Request_To_Type == 1)
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdTenChuDon" value="1" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdTenChuDon" value="1" checked="checked" />
                    }
                    <label>@Resource.TM3B_TenChuDon</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @*<input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdDiaChiChuDon" value="2">*@
                    @if (_App_Detail.Request_To_Type == 2)
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdDiaChiChuDon" value="2" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdDiaChiChuDon" value="2" />
                    }
                    <label>@Resource.TM3B_DiaChiChuDon</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @*<input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdnoiDungKhac" value="3">*@
                    @if (_App_Detail.Request_To_Type == 3)
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdnoiDungKhac" value="3" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdnoiDungKhac" value="3" />
                    }
                    <label>@Resource.TM3B_NoiDungKhac</label>
                </div>
            </div>

            <div class="div-search-title" style="margin-left: 0px !important;background-color: yellow; ">
                <div>@Resource.TM3B_DeNghiSuaThanh:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="4_DeNghiSuaThanh" id="4_DeNghiSuaThanh" value="@_App_Detail.Request_To_Content" />
                </div>
            </div>
        </div>
        @* end 4 *@

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_DaiDienChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        @* end 2 *@

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        @{
            string _doc_id = "01_SDD_01";
            string _id = _doc_id + "|6_Doc_ToKhai|0|"+Resource.TM2B_ToKhaiGom + "|"+ Resource.TM2B_SoTrang + "|0";
            string _value = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value = "0|" + "" + "|" + "";
            }
            else
            {
                _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            }

            string _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model)
        }

        @* 2. Tài liệu xác nhận *@
        @{
            string _doc_id2 = "01_SDD_02";
            string _id2 = _doc_id2 + "|6_Doc_TLXacNhan|0|" + Resource.TM3B_TaiLieuXacNhanThayDoi + "|" + Resource.TM3B_Tieng + "|1";
            string _value2 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value2 = "0|" + "" + "|" + "";
            }
            else
            {
                _value2 = dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy;
            }

            string _model2 = _id2 + ";" + _value2;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model2)
        }

        @* 3. Bản dịch tiếng Việt *@
        @{
            string _doc_id3 = "01_SDD_03";
            string _id3 = _doc_id3 + "|6_Doc_BDichTv|0|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value3 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value3 = "0|" + "" + "|" + "";
            }
            else
            {
                _value3 = dic_appDoc[_doc_id3].Isuse.ToString().Trim() + " | " + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy;
            }

            string _model3 = _id3 + ";" + _value3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model3)
        }

        @* 4. Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id4 = "01_SDD_04";
            string _id4 = _doc_id4 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|1";
            string _value4 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value4 = "0|" + "" + "|" + "";
            }
            else
            {
                _value4 = dic_appDoc[_doc_id4].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
            }

            string _model4 = _id4 + ";" + _value4;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model4)
        }

        @* 4.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id5 = "01_SDD_05";
            string _id5 = _doc_id5 + "|6_Doc_BanDichPOA|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value5 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value5 = "0|" + "" + "|" + "";
            }
            else
            {
                _value5 = dic_appDoc[_doc_id5].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id5].CHAR01 + "|" + dic_appDoc[_doc_id5].Url_Hardcopy;
            }

            string _model5 = _id5 + ";" + _value5;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model5)
        }

        @* 4.2 Bản gốc *@
        @{
            string _doc_id6 = "01_SDD_06";
            string _id6 = _doc_id6 + "|6_Doc_BanGocPOA|1|" + Resource.TM2B_BanGoc + "||1";
            string _value6 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value6 = "0|" + "" + "|" + "";
            }
            else
            {
                _value6 = dic_appDoc[_doc_id6].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id6].CHAR01 + "|" + dic_appDoc[_doc_id6].Url_Hardcopy;
            }
            string _model6 = _id6 + ";" + _value6;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model6)
        }

        @* 4.3 Bản sao *@
        @{
            string _doc_id7 = "01_SDD_07";
            string _id7 = _doc_id7 + "|6_Doc_BanSaoPOA|1|"+ Resource.TM2B_BanSao+ "||0";
            string _value7 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value7 = "0|" + "" + "|" + "";
            }
            else
            {
                _value7 = dic_appDoc[_doc_id7].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id7].CHAR01 + "|" + dic_appDoc[_doc_id7].Url_Hardcopy;
            }
            string _model7 = _id7 + ";" + _value7;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model7)
        }

        @* 4.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id8 = "01_SDD_08";
            string _id8 = _doc_id8 + "|6_Doc_BanGocPOA_Later|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            string _value8 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value8 = "0|" + "" + "|" + "";
            }
            else
            {
                _value8 = dic_appDoc[_doc_id8].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id8].CHAR01 + "|" + dic_appDoc[_doc_id8].Url_Hardcopy;
            }
            string _model8 = _id8 + ";" + _value8;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model8)
        }

        @* 4.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id9 = "01_SDD_09";
            string _id9 = _doc_id9 + "|6_Doc_BanGocPOA_ByApp|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|0";
            string _value9 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value9 = "0|" + "" + "|" + "";
            }
            else
            {
                _value9 = dic_appDoc[_doc_id9].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id9].CHAR01 + "|" + dic_appDoc[_doc_id9].Url_Hardcopy;
            }

            string _model9 = _id9 + ";" + _value9;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model9)
        }

        @* 5. Bản sao chứng từ nộp phí *@
        @{
            string _doc_id10 = "01_SDD_10";
            string _id10 = _doc_id10 + "|6_Doc_BanSaoChungTu|0|"+ Resource.TM3B_BanSaoChungTuNopPhi + "||1";
            string _value10 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value10 = "0|" + "" + "|" + "";
            }
            else
            {
                _value10 = dic_appDoc[_doc_id10].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id10].CHAR01 + "|" + dic_appDoc[_doc_id10].Url_Hardcopy;
            }

            string _model10 = _id10 + ";" + _value10;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model10)
        }

        @* 6. Khác *@
        @{
            string _doc_id11 = "01_SDD_11";
            string _id11 = _doc_id11 + "|6_Doc_Other|0|" + Resource.TM3B_TaiLieuKhac + "|" + Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1";
            string _value11 = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value11 = "0|" + "" + "|" + "";
            }
            else
            {
                _value11 = dic_appDoc[_doc_id11].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id11].CHAR01 + "|" + dic_appDoc[_doc_id11].Url_Hardcopy;
            }

            string _model11 = _id11 + ";" + _value11;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model11)
        }

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_Edit.cshtml", _camket)
        }



        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });

        ShowHiden_SoHinhSoTrang();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });

    function ShowHiden_SoHinhSoTrang() {
        try {
            if ($("#3_rdDonSangChe").is(':checked') || $("#3_rdKieuDangCongNghiep ").is(':checked')) {
                $("#divSoHinhSoTrang").removeClass("clssDisplaynone");
                $("#txt_SoHinh").focus();
            }
            else {
                $("#divSoHinhSoTrang").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function GetDatatoUpdate(formData, p_status) {
        //Thông tin chủ đơn

        var reponse = funcThongTinCaseName(formData, "0");
        if (reponse == false) {
            return false;
        }

        if (funcThongTinChuDon(formData, "1") != true) {
            return false;
        }
        formData.append("pInfo.Id", @_AppHeaderInfo.Id);
        formData.append("pInfo.Id_Vi", @_AppHeaderInfo.Id_Vi);
        formData.append("pInfo.Case_Code", '@_AppHeaderInfo.Case_Code');
        formData.append("pInfo.Languague_Code", '@_AppHeaderInfo.Languague_Code');
        formData.append("pInfo.Status", p_status );

        // đại diện chủ đơn
        formData.append("pInfo.Appcode", '@_AppHeaderInfo.Appcode');
        if (funcThongTinDaiDienChuDon(formData, "2") != true) {
            return false;
        }
        var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
        if (v_RepMasterType === "" || v_RepMasterType == undefined) {
            jError("@Resource.TM2B_ChonDaiDienChuDon", "@Resource.TM3B_Loi", function () {
                $("#_2_rdoNguoiDaiDienPL").focus()
            });
        }
        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

        //Lấy thông tin detail
        reponse = funcGetAppDetail(formData);
        if (reponse == false) {
            return false;
        }

        //Lấy thông tin tài liệu có trong đơn
        reponse = funGetDocumentFile(formData);
        if (reponse == false) {
            return false;
        }

        reponse = funcGetCamKetChuDon(formData);
        if (reponse == false) {
            return false;
        }
    }

    $("#btnGuiDon").click(function () {
        try {

            //Thông tin chủ đơn
            var formData = new FormData();
            var reponse = GetDatatoUpdate(formData, @Convert.ToInt16(Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin));
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/trade-mark-3b/Translate_PLB_01_SDD',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: false,
                headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(TranslatedSucess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError(EditFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {

            //Thông tin chủ đơn
            var formData = new FormData();
            var reponse = GetDatatoUpdate(formData, @_AppHeaderInfo.Status);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/trade-mark-3b/Translate_PLB_01_SDD',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: false,
                headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(TranslatedSucess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError(EditFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            console.log(e);
        }
    });

    $("#btnSuaDon").click(function () {
        try {

            //Thông tin chủ đơn
            var formData = new FormData();
            var reponse = GetDatatoUpdate(formData, @_AppHeaderInfo.Status);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/trade-mark-3b/Edit_PLB_01_SDD',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: false,
                headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(EditSuccess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError(EditFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            console.log(e);
        }
    });

    function funcGetAppDetail(formData) {
        try {
            var _YeuCauSuaDoi = $("input[name='3_rdoYeuCauSuaDoi']:checked").val();
            if (_YeuCauSuaDoi === "" || _YeuCauSuaDoi == undefined) {
                jError("@Resource.TM3B_GiaTriDonYCSuaDoi", "@Resource.TM3B_Loi", function () {
                    $("#3_rdDonSangChe").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_Change_Type", parseInt(_YeuCauSuaDoi));

            var _soHinh = 0;
            var _soTrang = 0;
            if ($("#3_rdDonSangChe").is(':checked') || $("#3_rdKieuDangCongNghiep ").is(':checked')) {
                _soHinh = $("#txt_SoHinh").val();
                _soTrang = $("#txt_SoTrang").val();

                if (_soHinh == "" || _soTrang == "") {

                    if (_soHinh == "") {
                        jError("@Resource.TM3B_SoHinhKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_SoHinh").focus()
                        });
                        return false;
                    }

                    if (_soTrang == "") {
                        jError("@Resource.TM3B_SoTrangKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_SoTrang").focus()
                        });
                        return false;
                    }
                }
            }
            formData.append("pDetail.Number_Pic", parseInt(_soHinh));
            formData.append("pDetail.Number_Page", parseInt(_soTrang));

            // số đơn
            var _3_SoDon = $("#3_SoDon").val();
            if (_3_SoDon === "" || _3_SoDon == undefined) {
                jError("@Resource.TM3B_SoDonKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                    $("#3_SoDon").focus()
                });
                return false;
            }
            formData.append("pDetail.App_No_Change", _3_SoDon);

            // Nội dung yêu cầu sửa đổi
            var _Request_To_Type = $("input[name='4_rdoNoiDungYeuCauSuaDoi']:checked").val();
            if (_Request_To_Type === "" || _Request_To_Type == undefined) {
               jError("@Resource.TM3B_ChonNoiDungYCSuaDoi", "@Resource.TM3B_Loi", function () {
                    $("#4_rdTenChuDon").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_To_Type", parseInt(_Request_To_Type));

            // đề nghị sửa thành
            var _4_DeNghiSuaThanh = $("#4_DeNghiSuaThanh").val();
            if (_4_DeNghiSuaThanh === "" || _4_DeNghiSuaThanh == undefined) {
                jError("@Resource.TM3B_DeNghiSuaThanhTrong", "@Resource.TM3B_Loi", function () {
                    $("#4_DeNghiSuaThanh").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_To_Content", _4_DeNghiSuaThanh);
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1. Tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_6_Doc_ToKhai").val());

            // 2. Tài liệu xác nhận
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_TLXacNhan", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_Doc_TLXacNhan").val());

            // 3. Bản dịch tiếng Việt
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BDichTv", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_6_Doc_BDichTv").val());

            // 4. Giấy uỷ quyền bằng tiếng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_POA", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_6_Doc_POA").val());

            // 4.1 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichPOA", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_6_Doc_BanDichPOA").val());

            // 4.2 Bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA", "5");

            // 4.3 Bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoPOA", "6");

            // 4.3.1  Bản gốc sẽ nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_Later", "7");

            // 4.3.2  Bản gốc đã nộp theo đơn số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_ByApp", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", $("#txt_6_Doc_BanGocPOA_ByApp").val());

            // 5. Bản sao chứng từ nộp phí, lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoChungTu", "9");

            // 6.Tài liệu khác, cụ thể:
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Other", "10");
            formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_6_Doc_Other").val());
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
