@using WebApps.Resources;
<div class="divCover cls_form_title">
    <img src="~/Content/icons/info.png" />
    <div class="cls_form_header">
       @Resource.TM3B_CamKetChuDon
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>@Resource.TM3B_KhaiTai:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="margin-left: 1px;width:250px" maxlength="200" id="txtKhaiTai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> @Resource.TM3B_NgayKhai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboNgayKhai" class="classNgayThangNam" style="width:50px">
                @for (int i = 1; i < 32; i++)
                {
                    if (i.ToString().PadLeft(2, '0') == DateTime.Now.ToString("dd"))
                    {
                        <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                    }
                    else
                    {
                        <option value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }

                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div> @Resource.TM3B_Thang: </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboThangKhai" class="classNgayThangNam" style="width:50px">
                @for (int i = 1; i < 13; i++)
                {
                    if (i.ToString().PadLeft(2, '0') == DateTime.Now.ToString("MM"))
                    {
                        <option selected="selected" value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }
                    else
                    {
                        <option value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }

                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div>@Resource.TM3B_Nam:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboNamKhai" class="classNgayThangNam">
                @for (int i = 2005; i < 2051; i++)
                {
                    if (i.ToString() == DateTime.Now.ToString("yyyy"))
                    {
                        <option selected="selected" value="@i.ToString()">@i.ToString()</option>
                    }
                    else
                    {
                        <option value="@i.ToString()">@i.ToString()</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<script>

    function funcGetCamKetChuDon(formData) {
        try {
            var address = $("#txtKhaiTai").val();
            formData.append("pInfo.Address", address);
            var dateno = $("#cboNgayKhai").val();
            formData.append("pInfo.DateNo", dateno);
            var months = $("#cboThangKhai").val();
            formData.append("pInfo.Months", months);
            var years = $("#cboNamKhai").val();
            formData.append("pInfo.Years", years);
        } catch (e) {
            console.log(e);
        }
    }

</script>