@model string
@{
    string[] arr = Model.Split(';');

    // định nghĩa id
    string _Lst_Fee_Id = arr[0];
    string[] arr_id = _Lst_Fee_Id.Split('|');

    string Id = arr_id[0];
    string Id_Checkbox = "ckb_" + Id;
    string Id_textbox = "txt_" + Id;
    string Id_textbox_SoTien = "txt_" + Id + "_SoTien";

    string Lable = arr_id[1];
}

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:450px">
            <input type="checkbox" name="@Id_Checkbox" id="@Id_Checkbox" onchange="return ShowHidenFee(this.id,'@Id_textbox','@Id_textbox_SoTien' )">
            <label>@Lable</label>
        </div>
    </div>

    <div class="div-search-title">
        <div>Số đối tượng tính:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="Số đối tượng tính phí" id="@Id_textbox" onkeyup = "jsFormatNumber(this.value, this.id)" disabled="disabled"/>
        </div>
    </div>

    <div class="div-search-title">
        <div>Số tiền:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="Số tiền" id="@Id_textbox_SoTien" onkeyup = "jsFormatNumber(this.value, this.id)"  disabled="disabled"/>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @*$("#" + @Id_textbox).prop('disabled', true);
        $("#" + @Id_textbox_SoTien).prop('disabled', true);*@
    });


    function ShowHidenFee(pID, pTextBox1, pTextBoxSoTien) {
        try {
            if ($("#" + pID).is(':checked')) {

                $("#" + pTextBox1).removeAttr("disabled");
                $("#" + pTextBoxSoTien).removeAttr("disabled");

                $("#" + pTextBox1).focus();
            }
            else {
                $("#" + pTextBox1).prop('disabled', true);
                $("#" + pTextBoxSoTien).prop('disabled', true);

                $("#" + pTextBox1).val('');
                $("#" + pTextBoxSoTien).val('');
            }
        } catch (e) {
            alert(e);
        }
    }
</script>