@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@{
    ViewBag.Title = "Request for amendment of application";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

@*<div class="d-nav-container">
        <ul class="ul-nav">
            <li><a href="javascript:;">TradeMark</a></li>
            <li><a href="javascript:;">  @Resource.TM3B_Formname</a></li>
        </ul>
    </div>*@
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            @*<img src="/Content/icons/Body-icon-home.png">@WebApps.Resources.Resource.lblNhanHieu <span class="red">&gt;</span>*@
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM3B_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> @Resource.TM3B_Legend</legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 3 - ĐƠN YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3B_FormHeader
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoDon <i class="redspan">(*)</i></div>
                <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                   data-title="@WebApps.Resources.Resource.DonCachNhauDauPhay"></a>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3B_SoDon" id="3_SoDon" onblur="onChangeAppNo()" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDonSangChe" value="1" onchange="return ShowHiden_SoHinhSoTrang()">
                    <label>@Resource.TM3B_DonDKSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdKieuDangCongNghiep" value="2" onchange="return ShowHiden_SoHinhSoTrang()">
                    <label>@Resource.TM3B_DonDKKieuDangCongNghiep</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad clssDisplaynone" id="divSoHinhSoTrang">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoHinh:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3B_SoHinh" id="txt_SoHinh" style="width:348px" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM2B_SoTrang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM2B_SoTrang" id="txt_SoTrang" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdMachTichHop" value="3" onchange="return ShowHiden_SoHinhSoTrang()">
                    <label>@Resource.TM3B_DonDKThietKeBotriMach</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdDKNhanHieu" value="4" onchange="return ShowHiden_SoHinhSoTrang()">
                    <label>@Resource.TM3B_DonDKNhanHieu</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="3_rdoYeuCauSuaDoi" id="3_rdChiDanDiaLy" value="5" onchange="return ShowHiden_SoHinhSoTrang()">
                    <label> @Resource.TM3B_DonDKChiDanDiaLy</label>
                </div>
            </div>
        </div>
        @* end 3 *@

        @* 4 - NỘI DUNG YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3B_NoiDungYCSuaDoi
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdTenChuDon" value="1">
                    <label>@Resource.TM3B_TenChuDon</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdDiaChiChuDon" value="2">
                    <label>@Resource.TM3B_DiaChiChuDon</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    @*style="width:382px"*@
                    <input type="radio" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdnoiDungKhac" value="3">
                    <label>@Resource.TM3B_NoiDungKhac</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title" style="height: 63px;">
                <div>@Resource.TM3B_DeNghiSuaThanh </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="4_DeNghiSuaThanh" placeholder="@Resource.TM3B_DeNghiSuaThanh" style="height:65px" />
                </div>
            </div>
        </div>

        @* end 4 *@

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>

        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        @* end 2 *@

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox" style="width:450px">
                    <input type="checkbox" name="ckb_6_Doc_ToKhai" id="ckb_6_Doc_ToKhai" value="01_SDD_01" checked="checked">
                    <label>@Resource.TM2B_ToKhaiGom</label>
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM2B_SoTrang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    @*style="width:329px"*@
                    <input type="text" placeholder="@Resource.TM2B_SoTrang" id="txt_6_Doc_ToKhai" />
                </div>
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialTaiLieuTrongDon_3B.cshtml", "ckb_6_Doc_ToKhai")

        @* 2. Tài liệu xác nhận *@
        @{
            string _doc_id2 = "01_SDD_02";
            string _model2 = _doc_id2 + "|6_Doc_TLXacNhan|0|" + Resource.TM3B_TaiLieuXacNhanThayDoi + "|" + Resource.TM3B_Tieng + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model2)
        }

        @* 3. Bản dịch tiếng Việt *@
        @{
            string _doc_id3 = "01_SDD_03";
            string _model3 = _doc_id3 + "|6_Doc_BDichTv|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model3)
        }

        @* 3.1. Tài liệu chứng minh sự thay đổi chủ đơn do thừa kế, kế thừa  *@
        @{
            string _doc_id12 = "01_SDD_12";
            string _model12 = _doc_id12 + "|6_Doc_ThuaKe|0|" + Resource.TaiLieuThuaKe + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model12)
        }

        @* 4. Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id4 = "01_SDD_04";
            string _model4 = _doc_id4 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model4)
        }

        @* 4.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id5 = "01_SDD_05";
            string _model5 = _doc_id5 + "|6_Doc_BanDichPOA|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model5)
        }

        @* 4.2 Bản gốc *@
        @{
            string _doc_id6 = "01_SDD_06";
            string _model6 = _doc_id6 + "|6_Doc_BanGocPOA|1|" + Resource.TM2B_BanGoc + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model6)
        }

        @* 4.3 Bản sao *@
        @{
            string _doc_id7 = "01_SDD_07";
            string _model7 = _doc_id7 + "|6_Doc_BanSaoPOA|1|" + Resource.TM2B_BanSao + "||0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model7)
        }


        @* 4.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id8 = "01_SDD_08";
            string _model8 = _doc_id8 + "|6_Doc_BanGocPOA_Later|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model8)
        }

        @* 4.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id9 = "01_SDD_09";
            string _model9 = _doc_id9 + "|6_Doc_BanGocPOA_ByApp|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model9)
        }

        @* 5. Bản sao chứng từ nộp phí *@
        @{
            string _doc_id10 = "01_SDD_10";
            string _model10 = _doc_id10 + "|6_Doc_BanSaoChungTu|0|" + Resource.TM3B_BanSaoChungTuNopPhi + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model10)
        }

        @* 6. Khác *@
        @{
            string _doc_id11 = "01_SDD_11";
            string _model11 = _doc_id11 + "|6_Doc_Other|0|" + Resource.TM3B_TaiLieuKhac + "|" + Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model11)
        }

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>
    $(document).ready(function () {
        //$.datetimepicker.setLocale('vi');
        //$('.datetimepicker').datetimepicker({
        //    timepicker: false,
        //    format: 'd/m/Y',
        //    formatDate: 'd/m/Y',
        //    mask: '39/19/9999',
        //    validateOnBlur: false,
        //    scrollInput: false
        //});
        $("#0_txtCase_Name").focus();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });

        // nếu có appno
        if ('@_App_No' != "")
        {
            $("#3_SoDon").val('@_App_No');
            onChangeAppNo();
        }
    });

    function onChangeAppNo() {
        try {
            var _AppNo = $("#3_SoDon").val();
            if (_AppNo != "") {

                $.ajax({
                    type: 'POST',
                    url: '/trade-mark-3b/getMasterByAppNo/',
                    data: {
                        p_appNo: _AppNo,
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        $("#div_PartialThongTinChuDon").html(data.PartialThongTinChuDon);
                        //$("#div_PartialThongTinDaiDienChuDon").html(data.PartialThongTinDaiDienChuDon);
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_SoHinhSoTrang() {
        try {
            if ($("#3_rdDonSangChe").is(':checked') || $("#3_rdKieuDangCongNghiep ").is(':checked')) {
                $("#divSoHinhSoTrang").removeClass("clssDisplaynone");
                $("#txt_SoHinh").focus();
            }
            else {
                $("#divSoHinhSoTrang").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }


    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                //Thông tin chủ đơn
                var formData = new FormData();


                var reponse = getNation_Represent(formData);
                if (reponse == false) {
                    return false;
                }

                var reponse = funcThongTinNhapHo(formData);
                if (reponse == false) {
                    return false;
                }

                var reponse = funcThongTinCaseName(formData, "0");
                if (reponse == false) {
                    return false;
                }

                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }

                formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin)');
                var v_AppCode = $("#txtAppCode").val();
                if (v_AppCode === "") {
                    $('#txtAppCode').focus().val('');
                    showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                    return false;
                }

                // đại diện chủ đơn
                formData.append("pInfo.Appcode", v_AppCode);
                if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                    return false;
                }
                var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
                formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

                
                //Lấy thông tin detail
                reponse = funcGetAppDetail(formData, 2);
                if (reponse == false) {
                    return false;
                }

                //Lấy thông tin tài liệu có trong đơn
                reponse = funGetDocumentFile(formData);
                if (reponse == false) {
                    return false;
                }

                reponse = funcGetCamKetChuDon(formData);
                if (reponse == false) {
                    return false;
                }

                $.ajax({
                    url: '/trade-mark-3b/register_PLB_01_SDD',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    async: true,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data != null && data.status >= 0) {
                            jAlert('@Html.Raw(Resource.GuiDonThanhCong)', "@Html.Raw(Resource.TM3C_ThongBao)", function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });

            });

        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                //Thông tin chủ đơn
                var formData = new FormData();
                var reponse = funcThongTinNhapHo(formData);
                if (reponse == false) {
                    return false;
                }

                var reponse = funcThongTinCaseName(formData, "0");
                if (reponse == false) {
                    return false;
                }

                if (funcThongTinChuDon_SaveTem(formData, "1") != true) {
                    return false;
                }

                formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.Luu_tam)');

                var v_AppCode = $("#txtAppCode").val();
                if (v_AppCode === "") {
                    $('#txtAppCode').focus().val('');
                    showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                    return false;
                }

                // đại diện chủ đơn
                formData.append("pInfo.Appcode", v_AppCode);
                if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                    return false;
                }
                var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                }
                formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

                //Lấy thông tin detail
                reponse = funcGetAppDetail(formData, 1);
                if (reponse == false) {
                    return false;
                }

                //Lấy thông tin tài liệu có trong đơn
                reponse = funGetDocumentFile(formData);
                if (reponse == false) {
                    return false;
                }

                reponse = funcGetCamKetChuDon(formData);
                if (reponse == false) {
                    return false;
                }

                $.ajax({
                    url: '/trade-mark-3b/register_PLB_01_SDD',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    async: true,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data != null && data.status >= 0) {
                            jAlert('@Html.Raw(Resource.TM3B_LuuTamThanhCong)', "@Html.Raw(Resource.TM3C_ThongBao)", function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError("@Resource.TM3B_LuuTamLoi");
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });

            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    function funcGetAppDetail(formData, pType) {
        try {
            var _YeuCauSuaDoi = $("input[name='3_rdoYeuCauSuaDoi']:checked").val();
            if ((_YeuCauSuaDoi === "" || _YeuCauSuaDoi == undefined) && pType == 2) {
                jError("@Html.Raw(Resource.TM3B_GiaTriDonYCSuaDoi)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#3_rdDonSangChe").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_Change_Type", parseInt(_YeuCauSuaDoi));

            var _soHinh = 0;
            var _soTrang = 0;
            if ($("#3_rdDonSangChe").is(':checked') || $("#3_rdKieuDangCongNghiep ").is(':checked')) {
                _soHinh = $("#txt_SoHinh").val();
                _soTrang = $("#txt_SoTrang").val();

                if (_soHinh == "" || _soTrang == "") {

                    if (_soHinh == "" && pType == 2) {
                        jError("@Html.Raw(Resource.TM3B_SoHinhKhongDuocDeTrong)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                            $("#txt_SoHinh").focus()
                        });
                        return false;
                    }

                    if (_soTrang == "" && pType == 2) {
                        jError("@Html.Raw(Resource.TM3B_SoTrangKhongDuocDeTrong)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                            $("#txt_SoTrang").focus()
                        });
                        return false;
                    }
                }
            }
            formData.append("pDetail.Number_Pic", parseInt(_soHinh));
            formData.append("pDetail.Number_Page", parseInt(_soTrang));

            var txtMADDSHCN = $("#txtMADDSHCN").val();
            formData.append("pInfo.Customer_Code", txtMADDSHCN);

            // số đơn
            var _3_SoDon = $("#3_SoDon").val();
            if ((_3_SoDon === "" || _3_SoDon == undefined)&& pType == 2) {
                jError("@Html.Raw(Resource.TM3B_SoDonKhongDuocDeTrong)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#3_SoDon").focus()
                });
                return false;
            }
            formData.append("pDetail.App_No_Change", _3_SoDon);

            // Nội dung yêu cầu sửa đổi
            var _Request_To_Type = $("input[name='4_rdoNoiDungYeuCauSuaDoi']:checked").val();
            if ((_Request_To_Type === "" || _Request_To_Type == undefined) && pType == 2) {
                jError("@Html.Raw(Resource.TM3B_ChonNoiDungYCSuaDoi)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#4_rdTenChuDon").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_To_Type", parseInt(_Request_To_Type));

            // đề nghị sửa thành
            var _4_DeNghiSuaThanh = $("#4_DeNghiSuaThanh").val();
            if ((_4_DeNghiSuaThanh === "" || _4_DeNghiSuaThanh == undefined) && pType == 2) {
                jError("@Html.Raw(Resource.TM3B_DeNghiSuaThanhTrong)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#4_DeNghiSuaThanh").focus()
                });
                return false;
            }
            formData.append("pDetail.Request_To_Content", _4_DeNghiSuaThanh);
        } catch (e) {
            console.log(e);
            showError("@Html.Raw(Resource.TM3B_InternetError)");
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1. Tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_6_Doc_ToKhai").val());

            // 2. Tài liệu xác nhận
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_TLXacNhan", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_Doc_TLXacNhan").val());

            // 3. Bản dịch tiếng Việt
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BDichTv", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_6_Doc_BDichTv").val());

            // 4. Giấy uỷ quyền bằng tiếng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_POA", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_6_Doc_POA").val());

            // 4.1 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichPOA", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_6_Doc_BanDichPOA").val());

            // 4.2 Bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA", "5");

            // 4.3 Bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoPOA", "6");

            // 4.3.1  Bản gốc sẽ nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_Later", "7");

            // 4.3.2  Bản gốc đã nộp theo đơn số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_ByApp", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", $("#txt_6_Doc_BanGocPOA_ByApp").val());

            // 5. Bản sao chứng từ nộp phí, lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoChungTu", "9");

            // 6.Tài liệu khác, cụ thể:
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Other", "10");
            formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_6_Doc_Other").val());

            // 12 Tài liệu chứng minh sự thay đổi chủ đơn do thừa kế, kế thừa
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ThuaKe", "11");
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
