@model string
@{
    string[] arr = Model.Split(';');

    // định nghĩa id
    string _Lst_Fee_Id = arr[0];
    string[] arr_id = _Lst_Fee_Id.Split('|');

    string Id = arr_id[0];
    string divCheckbox = "divCheckbox_" + Id;
    string Id_Checkbox = "ckb_" + Id;
    string Id_textbox = "txt_" + Id;
    string Id_textbox_SoTien = "txt_" + Id + "_SoTien";
    string Lable = arr_id[1];

    string _IsShowMoney = "1";
    if (arr_id.Length > 2)
    {
        _IsShowMoney = arr_id[2];
    }

    // value
    string _Value = arr[1];
    string[] arr_value = _Value.Split('|');
    string Isuse = arr_value[0].Trim();
    string Object = arr_value[1];
    string Amount = arr_value[2];

    string styleCheck = "", styledisabled = "";
    if (Isuse == "1")
    {
        styleCheck = "checked='checked'";
    }
    else
    {
        styledisabled = "disabled='disabled'";
    }
}
@using WebApps.Resources;
<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" id="@divCheckbox" style="width:450px">
            <input @styleCheck type="checkbox" name="@Id_Checkbox" id="@Id_Checkbox">
            <label>@Lable</label>
        </div>
    </div>

    @if (_IsShowMoney == "1")
    {
        <div class="div-search-title">
            <div>@Resource.TM3B_SoDoiTuongTinhPhi:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="@Resource.TM3B_SoDoiTuongTinhPhi" id="@Id_textbox" @styledisabled value="@Object" />
            </div>
        </div>

        <div class="div-search-title">
            <div>@Resource.TM3B_SoTien:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="@Resource.TM3B_SoTien" id="@Id_textbox_SoTien" @styledisabled value="@Amount" />
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
         if (@_IsShowMoney == "0") {
            var _divCheckbox = document.getElementById('@divCheckbox');
            _divCheckbox.style.width = null;
        }
    });


    function ShowHidenFee(pID, pTextBox1, pTextBoxSoTien) {
        try {
            if ($("#" + pID).is(':checked')) {

                $("#" + pTextBox1).removeAttr("disabled");
                $("#" + pTextBoxSoTien).removeAttr("disabled");

                $("#" + pTextBox1).focus();
            }
            else {
                $("#" + pTextBox1).prop('disabled', true);
                $("#" + pTextBoxSoTien).prop('disabled', true);

                $("#" + pTextBox1).val('');
                $("#" + pTextBoxSoTien).val('');
            }
        } catch (e) {
            alert(e);
        }
    }
</script>