@model string
@{
    string[] arr = Model.Split(';');

    // định nghĩa id
    string _Doc_Id = arr[0];
    string[] arr_id = _Doc_Id.Split('|');

    string Document_Id = arr_id[0];
    string divCheckbox = "divCheckbox_" + Document_Id;

    string Id = arr_id[1];
    string Id_Checkbox = "ckb_" + Id;
    string LevelTextbox = arr_id[2];

    string Lable = arr_id[3];

    string Lable2 = arr_id[4];
    string Id_textbox = "txt_" + Id;

    string IsUpload = arr_id[5];
    string _width = "";
    if (arr_id.Length >= 7)
    {
        _width = arr_id[6] + "px";
    }

    string hrefPOA = "/Content/POA/VNmese translation POA (Blank).doc";
}

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" id="@divCheckbox" style="width:450px">
            @if (LevelTextbox == "1")
            {
                @Html.Raw("&emsp;&emsp;&emsp;")
            }
            else if (LevelTextbox == "2")
            {
                @Html.Raw("&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;")
            }
            <input type="checkbox" name="@Id_Checkbox" id="@Id_Checkbox" value="@Document_Id" onchange="return ShowHidenUpLoad(this.id,this.id, '@Id_textbox')">

            @if (Id == "6_Doc_BanGocPOA_ByApp")
            {
                <label>@Lable <a href="javascript:;" st class="icon icon-info" style="border:none" data-title="Nếu Người nộp đơn không nhớ số đơn gốc thì có thể để trống, Luật sư sẽ điền thay sau"></a></label>
            }
            else
            {
                <label>@Lable</label>
            }

            @if (Id == "6_Doc_POA")
            {
                <a style="margin-top: -3px; border: none;padding-left: 20px;color: blue;" href="@hrefPOA" target="_blank">Tải mẫu về <i class="fas fa-download" style="color: blue; font-size: 20px;"></i> </a>
            }
        </div>
    </div>

    @if (Lable2 != "")
    {
        <div class="div-search-title">
            <div>@Lable2:</div>
        </div>
        <div class="div-search-content">
            <div>
                @*style="width:329px"*@
                <input type="text" placeholder="@Lable2" id="@Id_textbox" disabled="disabled" />
            </div>
        </div>
    }

</div>
@if (IsUpload == "1")
{
    @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialTaiLieuTrongDon_3B.cshtml", @Id_Checkbox)
}

<script>
    $(document).ready(function () {
        if ('@Lable2' == "") {
            var _divCheckbox = document.getElementById('@divCheckbox');
            //_divCheckbox.style.width = "850px";
            _divCheckbox.style.width = null;
        }

        if ('@_width' != "") {
            var _divCheckbox = document.getElementById('@divCheckbox');
            _divCheckbox.style.width = '@_width';
        }
    });


    function ShowHidenUpLoad(pID, pClass, pTxt) {
        try {
            if ($("#" + pID).is(':checked')) {
                $("#div_up_" + pClass).removeClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).removeAttr("disabled");
                }
            }
            else {
                $("#div_up_" + pClass).addClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).prop('disabled', true);
                }
            }
        } catch (e) {
            alert(e);
        }
    }
</script>