@using ObjectInfos
@{
    ViewBag.Title = "Tờ khai";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<App_Class_Info> _list = new List<App_Class_Info>();
    if (ViewBag.ListAppClass != null)
    {
        _list = ViewBag.ListAppClass;
    }
}
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>



<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend> YÊU CẦU ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU CÓ NGUỒN GỐC VIỆT NAM </legend>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
               THÔNG TIN CƠ BẢN
            </div>
        </div>
        
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND" id="_01_rdnghidinh_madrid" placeholder="_01_rdnghidinh_madrid" />
                    <label>chỉ là Thành viên Nghị định thư Madrid</label> 
                </div>
            </div>
        
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND_TU" id="_01_rdnghidinh_thoa_uoc_madrid" placeholder="_01_rdnghidinh_thoa_uoc_madrid" />
                    <label>vừa là Thành viên Thoả ước Madrid, vừa là Thành viên Nghị định thư Madrid </label>
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                1.NHÃN HIỆU QUỐC TẾ
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div style="width:180px ;height:180px" id="divLogo">
                    <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                </div>
            </div>
        </div>




        @*<div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold"></div>
            <div class="class_full_div_input">
                <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:180px ;height:180px" id="divLogo">
                        <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:50px">
                        <div class="file-upload btn btn-primary" style="margin-top:86px">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="_01_rad_DonDkOrGiayDK" value="DonDK" id="_01_rad_DonDK" placeholder=" rad_DonDK" />
                    <label>Đơn đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="_01_rad_DonDkOrGiayDK" value="GiayDK" id="_01_rad_GiayDK" placeholder="01_rad_GiayDK" />
                    <label>Giấy chứng nhận đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Số đơn/Số GCN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="_1_txtSoDon" placeholder="_1_txtSoDon" maxlength="100" />
                </div>
            </div>

            <div class="div-search-title">
                <div  style="width:350px">Ngày nộp đơn/Ngày cấp CGN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" class="datepicker" id="_1_txtNgayNopDon" placeholder="_1_txtNgayNopDon" maxlength="10" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Chủ đơn</div>
            </div>
            <div class="div-search-content">
                <div style="width:250px">
                    <input type="text" id="_1_txtChuDon" placeholder="_1_txtChuDon" maxlength="100" />
                </div>
            </div>

            <div class="div-search-title">
                <div>Địa chỉ chủ đơn</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="_1_txtDiaChiChuDon" placeholder="_1_txtDiaChiChuDon" maxlength="10" />
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:150px">Nhóm hàng hóa dịch vụ</div>
            </div>
            <div class="div-search-content">
                <div style="width:150px">
                    <input type="text" id="Nvs001txt_search_app_code" placeholder="Tìm kiếm hàng hóa/dịch vụ" onkeyup="SearchAppCodeOnKeyUp('Nvs001txt_search_app_code', 'NVS002_DivShowSearchAppCode')" />
                </div>
            </div>
         
            <div class="div-search-content">
                <div  id="NVS002_DivShowSearchAppCode">
                    <select id="NVSCBO001_AppClassSearch" style="width:100%">
                        <option>Tìm kiếm hàng hóa/dịch vụ</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:250px"> Chủ đơn/Chủ GCN (tên, địa chỉ)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="_1_txtTenChuDon" placeholder="_1_txtTenChuDon" maxlength="200" />
                </div>
            </div>
        </div>

 

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                2.CHỦ ĐƠN
            </div>
        </div>
 
          @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "_1")
        
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                3.DẠI DIỆN CỦA CHỦ ĐƠN
            </div>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "_2")

       
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                4.TÊN VÀ MÃ NƯỚC CHỈ ĐỊNH ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU
            </div>
        </div>

           
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialDanhSachQuocGiaDKQTNH.cshtml")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                5.PHÍ, LỆ PHÍ
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:450px"> Phí dịch vụ làm thủ tục đăng ký quốc tế nhãn hiệu đã nộp kèm theo: </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="_5_txtLePhiDangKy" maxlength="20" id="_5_txtLePhiDangKy" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)"  value="2000000" />
                </div>
            </div>
        </div>

     

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                6.CÁC TÀI LIỆU CÓ TRONG ĐƠN
            </div>
        </div>


            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
        <div class="classLuuTam">
            <a href="javascript:;" id="hrfExportData">Kết xuất</a>
        </div>
    </fieldset>
</div>




<script>


  
    $(document).ready(function () {
        $('#NVSCBO001_AppClassSearch').multipleSelect({
            filter: true,
            single: true,
            isdatastring: false,
            maxHeight: 150,
            placeholder: "-- Tìm kiếm hàng hóa/dịch vụ --"
        });

    });

    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        filePreview(this, 'imgMauNhanHieu');
    };

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }

    // khai báo luôn các biến controll toàn cục để dùng cho tiện
    var formData = new FormData();
    var v_AppCode = $("#txtAppCode").val();
    var _1_txtSoDon = $("#_1_txtSoDon");
    var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
    var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
    var _01_rad_DonDkOrGiayDK = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
    var NVSCBO001_AppClassSearch = $("#NVSCBO001_AppClassSearch");



    //


    $("#btnGuiDon").click(function () {
        try {
            //Thông tin chủ đơn
 
            if (v_thanhviennghidinh === "" || v_thanhviennghidinh == undefined) {
                showError('Phải chọn ít nhất 1 giá trị loại thành viên!');
                $("#_01_rdnghidinh_madrid").focus();
                return false;
            }
           
            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined) {
              //  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }
         
            if (_01_rad_DonDkOrGiayDK === "" || _01_rad_DonDkOrGiayDK == undefined) {
                showError('Phải chọn ít nhất 1 loại giấy đăng kỹ nhãn hiệu cơ sở!');
                $("#_01_rad_DonDK").focus();
                return false;
            }                  
            
            if (_1_txtSoDon.val().trim() == "")
            {
                showError('Chưa chọn số đơn!');
                _1_txtSoDon.focus();
                return false;
            }
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            if (_1_txtNgayNopDon.val() == "" || _1_txtNgayNopDon.val() == "__/__/____")
            {
                showError('Ngày nộp đơn không được phép để trống!');
                _1_txtNgayNopDon.focus();
                return false;
            }
           
            if (NVSCBO001_AppClassSearch.val() == "" || NVSCBO001_AppClassSearch.val() == undefined) {
                showError('Chưa chọn nhóm hàng hóa dịch vụ!');
                $("#Nvs001txt_search_app_code").focus();
                return false;
            }

            if (funcThongTinChuDonNguoiDaiDien(formData, "_1") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType == "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                $("#_2_rdoNguoiDaiDienPL").focus();
                return false;
            }
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }
             
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }
           
     

            // danh sach quoc gia
            var _listNational = $("#_4_cboNational01").val() + "," + $("#_4_cboNational02").val() + "," + $("#_4_cboNational03").val() + "," + $("#_4_cboNational04").val()
                + "," + $("#_4_cboNational05").val() + "," + $("#_4_cboNational06").val() + "," + $("#_4_cboNational07").val() + "," + $("#_4_cboNational08").val();
            _listNational = _listNational.replace(/null/g, '');
            if (_listNational.replace(/,/g, '') == "")
            {
                  showError('Phải chọn ít nhất 1 nước chỉ định đăng ký nhãn hiệu!');
                  return false;
            }
            var _arrayNational = _listNational.split(",");
            _arrayNational = RepushArray(_arrayNational);
            if (CheckArrDuplicate(_arrayNational) == true)
            {
                showError('Có ít nhất 2 lựa chọn mã nước trùng nhau, vui lòng kiểm tra lại!');
                $("#_4_cboNational01").focus();
                return false;
            }
            var _5_txtLePhiDangKy = $("#_5_txtLePhiDangKy");
            if (_5_txtLePhiDangKy.trim() == "") {
                showError('Lệ phí đăng ký không được để trống!');
                _5_txtLePhiDangKy.focus();
                return false;
            }


            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            //trang thai
            formData.append("pInfo.Status", 2);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }
            // thông tin chủ đơn
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_1")
            if (reponse == false) {
                return false;
            }
            // thông tin người đại diện
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_2")
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }
            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }
            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            $.ajax({
                url: '/trade-mark/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(AddSuccess, ThongBao, function () {
                            window.location.reload();
                        });
                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }

    });

    // lấy thông tin chi tiết đơn
    function funcGetAppDetail(formData)
    {
        try {
            var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
            formdata.append("pDetail.THANHVIEN_ND_TC", v_thanhviennghidinh);

            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined) {
                  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }
            var v_don_giaydknhcs = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            formdata.append("pDetail.DON_GIAY_DKNHCS", v_don_giaydknhcs);
            formdata.append("pDetail.REF_APPNO", _1_txtSoDon.val());
            formdata.append("pDetail.NGAYNOPDON", _1_txtNgayNopDon.val());
            formdata.append("pDetail.APPCLASS_ID", NVSCBO001_AppClassSearch.val());
            // lấy thông tin chủ đơn

        } catch (e) {
            alert(e.toString());
        }
    }
    
    //Lấy thông tin chủ đơn add vào formData
    function funcThongTinChuDonNguoiDaiDien(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu").focus().val('');
                showError('Tên không được để trống!');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi").focus().val('');
                showError('Địa chỉ không được để trống!');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('Email không đúng định dạng!');
                    return false;
                }
            }
            //Chủ đơn
            if (PreID == "_1") {
                formData.append("pInfo.Master_Name", txtTenDayDu);
                formData.append("pInfo.Master_Address", txtDiaChi);
                formData.append("pInfo.Master_Phone", txtDienThoai);
                formData.append("pInfo.Master_Fax", txtFax);
                formData.append("pInfo.Master_Email", txtEmail);
            } else if (PreID == "_2") { //Người đại diện
                formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
                formData.append("pInfo.Rep_Master_Address", txtDiaChi);
                formData.append("pInfo.Rep_Master_Phone", txtDienThoai);
                formData.append("pInfo.Rep_Master_Fax", txtFax);
                formData.append("pInfo.Rep_Master_Email", txtEmail);
                //Detail
            } else if (PreID == "_9") {
                formData.append("pDetail.Cdk_Name_1", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_1", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_1", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_1", txtFax);
                formData.append("pDetail.Cdk_Email_1", txtEmail);
            }
            return true;
        } catch (e) {
            return false;
        }
    }


    function funGetThongTinFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            //Các tài liệu có trong đơn
            reponse = funcGetCheckValueAndText(formData, "_6_rdoToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#_6_txtToKhaiTrang").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#_6_txtToKhaiBan").val());
            //
            reponse = funcGetCheckValueAndText(formData, "_6_rdoMauDKVPQuocTe", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#_6_txtMauDKVPQuocTe").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#_6_cboNgonNguMauDangKy").val());
            formData.append("pAppDocumentInfo[1].CHAR03", $("#_6_txtnumberpage").val());
            formData.append("pAppDocumentInfo[1].CHAR04", $("#_6_txtnumberCopy").val());
            //
            reponse = funcGetCheckValueAndText(formData, "_6_rdoMauNhanHieu", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#_6_txtSoLuongMauNH").val());

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanSaoToKhai", "3");

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanSaoGiayChungNhanDKNHCS", "4");

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanCamketSDNDBaoHo", "5");

            reponse = funcGetCheckValueAndText(formData, "_6_rdoGiayUyQuyenBangTieng", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#_6_cboNgonNguGiayUyQuyen").val());

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanDichTiengViet", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#_6_txtSoLuongBanDichTiengViet").val());

   

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanGoc", "8");

            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanSao", "9");
           
            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanGocSeNopSau", "10");

            // 11 6_rdoTLThuHuongNK
            reponse = funcGetCheckValueAndText(formData, "_6_rdoBanGocDaNopTheoDonSo", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#_6_txtbanGocNopTheoDonSo").val());

        } catch (e) {
            console.log(e);
        }
    }


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }

    //kiểm tra xem trong mảng có thằng nào trùng nhau không
    function CheckArrDuplicate(values) {
        var valueArr = values.map(function (item) { return item });
        var isDuplicate = valueArr.some(function (item, idx) {
            return valueArr.indexOf(item) != idx
        });
        return isDuplicate;
    }

    /// xóa những bản ghi trống
    function RepushArray(_array)
    {
       var index = _array.length - 1;
        while (index >= 0) {
            if (_array[index] === '') {
                _array.splice(index, 1);
            }
            index -= 1;
        }
        return _array;

    }

</script>
