@using ObjectInfos
@{
    ViewBag.Title = "Tờ khai";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<App_Class_Info> _list = new List<App_Class_Info>();
    if (ViewBag.ListAppClass != null)
    {
        _list = ViewBag.ListAppClass;
    }
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend> YÊU CẦU ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU CÓ NGUỒN GỐC VIỆT NAM </legend>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
               THÔNG TIN CƠ BẢN
            </div>
        </div>
        
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND" id="01_rdnghidinh_madrid" placeholder="01_rdnghidinh_madrid" />
                    <label>chỉ là Thành viên Nghị định thư Madrid</label> 
                </div>
            </div>
        
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND_TU" id="01_rdnghidinh_thoa_uoc_madrid" placeholder="01_rdnghidinh_thoa_uoc_madrid" />
                    <label>vừa là Thành viên Thoả ước Madrid, vừa là Thành viên Nghị định thư Madrid </label>
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                1.NHÃN HIỆU QUỐC TẾ
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div style="width:180px ;height:180px" id="divLogo">
                    <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                </div>
            </div>
        </div>




        @*<div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold"></div>
            <div class="class_full_div_input">
                <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:180px ;height:180px" id="divLogo">
                        <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:50px">
                        <div class="file-upload btn btn-primary" style="margin-top:86px">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="01_rad_DonDkOrGiayDK" value="DonDK" id="01_rad_DonDK placeholder=" rad_DonDK" />
                    <label>Đơn đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="01_rad_DonDkOrGiayDK" value="GiayDK" id="01_rad_GiayDK" placeholder="01_rad_GiayDK" />
                    <label>Giấy chứng nhận đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Số đơn/Số GCN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="1_txtSoDon" placeholder="1_txtSoDon" maxlength="100" />
                </div>
            </div>

            <div class="div-search-title">
                <div  style="width:350px">Ngày nộp đơn/Ngày cấp CGN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="1_txtNgayNopDon" placeholder="1_txtNgayNopDon" maxlength="10" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Chủ đơn</div>
            </div>
            <div class="div-search-content">
                <div style="width:250px">
                    <input type="text" id="1_txtChuDon" placeholder="1_txtChuDon" maxlength="100" />
                </div>
            </div>

            <div class="div-search-title">
                <div>Địa chỉ chủ đơn</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="1_txtDiaChiChuDon" placeholder="1_txtDiaChiChuDon" maxlength="10" />
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:150px">Nhóm hàng hóa dịch vụ</div>
            </div>
            <div class="div-search-content">
                <div style="width:150px">
                    <input type="text" id="Nvs001txt_search_app_code" placeholder="Tìm kiếm hàng hóa/dịch vụ" onkeyup="SearchAppCodeOnKeyUp('Nvs001txt_search_app_code', 'NVS002_DivShowSearchAppCode')" />
                </div>
            </div>
         
            <div class="div-search-content">
                <div  id="NVS002_DivShowSearchAppCode">
                    <select id="NVSCBO001_AppClassSearch">
                        <option>Tìm kiếm hàng hóa/dịch vụ</option>
                    </select>
                 <input type="button" id="btnAddClassId" value="Thêm" class="btn"/>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:250px"> Chủ đơn/Chủ GCN (tên, địa chỉ)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="1_txtTenChuDon" placeholder="1_txtTenChuDon" maxlength="200" />
                </div>
            </div>
        </div>

 

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                2.CHỦ ĐƠN
            </div>
        </div>
 
          @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThonTinChuDon.cshtml")
        
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                3.DẠI DIỆN CỦA CHỦ ĐƠN
            </div>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml")

       
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                4.TÊN VÀ MÃ NƯỚC CHỈ ĐỊNH ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU
            </div>
        </div>

        <div class="div_full_100_area">
           
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialDanhSachQuocGiaDKQTNH.cshtml")
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                5.PHÍ, LỆ PHÍ
            </div>
        </div>

        <div class="div_full_100_area">
             
            <div class="class_full_div_input">
                <div class="class_block_title"> <label>Phí dịch vụ làm thủ tục đăng ký quốc tế nhãn hiệu đã nộp kèm theo:</label></div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="5_txtLePhiDangKy" maxlength="20" id="5_txtLePhiDangKy" value="2000000" />
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                6.CÁC TÀI LIỆU CÓ TRONG ĐƠN
            </div>
        </div>


        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDon.cshtml")
        </div>

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
        <div class="classLuuTam">
            <a href="javascript:;" id="hrfExportData">Kết xuất</a>
        </div>
    </fieldset>
</div>




<script>

  
   

    $(document).ready(function () {

        $('#1_selectNhomHangHoaDichVu').multipleSelect({
            filter: true,
            single: true,
            isdatastring: false,
            maxHeight: 150,
            width:200,
            placeholder: "-- Tìm kiếm hàng hóa/dịch vụ --"
        });

    });

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {

        }
    }

    document.getElementById("pfile_6_rdoToKhai").onchange = function () {
        document.getElementById("txt_6_rdoToKhai").value = this.value;
    };

    document.getElementById("pfile_6_rdoTaiLieu").onchange = function () {
        document.getElementById("txt_6_rdoTaiLieu").value = this.value;
    };

    document.getElementById("pfile_6_rdoBanDich").onchange = function () {
        document.getElementById("txt_6_rdoBanDich").value = this.value;
    };

    document.getElementById("pfile_6_rdoGiayUyQuyen").onchange = function () {
        document.getElementById("txt_6_rdoGiayUyQuyen").value = this.value;
    };


    document.getElementById("pfile_6_rdoBanDichTiengViet").onchange = function () {
        document.getElementById("txt_6_rdoBanDichTiengViet").value = this.value;
    };

    document.getElementById("pfile_6_rdoBanGoc").onchange = function () {
        document.getElementById("txt_6_rdoBanGoc").value = this.value;
    };


    document.getElementById("pfile_6_rdoBanSao").onchange = function () {
        document.getElementById("txt_6_rdoBanSao").value = this.value;
    };

    document.getElementById("pfile_6_rdoChungTuPhi").onchange = function () {
        document.getElementById("txt_6_rdoChungTuPhi").value = this.value;
    };

    document.getElementById("pfile_6_rdoTaiLieuKhacCuThe").onchange = function () {
        document.getElementById("txt_6_rdoTaiLieuKhacCuThe").value = this.value;
    };

    function funcPushFileToServer(pID) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", pID);
            var file = document.getElementsByName("pfile_" + pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/trade-mark/push-file-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                            $("#i_" + pID).css("display", "inline-block");
                    } else {
                        jError(pushfileError, ThongBao, function () {
                        });
                    }
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function funcPushAppDocAttach(formData) {
        try {

            var Isuse = 0, Note = "" ;
            //Các tài liệu có trong đơn
            if ($("#6_rdoToKhai").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[0].keyFileUpload", "6_rdoToKhai");
            formData.append("pAppDocumentInfo[0].Document_Id", $("#6_rdoToKhai").val());
            formData.append("pAppDocumentInfo[0].Isuse", Isuse);
            formData.append("pAppDocumentInfo[0].Note", $("#6_txtToKhaiTrang").val());

            //2
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoTaiLieu").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[1].keyFileUpload", "6_rdoTaiLieu");
            formData.append("pAppDocumentInfo[1].Document_Id", $("#6_rdoTaiLieu").val());
            formData.append("pAppDocumentInfo[1].Isuse", Isuse);
            formData.append("pAppDocumentInfo[1].Note", $("#6_txtTLXNBangTieng").val());

            //3
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanDich").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[2].keyFileUpload", "6_rdoBanDich");
            formData.append("pAppDocumentInfo[2].Document_Id", $("#6_rdoBanDich").val());
            formData.append("pAppDocumentInfo[2].Isuse", Isuse);
            formData.append("pAppDocumentInfo[2].Note", $("#6_txtBanDichTiengViet").val());

            //4
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoGiayUyQuyen").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[3].keyFileUpload","6_rdoGiayUyQuyen");
            formData.append("pAppDocumentInfo[3].Document_Id", $("#6_rdoGiayUyQuyen").val());
            formData.append("pAppDocumentInfo[3].Isuse", Isuse);
            formData.append("pAppDocumentInfo[3].Note", $("#6_txtGiayUQTiengViet").val());

            //5
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanDichTiengViet").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[4].keyFileUpload", "6_rdoBanDichTiengViet");
            formData.append("pAppDocumentInfo[4].Document_Id", $("#6_rdoBanDichTiengViet").val());
            formData.append("pAppDocumentInfo[4].Isuse", Isuse);
            formData.append("pAppDocumentInfo[4].Note", $("#6_txtBDTVGom").val());

            //5
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGoc").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[5].keyFileUpload", "6_rdoBanGoc");
            formData.append("pAppDocumentInfo[5].Document_Id", $("#6_rdoBanGoc").val());
            formData.append("pAppDocumentInfo[5].Isuse", Isuse);
            formData.append("pAppDocumentInfo[5].Note", "");

            //6
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanSao").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[6].keyFileUpload", "6_rdoBanSao");
            formData.append("pAppDocumentInfo[6].Document_Id", $("#6_rdoBanSao").val());
            formData.append("pAppDocumentInfo[6].Isuse", Isuse);
            formData.append("pAppDocumentInfo[6].Note", "");

            //7
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGocSeNopSau").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[7].keyFileUpload", "6_rdoBanGocSeNopSau");
            formData.append("pAppDocumentInfo[7].Document_Id", $("#6_rdoBanGocSeNopSau").val());
            formData.append("pAppDocumentInfo[7].Isuse", Isuse);
            formData.append("pAppDocumentInfo[7].Note", "");
            //8
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGocDaNopTheoDonSo").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[8].keyFileUpload", "6_rdoBanGocDaNopTheoDonSo");
            formData.append("pAppDocumentInfo[8].Document_Id", $("#6_rdoBanGocDaNopTheoDonSo").val());
            formData.append("pAppDocumentInfo[8].Isuse", Isuse);
            formData.append("pAppDocumentInfo[8].Note", $("#6_txtBangocDNTheoDonSo").val().trim());
            //9
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoChungTuPhi").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[9].keyFileUpload", "6_rdoChungTuPhi");
            formData.append("pAppDocumentInfo[9].Document_Id", $("#6_rdoChungTuPhi").val());
            formData.append("pAppDocumentInfo[9].Isuse", Isuse);
            formData.append("pAppDocumentInfo[9].Note", "");

            //10
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoTaiLieuKhacCuThe").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[10].keyFileUpload", "6_rdoTaiLieuKhacCuThe");
            formData.append("pAppDocumentInfo[10].Document_Id", $("#6_rdoTaiLieuKhacCuThe").val());
            formData.append("pAppDocumentInfo[10].Isuse", Isuse);
            formData.append("pAppDocumentInfo[10].Note", $("#6_txtTaiLieuKhacCuThe").val.trim());

        } catch (e) {
            console.log(e);
        }
    }

    $("#btnGuiDon").click(function () {
        var v_Master_Name = $("#1_txtTenDayDu").val().trim();
        if (v_Master_Name === "") {
            $('#1_txtTenDayDu').focus().val('');
            showError('Tên không được để trống!');
            return false;
        }
        var v_Master_Address = $("#1_txtDiaChi").val().trim();
        if (v_Master_Address === "") {
            $('#1_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Master_Phone = $("#1_txtDienThoai").val().trim();
        var v_Master_Fax = $("#1_txtFax").val().trim();
        var v_Master_Email = $("#1_txtEmail").val().trim();
        if (v_Master_Email != "") {
            if (!IsvalidEmail(v_Master_Email)) {
                $('#1_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_RepMasterType = $("input[name='2_DaiDienChuDon']:checked").val();
        if (v_RepMasterType === "" || v_RepMasterType == undefined) {
            showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
            return false;
        }
        var v_Rep_Master_Name = $("#2_txtTenDayDu").val().trim();
        if (v_Rep_Master_Name === "") {
            $('#2_txtTenDayDu').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Rep_Master_Address = $("#2_txtDiaChi").val().trim();
        if (v_Rep_Master_Address === "") {
            $('#2_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }

        var v_Rep_Master_Phone = $("#2_txtDienThoai").val().trim();
        var v_Rep_Master_Fax = $("#2_txtFax").val().trim();

        var v_RepMasterEmail = $("#2_txtEmail").val().trim();
        if (v_RepMasterEmail != "") {
            if (!IsvalidEmail(v_RepMasterEmail)) {
                $('#2_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_AppCode = $("#txtAppCode").val();
        if (v_AppCode === "") {
            $('#txtAppCode').focus().val('');
            showError('Chưa chọn loại đơn đăng ký!');
            return false;
        }


        var formData = new FormData();
        //ObjectHeader
        formData.append("pInfo.Appcode", v_AppCode);
        formData.append("pInfo.Master_Name", v_Master_Name);
        formData.append("pInfo.Master_Address", v_Master_Address);
        formData.append("pInfo.Master_Phone", v_Master_Phone);
        formData.append("pInfo.Master_Fax", v_Master_Fax);
        formData.append("pInfo.Master_Email", v_Master_Email);

        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
        formData.append("pInfo.Rep_Master_Name", v_Rep_Master_Name);
        formData.append("pInfo.Rep_Master_Address", v_Rep_Master_Address);
        formData.append("pInfo.Rep_Master_Phone", v_Rep_Master_Phone);
        formData.append("pInfo.Rep_Master_Fax", v_Rep_Master_Fax);
        formData.append("pInfo.Rep_Master_Email", v_RepMasterEmail);
        formData.append("pInfo.Status", 2);
        //
        //OjectFeeFix

        var fee_id1 = $("#5_rdoLyPhiYeuCau").val();
        var Isuse1 = 0;
        if ($("#5_rdoLyPhiYeuCau").prop('checked') == true) {
            Isuse1 = 1;
        }


        var LePhiYCSuaDoi1 = $("#5_txtLePhiYCSD").val().trim().replace(/,/g, "");
        var TienLePhiYCSD1 = $("#5_txtTienLePhiYCSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[0].Fee_Id", fee_id1);
        formData.append("pFeeFixInfo[0].Isuse", Isuse1);
        formData.append("pFeeFixInfo[0].Number_Of_Patent", LePhiYCSuaDoi1);
        formData.append("pFeeFixInfo[0].Amount", TienLePhiYCSD1);


        var fee_id2 = $("#5_rdoLyPhiCongBoDon").val();
        var Isuse2 = 0;
        if ($("#5_rdoLyPhiCongBoDon").prop('checked') == true) {
            Isuse2 = 1;
        }

        var txtLePhiCBSD = $("#5_txtLePhiCBSD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[1].Fee_Id", fee_id2);
        formData.append("pFeeFixInfo[1].Isuse", Isuse2);
        formData.append("pFeeFixInfo[1].Number_Of_Patent", txtLePhiCBSD);
        formData.append("pFeeFixInfo[1].Amount", TienLePhiCBSD);

        var fee_id3 = $("#5_rdoLyPhiCongBoDonSuaDoi").val();
        var Isuse3 = 0;
        if ($("#5_rdoLyPhiCongBoDonSuaDoi").prop('checked') == true) {
            Isuse3 = 1;
        }
        var txtLePhiCBSD3 = $("#5_txtLePhiCBD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD3 = $("#5_txtTienLePhiCBD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[2].Fee_Id", fee_id3);
        formData.append("pFeeFixInfo[2].Isuse", Isuse3);
        formData.append("pFeeFixInfo[2].Number_Of_Patent", txtLePhiCBSD3);
        formData.append("pFeeFixInfo[2].Amount", TienLePhiCBSD3);

        //ObjDetail   3 ,4
        var v_DonYCSuaDoi = $("input[name='3_DonYCSuaDoi']:checked").val();
        if (v_DonYCSuaDoi === "" || v_DonYCSuaDoi == undefined) {
            showError('Phải chọn ít nhất 1 giá trị của đơn yêu cầu sửa đổi!');
            return false;
        }

        var v_SoDon = $("#3_txtSoDon").val().trim();
        if (v_SoDon === "") {
            $('#3_txtSoDon').focus().val('');
            showError('Số đơn không được để trống!');
            return false;
        }

        var NoiDungYCSuaDoi = $("input[name='4_NoiDungSuaDoi']:checked").val();
        var txtDeNghiSuaLaiThanh = $("#4_txtDeNghiSuaLaiThanh").val().trim();
        var txtSoChungTu = $("#5_txtSoChungTu").val().trim();


        formData.append("pDetailInfo.Appcode", v_AppCode);
        formData.append("pDetailInfo.Request", v_DonYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request", NoiDungYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request_To", txtDeNghiSuaLaiThanh);
        formData.append("pDetailInfo.Appno", v_SoDon);
        formData.append("pDetailInfo.Sochungtu_Noptheo", txtSoChungTu);

        funcPushAppDocAttach(formData);

        $.ajax({
            url: '/trade-mark/them_moi_don_dang_ky_sua_doi',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            traditional: true,
            dataType: "json",
            enctype: 'multipart/form-data',
            async: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                if (data != null && data.status >= 0) {

                    jAlert(AddSuccess, ThongBao, function () {
                    });

                } else {
                    jError(AddFail, ThongBao, function () {
                    });
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    });


    $("#hrfExportData").click(function () {
        var v_Master_Name = $("#1_txtTenDayDu").val().trim();
        if (v_Master_Name === "") {
            $('#1_txtTenDayDu').focus().val('');
            showError('Tên không được để trống!');
            return false;
        }
        var v_Master_Address = $("#1_txtDiaChi").val().trim();
        if (v_Master_Address === "") {
            $('#1_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Master_Phone = $("#1_txtDienThoai").val().trim();
        var v_Master_Fax = $("#1_txtFax").val().trim();
        var v_Master_Email = $("#1_txtEmail").val().trim();
        if (v_Master_Email != "") {
            if (!IsvalidEmail(v_Master_Email)) {
                $('#1_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_RepMasterType = $("input[name='2_DaiDienChuDon']:checked").val();
        if (v_RepMasterType === "" || v_RepMasterType == undefined) {
            showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
            return false;
        }
        var v_Rep_Master_Name = $("#2_txtTenDayDu").val().trim();
        if (v_Rep_Master_Name === "") {
            $('#2_txtTenDayDu').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Rep_Master_Address = $("#2_txtDiaChi").val().trim();
        if (v_Rep_Master_Address === "") {
            $('#2_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }

        var v_Rep_Master_Phone = $("#2_txtDienThoai").val().trim();
        var v_Rep_Master_Fax = $("#2_txtFax").val().trim();

        var v_RepMasterEmail = $("#2_txtEmail").val().trim();
        if (v_RepMasterEmail != "") {
            if (!IsvalidEmail(v_RepMasterEmail)) {
                $('#2_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_AppCode = $("#txtAppCode").val();
        if (v_AppCode === "") {
            $('#txtAppCode').focus().val('');
            showError('Chưa chọn loại đơn đăng ký!');
            return false;
        }


        var formData = new FormData();
        //ObjectHeader
        formData.append("pInfo.Appcode", v_AppCode);
        formData.append("pInfo.Master_Name", v_Master_Name);
        formData.append("pInfo.Master_Address", v_Master_Address);
        formData.append("pInfo.Master_Phone", v_Master_Phone);
        formData.append("pInfo.Master_Fax", v_Master_Fax);
        formData.append("pInfo.Master_Email", v_Master_Email);
        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);


        formData.append("pInfo.Rep_Master_Name", v_Rep_Master_Name);
        formData.append("pInfo.Rep_Master_Address", v_Rep_Master_Address);
        formData.append("pInfo.Rep_Master_Phone", v_Rep_Master_Phone);
        formData.append("pInfo.Rep_Master_Fax", v_Rep_Master_Fax);
        formData.append("pInfo.Rep_Master_Email", v_RepMasterEmail);
        formData.append("pInfo.Status", 2);
        //
        //OjectFeeFix

        var fee_id1 = $("#5_rdoLyPhiYeuCau").val();
        var Isuse1 = 0;
        if ($("#5_rdoLyPhiYeuCau").prop('checked') == true) {
            Isuse1 = 1;
        }


        var LePhiYCSuaDoi1 = $("#5_txtLePhiYCSD").val().trim().replace(/,/g, "");
        var TienLePhiYCSD1 = $("#5_txtTienLePhiYCSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[0].Fee_Id", fee_id1);
        formData.append("pFeeFixInfo[0].Isuse", Isuse1);
        formData.append("pFeeFixInfo[0].Number_Of_Patent", LePhiYCSuaDoi1);
        formData.append("pFeeFixInfo[0].Amount", TienLePhiYCSD1);


        var fee_id2 = $("#5_rdoLyPhiCongBoDon").val();
        var Isuse2 = 0;
        if ($("#5_rdoLyPhiCongBoDon").prop('checked') == true) {
            Isuse2 = 1;
        }

        var txtLePhiCBSD = $("#5_txtLePhiCBSD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[1].Fee_Id", fee_id2);
        formData.append("pFeeFixInfo[1].Isuse", Isuse2);
        formData.append("pFeeFixInfo[1].Number_Of_Patent", txtLePhiCBSD);
        formData.append("pFeeFixInfo[1].Amount", TienLePhiCBSD);

        var fee_id3 = $("#5_rdoLyPhiCongBoDonSuaDoi").val();
        var Isuse3 = 0;
        if ($("#5_rdoLyPhiCongBoDonSuaDoi").prop('checked') == true) {
            Isuse3 = 1;
        }
        var txtLePhiCBSD3 = $("#5_txtLePhiCBD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD3 = $("#5_txtTienLePhiCBD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[2].Fee_Id", fee_id3);
        formData.append("pFeeFixInfo[2].Isuse", Isuse3);
        formData.append("pFeeFixInfo[2].Number_Of_Patent", txtLePhiCBSD3);
        formData.append("pFeeFixInfo[2].Amount", TienLePhiCBSD3);

        //ObjDetail   3 ,4
        var v_DonYCSuaDoi = $("input[name='3_DonYCSuaDoi']:checked").val();
        if (v_DonYCSuaDoi === "" || v_DonYCSuaDoi == undefined) {
            showError('Phải chọn ít nhất 1 giá trị của đơn yêu cầu sửa đổi!');
            return false;
        }

        var v_SoDon = $("#3_txtSoDon").val().trim();
        if (v_SoDon === "") {
            $('#3_txtSoDon').focus().val('');
            showError('Số đơn không được để trống!');
            return false;
        }

        var NoiDungYCSuaDoi = $("input[name='4_NoiDungSuaDoi']:checked").val();
        var txtDeNghiSuaLaiThanh = $("#4_txtDeNghiSuaLaiThanh").val().trim();
        var txtSoChungTu = $("#5_txtSoChungTu").val().trim();


        formData.append("pDetailInfo.Appcode", v_AppCode);
        formData.append("pDetailInfo.Request", v_DonYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request", NoiDungYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request_To", txtDeNghiSuaLaiThanh);
        formData.append("pDetailInfo.Appno", v_SoDon);
        formData.append("pDetailInfo.Sochungtu_Noptheo", txtSoChungTu);

        $.ajax({
            url: '/trade-mark/ket_xuat_file',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            traditional: true,
            dataType: "json",
            enctype: 'multipart/form-data',
            async: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                if (data != null && data.status >= 0) {

                    jAlert(AddSuccess, ThongBao, function () {
                    });

                } else {
                    jAlert(AddFail, ThongBao, function () {
                    });
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    });

    function SumFee() {
        try {
            var LePhiYCSD = $("#5_txtLePhiYCSD").val().replace(/,/g, "");
            if (LePhiYCSD === "" || LePhiYCSD == undefined) LePhiYCSD = 0;
            var LePhiCBSD = $("#5_txtLePhiCBSD").val().replace(/,/g, "");
            if (LePhiCBSD === "" || LePhiCBSD == undefined) LePhiCBSD = 0;
            var LePhiCBD = $("#5_txtLePhiCBD").val().replace(/,/g, "");
            if (LePhiCBD === "" || LePhiCBD == undefined) LePhiCBD = 0;

            var TienLePhiYCSD = $("#5_txtTienLePhiYCSD").val().replace(/,/g, "");
            if (TienLePhiYCSD === "" || TienLePhiYCSD == undefined) TienLePhiYCSD = 0;
            var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().replace(/,/g, "");
            if (TienLePhiCBSD === "" || TienLePhiCBSD == undefined) TienLePhiCBSD = 0;
            var TienLePhiCBD = $("#5_txtTienLePhiCBD").val().replace(/,/g, "");
            if (TienLePhiCBD === "" || TienLePhiCBD == undefined) TienLePhiCBD = 0;

            var total = LePhiYCSD / 1 + LePhiCBSD / 1 + LePhiCBD / 1 + TienLePhiYCSD / 1 + TienLePhiCBSD / 1 + TienLePhiCBD / 1;
            var tongtien = formatNumberToStringN1(total);
            $("#5_lblTotalAmount").text(tongtien);
            $("#5_lblTotalAmount").css("font-weight", "bold");
        } catch (e) {
            console.log(e);
        }
    }




</script>
