@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using Common.Extensions;
@{
    ViewBag.Title = "chi tiết đơn đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<App_Class_Info> _list = new List<App_Class_Info>();
    if (ViewBag.ListAppClass != null)
    {
        _list = ViewBag.ListAppClass;
    }
    List<AppDetail04NHInfo> _List04nhdetail = new List<AppDetail04NHInfo>();
    if (ViewBag.ListAppDetail04NHInfo != null)
    {
        _List04nhdetail = ViewBag.ListAppDetail04NHInfo;
    }
    var objAppHeaderInfo = new App_Detail_TM06DKQT_Info();
    var lstDocumentInfo = new List<AppDocumentInfo>();
    var lstClassDetailInfo = new List<AppClassDetailInfo>();
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (App_Detail_TM06DKQT_Info)ViewBag.objAppHeaderInfo;
    }
    if (ViewBag.lstDocumentInfo != null)
    {
        lstDocumentInfo = (List<AppDocumentInfo>)ViewBag.lstDocumentInfo;
    }

    if (ViewBag.lstClassDetailInfo != null)
    {
        lstClassDetailInfo = (List<AppClassDetailInfo>)ViewBag.lstClassDetailInfo;
    }
    string _01_rdnghidinh_madrid = "";
    string _01_rdnghidinh_thoa_uoc_madrid = "";
    if (objAppHeaderInfo.THANHVIEN_ND_TC == "TVND")
    {
        _01_rdnghidinh_madrid = "checked='checked'";
    }
    else if (objAppHeaderInfo.THANHVIEN_ND_TC == "TVND_TU")
    {
        _01_rdnghidinh_thoa_uoc_madrid = "checked='checked'";
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    if (!string.IsNullOrEmpty(objAppHeaderInfo.LOGOURL))
    {

        urlMauNhanHieu = objAppHeaderInfo.LOGOURL.Replace("~", "");
    }

    string _01_rad_DonDK = "";
    string _01_rad_GiayDK = "";
    if (objAppHeaderInfo.DON_GIAY_DKNHCS == "DONDK")
    {
        _01_rad_DonDK = "checked='checked'";
    }
    else if (objAppHeaderInfo.DON_GIAY_DKNHCS == "GIAYDK")
    {
        _01_rad_GiayDK = "checked='checked'";
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }
    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }

}


<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@Common.TradeMarkAppCode.AppCodeDangKyQuocTeNH' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend> YÊU CẦU ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU CÓ NGUỒN GỐC VIỆT NAM </legend>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                THÔNG TIN CƠ BẢN
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input @_01_rdnghidinh_madrid type="radio" name="rad_thanhviennghidinhthu" value="TVND" id="_01_rdnghidinh_madrid" placeholder="_01_rdnghidinh_madrid" disabled/>
                    <label>chỉ là Thành viên Nghị định thư Madrid</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input @_01_rdnghidinh_thoa_uoc_madrid type="radio" name="rad_thanhviennghidinhthu" value="TVND_TU" id="_01_rdnghidinh_thoa_uoc_madrid" placeholder="_01_rdnghidinh_thoa_uoc_madrid" disabled/>
                    <label>vừa là Thành viên Thoả ước Madrid, vừa là Thành viên Nghị định thư Madrid </label>
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                1.NHÃN HIỆU QUỐC TẾ
            </div>
        </div>

        <div class="class_full_div_input">
            <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
            <div class="class_block_title_control" style="display:flex">
                <div style="width:180px ;height:180px" id="divLogo">
                    <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input @_01_rad_DonDK type="radio" name="_01_rad_DonDkOrGiayDK" value="DONDK" id="_01_rad_DonDK" placeholder=" rad_DonDK" disabled/>
                    <label>Đơn đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input @_01_rad_GiayDK type="radio" name="_01_rad_DonDkOrGiayDK" value="GIAYDK" id="_01_rad_GiayDK" placeholder="01_rad_GiayDK" disabled/>
                    <label>Giấy chứng nhận đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Số đơn/Số GCN</div>
            </div>
            <div class="div-search-content">
                <div>
                <input type="text" value="@objAppHeaderInfo.REF_APPNO" disabled/>
                </div>
            </div>

            <div class="div-search-title">
                <div style="width:350px">Ngày nộp đơn/Ngày cấp CGN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input value="@objAppHeaderInfo.Send_Date.ToString("dd/MM/yyyy")" type="text"  id="_1_txtNgayNopDon" placeholder="_1_txtNgayNopDon" maxlength="10" disabled/>
                </div>
            </div>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClassView.cshtml")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                2.CHỦ ĐƠN
            </div>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon_View.cshtml", "_1")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                3. ĐẠI DIỆN CỦA CHỦ ĐƠN
            </div>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon_View.cshtml", "_2")


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                4.TÊN VÀ MÃ NƯỚC CHỈ ĐỊNH ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU
            </div>
        </div>


        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialDanhSachQuocGiaDKQTNH_View.cshtml", "_4")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                5.PHÍ, LỆ PHÍ
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:450px"> Phí dịch vụ làm thủ tục đăng ký quốc tế nhãn hiệu đã nộp kèm theo: </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="_5_txtLePhiDangKy" maxlength="20" id="_5_txtLePhiDangKy" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" value="@objAppHeaderInfo.LEPHI.ToNumberString()" disabled/>
                </div>
            </div>
        </div>



        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                6.CÁC TÀI LIỆU CÓ TRONG ĐƠN
            </div>
        </div>
        @* 1. Tờ khai *@
        @{
            string _checked = "";
            string _disabled = "";
            string _doc_id = "C06DKQT_D_01";
            string _id = _doc_id + "|6_Doc_ToKhai|0|Tờ khai, gồm|Số trang|Số bản|0";
            string _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].CHAR02 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            string _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }
        @{

            _doc_id = "C06DKQT_D_02";
            _id = _doc_id + "|6_MauDKVPQuocTe|0|Tờ khai, gồm|Số trang|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            _checked = "";
            _disabled = "";
            if (dic_appDoc[_doc_id].Isuse.ToString().Trim() == "1")
            {
                _checked = "checked='checked'";
            }
            else
            {
                _disabled = "disabled";
            }
        }

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox" style="width:300px">
                    <input @_checked type="checkbox" id="ckb_6_MauDKVPQuocTe" value="C06DKQT_D_02" onchange="return ShowHidenUpLoad(this.id, this.id, 'txt_6_MauDKVPQuocTe');" disabled/>
                    Mẫu đăng ký của Văn phòng quốc tế, form số:
                </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe" maxlength="50" placeholder="txt_6_MauDKVPQuocTe" disabledvalue="@dic_appDoc[_doc_id].CHAR01" />
                </div>
            </div>
            <div class="div-search-title">
                <div>làm bằng tiếng </div>
            </div>
            <div class="div-search-content">
                <div style="width:150px">
                    <input type="text" id="txt_6_MauDKVPQuocTe_1" placeholder="txt_6_MauDKVPQuocTe_1" maxlength="50" disabled value="@dic_appDoc[_doc_id].CHAR02" />
                </div>
            </div>

            <div class="div-search-title">
                <div>số trang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input @_disabled type="text" id="txt_6_MauDKVPQuocTe_2" maxlength=" 50" placeholder="txt_6_MauDKVPQuocTe_2" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" value="@dic_appDoc[_doc_id].CHAR03" disabled/>
                </div>
            </div>

            <div class="div-search-title">
                <div>số bản:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input @_disabled type="text" id="txt_6_MauDKVPQuocTe_3" maxlength="50" placeholder="txt_6_MauDKVPQuocTe_3" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" value="@dic_appDoc[_doc_id].CHAR04" disabled/>
                </div>
            </div>

        </div>



        @{
            //  3 mẫu đăng ký nhãn hiệu
            _doc_id = "C06DKQT_D_03";
            _id = _doc_id + "|6_Doc_MauNhanHieu|0|Mẫu nhãn hiệu|Số mẫu|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //4 bản sao tờ khai
            _doc_id = "C06DKQT_D_04";
            _id = _doc_id + "|6_Doc_BanSaoToKhai|0|Bản sao Tờ khai yêu cầu cấp GCN đăng ký nhãn hiệu cơ sở|1";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }


        @{
            //5 bản sao giay chung nhan dk nhan hieu co so
            _doc_id = "C06DKQT_D_05";
            _id = _doc_id + "|6_Doc_BanSaoGiayDKNHCS|0| Bản sao Giấy chứng nhận đăng ký nhãn hiệu cơ sở|1";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            // 6 bản cam kết sẽ sử dụng NH
            _doc_id = "C06DKQT_D_06";
            _id = _doc_id + "|6_Doc_CamKetSuDungNH|0|Bản cam kết sẽ sử dụng NH tại nước yêu cầu đăng ký bảo hộ (nếu chỉ định vào các quốc gia Ireland, Singapore, Vương quốc Anh và Hoa Kỳ|1";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            // 7 giay quy quyen bang tieng
            _doc_id = "C06DKQT_D_07";
            _id = _doc_id + "|6_Doc_GiayUyQuyenBangTieng|0|Giấy ủy quyền|Bằng tiếng|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }


        @{
            // 8 giay quy quyen bang tieng
            _doc_id = "C06DKQT_D_08";
            _id = _doc_id + "|6_Doc_BanDichTiengViet|1|Bản dịch tiếng Việt|số trang|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].CHAR02 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            // 9 bản gốc
            _doc_id = "C06DKQT_D_09";
            _id = _doc_id + "|6_DocBanGoc|1|Bản gốc|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //10 bản sao
            _doc_id = "C06DKQT_D_010";
            _id = _doc_id + "|6_Doc_Sao|1|Bản sao|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //*11 bản sao nộp sau
            _doc_id = "C06DKQT_D_011";
            _id = _doc_id + "|6_Doc_BanGocSeNopSau|2|Bản gốc sẽ nộp sau|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //12 bản gốc đã nộp theo số
            _doc_id = "C06DKQT_D_012";
            _id = _doc_id + "|6_Doc_BanGocDaNopTheoDonSo|2|Bản gốc đã nộp theo đơn|Số đơn|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //13 chứng từ lệ phí
            _doc_id = "C06DKQT_D_013";
            _id = _doc_id + "|6_Doc_ChungTuLePhi|0|chứng từ lệ phí|1";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            //14 tài liệu bổ sung
            _doc_id = "C06DKQT_D_014";
            _id = _doc_id + "|6_Doc_TaiLieuBoSung|0|Tài liệu bổ sung|Nhập tài liệu|0";
            _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDonView.cshtml", _model)
        }

        @{
            // cam kết của chủ đong
            string _camket = objAppHeaderInfo.Address + "|" + objAppHeaderInfo.DateNo + "|" + objAppHeaderInfo.Months + "|" + objAppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_View.cshtml", _camket)
        }


        <div class="div-search-ad">
            <div class="div-search-content">
                <div style="width:300px">
                    Số trang bổ sung
                </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="_8_txtPageRemain" maxlength="20" id="_8_txtPageRemain" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" value="@objAppHeaderInfo.PAGE_REMAIN" disabled/>
                </div>
            </div>
        </div>

        <div class="class_save">
            <div class="classGuiDon">
              <a href="/vi-vn/trade-mark/dang-ky-nhan-hieu"><input type="button" value="Trở lại" id="btnGuiDon" class="btn" /></a> 
            </div>
            
        </div>
    </fieldset>
</div>
