@using ObjectInfos
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Tờ khai";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<App_Class_Info> _list = new List<App_Class_Info>();
    if (ViewBag.ListAppClass != null)
    {
        _list = ViewBag.ListAppClass;
    }
    List<AppDetail04NHInfo> _List04nhdetail = new List<AppDetail04NHInfo>();
    if (ViewBag.ListAppDetail04NHInfo != null)
    {
        _List04nhdetail = ViewBag.ListAppDetail04NHInfo;
    }
    string _appcode = ViewBag.AppCode;

    //SysAppFixChargeInfo _Appfixcharge = BussinessFacade.ModuleMemoryData.MemoryData.c_dic_FeeByApp_Fix[_appcode];
    //SysAppFixChargeInfo _Appfixcharge = new SysAppFixChargeInfo();
}
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>



<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@Common.TradeMarkAppCode.AppCodeDangKyQuocTeNH' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend> YÊU CẦU ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU CÓ NGUỒN GỐC VIỆT NAM </legend>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
               THÔNG TIN CƠ BẢN
            </div>
        </div>
        
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND" id="_01_rdnghidinh_madrid" placeholder="_01_rdnghidinh_madrid" />
                    <label>chỉ là Thành viên Nghị định thư Madrid</label> 
                </div>
            </div>
        
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND_TU" id="_01_rdnghidinh_thoa_uoc_madrid" placeholder="_01_rdnghidinh_thoa_uoc_madrid" />
                    <label>vừa là Thành viên Thoả ước Madrid, vừa là Thành viên Nghị định thư Madrid </label>
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                1.NHÃN HIỆU QUỐC TẾ
            </div>
        </div>

        @*<div class="div-search-ad">
            <div class="div-search-content">
                <div style="width:180px ;height:180px" id="divLogo">
                    <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                </div>
            </div>
        </div>*@

        <div class="class_full_div_input">
            <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
            <div class="class_block_title_control" style="display:flex">
                <div style="width:180px ;height:180px" id="divLogo">
                    <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                </div>
                <div class="container" style="flex-grow:1;padding-top:50px">
                    <div class="file-upload btn btn-primary" style="margin-top:86px">
                        <span>Tải file</span>
                        <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                    </div>
                </div>
            </div>
        </div>




        @*<div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold"></div>
            <div class="class_full_div_input">
                <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:180px ;height:180px" id="divLogo">
                        <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:50px">
                        <div class="file-upload btn btn-primary" style="margin-top:86px">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="_01_rad_DonDkOrGiayDK" value="DONDK" id="_01_rad_DonDK" placeholder=" rad_DonDK" />
                    <label>Đơn đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="_01_rad_DonDkOrGiayDK" value="GIAYDK" id="_01_rad_GiayDK" placeholder="01_rad_GiayDK" />
                    <label>Giấy chứng nhận đăng ký nhãn hiệu cơ sở </label>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Số đơn/Số GCN</div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<input type="text" id="cbo_04nh_data" placeholder="cbo_04nh_data" maxlength="100" />*@
                    <select id="cbo_04nh_data" onchange="chooseApp2a($(this).val())">
                        @foreach (var item in _List04nhdetail)
                        {
                            <option value="@item.App_Header_Id">
                                @item.Appno
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div  style="width:350px">Ngày nộp đơn/Ngày cấp CGN</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" class="datepicker" id="_1_txtNgayNopDon" placeholder="_1_txtNgayNopDon" maxlength="10" />
                </div>
            </div>
        </div>

 

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                2.CHỦ ĐƠN
            </div>
        </div>
            
        <div id="div_chudon2a">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "_1")
        </div>
        
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                3.ĐẠI DIỆN CỦA CHỦ ĐƠN
            </div>
        </div>
        <div id="div_daidienchudon2a">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "_2")
        </div>

        <div id="div_appclass_2a">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClass.cshtml")
        </div>
        

            <div class="divCover cls_form_title">
                <img src="~/Content/icons/info.png" />
                <div class="cls_form_header">
                    4.TÊN VÀ MÃ NƯỚC CHỈ ĐỊNH ĐĂNG KÝ QUỐC TẾ NHÃN HIỆU
                </div>
            </div>


            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialDanhSachQuocGiaDKQTNH.cshtml", "_4")

            <div class="divCover cls_form_title">
                <img src="~/Content/icons/info.png" />
                <div class="cls_form_header">
                    5.PHÍ, LỆ PHÍ
                </div>
            </div>


            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width:450px"> Phí dịch vụ làm thủ tục đăng ký quốc tế nhãn hiệu đã nộp kèm theo: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" placeholder="_5_txtLePhiDangKy" maxlength="20" id="_5_txtLePhiDangKy" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" value="2000000" />
                    </div>
                </div>
            </div>



            <div class="divCover cls_form_title">
                <img src="~/Content/icons/info.png" />
                <div class="cls_form_header">
                    6.CÁC TÀI LIỆU CÓ TRONG ĐƠN
                </div>
            </div>
         @*phải ẩn đi ở form thêm mới do luật sư tự nhập*@

        @* 1. Tài tờ khai *@
        @{
            string _doc_id1 = "C06DKQT_D_01";
            string _model1 = _doc_id1 + "|6_Doc_ToKhai|0|Tờ khai, gồm|Số trang|Số bản|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model1)
        }
        @* 2. mẫu đăng ký của văn phòng quốc tế *@
        <div class="div-search-ad">
            <div class="div-search-content">
                <div>
                    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoToKhai")
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox" style="width:300px">
                    <input type="checkbox" id="ckb_6_MauDKVPQuocTe" value="C06DKQT_D_02" onchange="return ShowHidenUpLoad(this.id, this.id, 'txt_6_MauDKVPQuocTe');" />
                    Mẫu đăng ký của Văn phòng quốc tế, form số:
                </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe" maxlength="50" placeholder="txt_6_MauDKVPQuocTe" disabled/>
                </div>
            </div>
            <div class="div-search-title">
                <div>làm bằng tiếng </div>
            </div>
            <div class="div-search-content">
                <div style="width:150px">
                    <input type="text" id="txt_6_MauDKVPQuocTe_1" maxlength="50" placeholder="txt_6_MauDKVPQuocTe_1" disabled/>
                </div>
            </div>

            <div class="div-search-title">
                <div>số trang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe_2" maxlength=" 50" placeholder="txt_6_MauDKVPQuocTe_2" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" disabled/>
                </div>
            </div>

            <div class="div-search-title">
                <div>số bản:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe_3" maxlength="50" placeholder="txt_6_MauDKVPQuocTe_3" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" disabled/>
                </div>
            </div>

        </div>

        @*3 mẫu đăng ký nhãn hiệu*@ 
        @{
            string _doc_id3 = "C06DKQT_D_03";
            string _model3 = _doc_id3 + "|6_Doc_MauNhanHieu|0|Mẫu nhãn hiệu|Số mẫu|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model3)
        }


        @*Ẩn đến đây*@


        @*4bản sao tờ khai *@
        @{
            string _doc_id4 = "C06DKQT_D_04";
            string _model4 = _doc_id4 + "|6_Doc_BanSaoToKhai|0|Bản sao Tờ khai yêu cầu cấp GCN đăng ký nhãn hiệu cơ sở|1";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model4)
        }

        @*5 bản sao giay chung nhan dk nhan hieu co so *@
        @{
            string _doc_id5 = "C06DKQT_D_05";
            string _model5 = _doc_id5 + "|6_Doc_BanSaoGiayDKNHCS|0| Bản sao Giấy chứng nhận đăng ký nhãn hiệu cơ sở|1";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model5)
        }

        @*6 bản cam kết sẽ sử dụng NH *@
        @{
            string _doc_id6 = "C06DKQT_D_06";
            string _model6 = _doc_id6 + "|6_Doc_CamKetSuDungNH|0|Bản cam kết sẽ sử dụng NH tại nước yêu cầu đăng ký bảo hộ (nếu chỉ định vào các quốc gia Ireland, Singapore, Vương quốc Anh và Hoa Kỳ|1";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model6)
        }

        @*7 giay quy quyen bang tieng *@
        @{
            string _doc_id7 = "C06DKQT_D_07";
            string _model7 = _doc_id7 + "|6_Doc_GiayUyQuyenBangTieng|0|Giấy ủy quyền|Bằng tiếng|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model7)
        }
        @*Bản dịch tiếng việt*@

        @*ẩn từ đây*@
        @{
            string _doc_id8 = "C06DKQT_D_08";
            string _model8 = _doc_id8 + "|6_Doc_BanDichTiengViet|1|Bản dịch tiếng Việt|số trang|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model8)
        }

        @*ẩn đến đây*@

        @*9 bản gốc*@

        @{
            string _doc_id9 = "C06DKQT_D_09";
            string _model9 = _doc_id9 + "|6_DocBanGoc|1|Bản gốc|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model9)
        }

        @*10 bản sao*@

        @{
            string _doc_id10 = "C06DKQT_D_010";
            string _model10 = _doc_id10 + "|6_Doc_Sao|1|Bản sao|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model10)
        }

        @*11 bản sao nộp sau*@

        @{
            string _doc_id11 = "C06DKQT_D_011";
            string _model11 = _doc_id11 + "|6_Doc_BanGocSeNopSau|2|Bản gốc sẽ nộp sau|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model11)
        }

        @*12 bản gốc đã nộp theo số *@

        @{
            string _doc_id12 = "C06DKQT_D_012";
            string _model12 = _doc_id12 + "|6_Doc_BanGocDaNopTheoDonSo|2|Bản gốc đã nộp theo đơn|Số đơn|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model12)
        }

        @*13 chứng từ lệ phí *@

        @{
            string _doc_id13 = "C06DKQT_D_013";
            string _model13 = _doc_id13 + "|6_Doc_ChungTuLePhi|0|chứng từ lệ phí|1";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model13)
        }

        @*14 tài liệu bổ sung *@

        @{
            string _doc_id14 = "C06DKQT_D_014";
            string _model14 = _doc_id14 + "|6_Doc_TaiLieuBoSung|0|Tài liệu bổ sung|Nhập tài liệu|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialTaiLieuTrongDon.cshtml", _model14)
        }

        @* Cam kết của chủ đơn *@

        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration01/_PartialCamketChuDon.cshtml")





        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
</fieldset>
</div>

<script>
    $(document).ready(function () {
        $('#NVSCBO001_AppClassSearch').multipleSelect({
            filter: true,
            single: true,
            isdatastring: false,
            maxHeight: 150,
            placeholder: "-- Tìm kiếm hàng hóa/dịch vụ --"
        });

        $('#cbo_04nh_data').multipleSelect({
            filter: true,
            noMatchesFound: "Không tìm thấy dữ liệu",
            single: true,
            isdatastring: false,
            width:200,
            placeholder: 'Tìm kiếm số đơn'
        });

    });

    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        filePreview(this, 'imgMauNhanHieu');
    };

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formData.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }


    function ShowHidenUpLoad(pID, pClass, pTxt) {
        try {
            if ($("#" + pID).is(':checked')) {
                $("#div_up_" + pClass).removeClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).removeAttr("disabled");
                    $("#" + pTxt + "_1").removeAttr("disabled");
                    $("#" + pTxt + "_2").removeAttr("disabled");
                    $("#" + pTxt + "_3").removeAttr("disabled");
                }
            }
            else {
                $("#div_up_" + pClass).addClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).prop('disabled', true);
                    $("#" + pTxt + "_1").prop('disabled', true);
                    $("#" + pTxt + "_2").prop('disabled', true);
                    $("#" + pTxt + "_3").prop('disabled', true);
                }
            }
        } catch (e) {
            alert(e);
        }
    }

    $("#btnLuuTam").click(function () {
        try {

            var formData = new FormData();
            var v_AppCode = $("#txtAppCode").val();
            var cbo_04nh_data = $("#cbo_04nh_data");
            var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            var _01_rad_DonDkOrGiayDK = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            var NVSCBO001_AppClassSearch = $("#NVSCBO001_AppClassSearch");
            var Nvs001txt_search_app_code = $("#Nvs001txt_search_app_code");
            //Thông tin chủ đơn

            if (v_thanhviennghidinh === "" || v_thanhviennghidinh == undefined) {
                showError('Phải chọn ít nhất 1 giá trị loại thành viên!');
                $("#_01_rdnghidinh_madrid").focus();
                return false;
            }

            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined) {
                //  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }

            if (_01_rad_DonDkOrGiayDK === "" || _01_rad_DonDkOrGiayDK == undefined) {
                showError('Phải chọn ít nhất 1 loại giấy đăng kỹ nhãn hiệu cơ sở!');
                $("#_01_rad_DonDK").focus();
                return false;
            }

            if (cbo_04nh_data.val() == "" || cbo_04nh_data.val() == null) {
                showError('Chưa chọn số đơn!');
                $("#cbo_04nh_data").multipleSelect("focus");
                return false;
            }
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            if (_1_txtNgayNopDon.val() == "" || _1_txtNgayNopDon.val() == "__/__/____") {
                showError('Ngày nộp đơn không được phép để trống!');
                _1_txtNgayNopDon.focus();
                return false;
            }
 
            if (_ArrGroupAppClass.length == 0 && _EditArryAppClass.length == 0) {
                showError('Chưa chọn nhóm hàng hóa dịch vụ!');
                $("#txtTenHangHoa").focus();
                return false;
            }
            if (funcThongTinChuDonNguoiDaiDien(formData, "_1") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType == "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                $("#_2_rdoNguoiDaiDienPL").focus();
                return false;
            }
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }

            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }

            // danh sach quoc gia
            var _listNational = $("#_4_cboNational01").val() + "," + $("#_4_cboNational02").val() + "," + $("#_4_cboNational03").val() + "," + $("#_4_cboNational04").val()
                + "," + $("#_4_cboNational05").val() + "," + $("#_4_cboNational06").val() + "," + $("#_4_cboNational07").val() + "," + $("#_4_cboNational08").val();
            _listNational = _listNational.replace(/null/g, '');
            if (_listNational.replace(/,/g, '') == "") {
                showError('Phải chọn ít nhất 1 nước chỉ định đăng ký nhãn hiệu!');
                $("#_4_cboNational01").multipleSelect("focus");
                return false;
            }
            var _arrayNational = _listNational.split(",");
            _arrayNational = RepushArray(_arrayNational);
            if (CheckArrDuplicate(_arrayNational) == true) {
                showError('Có ít nhất 2 lựa chọn mã nước trùng nhau, vui lòng kiểm tra lại!');
                $("#_4_cboNational01").focus();
                return false;
            }
            var _5_txtLePhiDangKy = $("#_5_txtLePhiDangKy");
            if (_5_txtLePhiDangKy.val().trim() == "") {
                showError('Lệ phí đăng ký không được để trống!');
                _5_txtLePhiDangKy.focus();
                return false;
            }
            formData.append("pFeeFixInfo[0].Fee_Id", '0');
            formData.append("pFeeFixInfo[0].Isuse", "1");
            formData.append("pFeeFixInfo[0].Number_Of_Patent", 0);
            formData.append("pFeeFixInfo[0].Amount", _5_txtLePhiDangKy.val());

            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Send_Date", _1_txtNgayNopDon.val());
            //trang thai
            formData.append("pInfo.Status", 1);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }
            // thông tin chủ đơn
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_1")
            if (reponse == false) {
                return false;
            }
            // thông tin người đại diện
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_2")
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/trade-mark-01/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(AddSuccess, ThongBao, function () {
                            window.location.reload();
                        });
                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }

    });

    function funcGetCamKetChuDon(formData) {
        try {
            var address = $("#txtKhaiTai").val();
            formData.append("pInfo.Address", address);
            var dateno = $("#cboNgayKhai").val();
            formData.append("pInfo.DateNo", dateno);
            var months = $("#cboThangKhai").val();
            formData.append("pInfo.Months", months);
            var years = $("#cboNamKhai").val();
            formData.append("pInfo.Years", years);
        } catch (e) {
            console.log(e);
        }
    }



    $("#btnGuiDon").click(function () {
        try {

            var formData = new FormData();
            var v_AppCode = $("#txtAppCode").val();
            var cbo_04nh_data = $("#cbo_04nh_data");
            var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            var _01_rad_DonDkOrGiayDK = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            var NVSCBO001_AppClassSearch = $("#NVSCBO001_AppClassSearch");
            var Nvs001txt_search_app_code = $("#Nvs001txt_search_app_code");
            //Thông tin chủ đơn

            if (v_thanhviennghidinh === "" || v_thanhviennghidinh == undefined) {
                showError('Phải chọn ít nhất 1 giá trị loại thành viên!');
                $("#_01_rdnghidinh_madrid").focus();
                return false;
            }

            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined) {
              //  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }

            if (_01_rad_DonDkOrGiayDK === "" || _01_rad_DonDkOrGiayDK == undefined) {
                showError('Phải chọn ít nhất 1 loại giấy đăng kỹ nhãn hiệu cơ sở!');
                $("#_01_rad_DonDK").focus();
                return false;
            }

            if (cbo_04nh_data.val() == "" || cbo_04nh_data.val() == null )
            {
                showError('Chưa chọn số đơn!');
                $("#cbo_04nh_data").multipleSelect("focus");
                return false;
            }
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            if (_1_txtNgayNopDon.val() == "" || _1_txtNgayNopDon.val() == "__/__/____")
            {
                showError('Ngày nộp đơn không được phép để trống!');
                _1_txtNgayNopDon.focus();
                return false;
            }

            //if (NVSCBO001_AppClassSearch.val() == "" || NVSCBO001_AppClassSearch.val() == undefined) {
            //    showError('Chưa chọn nhóm hàng hóa dịch vụ!');
            //    $("#Nvs001txt_search_app_code").focus();
            //    return false;
            //}
            if (_ArrGroupAppClass.length == 0)
            {
                showError('Chưa chọn nhóm hàng hóa dịch vụ!');
                $("#txtTenHangHoa").focus();
                  return false;
            }
            if (funcThongTinChuDonNguoiDaiDien(formData, "_1") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType == "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                $("#_2_rdoNguoiDaiDienPL").focus();
                return false;
            }
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }

            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                return false;
            }

            // danh sach quoc gia
            var _listNational = $("#_4_cboNational01").val() + "," + $("#_4_cboNational02").val() + "," + $("#_4_cboNational03").val() + "," + $("#_4_cboNational04").val()
                + "," + $("#_4_cboNational05").val() + "," + $("#_4_cboNational06").val() + "," + $("#_4_cboNational07").val() + "," + $("#_4_cboNational08").val();
            _listNational = _listNational.replace(/null/g, '');
            if (_listNational.replace(/,/g, '') == "")
            {
                showError('Phải chọn ít nhất 1 nước chỉ định đăng ký nhãn hiệu!');
                $("#_4_cboNational01").multipleSelect("focus");
                  return false;
            }
            var _arrayNational = _listNational.split(",");
            _arrayNational = RepushArray(_arrayNational);
            if (CheckArrDuplicate(_arrayNational) == true)
            {
                showError('Có ít nhất 2 lựa chọn mã nước trùng nhau, vui lòng kiểm tra lại!');
                $("#_4_cboNational01").focus();
                return false;
            }
            var _5_txtLePhiDangKy = $("#_5_txtLePhiDangKy");
            if (_5_txtLePhiDangKy.val().trim() == "") {
                showError('Lệ phí đăng ký không được để trống!');
                _5_txtLePhiDangKy.focus();
                return false;
            }

            formData.append("pFeeFixInfo[0].Fee_Id", "0");
            formData.append("pFeeFixInfo[0].Isuse", "1");
            formData.append("pFeeFixInfo[0].Number_Of_Patent", 0);
            formData.append("pFeeFixInfo[0].Amount", _5_txtLePhiDangKy.val());

            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Send_Date", _1_txtNgayNopDon.val());
            //trang thai
            formData.append("pInfo.Status", 2);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }
            // thông tin chủ đơn
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_1")
            if (reponse == false) {
                return false;
            }
            // thông tin người đại diện
            reponse = funcThongTinChuDonNguoiDaiDien(formData, "_2")
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }


            $.ajax({
                url: '/trade-mark-01/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(AddSuccess, ThongBao, function () {
                            window.location.reload();
                        });
                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }

    });

    // lấy thông tin chi tiết đơn
    function funcGetAppDetail(formData)
    {
        try {
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            formData.append("pDetail.THANHVIEN_ND_TC", $("input[name='rad_thanhviennghidinhthu']:checked").val());

            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined) {
                  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }
            var v_don_giaydknhcs = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            formData.append("pDetail.DON_GIAY_DKNHCS", v_don_giaydknhcs);
            formData.append("pDetail.REF_APPNO", $("#cbo_04nh_data").val());
            formData.append("pDetail.NGAYNOPDON", $("#_1_txtNgayNopDon").val());

            formData.append("pDetail.COUNTRY_ID01", $("#_4_cboNational01").val());
            formData.append("pDetail.COUNTRY_ID02", $("#_4_cboNational02").val());
            formData.append("pDetail.COUNTRY_ID03", $("#_4_cboNational03").val());
            formData.append("pDetail.COUNTRY_ID04", $("#_4_cboNational04").val());
            formData.append("pDetail.COUNTRY_ID05", $("#_4_cboNational05").val());
            formData.append("pDetail.COUNTRY_ID06", $("#_4_cboNational06").val());
            formData.append("pDetail.COUNTRY_ID07", $("#_4_cboNational07").val());
            formData.append("pDetail.COUNTRY_ID08", $("#_4_cboNational08").val());
            formData.append("pDetail.LEPHI", $("#_5_txtLePhiDangKy").val());


            // lấy thông tin chủ đơn

        } catch (e) {
            alert(e.toString());
        }
    }

    //Lấy thông tin chủ đơn add vào formData
    function funcThongTinChuDonNguoiDaiDien(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu").focus().val('');
                showError('Tên không được để trống!');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi").focus().val('');
                showError('Địa chỉ không được để trống!');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('Email không đúng định dạng!');
                    return false;
                }
            }
            //Chủ đơn
            if (PreID == "_1") {
                formData.append("pInfo.Master_Name", txtTenDayDu);
                formData.append("pInfo.Master_Address", txtDiaChi);
                formData.append("pInfo.Master_Phone", txtDienThoai);
                formData.append("pInfo.Master_Fax", txtFax);
                formData.append("pInfo.Master_Email", txtEmail);
            } else if (PreID == "_2") { //Người đại diện
                formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
                formData.append("pInfo.Rep_Master_Address", txtDiaChi);
                formData.append("pInfo.Rep_Master_Phone", txtDienThoai);
                formData.append("pInfo.Rep_Master_Fax", txtFax);
                formData.append("pInfo.Rep_Master_Email", txtEmail);
                //Detail
            } else if (PreID == "_9") {
                formData.append("pDetail.Cdk_Name_1", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_1", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_1", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_1", txtFax);
                formData.append("pDetail.Cdk_Email_1", txtEmail);
            }
            return true;
        } catch (e) {
            return false;
        }
    }


    function funGetThongTinFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            //1 tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_6_Doc_ToKhai").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_6_Doc_ToKhai_1").val());
            //v2 mau đăng ký văn phòng quốc tế
            reponse = funcGetCheckValueAndText(formData, "ckb_6_MauDKVPQuocTe", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_MauDKVPQuocTe").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_6_MauDKVPQuocTe_1").val());
            formData.append("pAppDocumentInfo[1].CHAR03", $("#txt_6_MauDKVPQuocTe_2").val());
            formData.append("pAppDocumentInfo[1].CHAR04", $("#txt_6_MauDKVPQuocTe_3").val());

            // 3  mẫu nhãn hiệu

            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_MauNhanHieu", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt6_Doc_MauNhanHieu").val());

            //4 bản sao tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoToKhai", "3");

            //5 bản sao giấy ck dăng ký nh cs
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoGiayDKNHCS", "4");

            // bản cam kết sẽ sử dụng NH  
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_CamKetSuDungNH", "5");

            //7 giay quy quyen bang tieng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_GiayUyQuyenBangTieng", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_6_Doc_GiayUyQuyenBangTieng").val());

            // 8 bản dịch tiếng việt
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichTiengViet", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#txt_6_Doc_BanDichTiengViet").val());
            
            // 9 bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_DocBanGoc", "8");

            // 10 bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Sao", "9");

            // 11 bản sao nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocSeNopSau", "10");

            // 12   bản gốc đã nộp theo số 
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocDaNopTheoDonSo", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_6_Doc_BanGocDaNopTheoDonSo").val());

            // 13  chứng từ lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ChungTuLePhi", "12");

            // 14  tài liệu bổ sung
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_TaiLieuBoSung", "13");

        } catch (e) {
            console.log(e);
        }
    }


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }

    //kiểm tra xem trong mảng có thằng nào trùng nhau không
    function CheckArrDuplicate(values) {
        var valueArr = values.map(function (item) { return item });
        var isDuplicate = valueArr.some(function (item, idx) {
            return valueArr.indexOf(item) != idx
        });
        return isDuplicate;
    }

    /// xóa những bản ghi trống
    function RepushArray(_array)
    {
       var index = _array.length - 1;
        while (index >= 0) {
            if (_array[index] === '') {
                _array.splice(index, 1);
            }
            index -= 1;
        }
        return _array;
    }

    //Lay thong tin trong bang
    function funcGetDataClassInfo(formData) {
        try {
            var item = 0;
            $("#tblClassInfo").find("tbody").find(".DataAdd").each(function () {
                var str_data = $(this).val().split('|');
                formData.append("pAppClassInfo[" + item + "].Textinput", str_data[0]);
                formData.append("pAppClassInfo[" + item + "].Code", str_data[1]);
                item++;
            });
            return true;
        }
        catch (e) {
            console.log(e);
            return false;
        }
    }
 
    // lấy thông tin đơn 2a fill vào các trường
    function chooseApp2a(_id)
    {
        try {
            var imgMauNhanHieu = $("#imgMauNhanHieu");
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            var div_chudon2a = $("#div_chudon2a");
            var div_daidienchudon2a = $("#div_daidienchudon2a");
            var div_appclass_2a = $("#div_appclass_2a");
            $.ajax({
                //string p_idthongtinchudong, string p_iddaidienchudon, string p_idappclass)

                url: '/trade-mark-share-data/get-tm04nh-info',
                type: 'POST',
                data: { pAppHeaderId: _id, p_idchudon: "_1", p_iddaidienchudon: "_2", p_idappclass: "" },
               // processData: false, contentType: false, traditional: true, dataType: "json",
              //  enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        imgMauNhanHieu.attr("src", data.LogoURL);
                        _1_txtNgayNopDon.val(data.NgayNopDon);
                        div_chudon2a.html(data.ViewChuDon);
                        div_daidienchudon2a.html(data.ViewDaiDienChuDon);
                        div_appclass_2a.html(data.ViewAppClass);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }
    }


    function funcGetCamKetChuDon(formData) {
        try {
            var address = $("#txtKhaiTai").val();
            formData.append("pInfo.Address", address);
            var dateno = $("#cboNgayKhai").val();
            formData.append("pInfo.DateNo", dateno);
            var months = $("#cboThangKhai").val();
            formData.append("pInfo.Months", months);
            var years = $("#cboNamKhai").val();
            formData.append("pInfo.Years", years);
        } catch (e) {
            console.log(e);
        }
    }


</script>
