@using WebApps.CommonFunction
@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@{
    ViewBag.Title = "Đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";

   
    var objAppHeaderInfo = new AppDetail04NHInfo();
    var lstDocumentInfo = new List<AppDocumentInfo>();
    var lstDocOther = new List<AppDocumentOthersInfo>();
    var lstClassDetailInfo = new List<AppClassDetailInfo>();
    var lstFeeInfo = new List<AppFeeFixInfo>();
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
    }
    if (ViewBag.lstDocumentInfo != null)
    {
        lstDocumentInfo = (List<AppDocumentInfo>)ViewBag.lstDocumentInfo;
    }
    if (ViewBag.lstDocOther != null)
    {
        lstDocOther = (List<AppDocumentOthersInfo>)ViewBag.lstDocOther;
    }
    if (ViewBag.lstClassDetailInfo != null)
    {
        lstClassDetailInfo = (List<AppClassDetailInfo>)ViewBag.lstClassDetailInfo;
    }
    if (ViewBag.lstFeeInfo != null)
    {
        lstFeeInfo = (List<AppFeeFixInfo>)ViewBag.lstFeeInfo;
    }
}
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Sửa đơn đăng ký nhãn hiệu</a></li>
    </ul>
</div>

<input type="hidden" id="txtAppCode" value='@objAppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>Sửa thông tin đăng ký</legend>
        <div class="div_full_100_area">
            <div class="class_left_50">
                <div class="class_text_end_radio" style="display: flex;">
                    <p class="class_text_left class_padding_right_10">Đơn này được tách ra từ đơn số</p>
                    <input style="width:33%" type="text" id="0_txtDonSo" value="@objAppHeaderInfo.Appno"  maxlength="20" placeholder="0_txtDonSo" />
                </div>
            </div>
            <div class="class_right_50">
                <div class="class_text_end_radio" style="display: flex;">
                    <p class="class_text_left  class_padding_right_10">Ngày nộp đơn</p>
                    <input style="width:33%" class="datetimepicker" type="text" value="@objAppHeaderInfo.Duadate.ToString("dd/MM/yyyy")" id="0_txtNgayNopDon" maxlength="10" placeholder="0_txtNgayNopDon" />
                </div>
            </div>
        </div>
        @* Nhan hieu *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">NHÃN HIỆU</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:180px ;height:180px" id="divLogo">
                        <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:50px">
                        <div class="file-upload btn btn-primary" style="margin-top:86px">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHTT" placeholder="0_NhanHieuTapThe" id="0_NhanHieuTapThe" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu tập thể</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHLK" placeholder="0_NhanHieuLienKet" id="0_NhanHieuLienKet" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu liên kết</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHCN" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu chứng nhận</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="0_ckbDacTinhHangHoa" value="DTHH" placeholder="0_ckbDacTinhHangHoa" id="0_ckbDacTinhHangHoa" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Đặc tính hàng hóa</p>
                </div>
            </div>
            @* Tích chọn có sử dụng đơn ưu tiên thì Enable A14 *@
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Có sử dụng dơn ưu tiên</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mầu sắc:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MauSac" maxlength="50" id="0_MauSac" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mô tả:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MoTa" maxlength="50" id="0_MoTa" />
                </div>
            </div>
        </div>
        @* 1 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỦ ĐƠN</div>
            <br />
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")
        </div>
        @* 2 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">ĐẠI DIỆN CỦA CHỦ ĐƠN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienPL" placeholder="3_txtNguoiDaiDienPL" id="3_txtNguoiDaiDienPL" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người đại diện theo pháp luật của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienSH" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienUyQuyen" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người khác được uỷ quyền của chủ đơn</p>
                </div>
            </div>
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "2")
        </div>
        @* 3  A14*@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">YÊU CẦU HƯỞNG QUYỀN ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" class="classDacTinhUT" value="1" placeholder="4_ckbNopTaiVietNam" id="4_ckbNopTaiVietNam" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) đầu tiên nộp tại Việt Nam</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" class="classDacTinhUT" value="2" placeholder="4_ckbNopTaiParis" id="4_ckbNopTaiParis" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) nộp theo Công ước Paris</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" class="classDacTinhUT" value="3" placeholder="4_ckbThoaThuanKhac" id="4_ckbThoaThuanKhac" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo thoả thuận khác</p>
                </div>
            </div>
        </div>

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỈ DẪN VỀ ĐƠN (CÁC ĐƠN) LÀ CĂN CỨ ĐỂ XÁC ĐỊNH NGÀY ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Số đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtSoDon" class="classDacTinhUT" maxlength="50" id="6_txtSoDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Ngày nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNgayNopDon" class="classDacTinhUT datetimepicker" style="width:200px" maxlength="10" id="6_txtNgayNopDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Nước nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNuocNopDon" class="classDacTinhUT" maxlength="50" id="6_txtNuocNopDon" />
                </div>
            </div>
        </div>

        @* Tài liệu có trong đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTLTrongDon.cshtml")

        @* End tai lieu dinh kem  *@

        @* Class *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHClass.cshtml")
        @* End Class *@

        @* Le phi*@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHPhiLePhi.cshtml")

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">MÔ TẢ TÓM TẮT ĐẶC TÍNH CỦA HÀNG HOÁ/DỊCH VỤ ĐƯỢC CHỨNG NHẬN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" class="classDacTinhHangHoa" disabled="disabled" name="8_ckbNguonGocDiaLy" value="NGDL" placeholder="8_ckbNguonGocDiaLy" id="8_ckbNguonGocDiaLy" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Nguồn gốc địa lý</p>
                    <input style="width:33%" type="text" id="8_txtNguonGocDiaLy" class="classDacTinhHangHoa" disabled="disabled" maxlength="100" placeholder="8_txtNguonGocDiaLy" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="8_ckbChatLuong" class="classDacTinhHangHoa" disabled="disabled" value="CLCL" placeholder="8_ckbChatLuong" id="8_ckbChatLuong" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Chất lượng</p>
                    <input style="width:33%" type="text" id="8_txtChatLuong" maxlength="100" class="classDacTinhHangHoa" disabled="disabled" placeholder="8_txtChatLuong" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="8_ckbDacTinhKhac" class="classDacTinhHangHoa" disabled="disabled" value="DTKK" placeholder="8_ckbDacTinhKhac" id="8_ckbDacTinhKhac" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Đặc tính khác</p>
                    <input style="width:33%" type="text" id="8_txtDacTinhKhac" maxlength="100" class="classDacTinhHangHoa" disabled="disabled" placeholder="8_txtDacTinhKhac" />
                </div>
            </div>
        </div>
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỦ ĐƠN KHÁC</div>
            <br />
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "9")
        </div>
        @*CHỦ ĐƠN KHÁC 1*@
        @for (int i = 10; i < 13; i++)
        {
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhac.cshtml", i.ToString())
        }
        @*TÀI LIỆU KHÁC*@

        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTaiLieuKhac.cshtml", "12")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
    </fieldset>
</div>
@Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<script>
    $("#0_ckbDacTinhHangHoa").change(function () {
        if (this.checked) { funcEnableDisable('classDacTinhHangHoa', true); } else { funcEnableDisable('classDacTinhHangHoa', false); }
    });

    function funcEnableDisable(classaction, enable) {
        if (enable == true) { $("." + classaction).removeAttr('disabled'); } else { $("." + classaction).attr('disabled', 'disabled'); }
    }

    $("#0_ckbCoSuDungDonUuTien").change(function () {
        if (this.checked) { funcEnableDisable('classDacTinhUT', true); } else { funcEnableDisable('classDacTinhUT', false); }
    });

    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        filePreview(this, 'imgMauNhanHieu');
    };

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }

    $(document).ready(function () {
        funcEnableDisable('classDacTinhUT', false);
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
    });

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }

    $("#btnGuiDon").click(function () {
        try {
            //Thông tin chủ đơn
            var formData = new FormData();
            if (funcThongTinChuDonNguoiDaiDien(formData, "1") != true) {
                return false;
            }
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('Chưa chọn loại đơn đăng ký!');
                return false;
            }
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='3_rdoDaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            //trang thai
            formData.append("pInfo.Status", 2);
            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }
            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }
            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            $.ajax({
                url: '/trade-mark/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(AddSuccess, ThongBao, function () {
                        });
                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
        }

    });

    function funcGetAppDetail(formdata) {
        try {
            var v_soDon_0 = $("#0_txtDonSo").val();
            if (v_soDon_0 === "" || v_soDon_0 == undefined) {
                showError('Số đơn không được để trống');
                $("#0_txtDonSo").focus();
                return false;
            }
            formdata.append("pDetail.Appno", v_soDon_0);
            var v_NgayNopDonn_0 = $("#0_txtNgayNopDon").val();
            if (v_NgayNopDonn_0 === "" || v_NgayNopDonn_0 == undefined) {
                showError('Phải chọn ít nhất 1 giá trị cho nhãn hiệu!');
                $("#0_txtNgayNopDon").focus();
                return false;
            }
            formdata.append("pDetail.Duadate", v_NgayNopDonn_0);
            var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();
            if (v_NhanHieu === "" || v_NhanHieu == undefined) {
                showError('Phải chọn ít nhất 1 giá trị cho nhãn hiệu!');
                return false;
            }

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formdata.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError('Mẫu nhãn hiệu không được để trống');
                $("#pfile_6_rdoMauNhanHieu").focus();
            }

            var v_DacTinh = 0;
            if ($("#0_ckbDacTinhHangHoa").prop('checked') == true) {
                v_DacTinh = 1;
            }
            formdata.append("pDetail.Dactichhanghoa", v_DacTinh);


            var v_CoSDQuyenUT = 0;
            if ($("#0_ckbCoSuDungDonUuTien").prop('checked') == true) {
                v_CoSDQuyenUT = 1;
            }
            formdata.append("pDetail.Used_Special", v_CoSDQuyenUT);

            var v_QuyenUuTien = 0;
            if (v_CoSDQuyenUT == 1) {
                v_QuyenUuTien = $("input[name='4_YCHuongQuyen']:checked").val();
                if (v_QuyenUuTien == undefined || v_QuyenUuTien == null || v_QuyenUuTien == 0) {
                    showError('Yêu cầu hưởng quyền ưu tiên phải chọn ít nhất 1 giá trị');
                    return false;
                }

                var v_Sodon_Ut = $("#6_txtSoDon").val();
                if (v_Sodon_Ut === "" || v_Sodon_Ut == undefined) {
                    showError('Số đơn ưu tiên không được để trống');
                    $("#6_txtSoDon").focus();
                    return false;
                }
                formdata.append("pDetail.Sodon_Ut", v_Sodon_Ut);

                var v_Ngaynopdon_Ut = $("#6_txtNgayNopDon").val();
                if (v_Ngaynopdon_Ut === "" || v_Ngaynopdon_Ut == undefined) {
                    showError('Ngày nộp đơn ưu tiên không được để trống');
                    $("#6_txtNgayNopDon").focus();
                    return false;
                }
                formdata.append("pDetail.Ngaynopdon_Ut", v_Ngaynopdon_Ut);


                var v_Nuocnopdon_Ut = $("#6_txtNuocNopDon").val();
                if (v_Nuocnopdon_Ut === "" || v_Nuocnopdon_Ut == undefined) {
                    showError('Nước nộp đơn ưu tiên không được để trống');
                    $("#6_txtNuocNopDon").focus();
                    return false;
                }
                formdata.append("pDetail.Nuocnopdon_Ut", v_Nuocnopdon_Ut);
            }

            formdata.append("pDetail.Huongquyenuutien", v_QuyenUuTien);

            var v_MauSac_0 = $("#0_MauSac").val();
            formdata.append("pDetail.Color", v_MauSac_0);

            var v_MoTa_0 = $("#0_MoTa").val();
            formdata.append("pDetail.Description", v_MoTa_0);

            //Lay thong tin Chu don khac 1
            var reponse = funcThongTinChuDonNguoiDaiDien(formdata, "9");
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin chu don khac 2,,3,4
            reponse = funcThongTinChuDonKhac(formdata, "10");
            if (reponse == false) {
                return false;
            }
            reponse = funcThongTinChuDonKhac(formdata, "11");
            if (reponse == false) {
                return false;
            }
            reponse = funcThongTinChuDonKhac(formdata, "12");
            if (reponse == false) {
                return false;
            }

            var v_NguonGocDL = $("#8_txtNguonGocDiaLy").val();
            if (v_NguonGocDL === "" || v_NguonGocDL == undefined) {
                showError('Nguồn gốc địa lý không được để trống');
                $("#8_txtNguonGocDiaLy").focus();
                return false;
            }
            formdata.append("pDetail.Nguongocdialy", v_NguonGocDL);

            var v_ChatLuong = $("#8_txtChatLuong").val();
            if (v_ChatLuong === "" || v_ChatLuong == undefined) {
                showError('Chất lượng không được để trống');
                $("#8_txtChatLuong").focus();
                return false;
            }
            formdata.append("pDetail.Chatluong", v_ChatLuong);

            var v_Dactinhkhac = $("#8_txtDacTinhKhac").val();
            if (v_Dactinhkhac === "" || v_Dactinhkhac == undefined) {
                showError('Đặc tính khác không được để trống');
                $("#8_txtDacTinhKhac").focus();
                return false;
            }
            formdata.append("pDetail.Dactinhkhac", v_Dactinhkhac);

        } catch (e) {
            showError('Có lỗi xảy ra kiểm tra kết nối internet');
            return false;
        }
    }

    function funGetThongTinFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            //Các tài liệu có trong đơn
            reponse = funcGetCheckValueAndText(formData, "6_rdoToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#6_txtToKhaiTrang").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#6_txtToKhaiBan").val());
            //
            //Các tài liệu có trong đơn
            reponse = funcGetCheckValueAndText(formData, "6_rdoMauNhanHieuTD", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#6_txtMauNhanHieuTD").val());
            //
            //Các tài liệu có trong đơn
            reponse = funcGetCheckValueAndText(formData, "6_rdoChungTuPhiLP", "2");
            //
            //Các tài liệu có trong đơn 3
            reponse = funcGetCheckValueAndText(formData, "6_rdoGiayUyQuyen", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#6_txtGiayUQTiengViet").val());

            // 4 6_rdoBanGoc
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanGoc", "4");

            // 5 6_rdoBanSao
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanSao", "5");

            // 6 6_rdoBanGocSeNopSau
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanGocSeNopSau", "6");

            // 7 6_rdoBanGocDaNopTheoDonSo
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanGocDaNopTheoDonSo", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#6_txtBangocDNTheoDonSo").val());
            // 8 6_rdoBanDichTiengViet
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanDichTiengViet", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", $("#6_txtBDTV_UQ").val());

            // 9 6_rdoTLXNDPSD
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLXNDPSD", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#6_TLXNDPSD").val());

            //
            // 10 6_rdoTLDKNH
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLDKNH", "10");

            // 11 6_rdoTLThuHuongNK
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLThuHuongNK", "11");


            // 12 6_rdoQuyCheSDNH
            reponse = funcGetCheckValueAndText(formData, "6_rdoQuyCheSDNH", "12");
            formData.append("pAppDocumentInfo[12].CHAR01", $("#6_txtQuyCheSDNHTrang").val());
            formData.append("pAppDocumentInfo[12].CHAR02", $("#6_txtQuyCheSDNHBan").val());

            // 13 6_rdoTLCMQUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLCMQUT", "13");
            formData.append("pAppDocumentInfo[13].CHAR01", $("#6_txtTLCMQUT").val());

            // 13 6_rdoBSDDT----------
            reponse = funcGetCheckValueAndText(formData, "6_rdoBSDDT", "14");

            // 15 6_rdoBDTVGom
            reponse = funcGetCheckValueAndText(formData, "6_rdoBDTVGom", "15");
            formData.append("pAppDocumentInfo[14].CHAR01", $("#6_txtBDTVGom").val());

            // 16 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoGiayChuyenNhungUT", "16");
            // 17 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoBanDoKVDL", "17");
            // 18 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoVBuyBanTinh", "18");
            // 19 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLKhaiTTBS", "19");
            // 20 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoPOA", "20");
            // 21 6_rdoGiayChuyenNhungUT
            reponse = funcGetCheckValueAndText(formData, "6_rdoTLK", "21");

        } catch (e) {
            console.log(e);
        }
    }


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }


    function funcPreViewApplication() {
        if ($('#divWrapperPreview').css('display') == 'block') {
            $('#divWrapperPreview').css('display', 'none');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/trade-mark/Pre-View",
            headers: { "cache-control": "no-cache" },
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#dpop-preview").html(data);
                    ShowPopupDialog_Ipace('divWrapperPreview', "Xem thông tin đơn", 900, 900, "");
                    $("#divWrapperPreview").css('margin-top', '-760px');
                }
                return false;
            }
        });
    }

    $("#btnLuuTam").click(function (formData) {
        try {
            //Thông tin chủ đơn
            var formData = new FormData();
            if (funcThongTinChuDonNguoiDaiDien(formData, "1") != true) {
                return false;
            }
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('Chưa chọn loại đơn đăng ký!');
                return false;
            }
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='3_rdoDaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            //trang thai
            formData.append("pInfo.Status", 1);
            //Lấy thông tin detail

            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }
            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }
            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            $.ajax({
                url: '/trade-mark/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert(AddSuccess, ThongBao, function () {
                        });
                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
        }
    });

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }


</script>
