@{
    string href = "/Content/POA/VNmese translation POA (Blank).doc";
}
<div class="div_full_100_area">

    <div class="divCover cls_form_title">
        <img src="/Content/icons/info.png">
        <div class="cls_form_header">
            @WebApps.Resources.Resource.lblTaiLieuTrongDon
            <a href="javascript:;" st="" class="icon icon-info" style="border:none"  ></a>
        </div>
    </div>

    @* An di theo yc cua khach hang *@
    <div class="div-search-ad" style="display:none">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblToKhaiGom</label>
                <input style="width:100px;" type="hidden" id="6_txtToKhaiTrang" maxlength="50" placeholder="...." />
                <label>......</label>
            </div>
        </div>
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.lblBan:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input style="width:80px" type="text" id="6_txtToKhaiBan" maxlength="50" value="03" placeholder="6_txtToKhaiBan" />
            </div>
        </div>
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.lblBanCoDanhMucPhanLoaiHangHoa</div>
        </div>
        <div class="div-search-content">
            <div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoToKhai")
    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_02" id="6_rdoMauNhanHieuTD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblMauNhanHieuGom</label>
            </div>
        </div>
        <div class="div-search-content">
            <div> <input style="width:160px" type="text" id="6_txtMauNhanHieuTD" value="9" maxlength="50" placeholder="6_txtMauNhanHieuTD" /></div>
        </div>
        <div class="div-search-title" style="width:412px">
            <div>@WebApps.Resources.Resource.lblMau</div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoMauNhanHieuTD")

    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_03" id="6_rdoChungTuPhiLP" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblChungTuLePhi</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoChungTuPhiLP")
    @* An di theo yc cua khach hang *@
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:600px">
                <input type="checkbox" id="6_rdoGiayUyQuyen" name="6_rdoGiayUyQuyen" value="04NH_D_04" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblGiayUyQuyen</label> <a style="margin-top: -3px; border: none;padding-left: 20px;color: blue;" href="@href" target="_blank">@WebApps.Resources.Resource.lblMauTaiVe <i class="fas fa-download" style="color: blue; font-size: 20px;"></i> </a>
                <label style="font-style:italic;color:red">&nbsp;(@WebApps.Resources.Resource.lblKhacHangFillThongTin)</label>

            </div>
        </div>
        <div class="div-search-content">
            <input style="width:160px" type="text" id="6_txtGiayUQTiengViet" disabled="disabled" maxlength="50" placeholder="6_txtGiayUQTiengViet" />
        </div>

    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoGiayUyQuyen")


    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanGoc" value="04NH_D_05" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGoc</label>
            </div>
        </div>
    </div>

    <div style="padding-top: 5px;margin-left: 40px;">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGoc")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanSao" value="04NH_D_06" />
                <label>@WebApps.Resources.Resource.lblBanSao</label>
            </div>
        </div>
    </div>

    <div class="div-search-ad" style="display:inline-flex;margin-left:80px">
        <div class="div-search-content">
            <div class="div-radio" style="width:302px">
                <input type="radio" name="bansao" value="04NH_D_07" id="6_rdoBanGocSeNopSau" onchange="return ShowHidenUpLoadRadioClick(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGocNopSau</label>
            </div>
        </div>
    </div>
    <div style="padding-top: 5px;margin-left: 80px;">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocSeNopSau")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 80px;">
        <div class="div-search-content">
            <div class="div-radio" style="width:350px">
                <input type="radio" name="bansao" value="04NH_D_08" id="6_rdoBanGocDaNopTheoDonSo" onchange="return ShowHidenUpLoadRadioClick(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGocNopTheoDonSo <a href="javascript:;" st class="icon icon-info" style="border:none" data-title="@WebApps.Resources.Resource.lblDatatitle04NHD08"></a></label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBangocDNTheoDonSo" disabled="disabled" style="width:160px" maxlength="50" placeholder="Số đơn" />
        </div>
    </div>
    <div style="margin-left: 80px;">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocDaNopTheoDonSo")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanDichTiengViet" value="04NH_D_09" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanDichTiengVietGom</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBDTV_UQ" disabled="disabled" maxlength="3" placeholder="Số trang" />
        </div>
        <div class="div-search-title" style="width:100px">
            <div>@WebApps.Resources.Resource.lblTrang</div>
        </div>
    </div>
    <div style="margin-left: 40px;">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDichTiengViet")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_10" id="6_rdoTLXNDPSD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuXacNhanDuoc</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_TLXNDPSD" disabled="disabled" maxlength="3" placeholder="Số trang" />
        </div>
        <div class="div-search-title" style="width:60px">
            <div>@WebApps.Resources.Resource.lblTrang</div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLXNDPSD")
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_11" id="6_rdoTLDKNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuXacNhanQuyenDKNH</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLDKNH")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_12" id="6_rdoTLThuHuongNK" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuDKXacNhanThuHuong</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLThuHuongNK")
    <div class="div-search-ad" style="display:inherit">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_13" id="6_rdoQuyCheSDNH" name="6_rdoQuyCheSDNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblQuyCheSuDungNH</label>
            </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHTrang" disabled="disabled" style="width:160px" maxlength="3" placeholder="@WebApps.Resources.Resource.lblTrang" />
            </div>
        </div>
        <div class="div-search-title" style="width:70px">
            <div>@WebApps.Resources.Resource.lblTrang </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHBan" disabled="disabled" maxlength="3" placeholder="@WebApps.Resources.Resource.lblSoBan" />
            </div>
        </div>
        <div class="div-search-title" style="width:65px">
            <div>@WebApps.Resources.Resource.lblBan</div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoQuyCheSDNH")


    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_18" id="6_rdoBanDoKVDL" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanDoKhuVucDiaLy</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDoKVDL")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_19" id="6_rdoVBuyBanTinh" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblVanBanUBNDTinh</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoVBuyBanTinh")


    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_20" id="6_rdoTLKhaiTTBS" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblCoTaiLieuBoTro</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLKhaiTTBS")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" value="04NH_D_22" name="6_rdoTLK" id="6_rdoTLK" />
                <label>@WebApps.Resources.Resource.lblTaiLieuKhac</label>
            </div>
        </div>
    </div>
</div>


    <script>

        $("input[id='6_rdoGiayUyQuyen'").change(function () {
            funcAddRemoveDisabled("6_rdoGiayUyQuyen", "6_txtGiayUQTiengViet");
        });

        $("input[id='6_rdoQuyCheSDNH'").change(function () {
            if ($("#6_rdoQuyCheSDNH").is(':checked')) {
                $("#6_txtQuyCheSDNHTrang").removeAttr('disabled');
                $("#6_txtQuyCheSDNHBan").removeAttr('disabled');
            } else {
                $("#6_txtQuyCheSDNHTrang").attr('disabled', 'disabled');
                $("#6_txtQuyCheSDNHBan").attr('disabled', 'disabled');
            }
        });

        $("input[id='6_rdoTLXNDPSD'").change(function () {
            funcAddRemoveDisabled("6_rdoTLXNDPSD", "6_TLXNDPSD");
        });

        $("input[id='6_rdoBanDichTiengViet'").change(function () {
            funcAddRemoveDisabled("6_rdoBanDichTiengViet", "6_txtBDTV_UQ");
        });


        $("input[id='6_rdoBanGocDaNopTheoDonSo'").change(function () {
            funcAddRemoveDisabled("6_rdoBanGocDaNopTheoDonSo", "6_txtBangocDNTheoDonSo");
        });

        $("input[id='6_rdoBanGocSeNopSau'").change(function () {
            $("#6_txtBangocDNTheoDonSo").attr('disabled', 'disabled');
        });

    </script>


