@using ObjectInfos
@model string
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";
    string txtYCCapPho = Model + "_txtYCCapPho";
    int pUseCusinfo = Common.CommonFuc.ConvertToInt(Model);
    var objAppHeaderInfo = new AppDetail04NHInfo();
    string Name = "", Address = "", Phone = "", Fax = "", Email = "", YCCapPho = "" ,DaiDienSHCN ="" ;
    if (Model == "1")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Master_Name;
            Address = objAppHeaderInfo.Master_Address;
            Phone = objAppHeaderInfo.Master_Phone;
            Fax = objAppHeaderInfo.Master_Fax;
            Email = objAppHeaderInfo.Master_Email;
        }
    }
    else if (Model == "2")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Rep_Master_Name;
            Address = objAppHeaderInfo.Rep_Master_Address;
            Phone = objAppHeaderInfo.Rep_Master_Phone;
            Fax = objAppHeaderInfo.Rep_Master_Fax;
            Email = objAppHeaderInfo.Rep_Master_Email;
            DaiDienSHCN = objAppHeaderInfo.DDSHCN;
        }
    }
    else if (Model == "9")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Cdk_Name_1;
            Address = objAppHeaderInfo.Cdk_Address_1;
            Phone = objAppHeaderInfo.Cdk_Phone_1;
            Fax = objAppHeaderInfo.Cdk_Fax_1;
            Email = objAppHeaderInfo.Cdk_Email_1;
            YCCapPho = objAppHeaderInfo.YCCapPho1;
        }
    }
    //Dùng cho khi view chi tiết đơn  ViewBag.disableView đc truyền từ form view tổng
    string disableView = "";
    if (!string.IsNullOrEmpty(ViewBag.disableView))
    {
        disableView = ViewBag.disableView;
    }

    string styleYCCP = "";
    if (YCCapPho == "Y")
    {
        styleYCCP = "checked='checked'";
    }
}
<div class="div-search-ad">
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.lblTenDayDu:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" @disableView placeholder="@WebApps.Resources.Resource.lblTenDayDu" value="@Name" id="@txtTenDayDu" />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.lblDiaChi:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" @disableView placeholder="@WebApps.Resources.Resource.lblDiaChi" value="@Address" id="@txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.lblDienThoai:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" @disableView placeholder="@WebApps.Resources.Resource.lblDienThoai" value="@Phone" maxlength="50" id="@txtDienThoai" style="width:120px" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Fax:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" @disableView placeholder="Fax" maxlength="50" value="@Fax" id="@txtFax" style="width:120px" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Email:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" @disableView placeholder="Email" value="@Email" maxlength="50" id="@txtEmail" />
        </div>
    </div>
</div>
@if (Model == "9")
{
    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" @disableView @styleYCCP name="@txtYCCapPho" value="@YCCapPho" placeholder="@txtYCCapPho" id="@txtYCCapPho" />
                <label>@WebApps.Resources.Resource.lblCoYeuCauCapPho</label>
            </div>
        </div>
    </div>
}

@if (Model == "2")
{<div class="div-search-ad">
        <div class="div-search-title">
            <div>Đại diện SHCN:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Đại diện SHCN" value="@DaiDienSHCN" id="txtDaiDienSHCN" />
            </div>
        </div>
    </div>
}
<script>
    //Lấy thông tin chủ đơn add vào formData
    //pAction 1:AddNew, 2:Sửa, 3:Xem trước thì ko cần check
    function funcThongTinChuDonNguoiDaiDien(formData, PreID, pEditOrNew) {
        try {
            //Không truyền vào thì mặc định là tạo mới bắt buộc validate
            //New khai báo ở  nvs.variables.js.cshtml
            if (pEditOrNew == undefined) pEditOrNew = New;
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();

            //Chủ đơn
            if (PreID == "1") {
                formData.append("pInfo.Master_Name", txtTenDayDu);
                formData.append("pInfo.Master_Address", txtDiaChi);
                formData.append("pInfo.Master_Phone", txtDienThoai);
                formData.append("pInfo.Master_Fax", txtFax);
                formData.append("pInfo.Master_Email", txtEmail);
            } else if (PreID == "2") { //Người đại diện
                formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
                formData.append("pInfo.Rep_Master_Address", txtDiaChi);
                formData.append("pInfo.Rep_Master_Phone", txtDienThoai);
                formData.append("pInfo.Rep_Master_Fax", txtFax);
                formData.append("pInfo.Rep_Master_Email", txtEmail);
                //Detail
            } else if (PreID == "9") {
                var ycCapPho = "N";
                if ($("#" + PreID + "_txtYCCapPho").prop('checked') == true) {
                    ycCapPho = "Y";
                }

                formData.append("pDetail.Cdk_Name_1", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_1", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_1", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_1", txtFax);
                formData.append("pDetail.Cdk_Email_1", txtEmail);
                formData.append("pDetail.YCCapPho1", ycCapPho);
            }
            return true;
        } catch (e) {
            return false;
        }
    }




</script>