@{
    string href = "/Content/POA/VNmese translation POA (Blank).doc";
}
<div class="div_full_100_area">
    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "CÁC TÀI LIỆU CÓ TRONG ĐƠN")
    <div class="class_full_div_p class_text_left_bold clssDisplaynone">Tài liệu tối thiểu</div>
    <br />
    
    @* An di theo yc cua khach hang *@
    <div class="div-search-ad" style="display:none">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Tờ khai, gồm</label>
                <input style="width:100px;" type="hidden" id="6_txtToKhaiTrang" maxlength="50" placeholder="...." />
                <label>......</label>
            </div>
        </div>
        <div class="div-search-title">
            <div>trang:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input style="width:80px" type="text" id="6_txtToKhaiBan" maxlength="50" value="03" placeholder="6_txtToKhaiBan" />
            </div>
        </div>
        <div class="div-search-title">
            <div>bản (có danh mục và phân nhóm hàng hoá, dịch vụ mang nhãn hiệu)</div>
        </div>
        <div class="div-search-content">
            <div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoToKhai")
    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_02" id="6_rdoMauNhanHieuTD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Mẫu nhãn hiệu, gồm</label>
            </div>
        </div>
        <div class="div-search-content">
            <div> <input style="width:160px" type="text" id="6_txtMauNhanHieuTD" value="9" maxlength="50" placeholder="6_txtMauNhanHieuTD" /></div>
        </div>
        <div class="div-search-title" style="width:412px">
            <div>mẫu</div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoMauNhanHieuTD")

    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_03" id="6_rdoChungTuPhiLP" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Chứng từ phí, lệ phí</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoChungTuPhiLP")
    @* An di theo yc cua khach hang *@

    @*<div class="class_full_div_p class_text_left_bold">Tài liệu khác</div>
    <br />*@

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:560px">
                <input type="checkbox" id="6_rdoGiayUyQuyen" value="04NH_D_04" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Giấy uỷ quyền bằng tiếng</label> <a style="margin-top: -3px; border: none;padding-left: 20px;color: blue;" href="@href" target="_blank">Tải mẫu về <i class="fas fa-download" style="color: blue; font-size: 20px;"></i> </a>
                <label style="font-style:italic;color:red">&nbsp;(Khách hàng điền đủ thông tin lên và tải lên)</label>

            </div>
        </div>
        <div class="div-search-content">
            <input style="width:160px" type="text" id="6_txtGiayUQTiengViet" maxlength="50" placeholder="6_txtGiayUQTiengViet" />
        </div>

    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoGiayUyQuyen")


    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanGoc" value="04NH_D_05" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>bản gốc</label>
            </div>
        </div>
    </div>


    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGoc")

    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanSao" value="04NH_D_06" />
                <label>bản sao</label>
            </div>
        </div>
    </div>

    <div class="div-search-ad" style="display:inline-flex;margin-left:80px">
        <div class="div-search-content">
            <div class="div-radio" style="width:302px">
                <input type="radio" name="bansao" value="04NH_D_07" id="6_rdoBanGocSeNopSau" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>bản gốc sẽ nộp sau</label>
            </div>
        </div>
    </div>


    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocSeNopSau")

    <div class="div-search-ad" style="display:inline-flex;margin-left: 80px;">
        <div class="div-search-content">
            <div class="div-radio" style="width:302px">
                <input type="radio" name="bansao" value="04NH_D_08" id="6_rdoBanGocDaNopTheoDonSo" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>bản gốc đã nộp theo đơn số <a href="javascript:;" st class="icon icon-info" style="border:none" data-title="Nếu Người nộp đơn không nhớ số đơn gốc thì có thể để trống, Luật sư sẽ điền thay sau"></a></label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBangocDNTheoDonSo" style="width:160px" maxlength="50" placeholder="Số đơn" />
        </div>
    </div>


    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocDaNopTheoDonSo")

    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanDichTiengViet" value="04NH_D_09" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>bản dịch tiếng Việt, gồm</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBDTV_UQ" maxlength="3" placeholder="Số trang" />
        </div>
        <div class="div-search-title" style="width:100px">
            <div>trang</div>
        </div>
    </div>


    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDichTiengViet")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_10" id="6_rdoTLXNDPSD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Tài liệu xác nhận được phép sử dụng các dấu hiệu đặc biệt (biểu tượng, cờ, huy hiệu, con dấu…), gồm</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_TLXNDPSD" maxlength="3" placeholder="Số trang" />
        </div>
        <div class="div-search-title" style="width:60px">
            <div>trang</div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLXNDPSD")
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_11" id="6_rdoTLDKNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Tài liệu xác nhận quyền đăng ký nhãn hiệu</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLDKNH")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_12" id="6_rdoTLThuHuongNK" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Tài liệu xác nhận thụ hưởng quyền đăng ký từ người khác</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLThuHuongNK")
    <div class="div-search-ad" style="display:inherit">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_13" id="6_rdoQuyCheSDNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Quy chế sử dụng NH tập thể/chứng nhận, gồm</label>
            </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHTrang" style="width:160px" maxlength="3" placeholder="Số trang" />
            </div>
        </div>
        <div class="div-search-title" style="width:70px">
            <div>trang </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHBan" maxlength="3" placeholder="Số bản" />
            </div>
        </div>
        <div class="div-search-title" style="width:65px">
            <div>bản</div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoQuyCheSDNH")


    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_18" id="6_rdoBanDoKVDL" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Bản đồ khu vực địa lý</label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDoKVDL")

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_19" id="6_rdoVBuyBanTinh" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Văn bản của UBND tỉnh, thành phố trực thuộc Trung ương cho phép sử dụng địa danh hoặc dấu hiệu khác chỉ nguồn gốc địa lý của đặc sản địa phượng </label>
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoVBuyBanTinh")


    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_20" id="6_rdoTLKhaiTTBS" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Có tài liệu bổ trợ khai tại trang bổ sung</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialTaiLieuTrongDon.cshtml", "6_rdoTLKhaiTTBS")
 
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_22" id="6_rdoTLK" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>Tài liệu khác</label>
            </div>
        </div>
    </div>
</div>

