<div id="toolbox">
    <ul>
        <li class="toTop" style=""><a href="#top" title="@WebApps.Resources.Resource.lblLenTrangDau"><i style=" font-size: 27px; color: green;" class="fa fa-home"></i></a></li>
        @*<li class="email"><a href="javascript:;" title="@WebApps.Resources.Resource.lblXemTruoc"><i class="fa fa-eye" target="_blank" onclick="return funcPreViewApplication();" style=" font-size: 27px; color: green;"></i></a></li>*@

        <li class="email"><a href="javascript:;" title="Phí"><i class="fas fa-dollar-sign" size="9x" target="_blank" onclick="return funcPreViewFee();" style="font-size: 27px;margin-left: 8px;color: green;"></i></a></li>

        <li class="email">
            <a href="javascript:;" onclick="return funcPreViewApplication('VI_VN');" title="Xem trước VN">
                <img src="/Content/icons/icon_vn.png" style="margin-left: 3px;width: 25px;height: 30px;" />
            </a>
        </li>

        <li class="email">
            <a href="javascript:;" onclick="return funcPreViewApplication('EN_US');" title="Xem trước VN">
                <img src="/Content/icons/england.png" style="width: 25px;height: 30px;"/>
            </a>
        </li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>


<script>

    function funGetDataTM04NHPreview(ptype, url, p_Lang) {
         try {
             //Thông tin chủ đơn
             var formData = new FormData();

            if (funcThongTinChuDonNguoiDaiDien(formData, "1", View) != true) {
                return false;
            }
            var v_AppCode = $("#txtAppCode").val();
            formData.append("pInfo.Appcode", v_AppCode);
            formData.append("pInfo.Languague_Code", '@WebApps.CommonFunction.AppsCommon.GetCurrentLang()');
            formData.append("pInfo.View_Language_Report", p_Lang);

            var v_AppHeaderID = $("#txtAppHeaderID").val();
            formData.append("pInfo.Id", v_AppHeaderID);

            //var daidienSH = $("#txtDaiDienSHCN").val();
            //formData.append("pInfo.DDSHCN", daidienSH);

             if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
             }

             var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
             formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

             //trang thai
             formData.append("pInfo.Status", ptype);

             //07/09/2018
             //var madhsh = $("#txtMADDSHCN").val();
             //formData.append("pInfo.MADDSHCN", madhsh);

             //Lấy thông tin detail
             var reponse = funcGetAppDetail(formData, 1, ptype);
             if (reponse == false) {
                return false;
             }
            //Lấy thông tin file có trong đơn
             reponse = funGetThongTinFile(formData);
             if (reponse == false) {
                return false;
             }

            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
             }

            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            //
            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

             $.ajax({
                 url: url,
                 type: 'POST',
                 data: formData,
                 processData: false, contentType: false, traditional: true, dataType: "json",
                 enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                 success: function (data) {
                     if (data != null && data.status >= 0) {
                         return true;
                     } else {
                         return false;
                     }
                 },
                 error: function (e) {
                     console.log(e);
                 }
             });

            return true;
        } catch (e) {
            alert(e.toString());
        }
    }

    function funcPreViewFee() {

        var ptype = 3;

        //Thông tin chủ đơn
        var formData = new FormData();

        if (funcThongTinChuDonNguoiDaiDien(formData, "1", View) != true) {
        return false;
        }
        var v_AppCode = $("#txtAppCode").val();
        formData.append("pInfo.Appcode", v_AppCode);
        formData.append("pInfo.Languague_Code", '@WebApps.CommonFunction.AppsCommon.GetCurrentLang()');

        var v_AppHeaderID = $("#txtAppHeaderID").val();
        formData.append("pInfo.Id", v_AppHeaderID);

        //var daidienSH = $("#txtDaiDienSHCN").val();
        //formData.append("pInfo.DDSHCN", daidienSH);

        if (funcThongTinDaiDienChuDon(formData, "2") != true) {
            return false;
        }

        var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

        //trang thai
        formData.append("pInfo.Status", ptype);

        //07/09/2018
        //var madhsh = $("#txtMADDSHCN").val();
        //formData.append("pInfo.MADDSHCN", madhsh);

        //Lấy thông tin detail
        var reponse = funcGetAppDetail(formData, 1, ptype);
        if (reponse == false) {
            return false;
        }
        //Lấy thông tin file có trong đơn
        reponse = funGetThongTinFile(formData);
        if (reponse == false) {
            return false;
        }

        reponse = funcGetDataClassInfo(formData);
        if (reponse == false) {
            return false;
        }

        //lay tai lieu khac
        reponse = funcGetTenTaiLieuKhac(formData);
        if (reponse == false) {
            return false;
        }
        //
        reponse = funcGetCamKetChuDon(formData);
        if (reponse == false) {
            return false;
        }

        $.ajax({
            url: "/trade-mark/getFee",
            type: 'POST',
            data: formData,
            dataType: "json",
            async: true,
            cache: false,
            traditional: true,
            contentType: false,
            processData: false,
            beforeSend: function () {
                CreateRollingWaitingIcon(true);
            },
            success: function (data) {
                CreateRollingWaitingIcon(false);
                if (data != null) {

                    $("#divPopUpFee").html(data.PartialTableListFees);

                    //$("#divPopUpFee").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpFee', '@Html.Raw(WebApps.Resources.Resource.ThongTinFee)', 800, 1200);
                }
                return false;
            }
        });
    }

    function funcPreViewApplication(p_Lang) {

        var preturn = funGetDataTM04NHPreview(3, "/trade-mark/ket_xuat_file", p_Lang);
         if (preturn == true || preturn == undefined) {
             OpenPreview("/trade-mark/Pre-View");
         }
    }


    function OpenPreview(url) {
        try {
            w = 1100; //độ rộng form popup
            h = 600;//chiều cao
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;  // for 25% - devide by 4  |  for 33% - devide by 3
            var targetWin = window.open(url, 'Xem thông tin đơn', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        } catch (e) {
        }
    }
</script>