@using System
@using System.Data
@using ObjectInfos
@model string
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";
    string txtYCCapPho = Model + "_txtYCCapPho";
    var objAppHeaderInfo = new AppDetail04NHInfo();
    string Name = "", Address = "", Phone = "", Fax = "", Email = "" ,YCCapPho ="";
    string styleYCCP = "";
    if (Model == "10")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Cdk_Name_2;
            Address = objAppHeaderInfo.Cdk_Address_2;
            Phone = objAppHeaderInfo.Cdk_Phone_2;
            Fax = objAppHeaderInfo.Cdk_Fax_2;
            Email = objAppHeaderInfo.Cdk_Email_2;
            YCCapPho = objAppHeaderInfo.YCCapPho2;
        }
    }else if (Model == "11")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Cdk_Name_3;
            Address = objAppHeaderInfo.Cdk_Address_3;
            Phone = objAppHeaderInfo.Cdk_Phone_3;
            Fax = objAppHeaderInfo.Cdk_Fax_3;
            Email = objAppHeaderInfo.Cdk_Email_3;
            YCCapPho = objAppHeaderInfo.YCCapPho3;
        }
    }
    else if (Model == "12")
    {
        if (ViewBag.objAppHeaderInfo != null)
        {
            objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
            Name = objAppHeaderInfo.Cdk_Name_4;
            Address = objAppHeaderInfo.Cdk_Address_4;
            Phone = objAppHeaderInfo.Cdk_Phone_4;
            Fax = objAppHeaderInfo.Cdk_Fax_4;
            Email = objAppHeaderInfo.Cdk_Email_4;
            YCCapPho = objAppHeaderInfo.YCCapPho4;
        }
    }
    //Dùng cho khi view chi tiết đơn  ViewBag.disableView đc truyền từ form view tổng
    string disableView = "";
    if (!string.IsNullOrEmpty(ViewBag.disableView))
    {
        disableView = ViewBag.disableView;
    }
    if (YCCapPho == "Y")
    {
        styleYCCP = "checked='checked'";
    }
    int pUseCusinfo = Common.CommonFuc.ConvertToInt(Model);
}
<div class="div_full_100_area">
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Tên đầy đủ:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" @disableView placeholder="Tên đầy đủ" value="@Name" id="@txtTenDayDu" />
            </div>
        </div>
        @if (!disableView.Contains("disabled"))
        {
            @* Khách hàng cũ lấy lại các thông tin  *@
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDonKhacReuse.cshtml", pUseCusinfo)
        }
    </div>
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Địa chỉ:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" @disableView placeholder="Địa chỉ" value="@Address" i id="@txtDiaChi" />
            </div>
        </div>
    </div>
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Điện thoại:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" @disableView placeholder="Điện thoại" value="@Phone" i maxlength="50" id="@txtDienThoai" style="width:120px" />
            </div>
        </div>

        <div class="div-search-title">
            <div>Fax:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" @disableView placeholder="Fax" value="@Fax" i maxlength="50" id="@txtFax" style="width:120px" />
            </div>
        </div>
        <div class="div-search-title">
            <div>Email:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" @disableView placeholder="Email" maxlength="50" value="@Email" i id="@txtEmail" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" @disableView  @styleYCCP  name="@txtYCCapPho" value="@YCCapPho" placeholder="@txtYCCapPho" id="@txtYCCapPho" />
                <label>Có yêu cầu cấp Phó bản Giấy chứng nhận đăng ký nhãn hiệu</label>
            </div>
        </div>
    </div>

</div>



<script>
    //Lấy thông tin chủ đơn add vào formData
    function funcThongTinChuDonKhac(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            //if (txtTenDayDu === "") {
            //    $("#" + PreID + "_txtTenDayDu").focus().val('');
            //    showError('Tên không được để trống!');
            //    return false;
            //}
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            //if (txtDiaChi === "") {
            //    $("#" + PreID + "_txtDiaChi").focus().val('');
            //    showError('Địa chỉ không được để trống!');
            //    return false;
            //}
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('Email không đúng định dạng!');
                    return false;
                }
            }
            var ycCapPho = "N";
            if ($("#" + PreID + "_txtYCCapPho").prop('checked') == true) {
                ycCapPho = "Y";
            }

            //Chủ đơn
            if (PreID == "10") {
                formData.append("pDetail.Cdk_Name_2", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_2", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_2", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_2", txtFax);
                formData.append("pDetail.Cdk_Email_2", txtEmail);
                formData.append("pDetail.YCCapPho2", ycCapPho);
            } else if (PreID == "11") {
                formData.append("pDetail.Cdk_Name_3", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_3", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_3", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_3", txtFax);
                formData.append("pDetail.Cdk_Email_3", txtEmail);
                formData.append("pDetail.YCCapPho3", ycCapPho);
            }
            else if (PreID == "12") {
                formData.append("pDetail.Cdk_Name_4", txtTenDayDu);
                formData.append("pDetail.Cdk_Address_4", txtDiaChi);
                formData.append("pDetail.Cdk_Phone_4", txtDienThoai);
                formData.append("pDetail.Cdk_Fax_4", txtFax);
                formData.append("pDetail.Cdk_Email_4", txtEmail);
                formData.append("pDetail.YCCapPho4", ycCapPho);
            }
            return true;
        } catch (e) {
            return false;
        }
    }
</script>
