@using WebApps.CommonFunction
@using Common.CommonData
@using ObjectInfos
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@{
    ViewBag.Title = "Đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");

    string _Search_Code = "";
    if (ViewBag.SearchCode != null)
    {
        _Search_Code = (string)ViewBag.SearchCode;
    }

    string _Logourl = "";
    if (ViewBag.Logourl != null)
    {
        _Logourl = (string)ViewBag.Logourl;
    }

    int _Logochu = 0;
    if (ViewBag.Logochu != null)
    {
        _Logochu = (int)ViewBag.Logochu;
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    string urlLogoChu = "";
    if (!string.IsNullOrEmpty(_Logourl) && _Logochu != 1)
    {
        urlMauNhanHieu = _Logourl.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(_Logourl) && _Logochu == 1)
    {
        urlLogoChu = _Logourl;
    }


    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("F04");
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 110px;
    }

    a.icon :hover {
        display: block !important;
        z-index: 100;
        left: 0px;
        margin: 10px;
        width: 250px !important;
        position: absolute !important;
        top: 10px;
    }

    .customSwalBtnCancel {
        border: 0;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        height: auto;
        width: 26%;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .customSwalBtnOK, customSwalBtnResize {
        border: 0;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        height: auto;
        width: 26%;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    #divCheckbox_F04_10, #divCheckbox_F04_15 {
        width: 190px !important;
    }
</style>
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="/application/register/VN">@Resource.lblNopdon</a>
            <span class="red">></span>
            <a href="/application/register/VN">@Resource.VietNam</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM2A_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")
        </div>
        <div class="div_full_100_area">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.lblNgayNopDon</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input class="datetimepicker" type="text" id="0_txtNgayNopDon" maxlength="10" />
                    </div>
                </div>
            </div>
        </div>
        @* 1 *@
        <div class="div_full_100_area">
            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    APPLICANT
                </div>
            </div>
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px">
                        <input type="radio" name="Applicant_Type" class="" value="1"  />
                        <label>Individual</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="Applicant_Type" class="" value="2"  />
                        <label>Legal entity or organization</label>
                    </div>
                </div>
            </div>


        </div>




        @*<div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    REPRESENTATIVE
                </div>
            </div>

            <div id="div_PartialThongTinChuDon">
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div> @Resource.lblTenDayDu <i class="redspan">(*)</i></div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input value="" type="text" maxlength="200" id="txtTenDayDu" />
                        </div>
                    </div>
                </div>


                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div> @Resource.lblDiaChi <i class="redspan">(*)</i> </div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input value="" type="text" maxlength="200" id="txtDiaChi" />
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div> @Resource.lblDienThoai: </div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" value="" maxlength="50" id="txtDienThoai" style="width: 250px;" />
                        </div>
                    </div>

                    <div class="div-search-title">
                        <div> Fax: </div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input value="" type="text" maxlength="50" id="txtFax" />
                        </div>
                    </div>
                    <div class="div-search-title">
                        <div>Email:  </div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input value="" type="text" maxlength="50" id="txtEmail" />
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Business line of application
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title" style="height: 100px;">
                <div>@WebApps.Resources.Resource.lblMoTa:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <textarea id="2_MoTa" maxlength="2000" rows="5" cols="10" style="height:102px"></textarea>
                </div>
            </div>
        </div>


        @* Nhan hieu *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Specimen of the mark(Place a copy of the mark in the box.The mark should be clear enough to be reproduced and digitized)")

            <div class="class_full_div_input_extent">
                <div class="class_left_40">

                    <div class="class_block_title_control" style="display:flex;margin-top: 10px;">
                        <div style="width:165px ;height:165px;margin-left: 10px;" id="divLogo">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container" id="divckbNhanHieuAnh" style="flex-grow:1;padding-top:50px">
                            <div class="file-upload btn btn-primary" style="margin-top:95px">
                                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                                <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                            </div>
                        </div>
                        <div id="divckbNhanHieuChu" style="display:none">
                            <div style="width:165px ;height:165px;margin-left: 10px;">
                                <input type="text" class="classChuNhanHieu" id="txtChuNhanHieu" value="@urlLogoChu" style="height:160px;width:160px;text-align: center;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="class_right_60" style="display:block">
                    @* Thêm mục đích sau này Admin đặt tên theo qui tắc phục vụ tìm kiếm *@
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>@WebApps.Resources.Resource.lblTenNhanHieu:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" maxlength="50" id="0_txtTenNhanHieu" />
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>@WebApps.Resources.Resource.lblMauSac :</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" maxlength="50" id="0_MauSac" />
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-title" style="height: 100px;">
                            <div>@WebApps.Resources.Resource.lblMoTa:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <textarea id="0_MoTa" maxlength="2000" rows="5" cols="10" style="height:102px"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title" style="height: 100px;">
                            <div>Translation of word(s) mark*</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <textarea id="1_MoTa" maxlength="2000" rows="5" cols="10" style="height:102px"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <i id="tagSuggessIMG" style="color:red;font-weight:bold;margin-left:120px">(@WebApps.Resources.Resource.lblSizeOfPicture)</i>
            <a href="javascript:;" st="" class="icon icon-info tip" data-placement="right" style="border:none"
               data-title="@Resource.TooltipSizeofImage"></a>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHNM" id="0_NhanHieuThongThuong" />
                        <label>@WebApps.Resources.Resource.NormalTrademark</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHTT" id="0_NhanHieuTapThe" />
                        <label>@WebApps.Resources.Resource.lblNhanHieuTapThe</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHLK" id="0_NhanHieuLienKet" />
                        <label>@WebApps.Resources.Resource.lblNhanHieuLienKet</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" value="NHCN" class="classNhanHieu"  id="0_NhanHieuChungNhan"  />
                        <label>@WebApps.Resources.Resource.lblNhanHieuChungNhan</label>
                    </div>
                </div>
            </div>


        </div>

        @* 2 *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                GOODS AND/OR SERVICES COVERED BY THE APPLICATION (NICE CLASSIFICATION)
            </div>
        </div>

        <div id="" data-id="" class="clsDivDonUTien">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 150px"> Class No. </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="50" id="ClassNo" />
                    </div>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                CLAIM FOR PRIORITY
            </div>
        </div>



        <div id="" data-id="" class="clsDivDonUTien">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 150px"> @Resource.SoDon <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="200" id="1_UT_txtSoDon" style="width:200px" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div> @Resource.NgayNopDon <i class="redspan">(*)</i> </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="1_UT_txtNgayNopDon" class="datetimepicker" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 150px">@WebApps.Resources.Resource.NuocNopQuyenUuTien <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <select id="1_UT_txtQuocGia">
                            @foreach (var item in MemoryData.c_lst_Country)
                            {
                                if (item.Country_Id == Common.Common.Country_VietNam_Id)
                                {
                                    <option selected="selected" value="@item.Country_Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Country_Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        @* Tài liệu có trong đơn *@
        @*@Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTLTrongDon.cshtml")*@

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>
        @* id doc | id của check box | level | lable | lable 2 | is upload *@

        <div class="divCover cls_form_title">
            <b>@Resource.TaiLieuToiThieu.ToUpper()</b>
        </div>

        @foreach (Sys_Document_Info item in _lst_doc)
        {
            string _model = item.Doc_Id + "|" + item.Check_Box_Id + "|" + item.Doc_Level + "|" + item.Content_1 + "|" + item.Content_2 + "|" + item.Is_Upload + "|" + item.Width + "|" + item.Content_3;
            if (item.Doc_Id == "F04_10" || item.Doc_Id == "F04_15")
            {
                _model += "|Submit date";
            }
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model)
        }

        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml")
        @* CAM KẾT CHỦ ĐƠN  *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialViewNgayThangNam.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@WebApps.Resources.Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@WebApps.Resources.Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>
<input type="hidden" id="txtDateTime" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
<input type="hidden" id="ActionView" value="N" />
@Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialPreview_IUNN.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="iconFormConfirm" style="">?</div>
        <div style="text-align:center">@Html.Raw(WebApps.Resources.Resource.KichThuoc2288)</div>
        <div style="overflow: hidden">
            <div onclick="ActionOk()" class="btnRS">OK</div>
            <div onclick="ActionResize()" class="btnRS">Resize</div>
            <div onclick="ActionCancel()" style="background:rgb(170, 170, 170)" class="btnRS">Cancel</div>
        </div>
    </div>
</div>


<style>
    .div-search-content .ms-ul > ul {
        margin-left: 0px;
    }

    .ms-drop {
        width: 100% !important;
    }
</style>
<script>
    $(document).ready(function () {
        //Search suggestion
        var Name = $("#txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#txtTenDayDu").val(arrVal[0]);
                            $("#txtDiaChi").val(arrVal[1]);
                            $("#txtDienThoai").val(arrVal[2]);
                            $("#txtFax").val(arrVal[3]);
                            $("#txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });
    //nếu dùng checkbox
    $(document).ready(function () {
        //$('.classNhanHieu').click(function () {
        //    $('.classNhanHieu').not(this).prop('checked', false);
        //});

        //var _divCheckbox = document.getElementById('divCheckbox_04NH_D_10');
        //_divCheckbox.style.width = '650px';


    });

    $(function ()
    {
        try {
            var availableTags = [];
            var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
            for (var i = 0; i < array.length; i++) {
                availableTags[i] = array[i];
            }
            $("#txtTenHangHoa").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                    response(results.slice(0, 100));
                },
                select: function (event, ui) {
                    $("#txtClass").val(ui.item.value);
                    //return false;
                    var textinput = $("#txtTenHangHoa").val();
                    event.preventDefault();
                    funcAddDataRowSuggest(ui.item.label, ui.item.value);
                    $("#txtTenHangHoa").val("");

                },
                focus: function (event, ui) {
                    var arrResult = $(".ui-menu-item");
                    for (var i = 0; i < arrResult.length; i++) {
                        var label = $.trim($(arrResult[i]).text().split("-")[0]);
                        if (label == ui.item.name) {
                            $(".clsLiActive").removeClass("clsLiActive")
                            $(arrResult[i]).addClass("clsLiActive");
                            break;
                        }
                    }
                    event.preventDefault();
                }
            });
        } catch (e) {
        }
    });


    function GetThongTinDaiDien(vChoise) {
        try {
            $.ajax({
                url: '/trade-mark/funcGetTTDHSH/',
                type: 'POST',
                data: {
                    pKeyData: "", pDDSH:vChoise,   pEdit: 0,  pID:0,   pStatus:0
                },
                async: false, cache: false, traditional: true,
                success: function (data) {
                    if (data != null)
                    {
                        if (vChoise == "DDPL") {
                            $("#divDDPLChoise").html(data);
                            $("#divDDSHChoise").html("");
                            $("#divDDUQChoise").html("");
                        }
                        else if (vChoise == "DDSH") {
                            $("#divDDSHChoise").html(data);
                            $("#divDDPLChoise").html("");
                            $("#divDDUQChoise").html("");
                        }
                        else if (vChoise == "DDUQ") {
                            $("#divDDUQChoise").html(data);
                            $("#divDDPLChoise").html("");
                            $("#divDDSHChoise").html("");
                        }
                        //$("#txtDaiDienSHCN").val("");
                        //$("#txtMADDSHCN").val("");

                        var txtTenDayDu_02 = $("#2_txtTenDayDu").val();
                        $.ajax({
                            url: '/trade-mark/GetNameSuggestKhac/',
                            type: 'POST',
                            data: {
                                pName: txtTenDayDu_02,
                                pNumber: 5
                            },
                            sync: true, cache: false, traditional: true,
                            success: function (data) {
                                var lts = data.lst;
                                $('#2_txtTenDayDu').autocomplete({
                                    autoFocus: true,
                                    source: function (request, response) {
                                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                                        response($.grep(lts, function (item) {
                                            return matcher.test(item.value);
                                        }));
                                    },
                                    select: function (event, ui) {
                                        $("#2_txtTenDayDu").val("");
                                        event.preventDefault();
                                        funcChuDonKhacReuse02(ui.item.value);
                                    },
                                    focus: function (event, ui) {
                                        var arrResult = $(".ui-menu-item");
                                        for (var i = 0; i < arrResult.length; i++) {
                                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                                            if (label == ui.item.name) {
                                                $(".clsLiActive").removeClass("clsLiActive")
                                                $(arrResult[i]).addClass("clsLiActive");
                                                break;
                                            }
                                        }
                                        event.preventDefault();
                                    },
                                    open: function (event, ui) {
                                        $("ul").scrollTop(0);
                                        event.preventDefault();
                                    },
                                });

                            }
                        });
                    }
                }
            });
        } catch (e) {
        }
    }

    $('#cboKhachHangCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false,
        width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });

    $('#cboDaiDienChuDonCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false,
        width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });

    $('#9_cboDaiDienChuDonCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false,
        width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });

    $('#10_cboDaiDienChuDonCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false,
        width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });

    $('#11_cboDaiDienChuDonCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false, width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });

    $('#12_cboDaiDienChuDonCu').multipleSelect({
        filter: true,
        noMatchesFound: "@WebApps.Resources.Resource.KhongCoDuLieu",
        single: true,
        isdatastring: false, width: '100%',
        placeholder: '@WebApps.Resources.Resource.TimKiemKhachHang'
    });


    function funcAddRemoveDisabled(pIDControl, ptxtDisable) {
        try {
            if ($("#" + pIDControl).is(':checked')) {
                $("#" + ptxtDisable).removeAttr('disabled');
            } else {
                $("#" + ptxtDisable).attr('disabled', 'disabled');
            }
        } catch (e) {

        }
    }

    $("input[name='0_NhanHieu'").change(function () {
        var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();
        if (v_NhanHieu == "NHCN") {
            $("#divNhanHieuChungNhan").css('display', 'block')
        } else {
            $('#0_ckbDacTinhHangHoa').prop('checked', false);
            $('#8_ckbNguonGocDiaLy').prop('checked', false);
            $('#8_ckbChatLuong').prop('checked', false);
            $('#8_ckbDacTinhKhac').prop('checked', false);

            $("#8_txtNguonGocDiaLy").val("");
            $("#8_txtChatLuong").val("");
            $("#8_txtDacTinhKhac").val("");
            $("#divNhanHieuChungNhan").css('display', 'none');
        }
    });


    $('#6_txtNuocNopDon').multipleSelect({
        filter: true,
        noMatchesFound: '@WebApps.Resources.Resource.KhongCoDuLieu',
        single: true,
        isdatastring: false,
        placeholder: '@WebApps.Resources.Resource.TM2B_TimKiemQuocGia'
    });

    $("#6_txtNuocNopDon").multipleSelect("disable");


    $("#0_ckbDacTinhHangHoa").change(function () {
        if (this.checked) { funcEnableDisable('classDacTinhHangHoa', true); } else { funcEnableDisable('classDacTinhHangHoa', false); }
    });

    function funcEnableDisable(classaction, enable) {
        if (enable == true) { $("." + classaction).removeAttr('disabled'); } else { $("." + classaction).attr('disabled', 'disabled'); }
    }

    var _checkanh = 0;
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        _checkanh = 0;
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');

        //kiểm tra ảnh có đúng kích cỡ hay không?
        if (this.files[0].type.indexOf("image") != -1) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
                //2x2 75x75 px , 8x8 302x302
                if (iheight > 302 || iheight < 75 || iwidth > 302 || iwidth < 75) {
                    _checkanh = 1;
                    @*nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.KichThuoc2288)", function () {
                        return true;
                    }, function () {
                        //Callback
                        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                    });*@


                    showFResize();

                } else {
                    nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmFile)", function () {
                        return true;
                    }, function () {
                        //Callback
                        $('#pfile_6_rdoMauNhanHieu').val('');
                        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                    });
                    // return true;
                }
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("@Html.Raw(WebApps.Resources.Resource.ThongBao)", "@Html.Raw(WebApps.Resources.Resource.FileKhongPhaiLaAnh)", "");
            _checkanh = 2;
        }
    };

    function ActionOk(){
        $("#myModal").css("display","none");
        return true;
    }
    function ActionCancel(){
        $("#myModal").css("display","none");
        $('#pfile_6_rdoMauNhanHieu').val('');
        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
    }
    function ActionResize(){
        $("#myModal").css("display","none");
        $('#pfile_6_rdoMauNhanHieu').val('');
        window.open("https://picresize.com/", '_blank');

    }

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }

    $(document).ready(function () {
        funcEnableDisable('classDacTinhUT', false);
        funcEnableDisable('ClassOtherDisable', false);
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });

        //var v_DDSHCN = $("input[name='3_rdoDaiDienChuDon']:checked").val();
        //GetThongTinDaiDien(v_DDSHCN);

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });

     
    });

   

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }


    $("#btnGuiDon").click(function () {
        var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();

        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
            var url = "/trade-mark/dang_ky_nhan_hieu_nn";
            funGetData_A04(2, url);
        });
    });

    function funcGetAppDetail(formdata, pEditOrNew, pPreView) {
        try {
            if (pEditOrNew == undefined) pEditOrNew = 1;
            if (pPreView == undefined) pPreView = 0;


            /// return true if strDate1 <= strDate2
            //function compareDate_N0(strDate1, strDate2) {
            var timenow = $("#txtDateTime").val();



            var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();
            formdata.append("pDetail.LoaiNhanHieu", v_NhanHieu);


            var codeNhanHieu = $("#0_txtTenNhanHieu").val();
            formdata.append("pDetail.CodeLogo", codeNhanHieu);

            var v_MauSac_0 = $("#0_MauSac").val();
            formdata.append("pDetail.Color", v_MauSac_0);

            var v_MoTa_0 = $("#0_MoTa").val();
            formdata.append("pDetail.Description", v_MoTa_0);

            var v_2_MoTa = $("#2_MoTa").val();
            formdata.append("pDetail.Business_Line", v_2_MoTa);


            var v_MoTa_1 = $("#1_MoTa").val();
            formdata.append("pDetail.Translation_Of_Word", v_MoTa_1);

            var v_UT_txtSoDon = $("#1_UT_txtSoDon").val();
            formdata.append("pDetail.Sodon_ut", v_UT_txtSoDon);

            var v_UT_txtNgayNopDon = $("#1_UT_txtNgayNopDon").val();
            formdata.append("pDetail.Ngaynopdon_ut", v_UT_txtNgayNopDon);

            var v_UT_txtQuocGia = $("#1_UT_txtQuocGia").val();
            formdata.append("pDetail.Nuocnopdon_ut", v_UT_txtQuocGia);

            var v_ClassNo = $("#ClassNo").val();
            formdata.append("pDetail.ClassNo", v_ClassNo);

            var v_NgayNopDonn_0 = $("#0_txtNgayNopDon").val();
            formdata.append("pDetail.Duadate", v_NgayNopDonn_0);

            var v_Applicant_Type = $('input[name=Applicant_Type]:checked').val(); 
            formdata.append("pDetail.Applicant_Type", v_Applicant_Type);
    
           

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formdata.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError("@Html.Raw(WebApps.Resources.Resource.lblMauNhanHieu + Resource.KhongDuocDeTrong)");
                $("#pfile_6_rdoMauNhanHieu").focus();
            }

        } catch (e) {
            showError('Có lỗi xảy ra kiểm tra kết nối internet');
            return false;
        }
    }

    $("#ckb_DOC_20").change(function () {
        if ($("#ckb_DOC_20").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });



    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(@WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                var url = "/trade-mark/dang_ky_nhan_hieu_nn";
                funGetData_A04(1, url);
            });
        } catch (e) {
        }
    });

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    function funGetData_A04(ptype, url) {
        try {
            //Thông tin chủ đơn
            var formData = new FormData();

            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            if (funcThongTinChuDonNguoiDaiDien(formData, "1", New) != true) {
                return false;
            }

            @*if (_checkanh === 1 && ptype !=1) {
                showError("@Html.Raw(WebApps.Resources.Resource.AnhTaiLen8x8)");
                return false;
            }*@
            if (_checkanh === 2 && ptype != 1) {
                showError("@Html.Raw(WebApps.Resources.Resource.FileAnhKhongDungDinhDang)");
                return false;
            }
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "" && ptype != 1) {
                $('#txtAppCode').focus().val('');
                showError('Chưa chọn loại đơn đăng ký!');
                return false;
            }
            formData.append("pInfo.Appcode", v_AppCode);
            formData.append("pInfo.Search_Code", '@_Search_Code');

            //
            //if (funcThongTinChuDonNguoiDaiDien(formData, "2", New) != true) {
            //    return false;
            //}
            //var v_RepMasterType = $("input[name='3_rdoDaiDienChuDon']:checked").val();
            //if ((v_RepMasterType === "" || v_RepMasterType == undefined) && ptype != 1) {
            //    showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
            //    return false;
            //}
            //var daidienSH = $("#txtDaiDienSHCN").val();
            //formData.append("pInfo.DDSHCN", daidienSH);

            //07/09/2018
            //var madhsh = $("#txtMADDSHCN").val();
            //formData.append("pInfo.MADDSHCN", madhsh);

            if (funcThongTinDaiDienChuDon(formData, "1") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#_2_rdoNguoiDaiDienPL").focus()
                });
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

            //trang thai
            formData.append("pInfo.Status", ptype);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData, New);
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin file có trong đơn


            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            //
            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        if (ptype == 1) {
                            nvsAlert('@Resource.LuuTamThanhCong', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            nvsAlert('@Resource.GuiDonThanhCong', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        }

                        return true;
                    } else {
                        nvsError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

            return true;
        } catch (e) {

        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", "");


            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_03", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_04", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_07", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_08", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_09", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_10", "9");
            formData.append("pAppDocumentInfo[9].CHAR01",  $("#txt_DOC_10").val());
            formData.append("pAppDocumentInfo[9].CHAR02",  $("#txt_DOC_10_2").val());
            formData.append("pAppDocumentInfo[9].CHAR03",  $("#txt_DOC_10_3").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_11", "10");
            formData.append("pAppDocumentInfo[10].CHAR01",  "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_12", "11");
            formData.append("pAppDocumentInfo[11].CHAR01",  "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_13", "12");
            formData.append("pAppDocumentInfo[12].CHAR01",  "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_14", "13");
            formData.append("pAppDocumentInfo[13].CHAR01",  "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_15", "14");
            formData.append("pAppDocumentInfo[14].CHAR01",  $("#txt_DOC_15").val());
            formData.append("pAppDocumentInfo[14].CHAR02",  $("#txt_DOC_15_2").val());
            formData.append("pAppDocumentInfo[14].CHAR03",  $("#txt_DOC_15_3").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_16", "15");
            formData.append("pAppDocumentInfo[15].CHAR01",  "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_17", "16");
            formData.append("pAppDocumentInfo[16].CHAR01",  "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_18", "17");
            formData.append("pAppDocumentInfo[17].CHAR01",  "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_19", "18");
            formData.append("pAppDocumentInfo[18].CHAR01",  "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_20", "19");
            formData.append("pAppDocumentInfo[19].CHAR01",  "");

        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }


    $(document).on('dblclick', '.classDaiDienChuDon', function () {
        if (this.checked) {
            $(this).prop('checked', false);
            $("#divDDPLChoise").empty();
            $("#divDDSHChoise").empty();
            $("#divDDUQChoise").empty();

        }
    });

    function changeFontSize()
    {
        try {
            document.getElementById("txtChuNhanHieu").style.fontSize = document.getElementById("txtFontSize").value + "px";
        } catch (e) {

        }
    }

    function funcChoiseDonUT(pID) {
        try {
            if (pID == "0_ckbCoSuDungDonUuTien") {
                $('#0_ckbCoSuDungDonUuTien').prop('checked', true);
                $('#KOUT').prop('checked', false);

                $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");

            } else {
                $('#KOUT').prop('checked', true);
                $('#0_ckbCoSuDungDonUuTien').prop('checked', false);

                $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeTLKhac() {
        try {
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                $("#divTLKhac").removeClass("clssDisplaynone");
            } else {
                $("#divTLKhac").addClass("clssDisplaynone");
            }
        } catch (e) {
            console.log(e);
        }
    }

    function ThemDonUuTien() {
        try {

            $.ajax({
                type: 'POST',
                url: '/lg-patent/don-uu-tien/them-don/',
                data: {
                    p_id: "2"
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#div_ThongTinDonUuTien").append(data);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    function showFResize() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>