@using ObjectInfos
@{
    var objAppHeaderInfo = new AppDetail04NHInfo();
    string KhaiTai = "", Ngay = "", Thang = "", Nam = "";
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
        KhaiTai = objAppHeaderInfo.Address;
        Ngay = objAppHeaderInfo.DateNo;
        Thang = objAppHeaderInfo.Months;
        Nam = objAppHeaderInfo.Years;
    }
}
<div class="div_full_100_area">
    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "CAM KẾT CỦA CHỦ ĐƠN")
    <div style="text-align: center;">
        <i style="text-align: center;">Tôi cam đoan mọi thông tin trong tờ khai trên đây là trung thực, đúng sự thật và hoàn toàn chịu trách nhiệm trước pháp luật.</i>
    </div>
    <br />

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Khai tại:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" style="margin-left: 1px;" value="@KhaiTai" placeholder="txtKhaiTai" maxlength="200" id="txtKhaiTai" />
            </div>
        </div>
    </div>


    <div class="class_full_div_input">
        <div class="div-search-ad">


            <div class="div-search-title">
                <div>Ngày khai:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboNgayKhai" class="classNgayThangNam">
                        @for (int i = 1; i < 32; i++)
                        {
                                if (!string.IsNullOrEmpty(Ngay))
                                {
                                    if (i.ToString().PadLeft(2, '0') == Ngay)
                                    {
                                    <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                            }
                            else
                            {
                                if (i.ToString().PadLeft(2, '0') == DateTime.Now.ToString("dd"))
                                {
                                    <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                            }

                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div>Tháng:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboThangKhai" class="classNgayThangNam">
                        @for (int i = 1; i < 13; i++)
                        {
                                if (!string.IsNullOrEmpty(Thang))
                                {
                                    if (i.ToString().PadLeft(2, '0') == Thang)
                                    {
                                    <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                            }
                            else
                            {
                                if (i.ToString().PadLeft(2, '0') == DateTime.Now.ToString("MM"))
                                {
                                    <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div>Năm:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboNamKhai" class="classNgayThangNam">
                        @for (int i = 2005; i < 2051; i++)
                        {
                            if (!string.IsNullOrEmpty(Nam))
                            {
                                if (i.ToString() == Nam)
                                {
                                    <option selected="selected" value="@i.ToString()">@i.ToString()</option>
                                }
                                else
                                {
                                    <option value="@i.ToString()">@i.ToString()</option>
                                }
                            }
                            else
                            {
                                if (i.ToString() == DateTime.Now.ToString("yyyy"))
                                {
                                    <option selected="selected" value="@i.ToString()">@i.ToString()</option>
                                }
                                else
                                {
                                    <option value="@i.ToString()">@i.ToString()</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }

    .classNgayThangNam {
        min-width: 120px;
    }
</style>

<script>
    function funcGetCamKetChuDon(formData) {
        try {
            var address = $("#txtKhaiTai").val();
            formData.append("pInfo.Address", address);
            var dateno = $("#cboNgayKhai").val();
            formData.append("pInfo.DateNo", dateno);
            var months = $("#cboThangKhai").val();
            formData.append("pInfo.Months", months);
            var years = $("#cboNamKhai").val();
            formData.append("pInfo.Years", years);
            return true;
        } catch (e) {
            console.log(e);
            return false;

        }
    }
</script>