<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">@WebApps.Resources.Resource.lblPhiLePhi.ToUpper()</div>
    <br />
    <div class="div_full_100">
        <div class="class_left_40">
            <p class="class_text_center_bold">@WebApps.Resources.Resource.lblLoaiPhiLePhi</p>

            <div class="class_full_div_input">
                <div class="class_radio_head class_height_fee">
                    <input type="checkbox" name="5" value="5" id="7_rdoLyPhiYeuCau" />

                </div>
                <div class="class_text_end class_height_fee"> <p class="class_text_left">@WebApps.Resources.Resource.lblLePhiNopDon </p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head class_height_fee">
                    <input type="checkbox" name="5" value="6" id="7_rdoPhiPhanLoaiQT" />

                </div>
                <div class="class_text_end class_height_fee">
                    <p class="class_text_left">@WebApps.Resources.Resource.lblPhiLoaiQTNH</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head ">
                    <input type="checkbox" name="5" value="61" id="7_rdoMoiNhom6SP" />

                </div>
                <div class="class_text_end">
                    <p class="class_text_left">@WebApps.Resources.Resource.lblMoiNhom6SanPham</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee">
                    <input type="checkbox" name="5" value="5" id="7_rdoLePhiYCHQUT" />
                </div>
                <div class="class_text_end  class_height_fee"> <p class="class_text_left">@WebApps.Resources.Resource.lblLePhiYeuCauHuongQuyenUuTien</p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="7_rdoLyPhiCongBoDon" /></div>
                <div class="class_text_end  class_height_fee">
                    <p class="class_text_left">@WebApps.Resources.Resource.lblLePhiCBDon</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="7_rdoPhiTraCuuPV" /></div>
                <div class="class_text_end  ">
                    <p class="class_text_left">
                        @WebApps.Resources.Resource.lblPhiTraCuuPhuVuThamDinh
                    </p>
                </div>
            </div>


            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="5" id="7_2_rdo_MoiNhomTren6SP" /></div>
                <div class="class_text_end"> <p class="class_text_left">@WebApps.Resources.Resource.lblMoiNhom6SanPham</p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="7_rdoPhiThamDinhDon"  /></div>
                <div class="class_text_end  class_height_fee">
                    <p class="class_text_left">@WebApps.Resources.Resource.lblPhiThamDinhDon</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="7_3_rdo_MoiNhomTren6SP"  /></div>
                <div class="class_text_end ">
                    <p class="class_text_left">
                        @WebApps.Resources.Resource.lblMoiNhom6SanPham
                    </p>
                </div>
            </div>
        </div>

        <div class="class_right_30 ">
            <p class="class_text_center_bold">@WebApps.Resources.Resource.lblSoDoiTuongTinhPhi</p>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>
        </div>
        <div class="class_right_30">
            <p class="class_text_center_bold">@WebApps.Resources.Resource.lblSoTien</p>

            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>
        </div>
    </div>
</div>
