@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@{
    var lstDocOther = new List<AppDocumentOthersInfo>();
    if (ViewBag.lstDocOther != null)
    {
        lstDocOther = (List<AppDocumentOthersInfo>)ViewBag.lstDocOther;
    }
    string listIDFileAtt = "";
    string styleTLK = "display:none";
    if (lstDocOther.Count > 0)
    {
        styleTLK = "display:block";
    }
}
<style>
    .classDocOtherE {
        text-align: left;
        padding: 3px;
        color: blue;
    }
    /*#divContainerDocOther{
        display:none ;
    }*/
</style>
<div class="div_full_100_area" id="divContainerDocOther" style="@styleTLK">
    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "CÁC TÀI LIỆU KHÁC")
    @{
        if (lstDocOther.Count > 0)
        {
            int No = 0;
            string FileName = "";

            <div>
                @foreach (var item in lstDocOther)
                {
                    listIDFileAtt = listIDFileAtt + item.Id.ToString() + ",";
                    No++;
                    FileName = No.ToString() + ". " + item.Documentname;
                    <div id="@item.Id" class="classDocOtherE"> <a style="color:blue" href="@item.Filename">@FileName</a> <img onclick="funcRemoveFileAttachOther('@item.Id')" src="/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px"> </div>
                }
            </div>

        }
    }
    @* Sử dụng khi Sửa bản ghi thôi *@
    <input type="hidden" class="ListIDAttach_E" id="ListIDAttach_E" value="@listIDFileAtt" />
    <input type="hidden" id="ListIDAttach_R" value="" />
    @* End sửa *@

    <div id="divDocumentOther">
        <div class="div-search-ad">
            <div class="div-search-title"> <div>@WebApps.Resources.Resource.lblTenTaiLieu:</div> </div>
            <div class="div-search-content">
                <div> <input type="text" class="clssListUpload" maxlength="200" placeholder="@WebApps.Resources.Resource.lblNhapTenTaiLieuDinhKem" id="txtTaiLieuKhac1"> </div>
            </div>
            <div class="div-search-content">
                <div>
                    <div class="file-upload btn btn-primary" style="margin-left:2px">
                        <span class="">@WebApps.Resources.Resource.lblTaiFile</span>
                        <input type="file" onchange="return funcChoiseFileDocOther('pfileName1', 'txtMaxfile1','txtTaiLieuKhac1','divRemoveFile1');" name="pfileName1" id="pfileName1" class="upload fileuploadurl" />
                    </div>
                    <input type="text" class="classMaxfile" id="txtMaxfile1" readonly>

                    @*<div class="div-checkbox clssDisplaynone" id="divRemoveFile1">
                <img onclick="return RemoveFileDocOther('txtTaiLieuKhac1','divRemoveFile1','txtMaxfile1');" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
            </div>*@

                    <button class="clssDisplaynone" id="divRemoveFile1" onclick="RemoveFileDocOther()" style="width: 30px;margin-left:1px"><i class="fa fa-minus-circle"></i></button>

                    @*<input type="button" id="btnAddDocumentOther" value="@WebApps.Resources.Resource.lblThem" style="width:60px;" class="btn class_37" />*@

                    <button onclick="funcAddDocumentNew()" style="width: 30px;margin-left:2px"><i class="fa fa-plus-circle"></i></button>

                </div>

                

            </div>
        </div>
    </div>

</div>

@* danh dau so tt sinh id  *@
<input type="hidden" id="increNo" value="1" />

<style>
    .class_37 {
        height: 30px !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 120px 14% 33%;
        padding: 1px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }
</style>

<script>
    $("#btnAddDocumentOther").click(function () {
        try {
            funcAddDocumentNew();
        } catch (e) {
        }
    });

    function funcAddDocumentNew() {
        try {
            var e = $("#increNo").val() / 1;
            e++;
            var pfileName = "pfileName" + e.toString();
            var txtDocument = "txtTaiLieuKhac" + e.toString();
            var txtMaxfile = "txtMaxfile" + e.toString();
            var divDocumnetNo = "divDocumnetNo" + e;
            var btnXoa = "btnXoa" + e;
            var btnTaiFile = "btnTaiFile" + e;
            var btnremoveFile = "btnRemove" + e;
            var t = '<div class="div-search-ad" id="' + divDocumnetNo + '"><div class="div-search-title"> <div> @WebApps.Resources.Resource.Tenfile :</div> </div>  <div class="div-search-content"> <div> <input type="text" class="clssListUpload" maxlength="200"  id = "' + txtDocument + '" > </div> </div>';
            t += '<div class="div-search-content"> <div> <div class="file-upload btn btn-primary" style="margin-left:2px"> <span>@WebApps.Resources.Resource.lblTaiFile</span>' +
                ' <input type="file" onchange="return funcChoiseFileDocOther(\'' + pfileName + '\', \'' + txtMaxfile + '\', \'' + txtDocument + '\', \'' + btnremoveFile +'\');" name = "' + pfileName + '" id = "' + pfileName + '" class="upload fileuploadurl" /> </div>' +
                '<input type="text" class="classMaxfile" id="' + txtMaxfile + '" readonly >' +
                '<button class="clssDisplaynone" id="' + btnremoveFile + '" onclick="RemoveFileDocOther(\'' + txtDocument + '\', \'' + btnremoveFile + '\', \'' + txtMaxfile +'\')" style="width: 30px;margin-left:1px"><i class="fa fa-minus-circle"></i></button>' +
                '<i class="fa fa-check" id="i_' + pfileName + '" style="font-size:15px; color:green ;display:none;padding:5px"></i> <button onclick="return funcRemoveDocument(\'' + divDocumnetNo + '\')" id="' + btnXoa + '" style="width: 30px;margin-left:2px"><i class="fa fa-minus-circle"></i></button> </div></div></div>';
            $("#divDocumentOther").append(t);
            $("#increNo").val(e);
            return t;
        } catch (e) {
            alert(e)
        }
    }



    function funcRemoveDocument(pTag) {
        try {
            var divFileUpload = document.getElementById(pTag);
            $(divFileUpload).remove();
        } catch (e) {
            console.log(e);
        }
    }
    function funcChoiseFileDocOther(pIDFile, ptxtId, ptagKey,pRemoveFile) {
        try {
            var obj = $("#" + pIDFile);
            $("#" + ptxtId).val(obj.val());

            funcPushFileDocumentOther(pIDFile, ptagKey, pRemoveFile);

        } catch (e) {
            console.log(e);
        }
    }

    function RemoveFileDocOther(p_AfterID,pRemoveImg,pTextMaxFile) {

        var keyFileUpload = p_AfterID;
        try {
            var keyFileUpload = p_AfterID;
            $.ajax({
                type: 'POST',
                url: '/trade-mark/delete-file-other',
                data: {
                    keyFileUpload: keyFileUpload
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    if (data.success == 0)
                    {
                        $("#" + pRemoveImg).css('display','none');
                        $("#" + p_AfterID).val('');
                        $("#" + pTextMaxFile).val('');
                    }
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function funcPushFileDocumentOther(pID, ptagKey,pdivRemoveFile) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", ptagKey);
            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/trade-mark/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#" + pdivRemoveFile).css("display", "inline-block");

                    } else {
                        jError(pushfileError, "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                }
            });
        } catch (e) {
            console.log(e);
        }
    }

    var lstRemove = "";
    //Sử dụng khi thực hiện sửa bản ghi
    function funcRemoveFileAttachOther(pFileID) {
        try {
            var arrlistID = $("#ListIDAttach_E").val();
            var newid = pFileID + ",";
            if (arrlistID.indexOf(newid) != -1) {
                arrlistID = arrlistID.replace(newid, "");
                lstRemove = lstRemove + pFileID + ",";
            }
            $("#ListIDAttach_E").val(arrlistID);
            $("#" + pFileID).remove();
            $("#ListIDAttach_R").val(lstRemove);

        } catch (e) {
            console.log(e);
        }
    }
</script>