@using WebApps.CommonFunction 
@{
    ViewBag.Title = "Đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";
}
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>Đăng ký nhãn hiệu</legend>

        <div class="div_full_100_area">
            <div class="class_left_50">
                <div class="class_text_end_radio" style="display: flex;">
                    <p class="class_text_left class_padding_right_10">Đơn này được tách ra từ đơn số</p>
                    <input style="width:33%" type="text" id="0_txtDonSo" maxlength="20" placeholder="0_txtDonSo" />
                </div>
            </div>
            <div class="class_right_50">
                <div class="class_text_end_radio" style="display: flex;">
                    <p class="class_text_left  class_padding_right_10">Ngày nộp đơn</p>
                    <input style="width:33%" class="datetimepicker" type="text" id="0_txtDonSo" maxlength="20" placeholder="0_txtDonSo" />
                </div>
            </div>
        </div>
        @* Nhan hieu *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">NHÃN HIỆU</div>
            <br />

            <div class="class_full_div_input">
                <div class="class_block_title" style="padding-top:5px; "><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:100px ;height:100px ">
                        <img id="imgMauNhanHieu" src="~/Content/icons/80x80.png" height="80px" width="80px">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:50px">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHTT" placeholder="0_NhanHieuTapThe" id="0_NhanHieuTapThe" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu tập thể</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHLK" placeholder="0_NhanHieuLienKet" id="0_NhanHieuLienKet" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu liên kết</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHCN" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu chứng nhận</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="0_ckbDacTinhHangHoa" value="DTHH" placeholder="0_ckbDacTinhHangHoa" id="0_ckbDacTinhHangHoa" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Đặc tính hàng hóa</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="DTHH" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Có sử dụng dơn ưu tiên</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mầu sắc:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MauSac" maxlength="50" id="0_MauSac" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mô tả:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MoTa" maxlength="50" id="0_MoTa" />
                </div>
            </div>
        </div>
        @* 1 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỦ ĐƠN</div>
            <br />
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")
        </div>
        @* 2 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">ĐẠI DIỆN CỦA CHỦ ĐƠN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienPL" placeholder="3_txtNguoiDaiDienPL" id="3_txtNguoiDaiDienPL" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người đại diện theo pháp luật của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienSH" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="@DaiDienChuDon.DaiDienUyQuyen" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người khác được uỷ quyền của chủ đơn</p>
                </div>
            </div>
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "2")
        </div>
        @* 3 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">YÊU CẦU HƯỞNG QUYỀN ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbNopTaiVietNam" id="4_ckbNopTaiVietNam" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) đầu tiên nộp tại Việt Nam</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbNopTaiParis" id="4_ckbNopTaiParis" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) nộp theo Công ước Paris</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbThoaThuanKhac" id="4_ckbThoaThuanKhac" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo thoả thuận khác</p>
                </div>
            </div>
        </div>

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỈ DẪN VỀ ĐƠN (CÁC ĐƠN) LÀ CĂN CỨ ĐỂ XÁC ĐỊNH NGÀY ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Số đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtSoDon" maxlength="50" id="6_txtSoDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Ngày nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNgayNopDon" maxlength="50" id="6_txtNgayNopDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Nước nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNuocNopDon" maxlength="50" id="6_txtNuocNopDon" />
                </div>
            </div>
        </div>

        @* Tài liệu có trong đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTLTrongDon.cshtml")

        @* End tai lieu dinh kem  *@

        @* Class *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHClass.cshtml")
        @* End Class *@

        @* Le phi*@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHPhiLePhi.cshtml")

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">MÔ TẢ TÓM TẮT ĐẶC TÍNH CỦA HÀNG HOÁ/DỊCH VỤ ĐƯỢC CHỨNG NHẬN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" class="classDacTinhHangHoa" disabled="disabled" name="8_ckbNguonGocDiaLy" value="NGDL" placeholder="8_ckbNguonGocDiaLy" id="8_ckbNguonGocDiaLy" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Nguồn gốc địa lý</p>
                    <input style="width:33%" type="text" id="8_txtNguonGocDiaLy" class="classDacTinhHangHoa" disabled="disabled" maxlength="100" placeholder="8_txtNguonGocDiaLy" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="8_ckbChatLuong" class="classDacTinhHangHoa" disabled="disabled" value="CLCL" placeholder="8_ckbChatLuong" id="8_ckbChatLuong" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Chất lượng</p>
                    <input style="width:33%" type="text" id="8_txtChatLuong" maxlength="100" class="classDacTinhHangHoa" disabled="disabled" placeholder="8_txtChatLuong" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" name="8_ckbDacTinhKhac" class="classDacTinhHangHoa" disabled="disabled" value="DTKK" placeholder="8_ckbDacTinhKhac" id="8_ckbDacTinhKhac" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left" style="width:100px ;">Đặc tính khác</p>
                    <input style="width:33%" type="text" id="8_txtDacTinhKhac" maxlength="100" class="classDacTinhHangHoa" disabled="disabled" placeholder="8_txtDacTinhKhac" />
                </div>
            </div>
        </div>


        @*string txtTenDayDu = Model + "_txtTenDayDu";
        string txtDiaChi = Model + "_txtDiaChi";
        string txtDienThoai = Model + "_txtDienThoai";
        string txtFax = Model + "_txtFax";
        string txtEmail = Model + "_txtEmail";*@
        @*CHỦ ĐƠN KHÁC*@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỦ ĐƠN KHÁC</div>
            <br />
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "9")
        </div>
        @*CHỦ ĐƠN KHÁC 1*@
        @for (int i = 10; i < 13; i++)
        {
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhac.cshtml", i.ToString())
        }
        @*TÀI LIỆU KHÁC*@

        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTaiLieuKhac.cshtml", "12")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
        <div class="classLuuTam">
            <a href="javascript:;" id="hrfExportData">Kết xuất</a>
        </div>
    </fieldset>
</div>


<script>
    $("#0_ckbDacTinhHangHoa").change(function ()
    {
        if (this.checked) { funcDacTinhHangHoa(true); } else { funcDacTinhHangHoa(false); }
    });

    function funcDacTinhHangHoa(enable) {
        if (enable == true) { $(".classDacTinhHangHoa").removeAttr('disabled'); } else { $(".classDacTinhHangHoa").attr('disabled', 'disabled'); }
    }
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
    });

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }

    $("#btnGuiDon").click(function () {

        try {
            //Thông tin chủ đơn 
            var formData = new FormData();
            if (funcThongTinChuDonNguoiDaiDien(formData, "1") != true) {
                return false;
            }
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('Chưa chọn loại đơn đăng ký!');
                return false;
            }
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinChuDonNguoiDaiDien(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='0_NhanHieu']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);



            $.ajax({
                url: '/trade-mark/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: false,
                headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {

                        jAlert(AddSuccess, ThongBao, function () {
                        });

                    } else {
                        jError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
        }

    });

</script>
