@using Common.CommonData
@using ObjectInfos
@{
    ViewBag.Title = "Đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<SysApplicationInfo> listAppData = new List<SysApplicationInfo>();
    if (ViewBag.lstData != null)
    {
        listAppData = (List<SysApplicationInfo>)ViewBag.lstData;
    }
    int numberApp = 0;
}
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>

<input type="hidden" value="LastTimeUpdated" id="colSorted" />
<input type="hidden" value="DESC" id="SortType" />
<input type="hidden" value="" id="OptionSorting" />

<div class="d-popup-container" id="dpop-groupuser"></div>

<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">Nhãn hiệu</a></li>
        <li><a href="/quan-tri-he-thong/quan-ly-nhom-quyen">Danh sách mẫu đơn</a></li>
    </ul>
</div>
<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>Danh sách mẫu đơn</legend>
        @foreach (SysApplicationInfo item in listAppData)
        {
            numberApp++;
            string _url =   "/trade-mark/request-for-trade-mark/" + item.Appcode.ToLower();
            if (string.IsNullOrEmpty(_url))
            {
                _url = "/trade-mark/request-for-trade-mark/" + item.Appcode.ToLower();
            }
            if (numberApp % 2 == 0)
            {
                <div class="class_right">
                    <a href="@_url">(@numberApp.ToString())  @item.Appname</a>
                </div>
            }
            else
            {
                <div class="class_left">
                    <a  href="@_url">(@numberApp.ToString())  @item.Appname</a>
                </div>
            }

        }
    </fieldset>
</div>

<div id="divTableGroupUsers">
</div>

<script>
    $(document).ready(function () {
        //alert($(window).width());
    });
</script>