@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@{
    string href = "/Content/POA/VNmese translation POA (Blank).doc";

    var lstDocumentInfo = new List<AppDocumentInfo>();
    if (ViewBag.lstDocOther != null)
    {
        lstDocumentInfo = (List<AppDocumentInfo>)ViewBag.lstDocumentInfo;
    }

    AppDocumentInfo objDocumentInfoPOA = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_5 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_6 = new AppDocumentInfo();


    AppDocumentInfo ObjInfo04NH_D_7 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_8 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_9 = new AppDocumentInfo();



    AppDocumentInfo ObjInfo04NH_D_10 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_11 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_12 = new AppDocumentInfo();


    AppDocumentInfo ObjInfo04NH_D_13 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_18 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_19 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_20 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_22 = new AppDocumentInfo();

    foreach (var item in lstDocumentInfo)
    {
        if (item.Document_Id == "04NH_D_04" && item.Isuse == 1)
        {
            objDocumentInfoPOA = item;
            objDocumentInfoPOA.styleCheck = "checked= 'checked'";
            objDocumentInfoPOA.divUpLoadFile = "6_rdoGiayUyQuyen";
        }
        //Ban goocs
        else if (item.Document_Id == "04NH_D_05" && item.Isuse == 1)
        {
            ObjInfo04NH_D_5 = item;
            ObjInfo04NH_D_5.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_5.divUpLoadFile = "6_rdoBanGoc";
        }
        //ban sao
        else if (item.Document_Id == "04NH_D_06" && item.Isuse == 1)
        {
            ObjInfo04NH_D_6 = item;
            ObjInfo04NH_D_6.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_6.divUpLoadFile = "6_rdoBanSao";
        }
        //04NH_D_07
        else if (item.Document_Id == "04NH_D_07" && item.Isuse == 1)
        {
            ObjInfo04NH_D_7 = item;
            ObjInfo04NH_D_7.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_7.divUpLoadFile = "6_rdoBanGocSeNopSau";
        }

        //04NH_D_08
        else if (item.Document_Id == "04NH_D_08" && item.Isuse == 1)
        {
            ObjInfo04NH_D_8 = item;
            ObjInfo04NH_D_8.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_8.divUpLoadFile = "6_rdoBanGocDaNopTheoDonSo";
        }

        //04NH_D_09
        else if (item.Document_Id == "04NH_D_09" && item.Isuse == 1)
        {
            ObjInfo04NH_D_9 = item;
            ObjInfo04NH_D_9.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_9.divUpLoadFile = "6_rdoBanDichTiengViet";
        }


        //04NH_D_10
        else if (item.Document_Id == "04NH_D_10" && item.Isuse == 1)
        {
            ObjInfo04NH_D_10 = item;
            ObjInfo04NH_D_10.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_10.divUpLoadFile = "6_rdoTLXNDPSD";
        }

        //04NH_D_11
        else if (item.Document_Id == "04NH_D_11" && item.Isuse == 1)
        {
            ObjInfo04NH_D_11 = item;
            ObjInfo04NH_D_11.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_11.divUpLoadFile = "6_rdoTLDKNH";
        }


        //04NH_D_12
        else if (item.Document_Id == "04NH_D_12" && item.Isuse == 1)
        {
            ObjInfo04NH_D_12 = item;
            ObjInfo04NH_D_12.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_12.divUpLoadFile = "6_rdoTLThuHuongNK";
        }

        //04NH_D_13
        else if (item.Document_Id == "04NH_D_13" && item.Isuse == 1)
        {
            ObjInfo04NH_D_13 = item;
            ObjInfo04NH_D_13.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_13.divUpLoadFile = "6_rdoQuyCheSDNH";
        }


        //04NH_D_14

        //04NH_D_18
        else if (item.Document_Id == "04NH_D_18" && item.Isuse == 1)
        {
            ObjInfo04NH_D_18 = item;
            ObjInfo04NH_D_18.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_18.divUpLoadFile = "6_rdoBanDoKVDL";
        }

        //04NH_D_19
        else if (item.Document_Id == "04NH_D_19" && item.Isuse == 1)
        {
            ObjInfo04NH_D_19 = item;
            ObjInfo04NH_D_19.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_19.divUpLoadFile = "6_rdoVBuyBanTinh";
        }

        //04NH_D_20
        else if (item.Document_Id == "04NH_D_20" && item.Isuse == 1)
        {
            ObjInfo04NH_D_20 = item;
            ObjInfo04NH_D_20.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_20.divUpLoadFile = "6_rdoTLKhaiTTBS";
        }

        //04NH_D_22
        else if (item.Document_Id == "04NH_D_22" && item.Isuse == 1)
        {
            ObjInfo04NH_D_22 = item;
            ObjInfo04NH_D_22.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_22.divUpLoadFile = "6_rdoTLK";
        }
    }
    string styleDisplay = "clssDisplaynone";
}

<script>
    $(document).ready(function () {

        if ($("#6_rdoGiayUyQuyen").is(':checked')) {
            ShowHidenUpLoad("6_rdoGiayUyQuyen", "6_rdoGiayUyQuyen");
        }
        if ($("#6_rdoBanGoc").is(':checked')) {
            ShowHidenUpLoad("6_rdoBanGoc", "6_rdoBanGoc");
        }
        if ($("#6_rdoBanGocSeNopSau").is(':checked')) {
            ShowHidenUpLoad("6_rdoBanGocSeNopSau", "6_rdoBanGocSeNopSau");
        }

        if ($("#6_rdoBanGocDaNopTheoDonSo").is(':checked')) {
            ShowHidenUpLoad("6_rdoBanGocDaNopTheoDonSo", "6_rdoBanGocDaNopTheoDonSo");
        }

        if ($("#6_rdoBanDichTiengViet").is(':checked')) {
            ShowHidenUpLoad("6_rdoBanDichTiengViet", "6_rdoBanDichTiengViet");
        }
        if ($("#6_rdoTLXNDPSD").is(':checked')) {
            ShowHidenUpLoad("6_rdoTLXNDPSD", "6_rdoTLXNDPSD");
        }

        if ($("#6_rdoTLDKNH").is(':checked')) {
            ShowHidenUpLoad("6_rdoTLDKNH", "6_rdoTLDKNH");
        }
        if ($("#6_rdoTLThuHuongNK").is(':checked')) {
            ShowHidenUpLoad("6_rdoTLThuHuongNK", "6_rdoTLThuHuongNK");
        }
        if ($("#6_rdoQuyCheSDNH").is(':checked')) {
            ShowHidenUpLoad("6_rdoQuyCheSDNH", "6_rdoQuyCheSDNH");
        }
        if ($("#6_rdoBanDoKVDL").is(':checked')) {
            ShowHidenUpLoad("6_rdoBanDoKVDL", "6_rdoBanDoKVDL");
        }
        if ($("#6_rdoVBuyBanTinh").is(':checked')) {
            ShowHidenUpLoad("6_rdoVBuyBanTinh", "6_rdoVBuyBanTinh");
        }
        if ($("#6_rdoTLKhaiTTBS").is(':checked')) {
            ShowHidenUpLoad("6_rdoTLKhaiTTBS", "6_rdoTLKhaiTTBS");
        }
    });
</script>



<div class="div_full_100_area">
    <div class="divCover cls_form_title">
        <img src="/Content/icons/category.png">
        <div class="cls_form_header">
            @WebApps.Resources.Resource.lblTaiLieuTrongDon
            <a href="javascript:;" st="" class="icon icon-info" style="border:none" data-title="Các tài liệu liên quan đính kèm trong đơn"></a>
        </div>
    </div>
    @* An di theo yc cua khach hang *@
    <div class="div-search-ad" style="display:none">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblToKhaiGom</label>
                <input style="width:100px;" type="hidden" id="6_txtToKhaiTrang" maxlength="50" placeholder="...." />
                <label>......</label>
            </div>
        </div>
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.lblTrang:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input style="width:80px" type="text" id="6_txtToKhaiBan" maxlength="50" value="03" placeholder="6_txtToKhaiBan" />
            </div>
        </div>
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.lblBanCoDanhMucPhanLoaiHangHoa</div>
        </div>
        <div class="div-search-content">
            <div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoToKhai")
    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_02" id="6_rdoMauNhanHieuTD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblMauNhanHieuGom</label>
            </div>
        </div>
        <div class="div-search-content">
            <div> <input style="width:160px" type="text" id="6_txtMauNhanHieuTD" value="9" maxlength="50" placeholder="6_txtMauNhanHieuTD" /></div>
        </div>
        <div class="div-search-title" style="width:412px">
            <div>@WebApps.Resources.Resource.lblMau</div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoMauNhanHieuTD")

    <div class="div-search-ad" style="display:none;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_03" id="6_rdoChungTuPhiLP" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblChungTuLePhi</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoChungTuPhiLP")
    @* An di theo yc cua khach hang *@

    <div class="class_full_div_p class_text_left_bold">@WebApps.Resources.Resource.lblTaiLieuKhac</div>
    <br />

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:600px">
                <input type="checkbox" id="6_rdoGiayUyQuyen" @objDocumentInfoPOA.styleCheck value="04NH_D_04" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblGiayUyQuyen</label> <a target="_blank" style="margin-top: -3px; border: none;padding-left: 20px;color: blue;" href="@href">@WebApps.Resources.Resource.lblMauTaiVe <i class="fas fa-download" style="color: blue; font-size: 20px;"></i> </a>
                <label style="font-style:italic;color:red">&nbsp;(@WebApps.Resources.Resource.lblKhacHangFillThongTin)</label>
            </div>
        </div>
        <div class="div-search-content">
            <input style="width:160px" type="hidden" id="6_txtGiayUQTiengViet" disabled="disabled" maxlength="50" value="@objDocumentInfoPOA.CHAR01" placeholder="6_txtGiayUQTiengViet" />
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", objDocumentInfoPOA)

    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(objDocumentInfoPOA.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoGiayUyQuyen" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoGiayUyQuyen")
    </div>

    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanGoc" @ObjInfo04NH_D_5.styleCheck value="04NH_D_05" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGoc</label>
            </div>
        </div>
    </div>

    @* File dinh kem lay tu db khi sua*@
    <div style="margin-top:5px;margin-left:40px">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_5)
    </div>
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_5.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoBanGoc" class="@styleDisplay" style="margin-top:5px;margin-left:40px">
        @* end file dinh kem *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGoc")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" @ObjInfo04NH_D_6.styleCheck id="6_rdoBanSao" value="04NH_D_06" />
                <label>@WebApps.Resources.Resource.lblBanSao</label>
            </div>
        </div>
    </div>

    <div class="div-search-ad" style="display:inline-flex;margin-left:80px">
        <div class="div-search-content">
            <div class="div-radio" style="width:350px">
                <input type="radio" @ObjInfo04NH_D_7.styleCheck name="bansao" value="04NH_D_07" id="6_rdoBanGocSeNopSau" onclick="return ShowHidenUpLoadRadioClick(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGocNopSau</label>
            </div>
        </div>
    </div>

    <div style="margin-top:5px;margin-left:80px">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_7)
    </div>
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_7.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoBanGocSeNopSau" class="@styleDisplay" style="margin-top:5px;margin-left:80px">
        @* end file dinh kem *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocSeNopSau")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 80px;">
        <div class="div-search-content">
            <div class="div-radio" style="width:350px">
                <input type="radio" name="bansao" @ObjInfo04NH_D_8.styleCheck value="04NH_D_08" id="6_rdoBanGocDaNopTheoDonSo" onclick="return ShowHidenUpLoadRadioClick(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanGocNopTheoDonSo <a href="javascript:;" st class="icon icon-info" style="border:none" data-title="@WebApps.Resources.Resource.lblDatatitle04NHD08"></a></label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBangocDNTheoDonSo" onblur="return funcDetaiBanGoc();" style="width:160px" disabled="disabled" maxlength="50" placeholder="6_txtBangocDNTheoDonSo" />
        </div>

        <div class="div-search-content">
            <div><a id="hrfDetailBanGoc" href="javascript:;" target="_blank" style="color:blue;border:none">@WebApps.Resources.Resource.XemChiTiet</a></div>
        </div>

    </div>
    <div style="margin-top:5px;margin-left:80px">
        @* File dinh kem lay tu db khi sua*@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_8)
    </div>

    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_8.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoBanGocDaNopTheoDonSo" class="@styleDisplay" style="margin-top:5px;margin-left:80px">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoBanGocDaNopTheoDonSo")
    </div>
    <div class="div-search-ad" style="display:inline-flex;margin-left: 40px;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:342px">
                <input type="checkbox" id="6_rdoBanDichTiengViet" @ObjInfo04NH_D_9.styleCheck value="04NH_D_09" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanDichTiengVietGom</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_txtBDTV_UQ" maxlength="3" disabled="disabled" placeholder="6_txtBDTV_UQ" />
        </div>
        <div class="div-search-title" style="width:412px">
            <div>@WebApps.Resources.Resource.lblTrang</div>
        </div>
    </div>

    <div style="margin-top:5px;margin-left:40px">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_9)
    </div>
    @* end file dinh kem *@
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_9.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoBanDichTiengViet" class="@styleDisplay" style="margin-top:5px;margin-left:40px">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDichTiengViet")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_10" @ObjInfo04NH_D_10.styleCheck id="6_rdoTLXNDPSD" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuXacNhanDuoc</label>
            </div>
        </div>
        <div class="div-search-content">
            <input type="text" id="6_TLXNDPSD" maxlength="3" disabled="disabled" placeholder="6_TLXNDPSD" />
        </div>
        <div class="div-search-title" style="width:190px">
            <div>@WebApps.Resources.Resource.lblTrang</div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_10)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_10.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoTLXNDPSD" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoTLXNDPSD")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_11" @ObjInfo04NH_D_11.styleCheck id="6_rdoTLDKNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuXacNhanQuyenDKNH</label>
            </div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_11)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_11.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoTLDKNH" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoTLDKNH")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_12" @ObjInfo04NH_D_12.styleCheck id="6_rdoTLThuHuongNK" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuDKXacNhanThuHuong</label>
            </div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_12)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_12.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoTLThuHuongNK" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoTLThuHuongNK")
    </div>
    <div class="div-search-ad" style="display:inherit">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_13" @ObjInfo04NH_D_13.styleCheck id="6_rdoQuyCheSDNH" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblQuyCheSuDungNH</label>

            </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHTrang" disabled="disabled" style="width:160px" maxlength="3" placeholder="6_txtQuyCheSDNHTrang" />
            </div>
        </div>
        <div class="div-search-title" style="width:70px">
            <div>@WebApps.Resources.Resource.lblTrang </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="6_txtQuyCheSDNHBan" disabled="disabled" maxlength="3" placeholder="6_txtQuyCheSDNHBan" />
            </div>
        </div>
        <div class="div-search-title" style="width:165px">
            <div>@WebApps.Resources.Resource.lblBan</div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_13)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_13.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoQuyCheSDNH" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoQuyCheSDNH")
    </div>

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_18" @ObjInfo04NH_D_18.styleCheck id="6_rdoBanDoKVDL" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblBanDoKhuVucDiaLy</label>
            </div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_18)

    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_18.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoBanDoKVDL" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoBanDoKVDL")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox">
                <input type="checkbox" maxlength="3" value="04NH_D_19" @ObjInfo04NH_D_19.styleCheck id="6_rdoVBuyBanTinh" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblVanBanUBNDTinh </label>
            </div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_19)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_19.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoVBuyBanTinh" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoVBuyBanTinh")
    </div>

    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_20" @ObjInfo04NH_D_20.styleCheck id="6_rdoTLKhaiTTBS" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblCoTaiLieuBoTro</label>
            </div>
        </div>
    </div>
    @* File dinh kem lay tu db khi sua*@
    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml", ObjInfo04NH_D_20)
    @{
        styleDisplay = "clssDisplaynone";
        if (string.IsNullOrEmpty(ObjInfo04NH_D_20.Filename))
        {
            styleDisplay = "clssDisplayBlock";
        }
    }
    @* end file dinh kem *@
    <div id="Pre_6_rdoTLKhaiTTBS" class="@styleDisplay">
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialTaiLieuTrongDon.cshtml", "6_rdoTLKhaiTTBS")
    </div>
    <div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content">
            <div class="div-checkbox" style="width:382px">
                <input type="checkbox" maxlength="3" value="04NH_D_22" @ObjInfo04NH_D_22.styleCheck id="6_rdoTLK" onchange="return ShowHidenUpLoad(this.id, this.id);" />
                <label>@WebApps.Resources.Resource.lblTaiLieuKhac</label>
            </div>
        </div>
    </div>
</div>

    <script>

        $("input[id='6_rdoGiayUyQuyen'").change(function () {
            funcAddRemoveDisabled("6_rdoGiayUyQuyen", "6_txtGiayUQTiengViet");
        });

        $("input[id='6_rdoBanGocDaNopTheoDonSo'").change(function () {
            funcAddRemoveDisabled("6_rdoBanGocDaNopTheoDonSo", "6_txtBangocDNTheoDonSo");
        });

        $("input[id='6_rdoBanGocSeNopSau'").change(function () {
            $("#6_txtBangocDNTheoDonSo").attr('disabled', 'disabled');
        });



        $("input[id='6_rdoQuyCheSDNH'").change(function () {
            if ($("#6_rdoQuyCheSDNH").is(':checked')) {
                $("#6_txtQuyCheSDNHTrang").removeAttr('disabled');
                $("#6_txtQuyCheSDNHBan").removeAttr('disabled');
            } else {
                $("#6_txtQuyCheSDNHTrang").attr('disabled', 'disabled');
                $("#6_txtQuyCheSDNHBan").attr('disabled', 'disabled');
            }
        });

        $("input[id='6_rdoTLXNDPSD'").change(function () {
            funcAddRemoveDisabled("6_rdoTLXNDPSD", "6_TLXNDPSD");
        });

        $("input[id='6_rdoBanDichTiengViet'").change(function () {
            funcAddRemoveDisabled("6_rdoBanDichTiengViet", "6_txtBDTV_UQ");
        });

        function funcDetaiBanGoc() {
            try {
                var SoDonTach = document.getElementById("6_txtBangocDNTheoDonSo").value;
                var url = "";
                url = "/trade-mark-share-data/todo-details/" + SoDonTach + "/0";
                $("#hrfDetailBanGoc").attr("href", url);
            } catch (e) {
            }
        }
        
    </script>

