@using WebApps.CommonFunction
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using WebApps.Resources;
@{
    ViewBag.Title = "Chi tiết đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";

    var objAppHeaderInfo = new AppDetail04NHInfo();
    var lstDocumentInfo = new List<AppDocumentInfo>();
    var lstDocOther = new List<AppDocumentOthersInfo>();
    var lstClassDetailInfo = new List<AppClassDetailInfo>();
    var lstFeeInfo = new List<AppFeeFixInfo>();
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (AppDetail04NHInfo)ViewBag.objAppHeaderInfo;
    }
    if (ViewBag.lstDocumentInfo != null)
    {
        lstDocumentInfo = (List<AppDocumentInfo>)ViewBag.lstDocumentInfo;
    }
    if (ViewBag.lstDocOther != null)
    {
        lstDocOther = (List<AppDocumentOthersInfo>)ViewBag.lstDocOther;
    }
    if (ViewBag.lstClassDetailInfo != null)
    {
        lstClassDetailInfo = (List<AppClassDetailInfo>)ViewBag.lstClassDetailInfo;
    }
    if (ViewBag.lstFeeInfo != null)
    {
        lstFeeInfo = (List<AppFeeFixInfo>)ViewBag.lstFeeInfo;
    }

    string styleDacTinhHangHoa = "";
    string styleSuDungDonUT = "";
    string styleNoneDisplay = "display:none";
    if (objAppHeaderInfo.Dactichhanghoa == 1)
    {
        styleDacTinhHangHoa = "checked='checked'";
    }
    if (objAppHeaderInfo.Used_Special == 1)
    {
        styleSuDungDonUT = "checked='checked'";
        styleNoneDisplay = "display:block";
    }

    //

    string styleNhanHieu = "", styleLienKet = "", styleNhanHieuCN = "", styleShowHidenNHCN = "display: none";
    if (objAppHeaderInfo.LoaiNhanHieu == "NHTT")
    {
        styleNhanHieu = "checked='checked'";
    }
    else if (objAppHeaderInfo.LoaiNhanHieu == "NHLK")
    {
        styleLienKet = "checked='checked'";
    }
    else if (objAppHeaderInfo.LoaiNhanHieu == "NHCN")
    {
        styleNhanHieuCN = "checked='checked'";
        styleShowHidenNHCN = "display: block";
    }

    string styleDaiDienChuDon = "", styleDaiDienSH = "", styleDaiDienUQ = "";
    if (objAppHeaderInfo.Rep_Master_Type == "DDPL")
    {
        styleDaiDienChuDon = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDSH")
    {
        styleDaiDienSH = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDUQ")
    {
        styleDaiDienUQ = "checked='checked'";
    }

    string styleYCHQUT = "", styleCongUocPR = "", styleTTK = ""; // Huongquyenuutien
    if (objAppHeaderInfo.Huongquyenuutien == "NTVN")
    {
        styleYCHQUT = "checked='checked'";
    }
    else if (objAppHeaderInfo.Huongquyenuutien == "CUPR")
    {
        styleCongUocPR = "checked='checked'";
    }
    else if (objAppHeaderInfo.Huongquyenuutien == "TTTK")
    {
        styleTTK = "checked='checked'";
    }
    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    if (!string.IsNullOrEmpty(objAppHeaderInfo.Logourl))
    {

        urlMauNhanHieu = objAppHeaderInfo.Logourl.Replace("~", "");
    }
    AppDocumentInfo ObjInfo04NH_D_14 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_15 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_16 = new AppDocumentInfo();
    AppDocumentInfo ObjInfo04NH_D_17 = new AppDocumentInfo();

    foreach (var item in lstDocumentInfo)
    {
        if (item.Document_Id == "04NH_D_14" && item.Isuse == 1)
        {
            ObjInfo04NH_D_14 = item;
            ObjInfo04NH_D_14.styleCheck = "checked= 'checked'";

        }
        else if (item.Document_Id == "04NH_D_15" && item.Isuse == 1)
        {
            ObjInfo04NH_D_15 = item;
            ObjInfo04NH_D_15.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_15.divUpLoadFile = "6_rdoBSDDT";
        }

        //04NH_D_16
        else if (item.Document_Id == "04NH_D_16" && item.Isuse == 1)
        {
            ObjInfo04NH_D_16 = item;
            ObjInfo04NH_D_16.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_16.divUpLoadFile = "6_rdoBDTVGom";
        }

        //04NH_D_17
        else if (item.Document_Id == "04NH_D_17" && item.Isuse == 1)
        {
            ObjInfo04NH_D_17 = item;
            ObjInfo04NH_D_17.styleCheck = "checked= 'checked'";
            ObjInfo04NH_D_17.divUpLoadFile = "6_rdoGiayChuyenNhungUT";
        }
    }
    string styleDonUtSo2 = "hidden='hidden'";
    if (!string.IsNullOrEmpty(objAppHeaderInfo.Sodon_Ut2))
    {
        styleDonUtSo2 = "";
    }

    string styleChuDonKhac = "hidden='hidden'";
    if (!string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_2) || !string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_3) || !string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_4))
    {
        styleChuDonKhac = "";
    }


    //disable khi view
    string disableView = @"disabled=disabled";
    ViewBag.disableView = disableView;
}


<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

@*<div class="d-nav-container">
        <ul class="ul-nav">
            <li><a href="javascript:;">TradeMark</a></li>
            <li><a href="javascript:;"> Request for amendment of application)</a></li>
        </ul>
    </div>*@
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM2A_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
</div>

<input type="hidden" id="txtAppCode" value='@objAppHeaderInfo.Appcode' />
<input type="hidden" id="txtStatusView" value='@objAppHeaderInfo.Status' />
<input type="hidden" id="txtAppHeaderID" value="@objAppHeaderInfo.App_Header_Id" />
@* Luuw cac Id cua cac file dinh kem xoa di xu ly khi thuc hien nut luu *@
<input type="hidden" id="txtDocumentInAppRemove" value="" />

<input type="hidden" id="txtLogoOld" value="@urlMauNhanHieu" />
<input type="hidden" id="ActionView" value="V" />
<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>@WebApps.Resources.Resource.lblDangKyNhanHieu.ToUpper()</legend>
        @* Case name *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName_View.cshtml", "0")
        </div>
        <div class="div_full_100_area">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 200px;">@WebApps.Resources.Resource.lblDonTachRaTuDonSo</div>
                </div>
                <div class="div-search-content">
                    <input type="text" id="0_txtDonSo" @disableView value="@objAppHeaderInfo.Appno" maxlength="20" placeholder="0_txtDonSo" />
                </div>
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.lblNgayNopDon</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input class="datetimepicker" @disableView value="@objAppHeaderInfo.Duadate.ToString("dd/MM/yyyy")" type="text" id="0_txtNgayNopDon" maxlength="10" placeholder="0_txtNgayNopDon" />
                    </div>
                </div>
            </div>
        </div>

        @* 1 *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", @WebApps.Resources.Resource.lblChuDon.ToUpper())

            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")
        </div>
        @*CHỦ ĐƠN KHÁC 1*@
        @if (!string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_1))
        {

            <div class="div_full_100_area">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", @WebApps.Resources.Resource.lblChuDonKhac.ToUpper())

                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "9")
            </div>

            <div @styleChuDonKhac id="divHienChuDonKhac">
                @if (!string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_2))
                {
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhac.cshtml", "10")
                }
                else if (!string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_3))
                {
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhac.cshtml", "11")
                }
                else if (!string.IsNullOrEmpty(objAppHeaderInfo.Cdk_Name_4))
                {
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhac.cshtml", "12")
                }
            </div>
        }

        @* Nhan hieu *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", @WebApps.Resources.Resource.lblNhanHieu.ToUpper())
            <div class="class_full_div_input">

                <div class="class_left_40">
                    <div class="class_block_title" style="padding-top:5px; "><label>@WebApps.Resources.Resource.lblMauNhanHieu:</label> </div>
                    <div class="class_block_title_control" style="display:flex">
                        <div style="width:165px ;height:165px" id="divLogo">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                        </div>
                    </div>
                </div>

                <div class="class_right_60" style="display:block">
                    @* Thêm mục đích sau này Admin đặt tên theo qui tắc phục vụ tìm kiếm *@
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>@WebApps.Resources.Resource.lblTenNhanHieu:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" @disableView placeholder="Tên Nhãn hiệu" value="@objAppHeaderInfo.CodeLogo" maxlength="20" id="0_txtTenNhanHieu" />
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>@WebApps.Resources.Resource.lblMauSac:</div>
                        </div>
                        <div class="div-search-content">
                            <div><input type="text" @disableView placeholder="0_MauSac" value="@objAppHeaderInfo.Color" maxlength="50" id="0_MauSac" /></div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title" style="height: 126px;">
                            <div>@WebApps.Resources.Resource.lblMoTa:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <textarea id="0_MoTa" maxlength="2000" @disableView rows="5" cols="10" placeholder="Mô tả" style="height:128px">@objAppHeaderInfo.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" value="NHTT" @disableView @styleNhanHieu placeholder="0_NhanHieuTapThe" id="0_NhanHieuTapThe" />
                        <label>@WebApps.Resources.Resource.lblNhanHieuTapThe</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" value="NHLK" @disableView @styleLienKet placeholder="0_NhanHieuLienKet" id="0_NhanHieuLienKet" />
                        <label>@WebApps.Resources.Resource.lblNhanHieuLienKet</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" value="NHCN" @disableView @styleNhanHieuCN placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" />
                        <label>@WebApps.Resources.Resource.lblNhanHieuChungNhan</label>
                    </div>
                </div>
            </div>
        </div>
        <div style="@styleShowHidenNHCN">
            <div class="div_full_100_area" id="divNhanHieuChungNhan">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", @WebApps.Resources.Resource.lblHeaderDanhMucVaPhanLoaiHangHoa)
                @{
                    string styleNguonGocDL = "";
                    if (!string.IsNullOrEmpty(objAppHeaderInfo.Nguongocdialy))
                    {
                        styleNguonGocDL = "checked='checked'";
                    }

                    string styleChatluong = "";
                    if (!string.IsNullOrEmpty(objAppHeaderInfo.Chatluong))
                    {
                        styleChatluong = "checked='checked'";
                    }

                    string styleNguonGocDiaLy = "";
                    if (!string.IsNullOrEmpty(objAppHeaderInfo.Nguongocdialy))
                    {
                        styleNguonGocDiaLy = "checked='checked'";
                    }
                }

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-checkbox">
                            <input type="checkbox" name="0_ckbDacTinhHangHoa" @disableView @styleDacTinhHangHoa value="DTHH" placeholder="0_ckbDacTinhHangHoa" id="0_ckbDacTinhHangHoa" />
                            <label>@WebApps.Resources.Resource.lblDacTinhHanghoa</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-title">
                        <input type="checkbox" style="float: left;margin: 8px 0px 5px 5px;" @disableView @styleNguonGocDL class="classDacTinhHangHoa" disabled="disabled" name="8_ckbNguonGocDiaLy" value="NGDL" placeholder="8_ckbNguonGocDiaLy" id="8_ckbNguonGocDiaLy" />
                        <div style="width:250px">@WebApps.Resources.Resource.lblNguonGocDiaLy:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" id="8_txtNguonGocDiaLy" class="classDacTinhHangHoa" @disableView value="@objAppHeaderInfo.Nguongocdialy" disabled="disabled" maxlength="100" placeholder="@WebApps.Resources.Resource.lblNguonGocDiaLy" />
                        </div>
                    </div>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <input style="float: left;margin: 8px 0px 5px 5px;" type="checkbox" @styleChatluong @disableView name="8_ckbChatLuong" class="classDacTinhHangHoa" disabled="disabled" value="CLCL" placeholder="8_ckbChatLuong" id="8_ckbChatLuong" />
                        <div>@WebApps.Resources.Resource.lblChatLuong:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" id="8_txtChatLuong" maxlength="100" @disableView value="@objAppHeaderInfo.Chatluong" class="classDacTinhHangHoa" disabled="disabled" placeholder="8_txtChatLuong" />
                        </div>
                    </div>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <input type="checkbox" style="float: left;margin: 8px 0px 5px 5px;" @disableView @styleNguonGocDiaLy name="8_ckbDacTinhKhac" class="classDacTinhHangHoa" disabled="disabled" value="DTKK" placeholder="8_ckbDacTinhKhac" id="8_ckbDacTinhKhac" />
                        <div>@WebApps.Resources.Resource.lblDacTinhKhac:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" id="8_txtDacTinhKhac" maxlength="100" @disableView class="classDacTinhHangHoa" value="@objAppHeaderInfo.Nguongocdialy" disabled="disabled" placeholder="8_txtDacTinhKhac" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Class *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClassView.cshtml")
        @* End Class *@

        @* 2 *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "ĐẠI DIỆN CỦA CHỦ ĐƠN")
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="3_rdoDaiDienChuDon" @disableView value="@DaiDienChuDon.DaiDienPL" @styleDaiDienChuDon placeholder="3_txtNguoiDaiDienPL" id="3_txtNguoiDaiDienPL" />
                        <label>@WebApps.Resources.Resource.lblLaNguoiDaiDienTheoPL</label>
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                @*<div class="div-search-content">*@
                <div class="div-radio" style="width:70%">
                    <input type="radio" name="3_rdoDaiDienChuDon" @disableView value="@DaiDienChuDon.DaiDienSH" @styleDaiDienSH placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" />
                    <label>@WebApps.Resources.Resource.lblLaToChucDichVuDaiDienSoHuu</label>
                </div>

                @*//07/09/2018*@
                <div class="div-search-content">
                    <div>
                        <label style="width:180px;display:inline-block ;border: 1px solid #aaa; padding-top: 5px;  padding-left: 2px;">@WebApps.Resources.Resource.lblMaDaiDien:</label>
                        <input style="display:inline-block" type="text" placeholder="@WebApps.Resources.Resource.lblMaDaiDien" value="@objAppHeaderInfo.MADDSHCN" id="txtMADDSHCN" />
                    </div>
                </div>
                @*</div>*@
                @*</div>*@
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="3_rdoDaiDienChuDon" @disableView value="@DaiDienChuDon.DaiDienUyQuyen" @styleDaiDienUQ placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" />
                        <label>@WebApps.Resources.Resource.lblLaNguoiKhacDuocUyQuyen</label>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "2")

        </div>
        @* 3  A14*@
        <div class="div_full_100_area">
            @* @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "YÊU CẦU HƯỞNG QUYỀN ƯU TIÊN")*@
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png">
                <div class="cls_form_header">@WebApps.Resources.Resource.lblYeuCauHuongQuyenUT.ToUpper()</div>
                <div style="display: inline-block;  padding-top: 8px; padding-left: 5px;">
                    <input type="checkbox" name="0_ckbCoSuDungDonUuTien" @styleSuDungDonUT @disableView value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" />
                    <label><a style="color:blue" id="hrefCo">@WebApps.Resources.Resource.lblCo</a></label>
                </div>
                <div style="display: inline-block;">
                    <input type="checkbox" name="KO_ckbCoSuDungDonUuTien" @disableView value="KO" id="KOUT" />
                    <label><a style="color:blue" id="hrefKhong">@WebApps.Resources.Resource.lblKhong</a></label>
                </div>
            </div>
            <div id="divDonUuTienSo1" style="@styleNoneDisplay">
                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-checkbox">
                            <input type="checkbox" disabled="disabled" name="0_ckbCoSuDungDonUuTien" @styleSuDungDonUT value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" />
                            <label>@WebApps.Resources.Resource.lblCoSuDungDonUT</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div>@WebApps.Resources.Resource.lblSoDon:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" placeholder="6_txtSoDon" disabled="disabled" value="@objAppHeaderInfo.Sodon_Ut" class="classDacTinhUT" maxlength="50" id="6_txtSoDon" />
                        </div>
                    </div>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div>@WebApps.Resources.Resource.lblNgayNopDon:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" placeholder="6_txtNgayNopDon" @disableView value="@objAppHeaderInfo.Ngaynopdon_Ut.ToString("dd/MM/yyyy")" class="classDacTinhUT datetimepicker" style="width:200px" maxlength="10" id="6_txtNgayNopDon" />
                        </div>
                    </div>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div>@WebApps.Resources.Resource.lblNuocNopDon:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <select id="6_txtNuocNopDon" class="classDacTinhUT" disabled="disabled">
                                @foreach (var item in MemoryData.c_lst_Country)
                                {
                                    if (item.Country_Id.ToString() == objAppHeaderInfo.Nuocnopdon_Ut)
                                    {
                                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Country_Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" disabled="disabled" name="4_YCHuongQuyen" class="classDacTinhUT" @styleYCHQUT value="NTVN" placeholder="4_ckbNopTaiVietNam" id="4_ckbNopTaiVietNam" />
                            <label>@WebApps.Resources.Resource.lblTheoDonNopTaiVN</label>
                        </div>
                    </div>
                </div>
                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" name="4_YCHuongQuyen" disabled="disabled" class="classDacTinhUT" @styleCongUocPR value="CUPR" placeholder="4_ckbNopTaiParis" id="4_ckbNopTaiParis" />
                            <label>@WebApps.Resources.Resource.lblTheoDonNopCongUocPR</label>
                        </div>
                    </div>
                </div>
                <div class="div-search-ad" style="display:inline-flex;">
                    <div class="div-search-content" style="width:250px">
                        <div class="div-radio" style="width:245px">
                            <input type="radio" name="4_YCHuongQuyen" disabled="disabled" class="classDacTinhUT" @styleTTK value="NTVN" placeholder="4_ckbThoaThuanKhac" id="4_ckbThoaThuanKhac" />
                            <label>@WebApps.Resources.Resource.lblTheoThoaThuanKhac</label>
                        </div>
                    </div>
                    @* Moithem *@
                    <div class="div-search-content">
                        <input type="text" id="txtThoathuanKhac" disabled="disabled" value="@objAppHeaderInfo.ThoaThuanKhac" maxlength="150" />
                    </div>
                </div>
                @* TÀI LIEU ƯU TIEN *@
                <div class="div-search-ad" style="display:inline-flex;">
                    <div class="div-search-content">
                        <div class="div-checkbox" style="width:422px">
                            <input type="checkbox" class="classDacTinhUT" maxlength="3" disabled="disabled" @ObjInfo04NH_D_14.styleCheck value="04NH_D_14" id="6_rdoTLCMQUT" />
                            <label>@WebApps.Resources.Resource.lblTaiLieuChungMinhQuyenUuTien</label>
                        </div>
                    </div>
                    <div class="div-search-content">
                        <input type="text" id="6_txtTLCMQUT" disabled="disabled" value="@ObjInfo04NH_D_14.CHAR01" maxlength="3" placeholder="6_txtTLCMQUT" />
                    </div>
                    <div class="div-search-title" style="width:412px">
                        <div>@WebApps.Resources.Resource.lblBan</div>
                    </div>
                </div>
                <div class="div-search-ad" style="display:inline-flex;    margin-left: 40px;">
                    <div class="div-search-content">
                        <div class="div-checkbox" style="width:382px">
                            <input type="checkbox" maxlength="3" class="classDacTinhUT" disabled="disabled" @ObjInfo04NH_D_15.styleCheck value="04NH_D_15" id="6_rdoBSDDT" />
                            <label>@WebApps.Resources.Resource.lblbanSaoDauTienGom</label>
                        </div>
                    </div>
                    <div class="div-search-content">
                        <input type="text" id="6_txtBSDDT" disabled="disabled" value="@ObjInfo04NH_D_15.CHAR01" maxlength="3" placeholder="6_txtBSDDT" />
                    </div>
                    <div class="div-search-title" style="width:412px">
                        <div>@WebApps.Resources.Resource.lblBan</div>
                    </div>
                </div>
                <div style="margin-left:40px">

                    @* File dinh kem lay tu db khi sua*@
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_PartialShowFileAttach.cshtml", ObjInfo04NH_D_15)

                </div>
                <div class="div-search-ad" style="display:inline-flex;   margin-left: 40px;">
                    <div class="div-search-content">
                        <div class="div-checkbox" style="width:382px">
                            <input type="checkbox" class="classDacTinhUT" disabled="disabled" @ObjInfo04NH_D_16.styleCheck maxlength="3" value="04NH_D_16" id="6_rdoBDTVGom" />
                            <label>@WebApps.Resources.Resource.lblBanDichTiengVietGom</label>
                        </div>
                    </div>
                    <div class="div-search-content">
                        <input type="text" id="6_txtBDTVGom" disabled="disabled" @disableView value="@ObjInfo04NH_D_16.CHAR01" maxlength="3" placeholder="6_txtBDTVGom" />
                    </div>
                    <div class="div-search-title" style="width:412px">
                        <div>@WebApps.Resources.Resource.lblBan</div>
                    </div>
                </div>
                <div style="margin-left:40px">
                    @* File dinh kem lay tu db khi sua*@
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_PartialShowFileAttach.cshtml", ObjInfo04NH_D_16)
                </div>
                <div class="div-search-ad" style="display:inline-flex;   margin-left: 40px;">
                    <div class="div-search-content">
                        <div class="div-checkbox" style="width:382px">
                            <input type="checkbox" maxlength="3" value="04NH_D_17" disabled="disabled" @ObjInfo04NH_D_17.styleCheck class="classDacTinhUT" id="6_rdoGiayChuyenNhungUT" />
                            <label>@WebApps.Resources.Resource.lblGiayChuyenNhuongQuyenUT</label>
                        </div>
                    </div>
                </div> <div style="margin-left:40px">
                    @* File dinh kem lay tu db khi sua*@
                    @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_PartialShowFileAttach.cshtml", ObjInfo04NH_D_17)
                    @* end file dinh kem *@
                </div>
            </div>
        </div>
        @* div Don số 2 default fixed có 2 đơn *@
        <div id="divDonUuTienSo2" @styleDonUtSo2>
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_Partial04NHDonUTSo2.cshtml")
        </div>

        @* Tài liệu có trong đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_Partial04NHTLTrongDon.cshtml")
        @* End tai lieu dinh kem  *@

        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/View_Partial04NHTaiLieuKhac.cshtml", "12")

        @* CAM KẾT CHỦ ĐƠN  *@
        @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialViewNgayThangNam.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Quay lại" style="width:70px" id="btnBack" class="btn class_37" />
            </div> <div class="classLuuTam">
            </div>
        </div>
    </fieldset>
</div>
<input type="hidden" id="txtDateTime" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
@Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>
<style>
    .div-search-content .ms-ul > ul {
        margin-left: 0px;
    }
</style>

<script>
    $("#btnBack").click(function () {
        window.location.href = "/trade-mark-mana/quan-ly-don";
    });

    //disable enable
    $("input[id='6_rdoTLCMQUT'").change(function () {
        funcAddRemoveDisabled("6_rdoTLCMQUT", "6_txtTLCMQUT");
    });

    $("input[id='6_rdoBSDDT'").change(function () {
        funcAddRemoveDisabled("6_rdoBSDDT", "6_txtBSDDT");
    });

    $("input[id='6_rdoBDTVGom'").change(function () {
        funcAddRemoveDisabled("6_rdoBDTVGom", "6_txtBDTVGom");
    });

    $("input[name='0_NhanHieu'").change(function () {
        var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();
        if (v_NhanHieu == "NHCN") {
            $("#divNhanHieuChungNhan").css('display', 'block')
        } else {
            $("#divNhanHieuChungNhan").css('display', 'none');
        }
    });

    $("input[id='6_rdoTLCMQUT_2'").change(function () {
        funcAddRemoveDisabled("6_rdoTLCMQUT_2", "6_txtTLCMQUT_2");
    });

    $("input[id='6_rdoBSDDT_2'").change(function () {
        funcAddRemoveDisabled("6_rdoBSDDT_2", "6_txtBSDDT_2");
    });

    $("input[id='6_rdoBDTVGom_2'").change(function () {
        funcAddRemoveDisabled("6_rdoBDTVGom_2", "6_txtBDTVGom_2");
    });



    function funcRemoveTradeMarkImg(ptag) {
        $("#" + ptag).attr('src', '');
        $("#txtLogoOld").val("");

    }
    $('#6_txtNuocNopDon').multipleSelect({
        filter: true,
        noMatchesFound: "Không tìm thấy dữ liệu",
        single: true,
        isdatastring: false,
        placeholder: 'Tìm kiếm quốc gia'
    });

    $("#6_txtNuocNopDon").multipleSelect("disable");


    $("#0_ckbDacTinhHangHoa").change(function () {
        if (this.checked) { funcEnableDisable('classDacTinhHangHoa', true); } else { funcEnableDisable('classDacTinhHangHoa', false); }
    });

    function funcEnableDisable(classaction, enable) {
        if (enable == true) { $("." + classaction).removeAttr('disabled'); } else { $("." + classaction).attr('disabled', 'disabled'); }
    }

    $("#0_ckbCoSuDungDonUuTien").change(function () {
        if (this.checked) {
            funcEnableDisable('classDacTinhUT', true);
            $("#6_txtNuocNopDon").multipleSelect("enable")
        } else {
            funcEnableDisable('classDacTinhUT', false);
            $("#6_txtNuocNopDon").multipleSelect("disable")
        }
    });

    //document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
    //    filePreview(this, 'imgMauNhanHieu');
    //};

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }

    function funcAddRemoveDisabled(pIDControl, ptxtDisable) {
        try {
            if ($("#" + pIDControl).is(':checked')) {
                $("#" + ptxtDisable).removeAttr('disabled');
            } else {
                $("#" + ptxtDisable).attr('disabled', 'disabled');
            }
        } catch (e) {

        }
    }


    $(document).ready(function () {

        //if ($("#6_rdoGiayChuyenNhungUT").is(':checked')) {
        //    ShowHidenUpLoad("6_rdoGiayChuyenNhungUT", "6_rdoGiayChuyenNhungUT");
        //}
        //if ($("#6_rdoBDTVGom").is(':checked')) {
        //    ShowHidenUpLoad("6_rdoBDTVGom", "6_rdoBDTVGom");
        //}
        //if ($("#6_rdoBSDDT").is(':checked')) {
        //    ShowHidenUpLoad("6_rdoBSDDT", "6_rdoBSDDT");
        //}
        //ham 1
        if ($("#0_ckbCoSuDungDonUuTien").is(':checked')) {
            funcEnableDisable('classDacTinhUT', true);
            $("#6_txtNuocNopDon").multipleSelect("enable")
        }
        //Chạy 1 ham trên trước
        funcAddRemoveDisabled('6_rdoTLCMQUT', '6_txtTLCMQUT');
        funcAddRemoveDisabled('6_rdoBSDDT', '6_txtBSDDT');
        funcAddRemoveDisabled('6_rdoBDTVGom', '6_txtBDTVGom');

        if ($("#0_ckbDacTinhHangHoa").is(':checked')) {
            funcEnableDisable('classDacTinhHangHoa', true);
        }

    });

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }

    $("#btnGuiDon").click(function () {

        funcSaveType(2);
    });

    $("#btnLuuTam").click(function () {
        funcSaveType(1);

    });


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }


    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }


    //undo lai
    function UndoFileEdit(pID, pdivUp) {
        try {
            $("." + pID).css('display', 'block');

            var arrlistID = $("#txtDocumentInAppRemove").val();
            var pIDUndo = pID + "|";
            if (arrlistID.indexOf(pIDUndo) != -1) {
                arrlistID = arrlistID.replace(pIDUndo, "");
            }
            $("#Pre_" + pdivUp).removeClass("clssDisplayBlock");
            $("#Pre_" + pdivUp).addClass("clssDisplaynone");
            $("#txtDocumentInAppRemove").val(arrlistID);
        } catch (e) {
        }
    }

</script>

<style>
    .div-search-content .ms-ul > ul {
        margin-left: 0px;
    }

    .section-body {
        overflow-y: hidden;
    }
</style>
