@using Common.CommonData
@using WebApps.ExtensionObject
@using WebApps.Resources;
@using WebApps.CommonFunction
@{
    Layout = null;
    string language = AppsCommon.GetCurrentLang();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="__RequestVerificationToken" content="@Html.AntiForgeryTokenValue()" />
    @if (language == "VI_VN")
    {
        <title>Register</title>
    }
    else
    {
        <title>Login System</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src=@($"/Scripts/jquery-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery-ui-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery.unobtrusive-ajax.min.js?v={CommonVariables.AssemblyVersion}")></script>

    <link href=@($"/Scripts/outSourcesLib/notify/animate.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/notify/notify.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Content/font.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/Site.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/IconNVS/IconNVS.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/glyphicons/glyphicons.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/fontawesome/fontawesome-all.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <script>
        var _currentlanguage = '@language';
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            position: relative;
            min-width: 1000px;
            overflow: auto;
            /*background-image: url('/Content/images/login_background.png');*/
            background-color: #478ccc;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            font-family: Roboto-Regular;
        }

        * {
            font-size: 13px !important;
        }

        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            background-color: rgba(0,0,0,.5);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center; /* safari justify-content */
            -webkit-flex-pack: center; /* safari justify-content */
            justify-content: center;
            align-items: center;
        }

        .d-container {
            align-items: center;
            padding: 30px 30px 50px 30px;
            background-color: #F5F7F8;
        }

        .d-form-login input {
            margin-bottom: 10px;
            height: 45px;
        }

            .d-form-login input.btn {
                margin-top: 30px;
            }

        .d-form-login p {
            padding: 10px 0;
        }

        input[type="text"], input[type="password"], textarea {
            border: 1px solid #dfe4ea;
        }

        .btn {
            background-color: #478CCC;
        }

        input[type="button"],
        input[type="submit"] {
            width: 100%;
        }

            input[type="button"]:disabled,
            input[type="submit"]:disabled {
                background: #808080;
                box-shadow: none !important;
            }

        input[type="checkbox"] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5)
        }

        .formname {
            font-size: 24px !important;
        }
    </style>

</head>

<body>
    <div class="hidden">
        @Html.Partial("~/ViewsShared/nvs.variables.js.cshtml")
    </div>

    <div class="fixed">
        <div class="d-container" style="width: 400px;">
            <div class="d-form-login">
                <form id="frmLogin" method="post" action=""
                      enctype="multipart/form-data">
                    <div>
                        <p class="font-size-20 text-font-medium text-color-2 formname">Create Your Account</p>
                    </div>
                    <div>
                        <p>First Name</p>
                        <input type="text" name="txtFNAME" id="txtFNAME" autofocus />
                    </div>
                    <div>
                        <p>Last Name</p>
                        <input type="text" name="txtLNAME" id="txtLNAME" />
                    </div>
                    <div>
                        <p>Phone</p>
                        <input type="text" name="txtPHONE" id="txtPHONE" />
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="text" name="txtEmail" id="txtEmail" />
                    </div>
                    <div style="margin-top:11px;">
                        <div style="width:26px;float:left;padding-top:10px;">
                            <input type="checkbox" name="checkterm" id="cbocheckterm" onchange="funccheckterm()" />
                        </div>
                        <div style="width:80%;float:left;line-height:18px;">
                            To register with us please tick to agree our <br />
                            <span style="color:#478CCC">
                                @*@if (language == LangCode.EN_US.ToString())
                                    {
                                        <a href="/quan-ly-tin/news-detail/102/7" target="_blank"> Terms and Conditions</a>
                                    }
                                    else
                                    {
                                        <a href="/quan-ly-tin/news-detail/101/7" target="_blank"> Terms and Conditions</a>
                                    }*@
                                <a href="/quan-ly-trang-bia/trang/term" target="_blank"> Terms and Conditions</a>
                            </span>
                        </div>


                    </div>
                    <div>
                        <input type="button" class="btn" disabled id="btnRegister" value="Register" onclick="return funcRegister()" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="divWrapperPopUpUser" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpUser">
        </div>
    </div>

    <script src=@($"/Scripts/nvs.jquery.validate.data.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.util.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.alert.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.filter.search.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/notify/bootstrap-notify.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/es6-promise.auto.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/multipleSelect/jquery.multiple.select_new.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dragtables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.full.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src="~/Scripts/AlertPopup/NVSAlerts.js"></script>
    <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>
    <script src="~/Scripts/nvs.jquery.alert.js"></script>
</body>
</html>


<script>
    $(document).ready(function () {
        $('#txtFNAME').focus();
    });
    function funccheckterm() {
        try {

            if ($("#cbocheckterm").prop("checked") == true) {
                $("#btnRegister").removeAttr("disabled");
            }
            else {
                $("#btnRegister").attr("disabled", "true");
            }
        } catch (e) {
            console.log(e);
        }
    }


    function funcHome() {
        window.location.href = "/";
    }
    function funcRegister() {
        try {
            var fname = $("#txtFNAME").val();
            if (fname === "" || fname == undefined) {
                jError("@Html.Raw(WebApps.Resources.Resource.fullNameTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtFNAME").focus();
                });

                return false;
            }

            var lname = $("#txtLNAME").val();
            var phone = $("#txtPHONE").val();
            var email = $("#txtEmail").val();

            if (phone === "" && email == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.EmailPhoneTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtEmail").focus();
                });
                return false;
            }
            var company = $("#txtCOMPANY").val();
            var formData = new FormData();
            formData.append("pRegisInfo.FistName", fname);
            formData.append("pRegisInfo.LastName", lname);
            formData.append("pRegisInfo.Email", email);
            formData.append("pRegisInfo.Phone", phone);
            formData.append("pRegisInfo.Company", company);

            $.ajax({
                url: "/account/register",
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.SignUpSuccess)","@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            funcHome();
                        });

                        return true;
                    }
                    else if (data.status == -22) {
                        jError("@Html.Raw(WebApps.Resources.Resource.EmailPhoneTrung)", "@Html.Raw(WebApps.Resources.Resource.Loi)");
                        funcReset();
                        return;
                    }
                    else {
                        jError("@Html.Raw(WebApps.Resources.Resource.SignUpError)", "@Html.Raw(WebApps.Resources.Resource.Loi)");
                        funcReset();
                        return;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });


        } catch (e) {

        }
    }

    function funcReset() {
        try {
            $("#txtFNAME").val("");
            $("#txtLNAME").val("");
            $("#txtEmail").val("");
            $("#txtPHONE").val("");
        } catch (e) {

        }

    }
</script>