@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<ApplicationHeaderInfo> _list_data = new List<ApplicationHeaderInfo>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }
}

<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="class200" data-sort id="Appcode">Case code</th>
                <th class="class250">Case name</th>
                <th class="class150">Loại đơn</th>
                <th class="class250">Khách hàng</th>
                <th class="class150">Người xử lý</th>
                <th class="class100">Thời gian chờ (ngày)</th>
                <th class="class250">Trạng thái</th>
                <th class="class150">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
            <tr>
                <td class="tdcenteralign">@item.STT</td>
                <td class="tdleftalign">@item.Case_Code</td>
                <td class="tdleftalign">@item.Case_Name</td>
                <td class="tdleftalign">@item.Appcode</td>
                <td class="tdleftalign">@item.Customer_Name</td>
                <td class="tdleftalign">@item.User_Processing</td>
                <td class="tdcenteralign">@item.Date_Wait</td>
                <td class="tdleftalign">@item.Status_Name</td>

                <td class="tdcenteralign">
                    @*<a href="/trade-mark/request-for-trade-mark-view/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-info" data-title="Xem chi tiết"></a>*@
                    <a href="/trade-mark-share-data/todo-details/@item.Case_Code/0" class="icon icon-info" data-title="Xem chi tiết"></a>
                    @*<a href="/trade-mark-share-data/todo-details/@item.Case_Code/2" class="icon icon-edit" data-title="Sửa"></a>*@
                    <a href="/trade-mark/request-for-trade-mark-edit/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-edit" data-title="Sửa"></a>

                    <a href="/trade-mark/request-for-trade-mark-translate/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-confirm-circle" data-title="Dịch"></a>
                    @if (item.Status == (decimal)CommonEnums.App_Status.Luu_tam)
                    {
                        <a href="javascript:;" onclick="return funcDelAppDoc('@item.Id','@item.Appcode')" class="icon icon-delete" data-title="Xóa"></a>
                    }
                    else if (item.Status == (decimal)CommonEnums.App_Status.DaGui_ChoPhanLoai || item.Status == (decimal)CommonEnums.App_Status.KhacHangDaTuChoi)
                    {
                        <a href="javascript:;" onclick="getViewPhanLoaiDon(@item.Id)" class="icon icon-queen" data-title="Phân loại cho luật sư"></a>
                    }
                    else if (item.Status == (decimal)CommonEnums.App_Status.DaPhanChoLuatSu)
                    {
                        // luật sư có thể sửa thông tin và phản gửi lại cho admin
                        <a href="javascript:;" onclick="getViewLuatSuConfirm('@item.Id')" class="icon icon-confirm-circle" data-title="Luật sư Confirm đơn"></a>
                    }
                    else if (item.Status == (decimal)CommonEnums.App_Status.LuatSuDaConfirm)
                    {
                        // Admin gửi lại cho KH
                        <a href="javascript:;" onclick="do_Admin_Gui_KH(@item.Id)" class="icon icon-queen" data-title="Gửi xác nhận đơn cho khách hàng"></a>
                    }
                    else if (item.Status == (decimal)CommonEnums.App_Status.ChoKHConfirm)
                    {
                        // Khách hàng confirm lại cho admin
                        <a href="javascript:;" onclick="getViewConfirmKhachHang('@item.Id')" class="icon icon-confirm-circle" data-title="KH Confirm đơn"></a>
                    }
                    else if (item.Status == (decimal)CommonEnums.App_Status.KhacHangDaConfirm)
                    {
                        // Khách hàng đã confirm lại cho admin -> admin gửi lên cục
                        <a href="javascript:;" onclick="getViewFiling('@item.Id')" class="icon icon-confirm-circle" data-title="Nộp đơn"></a>
                    }


                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
