@using ObjectInfos;
@using BussinessFacade;
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    BussinessFacade.ModuleUsersAndRoles.UserBL _UserBL = new BussinessFacade.ModuleUsersAndRoles.UserBL();
    List<UserInfo> _lstUsersNV = _UserBL.GetUserByType(Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.Employee));
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.PhanLoaiChoNVNopDon 
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.ChonNV<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <select id="cboEmployee">
                    @foreach (var item in _lstUsersNV)
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Submit" onclick="return doPhanLoai('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $('#cboEmployee').multipleSelect({
            filter: true,
            single: true,
            isdatastring: false,
            maxHeight: 150,
            placeholder: "-- Chọn nhân viên --"
        });

    });

    var _Employee_Id;

    function doPhanLoai(_case_code) {
        if (validateAction()) {
            nvsConfirm(null,"@Html.Raw(WebApps.Resources.Resource.ConfirmPhanLoai)", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-phan-loai-employee',
                    type: 'POST',
                    data: {
                        p_case_code: _case_code,
                        p_employee: $('#cboEmployee').val(),
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        _Employee_Id = $('#cboEmployee').val();
        if (_Employee_Id == null || _Employee_Id == "0") {
            jError('Employee can not empty', "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#cboEmployee').multipleSelect('focus');
            });
            return false;
        }

        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.GhiChuKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }
    
</script>
