@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 250px;
    }
</style>
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.KH_Review
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.NgayNopDon</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" disabled="disabled" value="@_AppHeaderInfo.Filing_Date.ToString("dd/MM/yyyy")" style="width: 200px" />
            </div>
        </div>

        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.NgayCucTraLoi</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" disabled="disabled" value="@_AppHeaderInfo.Expected_Accept_Date.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.FileCopy<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.Url_copy_filing" href="@_AppHeaderInfo.Url_copy_filing"> File copy advice filing </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.FileDich<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.URL_TRANSLATE_FILING" href="@_AppHeaderInfo.URL_TRANSLATE_FILING"> @WebApps.Resources.Resource.FileDich </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.Billing<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.Url_Billing" href="@_AppHeaderInfo.Url_Billing"> @WebApps.Resources.Resource.FileBilling </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    @{
        string _id1 = "1";
        string _isValid1 = "0";
        string _model1 = _id1 + "|" + _isValid1 + "|" + WebApps.Resources.Resource.FileScanTB ;
        @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
    }

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Submit" onclick="return do_Customer_Review('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function do_Customer_Review(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn gửi nội dung này hay không?", function () {

                var formdata = new FormData();
                formdata.append("pInfo.Case_Code", _case_code);
                formdata.append("pInfo.Id", @_AppHeaderInfo.Id);
                formdata.append("pInfo.Note", $('#txtNotes').val());

                var pfile = $("#file_attach_1");//lay du lieu file
                if (pfile.val() != "") {
                    var _file = pfile[0].files[0];
                    formdata.append("pInfo.File_Atachment", _file);
                }

                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-customer-review-filing',
                    type: 'POST',
                    data: formdata,
                    enctype: 'multipart/form-data',
                    async: true, cache: false, traditional: true, contentType: false,
                    processData: false,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Submit thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

   
    function validateAction() {
        var _re = checkValidate_File("1");
        if (_re == false) {
            return false;
        }

        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError('Ghi chú không được để trống!', "Lỗi", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
