@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>

<div class="">
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/info.png" />
        <div class="cls_form_header">
            Admin gửi kết quả nộp đơn tới khách hàng
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File copy<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_AppHeaderInfo.Url_copy_filing"> File copy advice filing </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File dịch<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_AppHeaderInfo.URL_TRANSLATE_FILING"> File translate</a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Billing<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_AppHeaderInfo.Url_Billing"> File billing </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div style="width:150px">Ghi chú <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Gửi" onclick="return do_Employee_Confirm('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //$('#cboConfirm').multipleSelect({
        //    filter: true,
        //    single: true,
        //    isdatastring: false, 
        //    maxHeight: 150,
        //    placeholder: "-- Nhân viên phản hồi --"
        //});

    });

    function do_Employee_Confirm(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn gửi kết quả nộp đơn tới khách hàng hay không?", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-send-result-to-customer',
                    type: 'POST',
                    data: {
                        p_app_id: @_AppHeaderInfo.Id,
                        p_case_code: _case_code,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Gửi kết quả nộp đơn thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError('Ghi chú không được để trống!', "Lỗi", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
