@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    //decimal _application_header_id = -1;
    //if (ViewBag.Application_Header_Id != null)
    //{
    //    _application_header_id = ViewBag.Application_Header_Id;
    //}

    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>

<div class="">
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.NVNopDonPhanHoi
        </div>
    </div>

    @*<div class="div-search-ad">
        <div class="div-search-title">
            <div style="width:150px">NV nộp đơn confirm<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div >
                <select id="cboConfirm" disabled="disabled">
                    @foreach (var item in MemoryData.AllCode_GetBy_CdTypeCdName("CUSTOMER", "CONFIRM"))
                    {
                        if (item.CdVal == ((int)Common.CommonData.CommonEnums.Action_Type.Accept).ToString())
                        {
                            <option selected="selected" value="@item.CdVal">@item.Content</option>
                        }
                        else
                        {
                            <option value="@item.CdVal">@item.Content</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>*@

    <div class="div-search-ad">
        <div class="div-search-title">
            <div style="width:150px">@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Submit" onclick="return do_Employee_Confirm('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //$('#cboConfirm').multipleSelect({
        //    filter: true,
        //    single: true,
        //    isdatastring: false, 
        //    maxHeight: 150,
        //    placeholder: "-- Nhân viên phản hồi --"
        //});

    });

    function do_Employee_Confirm(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmSubmit)", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-employee-confirm',
                    type: 'POST',
                    data: {
                        p_case_code: _case_code,
                        p_status: 1,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        //var _Status = $('#cboConfirm').val();
        //if (_Status == null || _Status == "0") {
        //    jError('Action Confirm không được để trống!', "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
        //        $('#cboConfirm').multipleSelect('focus');
        //    });
        //    return false;
        //}

        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.GhiChuKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
