@using Common.CommonData
@using WebApps.CommonFunction
@using ObjectInfos;
@{
    List<ApplicationHeaderInfo> _list_data = new List<ApplicationHeaderInfo>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }

    string language = AppsCommon.GetCurrentLang();
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;
}

<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="class200" data-sort id="Appcode">Case code</th>
                <th class="class250">Case name</th>
                <th class="class150">Loại đơn</th>
                <th class="class250">Khách hàng</th>
                <th class="class150">Người xử lý</th>
                <th class="class100">Thời gian chờ (ngày)</th>
                <th class="class250">Trạng thái</th>
                <th class="class150">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">@item.STT</td>
                        <td class="tdleftalign">@item.Case_Code</td>
                        <td class="tdleftalign">@item.Case_Name</td>
                        <td class="tdleftalign">@item.Appcode</td>
                        <td class="tdleftalign">@item.Customer_Name</td>
                        <td class="tdleftalign">@item.User_Processing</td>
                        <td class="tdcenteralign">@item.Date_Wait</td>
                        <td class="tdleftalign">@item.Status_Name</td>

                        <td class="tdcenteralign">
                            @*<a href="/trade-mark/request-for-trade-mark-view/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-info" data-title="Xem chi tiết"></a>*@
                            <a href="/trade-mark-share-data/todo-details/@item.Case_Code/0" class="icon icon-info" data-title="Xem chi tiết"></a>
                            @*<a href="/trade-mark-share-data/todo-details/@item.Case_Code/2" class="icon icon-edit" data-title="Sửa"></a>*@
                            @if ((language == "VI_VN" && item.Languague_Code == "VI_VN") || (language == "EN_US" && item.Languague_Code == "EN_US"))
                            {
                                <a href="/trade-mark/request-for-trade-mark-edit/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-edit" data-title="Sửa"></a>
                            }

                            @* Phần dịch thì dịch hết từ việt sang anh và từ anh sang việt*@
                            @* Chi Hien thi phan dich neu la ban ghi tiếng anh, và đang xem trên ngôn ngữ tiếng việt *@
                            @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin
                            || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.SupperAdmin
                            || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer)
                            {
                                //if (item.Id_Vi >= 0 && language == "VI_VN" && item.Languague_Code == "EN_US")
                                <a href="/trade-mark/request-for-trade-mark-translate/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()/@item.Id_Vi" data-title="Dịch">
                                    <img src="/Content/icons/translate.png">
                                </a>
                            }
                            @if (item.Status == (decimal)CommonEnums.App_Status.Luu_tam)
                            {
                                <a href="javascript:;" onclick="return funcDelAppDoc('@item.Id','@item.Appcode')" class="icon icon-delete" data-title="Xóa"></a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
