@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>

<div class="">
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.AdminGuiKetQuaNopDon
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.SoDon<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" maxlength="100" placeholder="@WebApps.Resources.Resource.SoDon" id="txt_App_No" disabled value="@_AppHeaderInfo.App_No" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.NgayNopDon</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" disabled="disabled" value="@_AppHeaderInfo.Filing_Date.ToString("dd/MM/yyyy")" style="width: 200px" />
            </div>
        </div>

        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.NgayCucTraLoi</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" disabled="disabled" value="@_AppHeaderInfo.Expected_Accept_Date.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.FileCopy<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.Url_copy_filing" href="@_AppHeaderInfo.Url_copy_filing"> @WebApps.Resources.Resource.FileCopy advice filing </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.FileDich</div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.URL_TRANSLATE_FILING" href="@_AppHeaderInfo.URL_TRANSLATE_FILING"> @(_AppHeaderInfo.URL_TRANSLATE_FILING == null ? "" : WebApps.Resources.Resource.FileDich) </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.Billing</div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" download="@_AppHeaderInfo.Url_Billing" href="@_AppHeaderInfo.Url_Billing"> @(_AppHeaderInfo.Url_Billing == null ? "" : WebApps.Resources.Resource.FileBilling) </a> 
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Send" onclick="return do_Employee_Confirm('@_AppHeaderInfo.Case_Code')" />

            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Reject" onclick="return onReject('@_AppHeaderInfo.Case_Code')" />

            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Transfer" onclick="return onTransfer('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    });

    function do_Employee_Confirm(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmSubmit)", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-send-result-to-customer',
                    type: 'POST',
                    data: {
                        p_app_id: @_AppHeaderInfo.Id,
                        p_case_code: _case_code,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function onReject(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.TuChoiNoiDung)", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-reject-result-to-customer',
                    type: 'POST',
                    data: {
                        p_app_id: @_AppHeaderInfo.Id,
                        p_case_code: _case_code,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.TuChoiThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function onTransfer(_case_code) {
        var url = "/trade-mark-share-data/app-re-grant/" + _case_code + "/2" + "/" + '@_AppHeaderInfo.Status';
        window.open(url);
    }

    function validateAction() {
        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.GhiChuKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
