@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model string
@{
    Template_Email_Info _Template_Email_Info = new Template_Email_Info();
    _Template_Email_Info.Content = "";
    if (ViewBag.Template_Email_Info != null)
    {
        _Template_Email_Info = (Template_Email_Info)ViewBag.Template_Email_Info;
    }

    string _id = Model;
    if (ViewBag.Id != null)
    {
        _id = (string)ViewBag.Id;
    }
    //txtComment_Filling
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }

    .none_style a {
        padding: 0;
        /* height: 27px; */
        border: none;
        /* border-left: none; */
        text-decoration: underline;
        color: #02961E;
    }
</style>

@*<div class="div-search-ad">
    <div class="div-search-title" style="height:200px">
        <div>@WebApps.Resources.Resource.NoiDungChinh </div>
    </div>
    <div class="div-search-content">
        <div>
            <textarea name="txtBody" maxlength="4000" id="@_id">@Html.Raw(_Template_Email_Info.Content)</textarea>
         </div>
    </div>
</div>*@
<div>@WebApps.Resources.Resource.NoiDungChinh </div>
<textarea name="txtBody" maxlength="4000" id="@_id">@Html.Raw(_Template_Email_Info.Content)</textarea>
<div class="form-group">
    <div class="form-group-bottom">
        <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.LuatSuXacNhan" onclick="return do_Filing1()" />
    </div>
</div>
<script>
    var txtNoiDung = CKEDITOR.replace("txtBody",
      {
          height: 500
      });
    function do_Filing1() {
        var _Body = CKEDITOR.instances['txtBody'].getData()
        alert(_Body);
    }
</script>