@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@{
    ViewBag.Title = "Registration of the Geographical Indication";
    Layout = "~/ViewsShared/_Layout.cshtml";

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    A05_Info _App_Detail = new A05_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (A05_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    List<AuthorsInfo> Lst_AuthorsInfo = new List<AuthorsInfo>();
    if (ViewBag.Lst_AuthorsInfo != null)
    {
        Lst_AuthorsInfo = (List<AuthorsInfo>)ViewBag.Lst_AuthorsInfo;
    }

    List<Other_MasterInfo> Lst_Other_Master = new List<Other_MasterInfo>();
    if (ViewBag.Lst_Other_Master != null)
    {
        Lst_Other_Master = (List<Other_MasterInfo>)ViewBag.Lst_Other_Master;
    }

    List<AppDocumentOthersInfo> Lst_DocumentOthers = new List<AppDocumentOthersInfo>();
    if (ViewBag.Lst_DocumentOthers != null)
    {
        Lst_DocumentOthers = (List<AppDocumentOthersInfo>)ViewBag.Lst_DocumentOthers;
    }


    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }


    B_Todos_Info _todo = new B_Todos_Info();
    if (ViewBag.B_Todos_Info != null)
    {
        _todo = (B_Todos_Info)ViewBag.B_Todos_Info;
    }
    else
    {
        _todo = null;
    }

    decimal _max_Model_Id = Lst_Other_Master.Count + 1;
    decimal _max_Model_Id_author = Lst_AuthorsInfo.Count + 1;

}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }

    .div-radio {
        min-width: 100px;
    }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;"> Registration of the Geographical Indication </a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='A05' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">Registration of the Geographical Indication.ToUpper()</legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Html.Raw(Resource.A05_MOTAMACH)
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_TENGOI)</div>
            </div>
            <div class="div-search-content">
                <div style="width:500px">
                    <input type="text" id="txt_TenThietKe" maxlength="200" value="@_App_Detail.TenThietKe" disabled/>
                </div>
            </div>
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_NGAYTAOTHIETKET) </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_NgayTaoThietKe" maxlength="10" value="@(_App_Detail.NgayTaoThietKe == DateTime.MinValue ? "" : _App_Detail.NgayTaoThietKe.ToString("dd/MM/yyyy"))" disabled/>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width:200px">@Html.Raw(Resource.A05_KHAITHACTHUONGMAI)</div>
            </div>
            <div class="div-search-content">
                <div style="width:300px">
                    <input type="text" id="txt_KhaiThactm" maxlength="200" value="@_App_Detail.KhaiThactm" disabled/>
                </div>
            </div>
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_KHAITHACTHUONGMAI_TAINUOC)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_KhaiThactm_TaiNuoc" maxlength="200" value="@_App_Detail.KhaiThactm_TaiNuoc" disabled/>
                </div>
            </div>
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_KHAITHACTHUONGMAI_NGAY)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_KhaiThactm_Ngay" maxlength="200"  
                           value="@(_App_Detail.KhaiThactm_Ngay == DateTime.MinValue ? "" : _App_Detail.KhaiThactm_Ngay.ToString("dd/MM/yyyy"))" disabled/>
                </div>
            </div>
        </div>
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Html.Raw(Resource.A05_PHANLOAI)
                
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_CHUCNANG)</div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" value="NHO" name="ChucNang" id="ckbChucNangNHO" onchange="onChangeChucNang('NHO')">
                    <label> @Html.Raw(Resource.A05_CHUCNANG_NHO)</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="ChucNang" value="LOGIC" id="ckbChucNangLOGIC" onchange="onChangeChucNang('LOGIC')">
                    <label>Logic</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio" style="width:120px">
                    <input disabled type="radio" name="ChucNang" id="ckbChucNangOTHER" value="OTHER" onchange="onChangeChucNang('OTHER')">
                    <label>@Html.Raw(Resource.A05_CHUCNANG_KHAC)</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="text" readonly id="txtChucNang_OTHER" maxlength="200" value="@_App_Detail.ChucNang_Other">
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_CAUTRUC)</div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CauTruc" value="LUONGCUC" id="ckbCauTrucLUONGCUC" onchange="onChangeCauTruc('LUONGCUC')">
                    <label>@Html.Raw(Resource.A05_CAUTRUC_LUONGCUC)</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CauTruc" id="ckbCauTrucMOS" value="MOS" onchange="onChangeCauTruc('MOS')">
                    <label> MOS</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CauTruc" id="ckbCauTrucBI-MOS" value="BI-MOS" onchange="onChangeCauTruc('BI-MOS')">
                    <label> BI-MOS</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio" style="width:120px">
                    <input disabled type="radio" name="CauTruc" id="ckbCauTrucQUANG-DIENTU" value="QUANG-DIENTU" onchange="onChangeCauTruc('QUANG-DIENTU')">
                    <label>@Html.Raw(Resource.A05_CAUTRUC_QUANGDIENTU) </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio" style="width:120px">
                    <input disabled type="radio" name="CauTruc" id="ckbCauTrucOTHER" value="QUANG-DIENTU" onchange="onChangeCauTruc('OTHER')">
                    <label>@Html.Raw(Resource.A05_CAUTRUC_KHAC) </label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="text" readonly id="txtCAUTRUC_OTHER" value="@_App_Detail.CauTruc_OTHER" maxlength="200">
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_CONGNGHE)</div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" value="TTL" id="ckbCongNgheTTL" onchange="onChangeCongNghe('TTL')">
                    <label> TTL</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheDTL" value="DTL" onchange="onChangeCongNghe('DTL')">
                    <label> DTL</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheECL" value="ECL" onchange="onChangeCongNghe('ECL')">
                    <label> ECL</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheITL" value="ITL" onchange="onChangeCongNghe('ITL')">
                    <label>ITL</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheCMOS" value="CMOS" onchange="onChangeCongNghe('CMOS')">
                    <label>CMOS</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheNMOS" value="NMOS" onchange="onChangeCongNghe('NMOS')">
                    <label>NMOS</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNghePMOS" value="PMOS" onchange="onChangeCongNghe('PMOS')">
                    <label>PMOS</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio" style="width:120px">
                    <input disabled type="radio" name="CongNghe" id="ckbCongNgheOTHER" value="OTHER" onchange="onChangeCongNghe('OTHER')">
                    <label>@Html.Raw(Resource.A05_CONGNGHE_KHAC)</label>
                </div>
            </div>
            <div class="div-search-content">
                <div class="div-radio">
                    <input disabled type="text" readonly id="txtCongNghe_OTHER" value="@_App_Detail.CongNghe_OTHER" maxlength="200">
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Html.Raw(Resource.A05_Description) </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input disabled type="text" id="txt_MoTaTomTat" maxlength="200" value="@_App_Detail.MoTaTomTat"
                           placeholder="@Html.Raw(Resource.A05_MOTAVANTAT)">
                </div>
            </div>

        </div>



        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon_View.cshtml", "1")
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:385px">
                    @if (_App_Detail.Master_Type != "")
                    {
                        <input disabled type="radio" name="1_rdoChuDon" value="TGDT" id="1_ckbTacGiaDongThoi" checked="checked">
                    }
                    else
                    {
                        <input disabled type="radio" name="1_rdoChuDon" value="TGDT" id="1_ckbTacGiaDongThoi">
                    }
                    <label>@Resource.ChuDonDongThoiLaTacGia</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (Lst_Other_Master.Count > 0)
                    {
                        <input disabled type="radio" name="1_rdoChuDon" checked="checked" value="CDK" id="rdChuDonKhac" onchange="onChangeChuDonKhac()">
                    }
                    else
                    {
                        <input disabled type="radio" name="1_rdoChuDon" value="CDK" id="rdChuDonKhac" onchange="onChangeChuDonKhac()">
                    }
                    <label>@Resource.NgoaiChuDon</label>
                </div>
            </div>
        </div>

        <div id="divChuDonKhac">
            @for (int i = 0; i < Lst_Other_Master.Count; i++)
            {
                Lst_Other_Master[i].Model_Id = (i + 1);
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDonKhac_View.cshtml", Lst_Other_Master[i])
            }
        </div>


        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon_View.cshtml", "2")

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3C_MaDaiDien:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input disabled type="text" id="txtMADDSHCN" value="@_AppHeaderInfo.Customer_Code" />
                </div>
            </div>
        </div>
        @* end 2 *@

        @* Tác giả *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TacGia
            </div>
        </div>

        <div id="div_PartialThongTinTacGia">
            @if (Lst_AuthorsInfo.Count > 0)
            {
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinTacGia_View.cshtml", Lst_AuthorsInfo[0])
            }
        </div>

        <div id="divTacGiaKhac">
            @if (Lst_AuthorsInfo.Count > 1)
            {
                for (int i = 1; i < Lst_AuthorsInfo.Count; i++)
                {

                    <div class="divCover cls_form_title">
                        <img src="~/Content/icons/category.png" />
                        <div class="cls_form_header">
                            @Resource.TacGiaKhac
                        </div>
                    </div>

                    Lst_AuthorsInfo[i].Model_Id = (i + 1);
                    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinTacGia_View.cshtml", Lst_AuthorsInfo[i])
                }
            }
        </div>


        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        <div class="divCover cls_form_title">
            <b>@Resource.TaiLieuToiThieu</b>
        </div>

        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTreeDocumentView.cshtml")

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.SoHinhAnh:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtSoHinhAnh" readonly="readonly" value="@_App_Detail.SoAnh" />
                </div>
            </div>
        </div>

        @* id doc | id của check box | level | lable | lable 2 | is upload *@
        @* 1 Tờ khai *@
        @{
            string _doc_id1 = "A05_01";
            string _id1 = _doc_id1 + "|Doc_01|0|" + Resource.TM2B_ToKhaiGom + "|" + Resource.TM2B_SoTrang + "|0||" + Resource.lblSoBan;
            string _value1 = "";
            if (dic_appDoc.ContainsKey(_doc_id1))
            {
                _value1 = dic_appDoc[_doc_id1].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id1].CHAR01 + "|" + dic_appDoc[_doc_id1].Url_Hardcopy + "|" + dic_appDoc[_doc_id1].CHAR02;
            }
            string _model1 = _id1 + ";" + _value1;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model1)
        }



        @* 2. Bộ ảnh chụp hoặc bản vẽ TKBT gồm.......trang x .......bộ *@
        @{
            string _doc_id2 = "A05_02";
            string _id2 = _doc_id2 + "|Doc_02|0|" + Resource.A05_BOANHCHUPBANVE + "|" + Resource.TM2B_SoTrang + "|1||" + Resource.Bo;
            string _value2 = "";
            if (dic_appDoc.ContainsKey(_doc_id2))
            {
                _value2 = dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy + "|" + dic_appDoc[_doc_id2].CHAR02;
            }
            string _model2 = _id2 + ";" + _value2;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model2)
        }

        @*12 bản mô tả*@
        
        @{
            string _doc_id12 = "A05_12";
            string _id12 = _doc_id12 + "|Doc_12|0|" + Resource.A05_BANMOTA + "|" + Resource.TM2B_SoTrang + "|0||" + Resource.lblSoBan;
            string _value12 = "";
            if (dic_appDoc.ContainsKey(_doc_id12))
            {
                _value12 = dic_appDoc[_doc_id12].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id12].CHAR01 + "|" + dic_appDoc[_doc_id12].Url_Hardcopy + "|" + dic_appDoc[_doc_id12].CHAR02;
            }
            string _model12 = _id12 + ";" + _value12;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model12)
        }


        @*3  Bản sao chứng từ nộp phí, lệ phí (trường hợp nộp phí, lệ phí qua dịch vụ bưu chính hoặc nộp trực tiếp vào tài khoản của Cục Sở hữu trí tuệ  *@

        @{

            string _doc_id3 = "A05_03";
            string _id3 = _doc_id3 + "|Doc_03|0|" + Resource.BanSaoChungTu + "||1";
            string _value3 = "";
            if (dic_appDoc.ContainsKey(_doc_id3))
            {
                _value3 = dic_appDoc[_doc_id3].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy + "|" + dic_appDoc[_doc_id3].CHAR02;
            }
            string _model3 = _id3 + ";" + _value3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model3)
        }

        <div class="divCover cls_form_title">
            <b>@WebApps.Resources.Resource.lblTaiLieuKhac.ToUpper()</b>
        </div>


        @* 4 Giấy uỷ quyền bằng tiếng *@
        @{

            string _doc_id4 = "A05_04";
            string _id4 = _doc_id4 + "|Doc_04|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|0";
            string _value4 = dic_appDoc[_doc_id4].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
            string _model4 = _id4 + ";" + _value4;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model4)
        }

        @* 5 Bản gốc *@
        @{
            string _doc_id5 = "A05_05";
            string _id5 = _doc_id5 + "|Doc_05|1|" + Resource.TM2B_BanGoc + "||1";
            string _value5 = dic_appDoc[_doc_id5].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id5].CHAR01 + "|" + dic_appDoc[_doc_id5].Url_Hardcopy;
            string _model5 = _id5 + ";" + _value5;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model5)
        }

        @* 6 Bản sao *@
        @{
            string _doc_id6 = "A05_06";
            string _id6 = _doc_id6 + "|Doc_06|1|" + Resource.TM2B_BanSao + "||0";
            string _value6 = dic_appDoc[_doc_id6].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id6].CHAR01 + "|" + dic_appDoc[_doc_id6].Url_Hardcopy;
            string _model6 = _id6 + ";" + _value6;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model6)
        }


        @* 7 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id7 = "A05_07";
            string _id7 = _doc_id7 + "|Doc_07|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            string _value7 = dic_appDoc[_doc_id7].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id7].CHAR01 + "|" + dic_appDoc[_doc_id7].Url_Hardcopy;
            string _model7 = _id7 + ";" + _value7;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model7)
        }

        @* 8Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id8 = "A05_08";
            string _id8 = _doc_id8 + "|Doc_08|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|1";
            string _value8 = dic_appDoc[_doc_id8].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id8].CHAR01 + "|" + dic_appDoc[_doc_id8].Url_Hardcopy;
            string _model8 = _id8 + ";" + _value8;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model8)
        }

        @* 9  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id9 = "A05_09";
            string _id9 = _doc_id9 + "|Doc_09|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value9 = dic_appDoc[_doc_id9].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id9].CHAR01 + "|" + dic_appDoc[_doc_id9].Url_Hardcopy;
            string _model9 = _id9 + ";" + _value9;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model9)
        }
        @* 10  tài liệu xác nhận quyền đăng ký (nếu thụ hưởng từ ng khác) *@
        @{
            string _doc_id10 = "A05_10";
            string _id10 = _doc_id10 + "|Doc_10|0|" + Resource.TaiLieuXacNhanQuyenDangKy + "||1";
            string _value10 = dic_appDoc[_doc_id10].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id10].CHAR01 + "|" + dic_appDoc[_doc_id10].Url_Hardcopy;
            string _model10 = _id10 + ";" + _value10;

            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model10)
        }

        @{
            string _doc_id11 = "A05_11";
            string _id11 = _doc_id11 + "|Doc_11|0|" + Resource.CoTaiLieuKhac + "||0";
            string _value11 = dic_appDoc[_doc_id11].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id11].CHAR01 + "|" + dic_appDoc[_doc_id11].Url_Hardcopy;
            string _model11 = _id11 + ";" + _value11;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model11)
        }


        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others_View.cshtml")

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_View.cshtml", _camket)
        }

        <div class="class_save">
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/ChiDanDiaLy/Views/A05/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>


<script>
    var _chucnang = '@_App_Detail.ChucNang';
    var _cautruc = '@_App_Detail.CauTruc';
    var _congnghe = '@_App_Detail.CongNghe';
    
    $(document).ready(function () {
        SetValRadioCheckBoxByName('ChucNang', _chucnang);
        SetValRadioCheckBoxByName('CauTruc', _cautruc);
        SetValRadioCheckBoxByName('CongNghe', _congnghe);
        funcShowOtherdocument();
        $.datetimepicker.setLocale('vi');
    });

    $("#ckb_Doc_11").change(function () {
        funcShowOtherdocument();
    });
    function funcShowOtherdocument()
    {
        try {
            if ($("#ckb_Doc_11").is(":checked") == true) {
                $("#divContainerDocOther").css('display', 'block')
            } else {
                $("#divContainerDocOther").css('display', 'none');
            }
        } catch (e) {
            console.log(e);
        }
    }
</script>
