@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using WebApps.Resources;
@{
    ViewBag.Title = Resource.TM4C_Title
    Layout = "~/ViewsShared/_Layout.cshtml";

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Detail_PLD01_HDCN_Info _App_Detail = new App_Detail_PLD01_HDCN_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLD01_HDCN_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;">  @Resource.TM4C_Title</a></li>
    </ul>
</div>

<input type="hidden" id="txtAppCode" value='@_AppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">
            ĐƠN ĐĂNG KÝ CHUYỂN NHƯỢNG
        </legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 4 - ĐỐI TƯỢNG CỦA HỢP ĐỒNG *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM4C_FormHeader
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">

                    @if (_App_Detail.Object_Contract_Type == 1)
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_1" value="1" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_1" value="1">
                    }
                    <label>@Resource.TM4C_BangDocQuyenSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Object_Contract_Type == 2)
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_2" value="2" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_2" value="2">
                    }
                    <label>@Resource.TM4C_BangDocQuyenGiaiPhaiHuuIch</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    @if (_App_Detail.Object_Contract_Type == 3)
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_3" value="3" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_3" value="3">
                    }
                    <label>@Resource.TM4C_GiayCNDangKyThietKe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Object_Contract_Type == 4)
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_4" value="4" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_4" value="4">
                    }
                    <label>@Resource.TM4C_BangDocQuyenKieuDangCongNghiep</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Object_Contract_Type == 5)
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_5" value="5" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDoiTuongHopDong" id="4_rdDT_5" value="5">
                    }
                    <label>@Resource.TM4C_GiayChungNhanDangKyNhanHieu</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM4C_SoBangBaoHo:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="Số văn bằng bảo hộ" id="4_txt_VanBangBaoHo" value="@_App_Detail.Object_Contract_No" />
                </div>
            </div>
        </div>

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    @if (_App_Detail.Master_Type == 1)
                    {
                        <input type="radio" name="1_rdoChuDon" value="1" id="rb_1_ChuDonChuyenNhuong" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="1_rdoChuDon" value="1" id="rb_1_ChuDonChuyenNhuong">
                    }
                    <label>@Resource.TM3C_LaBenChuyenNhuong</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Master_Type == 2)
                    {
                        <input type="radio" name="1_rdoChuDon" value="2" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="1_rdoChuDon" value="2">
                    }
                    <label>@Resource.TM3C_LaBenChuyenNhuong</label>
                </div>
            </div>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM2B_DaiDienChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3C_MaDaiDien:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text"  placeholder="@Resource.TM3C_MaDaiDien" id="txt_MaDaiDien" value="@_App_Detail.Customer_Code" />
                </div>
            </div>
        </div>

        @* end 2 *@

        @* 3 - BÊN THỨ HAI TRONG HỢP ĐỒNG (KHÔNG ĐỨNG TÊN CHỦ ĐƠN) *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM3C_BenThuHaiTrongHD
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/PLD01_HDCN_4C2/_PartialSecondMaster.cshtml", "3")

        @{
            <div class="divCover cls_form_title">
                <img src="~/Content/icons/info.png" />
                <div class="cls_form_header">
                    @Resource.lblPhiLePhi
                </div>
            </div>

            @* 2. Phí tra cứu thông tin phục vụ việc giải quyết khiếu nại *@
        string _fee_id1 = "PhiThamDinh|" + Resource.TM4C_PhiThamDinhDon + "|0";
        string _fee_value1 = Lst_AppFee[2].Isuse.ToString() + "|" + Lst_AppFee[2].Number_Of_Patent.ToString() + "|" + Lst_AppFee[2].Amount.ToString("#,##0.##");
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Fee_Edit.cshtml", _fee_id1 + ";" + _fee_value1)

            @* 2. Phí thẩm định để giải quyết khiếu nại *@
        string _fee_id2 = "PhiCapGiayChungNhan|" + Resource.TM4C_LePhiDangKyNhanHieu + "|0";
        string _fee_value2 = Lst_AppFee[3].Isuse.ToString() + "|" + Lst_AppFee[3].Number_Of_Patent.ToString() + "|" + Lst_AppFee[3].Amount.ToString("#,##0.##");
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Fee_Edit.cshtml", _fee_id2 + ";" + _fee_value2)
        }

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.lblTaiLieuTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        @{
            string _doc_id1 = "PLD01_HDCB_01";
            string _model1 = _doc_id1 + "|6_Doc_PLD01_HDCB_01|0|"+ Resource.TM4C_ToKhaiGom + "||0" + ";" + dic_appDoc[_doc_id1].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id1].CHAR01 + "|" + dic_appDoc[_doc_id1].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model1)
        }

        @* 2. Hợp đồng chuyển nhượng, bằng tiếng *@
        @{
            string _doc_id2 = "PLD01_HDCB_02";
            string _model2 = _doc_id2 + "|6_Doc_PLD01_HDCB_02|0|"+ Resource.TM4C_HopDongChuyenNhuongBangTieng + "|"+ Resource.TM3B_Tieng + "|0||" + Resource.TM3B_Tieng + ";" + dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy + "|" + dic_appDoc[_doc_id2].CHAR02;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model2)
        }

        @* 3. 2.1 Bản gốc *@
        @{
            string _doc_id3 = "PLD01_HDCB_03";
            string _model3 = _doc_id3 + "|6_Doc_PLD01_HDCB_03|1|"+Resource.TM2B_BanGoc+"||1" + ";" + dic_appDoc[_doc_id3].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model3)
        }

        @* 4. 2.2 bản sao *@
        @{
            string _doc_id4 = "PLD01_HDCB_04";
            string _model4 = _doc_id4 + "|6_Doc_PLD01_HDCB_04|1|"+Resource.TM2B_BanSao+"||1" + ";" + dic_appDoc[_doc_id4].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model4)
        }

        @* 5. Bản dịch hợp đồng ra tiếng Việt, gồm *@
        @{
            string _doc_id5 = "PLD01_HDCB_05";
            string _model5 = _doc_id5 + "|6_Doc_PLD01_HDCB_05|0|"+Resource.lblBanDichTiengVietGom+"|"+Resource.TM2B_SoTrang+"|1" + ";" + dic_appDoc[_doc_id5].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id5].CHAR01 + "|" + dic_appDoc[_doc_id5].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model5)
        }

        @* 6. Văn bản đồng ý của các đồng chủ sở hữu (trong trường hợp đối tượng sở hữu công nghiệp thuộc sở hữu chung),  gồm *@
        @{
            string _doc_id6 = "PLD01_HDCB_06";
            string _model6 = _doc_id6 + "|6_Doc_PLD01_HDCB_06|0|"+Resource.TM4C_VanBanDongY+"|"+Resource.TM2B_SoTrang+"|1|770" + ";" + dic_appDoc[_doc_id6].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id6].CHAR01 + "|" + dic_appDoc[_doc_id6].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model6)
        }

        @* 7. Quy chế sử dụng nhãn hiệu tập thể, quy chế sử dụng nhãn hiệu chứng nhận của Bên nhận chuyển nhượng *@
        @{
            string _doc_id7 = "PLD01_HDCB_07";
            string _model7 = _doc_id7 + "|6_Doc_PLD01_HDCB_07|0|"+Resource.TM4C_QuyCheSuDungNhanHieu + "||0" + ";" + dic_appDoc[_doc_id7].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id7].CHAR01 + "|" + dic_appDoc[_doc_id7].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model7)
        }

        @* 8. Tài liệu chứng minh quyền nộp đơn của bên nhận chuyển nhượng đối với nhãn hiệu chứng nhận, nhãn hiệu tập thể *@
        @{
            string _doc_id8 = "PLD01_HDCB_08";
            string _model8 = _doc_id8 + "|6_Doc_PLD01_HDCB_08|0|" + Resource.TM4C_TaiLieuChungMinh + "||0" + ";" + dic_appDoc[_doc_id8].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id8].CHAR01 + "|" + dic_appDoc[_doc_id8].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model8)
        }

        @* 9. Bản gốc văn bằng bảo hộ *@
        @{
            string _doc_id9 = "PLD01_HDCB_09";
            string _model9 = _doc_id9 + "|6_Doc_PLD01_HDCB_09|0|"+ Resource.TM4C_BanGocVanBangBaoHo + "||0" + ";" + dic_appDoc[_doc_id9].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id9].CHAR01 + "|" + dic_appDoc[_doc_id9].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model9)
        }

        @* 10 Quy chế sử dụng nhãn hiệu tập thể, quy chế sử dụng nhãn hiệu chứng nhận của Bên nhận chuyển nhượng *@
        @{
            string _doc_id10 = "PLD01_HDCB_10";
            string _model10 = _doc_id10 + "|6_Doc_PLD01_HDCB_10|0|"+ Resource.TM2B_BanGocDaNopTheo + "|"+ Resource.TM4C_SoDonGoc + "|1" + ";" + dic_appDoc[_doc_id10].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id10].CHAR01 + "|" + dic_appDoc[_doc_id10].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model10)
        }

        @* 11.. POA Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id11 = "PLD01_HDCB_11";
            string _model11 = _doc_id11 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|"+ Resource.TM2B_BangTieng + "|1" + ";" + dic_appDoc[_doc_id11].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id11].CHAR01 + "|" + dic_appDoc[_doc_id11].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model11)
        }

        @* 12 -> 11.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id12 = "PLD01_HDCB_12";
            string _model12 = _doc_id12 + "|6_Doc_BanDichPOA|1|"+ Resource.lblBanDichTiengVietGom + "|"+ Resource.TM2B_SoTrang + "|1" + ";" + dic_appDoc[_doc_id12].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id12].CHAR01 + "|" + dic_appDoc[_doc_id12].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model12)
        }

        @* 13 -> 11.2 Bản gốc *@
        @{
            string _doc_id13 = "PLD01_HDCB_13";
            string _model13 = _doc_id13 + "|6_Doc_BanGocPOA|1|"+ Resource.TM2B_BanGoc + "||1" + ";" + dic_appDoc[_doc_id13].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id13].CHAR01 + "|" + dic_appDoc[_doc_id13].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model13)
        }

        @* 14 -> 11.3 Bản sao *@
        @{
            string _doc_id14 = "PLD01_HDCB_14";
            string _model14 = _doc_id14 + "|6_Doc_BanSaoPOA|1|"+Resource.TM2B_BanSao + "||0" + ";" + dic_appDoc[_doc_id14].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id14].CHAR01 + "|" + dic_appDoc[_doc_id14].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model14)
        }


        @* 15 -> 11.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id15 = "PLD01_HDCB_15";
            string _model15 = _doc_id15 + "|6_Doc_BanGocPOA_Later|2|"+Resource.TM2B_BanGocSeNopSau+"||1" + ";" + dic_appDoc[_doc_id15].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id15].CHAR01 + "|" + dic_appDoc[_doc_id15].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model15)
        }

        @* 16 -> 11.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id16 = "PLD01_HDCB_16";
            string _model16 = _doc_id16 + "|6_Doc_BanGocPOA_ByApp|2|"+ Resource.TM2B_BanGocSeNopSau + "|"+Resource.TM2B_sodon+"|0" + ";" + dic_appDoc[_doc_id16].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id16].CHAR01 + "|" + dic_appDoc[_doc_id16].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model16)
        }

        @* END POA *@

        @* 17. Bản sao chứng từ nộp phí *@
        @{
            string _doc_id17 = "PLD01_HDCB_17";
            string _model17 = _doc_id17 + "|6_Doc_PLD01_HDCB_17|0|"+ Resource.TM3B_BanSaoChungTuNopPhi + "||1" + ";" + dic_appDoc[_doc_id17].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id17].CHAR01 + "|" + dic_appDoc[_doc_id17].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model17)
        }

        @* 18. Khác *@
        @{
            string _doc_id18 = "PLD01_HDCB_18";
            string _model18 = _doc_id18 + "|6_Doc_PLD01_HDCB_18|0|"+ Resource.TM3B_TaiLieuKhac + "|"+ Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1" + ";" + dic_appDoc[_doc_id18].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id18].CHAR01 + "|" + dic_appDoc[_doc_id18].Url_Hardcopy;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model18)
        }

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_Edit.cshtml", _camket)
        }

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.TM3B_BtnSuaDon" id="btnSuaDon" class="btn" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLD01_HDCN_4C2/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<script>
    $(document).ready(function () {

    });


    $("#btnSuaDon").click(function () {
        try {

            //Thông tin chủ đơn
            var formData = new FormData();
            formData.append("pInfo.Id", @_AppHeaderInfo.Id);
            formData.append("pInfo.Status", @_AppHeaderInfo.Status);
            formData.append("pInfo.Case_Code", '@_AppHeaderInfo.Case_Code');

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            if (funcThongTinChuDon(formData, "1") != true) {
                return false;
            }

            var Master_Type = $("input[name='1_rdoChuDon']:checked").val();
            if (Master_Type === "" || Master_Type == undefined) {
                jError("@Resource.TM3C_ChonChuDon", "@Resource.TM3B_Loi", function () {
                    $("#rb_1_ChuDonChuyenNhuong").focus()
                });
                return false;
            }
            formData.append("pDetail.Master_Type", Master_Type);

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", '@_AppHeaderInfo.Appcode');
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                jError("@Resource.TM2B_ChonDaiDienChuDon", "@Resource.TM3B_Loi", function () {
                    $("#_2_rdoNguoiDaiDienPL").focus()
                });
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

            //Lấy thông tin detail
            reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }

            // get thông tin fee
            var reponse = funcGet_Fee(formData);
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin tài liệu có trong đơn
            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/trade-mark-4c2/Edit_PLD01_HDCN_4C2',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        jAlert(EditSuccess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError(EditFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });

        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    function funcGetAppDetail(formData) {
        try {

            // BÊN THỨ HAI TRONG HỢP ĐỒNG (KHÔNG ĐỨNG TÊN CHỦ ĐƠN)
            if (funcGetSecondMaster(formData, "3") != true) {
                return false;
            }

            var txt_MaDaiDien = $("#txt_MaDaiDien").val();
            if (txt_MaDaiDien == "") {
                jError("@Resource.TM3C_MaDaiDienKhongDuocTrong", "@Resource.TM3B_Loi", function () {
                    $("#txt_MaDaiDien").focus()
                });
                return false;
            }
            formData.append("pDetail.Customer_Code", txt_MaDaiDien);

            var _Object_Contract_Type = $("input[name='4_rdoDoiTuongHopDong']:checked").val();
            if (_Object_Contract_Type === "" || _Object_Contract_Type == undefined) {
                jError("@Resource.TM3C_ChonGiaTriYeuCauChuyenNhuong", "@Resource.TM3B_Loi", function () {
                    $("#4_rdDT_1").focus()
                });
                return false;
            }
            formData.append("pDetail.Object_Contract_Type", parseInt(_Object_Contract_Type));

            // số đơn
            var _VanBangBaoHo = $("#4_txt_VanBangBaoHo").val();
            if (_VanBangBaoHo === "" || _VanBangBaoHo == undefined) {
                jError("@Resource.TM4C_VanBangBaoHoKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                    $("#4_txt_VanBangBaoHo").focus()
                });
                return false;
            }
            formData.append("pDetail.Object_Contract_No", _VanBangBaoHo);
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1. Tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_01", "0");

            // 2.
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_Doc_PLD01_HDCB_02").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_6_Doc_PLD01_HDCB_02_2").val());

            // 3
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_03", "2");

            // 4
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_04", "3");

            // 5
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_6_Doc_PLD01_HDCB_05").val());

            // 6
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_6_Doc_PLD01_HDCB_06").val());

            // 7
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_07", "6");

            // 8
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_08", "7");

            // 9
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_09", "8");

            // 10
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_10", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#txt_6_Doc_PLD01_HDCB_10").val());

            // -----------------> POA
            // Giấy uỷ quyền bằng tiếng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_POA", "10");
            formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_6_Doc_POA").val());

            // Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichPOA", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_6_Doc_BanDichPOA").val());

            // Bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA", "12");

            // Bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoPOA", "13");

            // Bản gốc sẽ nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_Later", "14");

            // Bản gốc đã nộp theo đơn số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_ByApp", "15");
            formData.append("pAppDocumentInfo[15].CHAR01", $("#txt_6_Doc_BanGocPOA_ByApp").val());
            // -----------------> END POA

            // 11 Bản sao chứng từ nộp phí, lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_17", "16");

            // 12 Tài liệu khác, cụ thể:
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_PLD01_HDCB_18", "17");
            formData.append("pAppDocumentInfo[17].CHAR01", $("#txt_6_Doc_PLD01_HDCB_18").val());
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }

    function funcGet_Fee(formData) {
        try {

            if (@WebApps.Session.SessionData.CurrentUser.Type == '@((int)CommonEnums.UserType.Admin)' ||
                @WebApps.Session.SessionData.CurrentUser.Type == '@((int)CommonEnums.UserType.Lawer)') {

                //if ($('#ckb_PhiCapGiayChungNhan').is(":checked") == false && $('#ckb_PhiThamDinh').is(":checked") == false) {
                //    jError("Fee không được để trống!", "lỗi", function () {
                //        $("#ckb_PhiCapGiayChungNhan").focus()
                //    });
                //    return false;
                //}

                // Phí tra cứu thông tin phục vụ việc giải quyết khiếu nại
                // Phí thẩm định để giải quyết khiếu nại
                formData.append("pFeeFixInfo[0].Fee_Id", 4);
                if ($('#ckb_PhiThamDinh').is(":checked") == true) {
                    formData.append("pFeeFixInfo[0].Isuse", 1);
                    formData.append("pFeeFixInfo[0].Number_Of_Patent", 1);
                    formData.append("pFeeFixInfo[0].Amount", 0);
                } else {
                    formData.append("pFeeFixInfo[0].Isuse", 0);
                    formData.append("pFeeFixInfo[0].Number_Of_Patent", 0);
                    formData.append("pFeeFixInfo[0].Amount", 0);
                }

                // Phí tra cứu thông tin phục vụ việc giải quyết khiếu nại
                formData.append("pFeeFixInfo[1].Fee_Id", 3);
                if ($('#ckb_PhiCapGiayChungNhan').is(":checked") == true) {
                    formData.append("pFeeFixInfo[1].Isuse", 1);
                    formData.append("pFeeFixInfo[1].Number_Of_Patent", 1);
                    formData.append("pFeeFixInfo[1].Amount", 0);
                } else {
                    formData.append("pFeeFixInfo[1].Isuse", 0);
                    formData.append("pFeeFixInfo[1].Number_Of_Patent", 0);
                    formData.append("pFeeFixInfo[1].Amount", 0);
                }
            }
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }
</script>
