@model string
@using ObjectInfos;
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";

    App_Detail_PLD01_HDCN_Info _App_Detail = new App_Detail_PLD01_HDCN_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLD01_HDCN_Info)ViewBag.App_Detail;
    }

    string _disable = "";
    int _Isdisable = 0;
    if (ViewBag.Isdisable == 1)
    {
        _disable = "disabled";
    }
}

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblTenDayDu:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_App_Detail.Second_Name" type="text" placeholder="@WebApps.Resources.Resource.lblTenDayDu" maxlength="200" id="@txtTenDayDu" @_disable />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.DiaChi: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_App_Detail.Second_Address" type="text" placeholder="@WebApps.Resources.Resource.DiaChi" maxlength="200" id="@txtDiaChi" @_disable />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblDienThoai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@_App_Detail.Second_Phone" placeholder="@WebApps.Resources.Resource.lblDienThoai" maxlength="50" id="@txtDienThoai" style="width: 250px;" @_disable />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_App_Detail.Second_Fax" type="text" placeholder="Fax" maxlength="50" id="@txtFax" @_disable />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@_App_Detail.Second_Email" type="text" placeholder="Email" maxlength="50" id="@txtEmail" @_disable />
        </div>
    </div>
</div>

<script>

    //Lấy thông tin chủ đơn add vào formData
    function funcGetSecondMaster(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu").focus().val('');
                showError('Tên không được để trống!');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi").focus().val('');
                showError('Địa chỉ không được để trống!');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('Email không đúng định dạng!');
                    return false;
                }
            }

            formData.append("pDetail.Second_Name", txtTenDayDu);
            formData.append("pDetail.Second_Address", txtDiaChi);
            formData.append("pDetail.Second_Phone", txtDienThoai);
            formData.append("pDetail.Second_Fax", txtFax);
            formData.append("pDetail.Second_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }


    function funcGetSecondMaster_Exp(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();

            formData.append("pDetail.Second_Name", txtTenDayDu);
            formData.append("pDetail.Second_Address", txtDiaChi);
            formData.append("pDetail.Second_Phone", txtDienThoai);
            formData.append("pDetail.Second_Fax", txtFax);
            formData.append("pDetail.Second_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }
</script>





