@using ObjectInfos;
@using Common.CommonData;
@{
    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<div id="toolbox">
    <ul>
        <li class="toTop" style=""><a href="#top" title="Lên đầu trang"><i style=" font-size: 27px; color:green;" class="fa fa-home"></i></a></li>
        <li class="email"><a href="javascript:;" title="Phí"><i class="fas fa-dollar-sign" size="9x" target="_blank" onclick="return funcPreViewFee();" style="font-size: 27px;margin-left: 8px;color: green;"></i></a></li>\

        <li class="email">
            <a href="javascript:;" onclick="return funcPreViewApplication();" title="Xem trước">
                <img src="/Content/icons/icon_vn.png" style="margin-left: 3px; width: 25px;height: 30px;" />
            </a>
        </li>

        <li class="email">
            <a href="javascript:;" onclick="return funcPreViewTranslate();" title="Xem bản dịch">
                <img src="/Content/icons/translate.png" style="width: 25px;height: 30px;" />
            </a>
        </li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>


<script>

    function Accept() {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }
            var _link = "/CrytalReport_MVC/Report_Viewer.aspx?RPTNAME="  + '@_AppHeaderInfo.Appcode' + "&" +'@Report_Enums.gc_FilterAppHeaderId' + "=" + '@_AppHeaderInfo.Id';
            location.href = _link;
        } catch (e) {
            alert(e.toString());
        }
    }

    function funGetData_Preview_A03(url, pView_Translate) {
        try {
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    pAppHeaderId: '@_AppHeaderInfo.Id',
                    p_appCode: '@_AppHeaderInfo.Appcode',
                    p_View_Translate: pView_Translate
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });

            return true;
        } catch (e) {
            CreateRollingWaitingIcon(false);
        }
    }

    function funcPreViewApplication() {
        var preturn = funGetData_Preview_A03("/indus-design/ket_xuat_file", 0);
        if (preturn == true || preturn == undefined) {
            OpenPreview("/indus-design/Pre-View");
        }
    }

    function funcPreViewTranslate() {

        var preturn = funGetData_Preview_A03("/indus-design/ket_xuat_file", 1);
        if (preturn == true || preturn == undefined) {
            OpenPreview("/indus-design/Pre-View");
        }
    }

    function funcPreViewFee() {

        var formData = new FormData();
        formData.append("pInfo.Appcode", '@_AppHeaderInfo.Appcode');
        formData.append("pInfo.Case_Code", '@_AppHeaderInfo.Case_Code');
        formData.append("pInfo.Id", @_AppHeaderInfo.Id);

        $.ajax({
            url: "/lg-patent/getFeeView_View",
            type: 'POST',
            data: formData,
            dataType: "json",
            async: true,
            cache: false,
            traditional: true,
            contentType: false,
            processData: false,
            beforeSend: function () {
                CreateRollingWaitingIcon(true);
            },
            success: function (data) {
                CreateRollingWaitingIcon(false);
                if (data != null) {

                    $("#divPopUpFee").html(data.PartialTableListFees);

                    //$("#divPopUpFee").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpFee', '@Html.Raw(WebApps.Resources.Resource.ThongTinFee)', 800, 1200);
                }
                return false;
            }
        });
    }


    function OpenPreview(url) {
        try {
            w = 1100; //độ rộng form popup
            h = 600;//chiều cao
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;  // for 25% - devide by 4  |  for 33% - devide by 3
            var targetWin = window.open(url, 'Xem thông tin đơn', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        } catch (e) {
        }
    }
</script>