@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@{
    ViewBag.Title = "Request for industrial design registration";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.IndusDesign6a_Title</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> @Resource.IndusDesign6a_Title.ToUpper()</legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TenKieuDangCongNghiep.ToUpper()
            </div>
        </div>

        <div style="width: 100%;height: 100px;">
            <div class="div-search-ad" style="width:50%;float:left">
                <div class="div-search-title" style="height: 63px;">
                    <div>@Resource.TenKieuDangCongNghiep <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_IndustryDesignName" style="height:65px" />
                    </div>
                </div>
            </div>

            <div style="width:49%;float:left;margin-left: 10px;">
                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" checked="checked" name="TuPhanLoai" id="ckbCucPhanLoai" onchange="onChangeTuPhanLoai()">
                            <label>@Resource.YeuCauCucPhanLoai</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" name="TuPhanLoai" id="ckbTuPhanLoai" onchange="onChangeTuPhanLoai()">
                            <label>@Resource.TuPhanLoai</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad clssDisplaynone" id="div_content_class_coll">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="text" id="txtTenHangHoa" placeholder="...@Resource.Nhap">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.NguonGocDon.ToUpper()
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:282px">
                    <input type="radio" name="1_rdonguongocdon" id="1_donrieng" value="1" checked="checked" onchange="ChangeNguongocdon(1)">
                    <label>@Resource.DonDocLap</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdonguongocdon" id="1_dontach" value="2" onchange="ChangeNguongocdon(2)">
                    <label>@Resource.DonTachTuDonKhac</label>
                </div>
            </div>
        </div>

        <div id="div_nguongocdon" class="clssDisplaynone" style="margin-top: 4px;">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 250px;">@Resource.DonNayDuocTachRa: </div>
                    <a href="javascript:;" st="" class="icon icon-info tip" data-placement="right" style="border:none"
                       data-title="@WebApps.Resources.Resource.TooltipDonTachRaTuDonSo"></a>
                </div>
                <div class="div-search-content">
                    <input type="text" id="0_txtDonSo" onblur="return funcDetailDontach();" maxlength="20" placeholder="@WebApps.Resources.Resource.lblSoDon" />
                </div>
                <div class="div-search-title">
                    <div><a id="hrfDetailDonTach" href="javascript:;" target="_blank" style="color:blue;border:none">@WebApps.Resources.Resource.XemChiTiet</a></div>
                </div>
                <div class="div-search-content">
                </div>
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.lblNgayNopDon</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input class="datetimepicker" type="text" id="0_txtNgayNopDon" maxlength="10" readonly />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px">
                        <input type="radio" name="1_rdoKetQuaThamDinh" id="1_rdchuacokqthamdinhnoidung" value="1" checked="checked" onchange="ChangeKQTD(1)">
                        <label>@Resource.ChuaCoKetQuaThamDinh</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="1_rdoKetQuaThamDinh" id="1_rddacokqthamdinhnoidung" value="2" onchange="ChangeKQTD(2)">
                        <label>@Resource.DaCoKetQuaThamDinh</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad" id="div_ketquathamdinh">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px; height:50px">
                        <input type="radio" name="1_radDonBanDauCo2PA" id="1_radDonBanDauCo2PA" value="1">
                        <label>@Resource.DonBanDauCo2PA</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio" style="height:50px">
                        <input type="radio" name="1_radDonBanDauCo2PA" id="1_radDonBanDauNopCho1DoiTuong" value="2">
                        <label>@Resource.DonBanDauCo1DT</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad clssDisplaynone" id="div_DaCoKetQua">
                <div class="div-search-title">
                    <div>@Resource.SoHinhPhatSinh</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_SoHinhPhatSinh" />
                    </div>
                </div>
            </div>
        </div>

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>

        @*<div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitleChuDon.cshtml", @WebApps.Resources.Resource.lblChuDon.ToUpper())
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")
        </div>*@

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:385px">
                    <input type="radio" name="1_rdoChuDon" value="TGDT" id="1_ckbTacGiaDongThoi">
                    <label>@Resource.ChuDonDongThoiLaTacGiaCN</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdoChuDon" value="2" id="rdChuDonKhac" onchange="onChangeChuDonKhac()">
                    <label>@Resource.NgoaiChuDon</label>
                </div>
            </div>
        </div>

        <div id="divChuDonKhac">

        </div>

        <div class="div_full_100_area classChuDonKhac clssDisplaynone" id="divChungDonKhac001">
            <input type="hidden" id="txt_id_ChuDon" value="1" />
            <a href="javascript:;" onclick="return ThemChuDon();" style="text-decoration:underline; color: blue;float: left;">@Resource.ThemChuDonKhac</a>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        @* end 2 *@

        @* Tác giả *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TacGia
            </div>
        </div>

        <div id="div_PartialThongTinTacGia">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinTacGia.cshtml", "1")
        </div>

        <div id="divTacGiaKhac">

        </div>

        <div class="div_full_100_area classChuDonKhac">
            <input type="hidden" id="txt_id_tacgia" value="1" />
            <a href="javascript:;" onclick="return ThemTacGia();" style="text-decoration:underline; color: blue;float: left;">@Resource.ThemTacGia</a>
        </div>

        @* Tác giả *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.lblYeuCauHuongQuyenUT.ToUpper()
            </div>

            <div style="display: inline-block;  padding-top: 8px; padding-left: 5px;">
                <input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" onchange="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')" />
                <label><a style="color:blue ;font-weight:bold" id="hrefCo" onclick="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')">@WebApps.Resources.Resource.lblYes</a></label>
            </div>
            <div style="display: inline-block;">
                <input type="checkbox" name="KO_ckbCoSuDungDonUuTien" value="KO" id="KOUT" onchange="return funcChoiseDonUT('KOUT')" />
                <label><a style="color:blue ;font-weight:bold" id="hrefKhong" onclick="return funcChoiseDonUT('KOUT')">@WebApps.Resources.Resource.lblNo</a></label>
            </div>
        </div>

        <div id="div_ThongTinDonUuTien" class="clssDisplaynone">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinQuyenUuTien.cshtml", "1")
        </div>

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @*TÀI booj hinh anh   *@
        @*@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTreeDocument.cshtml")*@
        @Html.Partial("~/Areas/IndustrialDesign/Views/Shared/_PartialTreeDocument.cshtml")

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.SoPhuongAn:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtSoPhuongAn" readonly="readonly" value="1" />
                </div>
            </div>
            <div class="div-search-title">
                <div>@Resource.SoHinhAnh:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtSoHinhAnh" readonly="readonly" value="1" />
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <b>@Resource.TaiLieuToiThieu.ToUpper()</b>
        </div>

        @* id doc | id của check box | level | lable | lable 2 | is upload *@
        @* 2. Bản mô tả, bằng tiếng *@
        @{
            string _doc_id2 = "A03_02";
            string _model2 = _doc_id2 + "|Doc_02|0|" + Resource.BanMoTaBangTieng + "|" + Resource.TM3B_Tieng + "|1||" + Resource.TM2B_SoTrang;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model2)
        }


        @* 6 Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id5 = "A03_05";
            string _model5 = _doc_id5 + "|Doc_05|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model5)
        }

        @* 7  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id6 = "A03_06";
            string _model6 = _doc_id6 + "|Doc_06|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model6)
        }

        @* 8 Bản gốc *@
        @{
            string _doc_id7 = "A03_07";
            string _model7 = _doc_id7 + "|Doc_07|1|" + Resource.TM2B_BanGoc + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model7)
        }

        @* 9 Bản sao *@
        @{
            string _doc_id8 = "A03_08";
            string _model8 = _doc_id8 + "|Doc_08|1|" + Resource.TM2B_BanSao + "||0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model8)
        }


        @* 10 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id09 = "A03_09";
            string _model09 = _doc_id09 + "|Doc_09|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model09)
        }

        @* 11 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id10 = "A03_10";
            string _model10 = _doc_id10 + "|Doc_10|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model10)
        }

        <div class="divCover cls_form_title">
            @*<img src="/Content/icons/category.png">*@
            <div class="cls_form_header">@WebApps.Resources.Resource.lblTaiLieuKhac.ToUpper()</div>
            <div style="display: inline-block;  padding-top: 5px; padding-left: 10px;">
                <input type="radio" name="ck_TaiLieu_Khac" id="ck_TaiLieu_Khac" onchange="onChangeTLKhac()">
                <label>@WebApps.Resources.Resource.lblYes</label>
            </div>

            <div style="display: inline-block;padding-left: 5px;">
                <input type="radio" name="ck_TaiLieu_Khac" id="ck_TaiLieu_Khac_No" onchange="onChangeTLKhac()" checked />
                <label>@WebApps.Resources.Resource.lblNo</label>
            </div>
        </div>

        <div id="divTLKhac" class="clssDisplaynone">
            @* 1 Tờ khai *@
            @{
                string _doc_id1 = "A03_01";
                string _model1 = _doc_id1 + "|Doc_01|0|" + Resource.TM2B_ToKhaiGom + "|" + Resource.TM2B_SoTrang + "|0||" + Resource.lblSoBan;
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model1)
            }

            @{
                string _doc_id4 = "A03_04";
                // (trường hợp nộp phí, lệ phí qua dịch vụ bưu chính hoặc nộp trực tiếp vào tài khoản của Cục Sở hữu trí tuệ)
                string _model4 = _doc_id4 + "|Doc_04|0|" + Resource.BanSaoChungTu + "||1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model4)
            }

            @* 12 Tài liệu chứng minh quyền ưu tiên --> bỏ đi vì trùng với phần quyền ưu tiên *@
            @*@{
                string _doc_id11 = "A03_11";
                string _model11 = _doc_id11 + "|Doc_11|0|" + Resource.lblTaiLieuChungMinhQuyenUuTien + "||0";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model11)
            }

            @{
                string _doc_id12 = "A03_12";
                string _model12 = _doc_id12 + "|Doc_12|1|" + Resource.lblbanSaoDauTienGom + "|" + Resource.lblBan + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model12)
            }

            @{
                string _doc_id13 = "A03_13";
                string _model13 = _doc_id13 + "|Doc_13|1|" + Resource.lblGiayChuyenNhuongQuyenUT + "||1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model13)
            }*@

            @* end quyền ưu tiên *@

            @{
                string _doc_id14 = "A03_14";
                string _model14 = _doc_id14 + "|Doc_14|0|" + Resource.TaiLieuXacNhanQuyenDangKy + "||1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model14)
            }

            @{
                string _doc_id15 = "A03_15";
                string _model15 = _doc_id15 + "|Doc_15|0|" + Resource.CoTaiLieuKhac + "||0";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model15)
            }

        </div>

        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml")

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")


        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/IndustrialDesign/Views/A03/_PartialPreview_IU.cshtml")

<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>

    function onChangeTLKhac() {
        try {
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                $("#divTLKhac").removeClass("clssDisplaynone");
            } else {
                $("#divTLKhac").addClass("clssDisplaynone");
            }
        } catch (e) {
            console.log(e);
        }
    }

    $("#ckb_Doc_15").change(function () {
        if ($("#ckb_Doc_15").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });

    function funcDetailDontach() {
        try {
            var SoDonTach = document.getElementById("0_txtDonSo").value;
            var url = "";
            url = "/trade-mark-share-data/todo-details/" + SoDonTach + "/0";
            $("#hrfDetailDonTach").attr("href", url);
            if (SoDonTach != "") {
                $("#0_txtNgayNopDon").removeAttr("readonly");
            }
            else {
                $("#0_txtNgayNopDon").attr("readonly", "readonly");
                $("#0_txtNgayNopDon").val("");
            }
        } catch (e) {
        }
    }

    function ChangeNguongocdon(_type)
    {
        try {
            var _txtNgayNopDon = $("#0_txtNgayNopDon");
            var _txtDonSo =  $("#0_txtDonSo");
            if(_type == "2")
            {
                $("#div_nguongocdon").removeClass("clssDisplaynone");
                //_txtNgayNopDon.removeAttr("readonly")
            }
            else {
                $("#div_nguongocdon").addClass("clssDisplaynone");
                //_txtNgayNopDon.attr("readonly")
                _txtNgayNopDon.val("")
                _txtDonSo.val("");
            }

        } catch (e) {
            alert(e.toString());
        }
    }

    function ChangeKQTD(_type)
    {
        try {
            if(_type == "1")
            {
                $("#div_ketquathamdinh").removeClass("clssDisplaynone");
                $("#div_DaCoKetQua").addClass("clssDisplaynone");
            }
            else {
                $("#div_ketquathamdinh").addClass("clssDisplaynone");

                $("#div_DaCoKetQua").removeClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e.toString());
        }
    }

    $(document).ready(function () {

        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
        $("#0_txtCase_Name").focus();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });

        // nếu có appno
        if ('@_App_No' != "")
        {
            $("#0_txtDonSo").val('@_App_No');
            onChangeAppNo();
        }
    });

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e.message);
        }
    });


    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e.message);
        }
    });

    function funGetData(p_Status) {
        try {

            var _showerror = 0;
            if (p_Status == 2) {
                _showerror = 1;
            }

            //Thông tin chủ đơn
            var formData = new FormData();

            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }


            //Lấy thông tin detail
            reponse = funcGetAppDetail(formData, _showerror);
            if (reponse == false) {
                return false;
            }

            // hàng hóa
            //reponse = funcGetDataClassInfo(formData);
            //if (reponse == false) {
            //    return false;
            //}

            if (funcThongTinChuDon(formData, "1") != true) {
                return false;
            }

            if ($("#1_ckbTacGiaDongThoi").is(':checked')) {
                formData.append("pInfo.Master_Type", "TGDT");
            } else {
                formData.append("pInfo.Master_Type", "");
            }
            if (funcChuDonKhac(formData) != true) {
                return false;
            }

            formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin)');
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                return false;
            }

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                showError('@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)');
                $("#_2_rdoNguoiDaiDienPL").focus()
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Status", p_Status);

            //Lấy thông tin tài liệu có trong đơn
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                formData.append("pInfo.USE_DOC_OTHERS", 1);
            } else {
                formData.append("pInfo.USE_DOC_OTHERS", 0);
            }

            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            //Tài liệu khác trong đơn
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }

            // lấy thông tin bộ ảnh
            reponse = funcGetTenTaiLieuBoAnh(formData, _showerror);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/indus-design/register' ,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        var _mess = '@Html.Raw(Resource.GuiDonThanhCong)';
                        if (p_Status == "1")
                        {
                            _mess = '@Html.Raw(Resource.LuuTamThanhCong)';
                        }
                        jAlert(_mess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e.message);
                }
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e.message);
        }
    }

    function onChangeAppNo() {
        try {
            var _AppNo = $("#3_SoDon").val();
            if (_AppNo != "") {

                $.ajax({
                    type: 'POST',
                    url: '/trade-mark-3b/getMasterByAppNo/',
                    data: {
                        p_appNo: _AppNo,
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);

                        $("#div_PartialThongTinChuDon").html(data.PartialThongTinChuDon);
                        $("#div_PartialThongTinDaiDienChuDon").html(data.PartialThongTinDaiDienChuDon);
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }


    function funcChoiseDonUT(pID) {
        try {
            //if ($("#0_ckbCoSuDungDonUuTien").is(':checked')) {
            //    $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");
            //}
            //else {
            //    $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            //}

            if (pID == "0_ckbCoSuDungDonUuTien") {
                $('#0_ckbCoSuDungDonUuTien').prop('checked', true);
                $('#KOUT').prop('checked', false);

                $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");

            } else {
                $('#KOUT').prop('checked', true);
                $('#0_ckbCoSuDungDonUuTien').prop('checked', false);

                $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_NguonGocDon() {
        try {
            ShowHiden_PCT();
            ShowHiden_DQSC();
            ShowHiden_GPHI();
        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_PCT() {
        try {
            if ($("#2_rdPCT").is(':checked')) {
                $("#divPCT").removeClass("clssDisplaynone");
                $("#txt_PCT_SoDon").focus();
            }
            else {
                $("#divPCT").addClass("clssDisplaynone");
            }


        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_DQSC() {
        try {
            if ($("#2_rdDQSC").is(':checked')) {
                $("#divDQSC").removeClass("clssDisplaynone");
                $("#txt_PCT_So").focus();
            }
            else {
                $("#divDQSC").addClass("clssDisplaynone");
            }


        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_GPHI() {
        try {
            if ($("#2_rdGPHI").is(':checked')) {
                $("#divGPHI").removeClass("clssDisplaynone");
                $("#txt_GPHI_SoDon").focus();
            }
            else {
                $("#divGPHI").addClass("clssDisplaynone");
            }

        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_PCT_SuaDoi() {
        try {
            if ($("#2_rdo_PCT_SuaDoi").is(':checked') ) {
                $("#divPCT_SuaDoi").removeClass("clssDisplaynone");
            }
            else {
                $("#divPCT_SuaDoi").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeChuDonKhac() {
        try {
            if ($("#rdChuDonKhac").is(':checked')) {
                $("#divChungDonKhac001").removeClass("clssDisplaynone");
            }
            else {
                $("#divChungDonKhac001").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeTuPhanLoai() {
        try {
            if ($("#ckbTuPhanLoai").is(':checked')) {
                $("#div_content_class_coll").removeClass("clssDisplaynone");
                $("#txtTenHangHoa").focus();
            }
            else {
                $("#div_content_class_coll").addClass("clssDisplaynone");
            }

            $("#txtTenHangHoa").val("");
        } catch (e) {
            alert(e);
        }
    }

    function ThemTacGia() {
        try {

            var _id = parseInt($("#txt_id_tacgia").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/indus-design/tac-gia/them-tac-gia/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divTacGiaKhac").append(data);
                    $("#txt_id_tacgia").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function ThemChuDon() {
        try {

            var _id = parseInt($("#txt_id_ChuDon").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/indus-design/chu-don/them-chu-don/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divChuDonKhac").append(data);
                    $("#txt_id_ChuDon").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function XoaTacGia(pId, pId2) {
        try {
            $("#" + pId).addClass("clssDisplaynone");

            $("#" + pId2).val("0");
        } catch (e) {
            alert(e);
        }
    }

    function ThemDonUuTien() {
        try {

            $.ajax({
                type: 'POST',
                url: '/indus-design/don-uu-tien/them-don/',
                data: {
                    p_id: "2"
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#div_ThongTinDonUuTien").append(data);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    $("#ckb_Doc_16").change(function () {
        if ($("#ckb_Doc_16").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });

    function funcGetAppDetail(formData, p_ShowError) {
        try {
            var _txtNgayNopDon = $("#0_txtNgayNopDon");
            var _txtDonSo = $("#0_txtDonSo");

            var _txt_IndustryDesignName = $("#txt_IndustryDesignName");

            if (p_ShowError == 1 && _txt_IndustryDesignName.val() == "") {
                showError('Tên kiểu dáng công nghiệp không được để trống');
                _txt_IndustryDesignName.focus();
                return false;
            }

            // nguồn gốc đơn

            if($("#1_dontach").is(':checked')) {
                if (p_ShowError == 1 &&_txtDonSo.val().trim() == "")
                {
                    showError('Số đơn liên quan không được để trống');
                    _txtDonSo.focus();
                    return false;
                }

                if (p_ShowError == 1 && $("#1_radDonBanDauCo2PA").is(':checked') == false &&   $("#1_radDonBanDauNopCho1DoiTuong").is(':checked')== false)
                {
                    showError('Vui lòng chọn ít nhất 1 giá trị của thậm định nội dung');
                    $("#1_radDonBanDauCo2PA").focus()
                    return false;
                }
            }
            formData.append("pDetail.Industry_Design_Name", _txt_IndustryDesignName.val());
            formData.append("pDetail.App_Sentdate", _txtNgayNopDon.val());
            formData.append("pDetail.Refappno", _txtDonSo.val());

            if ($("#1_rdchuacokqthamdinhnoidung").is(':checked')) {
                formData.append("pDetail.Kqtd_Type", "1");
                if ($("#1_radDonBanDauCo2PA").is(':checked')) {
                    formData.append("pDetail.Kqtd_Value", "1");
                }
                else
                {
                    formData.append("pDetail.Kqtd_Value", "2");
                }
            } else {
                formData.append("pDetail.Kqtd_Type", "2");
                formData.append("pDetail.Kqtd_Value", "0");

                formData.append("pDetail.SoHinhPhatSinh", $("#txt_SoHinhPhatSinh").val());
            }


            if (p_ShowError == 1 && $("#ckbCucPhanLoai").is(':checked') == false && $("#ckbTuPhanLoai").is(':checked') == false) {
                showError("Vui lòng phân loại hàng hóa");
                $("#ckbCucPhanLoai").focus()
                return false;
            }

            if ($("#ckbCucPhanLoai").is(':checked')) {
                formData.append("pDetail.Phanloai_Type", "1");
                formData.append("pDetail.Class_Content", "");
            }
            else
            {
                formData.append("pDetail.Phanloai_Type", "2");
                if (p_ShowError == 1 && $("#txtTenHangHoa").val() == "" ) {
                    showError('@Resource.TM2B_ChonHangHoaDV');
                    $("#txtTenHangHoa").focus();
                    return false;
                }

                formData.append("pDetail.Class_Content", $("#txtTenHangHoa").val());
            }

            if ($("#0_ckbCoSuDungDonUuTien").is(':checked')) {
                formData.append("pDetail.USED_SPECIAL", "1");
            }
            else
            {
                formData.append("pDetail.USED_SPECIAL", "0");
            }


            var txtMADDSHCN = $("#txtMADDSHCN").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (p_ShowError == 1 && v_RepMasterType == "DDPL" && txtMADDSHCN == "") {
                showError('@Resource.TM3C_MaDaiDienKhongDuocTrong');
                $("#txtMADDSHCN").focus()
                return false;
            }
            formData.append("pInfo.Customer_Code", txtMADDSHCN);

            var _index = 0;
            $(".clsTacGia").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse").val() == "1") {

                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Name", $("#" + _id +  "_TG_TenDayDu").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Address", $("#" + _id + "_TG_DiaChi").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Phone", $("#" + _id +  "_TG_DienThoai").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Fax", $("#" + _id + "_TG_Fax").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Email", $("#" + _id + "_TG_Email").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Country", $("#" + _id + "_TG_QuocTich").val());

                    _index = _index + 1;
                }
            });

            // đơn ưu tiên
            var v_CoSDQuyenUT = 0;
            if ($("#0_ckbCoSuDungDonUuTien").prop('checked') == true) {
                v_CoSDQuyenUT = 1;
            }
            formData.append("pDetail.Used_Special", v_CoSDQuyenUT);
            formData.append("pDetail.SO_PA", $("#txtSoPhuongAn").val());
            formData.append("pDetail.SO_HA", $("#txtSoHinhAnh").val());
            if (v_CoSDQuyenUT == 1) {

                _index = 0;
                var _index_document = 12;
                var _checkquyenuutien = true;
                $(".clsDivDonUTien").each(function (item) {
                    var _id = $(this).attr('data-id');
                    if (p_ShowError == 1 && $("#" + _id + "_UT_Use").val() == "1") {

                        if ($("#" + _id + "_UT_txtSoDon").val() === "" || $("#" + _id + "_UT_txtSoDon").val() == undefined) {
                            showError('Số đơn ưu tiên không được để trống');
                            $("#" + _id + "_UT_txtSoDon").focus();
                            _checkquyenuutien = false;
                            return false;
                        }

                        if (p_ShowError == 1 && $("#" + _id + "_UT_txtNgayNopDon").val() === "" || $("#" + _id + "_UT_txtNgayNopDon").val() == undefined) {
                            showError('Ngày nộp đơn ưu tiên không được để trống');
                            $("#" + _id + "_UT_txtNgayNopDon").focus();
                            _checkquyenuutien = false;
                            return false;
                        }

                        if (p_ShowError == 1 && $("#" + _id + "_UT_txtQuocGia").val() === "" || $("#" + _id + "_UT_txtQuocGia").val() == undefined) {
                            showError('Nước nộp đơn ưu tiên không được để trống');
                            $("#" + _id + "_UT_txtQuocGia").focus();
                            _checkquyenuutien = false;
                            return false;
                        }

                        formData.append("pUTienInfo[" + _index + "].UT_SoDon", $("#" + _id + "_UT_txtSoDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_NgayNopDon", $("#" + _id + "_UT_txtNgayNopDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_QuocGia", $("#" + _id + "_UT_txtQuocGia").val());

                        var _nameYC = _id + "_rdo_YCHuongQuyen";
                        var v_QuyenUuTien = $("input[name='" + _nameYC + "']:checked").val();
                        if (p_ShowError == 1 && v_QuyenUuTien == undefined || v_QuyenUuTien == null || v_QuyenUuTien == 0 && (pEditOrNew == 1)) {
                            showError('Yêu cầu hưởng quyền ưu tiên phải chọn ít nhất 1 giá trị');
                            _checkquyenuutien = false;
                            return false;
                        }
                        formData.append("pUTienInfo[" + _index + "].UT_Type", v_QuyenUuTien);
                        formData.append("pUTienInfo[" + _index + "].UT_ThoaThuanKhac", $("#" + _id + "_txtThoathuanKhac").val());
                        _index = _index + 1;
                        _index_document = _index_document + 1;
                        // 16

                        var _id_checkbox = "ckb_" + _id + "_TLCMQUT";
                        var _id_textbox = "txt_" + _id + "_TLCMQUT";
                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        //formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_BanSaoDauTien";
                        var _id_textbox = "txt_" + _id + "_BanSaoDauTien";

                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_BanDich";
                        var _id_textbox = "txt_" + _id + "_BanDich";

                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_GiayChuyenNhuong";
                        var _id_textbox = "txt_" + _id + "_GiayChuyenNhuong";
                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());
                    }
                });
                if(_checkquyenuutien == false)
                {
                    return _checkquyenuutien ;
                }

            }
        } catch (e) {
            console.log(e.message);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            // 1
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_Doc_01").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_Doc_01_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_Doc_02").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_Doc_02_2").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_03", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_Doc_03").val());
            formData.append("pAppDocumentInfo[2].CHAR02", $("#txt_Doc_03_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_04", "3");

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_Doc_05").val());


            // 6
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_Doc_06").val());

            // 7
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_07", "6");
            //formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_Doc_07").val());

            // 8
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_08", "7");
            //formData.append("pAppDocumentInfo[7].CHAR01", $("#txt_Doc_08").val());

            // 9
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_09", "8");
            //formData.append("pAppDocumentInfo[8].CHAR01", $("#txt_Doc_09").val());

            // 10
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_10", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#txt_Doc_10").val());

            // 11 quyền ưu tiên  --> bỏ đi vì trùng với phần quyền ưu tiên
            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_11", "10");

            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_12", "11");
            //formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_Doc_12").val());

            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_13", "12");

            // --> bỏ đi vì trùng với phần quyền ưu tiên

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_14", "10");
            //formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_Doc_14").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_15", "11");
            //formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_Doc_15").val());

            // 15
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_16", "12");
            //formData.append("pAppDocumentInfo[12].CHAR01", $("#txt_Doc_16").val());

        } catch (e) {
            console.log(e.message);
        }
    }

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    function funcGetTenTaiLieuBoAnh(formData, p_ShowError) {
        try {
            // checkvalidate
            var item = 0;
            var _documentno = "0";
            var _check = true;
            var _controllevel = 1;
            var _inputfileid = "";
            $(".clssListUploadIndusDesign").each(function () {
                _controllevel = $("#" + this.id).attr("meta-data2")
                _documentno =  $("#" + this.id).attr("meta-data");
                _inputfileid = "pTreefileName" + _documentno;
                formData.append("pAppDocIndusDesign[" + item + "].keyFileUpload", this.id);
                if (p_ShowError == 1 && $("#" + this.id).val().trim() == "")
                {
                    showError('Tên tài liệu không được để trống');
                    $("#" + this.id).focus();
                    _check = false;
                    return false;
                }
                if(_controllevel == "2")
                {
                    // nếu là tài liệu cấp 2 thì check file
                    var file = document.getElementById(_inputfileid);
                    if (p_ShowError == 1 && file == undefined) {
                        showError('Chưa tải file đính kèm');
                        $("#" + this.id).focus();
                        _check = false;
                        return false;
                    }
                    if (p_ShowError == 1 && file.files.length == 0) {
                        showError('Chưa tải file đính kèm');
                        $("#" + this.id).focus();
                        _check = false;
                        return false;
                    }
                }

                item++;
            });
            if(_check == false)
            {
                return false;
            }

            item = 0;
            _documentno = "0";
            $(".clssListUploadIndusDesign").each(function () {
                formData.append("pAppDocIndusDesign[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocIndusDesign[" + item + "].Documentname", $("#" + this.id).val());
                formData.append("pAppDocIndusDesign[" + item + "].FILETYPE", "2");
                formData.append("pAppDocIndusDesign[" + item + "].FILELEVEL", $("#" + this.id).attr("meta-data2"));
                _documentno =  $("#" + this.id).attr("meta-data");
                formData.append("pAppDocIndusDesign[" + item + "].Char01", $("#Treetxttailieuanhsotrang" + _documentno).val());
                formData.append("pAppDocIndusDesign[" + item + "].Char02", $("#TreetxttailieuanhGhiChu" + _documentno).val());
                formData.append("pAppDocIndusDesign[" + item + "].ParentId", _documentno);
                item++;
            });
            return true;
        } catch (e) {
            console.log(e.message);
            return false;
        }
    }


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            console.log(e.message);
            return false;
        }
    }

    function funcChuDonKhac(formData) {
        try {
            var _index = 0;
            $(".clsChuDonKhac").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse_ChuDonKhac").val() == "1") {

                    formData.append("pOther_MasterInfo[" + _index + "].Master_Name", $("#" + _id + "_txtTenDayDu_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Address", $("#" + _id + "_txtDiaChi_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Phone", $("#" + _id + "_txtDienThoai_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Fax", $("#" + _id + "_txtFax_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Email", $("#" + _id + "_txtEmail_Khac").val());

                    if ($("#" + _id + "_ckbTacGiaDongThoi").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "TGDT");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "");
                    }

                    if ($("#" + _id + "_ckbPhoBan").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "PB");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "");
                    }

                    _index = _index + 1;
                }
            });
            return true;
        } catch (e) {
            return false;
        }
    }
    ///Đếm số phương án số hình ảnh
    function CountPhuongAnHinhAnh()
    {
        var _soPhuongAn = 0;
        var _soHinhAnh = 0;
        var _controllevel = "";
        try {
            $(".clssListUploadIndusDesign").each(function () {
                _controllevel = $("#" + this.id).attr("data-level")
                 if (_controllevel == "1") {
                     _soPhuongAn = _soPhuongAn + 1;
                 }
                 else if (_controllevel == "2") {
                     _soHinhAnh = _soHinhAnh + 1;
                 }
            });

            $("#txtSoPhuongAn").val(_soPhuongAn);
            $("#txtSoHinhAnh").val(_soHinhAnh);
        } catch (e) {
            console.log(e.message);
        }
    }


</script>
