@using ObjectInfos;
@{
    List<SysAppFixChargeInfo> _list_data = new List<SysAppFixChargeInfo>();
    if (ViewBag.listData != null)
    {
        _list_data = ViewBag.listData;
    }
    int stt = 0;
}
<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="class150" data-sort id="Appcode">@WebApps.Resources.Resource.Don</th>
                <th class="class150" data-sort id="Appcode">@WebApps.Resources.Resource.Mota</th>
                <th class="class50" data-sort id="Appcode">@WebApps.Resources.Resource.LePhiQuocGia (VNĐ)</th>
                <th class="class50" data-sort id="Appcode">@WebApps.Resources.Resource.LePhiQuocGia (USD)</th>
                <th class="class50" data-sort id="Appcode">@WebApps.Resources.Resource.PhiDichVu (VNĐ)</th>
                <th class="class50" data-sort id="Appcode">@WebApps.Resources.Resource.PhiDichVu (USD)</th>
                <th class="class100">@WebApps.Resources.Resource.ChucNang</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    ++stt;
                    <tr>
                        <td class="tdcenteralign">@stt</td>
                        <td class="tdleftalign">@item.Title</td>
                        <td class="tdleftalign">@item.Description</td>
                        <td class="tdrightalign">@item.Amount.ToString("#,##0")</td>
                        <td class="tdrightalign">@item.Amount_Usd.ToString("#,##0.##")</td>
                        <td class="tdrightalign">@item.Amount_Represent.ToString("#,##0")</td>
                        <td class="tdrightalign">@item.Amount_Represent_Usd.ToString("#,##0.##")</td>
                        <td class="tdcenteralign">
                            <a href="javascript:;" onclick="funcGetView2Edit(@item.Id,'@item.Appcode')" class="icon icon-edit" data-title="Sửa"></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
