@using ObjectInfos;
@model SysAppFixChargeInfo
@{
}
<style>
    .div-search-title > div {
        width: 200px;
    }
</style>


<input type="hidden" id="txtID" value="@Model.Id" />
<input type="hidden" id="txtAppCode" value="@Model.Appcode" />
<div class="" style="padding:5px 38px">

    <div class="divCover divCover_popup">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Don<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" value="@Html.Raw(Model.Title)" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LePhiQuocGia (VNĐ)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Amount, new { id = "txtAmount", @maxlength = "20", @Value = Model.Amount == 0 ? "" : Model.Amount.ToString("#,##0.##"), onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LePhiQuocGia (USD)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Amount_Usd, new { id = "txtAmount_Usd", @maxlength = "20", @Value = Model.Amount_Usd == 0 ? "" : Model.Amount_Usd.ToString("#,##0.##"), onkeyup = "jsFormatFloatNumber(this, this.length,2)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LePhiDaiDien (VNĐ)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Amount_Represent, new { id = "txtAmount_Represent", @maxlength = "20", @Value = Model.Amount_Represent == 0 ? "" : Model.Amount_Represent.ToString("#,##0.##"), onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LePhiDaiDien (USD)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Amount_Represent_Usd, new { id = "txtAmount_Represent_Usd", @maxlength = "20", @Value = Model.Amount_Represent_Usd == 0 ? "" : Model.Amount_Represent_Usd.ToString("#,##0.##"), onkeyup = "jsFormatFloatNumber(this, this.length,2)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoLuongTinhPhi<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Char01, new { id = "txtChar01Edit", @readonly = "readonly", @maxlength = "20", onkeypress = "return isNumberKey(event);", onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Mota</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Description, new { id = "txtDescriptionEdit", @maxlength = "200", @Value = Model.Description })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Mota (En)</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Description_En, new { id = "txtDescription_En_Edit", @maxlength = "200", @Value = Model.Description_En })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Accept" onclick="return funcUpdateFeeFix()" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtAmountEdit").focus();
    });
</script>
