@using BussinessFacade.ModuleTrademark
@using WebApps.CommonFunction
@{
    ViewBag.Title = "Quản lý danh sách phí";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string language = AppsCommon.GetCurrentLang();
    var DanhSachDon = SysApplicationBL.GetSysAppByLanguage(language);
}


<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLy</a>
        <span class="red">></span>
        <a href="/QuanLyPhi/danh-sach-phi">@WebApps.Resources.Resource.QuanLyPhi</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="ID" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div class="div-title-content"> @WebApps.Resources.Resource.ThongTinPhi.ToUpper()</div>
        </div>
    </div>
    <div class="divCover" id="div-search-simple">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Don</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboMauDon">
                        <option value="ALL">-- Tất cả --</option>
                        @foreach (var item in DanhSachDon)
                        {
                            <option value="@item.Appcode">@item.Appname</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="@WebApps.Resources.Resource.TimKiem" class="btn-default" onclick="functionSearchDSPhi();" />
        </div>
    </div>
    <div class="divCover">
        <div id="divDataDDSHCN" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/QuanLyPhi/Views/QLPhi/_PartialTableDanhSachPhi.cshtml")
        </div>
    </div>
    <div id="divWrapperPopUpDDSHCN" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpDDSHCN">
        </div>
    </div>
</div>

<script>

    function functionSearchDSPhi() {

        if (CheckSessionTimeOut() == false) {
            return false;
        }
        var _appcode = $("#cboMauDon").val();
        $.ajax({
            type: "POST",
            url: "/quan-ly-phi/danh-sach-phi/search",
            dataType: "html",
            data: {
                pAppCode: _appcode
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divDataDDSHCN").html(data);
                }
                return false;
            }
        });
    }


    $(document).ready(function () {
        $("#cboMauDon").focus();

        $("#cboMauDon").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                functionSearchDSPhi();
            }
        });
    });

    $(window).load(function () {
        functionSearchDSPhi();
    });

    function funcGetView2Edit(_id, _appcode) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-phi/danh-sach-phi/show-update",
            dataType: "html",
            data: {
                pID: _id, pAppCode: _appcode
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDDSHCN").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDDSHCN', "Sửa thông tin phí", 700, 500, "txtMaDon");
                }
                return false;
            }
        });
    }

    function ClosePopUpDDSHCN() {
        CloseDivPopUp('divWrapperPopUpDDSHCN');
    }


    function funcUpdateFeeFix() {
        var formData = new FormData();
        var amount = $("#txtAmount").val().replace(/,/g, "");
        if (isNaN(amount)) {
            jError("Lệ phí quốc gia (VNĐ) nhập vào phải là kiểu số!", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                $("#txtAmount").focus();
            });
            return false;
        }

        amount = $("#txtAmount_Usd").val();
        if (isNaN(amount)) {
            jError("Lệ phí quốc gia (USD) nhập vào phải là kiểu số!", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                $("#txtAmount_Usd").focus();
            });
            return false;
        }

        amount = $("#txtAmount_Represent").val().replace(/,/g, "");
        if (isNaN(amount)) {
            jError("Lệ phí dịch vụ (VNĐ) nhập vào phải là kiểu số!", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                $("#txtAmount_Represent").focus();
            });
            return false;
        }

        amount = $("#txtAmount_Represent_Usd").val().replace(/,/g, "");
        if (isNaN(amount)) {
            jError("Lệ phí dịch vụ (USD) nhập vào phải là kiểu số!", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                $("#txtAmount_Represent_Usd").focus();
            });
            return false;
        }

        getDataUpDDSHCNEdit(formData);
        $.ajax({
            url: '/quan-ly-phi/danh-sach-phi/execute-update',
            type: 'POST',
            data: formData, dataType: "html",
            async: true, traditional: true, contentType: false, processData: false,
            headers: { "cache-control": "no-cache" },
            beforeSend: function () {
                CreateRollingWaitingIcon(true);
            },
            success: function (data) {
                CreateRollingWaitingIcon(false);
                if (data.success == "-1") {
                    jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                    return false;
                }
                else {
                    jAlert('Sửa dữ liệu phí thành công!', "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        ClosePopUpDDSHCN();
                        functionSearchDSPhi();
                    });
                }
            },
            error: function (e) {
                CreateRollingWaitingIcon(false);
                console.log(e);
            }
        });

    }


    function getDataUpDDSHCNEdit(formData) {
        formData.append('pInfo.Id', $("#txtID").val());
        formData.append('pInfo.AppCode', $("#txtAppCode").val());
        formData.append('pInfo.Amount', $("#txtAmount").val().replace(/,/g, ""));
        formData.append('pInfo.Amount_Usd', $("#txtAmount_Usd").val().replace(/,/g, ""));

        formData.append('pInfo.Amount_Represent', $("#txtAmount_Represent").val().replace(/,/g, ""));
        formData.append('pInfo.Amount_Represent_Usd', $("#txtAmount_Represent_Usd").val().replace(/,/g, ""));

        formData.append('pInfo.Char01', $("#txtChar01Edit").val().trim());
        formData.append('pInfo.Description', $("#txtDescriptionEdit").val().trim());
        formData.append('pInfo.Description_En', $("#txtDescription_En_Edit").val().trim());
    }
</script>