@using Common.CommonData
@using ObjectInfos;
@using Common;
@model WikiDoc_Info
@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string _backhref = "/wiki-manage/wiki-doc/list/" + Model.STATUS;
    if (Model.STATUS == CommonWiki.Stt_daduyet)
    {
        _backhref = "/wiki-manage/wiki-doc/list-by-catalogue/" + Model.CATA_ID; ;
    }
}
<script src="~/Content/ckeditor/ckeditor.js"></script>

@try
{
    <style>
        /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
        .div-search-title > div {
            width: 150px;
        }
    </style>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="/wiki-manage/wiki-doc/list/1">@WebApps.Resources.Resource.QuanLyWiki</a>

        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main smb_content">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <input type="hidden" value="@Model.ID" id="txtDocID" />
                <div class="div-title-content"> THÔNG TIN BÀI VIẾT </div>
                <a style="float:right" href="@_backhref"><input type="button" name="name" value="Trở lại" class="btn" /> </a>
            </div>

        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tiêu đề</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" maxlength="500" value="@Model.TITLE" disabled />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tiêu đề (EN)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle_EN" maxlength="500" value="@Model.TITLE_EN" disabled />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tóm tắt</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" maxlength="500" value="@Model.HEADER" disabled />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tóm tắt (EN)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle_EN" maxlength="500" value="@Model.HEADER_EN" disabled />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Chủ đề </div>
            </div>
            <div class="div-search-content">
                <div id="divWikiChildCatalogue">
                    <input type="text" value="@Model.CATA_NAME" disabled />
                </div>
            </div>
        </div>


        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung<i class="redspan">(*)</i></div>
            <div>
                @*<textarea type="text" id="txtNoiDung" name="txtNoiDung" disabled readonly style="height:500px;width: 100%;">@Html.Raw(Model.CONTENT)</textarea>*@

                <div class="show_desktop">
                    <textarea type="text" id="txtNoiDung" name="txtNoiDung" readonly disabled>@Html.Raw(Model.CONTENT)</textarea>
                </div>

                <div class="smb_mobile div_text">
                    @Html.Raw(Model.CONTENT)
                </div>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung (En)<i class="redspan">(*)</i></div>
            <div>
                @*<textarea type="text" id="txtNoiDung" name="txtNoiDung" readonly style="height:500px;width: 100%;">@Html.Raw(Model.CONTENT_En)</textarea>*@

                <div class="show_desktop">
                    <textarea type="text" id="txtNoiDung_EN" name="txtNoiDung_EN" readonly disabled>@Html.Raw(Model.CONTENT_En)</textarea>
                </div>

                <div class="smb_mobile div_text">
                    @Html.Raw(Model.CONTENT_En)
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.FILE_URL01))
        {
            <div class="div-checkbox" id="div_ImgDownload_WIKIADD_FILE_01" style="border: none;">
                <a style="border: none;" href="@Model.FILE_URL01" target="_blank">
                    <i class="fas fa-download" style="color:blue;font-size:16px;margin-top:7px; margin-right:5px;"></i>
                    <span>@Model.FILE_URL01.GetFilename()</span>

                </a>
            </div>

        }
        @if (!string.IsNullOrEmpty(Model.FILE_URL02))
        {
            <div class="div-checkbox" id="div_ImgDownload_WIKIADD_FILE_02" style="border: none;">
                <a style="border: none;" href="@Model.FILE_URL02" target="_blank">
                    <i class="fas fa-download" style="color:blue;font-size:16px;margin-top:7px; margin-right:5px;"></i>
                    <span>@Model.FILE_URL02.GetFilename()</span>

                </a>
            </div>

        }
        @if (!string.IsNullOrEmpty(Model.FILE_URL03))
        {
            <div class="div-checkbox" id="div_ImgDownload_WIKIADD_FILE_03" style="border: none;">
                <a style="border: none;" href="@Model.FILE_URL03" target="_blank">
                    <i class="fas fa-download" style="color:blue;font-size:16px;margin-top:7px; margin-right:5px;"></i>
                    <span>@Model.FILE_URL03.GetFilename()</span>

                </a>
            </div>

        }
    </div>


}
catch (Exception)
{
    // ignored
}

<script>
    var txtNoiDung = CKEDITOR.replace("txtNoiDung",
        {
            height: 500
        });

    var txtNoiDung_EN = CKEDITOR.replace("txtNoiDung_En",
        {
            height: 500
        });
</script>