@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Danh sách bài viết lưu tạm";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<WikiCatalogues_Info> _listcata = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCata != null)
    {
        _listcata = ViewBag.ListCata;
    }
    //int _CurrentStatus = ViewBag.CurrStatus;
    //string _hef01 = "", _hef02 = "", _hef04 = "", _hef05 = "";
    //if (_CurrentStatus == 1)
    //{
    //    _hef01 = "text-decoration: underline;";
    //}
    //if (_CurrentStatus == 2)
    //{
    //    _hef02 = "text-decoration: underline;";
    //}
    //if (_CurrentStatus == 4)
    //{
    //    _hef04 = "text-decoration: underline;";
    //}
    //if (_CurrentStatus == 3)
    //{
    //    _hef05 = "text-decoration: underline;";
    //}

    List<AllCodeInfo> _lstStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("WIKI", "STATUS");
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLyWiki</a>
        <span class="red">></span>
        <a href="/wiki-manage/wiki-doc/list/1">@WebApps.Resources.Resource.QuanLyNoiDung</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

 
@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main smb_content">
    <div class="divCover">
        
        <div class="classTitle">
            <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
            <input type="hidden" value="DESC" id="SortType" />
            <input type="hidden" value="" id="OptionSorting" />
            <div class="div-title-content"> THÔNG TIN NỘI DUNG</div>
        </div>
    </div>

    <div class="divCover" id="div-search-simple">

        <div class="div-search-ad">

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboStatus" style="width:150px">
                        <option value="ALL">
                            @WebApps.Resources.Resource.TatCa
                        </option>
                        @foreach (AllCodeInfo item in _lstStatus)
                        {
                            <option value="@item.CdVal">
                                @item.Content
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChuDeBaiViet</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboSearchWikiCatalogue" style="width:150px">
                        <option value="ALL">
                            @WebApps.Resources.Resource.TatCa
                        </option>
                        @foreach (WikiCatalogues_Info item in _listcata)
                        {
                            <option value="@item.ID">
                                @item.NAME
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Hashtag</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtSearchTitleHashtag" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:450px;">
            <input type="button" value="@WebApps.Resources.Resource.TimKiem" class="btn-default" onclick="findObjects(1,1)" />
            <input type="button" value="Thêm tài liệu" class="btn-default" onclick="getView2Insert()" />
        </div>
    </div>

    <div class="divCover">
        <div id="divTableObjects">
            @Html.Partial("/Areas/Wiki/Views/WikiDoc/_PartialDocData.cshtml")
        </div>
    </div>

</div>

<script>
        @*var _currentKeySearch = '/Areas/Wiki/Views/WikiDoc/DocListBystatus.cshtml' + '@_CurrentStatus';
        var _currentOptionFilter = '/Areas/Wiki/Views/WikiDoc/DocListBystatus.cshtml_OptionFilter' + '@_CurrentStatus';*@

        var _currentKeySearch = '/Areas/Wiki/Views/WikiDoc/DocListBystatus.cshtml';
        var _currentOptionFilter = '/Areas/Wiki/Views/WikiDoc/DocListBystatus.cshtml_OptionFilter';

        var _status = 'ALL';
        var _catalogue = '';
        var _titleHashtag = '';

        $(document).ready(function () {
              initAllSearchingData(_currentKeySearch, _currentOptionFilter, initOrderBySearching, setKeySearch, findObjects);

            $('txtSearchTitleHashtag').focus();
            $('[data-controlcondition="TRUE"]').on('keypress',
				function (e) {
				    enterKeyPress(e, 'btnfindObjects');
				});
        });

        function getView2Insert() {
            var url = "/wiki-manage/wiki-doc/add/0";
            window.location.href = url;
        }


        function findObjects(_pageNumber, _isSearching) {
            try {

                reinitSearchingConditions(_currentKeySearch, _currentOptionFilter, _pageNumber, _isSearching);
                if (isSearching === 1) {
                    _status = $("#cboStatus").val();
                    _catalogue = $("#cboSearchWikiCatalogue").val();
                    _titleHashtag = $("#txtSearchTitleHashtag").val().trim();

                } else {

                    window.arrKeySearch = window.keySearch.split('|');
                    if (arrKeySearch.length > 0)
                    {
                        _status = arrKeySearch[0];
                        _catalogue = arrKeySearch[1];
                        _titleHashtag = arrKeySearch[2];
                        if (_catalogue != "")
                        {
                            $("#cboSearchWikiCatalogue option[value=" + _catalogue + "]").attr("selected", "selected");
                        }

                        $("#txtSearchTitleHashtag").val(_titleHashtag);
                    }

                }

                updateSearchingConditions("divNumberRecordOnPageListObjects", setKeySearch);

                $.ajax({
                    type: "POST",
                    headers: { "cache-control": "no-cache" },
                    url: "/wiki-manage/wiki-doc/find-doc",
                    data: {
                        keysSearch: keySearch,
                        options: optionFilter
                    },
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            onResponseWhenSearching(data, "divTableObjects", findObjects);
                        }
                    }
                });
                return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }
        }

        function setKeySearch() {
            window.keySearch = _status + "|" +  _catalogue + "|" + _titleHashtag;
        }

        function initOrderBySearching() {
            window.colSort = 'MODIFIED_DATE';
            window.sortType = 'DESC';
        }

        function pageListOfObjects(_pagenum) {
            try {
                findObjects(_pagenum, 0);

            } catch (e) {
                console.log(e.message);
            }
        }

        $('#cboSearchWikiCatalogue').multipleSelect({
            filter: true,
            noMatchesFound: "@Html.Raw(WebApps.Resources.Resource.KhongTimThayDuLieu)",
            single: true,
            isdatastring: false,
            placeholder: "@Html.Raw(WebApps.Resources.Resource.TimKiemChuDe)"
        });


        function doDeleteObject(p_id) {
            try {
                nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmDelete)", function () {
                    $.ajax({
                        url: "/wiki-manage/wiki-doc/do-delete-doc",
                        type: "POST",
                        data: { p_id: p_id },
                        headers: { "cache-control": "no-cache" },
                        async: false,
                        success: function (data) {
                            if (data.result >= 0) {
                                showSuccess("@Html.Raw(WebApps.Resources.Resource.XoaThanhCong)");
                                window.findObjects(1, 0);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });

                });

            } catch (e) {
                alert(e.toString());
            }

        }
</script>
