@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using WebApps.Resources;
@model string
@{
    string _id = Model;

    string pfileName_Others = "pfileName_Others" + _id;
    string txtTaiLieuKhac_Others = "txtTaiLieuKhac_Others" + _id;
    string txtMaxfile_Others = "txtMaxfile_Others" + _id;
    string divDocumnetNo_Others = "divDocumnetNo_Others" + _id;
    string btnXoa = "btnXoa_Others" + _id;
    string btnTaiFile = "btnTaiFile_Others" + _id;
    string btnRemoveFile = "btnRemoveFile_Others" + _id;
    string divRemoveFile_Others = "divRemoveFile_Others" + _id;
}

<div class="div-search-ad" id="@divDocumnetNo_Others">
    <div class="div-search-title"> <div>File name:</div> </div>
    <div class="div-search-content">
        <div> <input style="width: 318px;" type="text" class="clssListUpload" maxlength="200" placeholder="" id="@txtTaiLieuKhac_Others"> </div>
    </div>
    <div class="div-search-content">
        <div>
            <div class="file-upload btn btn-primary" style="margin-left:2px">
                <span class="">Upload file</span>
                <input type="file" onchange="return funcChoiseFile_Others('@pfileName_Others', '@txtMaxfile_Others','@txtTaiLieuKhac_Others','@divRemoveFile_Others');" name="@pfileName_Others" id="@pfileName_Others" class="upload fileuploadurl" />
            </div>
            <input type="text" class="classMaxfile" id="@txtMaxfile_Others" style="width: 396px !important" readonly>

            <button id="@divRemoveFile_Others" onclick="funcRemoveDocument_Others('@divDocumnetNo_Others')" style="width: 30px;margin-left:1px">
                <i class="fa fa-minus-circle"></i>
            </button>

            @*<button id="@divRemoveFileImg" onclick="RemoveFile_Others('@divDocumnetNoImg', '@txtTaiLieuKhacImg','@divRemoveFileImg','@txtMaxfileImg')" style="width: 30px;margin-left:1px">
            <i class="fa fa-minus-circle"></i>
        </button>*@

        </div>
    </div>
</div>
