@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using WebApps.Resources;
@model AppDocumentOthersInfo
@{
    string _id = Model.Model_Id.ToString();

    string pfileNameImg = "pfileName_Others" + _id;
    string txtTaiLieuKhacImg = "txtTaiLieuKhac_Others" + _id;
    string txtMaxfileImg = "txtMaxfile_Others" + _id;
    string divDocumnetNoImg = "divDocumnetNo_Others" + _id;
    string btnXoa = "btnXoa_Others" + _id;
    string btnTaiFile = "btnTaiFile_Others" + _id;
    string btnRemoveFile = "btnRemoveFile_Others" + _id;
    string divRemoveFileImg = "divRemoveFile_Others" + _id;

    string[] _arr1 = Model.Filename != null ? Model.Filename.Split('/'):new string[0];
    string _filename1 = WebApps.Resources.Resource.FileDinhKem;
    if (_arr1.Length > 0)
    {
        _filename1 = _arr1[_arr1.Length - 1];
    }

    decimal _is_view = Model.Is_View;
    string _disabled = "";
    if (_is_view == 1)
    {
        _disabled = "disabled";
    }
}

<div class="div-search-ad" id="@divDocumnetNoImg">
    <div class="div-search-title"> <div>File name:</div> </div>
    <div class="div-search-content">
        <div>
            <input type="text" @_disabled style="width: 318px;" class="clssListUpload" data-id="@Model.Id" value="@Model.Documentname" maxlength="200" placeholder="" id="@txtTaiLieuKhacImg">
        </div>
    </div>

    <div class="div-search-content">
        <div>
            @if (_is_view == 0)
            {
                <div class="file-upload btn btn-primary" style="margin-left:2px">
                    <span class="">Upload file</span>
                    <input type="file" onchange="return funcChoiseFile_Others('@pfileNameImg', '@txtMaxfileImg','@txtTaiLieuKhacImg','@divRemoveFileImg');" name="@pfileNameImg" id="@pfileNameImg" class="upload fileuploadurl" />
                </div>

                <input type="text" class="classMaxfile" value="@_filename1" id="@txtMaxfileImg" style="width: 396px !important" readonly />
            }

            <button style="width: 30px;margin-left:1px">
                <a style="border: none;" href="@Model.Filename" target="_blank">
                    <i class="fas fa-download" style="color:blue;font-size:16px;margin-top:7px; margin-right:5px;"></i>
                </a>
            </button>

            @if (_is_view == 0)
            {
                <button id="@divRemoveFileImg" onclick="funcRemoveDocument_Others('@divDocumnetNoImg')" style="width: 30px;margin-left:1px">
                    <i class="fa fa-minus-circle"></i>
                </button>
            }

            @*<button id="@divRemoveFileImg" onclick="RemoveFile_Others('@divDocumnetNoImg', '@txtTaiLieuKhacImg','@divRemoveFileImg','@txtMaxfileImg')" style="width: 30px;margin-left:1px">
            <i class="fa fa-minus-circle"></i>
        </button>*@

        </div>
    </div>
</div>
