@using Common.CommonData
@using Common.Extensions
@using ObjectInfos.ModuleTrademark;
@using WebApps.CommonFunction;
@using ObjectInfos;
@{
    List<AppFeeFixInfo> _list_data = new List<AppFeeFixInfo>();
    if (ViewBag.LstFeeFix != null)
    {
        _list_data = ViewBag.LstFeeFix;
    }

    decimal _Total_Amount = 0;
    decimal _Total_Amount_Represent = 0;
    decimal _discount = 0;

    string language = AppsCommon.GetCurrentLang();

    foreach (var item in _list_data)
    {
        if (language == "VI_VN")
        {
            _Total_Amount += item.Amount;
            _Total_Amount_Represent += item.Amount_Represent;
        }
        else
        {
            _Total_Amount += item.Amount_Usd;
            _Total_Amount_Represent += item.Amount_Represent_Usd;
        }
    }

    decimal _discount_percent = 0;
    List<AllCodeInfo> _lstDiscount = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("DISCOUNT", "SERVICE");
    if (_lstDiscount.Count > 0)
    {
        _discount_percent = Convert.ToDecimal(_lstDiscount[0].CdVal);
    }

    _discount = Math.Round(_Total_Amount_Represent * _discount_percent / 100);
    decimal _MustPay = _Total_Amount_Represent - _discount;
}

<div>
    <table class="table-lst-data" id="tableListUser">
        <thead>
            <tr>
                <th>@WebApps.Resources.Resource.FeeType</th>
                <th style="width: 17%">@WebApps.Resources.Resource.SoDoiTuongTinhPhi</th>
                <th style="width: 17%">@WebApps.Resources.Resource.LePhiQuocGia</th>
                <th style="width: 17%">@WebApps.Resources.Resource.LePhiDaiDien</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data != null && _list_data.Count > 0)
            {
                <tr>
                    <td class="tdleftalign" colspan="4" style="font-weight:bold">@WebApps.Resources.Resource.lblSubtile</td>
                </tr>

                foreach (var item in _list_data)
                {
                    <tr>
                        @if (item.Level == 1)
                        {
                            if (language != "VI_VN")
                            {
                                <td class="tdleftalign">&emsp; @item.Fee_Name_En</td>
                            }
                            else
                            {
                                <td class="tdleftalign">&emsp; @item.Fee_Name</td>
                            }
                        }
                        else if (item.Level == 2)
                        {
                            if (language != "VI_VN")
                            {
                                <td class="tdleftalign">&emsp; &emsp; @item.Fee_Name_En</td>
                            }
                            else
                            {
                                <td class="tdleftalign">&emsp; &emsp; @item.Fee_Name</td>
                            }
                        }
                        else
                        {
                            if (language != "VI_VN")
                            {
                                <td class="tdleftalign">@item.Fee_Name_En</td>
                            }
                            else
                            {
                                <td class="tdleftalign">@item.Fee_Name</td>
                            }
                        }
                        <td class="tdrightalign">@item.Number_Of_Patent</td>

                        @if (language == "VI_VN")
                        {
                            <td class="tdrightalign">@item.Amount.ToString("#,##0.##")</td>
                            <td class="tdrightalign">@item.Amount_Represent.ToString("#,##0.##")</td>
                        }
                        else
                        {
                            <td class="tdrightalign">@item.Amount_Usd.ToString("#,##0.##")</td>
                            <td class="tdrightalign">@item.Amount_Represent_Usd.ToString("#,##0.##")</td>
                        }
                    </tr>
                }

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.Subtitle</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_Total_Amount.ToString("#,##0.##")</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_Total_Amount_Represent.ToString("#,##0.##")</td>
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.ChietKhau</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold; color: black">0</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_discount.ToString("#,##0.##")</td>
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.TongCong</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_Total_Amount.ToString("#,##0.##")</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_MustPay.ToString("#,##0.##")</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="9">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>