@using Common.CommonData
@using WebApps.ExtensionObject
@using WebApps.CommonFunction;
@using WebApps.Session;
@using WebApps.Resources;
@{
    ViewBag.Title = "Pathlaw";
    Layout = null;

    string _LanguageCode = AppsCommon.GetCurrentLang();

    string _username = "";
    decimal _id = 0;
    if (SessionData.CurrentUser != null)
    {
        _username = SessionData.CurrentUser.FullName;
        _id = SessionData.CurrentUser.Id;
    }

}

<!DOCTYPE html>
<html>
<head>
    <script>
    var _currentlanguage = '@_LanguageCode';
    </script>
    @* https://css-tricks.com/probably-use-initial-scale1/ *@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="__RequestVerificationToken" content="@Html.AntiForgeryTokenValue()" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src=@($"/Scripts/jquery-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery-ui-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery.unobtrusive-ajax.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <link href=@($"/Scripts/outSourcesLib/notify/animate.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/notify/notify.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/multipleSelect/multiple-select.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/font.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/Site.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/IconNVS/IconNVS.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/glyphicons/glyphicons.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/fontawesome/fontawesome-all.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/LegalhomeStyleSheet.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <script src="@Url.Script("~/Scripts/DangTQForm.js")"></script>
    <script src="~/Scripts/messagebox/JsFormPopup.js"></script>
    <script src="~/Scripts/messagebox/popup.js"></script>
    <link href="~/Content/CssFormPoup/StyleFormPopup.css" rel="stylesheet" />
    <script src="~/Content/ComboCheckList/jquery.multiple.select_new.js"></script>
    <link href="~/Content/ComboCheckList/multiple-select.css" rel="stylesheet" />
    @* Loader *@
    <link href="~/Content/CSSWaitingIcon/rolling.css" rel="stylesheet" />
    <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>

</head>
<body>

    <div class="hidden">
        @Html.Partial("~/ViewsShared/nvs.variables.js.cshtml")
    </div>
    <div class="container-wrapper">
        <div class="section-body">
            <div class="main-menu">
                <div id="divMns">
                    <div style="width:100%;height:100%">
                        <a class="c-navleft_logo-link" href="javascript:;" onclick="return funcHome();" data-transition="full">
                            <img src="/Content/News/images/logo_ipace.png" onclick="return funcHome();" alt="" class="classLogo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="grid-item_head">
                        <div class="" style="width:100% !important;padding-top:10px;padding-bottom:10px">
                            @if (_LanguageCode == LangCode.EN_US.ToString())
                            {
                                <a href="/Language?culture=vi-VN&returnUrl=Home" class="lang-vn"></a>
                            }
                            else
                            {
                                <a href="/Language?culture=en-GB&returnUrl=Home" class="lang-en"></a>
                            }
                        </div>
                    </div>
                    @Html.Partial("~/ViewsShared/_PartialMainMenu.cshtml")


                    <div class="class-dangxuat" style="margin-top: 10px;">
                        <a href="/acount/dang-xuat" style="padding-right: 12px; padding-top: 10px;">
                            @*<img src="/Content/icons/logout.png" />*@
                            @Resource.LogOut
                        </a>
                    </div>

                    <div class="class-dangxuat" style="margin-top: 4px;">
                        @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Customer)
                        {
                            <a href="/customer/quan-ly-customer/get-view-to-edit-customer/@_id" style="padding-right: 12px; padding-top: 10px;">
                                <img src="/Content/icons/user_info.png" />
                                @_username
                            </a>
                        }
                        else if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer)
                        {
                            <a href="/luat-su/quan-ly-luat-su/get-view-to-edit-lawer/@_id" style="padding-right: 12px; padding-top: 10px;">
                                <img src="/Content/icons/user_info.png" />
                                @_username
                            </a>
                        }
                        else
                        {
                            <a href="/quan-tri-he-thong/quan-ly-nguoi-dung/get-view-to-edit-user/@_id" style="padding-right: 12px; padding-top: 10px;">
                                <img src="/Content/icons/user_info.png" />
                                @_username
                            </a>
                        }
                    </div>

                </div>

            </div>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @* Footer *@
    <div class="section-bottom">
        @Html.Partial("~/ViewsShared/_PartialFooter.cshtml")
    </div>
    @*End Footer*@

    <script src=@($"/Scripts/nvs.jquery.validate.data.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.util.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.alert.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.filter.search.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/common-data-loader.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/notify/bootstrap-notify.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/es6-promise.auto.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/multipleSelect/jquery.multiple.select_new.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dragtables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.full.min.js?v={CommonVariables.AssemblyVersion}")></script>
</body>

</html>
<script>
    function funcHome() {
        window.location.href = "/";
    }
    $(document).ready(function () {
        $('[data-menu="item-main-menu"]').on("click", function () {
            var ulSide = $(this).next();

            $(this).parent().siblings().removeClass('main-menu-active');
            $(this).parent().siblings().find('> ul').slideUp('fast').addClass('collapsed');
            if ($(ulSide).hasClass('collapsed')) {
                $(this).next().removeClass('collapsed').slideDown('fast');
                $(this).parent().addClass('main-menu-active');
            } else {
                $(this).parent().removeClass('main-menu-active');
                $(ulSide).addClass('collapsed').removeClass('main-menu-active').slideUp('fast');
            }
        });

        var currentPath = window.location.pathname;
        var currentTask = $('#divMns').find('[data-url="' + currentPath + '"]');
        $(currentTask).parent().removeClass('collapsed').slideDown('fast');
        $(currentTask).parent().parent().addClass('main-menu-active');
        $(currentTask).addClass('task-menu-active');
        // Hungtd: sửa đối với các menu có dung đường dẫn url nhưng khác tham số cuối(status) thì vẫn focus active
        currentPath = currentPath.substr(0, currentPath.length - 1);
        currentTask = $('#divMns').find('[data-link="' + currentPath + '"]');
        $(currentTask).parent().removeClass('collapsed').slideDown('fast');
        $(currentTask).parent().parent().addClass('main-menu-active');
        $(currentTask).addClass('task-menu-active');
    });

    function gotoTask(el) {
        var url = $(el).attr("data-url");
        window.location.href = url;
    }


</script>
