<!DOCTYPE html>
@using Common.CommonData
@using WebApps.ExtensionObject
@using WebApps.CommonFunction;
@using ObjectInfos;
@using BussinessFacade;
@{

    string _LanguageCode = AppsCommon.GetCurrentLang();
    string _langlink = "/vi-vn";
    if (_LanguageCode != "VI_VN")
    {
        _langlink = "/en-gb";
    }

    Sys_Pages_BL objBL = new Sys_Pages_BL();
    Sys_Pages_Info _pageInfo = objBL.Sys_Pages_GetBy_Code("home");
    Sys_Pages_Info _pageInfo_2 = objBL.Sys_Pages_GetBy_Code("home_2");
    Sys_Pages_Info _pageInfo_3 = objBL.Sys_Pages_GetBy_Code("home_3");

    Sys_Pages_Info _pageInfo_search = objBL.Sys_Pages_GetBy_Code("iSearching");
    Sys_Pages_Info _pageInfo_filling = objBL.Sys_Pages_GetBy_Code("iFilling");
    Sys_Pages_Info _pageInfo_watching = objBL.Sys_Pages_GetBy_Code("iWatching");


    string _content_home_1 = _pageInfo != null ? _pageInfo.Content : "";
    string _content_home_2 = _pageInfo_2 != null ? _pageInfo_2.Content : "";
    string _content_home_3 = _pageInfo_3 != null ? _pageInfo_3.Content : "";

    string iSearching = _pageInfo_search != null ? _pageInfo_search.Content : "";
    string iFilling = _pageInfo_filling != null ? _pageInfo_filling.Content : "";
    string iWatching = _pageInfo_watching != null ? _pageInfo_watching.Content : "";


    if (_LanguageCode != "VI_VN")
    {
        _content_home_1 = _pageInfo != null ? _pageInfo.Content_En : "";
        _content_home_2 = _pageInfo_2 != null ? _pageInfo_2.Content_En : "";
        _content_home_3 = _pageInfo_3 != null ? _pageInfo_3.Content_En : "";

        iSearching = _pageInfo_search != null ? _pageInfo_search.Content_En : "";
        iFilling = _pageInfo_filling != null ? _pageInfo_filling.Content_En : "";
        iWatching = _pageInfo_watching != null ? _pageInfo_watching.Content_En : "";
    }
}
<html>
<head>
    <script>
        var _currentlanguage = '@_LanguageCode';
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Following the Rule of Law</title>
    @*<link href="~/Content/News/Css/register.css" rel="stylesheet" />*@
    <link href=@($"/Content/News/Css/main.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href="~/Content/News/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/News/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/News/Css/jquery.dropdown.min.css" rel="stylesheet" />
    <link href="~/Content/News/Css/learndash_template_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>

    @*<script src="~/Scripts/messagebox/JsFormPopup.js"></script>
        <script src="~/Scripts/messagebox/popup.js"></script>*@

    <link href="~/Content/News/Css/css.css" rel="stylesheet" />
    @*<script src="~/Scripts/AlertPopup/NVSAlerts.js"></script>
        <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
        <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>
        <script src="~/Scripts/nvs.jquery.alert.js"></script>*@

    <link rel="icon" href="~/Content/News/images/favicon.ico">
</head>

<body>
    <div class="c-transitions js-transitions">
        <div class="c-transitions_mask"></div>
        <div class="c-transitions_mask"></div>
        <div class="c-transitions_logo" aria-hidden="true">
            <div class="c-transitions_logo-image js-transition-logo"></div>
        </div>
        <div class="c-transitions_loader" aria-hidden="true">
            <div class="c-transitions_loader-progress"></div>
        </div>
    </div>

    <div class="o-barba js-barba" id="js-barba-wrapper" aria-live="polite">
        <!--[bg ngoai]-->
        <div class="o-barba_frame" data-module="Frame">
            <div class="o-barba_frame-paralax js-parallax" style="transform: translate3d(0px, 0px, 0px);">
                <div class="o-background" style="background-image:url(/Content/News/images/frame-blue.webp)"></div>
            </div>
            <div class="o-barba_frame-paralax js-parallax" style="transform: translate3d(0px, 0px, 0px);">
                <div class="o-background" style="background-image:url(/Content/News/images/frame-red.webp)"></div>
            </div>
        </div>
        <!--[end bg ngoai]-->
        <div id="bodytop" class="js-barba-container o-barba_container page-template page-template-templates page-template-Khoanbetong page-template-templatesKhoanbetong-php page page-id-36 page-child parent-pageid-60 Khoanbetong" data-template="Khoanbetong" style="visibility: visible;">
            <div class="c-header_nav-list-overlay js-nav-overlay"></div>
            <!--[logo + button mobi]-->
            <nav class="c-header-mobile">
                <div class="c-header-mobile_logo">
                    <a class="c-header-mobile_logo-link" href="javascript:;" aria-label="tên công ty" onclick="return  funcHome();">
                        <figure class="c-header-mobile_logo_img" aria-hidden="true">
                            <img class="c-header-mobile_logo_svg-color" src="/Content/News/images/logo_ipace-1.webp">
                            <img class="c-header-mobile_logo_svg-white" src="/Content/News/images/logo_ipace-1.webp">
                        </figure>
                    </a>
                </div>
                <button class="c-header_nav-burger" data-module="BurgerMenu" type="button">
                    <div class="c-header_nav-burger-line"></div>
                </button>
            </nav>
            <!--end[logo + button mobi]-->

            <header class="c-header" data-module="HeaderNav">
                <nav class="c-header_nav js-header-nav">
                    <div class="c-header_nav-logo">
                        <a class="c-header_nav-logo-link" href="javascript:;" aria-label="tên công ty" data-transition="full" onclick="funcHome()">
                            <figure class="c-header_nav-logo_img" aria-hidden="true">
                                <img class="c-header_nav-logo_svg-color" src="/Content/News/images/logo_ipace-1.webp">
                                <img class="c-header_nav-logo_svg-white" src="/Content/News/images/logo_ipace-1.webp">
                            </figure>
                        </a>
                    </div>
                    <!--[Menutop + mobi]-->
                    <ul id="menu-main-menu" class="c-header_nav-list u-list-reset">

                        @Html.Partial("~/ViewsShared/_PartialSinginSignupDestop.cshtml")


                        <!--[Menu]-->
                        <div class="clss_mobileMenu">
                            @Html.Partial("~/ViewsShared/_PartialHomeMenu.cshtml")
                        </div>

                        <li class="c-header_nav-item js-nav-nosublink">
                            <div class="" style="width:100% !important;padding-top:10px;">
                                @if (_LanguageCode == LangCode.EN_US.ToString())
                                {
                                    <a href="javascript:;" onclick="return funcVi();" class="lang-vn"></a>
                                }
                                else
                                {
                                    <a href="javascript:;" onclick="return funcEn();" class="lang-en"></a>
                                }
                                @Html.Partial("~/ViewsShared/_PartialSigninSignup.cshtml")
                            </div>
                        </li>

                    </ul>

                    <ul class="c-header_nav-social">
                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="https://www.linkedin.com/in/le-tuyen-63851914/" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="LinkedIn">
                                        <i class="fa fa-linkedin" aria-hidden="true" style=" color:#06cafc;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>

                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="https://www.facebook.com/accessip.asia/?modal=admin_todo_tour" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true" style="color: #13559d;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>
                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="https://twitter.com/IPathConsult" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true" style=" color:#FF0000;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>

                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="/contact-send/contact" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="Email">
                                        <i class="fa fa-envelope" aria-hidden="true" style=" color:#FF0000;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="js-scroll tpl- o-main" data-scrollbar="" tabindex="1" style="overflow: hidden; outline: none;">
                <article class="scroll-content">
                    <section class="t-Khoanbetong">
                        <div class="t-Khoanbetong_wrap o-layout">
                            <!--[MenuLeft]-->
                            <div class="t-Khoanbetong_col-left o-layout_item js-animate" data-sticky="">
                                <aside class="c-navleft" data-module="NavLeft">
                                    <div class="c-navleft_scroll js-scroll sticky" data-scrollbar="" tabindex="1" style="overflow: hidden; outline: none;">
                                        <article class="scroll-content">
                                            <div class="c-navleft_inner">
                                                <div class="c-navleft_logo">
                                                    <a class="c-navleft_logo-link" href="javscript:;" onclick="return funcHome();" data-transition="full">
                                                        <figure class="c-navleft_logo-figure">
                                                            <img src="/Content/News/images/logo_ipace.webp" alt="" aria-hidden="true">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="c-navleft_head js-head">
                                                    <figure class="c-navleft_head-viewmore">
                                                        <svg class="c-navleft_head-viewmore-less" role="img">
                                                            <use xlink:href="/Content/News/images/icon-arrow-right.png"></use>
                                                        </svg>
                                                        <svg class="c-navleft_head-viewmore-more" role="img">
                                                            <use xlink:href="/Content/News/images/icon-arrow-right.png"></use>
                                                        </svg>
                                                    </figure>
                                                    <h3 class="c-navleft_head-title">Following the Rule of Law</h3>
                                                </div>
                                                <!--[Menu]-->
                                                <div class="c-navleft_category">
                                                    @Html.Partial("~/ViewsShared/_PartialHomeMenu.cshtml")
                                                </div>
                                            </div>
                                        </article>
                                        <aside class="scrollbar-track scrollbar-track-x show" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 365px; transform: translate3d(0px, 0px, 0px);"></div>
                                        </aside>
                                        <aside class="scrollbar-track scrollbar-track-y show" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 686.877px; transform: translate3d(0px, 0px, 0px);"></div>
                                        </aside>
                                        <canvas class="overscroll-glow" style="display: none; pointer-events: none;"></canvas>
                                    </div>
                                </aside>
                            </div>
                            <!--end[MenuLeft]-->

                            <div class="t-Khoanbetong_col-right o-layout_item">
                                <div class="t-Khoanbetong_inner">
                                    <div class="c-carousel" data-module="Carousel,BiographyCircles">
                                        <div class="c-carousel_percent js-carousel-percent" style="width: 7%;"></div>
                                        <div class="c-carousel_wrap o-layout">
                                            <!--[Image tròn]-->

                                            <div class="c-carousel_col-left o-layout_item">
                                                <div class="c-carousel_images">
                                                    <div class="c-carousel_circle">
                                                        <div class="c-carousel_circle-shape -red js-circle1" style="transform: translate3d(16.7475px, 13.9599px, 0px);"></div>
                                                    </div>
                                                    <div class="c-carousel_circle">
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image" style="background-image: url(/Content/News/images/001.webp); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image is-leave" style="background-image: url(/Content/News/images/002.webp); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image is-enter" style="background-image: url(/Content/News/images/006.webp); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="c-carousel-navigation o-layout">
                                                    <button class="c-carousel-navigation_btn o-layout_item js-prev" type="button">
                                                        <figure class="c-carousel-navigation_icon">
                                                            <i class="fa fa-chevron-left" aria-hidden="true" style=" color #ccc;font-size 18px;"></i>
                                                        </figure>
                                                    </button>
                                                    <button class="c-carousel-navigation_btn o-layout_item js-next" type="button">
                                                        <figure class="c-carousel-navigation_icon">
                                                            <i class="fa fa-chevron-left" aria-hidden="true" style=" color #ccc;font-size 18px;"></i>
                                                        </figure>
                                                    </button>
                                                </aside>
                                            </div>
                                            <!--end[Image tròn]-->
                                            <!--[Text]-->
                                            <div class="c-carousel_col-right o-layout_item">
                                                <div class="c-carousel_contents">
                                                    <div class="c-carousel_slideid js-slide-id">3</div>
                                                    <div class="c-carousel_content js-content">
                                                        <h4 class="c-carousel_content-title">ACCESS.IP SOLUSION</h4>
                                                        <div class="c-carousel_content-description" style="font-family:Calibri !important">
                                                            <p><span class="adm">_A Cloud Co-Elaboration Space of Services_</span></p>
                                                            <p>
                                                                <span class="adm">@Html.Raw(_content_home_1)</span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">ACCESS.IP SOLUTIONS</h3>
                                                        <div class="c-carousel_content-description" style="font-family:Calibri !important">
                                                            <p><span class="adm">__One Platform, multiple IP Workflows__</span></p>
                                                            @Html.Raw(_content_home_2)
                                                        </div>
                                                    </div>

                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">
                                                            ACCESS.IP SOLUTIONS
                                                        </h3>
                                                        <div class="c-carousel_content-description" style="font-family:Calibri !important">
                                                            <p><span class="adm">_Reduced Workload, Free of Charge by 50%_ </span></p>
                                                            @Html.Raw(_content_home_3)
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="t-Khoanbetong_scroll js-btn-arrow">
                                                    <figure class="t-Khoanbetong_scroll-icon">
                                                        <i class="fa fa-long-arrow-down" aria-hidden="true" style=" font-size 24px;"></i>
                                                    </figure>
                                                </div>
                                            </div>
                                            <!--end[Text]-->
                                        </div>
                                    </div>
                                </div>

                                <div class="t-Khoanbetong_content js-generic-color" data-color="red">
                                    <h2></h2>
                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Searching:</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style=" color:#666;font-size:16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                @Html.Raw(iSearching)
                                                <p>&nbsp;</p>
                                                <p style="text-align: center;"><img class="aligncenter" src="/Content/News/images/1.webp" alt=""></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Filing</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style=" color:#666;font-size:16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                @Html.Raw(iFilling)
                                                <p>&nbsp;</p>
                                                <p style="text-align: center;"><img class="aligncenter" src="/Content/News/images/2.webp" alt=""></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Watching</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style="color: #666;font-size: 16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                @Html.Raw(iWatching)
                                                <p>&nbsp;</p>
                                                <p style="text-align: center;"><img class="alignnone" src="/Content/News/images/3.webp" alt=""></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </section>


                                </div>

                                <footer id="main-footer" class="c-footer js-animate">
                                    <div class="c-footer_wrap-head o-layout -middle">
                                        <div class="c-footer-quote o-layout_item">
                                            <div class="c-footer-quote_wrap">
                                                <h3 class="c-footer-quote_title" style="font-size: 18px;">IPATH CONSULT CO., LTD.</h3>
                                                <h1 class="c-footer-quote_title" style="font-size: 14px;margin-top: 14px;">Level 16, Daeha Business Center, 360 Kim Ma, Hanoi, Vietnam</h1>
                                            </div>
                                        </div>
                                        <div class="c-footer-actions o-layout_item">
                                            <div class="c-footer-actions_wrap">
                                                <h3 class="c-footer-actions_title">FOLLOW US</h3>
                                                <ul class="c-footer-actions_social">
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="https://www.linkedin.com/in/le-tuyen-63851914/" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-linkedin" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="https://www.facebook.com/accessip.asia/?modal=admin_todo_tour" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-facebook" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="https://twitter.com/IPathConsult" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-twitter" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>

                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="/contact-send/contact" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-envelope" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-footer_wrap-foot">
                                        <ul class="c-footer_cta-list">
                                            <li class="c-footer_cta-item -copyright">Ⓒ iPath - Allrights reserved</li>
                                            <li class="c-footer_cta-item -contact">
                                                <a href="/quan-ly-tin/features/term">@WebApps.Resources.Resource.Term</a>
                                            </li>
                                            <li class="c-footer_cta-item -locomotive">
                                                <a href="/quan-ly-tin/features/policy">@WebApps.Resources.Resource.Private</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-content">
                                        @RenderBody()
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </section>
                </article>
                <aside class="scrollbar-track scrollbar-track-x" style="display: none;">
                    <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1259px; transform: translate3d(0px, 0px, 0px);"></div>
                </aside>
                <aside class="scrollbar-track scrollbar-track-y" style="display: block;">
                    <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 209.778px; transform: translate3d(0px, 0px, 0px);"></div>
                </aside>
                <canvas class="overscroll-glow" style="display: none; pointer-events: none;"></canvas>
            </main>
        </div>

    </div>
    <script>
        window.templateData = window.templateData || {
        };
        window.isMobile = false;
        window.isIe = false;
        window.isTrident = false;
        window.isFirefox = false;
    </script>
    <script src="~/Content/News/scripts/vendors.js"></script>
    <script src="~/Content/News/scripts/app.js"></script>
</body>
</html>

<script>
    function functionGetNews() {
        window.location.href = "/quan-ly-tin/news-home-page";
    }
    function funLogin() {
        window.location.href = "/account/login";
    }
    function funcHome() {
        window.location.href = "/";
    }
    function funcRegister() {
        try {
            var fname = $("#txtFNAME").val();
            if (fname === "" || fname == undefined) {
                jError('The registered name is not empty!', "Info");
                $("#txtFNAME").focus();
                return false;
            }

            var lname = $("#txtLNAME").val();
            var phone = $("#txtPHONE").val();
            var email = $("#txtEmail").val();

            if (phone === "" && email == "") {
                jError('Email or Phone number is not empty!', "Info");
                $("#txtEmail").focus();
                return false;
            }
            var company = $("#txtCOMPANY").val();
            var formData = new FormData();
            formData.append("pRegisInfo.FistName", fname);
            formData.append("pRegisInfo.LastName", lname);
            formData.append("pRegisInfo.Email", email);
            formData.append("pRegisInfo.Phone", phone);
            formData.append("pRegisInfo.Company", company);

            $.ajax({
                url: "/register",
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.SignUpSuccess)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)");
                        funcReset();
                        return true;
                    }
                    else if (data.status == -22) {
                        jError("@Html.Raw(WebApps.Resources.Resource.EmailPhoneTrung)", "@Html.Raw(WebApps.Resources.Resource.Loi)");
                        funcReset();
                        return;
                    }
                    else {
                        jError("@Html.Raw(WebApps.Resources.Resource.SignUpError)", "@Html.Raw(WebApps.Resources.Resource.Loi)");
                        funcReset();
                        return;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });


        } catch (e) {

        }
    }

    function funcReset() {
        try {
            $("#txtFNAME").val("");
            $("#txtLNAME").val("");
            $("#txtEmail").val("");
            $("#txtPHONE").val("");
        } catch (e) {

        }

    }
    function funcBottom() {
        $('.t-Khoanbetong_scroll').click();

    }

    function funcVi() {
        window.location.href = "/Language?culture=vi-VN&returnUrl=Home";
    }
    function funcEn() {
        window.location.href = "/Language?culture=en-GB&returnUrl=Home";
    }
</script>