@using Common.CommonData 
@using WebApps.ExtensionObject 
@using WebApps.Session 
@using WebApps.CommonFunction 
@using ObjectInfos;
@using WebApps.CommonFunction;
@{
    Layout = null;

    string _LanguageCode = AppsCommon.GetCurrentLang();

    UserInfo   _currUser = new UserInfo();
    if (SessionData.CurrentUser != null)
    {

        _currUser = (UserInfo)SessionData.CurrentUser;

        SessionData.CurrentUser.cListWarningMsg = new List<WarningMessageInfo>();
        AppsCommon.GetWarningData(_currUser.Type.ToString());
    }
}

<!DOCTYPE html>

<html>
<head>
    @* https://css-tricks.com/probably-use-initial-scale1/ *@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="__RequestVerificationToken" content="@Html.AntiForgeryTokenValue()" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src=@($"/Scripts/jquery-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery-ui-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery.unobtrusive-ajax.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <link href=@($"/Scripts/outSourcesLib/notify/animate.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/notify/notify.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/multipleSelect/multiple-select.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/font.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/Site.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/IconNVS/IconNVS.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/glyphicons/glyphicons.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/fontawesome/fontawesome-all.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    @*<link href="~/Content/fonts/fontawesome/font-awesome.min.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/DangTQStyleSheet.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <script src="@Url.Script("~/Scripts/DangTQForm.js")"></script>

    <script src="~/Scripts/messagebox/JsFormPopup.js"></script>
    <script src="~/Scripts/messagebox/popup.js"></script>
    <link href="~/Content/CssFormPoup/StyleFormPopup.css" rel="stylesheet" />

    <script src="~/Content/ComboCheckList/jquery.multiple.select_new.js"></script>
    <link href="~/Content/ComboCheckList/multiple-select.css" rel="stylesheet" />

    @* Loader *@
    <link href="~/Content/CSSWaitingIcon/rolling.css" rel="stylesheet" />

    <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>

    <style>
    </style>
</head>
<body>
    <div class="hidden">
        @Html.Partial("~/ViewsShared/nvs.variables.js.cshtml")
    </div>
    <div class="container-wrapper">
        <div class="section-body">
            <div class="main-menu">
                <div class="lang_contain">
                        @if (_LanguageCode == LangCode.EN_US.ToString())
                         {
                          <a href="/Language?culture=vi-VN&returnUrl=Home" class="lang-vn"></a>
                         }
                         else
                         {
                          <a href="/Language?culture=en-GB&returnUrl=Home" class="lang-en"></a>
                         }
                 </div>
                <div class="account-info">
                    @*<a href="javascript:;">@Html.Raw(SessionData.CurrentUser.FullName)</a>*@
                    <a href="/dang-xuat" style="float: right;">Đăng xuất</a>
                </div>
                <div id="divMns">
                    @Html.Partial("~/ViewsShared/_PartialMainMenu.cshtml")
                </div>
            </div>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="section-bottom">
    </div>

    @if (SessionData.CurrentUser != null)
    {

        if (true)
        {
            string _Divwarning_contentstyle = "";
            string _Divwarning_tyle = "";
            string imgdown = "display: block";
            string imgup = "display: none";

            _currUser = (UserInfo)SessionData.CurrentUser;
            if (_currUser.IsDisplayWarning == false)
            {
                _Divwarning_contentstyle = "display: none; transition:visibility 0s linear 0.5s,opacity 0.5s linear;";
                _Divwarning_tyle = "border-bottom: 3px solid #FFF; width: 110px";
                imgdown = "display: none";
                imgup = "display: block";
            }
        <div id="warning" onmouseover="FuncOnmouseOver()" onmouseout="FunOnmoseUout()" style="@_Divwarning_tyle">
            <label><a href="/trade-mark-mana/quan-ly-don/0" style="color: white">CẢNH BÁO  </a></label>
            <a id="imgshowhide" href="javascript:;" onclick="return HideWarning()">
                <img id="imgdown" src="~/Content/images/down.png" style="@imgdown" title="Ẩn cảnh báo" />
                <img id="imgup" src="~/Content/images/up.png" style="@imgup" title="Hiện cảnh báo" />
            </a>
            <div style="clear: both; height: 0"></div>

            <div id="warning_content" style="@_Divwarning_contentstyle">
                @if (AppsCommon.W_LUUTAM > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/1">
                            <span>Đơn lưu tạm</span>
                            <span>@AppsCommon.W_LUUTAM</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_CHOPHANLOAI > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/2">
                            <span>Đơn chờ phân loại</span>
                            <span>@AppsCommon.W_CHOPHANLOAI</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_PHANCHOLUATSU > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/3">
                            <span>Đơn đã phân cho luật sư</span>
                            <span>@AppsCommon.W_PHANCHOLUATSU</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_LUATSUDACOMFIRM > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/4">
                            <span>Đơn luật sư đã confirm</span>
                            <span>@AppsCommon.W_LUATSUDACOMFIRM</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_CHOKHACHHANGCOMFIRM > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/5">
                            <span>Đơn chờ khách hàng comfirm</span>
                            <span>@AppsCommon.W_CHOKHACHHANGCOMFIRM</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_KHACHHANGDACOMFIRM > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/6">
                            <span>Đơn khách hàng đã comfirm</span>
                            <span>@AppsCommon.W_KHACHHANGDACOMFIRM</span>
                        </a>
                    </div>
                }
                @if (AppsCommon.W_DAGUILENCUC > 0)
                {
                    <div>
                        <a href="/trade-mark-mana/quan-ly-don/7">
                            <span>Đơn đã gửi lên cục</span>
                            <span>@AppsCommon.W_DAGUILENCUC</span>
                        </a>
                    </div>
                }

            </div>
        </div>
        }
    }


    <script src=@($"/Scripts/nvs.jquery.validate.data.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.util.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.alert.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.filter.search.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/common-data-loader.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/notify/bootstrap-notify.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/es6-promise.auto.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/multipleSelect/jquery.multiple.select_new.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dragtables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.full.min.js?v={CommonVariables.AssemblyVersion}")></script>
</body>

</html>
<script>
    var _isdisplay = "@_currUser.IsDisplayWarning.ToString()";
    $(document).ready(function () {
        $('[data-menu="item-main-menu"]').on("click", function ()
        {
            var ulSide = $(this).next();

            $(this).parent().siblings().removeClass('main-menu-active');
            $(this).parent().siblings().find('> ul').slideUp('fast').addClass('collapsed');
            if ($(ulSide).hasClass('collapsed')) {
                $(this).next().removeClass('collapsed').slideDown('fast');
                $(this).parent().addClass('main-menu-active');
            } else {
                $(this).parent().removeClass('main-menu-active');
                $(ulSide).addClass('collapsed').removeClass('main-menu-active').slideUp('fast');
            }
        });

        var currentPath = window.location.pathname;
        var currentTask = $('#divMns').find('[data-url="' + currentPath + '"]');
        $(currentTask).parent().removeClass('collapsed').slideDown('fast');
        $(currentTask).parent().parent().addClass('main-menu-active');
        $(currentTask).addClass('task-menu-active');
    });

    function gotoTask(el) {
        var url = $(el).attr("data-url");
        window.location.href = url;
    }

    //window.onload = HiddenDivWarning;
    var _isShow; // nếu cái này = 1 thì ko cần ẩn đi nữa  
    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            _isShow = setTimeout(function () {
                //$("#warning").attr("style", "opacity:0; visibility: hidden; transition:visibility 0s linear 0.5s,opacity 0.5s linear;");
                $("#warning_content").attr("style", "display: none; transition:visibility 0s linear 0.5s,opacity 0.5s linear;");
                $("#warning").attr("style", "border-bottom: 3px solid #FFF; width: 110px");
                //$("#imgshowhide").attr("style", "margin: 8px 10px 0 0");
                document.getElementById("imgdown").style.display = "none";
                document.getElementById("imgup").style.display = "block";
            }, 5000);
        }
    }
    function FuncOnmouseOver() {
        clearTimeout(_isShow);
    }
    function FunOnmoseUout() {
        _isShow = setTimeout(function () {
            //$("#warning").attr("style", "opacity:0; visibility: hidden; transition:visibility 0s linear 0.5s,opacity 0.5s linear;");
            $("#warning_content").attr("style", "display: none; transition:visibility 0s linear 0.5s,opacity 0.5s linear;");
            $("#warning").attr("style", "border-bottom: 3px solid #FFF; width: 110px");
            //$("#imgshowhide").attr("style", "margin: 8px 10px 0 0");
            document.getElementById("imgdown").style.display = "none";
            document.getElementById("imgup").style.display = "block";
        }, 5000);
    }
    function HideWarning() {
        var _warningart = $("#warning_content").css("display");

        if (_warningart == "block") {
            $("#warning_content").attr("style", "display: none");
            $("#warning").attr("style", "border-bottom: 3px solid #FFF; width: 110px");
            //$("#imgshowhide").attr("style", "margin: 8px 10px 0 0");
            document.getElementById("imgdown").style.display = "none";
            document.getElementById("imgup").style.display = "block";
        }
        else {
            $("#warning_content").attr("style", "display: block");
            $("#warning").attr("style", "border-bottom: none; ; width: 250px");
            $("#imgshowhide").attr("style", "margin: 5px 10px 0 0");
            document.getElementById("imgdown").style.display = "block";
            document.getElementById("imgup").style.display = "none";
        }
        if (_isdisplay == "True") {
            SetDisplayWarning();
        }
    }

    //Set ẩn hiện warning
    function SetDisplayWarning() {
        try {
            $.ajax({
                type: 'POST',
                url: '/SetDisplayWarning/',
                //string p_Search, int p_Status, int p_customerId
                data: {
                    p_isplay: false
                },
                dataType: "json",
                async: false, cache: false, traditional: false,
                success: function (data) {
                    if (data != "") {
                        _isdisplay = "false";
                    }
                }
            });
        } catch (e) {

        }
    }
</script>
