<!DOCTYPE html>
@using Common.CommonData
@using WebApps.ExtensionObject
@using WebApps.CommonFunction;
@{
    string _LanguageCode = AppsCommon.GetCurrentLang();
    string _langlink = "/vi-vn";
    if (_LanguageCode != "VI_VN")
    {
        _langlink = "/en-gb";
    }
}
<html>
<head>
    <script>
       var _currentlanguage = '@_LanguageCode';
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>iPath - Knowledge Power</title>
    <link href="~/Content/News/Css/register.css" rel="stylesheet" />
    <link href="~/Content/News/Css/main.css" rel="stylesheet" />
    <link href="~/Content/News/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/News/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/News/Css/jquery.dropdown.min.css" rel="stylesheet" />
    <link href="~/Content/News/Css/learndash_template_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/messagebox/JsFormPopup.js"></script>
    <script src="~/Scripts/messagebox/popup.js"></script>
    <link href="~/Content/News/Css/css.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/NVSAlerts.js"></script>
    <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>
    <script src="~/Scripts/nvs.jquery.alert.js"></script>

    <link rel="icon" href="~/Content/News/images/favicon.ico">
</head>
<body>
    <div class="c-transitions js-transitions">
        <div class="c-transitions_mask"></div>
        <div class="c-transitions_mask"></div>
        <div class="c-transitions_logo" aria-hidden="true">
            <div class="c-transitions_logo-image js-transition-logo"></div>
        </div>
        <div class="c-transitions_loader" aria-hidden="true">
            <div class="c-transitions_loader-progress"></div>
        </div>
    </div>

    <div class="o-barba js-barba" id="js-barba-wrapper" aria-live="polite">
        <!--[bg ngoai]-->
        <div class="o-barba_frame" data-module="Frame">
            <div class="o-barba_frame-paralax js-parallax" style="transform: translate3d(0px, 0px, 0px);">
                <div class="o-background" style="background-image:url(/Content/News/images/frame-blue.png)"></div>
            </div>
            <div class="o-barba_frame-paralax js-parallax" style="transform: translate3d(0px, 0px, 0px);">
                <div class="o-background" style="background-image:url(/Content/News/images/frame-red.png)"></div>
            </div>
        </div>
        <!--[end bg ngoai]-->
        <div id="bodytop" class="js-barba-container o-barba_container page-template page-template-templates page-template-Khoanbetong page-template-templatesKhoanbetong-php page page-id-36 page-child parent-pageid-60 Khoanbetong" data-template="Khoanbetong" style="visibility: visible;">
            <div class="c-header_nav-list-overlay js-nav-overlay"></div>
            <!--[logo + button mobi]-->
            <nav class="c-header-mobile">
                <div class="c-header-mobile_logo">
                    <a class="c-header-mobile_logo-link" href="javascript:;" aria-label="tên công ty">
                        <figure class="c-header-mobile_logo_img" aria-hidden="true">
                            <img class="c-header-mobile_logo_svg-color" src="/Content/News/images/logo_ipace-1.png">
                            <img class="c-header-mobile_logo_svg-white" src="/Content/News/images/logo_ipace-1.png">
                        </figure>
                    </a>
                </div>
                <button class="c-header_nav-burger" data-module="BurgerMenu" type="button">
                    <div class="c-header_nav-burger-line"></div>
                </button>
            </nav>
            <!--end[logo + button mobi]-->

            <header class="c-header" data-module="HeaderNav">
                <nav class="c-header_nav js-header-nav">
                    <div class="c-header_nav-logo">
                        <a class="c-header_nav-logo-link" href="javascript:;" aria-label="tên công ty" data-transition="full">
                            <figure class="c-header_nav-logo_img" aria-hidden="true">
                                <img class="c-header_nav-logo_svg-color" src="/Content/News/images/logo_ipace-1.png">
                                <img class="c-header_nav-logo_svg-white" src="/Content/News/images/logo_ipace-1.png">
                            </figure>
                        </a>
                    </div>
                    <!--[Menutop + mobi]-->
                    <ul id="menu-main-menu" class="c-header_nav-list u-list-reset">
                        <li class="c-header_nav-item js-nav-nosublink">
                            <a href="javascript:;" onclick="funLogin();" class="c-header_nav-item-label" data-transition="full">  
                                @if (WebApps.Session.SessionData.CurrentUser != null)
                                {
                                    @WebApps.Session.SessionData.CurrentUser.Username
                                }
                                else
                                {
                                    @WebApps.Resources.Resource.lblSigin
                                }
                            </a>
                        </li>
                        <li class="c-header_nav-item js-nav-nosublink">
                            <a href="javascript:;"  onclick="return funcBottom();" class="c-header_nav-item-label js-btn-arrow" data-transition="full">@WebApps.Resources.Resource.lblSignup</a>

                        </li>

                        <li class="c-header_nav-item js-nav-nosublink">
                            <div class="" style="width:100% !important;padding-top:10px;">
                                @if (_LanguageCode == LangCode.EN_US.ToString())
                                {
                                    <a href="javascript:;" onclick="return funcVi();" class="lang-vn"></a>
                                }
                                else
                                {
                                    <a href="javascript:;" onclick="return funcEn();" class="lang-en"></a>
                                }
                            </div>
                        </li>

                    </ul>

                    <ul class="c-header_nav-social">
                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="#" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true" style=" color:#06cafc;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>
                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="#" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true" style=" color: #13559d;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>
                        <li class="c-header_nav-social-item">
                            <a class="c-header_nav-social-link" href="javascript:;" target="_blank">
                                <figure class="c-header_nav-social-icon">
                                    <svg role="img" title="YouTube">
                                        <i class="fa fa-youtube-play" aria-hidden="true" style=" color:#FF0000;"></i>
                                    </svg>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="js-scroll tpl- o-main" data-scrollbar="" tabindex="1" style="overflow: hidden; outline: none;">
                <article class="scroll-content">
                    <section class="t-Khoanbetong">
                        <div class="t-Khoanbetong_wrap o-layout">
                            <!--[MenuLeft]-->
                            <div class="t-Khoanbetong_col-left o-layout_item js-animate" data-sticky="">
                                <aside class="c-navleft" data-module="NavLeft">
                                    <div class="c-navleft_scroll js-scroll sticky" data-scrollbar="" tabindex="1" style="overflow: hidden; outline: none;">
                                        <article class="scroll-content">
                                            <div class="c-navleft_inner">
                                                <div class="c-navleft_logo">
                                                    <a class="c-navleft_logo-link" href="javscript:;"  onclick="return funcHome();" data-transition="full">
                                                        <figure class="c-navleft_logo-figure">
                                                            <img src="/Content/News/images/logo_ipace.png" alt="" aria-hidden="true">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="c-navleft_head js-head">
                                                    <figure class="c-navleft_head-viewmore">
                                                        <svg class="c-navleft_head-viewmore-less" role="img">
                                                            <use xlink:href="/Content/News/images/icon-arrow-right.png"></use>
                                                        </svg>
                                                        <svg class="c-navleft_head-viewmore-more" role="img">
                                                            <use xlink:href="/Content/News/images/icon-arrow-right.png"></use>
                                                        </svg>
                                                    </figure>
                                                    <h3 class="c-navleft_head-title">iPath - Knowledge Power</h3>
                                                </div>
                                                <!--[MenuLeft]-->
                                                <div class="c-navleft_category">
                                                    <ul class="c-navleft_category-list -big">
                                                        <li class="c-navleft_category-item">
                                                            <a class="c-navleft_category-link is-active" href="/quan-ly-tin/about-us/abot">
                                                                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblVeChungToi</span>
                                                                <figure class="c-navleft_category-link-arrow">
                                                                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color: #666;font-size: 20px;"></i>
                                                                </figure>
                                                            </a>
                                                        </li>

                                                        <li class="c-navleft_category-item">
                                                            <a class="c-navleft_category-link is-active" href="/quan-ly-tin/features/fetu">
                                                                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblFeatures</span>
                                                                <figure class="c-navleft_category-link-arrow">
                                                                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color: #666;font-size: 20px;"></i>
                                                                </figure>
                                                            </a>
                                                        </li>
                                                        <li class="c-navleft_category-item">
                                                            <a class="c-navleft_category-link" href="/quan-ly-tin/news-home-page">
                                                                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblNews</span>
                                                                <figure class="c-navleft_category-link-arrow">
                                                                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #666;font-size: 20px;"></i>
                                                                </figure>
                                                            </a>
                                                        </li>



                                                        <li class="c-navleft_category-item">
                                                            <a class="c-navleft_category-link" href="/quan-ly-tin/member-ship/mebs">
                                                                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblMembership</span>
                                                                <figure class="c-navleft_category-link-arrow">
                                                                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color: #666;font-size: 20px;"></i>
                                                                </figure>
                                                            </a>
                                                        </li>

                                                        <li class="c-navleft_category-item">
                                                            <a class="c-navleft_category-link" href="/wiki-view/cata-view/0">
                                                                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblWiki</span>
                                                                <figure class="c-navleft_category-link-arrow">
                                                                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color: #666;font-size: 20px;"></i>
                                                                </figure>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                        <aside class="scrollbar-track scrollbar-track-x show" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 365px; transform: translate3d(0px, 0px, 0px);"></div>
                                        </aside>
                                        <aside class="scrollbar-track scrollbar-track-y show" style="display: none;">
                                            <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 686.877px; transform: translate3d(0px, 0px, 0px);"></div>
                                        </aside>
                                        <canvas class="overscroll-glow" style="display: none; pointer-events: none;"></canvas>
                                    </div>
                                </aside>
                            </div>
                            <!--end[MenuLeft]-->

                            <div class="t-Khoanbetong_col-right o-layout_item">
                                <div class="t-Khoanbetong_inner">
                                    <div class="c-carousel" data-module="Carousel,BiographyCircles">
                                        <div class="c-carousel_percent js-carousel-percent" style="width: 7%;"></div>
                                        <div class="c-carousel_wrap o-layout">
                                            <!--[Image tròn]-->

                                            <div class="c-carousel_col-left o-layout_item">
                                                <div class="c-carousel_images">
                                                    <div class="c-carousel_circle">
                                                        <div class="c-carousel_circle-shape -red js-circle1" style="transform: translate3d(16.7475px, 13.9599px, 0px);"></div>
                                                    </div>
                                                    <div class="c-carousel_circle">
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image" style="background-image: url(/Content/News/images/001.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image is-leave" style="background-image: url(/Content/News/images/002.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image is-enter" style="background-image: url(/Content/News/images/003.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image" style="background-image: url(/Content/News/images/004.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image" style="background-image: url(/Content/News/images/005.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                        <div class="c-carousel_circle-shape -content o-background js-circle2 js-image" style="background-image: url(/Content/News/images/006.png); transform: translate3d(-5.58249px, -4.65331px, 0px);">
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="c-carousel-navigation o-layout">
                                                    <button class="c-carousel-navigation_btn o-layout_item js-prev" type="button">
                                                        <figure class="c-carousel-navigation_icon">
                                                            <i class="fa fa-chevron-left" aria-hidden="true" style=" color: #ccc;font-size: 18px;"></i>
                                                        </figure>
                                                    </button>
                                                    <button class="c-carousel-navigation_btn o-layout_item js-next" type="button">
                                                        <figure class="c-carousel-navigation_icon">
                                                            <i class="fa fa-chevron-left" aria-hidden="true" style=" color: #ccc;font-size: 18px;"></i>
                                                        </figure>
                                                    </button>
                                                </aside>
                                            </div>
                                            <!--end[Image tròn]-->
                                            <!--[Text]-->
                                            <div class="c-carousel_col-right o-layout_item">
                                                <div class="c-carousel_contents">
                                                    <div class="c-carousel_slideid js-slide-id">3</div>
                                                    <div class="c-carousel_content js-content">
                                                        <h4 class="c-carousel_content-title">ACCESS.IP SOLUSION</h4>
                                                        <div class="c-carousel_content-description">
                                                            <p><span class="adm">_A Cloud Co-Elaboration Space of Services_</span></p>
                                                            <p><b>ACCESS.IP</b> is a platform strived by IPath Consulting Company Limited to provide IP firms with <b>A Cloud Co-Elaboration Space of Services in Intellectual property.</b></p>
                                                            <p>
                                                                ACCESS.IP enables the IP firms, one connects to another, to handle IP registration and prosecution with a local IP Office in designated countries including Vietnam.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">ACCESS.IP SOLUTIONS</h3>
                                                        <div class="c-carousel_content-description">
                                                            <p><span class="adm">__One Platform, multiple IP Workflows__</span></p>
                                                            <p>
                                                                ACCESS.IP is customized to transform necessary IP workflows into local procedures, from application filing till granting, then monitoring and watching in relevant jurisdictions. The cloud working space allows the immediate collaboration between the IP firms with local Agents in keeping case progress updated without time delay.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content is-active">
                                                        <h3 class="c-carousel_content-title">ACCESS.IP SOLUTIONS</h3>
                                                        <div class="c-carousel_content-description">
                                                            <p><b>i-APPLICATION enables IP Attorneys to perform IP searches & applications with interactive directly with local Agents</b></p>
                                                            <p><i>Free of Service Fees by doing almost of IP application processes by themselves, except for a minimum Agency fees before local IP Office and actual expenses;</i></p>
                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">ACCESS.IP SOLUTIONS</h3>
                                                        <div class="c-carousel_content-description">
                                                            <p><b>i-MONITOR</b> enables IP firms to closely follow up IP application handling process at local IP Offices</p>
                                                            <p>
                                                                <span class="adm">
                                                                    Reduction of IP transaction workloads while monitoring application process substantively and timely with local IP Agents, almost at the same time with relevant local IP Offices;
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">ACCESS.IP SOLUTIONS</h3>
                                                        <div class="c-carousel_content-description">
                                                            <p>
                                                                <b>i-WATCHING</b> assists the clients managing the portfolio of IP registrations with the single access to the secured and encrypted account. <i>Each IP case have it own unique QR code and accessed by only the person authorized to handle it</i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-carousel_content js-content">
                                                        <h3 class="c-carousel_content-title">
                                                            ACCESS.IP SOLUTIONS
                                                        </h3>
                                                        <div class="c-carousel_content-description">
                                                            <p><span class="adm">_ FREE of Services Fees, Reduce Workload by 50% _</span></p>
                                                            <p>
                                                                STRUCTURE OF FEES<br>
                                                                1.	Government Fees (20%): fix fees required by local IP Offices<br>
                                                                2.	Agency Fees (30%): basic fees for representing (reviewing, filing, following up)<br>
                                                                3.	Service <sup><i style=" color: #cf0d0d !important;">Fees</i></sup> FREE(50%): drafting /preparing Applications and Office Actions
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="t-Khoanbetong_scroll js-btn-arrow">
                                                    <figure class="t-Khoanbetong_scroll-icon">
                                                        <i class="fa fa-long-arrow-down" aria-hidden="true" style=" font-size: 24px;"></i>
                                                    </figure>
                                                </div>
                                            </div>
                                            <!--end[Text]-->
                                        </div>
                                    </div>
                                </div>

                                <div class="t-Khoanbetong_content js-generic-color" data-color="red">
                                    <h2></h2>
                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Application</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style=" color: #666;font-size: 16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                <p><b>ACCESS.IP SOLUTIONS</b></p>
                                                <p>i-APPLICATION enables IP Attorneys to perform IP searches & applications with interactive directly with local Agents</p>
                                                <p>
                                                    <i>Free of Service Fees by doing almost of IP application processes by themselves, except for a minimum Agency fees before local IP Office and actual expenses;</i>
                                                </p>

                                                <p>&nbsp;</p>
                                                <p><img class="aligncenter" src="/Content/News/images/003.jpg" alt=""></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Monitor</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style=" color: #666;font-size: 16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                <p><b>ACCESS.IP SOLUTIONS</b></p>
                                                <p>i-MONITOR enables IP firms to closely follow up IP application handling process at local IP Offices</p>
                                                <p>
                                                    <i>Reduction of IP transaction workloads while monitoring application process substantively and timely with local IP Agents, almost at the same time with relevant local IP Offices;</i>
                                                </p>
                                                <p>&nbsp;</p>
                                                <p><img class="aligncenter" src="/Content/News/images/004.jpg" alt=""></p>
                                                <p>&nbsp;</p>

                                            </div>
                                        </div>
                                    </section>

                                    <section class="c-accordion-block" data-module="Dropdown" data-dropdown-mode="accordion" data-dropdown-scrollto="true">
                                        <div class="c-accordion-block_item js-dropdown">
                                            <div class="c-accordion-block_header js-dropdown-toggle">
                                                <h2 class="c-accordion-block_title">i-Watching</h2>
                                                <figure class="c-accordion-block_icon">
                                                    <i class="fa fa-plus-square-o" aria-hidden="true" style=" color: #666;font-size: 16px;"></i>
                                                </figure>
                                            </div>
                                            <div class="c-accordion-block_content s-wysiwyg js-dropdown-content">
                                                <p><b>ACCESS.IP SOLUTIONS</b></p>
                                                <p>
                                                    i-WATCHING assists the clients managing the portfolio of IP registrations with the single access to the secured and encrypted account. <i>Each IP case have it own unique QR code and accessed by only the person authorized to handle it</i>
                                                </p>
                                                <p>&nbsp;</p>
                                                <p><img class="alignnone" src="/Content/News/images/005.jpg" alt=""></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </section>


                                </div>

                                <div class="join-us" style="margin-top:30px">
                                    <div class="container">
                                        <div class="container-fluid">
                                            <div class="title" style="padding-top: 15px;">
                                                <span style="text-transform: unset;">
                                                    <p>
                                                        Please register here for more information
                                                    </p>
                                                </span>
                                            </div>
                                            @*<form method="POST"  >*@
                                            <div class="row join-us-form form-row">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <span class="firt-name">
                                                                <input type="text" name="FNAME" id="txtFNAME" value="" size="40" class="required join-us-input" aria-required="true" aria-invalid="false" placeholder="First Name" required="required" maxlength="30">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span class="last-name">
                                                                <input type="text" name="LNAME" id="txtLNAME" value="" size="40" class="required join-us-input" aria-required="true" aria-invalid="false" placeholder="Last Name" required="required" maxlength="30">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span class="your-company">
                                                                <input type="text" name="PHONE" id="txtPHONE" value="" size="40" class="required join-us-input" aria-required="true" aria-invalid="false" placeholder="Phone" required="required" maxlength="50">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span class="your-email">
                                                                <input type="email" name="EMAIL" id="txtEmail" value="" size="40" class="required join-us-input" aria-invalid="false" placeholder="Email" required="required" maxlength="50">
                                                            </span>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <span class="your-company">
                                                                <input type="text" name="COMPANY" id="txtCOMPANY" value="" size="40" class="required join-us-input" aria-required="true" aria-invalid="false" placeholder="Company" maxlength="50">
                                                            </span>
                                                        </div>

                                                        <p></p>
                                                    </div>
                                                    <p></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="submit" id="btnSignUp" onclick="return funcRegister();" value="Sign in" class="join-us-button join-us-button-text button">
                                                            <span class="ajax-loader"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="msg-success sent-ok"></div>
                                            @*</form>*@
                                        </div>
                                    </div>
                                </div>



                                <footer id="main-footer" class="c-footer js-animate">
                                    <div class="c-footer_wrap-head o-layout -middle">
                                        <div class="c-footer-quote o-layout_item">
                                            <div class="c-footer-quote_wrap">
                                                <h3 class="c-footer-quote_title">iPATH Consulting Co., Ltd</h3>
                                            </div>
                                        </div>
                                        <div class="c-footer-actions o-layout_item">
                                            <div class="c-footer-actions_wrap">
                                                <h3 class="c-footer-actions_title">FOLLOW US</h3>
                                                <ul class="c-footer-actions_social">
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="http://twitter.com" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-twitter" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="https://www.facebook.com/iPath2005/" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-facebook" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>
                                                    <li class="c-footer-actions_social-item">
                                                        <a class="c-footer-actions_social-link" href="http://youtube.com" target="_blank">
                                                            <figure class="c-footer-actions_social-icon">
                                                                <i class="fa fa-youtube-play" aria-hidden="true" style=" color:#FFF;font-size: 30px;"></i>
                                                            </figure>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-footer_wrap-foot">
                                        <ul class="c-footer_cta-list">
                                            <li class="c-footer_cta-item -copyright">Ⓒ iPath - Allrights reserved</li>
                                            <li class="c-footer_cta-item -contact">
                                                <a href="javascript:;">Contact us</a>
                                            </li>
                                            <li class="c-footer_cta-item -locomotive">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-content">
                                        @RenderBody()
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </section>
                </article>
                <aside class="scrollbar-track scrollbar-track-x" style="display: none;">
                    <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 1259px; transform: translate3d(0px, 0px, 0px);"></div>
                </aside>
                <aside class="scrollbar-track scrollbar-track-y" style="display: block;">
                    <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 209.778px; transform: translate3d(0px, 0px, 0px);"></div>
                </aside>
                <canvas class="overscroll-glow" style="display: none; pointer-events: none;"></canvas>
            </main>
        </div>

    </div>
    <script>
        window.templateData = window.templateData || {
        };
        window.isMobile = false;
        window.isIe = false;
        window.isTrident = false;
        window.isFirefox = false;
    </script>
    <script src="~/Content/News/scripts/vendors.js"></script>
    <script src="~/Content/News/scripts/app.js"></script>
</body>
</html>

<script>
    function funLogin() {
        window.location.href = "/login";
    }
    function funcHome() {
        window.location.href = "/";
    }
    function funcRegister() {
        try {
            var fname = $("#txtFNAME").val();
            if (fname === "" || fname == undefined) {
                jError('The registered name is not empty!', "Info");
                $("#txtFNAME").focus();
                return false;
            }

            var lname = $("#txtLNAME").val();
            var phone = $("#txtPHONE").val();
            var email = $("#txtEmail").val();

            if (phone === "" && email == "") {
                jError('Email or Phone number is not empty!', "Info");
                $("#txtEmail").focus();
                return false;
            }
            var company = $("#txtCOMPANY").val();
            var formData = new FormData();
            formData.append("pRegisInfo.FistName", fname);
            formData.append("pRegisInfo.LastName", lname);
            formData.append("pRegisInfo.Email", email);
            formData.append("pRegisInfo.Phone", phone);
            formData.append("pRegisInfo.Company", company);

            $.ajax({
                url: "/register",
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert("Sign Up Success!", "Info");
                        funcReset();
                        return true;
                    }
                    else if (data.status == -22) {
                        jError("The number of email or email was registered!", "Error");
                        funcReset();
                        return;
                    }
                    else {
                        jError("Registration failed!", "Error");
                        funcReset();
                        return;
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });


        } catch (e) {

        }
    }

    function funcReset() {
        try {
            $("#txtFNAME").val("");
            $("#txtLNAME").val("");
            $("#txtEmail").val("");
            $("#txtPHONE").val("");
        } catch (e) {

        }

    }
    function funcBottom() {
        $('.t-Khoanbetong_scroll').click();
       
    }

    function funcVi() {
        window.location.href = "/Language?culture=vi-VN&returnUrl=Home";
    }
    function funcEn() {
        window.location.href = "/Language?culture=en-GB&returnUrl=Home";
    }
</script>