@{
  
}

    <ul class="c-navleft_category-list -big">
        <li class="c-navleft_category-item">
            <a class="c-navleft_category-link is-active" href="/quan-ly-tin/about-us/abot">
                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblVeChungToi</span>
                <figure class="c-navleft_category-link-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color #666;font-size 20px;"></i>
                </figure>
            </a>
        </li>

        <li class="c-navleft_category-item">
            @*<a class="c-navleft_category-link is-active" href="/quan-ly-tin/features/fetu">*@
            <a class="c-navleft_category-link is-active" href="javascript:;" onclick="return  funcHome();"> 
                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblFeatures</span>
                <figure class="c-navleft_category-link-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color #666;font-size 20px;"></i>
                </figure>
            </a>
        </li>
        <li class="c-navleft_category-item">
            <a class="c-navleft_category-link" href="/quan-ly-tin/news-home-page">
                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblNews</span>
                <figure class="c-navleft_category-link-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #666;font-size: 20px;"></i>
                </figure>
            </a>
        </li>

        <li class="c-navleft_category-item">
            <a class="c-navleft_category-link" href="/quan-ly-tin/member-ship/mebs">
                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblMembership</span>
                <figure class="c-navleft_category-link-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style=" color #666;font-size 20px;"></i>
                </figure>
            </a>
        </li>

        <li class="c-navleft_category-item">
            <a class="c-navleft_category-link" target="_blank" href="/wiki-view/cata-view/0">
                <span class="c-navleft_category-title">@WebApps.Resources.Resource.lblWiki</span>
                <figure class="c-navleft_category-link-arrow">
                    <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #666;font-size: 20px;"></i>
                </figure>
            </a>
        </li>
    </ul>
