@using BussinessFacade.ModuleMemoryData

<div class="divCover cls_form_title">
    <img src="~/Content/icons/info_2.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.QuocGia
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div>@WebApps.Resources.Resource.QuocGia<i class="redspan">(*)</i></div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboNationRepresent">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">
                            @item.Name
                        </option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<script>

   $(document).ready(function () {

        $('#cboNationRepresent').multipleSelect({
            filter: true,
            noMatchesFound: '@WebApps.Resources.Resource.KhongCoDuLieu',
            single: true,
            isdatastring: false,
            placeholder: 'Search country'
        });
    });


    function getNation_Represent(formData) {
        formData.append("pInfo.Nation_Represent_Id", $("#cboNationRepresent ").val());
        return true;
    }

</script>

