<div class="c-sharer" data-module="Sharer" style="display: block;position: fixed;">
    <div class="c-sharer-socials">
        <button type="button" class="c-sharer-socials_link js-link" aria-label="Share on Facebook" data-share-platform="facebook" data-share-url="@Request.Url.AbsoluteUri.ToString()" data-share-text="@ViewBag.Title" data-share-subject="iPACE Consulting Co., Ltd" data-share-body="@Request.Url.AbsoluteUri.ToString()">
            <i class="fa fa-facebook" aria-hidden="true"  style="font-size:20px; color: cornflowerblue;"></i>
        </button>
        <button type="button" class="c-sharer-socials_link js-link" aria-label="Share on Twitter" data-share-platform="twitter" data-share-text="@ViewBag.Title" data-share-url="@System.Web.HttpContext.Current.Request.Url" data-share-subject="iPACE Consulting Co., Ltd" data-share-body="@Request.Url.AbsoluteUri.ToString()">
            <i class="fa fa-twitter" aria-hidden="true" style="font-size:20px ;  color: cornflowerblue;"></i>
        </button>
        <button type="button" class="c-sharer-socials_link js-link" aria-label="Share by email" data-share-platform="mail" data-share-subject="@ViewBag.Title" data-share-body="@Request.Url.AbsoluteUri.ToString()" data-share-text="iPACE Consulting Co., Ltd" data-share-url="@Request.Url.AbsoluteUri.ToString()">
            <i class="fa fa-envelope" aria-hidden="true"  style="font-size:20px ; color: cornflowerblue;"></i>
        </button>
    </div>
    <button class="c-sharer-btn js-toggle" type="button">
        <i class="fa fa-share-alt" aria-hidden="true" style="font-size: 21px;color: cornflowerblue;"></i>
    </button>
</div>