@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Xem mẫu gửi Email";
    Layout = "~/ViewsShared/_Layout.cshtml";
    Template_Email_Info _Template_Email_Info = new Template_Email_Info();
    if (ViewBag.Template_Email_Info != null)
    {
        _Template_Email_Info = (Template_Email_Info)ViewBag.Template_Email_Info;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }

    .none_style a {
        padding: 0;
        /* height: 27px; */
        border: none;
        /* border-left: none; */
        text-decoration: underline;
        color: #02961E;
    }
</style>

<script>
    var _isSimpleEditorToolBar = 0;// set cho ckfinder có cấu hình xoạn thảo đơn giản
</script>
<script src="~/Content/ckeditor/ckeditor.js"></script>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLy</a>
        <span class="red">></span>
        <a href="/quan-ly-template/danh-sach">@WebApps.Resources.Resource.QuanLyTemEmail</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThongTinTemEmail.ToUpper() </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.Ten</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtName" value="@_Template_Email_Info.Name" maxlength="200" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.Loai</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="cboType" value="@_Template_Email_Info.Type_Name" disabled style="width:200px" />
            </div>
        </div>

        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNote" value="@_Template_Email_Info.Note" />
            </div>
        </div>
    </div>

    <div style="margin-top:15px">
        <div>@WebApps.Resources.Resource.lblNoiDung<i class="redspan">(*)</i></div>
        <div>
            <textarea type="text" id="txtBody" name="txtBody">@Html.Raw(_Template_Email_Info.Content)</textarea>
        </div>
    </div>

</div>


<div class="class_save">
    <div class="classGuiDon">
        <input type="button" value="@WebApps.Resources.Resource.Sua" id="btnGuiDon" class="btn" onclick="return do_SendEmail()" />
        <input type="button" class="btn-default" value="@WebApps.Resources.Resource.Back" onclick="return goBack()" />
    </div>
</div>

<script>

    var txtBody = CKEDITOR.replace("txtBody",
        {
            height: 500
        });

    function do_SendEmail() {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn sửa mẫu email này hay không? ", function () {

                var formdata = new FormData();
                formdata.append("pInfo.Id", '@_Template_Email_Info.Id');
                formdata.append("pInfo.Name", $('#txtName').val());
                //formdata.append("pInfo.Type", $('#cboType').val());
                formdata.append("pInfo.Note", $('#txtNote').val());
                formdata.append("pInfo.Content", CKEDITOR.instances['txtBody'].getData());

                $.ajax({
                    url: '/quan-ly-template/do-edit',
                    type: 'POST',
                    data: formdata,
                    //dataType: "json",
                    enctype: 'multipart/form-data',
                    async: true, cache: false, traditional: true, contentType: false,
                    processData: false,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.SuaThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/quan-ly-template/danh-sach";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        try {
            var txtName = $("#txtName").val();
            if (txtName == null || txtName == "") {
                jError("Tên mẫu không được để trống", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtName").focus();
                });
                return false;
            }

            @*var _Type = $("#cboType").val();
            if (_Type == null || _Type == "") {
                jError("Loại không được để trống", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#cboType").focus();
                });
                return false;
            }*@

            var _Body = CKEDITOR.instances['txtBody'].getData()
            if (_Body == null || _Body == "") {
                jError("Nội dung thư không được để trống", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtBody").focus();
                });
                return false;
            }

            return true;
        } catch (e) {
            console.log(e);
            return fa;

        }
    }

</script>
