@using WebApps.Resources;
@{
    ViewBag.Title = "Tìm kiếm thông tin";
    Layout = "~/ViewsShared/_LayoutHome.cshtml";

    string _searchtype = "";
    if (ViewBag.Searchtype != null)
    {
        _searchtype = (string)ViewBag.Searchtype;
    }

    string _searchContent = "";
    if (ViewBag.SearchContent != null)
    {
        _searchContent = (string)ViewBag.SearchContent;
    }

    string _options = "";
    if (ViewBag.Options != null)
    {
        _options = (string)ViewBag.Options;
    }


}

<style>
    #legalsearch_div {
        text-align: left;
        /*border:1px solid #ccc;*/
        min-height: 50px;
    }

    #legalsearch_table td {
        cursor: pointer;
        padding: 5px 10px;
        font-weight: bold;
    }

    .legalsearch_clssunderline {
        text-decoration: underline;
    }

    .divNumberRecordOnPage {
        display: none;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/home">@WebApps.Resources.Resource.TimKiem</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="divCover" id="legalsearch_div" style="">
    @*<div class="box_title"><label style="padding-left:10px;    color: darkorange;"> @WebApps.Resources.Resource.TimKiem.ToUpper() </label></div>*@
    <div class="clssbox_search">
        <select id="cbo_searchtype" onchange="FunChooseSearchtype()">
            <option value="1">
                @WebApps.Resources.Resource.TinhTrangDon
            </option>
            <option value="2">
                @WebApps.Resources.Resource.LuatSu
            </option>
            <option value="3">
                @WebApps.Resources.Resource.KhachHang
            </option>
            <option value="4">
                Wiki
            </option>
        </select>

        <input type="text" id="legalsearch_txtsearchcontent" placeholder="@WebApps.Resources.Resource.CaseCode, @WebApps.Resources.Resource.CaseName, @WebApps.Resources.Resource.TinhTrangDon, @WebApps.Resources.Resource.Processor, @WebApps.Resources.Resource.LoaiDon" value="@_searchContent" />
        <div class="clssbox_button">
            <input type="button" style="" value="@WebApps.Resources.Resource.TimKiem" onclick="findObjects(1, 1)" />
        </div>
    </div>
    <div class="clssbox_button_icon">
        <img src="~/Content/images/magnify.svg" class="search_icon" />
    </div>
    <div>

        <input type="hidden" id="legalsearch_txtsearchtype" value="@_searchtype" />
        <input type="hidden" id="colSorted_1" />
        <input type="hidden" id="colSorted_2" />
        <input type="hidden" id="colSorted_3" />
        <input type="hidden" id="colSorted_4" />
        <input type="hidden" id="SortType_1" />
        <input type="hidden" id="SortType_2" />
        <input type="hidden" id="SortType_3" />
        <input type="hidden" id="SortType_4" />
    </div>

    <div class="Homebox" >
        <div id="LegalSearchdivTable" class="LegaldivBoxTable" style="margin-top: 10px;">
            @Html.Partial("/Areas/Home/Views/Shared/_SearchDataAppStatus.cshtml")
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txtAppCaseCode').focus();
        $("#cboStatus").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                findObjects(1, 1);
            }
        });

        $("#legalsearch_txtsearchtype").val('@_searchtype');
        $("#legalsearch_txtsearchcontent").val('@_searchContent');

        findObjects(1, 1);



        $("#cbo_searchtype > option[value=" + _searchtype + "]").prop("selected", true);

        FunChooseSearchtype();
    });

    var _Keysearch = "";
    var _searchtype = "1";
    var _searchContent = "";
    var _arrKeySearch;

    function FunChooseSearchtype() {
            try {
                var _searchtype = $("#cbo_searchtype").val();
                if (_searchtype == 1) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.CaseCode), @Html.Raw(Resource.CaseName), @Html.Raw(Resource.TinhTrangDon), @Html.Raw(Resource.Processor), @Html.Raw(Resource.LoaiDon)')
                }
                if (_searchtype == 2) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TenLuatSu)')
                }
                if (_searchtype == 3) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TenKhachHang), @Html.Raw(Resource.QuocTich), @Html.Raw(Resource.MaDaiDien), @Html.Raw(Resource.NghanhNgheChinh)')
                } if (_searchtype == 4) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TieuDe) , hashtag')
                }
            } catch (e) {

            }
        }

    function findObjects(_pageNumber, _isSearching) {
        try {
            var _RecordonPage = 5;
            if (_isSearching === 1) {
                _searchtype = $("#legalsearch_txtsearchtype").val();
                _searchContent = $("#legalsearch_txtsearchcontent").val();
                _Keysearch = _searchtype + "|" + _searchContent;
            } else {
                _arrKeySearch = _Keysearch.split('|');
                _searchtype = _arrKeySearch[0];
                _searchContent = _arrKeySearch[1];
                $("#legalsearch_txtsearchtype").val(_searchtype);
                $("#legalsearch_txtsearchcontent").val(_searchContent);
            }
            _optionFilter = "";

            if (_searchtype == "1") {
                //Tình trạng đơn
            }
            if (_searchtype == "2") {
                //Luật sư
            }
            if (_searchtype == "3") {
                //Khách hàng
            }
            if (_searchtype == "4") {
                //Wiki
            }
            var orderby = $("#colSorted_" + _searchtype).val();
            var orderType = $("#SortType_" + _searchtype).val();
            if (orderby.indexOf("NUMBER_TEXT") >= 0) {
                orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
            }
            else if (orderby.indexOf("TITLE") >= 0) {
                orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
            }
            else if (orderby.toLocaleUpperCase().indexOf("AGENCIE_NAME") >= 0) {
                orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
            }
            var _optionFilter = orderby + "|" + orderType + "||" + _pageNumber + "|" + _RecordonPage
            $.ajax({
                type: "POST",
                headers: { "cache-control": "no-cache" },
                url: "/search/search-dashboard/search/",
                data: {
                    searchtype: _searchtype,
                    keysSearch: _searchContent,
                    options: _optionFilter
                },
                async: true,
                success: function (data) {
                    if (data != null) {
                        $("#LegalSearchdivTable").html(data);
                    }
                }
            });
            return true;
        } catch (e) {
            alert(e.toString());
            return false;
        }
    }

    function jsPaging(_page) {
        try {
            findObjects(_page, 0);
        } catch (e) {
            alert(e.toString());
        }
    }


    function HomeSortByCol(value, _Searchtype) {
        try {
            //Lay gia tri luu trong colSort luu duoi dang text Hidden
            var _currentColSorted = $("#colSorted_" + _Searchtype).val();
            //Lay gia tri luu trong SortType luu duoi dang text Hidden
            var _currentSortedType = $("#SortType_" + _Searchtype).val();
            var tag = "#" + value;
            if (_currentColSorted == value) {
                if (_currentSortedType == "ASC") {
                    $("#SortType_" + _Searchtype).val("DESC");
                }
                else {
                    $("#SortType_" + _Searchtype).val("ASC");
                }
            }
            else {
                $("#colSorted_" + _Searchtype).val(value);
                $("#SortType_" + _Searchtype).val("ASC");
            }
            var pos = document.getElementById("tableList_" + _Searchtype).parentElement.scrollLeft;
            //Sort lai thi ve trang dau
            findObjects(1, 0, _Searchtype);
            //Sort lai thi ve trang dau
            document.getElementById("tableList_" + _Searchtype).parentElement.scrollLeft = pos;
        } catch (e) {
            console.info(e.toString());
        }
    }

    function HomeChangeIConSortWhenSortColumns(_Searchtype) {
        try {
            var _order_by = $("#colSorted_" + _Searchtype).val();
            var _order_type = $("#SortType_" + _Searchtype).val();
            var _text = _order_type == 'DESC' ? $("#" + _order_by + "_" + _Searchtype).text() + " ▼" : $("#" + _order_by + "_" + _Searchtype).text() + " ▲";
            $("#" + _order_by + "_" + _Searchtype).text(_text);
        }
        catch (e) {
        }
    }

</script>
