@using ObjectInfos;

@{
    WikiDoc_Info _DocdetailInfo = new WikiDoc_Info();
    if (ViewBag.DocdetailInfo != null)
    {
        _DocdetailInfo = ViewBag.DocdetailInfo;
    }
    string _styleVoting = "";
    try
    {
        _styleVoting = "width:" + Math.Round((_DocdetailInfo.RATING / (_DocdetailInfo.NUMBER_VOTED * 5) * 100), 2) + "%";
    }
    catch (Exception)
    {

        _styleVoting = "width:0%";
    }


            }
<script src="~/Scripts/WikiScript.js"></script>
<h1>
    @_DocdetailInfo.TITLE
</h1>
<style>
    .d-paging {
        border: none;
    }

#div_wiki_datacontent_Detail {
        padding: 0px 0px 20px 0px;
    }

    .Box-Share,
    .clsBtnBack {
        position: absolute;
        background-repeat: no-repeat;
        height: 39px;
        width: 39px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        left: 28px;
    }

    .clsBtnBack {
        background-image: url(/Content/images/Tro_ve.png);
    left: 0;
    }

        .clsBtnBack:hover {
            background-image: url(/Content/images/Tro_ve_hover.png);
        }

    .Box-Share {
        right: 0;
        height: auto;
        width: 28px;
    }

        .Box-Share > div:last-of-type {
            margin-top: 2px;
            display: none;
        }

        .Box-Share ul li {
            height: 31px;
        }

    .clsBtnShare {
        margin-top: 15px;
        cursor: pointer;
        background: url(/Content/images/share.png) no-repeat;
        width: 28px;
        height: 35px;
        float: right;
    }

    .clsBtnDownload {
        margin-top: 15px;
        cursor: pointer;
        background: url(/Content/images/download.png) no-repeat;
        width: 28px;
        height: 35px;
        float: right;
    }


    .social-likes {
        position: absolute;
        top: 45px;
        z-index: 9;
        background-color: #fff;
    }

    .downloadwiki {
        position: absolute;
        top: 45px;
        z-index: 9;
        background-color: #fff;
    }
</style>



<div class="mdc-card__actions">
    <div class="mdc-card__action-buttons" style="min-height: 36px">
        @*<div class="mdc-menu-anchor">
                <button class="mdc-button"  onclick="return funcLikeShareSocial(this);">
                    <i class="mdc-button__icon icon icon-share-alt" aria-hidden="true"></i>Share
                </button>
            </div>*@

        <div class="Box-Share">

            <div class="clsBtnShare" onclick="return funcLikeShareSocial(this)">
                <div style=" color: #0d4a86;font-weight:bold; margin-left:40px"> SHARE</div>
            </div>
            <div class="social-likes">
                <div class="facebook" title="Share link on Facebook">
                </div>
                <div class="twitter" title="Share link on Twitter">
                </div>
                <div class="plusone" title="Share link on Google+">
                </div>
            </div>
        </div>

        <div class="Box-Share" style="margin-left:120px">

            <div class="clsBtnDownload" onclick="ExportDocToFile(@_DocdetailInfo.ID)">
                <div style=" color: #0d4a86;font-weight:bold; margin-left:32px"> DOWNLOAD</div>
            </div>
            <div class="socialdownloadwiki">

            </div>
        </div>
        @*<btn class="mdc-button" style="margin-left:41px;  "> Share</btn>*@
        @*<div class="mdc-menu-anchor" style="margin-left:50px">
                <button class="mdc-button" onclick="ExportDocToFile(@_DocdetailInfo.ID)">
                    <i class="mdc-button__icon icon icon-download">
                    </i>Download
                </button>
            </div>*@
        @*<div style=" color: #0d4a86;font-weight:bold; margin-left:130px" onclick="ExportDocToFile(@_DocdetailInfo.ID)"> DOWNLOAD</div>*@
    </div>
</div>
<div>
    <div>
        <div class="snippet-content">
            @Html.Raw(_DocdetailInfo.CONTENT)

        </div>

    </div>
    @if (!string.IsNullOrEmpty(_DocdetailInfo.FILE_URL01))
    {
        <span class="badge"><a target="_blank" href="@_DocdetailInfo.FILE_URL01">DOWNLOAD</a></span>
    }

    @if (!string.IsNullOrEmpty(_DocdetailInfo.FILE_URL02))
    {
        <span class="badge"><a target="_blank" href="@_DocdetailInfo.FILE_URL02">DOWNLOAD</a></span>
    }
    @if (!string.IsNullOrEmpty(_DocdetailInfo.FILE_URL03))
    {
        <span class="badge"><a target="_blank" href="@_DocdetailInfo.FILE_URL03">DOWNLOAD</a></span>
    }
</div>
<div class="div_ratingcontent">
    <div class="kk-star-ratings disabled bottom-right rgt" data-id="6624">
            <div class="kksr-stars kksr-star gray">
                <div id="div_ratingcontent_percent" class="kksr-fuel kksr-star yellow" style="@_styleVoting"></div>
                <a href="javascript:;" id="voting_i01" data-wpel-link="internal" class="kksr-star" onmouseover="StarOnMouseOver('01')" onmouseout="StarOnMouseOut('01')" onclick="WikiDocVoting(1)"></a>
                <a href="javascript:;" id="voting_i02" data-wpel-link="internal" class="kksr-star" onmouseover="StarOnMouseOver('02')"  onmouseout="StarOnMouseOut('02')"  onclick="WikiDocVoting(2)"></a>
                <a href="javascript:;" id="voting_i03" data-wpel-link="internal" class="kksr-star" onmouseover="StarOnMouseOver('03')"  onmouseout="StarOnMouseOut('03')"  onclick="WikiDocVoting(3)"></a>
                <a href="javascript:;" id="voting_i04" data-wpel-link="internal" class="kksr-star" onmouseover="StarOnMouseOver('04')"  onmouseout="StarOnMouseOut('04')"  onclick="WikiDocVoting(4)"></a>
                <a href="javascript:;" id="voting_i05" data-wpel-link="internal" class="kksr-star" onmouseover="StarOnMouseOver('05')"  onmouseout="StarOnMouseOut('05')"  onclick="WikiDocVoting(5)"></a>
            </div>
            <div class="kksr-legend">
                <div itemprop="aggregateRating"  >
                    <span id="ratingValue"  >@_DocdetailInfo.RATING</span> 
                    <span id="ratingCount"  >@_DocdetailInfo.NUMBER_VOTED</span> votes 
                    <meta  content="1"><div itemprop="itemReviewed"  >
                    </div>
                </div>
            </div>
        </div>

    @*<div class="kk-star-ratings  bottom-right rgt" data-id="6624">
        <div class="kksr-stars kksr-star gray">
            <div class="kksr-fuel kksr-star yellow" style="width: 88px;">
            </div> <a href="#1" data-wpel-link="internal" class="" style="display: block;">
            </a><a href="#2" data-wpel-link="internal" class="" style="display: block;">
            </a>
            <a href="#3" data-wpel-link="internal" class="" style="display: block;"></a>
            <a href="#4" data-wpel-link="internal" class="" style="display: block;"></a>
            <a href="#5" data-wpel-link="internal"></a>
        </div><div class="kksr-legend">
            <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">

                <span itemprop="ratingValue">3.7</span> <span itemprop="ratingCount">3</span>
                votes<meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="1">
                <div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/CreativeWork">

                </div>
            </div>
        </div>
    </div>*@


</div>

<script>
    function funcLikeShareSocial(a) {
        "display: block;" == $(a).siblings("div").attr("style") ? ($(a).siblings("div").fadeOut(),
          $(a).attr("style", 'background: url("/Content/images/share.png") no-repeat')) :
        (
        $(a).siblings("div").fadeIn(), $(a).attr("style", 'background: url("/Content/images/share_active.png") no-repeat')
        )
    }

    function StarOnMouseOver(_id)
    {
        try {
            for (var i = 0; i <= _id; i++) {
                $("#voting_i0" + i).addClass("orange");
            }

        } catch (e) {

        }
    }

    function StarOnMouseOut(_id) {
        try {
            for (var i = 0; i <= _id; i++) {
                $("#voting_i0" + i).removeClass("orange");
            }
        } catch (e) {

        }
    }

    function WikiDocVoting(_Point) {
        try {
            $.ajax({
                url: "/wiki-view/WikiDocVoting",
                type: "POST",
                data: { p_id: '@_DocdetailInfo.ID', p_point: _Point },
                headers: { "cache-control": "no-cache" },
                async: false,
                success: function (data) {
                    if (data != null) {
                        $("#div_ratingcontent_percent").removeAttr("style");
                        $("#div_ratingcontent_percent").attr("style", "width:" + data.Rating + "%;");
                        $("#ratingValue").text(data.Rating);
                        $("#ratingCount").text(data.TotalVoted);
                        
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } catch (e) {
            alert(e.toString());
        }

    }
</script>