@using ObjectInfos;
@using WebApps.CommonFunction;
@{
    List<WikiCatalogues_Info> _listObject = new List<WikiCatalogues_Info>();
    if (ViewBag.ListObject != null)
    {
        _listObject = ViewBag.ListObject;
    }
    string _LanguageCode = AppsCommon.GetCurrentLang();
    string _langlink = "/vi-vn";
    if (_LanguageCode != "VI_VN")
    {
        _langlink = "/en-gb";
    }
    WikiCatalogues_Info _Catainfo = new WikiCatalogues_Info();
    if(ViewBag.Parentinfo != null)
    {
        _Catainfo = ViewBag.Parentinfo;
    }
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 style="padding-left:20px">@_Catainfo.NAME</h3>
        <input type="hidden" id="txtwikicataid" value="@_Catainfo.ID" />
        <div id="pagination-append" class="list-group item-list with-letters row">
            @foreach (var item in _listObject)
            {
                <a class="dynamic-linkset list-group-item col-md-6 itemdoc" href='@(_langlink + "/wiki-view/doc-view/0/" + item.ID)'>
                    <span class="badge">@item.NUMBER_DOC</span>
                   @if (_LanguageCode == "VI_VN")
                   {
                    @item.NAME
                   }
                   else
                   {
                       @item.NAME_ENG
                   }


                </a>
            }
        </div>
    </div>
</div>
<div class="d-paging">
    @Html.Raw(ViewBag.Paging)
</div>

