@using ObjectInfos;
@using WebApps.CommonFunction;
@{
    List<WikiCatalogues_Info> _Listcatalogue = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCatalogue != null)
    {
        _Listcatalogue = ViewBag.ListCatalogue;
    }
    string _isactive = "";
    decimal _cataid = 0;
    if (ViewBag.CurrCata != null)
    {
        _cataid = ViewBag.CurrCata;
    }
    string _LanguageCode = AppsCommon.GetCurrentLang();
    string _langlink = "/vi-vn";
    if (_LanguageCode != "VI_VN")
    {
        _langlink = "/en-gb";
    }
}

<ul class="c-navleft_category-list -big">

    @foreach (WikiCatalogues_Info item in _Listcatalogue.Where(m => m.CATA_LEVEL == 0).ToList())
    {
        _isactive = "";
        if (item.ID == _cataid)
        {
            _isactive = "is-active";
        }
        if (item.CATA_LEVEL == 0)
        {
            <li class="c-navleft_category-item">
                <a class="c-navleft_category-link @_isactive" href="@_langlink/wiki-view/cata-view/@item.ID">
                    @if (_LanguageCode != "VI_VN")
                    {
                        <span class="c-navleft_category-title">@item.NAME_ENG</span>
                    }
                    else
                    {
                        <span class="c-navleft_category-title">@item.NAME</span>
                    }
                    <figure class="c-navleft_category-link-arrow">
                        <i class="fa fa-long-arrow-right" aria-hidden="true" style="color #666;font-size 20px;"></i>
                    </figure>
                </a>
            </li>
        }
        else
        {
            <li class="c-navleft_category-item">
                <a style="padding-left:10px;" class="c-navleft_category-link @_isactive" href="@_langlink/wiki-view/doc-view/@item.ID/0">
                    @if (_LanguageCode != "VI_VN")
                    {
                        <span class="c-navleft_category-title">@item.NAME_ENG</span>
                    }
                    else
                    {
                        <span class="c-navleft_category-title">@item.NAME</span>
                    }
                    <figure class="c-navleft_category-link-arrow">
                        <i class="fa fa-long-arrow-right" aria-hidden="true" style="color #666;font-size 20px;"></i>
                    </figure>
                </a>
            </li>
        }
    }


</ul>


