@using ObjectInfos;
@{
    List<WikiDoc_Info> _listDoc = new List<WikiDoc_Info>();
    if (ViewBag.ListDocSearch != null)
    {
        _listDoc = ViewBag.ListDocSearch;
    }
    WikiCatalogues_Info _Catainfo = new WikiCatalogues_Info();
    if (ViewBag.CatalogueInfo != null)
    {
        _Catainfo = ViewBag.CatalogueInfo;
    }

}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 style="padding-left:20px">@_Catainfo.NAME</h3>
        <input type="hidden" id="txtwikicataid" value="@_Catainfo.ID"/>
        <div id="pagination-append" class="list-group item-list with-letters row">
            @foreach (var item in _listDoc)
            {
                <a class="dynamic-linkset list-group-item col-md-6 itemdoc"  href='@("/wiki-view/doc-list/0/" + item.ID)' >
                    <span class="badge">@item.VIEW_NUMBER</span>
                    @item.TITLE
                </a>
            }
        </div>
    </div>
   
       
    


</div>
<div class="d-paging">
    @Html.Raw(ViewBag.Paging)
</div>

