@using ObjectInfos
@using System.Text;
@using Common.CommonData;
@using WebApps.CommonFunction;
@{
    Layout = "~/ViewsShared/_LayoutHomeWiki.cshtml";
    string _languagecode = "/vi-vn/";
    if (ViewBag.LanguageCode != null)
    {
        _languagecode = ViewBag.LanguageCode;
    }
    List<WikiCatalogues_Info> _Listcatalogue = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCatalogue != null)
    {
        _Listcatalogue = ViewBag.ListCatalogue;
    }
    decimal _new_parentid = 0, _old_parentid = 0;
    int _countrow = 1;
    StringBuilder _Slidebar = new StringBuilder();
    WikiDoc_Info _DocdetailInfo = new WikiDoc_Info();
    if (ViewBag.DocdetailInfo != null)
    {
        _DocdetailInfo = ViewBag.DocdetailInfo;
    }
    string _displayDivDetail = "";
    string _displayDivListDoc = "";
   

}
<link href=@($"/Content/WikiStyle.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" /> 
<link href="~/Content/social-likes/social-likes_classic.css" rel="stylesheet" />
<script src="~/Content/social-likes/social-likes.min.js"></script>

 
<input type="hidden" value="TITLE" id="colSorted" />
<input type="hidden" value="ASC" id="SortType" />
<input type="hidden" value="" id="OptionSorting" />
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 div_wikicontent">
    @*<div class="breadcrumb">
        <input type="text" id="_txtwikidocsearch" placeholder="@WebApps.Resources.Resource.WikiSearchPlaceholder" style=" width calc(100% - 88px);" />
        <input type="button" value="@WebApps.Resources.Resource.WikiSearchButton" style="width: 83px;" onclick="findObjects(1, 1)" id="btnfindObjects" />
    </div>*@


    <div class="clssbox_search">
        
        <input type="text" id="_txtwikidocsearch"placeholder="@WebApps.Resources.Resource.WikiSearchPlaceholder"  />
        <div class="clssbox_button">
            <input type="button"   id="btnfindObjects" value="@WebApps.Resources.Resource.WikiSearchButton" onclick="findObjects(1, 1)" />
        </div>
    </div>
  

    @{
        if (ViewBag.DocdetailInfo != null)
        {
            _displayDivListDoc = "display:none !important";
        }
        else
        {
            _displayDivDetail = "display:none !important";
        }
    }

    <div id="div_wiki_datacontent_Detail" class="mdc-card mdc-card--stroked" style="@_displayDivDetail">
        @Html.Partial("/Areas/Home/Views/Wiki/_PartialDocViewDetail.cshtml")
    </div>
    <div id="div_wiki_datacontent" class="mdc-card mdc-card--stroked" style="@_displayDivListDoc">
        @Html.Partial("/Areas/Home/Views/Wiki/_PartialListDocByCata.cshtml")
    </div>

     

        
       
</div>


<script>
    var _status = '3', _catalogue = 'ALL', _titleHashtag = 'ALL';
    if ($("#txtwikicataid").val() != "0") {
        _catalogue = $("#txtwikicataid").val();
    }

    $(document).ready(function () {
        $('_txtwikidocsearch').focus();

    });
    var keySearch = "";
    var arrKeySearch;
    function findObjects(_pageNumber, _isSearching) {
        try {
            //reinitSearchingConditions(_currentKeySearch, _currentOptionFilter, _pageNumber, _isSearching);
            if (_isSearching === 1) {
                _status = "3";
                _catalogue = "ALL";
                _titleHashtag = $("#_txtwikidocsearch").val().trim();
              

            } else {
                arrKeySearch = keySearch.split('|');
                _status = arrKeySearch[0];
                if ($("#txtwikicataid").val() == "0")
                {
                    _catalogue = arrKeySearch[1];
                }
                else
                {
                    _catalogue = $("#txtwikicataid").val();
                }
                _titleHashtag = arrKeySearch[2];
                $("#_txtwikidocsearch").val(_titleHashtag);
            }
            _status = "3";

            if ($("#txtwikicataid").val() == "0") {
                _catalogue = "ALL";
            }
            else {
                _catalogue = $("#txtwikicataid").val();
            }
            _titleHashtag = $("#_txtwikidocsearch").val().trim();
            if (_titleHashtag.trim() == "")
            {
                _titleHashtag = "ALL";
            }
            keySearch = _status + "|" + _catalogue + "|" + _titleHashtag;
            // updateSearchingConditions("divNumberRecordOnPageListObjects", setKeySearch);
            var optionFilter = "TITLE|ASC||" + _pageNumber + "|20" ;
            $.ajax({
                type: "POST",
                headers: { "cache-control": "no-cache" },
                url: "/wiki-view/WikiDocSearch/",
                data: {
                    keysSearch: keySearch,
                    options: optionFilter
                },
                async: false,
                success: function (data) {
                    if (data != null) {
                        $("#div_wiki_datacontent_Detail").attr("style", "display:none");
                        $("#div_wiki_datacontent").removeAttr("style");
                        $("#div_wiki_datacontent").html(data);
                     //   onResponseWhenSearching(data, "div_wiki_datacontent", findObjects);
                    }
                }
            });
            return true;
        } catch (e) {
            alert(e.toString());
            return false;
        }


    }

    function setKeySearch() {
        window.keySearch = _status + "|" + _catalogue + "|" + _titleHashtag;
    }

    function initOrderBySearching() {
        window.colSort = 'MODIFIED_DATE';
        window.sortType = 'DESC';
    }

    function pageListOfObjects(_pagenum) {
        try {
            findObjects(_pagenum, 0);

        } catch (e) {
            console.log(e.message);
        }
    }



    //function GetDocByCataid(_cataid) {
    //    try {
    //        $.ajax({
    //            type: "POST",
    //            url: "/wiki-view/GetDocByCataid/",
    //            headers: { "cache-control": "no-cache" },
    //            async: false,
    //            data: { p_id: _cataid },
    //            success: function (data) {
    //                if (data != null) {
    //                        $("#div_wiki_datacontent").html(data);
    //                }
    //                return false;
    //            }
    //        });
    //    } catch (e) {
    //        alert(e.toString());
    //    }
    //}

    //function GetDocDetail(_Docid) {
    //    try {
    //        $.ajax({
    //            type: "POST",
    //            url: "/wiki-view/GetDocDetail/",
    //            headers: { "cache-control": "no-cache" },
    //            async: false,
    //            data: { p_id: _Docid },
    //            success: function (data) {
    //                if (data != null) {
    //                    $("#div_wiki_datacontent").html(data);
    //                    document.getElementById("content").innerHTML = "/vi-vn/wiki-view/doc-list/0/12";
    //                    window.history.pushState({ "html": "/vi-vn/wiki-view/doc-list/0/12", "pageTitle": "Chi tiết tin" }, "", urlPath);
    //                }
    //                return false;
    //            }
    //        });
    //    } catch (e) {
    //        alert(e.toString());
    //    }
    //}


    function ExportDocToFile(_Docid) {
        try {
            if (CheckSessionTimeOutPortal() == false) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/wiki-view/ExportDocToFile/",
                headers: { "cache-control": "no-cache" },
                async: false,
                data: { p_id: _Docid },
                success: function (data) {
                    if (data.result >= 0) {
                        var element = document.createElement('a');
                        element.setAttribute('href', data.FileDownload);
                        element.setAttribute('download', data.FileSaveName);
                        element.style.display = 'none';
                        document.body.appendChild(element);
                        element.click();
                        document.body.removeChild(element);
                    }
                    return false;
                }
            });
        } catch (e) {
            alert(e.toString());
        }
    }

</script>
 

