@model string
@using ObjectInfos;
@using WebApps.Resources;
@{
    BussinessFacade.ModuleUsersAndRoles.UserBL _UserBL = new BussinessFacade.ModuleUsersAndRoles.UserBL();
    List<UserInfo> _lstUsersCustomer = _UserBL.GetUserByType(Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.Customer));
    //var lstUsersCustomer = _lstUsersCustomer.Select(x => new SelectListItem { Text = x.FullName, Value = x.Username });
    var lstUsersCustomer = new List<SelectListItem> { new SelectListItem { Text = Resource.TM2B_ChonKhachHang, Value = "0" } }.Concat(_lstUsersCustomer.Select(x => new SelectListItem { Text = x.FullName, Value = x.Username }));

    decimal _user_type = 0;
    if (WebApps.Session.SessionData.CurrentUser != null)
    {
        _user_type = WebApps.Session.SessionData.CurrentUser.Type;
    }
}

@if (WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.SupperAdmin
            || WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Admin
            || WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Lawer)
{
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/info_2.png" />
        <div class="cls_form_header">
           @Resource.TM2B_ChonKhachHang  
        </div>
    </div>


    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@Resource.TM2B_TenKhachHang</div>
        </div>
        <div class="div-search-content">
            <div>
                @Html.DropDownList("Created_By", lstUsersCustomer, new { @id = "cbo_Created_By" })
            </div>
        </div>
    </div>
}
<script>
    function funcThongTinNhapHo(formData) {
        try {

            if (@_user_type == '@Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.SupperAdmin)'
                || @_user_type == '@Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.Admin)'
                    || @_user_type =='@Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.Lawer)')
            {
                var _createdby = $("#cbo_Created_By").val();
                if (_createdby == "0") {
                    $('#cbo_Created_By').focus();
                    showError('@Resource.TM2B_ChuaChonKhachHang');
                    return false;
                }
                formData.append("pInfo.Created_By", _createdby);
            }

            return true;
        } catch (e) {
            return false;
        }
    }
</script>



