@using BussinessFacade.ModuleMemoryData
@model int
@{
    var preId = Model.ToString();
    var IdCBO = preId + "cboDaiDienChuDonCu";
}

@if (Model == 9)
{
    <script>
        function funcChuDonKhacReuse9() {
            try {
                var txtNguoiDaidien = "9_txtTenDayDu";
                var txtDiaChi = "9_txtDiaChi";
                var txtDienThoai = "9_txtDienThoai";
                var txtFax = "9_txtFax";
                var txtEmail = "9_txtEmail";
                var displayVal = $('#9_cboDaiDienChuDonCu').val();
                var arrVal = displayVal.split('|');
                if (arrVal.length === 5) {
                    $("#" + txtNguoiDaidien).val(arrVal[0]);
                    $("#" + txtDiaChi).val(arrVal[1]);
                    $("#" + txtDienThoai).val(arrVal[2]);
                    $("#" + txtFax).val(arrVal[3]);
                    $("#" + txtEmail).val(arrVal[4]);
                }
            } catch (e) {

            }
        }
    </script>
    <div class="div-search-title">
        <div>Chủ đơn đã đk:</div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="9_cboDaiDienChuDonCu" onchange="return funcChuDonKhacReuse9();">
                <option value="ALL">-- Khách hàng -- </option>
                @foreach (var item in MemoryData.lstCacheCustomer)
                {
                    if (!string.IsNullOrEmpty(item.Cdk_Name_1))
                    {
                        string displayVal = item.Cdk_Name_1 + "|" + item.Cdk_Address_1 + "|" + item.Cdk_Phone_1 + "|" + item.Cdk_Fax_1 + "|" + item.Cdk_Email_1;
                        string displayName = item.Cdk_Name_1 + " Phone: " + item.Cdk_Phone_1 + " Fax: " + item.Cdk_Fax_1 + " Email: " + item.Cdk_Email_1;
                        <option value="@displayVal">@displayName</option>
                    }
                }
            </select>
        </div>
    </div>


}
else if (Model == 10)
{
    <script>
        function funcChuDonKhacReuse10() {
            try {
                var txtNguoiDaidien = "10_txtTenDayDu";
                var txtDiaChi = "10_txtDiaChi";
                var txtDienThoai = "10_txtDienThoai";
                var txtFax = "10_txtFax";
                var txtEmail = "10_txtEmail";
                var displayVal = $('#10_cboDaiDienChuDonCu').val();
                var arrVal = displayVal.split('|');
                if (arrVal.length === 5) {
                    $("#" + txtNguoiDaidien).val(arrVal[0]);
                    $("#" + txtDiaChi).val(arrVal[1]);
                    $("#" + txtDienThoai).val(arrVal[2]);
                    $("#" + txtFax).val(arrVal[3]);
                    $("#" + txtEmail).val(arrVal[4]);
                }
            } catch (e) {

            }
        }
    </script>
    <div class="div-search-title">
        <div>Chủ đơn đã đk:</div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="10_cboDaiDienChuDonCu" style="width:100%" onchange="return funcChuDonKhacReuse10();">
                <option value="ALL">-- Khách hàng -- </option>
                @foreach (var item in MemoryData.lstCacheCustomer)
                {
                    if (!string.IsNullOrEmpty(item.Cdk_Name_2))
                    {
                        string displayVal = item.Cdk_Name_2 + "|" + item.Cdk_Address_2 + "|" + item.Cdk_Phone_2 + "|" + item.Cdk_Fax_2 + "|" + item.Cdk_Email_2;
                        string displayName = item.Cdk_Name_2 + " Phone: " + item.Cdk_Phone_2 + " Fax: " + item.Cdk_Fax_2 + " Email: " + item.Cdk_Email_2;
                        <option value="@displayVal">@displayName</option>
                    }
                }
            </select>
        </div>
    </div>
 
}
else if (Model == 11)
{
    <script>
        function funcChuDonKhacReuse11() {
            try {
                var txtNguoiDaidien = "11_txtTenDayDu";
                var txtDiaChi = "11_txtDiaChi";
                var txtDienThoai = "11_txtDienThoai";
                var txtFax = "11_txtFax";
                var txtEmail = "11_txtEmail";
                var displayVal = $('#11_cboDaiDienChuDonCu').val();
                var arrVal = displayVal.split('|');
                if (arrVal.length === 5) {
                    $("#" + txtNguoiDaidien).val(arrVal[0]);
                    $("#" + txtDiaChi).val(arrVal[1]);
                    $("#" + txtDienThoai).val(arrVal[2]);
                    $("#" + txtFax).val(arrVal[3]);
                    $("#" + txtEmail).val(arrVal[4]);
                }
            } catch (e) {

            }
        }
    </script>
    <div class="div-search-title">
        <div>Chủ đơn đã đk:</div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="11_cboDaiDienChuDonCu" style="width:100%"  onchange="return funcChuDonKhacReuse11();">
                <option value="ALL">-- Khách hàng -- </option>
                @foreach (var item in MemoryData.lstCacheCustomer)
                {
                    if (!string.IsNullOrEmpty(item.Cdk_Name_3))
                    {
                        string displayVal = item.Cdk_Name_3 + "|" + item.Cdk_Address_3 + "|" + item.Cdk_Phone_3 + "|" + item.Cdk_Fax_3 + "|" + item.Cdk_Email_3;
                        string displayName = item.Cdk_Name_3 + " Phone: " + item.Cdk_Phone_3 + " Fax: " + item.Cdk_Fax_3 + " Email: " + item.Cdk_Email_3;

                        <option value="@displayVal">@displayName</option>
                    }
                }
            </select>
        </div>
    </div>
}
else if (Model == 12)
{
    <script>
        function funcChuDonKhacReuse12() {
            try {
                var txtNguoiDaidien = "12_txtTenDayDu";
                var txtDiaChi = "12_txtDiaChi";
                var txtDienThoai = "12_txtDienThoai";
                var txtFax = "12_txtFax";
                var txtEmail = "12_txtEmail";
                var displayVal = $('#12_cboDaiDienChuDonCu').val();
                var arrVal = displayVal.split('|');
                if (arrVal.length === 5) {
                    $("#" + txtNguoiDaidien).val(arrVal[0]);
                    $("#" + txtDiaChi).val(arrVal[1]);
                    $("#" + txtDienThoai).val(arrVal[2]);
                    $("#" + txtFax).val(arrVal[3]);
                    $("#" + txtEmail).val(arrVal[4]);
                }
            } catch (e) {

            }
        }
    </script>
    <div class="div-search-title">
        <div>Chủ đơn đã đk:</div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="12_cboDaiDienChuDonCu" style="width:100%"  onchange="return funcChuDonKhacReuse12();">
                <option value="ALL">-- Khách hàng -- </option>
                @foreach (var item in MemoryData.lstCacheCustomer)
                {
                    if (!string.IsNullOrEmpty(item.Cdk_Name_4))
                    {
                        string displayVal = item.Cdk_Name_4 + "|" + item.Cdk_Address_4 + "|" + item.Cdk_Phone_4 + "|" + item.Cdk_Fax_4 + "|" + item.Cdk_Email_4;
                        string displayName = item.Cdk_Name_4 + " Phone: " + item.Cdk_Phone_4 + " Fax: " + item.Cdk_Fax_4 + " Email: " + item.Cdk_Email_4;
                        <option value="@displayVal">@displayName</option>
                    }
                }
            </select>
        </div>
    </div>

}