@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@{
    var lstDocOther = new List<AppDocumentOthersInfo>();
    if (ViewBag.TreeDocuments != null)
    {
        lstDocOther = (List<AppDocumentOthersInfo>)ViewBag.TreeDocuments;
    }
    string listIDFileAtt = "";
    string styleTLK = "display:block";
    if (lstDocOther.Count > 0)
    {
        styleTLK = "display:block";
    }
}
<style>
    .classDocOtherE {
        text-align: left;
        padding: 3px;
        color: blue;
    }
    /*#divContainerDocOther{
        display:none ;
    }*/
</style>
<div class="div_full_100_area" id="divTreeContainerDocOther" style="@styleTLK">
    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Bộ hình ảnh")
    @{
        if (lstDocOther.Count > 0)
        {
            int No = 0;
            string FileName = "";

            <div>
                @foreach (var item in lstDocOther)
                {
                    listIDFileAtt = listIDFileAtt + item.Id.ToString() + ",";
                    No++;
                    FileName = No.ToString() + ". " + item.Documentname;
                    <div id="@item.Id" class="classDocOtherE"> <a style="color:blue" href="@item.Filename">@FileName</a> <img onclick="funcTreeRemoveFileAttachOther('@item.Id')" src="/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px"> </div>
                }
            </div>

        }
    }
    @* Sử dụng khi Sửa bản ghi thôi *@
    <input type="hidden" class="TreeListIDAttach_E" id="TreeListIDAttach_E" value="@listIDFileAtt" />
    <input type="hidden" id="TreeListIDAttach_R" value="" />
    @* End sửa *@

    <div id="TreedivDocumentOther">
        <div meta-data="TreetxtTaiLieuKhac1">
            <div class="div-search-ad" id="treedivDocumnetNo1">
                <div class="div-search-title"> <div>@WebApps.Resources.Resource.lblTenTaiLieu:</div> </div>
                <div class="div-search-content">
                    <div> <input type="text" class="clssListUploadIndusDesign" maxlength="200" placeholder="@WebApps.Resources.Resource.lblNhapTenTaiLieuDinhKem" id="TreetxtTaiLieuKhac1"> </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <div class="file-upload btn btn-primary" style="margin-left:2px;display:none">
                            <span class="">@WebApps.Resources.Resource.lblTaiFile</span>
                            <input type="file" onchange="return funcTreeChoiseFileDocOther('pTreefileName1', 'txtTreeMaxfile1','TreetxtTaiLieuKhac1','divTreeRemoveFile1');" name="pTreefileName1" id="pTreefileName1" class="upload fileuploadurl" />
                        </div>
                        <input type="text" class="classMaxfile" id="txtTreeMaxfile1" readonly style="display:none;">

                        <button class="clssDisplaynone" id="divTreeRemoveFile1" onclick="TreeRemoveFileDocOther('TreetxtTaiLieuKhac1','divTreeRemoveFile1','txtTreeMaxfile1')" style="width: 30px;margin-left:1px"><i class="fa fa-minus-circle"></i></button>
                        <button title="Thêm tài liệu cùng cấp" onclick="funcTreeAddSubDocumentNew(this)" style="width: 30px;margin-left:2px; height:30px"><i class="fa fa-plus-square"></i></button>
                        <button title="Thêm phương án" onclick="funcTreeAddDocumentNew(1)" style="width: 30px;margin-left:2px;height:30px"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@* danh dau so tt sinh id  *@
<input type="hidden" id="TreeincreNo" value="1" />

<style>
    .class_37 {
        height: 30px !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 120px 14% 33%;
        padding: 1px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }
</style>

<script>
    $("#btnTreeAddDocumentOther").click(function () {
        try {
            funcTreeAddDocumentNew();
        } catch (e) {
        }
    });

    function funcTreeAddDocumentNew(_level) {
        try {
            var e = $("#TreeincreNo").val() / 1;
            e++;
            var pfileName = "treepfileName" + e.toString();
            var txtDocument = "TreetxtTaiLieuKhac" + e.toString();
            var txtMaxfile = "treetxtMaxfile" + e.toString();
            var divDocumnetNo = "treedivDocumnetNo" + e;
            var btnXoa = "treebtnXoa" + e;
            var btnTaiFile = "treebtnTaiFile" + e;
            var btnremoveFile = "treebtnRemove" + e;
            var _style = "";
            if (_level == 2)
            {
                _style = "padding-left:20px";
            }
            var _display = "";
            if (_level != 2)
            {
                _display = "display:none;";
            }
            var _refid = "0";
            var t = ' <div meta-data="' + txtDocument + '">  <div class="div-search-ad" id="' + divDocumnetNo + '"><div class="div-search-title" style="' + _style + '"> <div> @WebApps.Resources.Resource.Tenfile :</div> </div>  <div class="div-search-content"> <div> <input type="text" class="clssListUploadIndusDesign" maxlength="200"  id = "' + txtDocument + '" > </div> </div>';
            t += '<div class="div-search-content"> <div> <div class="file-upload btn btn-primary" style="margin-left:2px;' + _display + '"> <span>@WebApps.Resources.Resource.lblTaiFile</span>' +
                ' <input type="file" onchange="return funcTreeChoiseFileDocOther(\'' + pfileName + '\', \'' + txtMaxfile + '\', \'' + txtDocument + '\', \'' + btnremoveFile +'\', \'' + _refid + '\');" name = "' + pfileName + '" id = "' + pfileName + '" class="upload fileuploadurl"  /> </div>' +
                '<input type="text" class="classMaxfile" id="' + txtMaxfile + '" readonly >' +
                '<button class="clssDisplaynone" id="' + btnremoveFile + '" onclick="TreeRemoveFileDocOther(\'' + txtDocument + '\', \'' + btnremoveFile + '\', \'' + txtMaxfile +'\')" style="width: 30px;margin-left:1px"><i class="fa fa-minus-circle"></i></button>' +
               '<button title="Thêm tài liệu cùng cấp" onclick="funcTreeAddSubDocumentNew(this)" style="width: 30px;margin-left:2px; height:30px"><i class="fa fa-plus-square"></i></button>' +
              '<i class="fa fa-check" id="i_' + pfileName + '" style="font-size:15px; color:green ;display:none;padding:5px; height:30px"></i> <button onclick="return funcTreeRemoveDocument(this,1)" id="' + btnXoa + '" style="width: 30px;margin-left:2px"><i class="fa fa-minus-circle"></i></button> </div></div></div></div>';
            $("#TreedivDocumentOther").append(t);
            $("#TreeincreNo").val(e);
            return t;
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeAddSubDocumentNew(element) {
        try {
            var e = $("#TreeincreNo").val() / 1;
            e++;
            var pfileName = "treepfileName" + e.toString();
            var txtDocument = "TreetxtTaiLieuKhac" + e.toString();
            var txtMaxfile = "treetxtMaxfile" + e.toString();
            var divDocumnetNo = "treedivDocumnetNo" + e;
            var btnXoa = "treebtnXoa" + e;
            var btnTaiFile = "treebtnTaiFile" + e;
            var btnremoveFile = "treebtnRemove" + e;
            var _style = "padding-left:20px";
       
            var _display = "";
            var _refelemnt = $(element).parent().parent().parent().parent();
            var _refid = $(_refelemnt).attr('meta-data');
            var t = '<div class="div-search-ad" id="' + divDocumnetNo + '"><div class="div-search-title" style="' + _style + '"> <div> @WebApps.Resources.Resource.Tenfile :</div> </div>  <div class="div-search-content"> <div> <input type="text" class="clssListUploadIndusDesign" maxlength="200"  id = "' + txtDocument + '" > </div> </div>';
            t += '<div class="div-search-content"> <div> <div class="file-upload btn btn-primary" style="margin-left:2px;' + _display + '"> <span>@WebApps.Resources.Resource.lblTaiFile</span>' +
                ' <input type="file" onchange="return funcTreeChoiseFileDocOther(\'' + pfileName + '\', \'' + txtMaxfile + '\', \'' + txtDocument + '\', \'' + btnremoveFile + '\', \'' + _refid + '\');" name = "' + pfileName + '" id = "' + pfileName + '" class="upload fileuploadurl"  /> </div>' +
                '<input type="text" class="classMaxfile" id="' + txtMaxfile + '" readonly >' +
                '<button class="clssDisplaynone" id="' + btnremoveFile + '" onclick="TreeRemoveFileDocOther(\'' + txtDocument + '\', \'' + btnremoveFile + '\', \'' + txtMaxfile + '\')" style="width: 30px;margin-left:1px"><i class="fa fa-minus-circle"></i></button>' +
              '<i class="fa fa-check" id="i_' + pfileName + '" style="font-size:15px; color:green ;display:none;padding:5px; height:30px"></i> <button onclick="return funcTreeRemoveDocument(this, 2)" id="' + btnXoa + '" style="width: 30px;margin-left:2px"><i class="fa fa-minus-circle"></i></button> </div></div></div>  ';
            $(element).parent().parent().parent().parent().append(t);
            $("#TreeincreNo").val(e);
            return t;
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeRemoveDocument(element, level) {
        try {
            var _elementremove;
            if (level == 1)
            {
                _elementremove = $(element).parent().parent().parent().parent();
            }
            else
            {
                _elementremove = $(element).parent().parent().parent();
            }
            $(_elementremove).remove();
          
        } catch (e) {
            console.log(e);
        }
    }
    function funcTreeChoiseFileDocOther(pIDFile, ptxtId, ptagKey,pRemoveFile, prefid) {
        try {
            var obj = $("#" + pIDFile);
            $("#" + ptxtId).val(obj.val());

            funcTreePushFileDocumentOther(pIDFile, ptagKey, pRemoveFile, prefid);

        } catch (e) {
            console.log(e);
        }
    }

    function TreeRemoveFileDocOther(p_AfterID,pRemoveImg,pTextMaxFile) {

        var keyFileUpload = p_AfterID;
        try {
            var keyFileUpload = p_AfterID;
            $.ajax({
                type: 'POST',
                url: '/trade-mark/delete-file-other',
                data: {
                    keyFileUpload: keyFileUpload
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    if (data.success == 0)
                    {
                        $("#" + pRemoveImg).css('display','none');
                        $("#" + p_AfterID).val('');
                        $("#" + pTextMaxFile).val('');
                    }
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function funcTreePushFileDocumentOther(pID, ptagKey, pdivRemoveFile, prefid) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", ptagKey);
            formdata.append("pInfo.CHAR05", "2");// 
            formdata.append("pInfo.refId", prefid);// 
            
            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/indus-design/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#" + pdivRemoveFile).css("display", "inline-block");

                    } else {
                        jError(pushfileError, "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                }
            });
        } catch (e) {
            console.log(e);
        }
    }

    var lstRemove = "";
    //Sử dụng khi thực hiện sửa bản ghi
    function funcTreeRemoveFileAttachOther(pFileID) {
        try {
            var arrlistID = $("#TreeListIDAttach_E").val();
            var newid = pFileID + ",";
            if (arrlistID.indexOf(newid) != -1) {
                arrlistID = arrlistID.replace(newid, "");
                lstRemove = lstRemove + pFileID + ",";
            }
            $("#TreeListIDAttach_E").val(arrlistID);
            $("#" + pFileID).remove();
            $("#TreeListIDAttach_R").val(lstRemove);

        } catch (e) {
            console.log(e);
        }
    }
</script>