@model string
@{
    string[] arr = Model.Split(';');

    // định nghĩa id
    string _ID = arr[0];
    string[] arr_id = _ID.Split('|');

    string Document_Id = arr_id[0];
    string divCheckbox = "divCheckbox_" + Document_Id;

    string _Id = arr_id[1];
    string Id_Checkbox = "ckb_" + _Id;
    string LevelTextbox = arr_id[2];

    string Lable = arr_id[3];

    string Lable2 = arr_id[4];
    string Id_textbox = "txt_" + _Id;
    string IsUpload = arr_id[5];

    // giá trị tài liệu
    string _Value = arr[1];
    string[] arr_value = _Value.Split('|');
    string Isuse = arr_value[0];
    string Char01 = arr_value[1];
    string Url = arr_value[2];

    string div_ImgDownload = "div_ImgDownload_" + _Id;
    string div_ImgRemove = "div_ImgRemove_" + _Id;
}

<div class="div-search-ad">
    <div class="div-search-content">
        @*  style="width:382px" *@
        <div class="div-checkbox" id="@divCheckbox" style="width:329px">
            @if (LevelTextbox == "1")
            {
                @Html.Raw("&emsp;&emsp;&emsp;")
            }
            else if (LevelTextbox == "2")
            {
                @Html.Raw("&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;")
            }

            @if (Isuse == "1")
            {
                <input type="checkbox" name="@Id_Checkbox" id="@Id_Checkbox" value="@Document_Id" checked="checked" onchange="return ShowHidenUpLoad(this.id,this.id, '@Id_textbox')">
            }
            else
            {
                <input type="checkbox" name="@Id_Checkbox" id="@Id_Checkbox" value="@Document_Id" onchange="return ShowHidenUpLoad(this.id,this.id, '@Id_textbox')">
            }
            <label>@Lable</label>
        </div>
    </div>
    @if (Url != "")
    {
        <div class="div-search-content" id="@div_ImgDownload">
            <div class="div-checkbox">
                <a style="border: none;" href="@Url">
                    <i class="fas fa-download" style="color:blue;font-size:16px;margin-top:7px; margin-right:5px;"></i>
                </a>
            </div>
            <div class="div-checkbox" id="@div_ImgRemove">
                <img onclick="RemoveFile_Edit('@_Id')" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
            </div>
        </div>
    }

    @if (Lable2 != "")
    {
        <div class="div-search-title">
            <div>@Lable2:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="@Lable2" id="@Id_textbox" value="@Char01" />
            </div>
        </div>
    }
</div>

@if (IsUpload == "1")
{
    @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialTaiLieuTrongDon_3B.cshtml", @Id_Checkbox)
}

<script>
    $(document).ready(function () {
        var _divCheckbox = document.getElementById('@divCheckbox');

        if ('@Url' == "") {
            _divCheckbox.style.width = "382px";
        }

        if ('@Lable2' == "") {
            _divCheckbox.style.width = null;
        }
    });

    function RemoveFile_Edit(_Id) {

        $("#div_ImgDownload_" + _Id).addClass("clssDisplaynone");
        $("#div_ImgRemove_" + _Id).addClass("clssDisplaynone");

        @*if ('@Lable2' != "") {
            var _divCheckbox = document.getElementById('@divCheckbox');
            _divCheckbox.style.width = "382px";
        }*@
    }
</script>
