 
@model string
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";
}
<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input type="radio" name="_2_DaiDienChuDon" value="DDPL" placeholder="_2_rdoNguoiDaiDienPL" id="_2_rdoNguoiDaiDienPL" />
            <label>Là người đại diện theo pháp luật của chủ đơn</label>
        </div>
    </div>
  
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input type="radio" name="_2_DaiDienChuDon" value="DVDL" placeholder="_2_rdoToChucDichVuDL" id="_2_rdoToChucDichVuDL" />
            <label>Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>
 
 <div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input type="radio" name="_2_DaiDienChuDon" value="NDUQ" placeholder="_2_rdoNguoiDuocUyQuyen" id="_2_rdoNguoiDuocUyQuyen" />
            <label>Là người khác được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>



<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@txtTenDayDu" maxlength="50" id="@txtTenDayDu"/>
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@txtDiaChi" maxlength="200" id="@txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@txtDienThoai" maxlength="50" id="@txtDienThoai"  style="width: 250px;"/>
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@txtFax" maxlength="50" id="@txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@txtEmail" maxlength="50" id="@txtEmail" />
        </div>
    </div>
</div>

 