@model string
@using ObjectInfos
@using WebApps.Resources;
@using BussinessFacade;
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";
    var objAppHeaderInfo = new ApplicationHeaderInfo();

    int _IsInsert = 0;
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
    else
    {
        objAppHeaderInfo.Customer_Code = "239";
        // thêm mới
        _IsInsert = 1;
    }

    string styleDaiDienChuDon = "", styleDaiDienSH = "", styleDaiDienUQ = "";
    if (objAppHeaderInfo.Rep_Master_Type == "DDPL")
    {
        styleDaiDienChuDon = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDSH")
    {
        styleDaiDienSH = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDUQ")
    {
        styleDaiDienUQ = "checked='checked'";
    }
    string _disable = "";
    if (ViewBag.Isdisable == 1)
    {
        _disable = "disabled";
    }

    AppDDSHCN_BL _AppDDSHCN_BL = new AppDDSHCN_BL();
    AppDDSHCNInfo _AppDDSHCNInfo = _AppDDSHCN_BL.AppDDSHCNGetBy_Country(234);
    string _name = _AppDDSHCNInfo.Name_Vi;
    string _address = _AppDDSHCNInfo.Address_Vi;
    string language = WebApps.CommonFunction.AppsCommon.GetCurrentLang();

    if (language != "VI_VN")
    {
        _name = _AppDDSHCNInfo.Name_En;
        _address = _AppDDSHCNInfo.Address_En;
    }
}

<div id="div_PartialThongTinDaiDienChuDon">
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @Resource.TM2B_DaiDienChuDon
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio">
                <input type="radio" name="_2_DaiDienChuDon" value="DDPL" placeholder="_2_rdoNguoiDaiDienPL" id="_2_rdoNguoiDaiDienPL" @_disable />
                <label>@Resource.lblLaNguoiDaiDienTheoPL</label>
            </div>
        </div>

    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio">
                <input type="radio" name="_2_DaiDienChuDon" value="DDSH" placeholder="_2_rdoToChucDichVuDL" id="_2_rdoToChucDichVuDL" checked @_disable />
                <label>@Resource.lblLaToChucDichVuDaiDienSoHuu </label>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio">
                <input type="radio" name="_2_DaiDienChuDon" value="DDUQ" placeholder="_2_rdoNguoiDuocUyQuyen" id="_2_rdoNguoiDuocUyQuyen" @_disable />
                <label>@Resource.lblLaNguoiKhacDuocUyQuyen</label>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblTenDayDu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@_name" type="text" maxlength="50" id="@txtTenDayDu" @_disable />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblDiaChi <i class="redspan">(*)</i> </div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@_address" type="text" maxlength="200" id="@txtDiaChi" @_disable />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblDienThoai: </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" value="@_AppDDSHCNInfo.Phone" maxlength="50" id="@txtDienThoai" style="width: 250px;" @_disable />
            </div>
        </div>

        <div class="div-search-title">
            <div> Fax: </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" value="@_AppDDSHCNInfo.Fax" maxlength="50" id="@txtFax" @_disable />
            </div>
        </div>
        <div class="div-search-title">
            <div>Email:  </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" value="@_AppDDSHCNInfo.Email" maxlength="50" id="@txtEmail" @_disable />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@Resource.TM3C_MaDaiDien:</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtMADDSHCN" value="@_AppDDSHCNInfo.MaNguoiDaiDien" @_disable />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        @*if (@_IsInsert == 1) {
            var _QuocGia = $("#cboNationRepresent").val();
            if (_QuocGia == "" || _QuocGia == undefined)
                _QuocGia = 234;

            Get_PresentByNation(_QuocGia);
        }*@

        $("#div_PartialThongTinDaiDienChuDon").addClass("clssDisplaynone");
    });

    function Get_PresentByNation(_id) {
        $.ajax({
            url: '/trade-mark/get-represent-by-nation-represent/',
            type: 'POST',
            data: {
                p_id: _id
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var _avaiable_data = data.Avaiable_Data;
                if (_avaiable_data == "1") {
                    var arrVal = data.CustomerSuggestInfo.value.split('|');
                    if (arrVal.length === 6) {
                        $("#2_txtTenDayDu").val(arrVal[0]);
                        $("#2_txtDiaChi").val(arrVal[1]);
                        $("#2_txtDienThoai").val(arrVal[2]);
                        $("#2_txtFax").val(arrVal[3]);
                        $("#2_txtEmail").val(arrVal[4]);
                        $("#txtMADDSHCN").val(arrVal[5]);
                    }
                }
            }
        });
    }

    //Lấy thông tin chủ đơn add vào formData
    function funcThongTinDaiDienChuDon(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu").focus().val('');
                showError('@Resource.TM2B_TenKhongDuocDeTrong');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi").focus().val('');
                showError('@Resource.TM2B_DiaChiKhongDuocDeTrong');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('@Resource.lblThongBaoLoiEmail');
                    return false;
                }
            }

            var txtMADDSHCN = $("#txtMADDSHCN").val();
            if (txtMADDSHCN == "" || txtMADDSHCN == undefined) {
                $("#txtMADDSHCN").focus();
                showError('@Resource.MaDaiDien' + '@Resource.KhongDuocDeTrong');
                return false;
            }

            formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
            formData.append("pInfo.Rep_Master_Address", txtDiaChi);
            formData.append("pInfo.Rep_Master_Phone", txtDienThoai);

            formData.append("pInfo.Rep_Master_Fax", txtFax);
            formData.append("pInfo.Rep_Master_Email", txtEmail);
            formData.append("pInfo.Customer_Code", txtMADDSHCN);

            return true;
        } catch (e) {
            return false;
        }
    }

    function funcThongTinDaiDienChuDon_Exp(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();

            formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
            formData.append("pInfo.Rep_Master_Address", txtDiaChi);
            formData.append("pInfo.Rep_Master_Phone", txtDienThoai);

            formData.append("pInfo.Rep_Master_Fax", txtFax);
            formData.append("pInfo.Rep_Master_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }
</script>