@model string
@using ObjectInfos
@using WebApps.Resources;
@{
    string txtTenDayDu = Model + "_txtTenDayDu";
    string txtDiaChi = Model + "_txtDiaChi";
    string txtDienThoai = Model + "_txtDienThoai";
    string txtFax = Model + "_txtFax";
    string txtEmail = Model + "_txtEmail";
    var objAppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
    string styleDaiDienChuDon = "", styleDaiDienSH = "", styleDaiDienUQ = "";
    if (objAppHeaderInfo.Rep_Master_Type == "DDPL")
    {
        styleDaiDienChuDon = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDSH")
    {
        styleDaiDienSH = "checked='checked'";
    }
    else if (objAppHeaderInfo.Rep_Master_Type == "DDUQ")
    {
        styleDaiDienUQ = "checked='checked'";
    }
    string _disable = "";
    if (ViewBag.Isdisable == 1)
    {
        _disable = "disabled";
    }
}
<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input @styleDaiDienChuDon  type="radio" name="_2_DaiDienChuDon" value="DDPL" placeholder="_2_rdoNguoiDaiDienPL" id="_2_rdoNguoiDaiDienPL" @_disable/>
            <label>@Resource.lblLaNguoiDaiDienTheoPL</label>
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input @styleDaiDienSH type="radio" name="_2_DaiDienChuDon" value="DVDL" placeholder="_2_rdoToChucDichVuDL" id="_2_rdoToChucDichVuDL"  @_disable/>
            <label>@Resource.lblLaToChucDichVuDaiDienSoHuu </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input @styleDaiDienUQ type="radio" name="_2_DaiDienChuDon" value="NDUQ" placeholder="_2_rdoNguoiDuocUyQuyen" id="_2_rdoNguoiDuocUyQuyen" @_disable />
            <label>@Resource.lblLaNguoiKhacDuocUyQuyen</label>
        </div>
    </div>
</div>



<div class="div-search-ad">
    <div class="div-search-title">
        <div> @Resource.lblTenDayDu <i class="redspan">(*)</i></div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@objAppHeaderInfo.Rep_Master_Name" type="text" maxlength="50" id="@txtTenDayDu"  @_disable/>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @Resource.lblDiaChi <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@objAppHeaderInfo.Rep_Master_Address" type="text" maxlength="200" id="@txtDiaChi"  @_disable/>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> @Resource.lblDienThoai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text"  value="@objAppHeaderInfo.Rep_Master_Phone" maxlength="50" id="@txtDienThoai" style="width: 250px;"  @_disable/>
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@objAppHeaderInfo.Rep_Master_Fax"  maxlength="50" id="@txtFax"  @_disable/>
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@objAppHeaderInfo.Rep_Master_Email" maxlength="50" id="@txtEmail"  @_disable/>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Search suggestion
        var Name = $("#2_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#2_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#2_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#2_txtTenDayDu").val(arrVal[0]);
                            $("#2_txtDiaChi").val(arrVal[1]);
                            $("#2_txtDienThoai").val(arrVal[2]);
                            $("#2_txtFax").val(arrVal[3]);
                            $("#2_txtEmail").val(arrVal[4]);
                        }
                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });

    //Lấy thông tin chủ đơn add vào formData
    function funcThongTinDaiDienChuDon(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu").focus().val('');
                showError('@Resource.TM2B_TenKhongDuocDeTrong');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi").focus().val('');
                showError('@Resource.TM2B_DiaChiKhongDuocDeTrong');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail").focus();
                    showError('@Resource.lblThongBaoLoiEmail');
                    return false;
                }
            }

            formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
            formData.append("pInfo.Rep_Master_Address", txtDiaChi);
            formData.append("pInfo.Rep_Master_Phone", txtDienThoai);
            formData.append("pInfo.Rep_Master_Fax", txtFax);
            formData.append("pInfo.Rep_Master_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }

    function funcThongTinDaiDienChuDon_Exp(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu").val();
            var txtDiaChi = $("#" + PreID + "_txtDiaChi").val();
            var txtDienThoai = $("#" + PreID + "_txtDienThoai").val();
            var txtFax = $("#" + PreID + "_txtFax").val();
            var txtEmail = $("#" + PreID + "_txtEmail").val();

            formData.append("pInfo.Rep_Master_Name", txtTenDayDu);
            formData.append("pInfo.Rep_Master_Address", txtDiaChi);
            formData.append("pInfo.Rep_Master_Phone", txtDienThoai);
            formData.append("pInfo.Rep_Master_Fax", txtFax);
            formData.append("pInfo.Rep_Master_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }
</script>