@model Other_MasterInfo
@using ObjectInfos;
@using WebApps.Resources;
@{
    string _id = Model.Model_Id.ToString();
    string txtTenDayDu = _id + "_txtTenDayDu_Khac";
    string txtDiaChi = _id + "_txtDiaChi_Khac";
    string txtDienThoai = _id + "_txtDienThoai_Khac";
    string txtFax = _id + "_txtFax_Khac";
    string txtEmail = _id + "_txtEmail_Khac";

    string ckbTacGiaDongThoi = _id + "_ckbTacGiaDongThoi";
    string ckbPhoBan = _id + "_ckbPhoBan";

    string divChuDonKhac = _id + "_divChuDonKhac";
    string txtUse = _id + "_txtUse_ChuDonKhac";

    string _disable = "disabled";
}

<div id="@divChuDonKhac" class="clsChuDonKhac" data-id="@_id">

    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @Resource.TM2B_ChuDon khác
        </div>
    </div>

    <input type="hidden" id="@txtUse" value="1" />

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblTenDayDu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@Model.Master_Name" type="text" maxlength="200" id="@txtTenDayDu" @_disable />
            </div>
        </div>
    </div>


    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblDiaChi <i class="redspan">(*)</i> </div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@Model.Master_Address" type="text" maxlength="200" id="@txtDiaChi" @_disable />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @Resource.lblDienThoai: </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" value="@Model.Master_Phone" maxlength="50" id="@txtDienThoai" style="width: 250px;" @_disable />
            </div>
        </div>

        <div class="div-search-title">
            <div> Fax: </div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@Model.Master_Fax" type="text" maxlength="50" id="@txtFax" @_disable />
            </div>
        </div>
        <div class="div-search-title">
            <div>Email:  </div>
        </div>
        <div class="div-search-content">
            <div>
                <input value="@Model.Master_Email" type="text" maxlength="50" id="@txtEmail" @_disable />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio" style="width:385px">
                @if (Model.TacGiaDongThoi != "")
                {
                    <input type="radio" name="@ckbTacGiaDongThoi" value="TGDT" id="@ckbTacGiaDongThoi" checked="checked" @_disable>
                }
                else
                {
                    <input type="radio" name="@ckbTacGiaDongThoi" value="TGDT" id="@ckbTacGiaDongThoi" @_disable>
                }
                <label>Chủ đơn này đồng thời là tác giả sáng chế</label>
            </div>
        </div>

        <div class="div-search-content">
            <div class="div-radio">
                @if (Model.PhoBan != "")
                {
                    <input type="radio" name="@ckbPhoBan" id="ckbPhoBan" checked="checked" @_disable>
                }
                else
                {
                    <input type="radio" name="@ckbPhoBan" id="ckbPhoBan" @_disable>
                }

                <label>Có yêu cầu cấp phó bản Bằng độc quyền sáng chế/giải pháp hữu ích</label>
            </div>
        </div>
    </div>

    @*<div class="div_full_100_area classChuDonKhac">
            <a href="javascript:;" onclick="return XoaChuDonKhac('@divChuDonKhac', '@txtUse');" style="text-decoration:underline; color: blue;float: right;">Xóa chủ đơn khác</a>
        </div>*@
</div>






