@using BussinessFacade.ModuleMemoryData
<div class="div-search-ad">
    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01" class="borderleft4control">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01">
               @foreach (var item in MemoryData.c_lst_Country)
               {
                   if (item.Country_Id == Common.Common.Country_VietNam_Id)
                   {
                    <option selected="selected" value="@item.Country_Id">@item.Name</option>
                   }
                   else
                   {
                    <option value="@item.Country_Id">@item.Name</option>
                   }
               }
            </select>
        </div>
    </div>

    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01">
               @foreach (var item in MemoryData.c_lst_Country)
               {
                   if (item.Country_Id == Common.Common.Country_VietNam_Id)
                   {
                    <option selected="selected" value="@item.Country_Id">@item.Name</option>
                   }
                   else
                   {
                    <option value="@item.Country_Id">@item.Name</option>
                   }
               }
            </select>
        </div>
    </div>

    <div class="div-search-content">
        <div>
            <select id="4_cboNational01">
               @foreach (var item in MemoryData.c_lst_Country)
               {
                   if (item.Country_Id == Common.Common.Country_VietNam_Id)
                   {
                    <option selected="selected" value="@item.Country_Id">@item.Name</option>
                   }
                   else
                   {
                    <option value="@item.Country_Id">@item.Name</option>
                   }
               }
            </select>
        </div>
    </div>
</div>
 <div class="div-search-ad">
    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01" class="borderleft4control">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01">
               @foreach (var item in MemoryData.c_lst_Country)
               {
                   if (item.Country_Id == Common.Common.Country_VietNam_Id)
                   {
                    <option selected="selected" value="@item.Country_Id">@item.Name</option>
                   }
                   else
                   {
                    <option value="@item.Country_Id">@item.Name</option>
                   }
               }
            </select>
        </div>
    </div>

    <div class="div-search-content">
        <div style="width:320px">
            <select id="4_cboNational01">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="div-search-content">
        <div>
            <select id="4_cboNational01">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
</div>