@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using WebApps.Resources;
@{
    ViewBag.Title = "Request for patent registration";
    Layout = "~/ViewsShared/_Layout.cshtml";

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    Pattent_Lao_Info _App_Detail = new Pattent_Lao_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (Pattent_Lao_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    List<Inventor_Info> Lst_Inventor_Info = new List<Inventor_Info>();
    if (ViewBag.Lst_Inventor_Info != null)
    {
        Lst_Inventor_Info = (List<Inventor_Info>)ViewBag.Lst_Inventor_Info;
    }

    List<Other_MasterInfo> Lst_Other_Master = new List<Other_MasterInfo>();
    if (ViewBag.Lst_Other_Master != null)
    {
        Lst_Other_Master = (List<Other_MasterInfo>)ViewBag.Lst_Other_Master;
    }

    List<AppDocumentOthersInfo> Lst_DocumentOthers = new List<AppDocumentOthersInfo>();
    if (ViewBag.Lst_DocumentOthers != null)
    {
        Lst_DocumentOthers = (List<AppDocumentOthersInfo>)ViewBag.Lst_DocumentOthers;
    }

    List<AppClassDetailInfo> Lst_ClassDetailInfo = new List<AppClassDetailInfo>();
    if (ViewBag.Lst_ClassDetailInfo != null)
    {
        Lst_ClassDetailInfo = (List<AppClassDetailInfo>)ViewBag.Lst_ClassDetailInfo;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }

    List<UTienInfo> Lst_UTienInfo = new List<UTienInfo>();
    if (ViewBag.Lst_UTienInfo != null)
    {
        Lst_UTienInfo = (List<UTienInfo>)ViewBag.Lst_UTienInfo;
    }

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("LPT");
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="/trade-mark-mana/quan-ly-don">@Resource.QuanLyDon</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.PatentRegister</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> REQUEST FOR THE GRANT PATENT, PETTY PATENT, INDUSTRIAL</legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName_View_Lao.cshtml", "0")

        @* 3 - ĐƠN YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                PATENT TYPE
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    @if (_App_Detail.Patent_Type == "PT")
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdPattent" value="1" disabled onchange="onChange_Type()" checked>
                    }
                    else
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdPattent" value="1" disabled onchange="onChange_Type()">
                    }
                    <label>Patent</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">

                    @if (_App_Detail.Patent_Type == "PPT")
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdPetty_Pattent" value="2" onchange="onChange_Type()" disabled checked>
                    }
                    else
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdPetty_Pattent" value="2" onchange="onChange_Type()" disabled>
                    }
                    <label>Petty Patent</label>
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">

                    @if (_App_Detail.Patent_Type == "ID")
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdIndustrial" value="3" onchange="onChange_Type()" disabled checked>
                    }
                    else
                    {
                        <input type="radio" name="1_rdo_Pattent_Type" id="1_rdIndustrial" value="3" onchange="onChange_Type()" disabled>
                    }
                    <label>Industrial Design</label>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No I. TITLE
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title" style="height: 63px;">
                <div>Title <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_Title" style="height:65px" value="@_App_Detail.Title" disabled />
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No II. APPLICANT
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/Patent/Views/Lao_PT/_Partial_Box_No_2_View.cshtml")
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox">
                    @if (Lst_Other_Master.Count > 0)
                    {
                        <input type="checkbox" name="1_rdoChuDon" value="CDK" id="rdChuDonKhac" onchange="onChangeChuDonKhac()" checked disabled>
                    }
                    else
                    {
                        <input type="checkbox" name="1_rdoChuDon" value="CDK" id="rdChuDonKhac" onchange="onChangeChuDonKhac()" disabled>
                    }

                    <label>If there are more than one applicants Continute in the "Supplemental Box"</label>
                </div>
            </div>
        </div>

        <div id="divChuDonKhac">
            @for (int i = 0; i < Lst_Other_Master.Count; i++)
            {
                Lst_Other_Master[i].Model_Id = i;
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_Partial_Box_No_2_Other_View.cshtml", Lst_Other_Master[i])
            }
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box: No. III. INVENTOR OR DESIGNER
            </div>
        </div>

        <div id="div_PartialThongTinTacGia">
            @{
                Lst_Inventor_Info[0].Model_Id = 1;
            }
            @Html.Partial("~/Areas/Patent/Views/Lao_PT/_Partial_Box_No_3_View.cshtml", Lst_Inventor_Info[0])
        </div>

        <div id="divMoreInventors">
            @if (Lst_Inventor_Info.Count > 1)
            {
                for (int i = 1; i < Lst_Inventor_Info.Count; i++)
                {

                    <div class="divCover cls_form_title">
                        <img src="~/Content/icons/category.png" />
                        <div class="cls_form_header">
                            More Inventor
                        </div>
                    </div>

                    Lst_Inventor_Info[i].Model_Id = (i + 1);
                    @Html.Partial("~/Areas/Patent/Views/Lao_PT/_Partial_Box_No_3_Other_View.cshtml", Lst_Other_Master[i])
                }
            }
        </div>



        @if (Lst_UTienInfo.Count > 0)
        {
            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    Box No. V. PRIORITY CLAIMS (IF ANY)
                </div>
            </div>

            <div id="div_ThongTinDonUuTien">
                @for (int i = 0; i < Lst_UTienInfo.Count; i++)
                {
                    Lst_UTienInfo[i].Model_Id = i;
                    @Html.Partial("~/Areas/Patent/Views/Lao_PT/_PartialThongTinQuyenUuTien_View.cshtml", Lst_UTienInfo[i])
                }
            </div>
        }

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No. VI. CHECKLIST
            </div>
        </div>

        <div id="div_CheckList_Pattent_Petty" class="clssDisplaynone">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> Request </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_App_Detail.Request" maxlength="50" id="txt_Request_Pattent" style="width: 250px;" placeholder="Pages" disabled />
                    </div>
                </div>
                <div class="div-search-title">
                    <div>Claims:  </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@_App_Detail.Claims" type="text" maxlength="50" id="txt_Claims" disabled />
                    </div>
                </div>
                <div class="div-search-title">
                    <div> Abstract: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@_App_Detail.Abstract" type="text" maxlength="50" id="txt_Abstract" disabled />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> Description: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@_App_Detail.Description" type="text" maxlength="500" id="txt_Description" disabled />
                    </div>
                </div>
            </div>

            @* Hình công bố *@
            @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Image_Public_View_Lao.cshtml")

        </div>

        <div id="div_CheckList_Industrial" class="clssDisplaynone">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width:150px"> Request </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_App_Detail.Request" maxlength="50" id="txt_Request_Industrial" placeholder="Pages" disabled />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width:150px">Number of industrial design:  </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@_App_Detail.Number_Industrial" type="text" maxlength="50" id="txt_Number_Industrial" style="width: 250px;" disabled />
                    </div>
                </div>

                <div class="div-search-title">
                    <div style="width:175px"> Number of sheet of presentation: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@_App_Detail.Number_Sheet" type="text" maxlength="50" id="txt_Number_Sheet" disabled />
                    </div>
                </div>
            </div>

            <div class="divCover cls_form_title">
                @*<img src="~/Content/icons/category.png" />*@
                <div class="cls_form_header">
                    Application is for
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:382px">
                        @if (_App_Detail.Multiple == "T")
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdMultiple" value="1" disabled checked>
                        }
                        else
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdMultiple" value="1" disabled>
                        }

                        <label>Multiple</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio" style="width:382px">

                        @if (_App_Detail.SetOfArticle == "T")
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdSetOfArticle" value="2" disabled checked>
                        }
                        else
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdSetOfArticle" value="2" disabled>
                        }
                        <label>Set Of Article</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">

                        @if (_App_Detail.Composition == "T")
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdComposition" value="3" disabled checked>
                        }
                        else
                        {
                            <input type="checkbox" name="4_rd_Application_For" id="4_rdComposition" value="3" disabled>
                        }
                        <label>Composition</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No. VII. INTERNATIONAL CLASSIFICATION
            </div>
        </div>

        <div class="clssDisplaynone" id="div_Class_Pattent">

            <div class="divCover cls_form_title">
                <div class="cls_form_header">
                    The International Patent Classification (IPC) for the Invention is
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> Class </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_App_Detail.Class_Content" disabled maxlength="500" id="txt_Class_Pattent" />
                    </div>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone" id="div_Class_Industrial">
            <div class="divCover cls_form_title">
                <div class="cls_form_header">
                    The International Design Classification (IPC) for the Industrial Design(s) is/are
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> Class </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_App_Detail.Class_Content" disabled maxlength="500" id="txt_Class_Industrial" />
                    </div>
                </div>
            </div>
        </div>


        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No. VIII. ANNEXES
            </div>
        </div>

        @foreach (var itemdoc in _lst_doc)
        {
            if (dic_appDoc.ContainsKey(itemdoc.Doc_Id))
            {
                string _width = "";
                string _vl_isuse = dic_appDoc[itemdoc.Doc_Id].Isuse.ToString();
                string _vl_char01 = dic_appDoc[itemdoc.Doc_Id].CHAR01;
                string _vl_url = dic_appDoc[itemdoc.Doc_Id].Url_Hardcopy;
                string _vl_char02 = dic_appDoc[itemdoc.Doc_Id].CHAR02;

                string _model = itemdoc.Doc_Id + "|" + itemdoc.Check_Box_Id + "|" + itemdoc.Doc_Level + "|" + itemdoc.Content_1 + "|" + itemdoc.Content_2 + "|" + itemdoc.Is_Upload.ToString() + "|" + _width + "|" + itemdoc.Content_3;
                _model += ";" + _vl_isuse + "|" + _vl_char01 + "|" + _vl_url + "|" + _vl_char02;

                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model)

            }
        }

        @*TÀI LIỆU KHÁC*@
        @if (Lst_DocumentOthers.Count > 0)
        {
            @Html.Partial("~/Areas/Patent/Views/Shared/_Lao_Partial_Document_Others_View.cshtml")
        }

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No. VIII. FEE CALCULATOR (FOR OFFICIAL USE ONLY)
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> Filling fee </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" maxlength="500" id="txt_Filling_Fee" value="@_App_Detail.Filling_Fee.ToString("#,##0.#")" style="width:150px" disabled />
                </div>
            </div>

            <div class="div-search-title">
                <div> Basic Fee</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" maxlength="15" id="txt_Basic_Fee" value="@_App_Detail.Basic_Fee.ToString("#,##0.#")" style="width:150px" disabled />
                </div>
            </div>

            <div class="div-search-title">
                <div> Others Fees </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" maxlength="15" id="txt_Others_Fee" value="@_App_Detail.Others_Fee.ToString("#,##0.#")" disabled />
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Box No. XI. SIGNATURE
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> Name of print </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" value="@_App_Detail.Name_Of_Print" maxlength="200" id="txt_Name_Of_Print" style="width:150px" disabled />
                </div>
            </div>

            <div class="div-search-title">
                <div> Date Signed </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" maxlength="15" id="txt_Date_Signed" class="datetimepicker" disabled
                           value="@(_App_Detail.Date_Signed == DateTime.MinValue ? "" : _App_Detail.Date_Signed.ToString("dd/MM/yyyy"))" />
                </div>
            </div>
        </div>

        <div class="class_save">
            <div class="classGuiDon">
                @if (_AppHeaderInfo.Status == (int)Common.CommonData.CommonEnums.App_Status.Luu_tam)
                {
                    <input type="button" value="@Resource.btnGuiDon" onclick="return do_GuiDon('@_AppHeaderInfo.Case_Code')" id="btnGuiDon" class="btn class_37" />
                }
            </div>
            <div class="classLuuTam">
                <input type="button" value="@WebApps.Resources.Resource.Back" onclick="return goBack()" style="margin-left:10px" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/Patent/Views/Lao_PT/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });

        onChange_Type();
    });

    function onChange_Type() {

        if ($("#1_rdPattent").is(':checked')) {
            $("#div_CheckList_Pattent_Petty").removeClass("clssDisplaynone");
            $("#div_Class_Pattent").removeClass("clssDisplaynone");

            $("#div_CheckList_Industrial").addClass("clssDisplaynone");
            $("#div_Class_Industrial").addClass("clssDisplaynone");
        } else if ($("#1_rdPetty_Pattent").is(':checked')) {
            $("#div_CheckList_Pattent_Petty").removeClass("clssDisplaynone");
            $("#div_Class_Pattent").removeClass("clssDisplaynone");

            $("#div_CheckList_Industrial").addClass("clssDisplaynone");
            $("#div_Class_Industrial").addClass("clssDisplaynone");
        } else if ($("#1_rdIndustrial").is(':checked')) {
            $("#div_CheckList_Pattent_Petty").addClass("clssDisplaynone");
            $("#div_Class_Pattent").addClass("clssDisplaynone");

            $("#div_CheckList_Industrial").removeClass("clssDisplaynone");
            $("#div_Class_Industrial").removeClass("clssDisplaynone");
        }
    }

    function do_GuiDon(_case_code) {
        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
            $.ajax({
                url: '/trade-mark-mana/quan-ly-don/do-gui-don',
                type: 'POST',
                data: {
                    p_case_code: _case_code
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            window.location.href = "/home";
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

</script>
