@using BussinessFacade.ModuleMemoryData
@model UTienInfo
@using ObjectInfos;
@using WebApps.Resources;
@using ObjectInfos.ModuleTrademark
@{
    string _id = Model.Model_Id.ToString();

    string txtSoDon = _id + "_UT_txtSoDon";
    string txtNgayNopDon = _id + "_UT_txtNgayNopDon";
    string txtQuocTich = _id + "_UT_txtQuocGia";
    string rdo_YCHuongQuyen = _id + "_rdo_YCHuongQuyen";

    string ckbNopTaiVietNam = _id + "_ckbNopTaiVietNam";
    string ckbNopTaiParis = _id + "_ckbNopTaiParis";

    string ckbThoaThuanKhac = _id + "_ckbThoaThuanKhac";
    string txtThoathuanKhac = _id + "_txtThoathuanKhac";
    string TLCMQUT = _id + "_TLCMQUT";
    string BanSaoDauTien = _id + "_BanSaoDauTien";
    string BanDich = _id + "_BanDich";
    string GiayChuyenNhuong = _id + "_GiayChuyenNhuong";
    string divDonUT = _id + "_divDonUT";
    string txtUse = _id + "_UT_Use";

    string _application_code = "A01";
    if (Model.Case_Code.Contains("A03") == true)
    {
        _application_code = "A03";
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }

    string _doc_id1 = TLCMQUT;
    string _id1 = _doc_id1 + "|" + TLCMQUT + "| 0|" + Resource.lblTaiLieuChungMinhQuyenUuTien + "|" + Resource.lblSoBan + "|0";
    string _value1 = "";
    if (dic_appDoc.ContainsKey(_doc_id1))
    {
        _value1 = dic_appDoc[_doc_id1].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id1].CHAR01 + "|" + dic_appDoc[_doc_id1].Url_Hardcopy;
    }
    else
    {
        _value1 = "0" + "|" + "" + "|" + "";
    }
    string _model1 = _id1 + ";" + _value1;

    //
    string _doc_id2 = BanSaoDauTien;
    string _id2 = _doc_id2 + "|" + BanSaoDauTien + "|0|" + Resource.lblbanSaoDauTienGom + "|" + Resource.lblSoBan + "|1";
    string _value2 = "";
    if (dic_appDoc.ContainsKey(_doc_id2))
    {
        _value2 = dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy;
    }
    else
    {
        _value2 = "0" + "|" + "" + "|" + "";
    }
    string _model2 = _id2 + ";" + _value2;

    //
    string _doc_id3 = BanDich;
    string _id3 = _doc_id3 + "|" + BanDich + "|0|" + WebApps.Resources.Resource.TM3B_BanDichTiengVietGom + "|" + Resource.lblSoBan + "|1";
    string _value3 = "";
    if (dic_appDoc.ContainsKey(_doc_id3))
    {
        _value3 = dic_appDoc[_doc_id3].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy;
    }
    else
    {
        _value3 = "0" + "|" + "" + "|" + "";
    }
    string _model3 = _id3 + ";" + _value3;

    //
    string _doc_id4 = GiayChuyenNhuong;
    string _id4 = _doc_id4 + "|" + GiayChuyenNhuong + "|0|" + Resource.lblGiayChuyenNhuongQuyenUT + "||1";
    string _value4 = "";
    if (dic_appDoc.ContainsKey(_doc_id4))
    {
        _value4 = dic_appDoc[_doc_id4].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
    }
    else
    {
        _value4 = "0" + "|" + "" + "|" + "";
    }
    string _model4 = _id4 + ";" + _value4;
}

<div id="@divDonUT" data-id="@_id" class="clsDivDonUTien">

    <input type="hidden" id="@txtUse" value="1" />

    <div class="div-search-ad">
        <div class="div-search-title">
            <div style="width: 150px"> @Resource.SoDon <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" maxlength="200" id="@txtSoDon" value="@Model.UT_SoDon" style="width:200px" />
            </div>
        </div>

        <div class="div-search-title">
            <div> @Resource.NgayNopDon <i class="redspan">(*)</i> </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="@txtNgayNopDon" class="datetimepicker" value="@(Model.UT_NgayNopDon == DateTime.MinValue ? "" : Model.UT_NgayNopDon.ToString("dd/MM/yyyy"))" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div style="width: 150px">@WebApps.Resources.Resource.NuocNopQuyenUuTien <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <select id="@txtQuocTich">
                    @foreach (var item in MemoryData.c_lst_Country)
                    {
                        if (item.Country_Id == Model.UT_QuocGia)
                        {
                            <option selected="selected" value="@item.Country_Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Country_Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    @*<div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio">
                @if (Model.UT_Type == "NTVN")
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbNopTaiVietNam" value="NTVN" checked="checked">
                }
                else
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbNopTaiVietNam" value="NTVN">
                }

                <label>@WebApps.Resources.Resource.lblTheoDonNopTaiVN</label>
            </div>
        </div>
    </div>*@

    @*<div class="div-search-ad">
        <div class="div-search-content">
            <div class="div-radio">
                @if (Model.UT_Type == "CUPR")
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbNopTaiParis" value="CUPR" checked="checked">
                }
                else
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbNopTaiParis" value="CUPR">
                }
                <label>@WebApps.Resources.Resource.lblTheoDonNopCongUocPR</label>
            </div>
        </div>
    </div>*@

    @*<div class="div-search-ad" style="display:inline-flex;">
        <div class="div-search-content" style="width:385px">
            <div class="div-radio" style="width:385px">
                @if (Model.UT_Type == "TTTK")
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbThoaThuanKhac" value="TTTK" checked="checked">
                }
                else
                {
                    <input type="radio" name="@rdo_YCHuongQuyen" id="@ckbThoaThuanKhac" value="TTTK">
                }
                <label>@WebApps.Resources.Resource.lblTheoThoaThuanKhac</label>
            </div>
        </div>

        <div class="div-search-content">
            <input type="text" id="@txtThoathuanKhac" value="@Model.UT_ThoaThuanKhac" style="border: 1px solid #afa7a7;"/>
        </div>
    </div>*@


    @*@Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model1)

    @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model2)

    @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model3)

    @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model4)*@


    @if (_id == "1")
    {
        if (Model.DaAddd_DonUTKhac == 0)
        {
            <div class="div_full_100_area classChuDonKhac">
                <input type="hidden" id="txt_id_tacgia" value="1" />
                <a href="javascript:;" onclick="return ThemDonUuTien();" style="text-decoration:underline; color: blue;float: left;">@Resource.ThemDonUT</a>
            </div>
        }
        else
        {
            <div class="div_full_100_area classChuDonKhac">
                <input type="hidden" id="txt_id_tacgia" value="1" />
                <a href="javascript:;" onclick="return XoaDonUuTien('@divDonUT', '@txtUse');" style="text-decoration:underline; color: blue;float: right;">@Resource.XoaDonUT</a>
            </div>
        }
    }

    @if (_id == "2")
    {
        <div class="div_full_100_area classChuDonKhac">
            <input type="hidden" id="txt_id_tacgia" value="1" />
            <a href="javascript:;" onclick="return XoaDonUuTien('@divDonUT', '@txtUse');" style="text-decoration:underline; color: blue;float: right;">@Resource.XoaDonUT</a>
        </div>
    }
</div>

<script>

    function XoaDonUuTien(pId, pId2) {
        try {
            $("#" + pId).addClass("clssDisplaynone");
            $("#" + pId2).val("0");
        } catch (e) {
            alert(e);
        }
    }


</script>





