@using ObjectInfos
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@{
    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

}

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Name:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_AppHeaderInfo.Master_Name" disabled="disabled" id="1_txtTenDayDu" />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px">Address (include postcode): </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_AppHeaderInfo.Master_Address" disabled="disabled" id="1_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px">Phone: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_AppHeaderInfo.Master_Phone" disabled="disabled" id="1_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Fax" disabled="disabled" id="1_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_AppHeaderInfo.Master_Email" disabled="disabled" id="1_txtEmail" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Country of nationality </div>
    </div>
    <div class="div-search-content">
        <div>
            <select style="width: 250px;" disabled>
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == _AppHeaderInfo.Master_Country_Nationality)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div> Country of residence </div>
    </div>
    <div class="div-search-content">
        <div>
            <select disabled>
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == _AppHeaderInfo.Master_Country_Residence)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px">Country of incorporation:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <select disabled>
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == _AppHeaderInfo.Master_Country_Incorporation)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>

        </div>
    </div>
</div>



<script>
    function funcThongTinChuDon_View(formData, PreID) {
        try {
            var txtTenDayDu = $("#1_txtTenDayDu").val();
            var txtDiaChi = $("#1_txtDiaChi").val();
            var txtDienThoai = $("#1_txtDienThoai").val();
            var txtFax = $("#1_txtFax").val();
            var txtEmail = $("#1_txtEmail").val();

            formData.append("pInfo.Master_Name", txtTenDayDu);
            formData.append("pInfo.Master_Address", txtDiaChi);
            formData.append("pInfo.Master_Phone", txtDienThoai);
            formData.append("pInfo.Master_Fax", txtFax);
            formData.append("pInfo.Master_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }
</script>




