@model Inventor_Info
@using ObjectInfos;
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@{
    string _id = Model.Model_Id;
    string txtTenDayDu = _id + "_txtTenDayDu_Lao_No3";
    string txtDiaChi = _id + "_txtDiaChi_Lao_No3";
    string txtDienThoai = _id + "_txtDienThoai_Lao_No3";
    string txtFax = _id + "_txtFax_Lao_No3";
    string txtEmail = _id + "_txtEmail_Lao_No3";


    string txtCountry_Nationality = _id + "_txtCountry_Nationality_No3";
    string txtCountry_Residence = _id + "_txtCountry_Residence_No3";
    string txt_Country_Incorporation = _id + "_txt_Country_Incorporation_No3";


    string _disable = "";

    if (ViewBag.Isdisable == 1)
    {
        _disable = "disabled";
    }
}


<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Name <i class="redspan">(*)</i></div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@Model.Master_Name" type="text" maxlength="200" id="@txtTenDayDu" @_disable />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Address (include postcode) <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@Model.Master_Address" type="text" maxlength="200" id="@txtDiaChi" @_disable />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Country of nationality </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="@txtCountry_Nationality" style="width: 250px;">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Model.Master_Country_Nationality)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div style="width:150px"> Country of residence </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="@txtCountry_Residence">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Model.Master_Country_Residence)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

     
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px">Country of incorporation:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="@txt_Country_Incorporation">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Model.Master_Country_Incorporation)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>

        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div style="width:150px"> Phone: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" value="@Model.Master_Phone" maxlength="50" id="@txtDienThoai" style="width: 250px;" @_disable />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@Model.Master_Fax" type="text" maxlength="50" style="width: 250px;" id="@txtFax" @_disable />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@Model.Master_Email" type="text" maxlength="50" id="@txtEmail" @_disable />
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#' + '@txtCountry_Nationality').multipleSelect({
            filter: true,
            noMatchesFound: '@WebApps.Resources.Resource.KhongCoDuLieu',
            single: true,
            isdatastring: false,
            placeholder: 'Search country'
        });

        $('#' + '@txtCountry_Residence').multipleSelect({
            filter: true,
            noMatchesFound: '@WebApps.Resources.Resource.KhongCoDuLieu',
            single: true,
            isdatastring: false,
            placeholder: 'Search country'
        });

        $('#' + '@txt_Country_Incorporation').multipleSelect({
            filter: true,
            noMatchesFound: '@WebApps.Resources.Resource.KhongCoDuLieu',
            single: true,
            isdatastring: false,
            placeholder: 'Search country'
        });
    });

    //Lấy thông tin chủ đơn add vào formData
    function funcThongTin_No3(formData, PreID) {
        try {
            var txtTenDayDu = $("#" + PreID + "_txtTenDayDu_Lao_No3").val();
            if (txtTenDayDu === "") {
                $("#" + PreID + "_txtTenDayDu_Lao_No3").focus().val('');
                showError('@Resource.TM2B_TenKhongDuocDeTrong');
                return false;
            }
            var txtDiaChi = $("#" + PreID + "_txtDiaChi_Lao_No3").val();
            if (txtDiaChi === "") {
                $("#" + PreID + "_txtDiaChi_Lao_No3").focus().val('');
                showError('@Resource.TM2B_DiaChiKhongDuocDeTrong');
                return false;
            }
            var txtDienThoai = $("#" + PreID + "_txtDienThoai_Lao_No3").val();
            var txtFax = $("#" + PreID + "_txtFax_Lao_No3").val();
            var txtEmail = $("#" + PreID + "_txtEmail_Lao_No3").val();
            if (txtEmail != "") {
                if (!IsvalidEmail(txtEmail)) {
                    $("#" + PreID + "_txtEmail_Lao_No3").focus();
                    showError('@Resource.lblThongBaoLoiEmail');
                    return false;
                }
            }

            formData.append("pInventor_Info[0].Inventor_Type", 1);
            formData.append("pInventor_Info[0].Inventor_Name", $("#" + PreID + "_txtTenDayDu_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Address", $("#" + PreID + "_txtDiaChi_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Phone", $("#" + PreID + "_txtDienThoai_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Fax", $("#" + PreID + "_txtFax_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Email", $("#" + PreID + "_txtEmail_Lao_No3").val());

            formData.append("pInventor_Info[0].Country_Nationality", $("#" + PreID + "_txtCountry_Nationality_No3").val());
            formData.append("pInventor_Info[0].Country_Residence", $("#" + PreID + "_txtCountry_Residence_No3").val());
            formData.append("pInventor_Info[0].Country_Incorporation", $("#" + PreID + "_txt_Country_Incorporation_No3").val());

            return true;
        } catch (e) {
            return false;
        }
    }

    //Lấy thông tin chủ đơn add vào formData
    function funcThongTin_No3_SaveTem(formData, PreID) {
        try {
            formData.append("pInventor_Info[0].Inventor_Type", 1);
            formData.append("pInventor_Info[0].Inventor_Name", $("#" + PreID + "_txtTenDayDu_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Address", $("#" + PreID + "_txtDiaChi_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Phone", $("#" + PreID + "_txtDienThoai_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Fax", $("#" + PreID + "_txtFax_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Email", $("#" + PreID + "_txtEmail_Lao_No3").val());

            formData.append("pInventor_Info[0].Country_Nationality", $("#" + PreID + "_txtCountry_Nationality_No3").val());
            formData.append("pInventor_Info[0].Country_Residence", $("#" + PreID + "_txtCountry_Residence_No3").val());
            formData.append("pInventor_Info[0].Country_Incorporation", $("#" + PreID + "_txt_Country_Incorporation_No3").val());

            return true;
        } catch (e) {
            return false;
        }
    }


    function funcThongTinChuDon_Exp(formData, PreID) {
        try {
            formData.append("pInventor_Info[0].Inventor_Type", 1);
            formData.append("pInventor_Info[0].Inventor_Name", $("#" + PreID + "_txtTenDayDu_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Address", $("#" + PreID + "_txtDiaChi_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Phone", $("#" + PreID + "_txtDienThoai_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Fax", $("#" + PreID + "_txtFax_Lao_No3").val());
            formData.append("pInventor_Info[0].Inventor_Email", $("#" + PreID + "_txtEmail_Lao_No3").val());

            formData.append("pInventor_Info[0].Country_Nationality", $("#" + PreID + "_txtCountry_Nationality_No3").val());
            formData.append("pInventor_Info[0].Country_Residence", $("#" + PreID + "_txtCountry_Residence_No3").val());
            formData.append("pInventor_Info[0].Country_Incorporation", $("#" + PreID + "_txt_Country_Incorporation_No3").val());
            return true;
        } catch (e) {
            return false;
        }
    }
</script>





