@using ObjectInfos;
@model SysAppFixChargeInfo
@{
}
<style>
    .div-search-title > div {
        width: 120px;
    }
</style>


<input type="hidden" id="txtID" value="@Model.Id" />
<input type="hidden" id="txtAppCode" value="@Model.Appcode" />
<div class="" style="padding:5px 38px">

    <div class="divCover divCover_popup">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mẫu đơn<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" value="@Html.Raw(Model.Title)" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Lệ phí<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Amount, new { id = "txtAmountEdit", @maxlength = "20", onkeypress = "return isNumberKey(event);" , onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Số lượng tính phí<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Char01, new { id = "txtChar01Edit", @maxlength = "20", onkeypress = "return isNumberKey(event);", onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mô tả</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Description, new { id = "txtDescriptionEdit", @maxlength = "200",  @Value = Model.Description })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Lưu" onclick="return funcUpdateFeeFix()" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtAmountEdit").focus();
    });
</script>
