@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Notice_Info _App_Notice_Info = new App_Notice_Info();
    _App_Notice_Info.Times = 0;
    if (ViewBag.App_Notice_Info != null)
    {
        _App_Notice_Info = (App_Notice_Info)ViewBag.App_Notice_Info;
    }

    string _str_number = "";
    if (_App_Notice_Info.Times > 0)
    {
        _str_number = "lần" + _App_Notice_Info.Times.ToString();
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 250px;
    }
</style>
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            Admin review grant
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div id="divNumberNotice">Số thông báo @_str_number<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" maxlength="100" placeholder="Số thông báo" value="@_App_Notice_Info.Notice_Number" id="txt_Notice_Number" style="width:200px" disabled="disabled" />
            </div>
        </div>

        <div class="div-search-title">
            <div>Ngày thông báo <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày thông báo" id="txt_notice_date" maxlength="100" disabled="disabled" value="@_App_Notice_Info.Notice_Date.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ngày hợp lệ</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày hợp lệ" id="txt_accept_date" maxlength="100" disabled="disabled" value="@_App_Notice_Info.Accept_Date.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Nội dung chính </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txt_advise_replies" disabled="disabled" value="@_App_Notice_Info.Advise_Replies" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ghi chú <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File scan thông báo<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_App_Notice_Info.Notice_Url" download="@_App_Notice_Info.Notice_Url"> File scan thông báo </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File dịch<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_App_Notice_Info.Notice_Trans_Url" download="@_App_Notice_Info.Notice_Trans_Url"> File translate</a>
            </div>
        </div>
    </div>

    @if (WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Admin
        || WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.SupperAdmin
        || WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Lawer)
    {
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Billing<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<a style="height: 20px !important;" href="javascript:;" onclick="GetView2View_Billing(@_App_Notice_Info.Billing_Id, '@_App_Notice_Info.Case_Code')" > View billing </a>*@
                    @if (_App_Notice_Info.Billing_Id > 0)
                    {
                        <a style="height: 20px !important;" href="javascript:;" onclick="GetView2View_Billing(@_App_Notice_Info.Billing_Id, '@_App_Notice_Info.Case_Code')"> View billing </a>
                    }
                    else
                    {
                        <input type="text" value="No billing" disabled="disabled" />
                    }
                </div>
            </div>
        </div>
    }
    else if (WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Customer)
    {
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Billing<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<a style="height: 20px !important;" href="@_App_Notice_Info.Billing_Url" download="@_App_Notice_Info.Billing_Url"> File billing </a>*@
                    @if (_App_Notice_Info.Billing_Id > 0)
                    {
                        <a style="height: 20px !important;" href="@_App_Notice_Info.Billing_Url" download="@_App_Notice_Info.Billing_Url"> File billing </a>
                    }
                    else
                    {
                        <input type="text" value="No billing" disabled="disabled" />
                    }
                </div>
            </div>
        </div>
    }

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Submit" onclick="return do_Submit('@_AppHeaderInfo.Case_Code')" />
            @*<input type="submit" class="btn-default" value="Reject" onclick="return do_Reject('@_AppHeaderInfo.Case_Code')" />*@
            <input type="submit" class="btn-default" value="Transfer" onclick="return onTransfer('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function do_Submit(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn duyệt nội dung này hay không?", function () {

                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/accept-admin-approve',
                    type: 'POST',
                    data: {
                        p_case_code: _case_code,
                        p_Notice_Type : '@Convert.ToDecimal(Common.CommonData.CommonEnums.Notice_Type.CongBo_Bang)',
                        p_status: 1,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Submit thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function do_Reject(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn duyệt nội dung này hay không?", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/accept-admin-approve',
                    type: 'POST',
                    data: {
                        p_case_code: _case_code,
                        p_Notice_Type : '@Convert.ToDecimal(Common.CommonData.CommonEnums.Notice_Type.CongBo_Bang)',
                        p_status: 0,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Submit thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function onTransfer(_case_code) {
        var url = "/trade-mark-share-data/app-re-grant/" + _case_code + "/2" + "/" + '@_AppHeaderInfo.Status';
        window.open(url);
    }

    function validateAction() {
        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError('Ghi chú không được để trống!', "Lỗi", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
