@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<B_Remind_Info> _list_data = new List<B_Remind_Info>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }

}

<div>
    <table class="table-lst-data" id="tableListRemind">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="tdleftalign" style="width:20%" id="CASE_CODE" onclick="RemindSortByCol('CASE_CODE')">Case code</th>

                <th class="tdleftalign" style="width:25%">@WebApps.Resources.Resource.Noidung</th>
                <th class="tdleftalign" style="width:15%" id='REQUEST_BY_NAME' onclick="RemindSortByCol('REQUEST_BY_NAME')">@WebApps.Resources.Resource.Nguoigui</th>
                <th style="width:10%" id='REQUEST_DATE' onclick="RemindSortByCol('REQUEST_DATE')">@WebApps.Resources.Resource.Thoigiangui</th>
                <th class="tdleftalign" style="width:15%" id='PROCESSOR_BY_NAME' onclick="RemindSortByCol('PROCESSOR_BY_NAME')">@WebApps.Resources.Resource.Processor</th>
                <th style="width:10%" id='PROCESSOR_DATE' onclick="RemindSortByCol('REQUEST_DATE')">@WebApps.Resources.Resource.Thoigiancho</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">@item.STT</td>
                        @*<td class="tdleftalign">@item.CASE_CODE</td>*@

                        @if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.Billing))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_Billing('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }
                        else if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.App))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_App('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }
                        else if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.TimeSheet))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_TimeSheet('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }
                        else if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.Search))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_Search('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }
                        else if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.Wiki))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_Wiki('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }
                        else if (item.TYPE == Convert.ToDecimal(Common.CommonData.CommonEnums.Todo_Type.Register))
                        {
                            <td class="tdleftalign">
                                <a href="javascript:;" onclick="GetView2Action_Register('@item.CASE_CODE')" data-title="Xem chi tiết">@item.CASE_CODE</a>
                            </td>
                        }

                        else
                        {
                            <td class="tdleftalign">@item.CASE_CODE</td>
                        }

                        <td class="tdleftalign">@item.CONTENT</td>
                        <td class="tdleftalign">@item.REQUEST_BY_NAME</td>
                        <td class="tdcenteralign">
                            @item.REQUEST_DATE.ToDateStringN0()
                        </td>
                        <td class="tdleftalign">@item.PROCESSOR_BY_NAME</td>
                        <td class="tdcenteralign">
                            @{
                                TimeSpan TS = DateTime.Now - item.REQUEST_DATE;
                                int hour = TS.Days * 24 + TS.Hours;
                                int mins = TS.Minutes;
                                int secs = TS.Seconds;
                                string timeDiff = hour.ToString() + "h";
                            }
                            @timeDiff
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
<script>
    $(function () {
        RemindChangeIConSortWhenSortColumns();
    });

    function GetView2Action_Doc(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "quan-ly-docking/danh-sach-docking/show-complete-doc?p_case_code=" + _case_code;
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_App(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark-share-data/todo-details/" + _case_code + "/2";
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_TimeSheet(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-timesheet/danh-sach-timesheet/show-action-by-casecode/" + _case_code;
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_Billing(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-billing/danh-sach-billing/show-action-billing-by-code?case_code=" + _case_code;
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_Search(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-search/search-todo-detail/" + _case_code + "/2";
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_Wiki(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/Wiki-Manage/wiki-doc/doc-approve/" + _case_code + "";
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function GetView2Action_Register(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-tri-he-thong/chi-tiet-dang-ky/" + _case_code + "";
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

</script>