@using Common.CommonData
@using Common.Extensions
@using ObjectInfos
@model List<WikiDoc_Info>
@try
{
    <div>
        <table class="table-lst-data" id="tableListObject">
            <thead>
                <tr>
                    <th style="width: 4%">STT</th>
                    <th data-sort style="width: 10%" id="LANGUAGE_CODE" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Ngôn ngữ</th>
                    <th style="width: 25%" data-sort id="TITLE" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Tiêu đề</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="tdcenteralign">@item.STT</td>
                            <td class="tdleftalign">@item.LANGUAGE_CODE</td>
                            <td class="tdleftalign">@item.TITLE</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">Không có dữ liệu</td>
                    </tr>}
            </tbody>
        </table>
    </div>

    <div class="d-paging">
        @Html.Raw(ViewBag.Paging)
    </div>
}
catch (Exception)
{
    // ignored
}
