@using Common.CommonData
@using Common.Extensions
@using ObjectInfos
@{
    string _typesearch = "0";
    if(ViewBag.SearchType != null)
    {
        _typesearch = ViewBag.SearchType;
    }
}
@model List<WikiDoc_Info>
@try
{
    <div>
        <table class="table-lst-data" id='@("tableList_" + _typesearch)'>
            <thead>
                <tr>
                    <th style="width:50px">STT</th>
                    <th class="ThSort" style="width: 10%"   id='@("LANGUAGE_CODE_" + _typesearch)'  onclick="HomeSortByCol('LANGUAGE_CODE',@_typesearch)">Ngôn ngữ</th>
                    <th class="ThSort" style=""   id='@("TITLE_" + _typesearch)'  onclick="HomeSortByCol('TITLE',@_typesearch)">Tiêu đề</th>
                    <th style="width:50px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="tdcenteralign">@item.STT</td>
                            <td class="tdleftalign">@item.LANGUAGE_CODE</td>
                            <td class="tdleftalign">@item.TITLE</td>
                            <td class="tdcenteralign">
                                <a target="_blank" href="/wiki-manage/wiki-doc/doc-view/@item.ID/@item.STATUS" class="icon icon-info" data-title="Xem chi tiết"></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">Không có dữ liệu</td>
                    </tr>}
            </tbody>
        </table>
    </div>

    <div class="_ClassPage">
        <ul>
            @Html.Raw(ViewBag.Paging)
        </ul>
    </div>
    <script>
    $(function () {
        HomeChangeIConSortWhenSortColumns(@_typesearch);
    });
    </script>
}
catch (Exception)
{
    // ignored
}
