@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<ApplicationHeaderInfo> _list_data = new List<ApplicationHeaderInfo>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }
    string _typesearch = "0";
    if (ViewBag.SearchType != null)
    {
        _typesearch = ViewBag.SearchType;
    }
}

<table class="table-lst-data" id='@("tableList_" + _typesearch)'>
    <thead>
        <tr>
            <th class="class30">STT</th>
            <th class="class200 tdleftalign" id='@("CASE_CODE_" + _typesearch)' onclick="HomeSortByCol('CASE_CODE',@_typesearch)">@WebApps.Resources.Resource.CaseCode</th>
            <th class="class250 tdleftalign" id='@("CASE_NAME_" + _typesearch)' onclick="HomeSortByCol('CASE_NAME',@_typesearch)">@WebApps.Resources.Resource.CaseName</th>
            <th class="class150 tdleftalign" id='@("App_No_" + _typesearch)' onclick="HomeSortByCol('APPCODE',@_typesearch)">@WebApps.Resources.Resource.SoDon</th>
            @*<th class="class150 tdleftalign" id='@("Object_Name_" + _typesearch)' onclick="HomeSortByCol('APPCODE',@_typesearch)">@WebApps.Resources.Resource.TenDoiTuong</th>*@
            <th class="class250 tdleftalign">@WebApps.Resources.Resource.Agent</th>
            <th class="class250 tdleftalign">@WebApps.Resources.Resource.lblChuDon</th>

            <th class="class250" id='@("STATUS_NAME_" + _typesearch)' onclick="HomeSortByCol('STATUS_NAME',@_typesearch)">@WebApps.Resources.Resource.TinhTrangDon</th>
        </tr>
    </thead>
    <tbody>
        @if (_list_data.Count > 0)
        {
            foreach (var item in _list_data)
            {
        <tr>
            <td class="tdcenteralign">@item.STT</td>
            <td class="tdleftalign">
                <a href="javascript:;" onclick="GetView2View_App('@item.Case_Code')" data-title="Xem chi tiết">@item.Case_Code</a>
            </td>
            <td class="tdleftalign">@item.Case_Name</td>
            <td class="tdleftalign">@item.App_No</td>
            @*<td class="tdleftalign">@item.Object_Name</td>*@
            <td class="tdleftalign">@item.Rep_Master_Name</td>
            <td class="tdleftalign">@item.Master_Name</td>

            @*<td class="tdleftalign">@item.User_Processing</td>*@
            @*<td class="tdcenteralign">@item.Date_Wait</td>*@
            <td class="tdleftalign">@item.Status_Name</td>
            @*<td class="tdcenteralign">
            <a target="_blank" href="/trade-mark/request-for-trade-mark-view/@item.Id/@item.Status.ToString()/@item.Appcode.ToLower()" class="icon icon-info" data-title="Xem chi tiết"></a>
        </td>*@
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">@WebApps.Resources.Resource.KhongCoDuLieu</td>
            </tr>
        }
    </tbody>
</table>
<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>

<script>
    $(function () {
        HomeChangeIConSortWhenSortColumns(@_typesearch);
    });

    function GetView2View_App(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/trade-mark-share-data/todo-details/" + _case_code + "/0"
            window.open(url);
            //window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }
</script>