@using WebApps.Resources;
@using WebApps.Session;

@{
    decimal _user_type = 0;
    if (SessionData.CurrentUser != null)
    {
        _user_type = SessionData.CurrentUser.Type;
    }
}
<style>

    .clssbox_search {
        width: calc(85%);
        height: 35px;
        border: 1px solid #CBCCCE;
        border-right: none;
        float: left;
    }

        .clssbox_search > select {
            width: 130px;
            border: none;
            background-color: #E9EAEF;
            font-weight: bold;
            height: 30px;
            padding-bottom: 0px;
            float: left;
        }

            .clssbox_search > select:focus {
                border: none;
            }

        .clssbox_search > input[type="text"] {
            width: calc(100% - 250px);
            border: none;
            border-left: 1px solid #CBCCCE;
            background-color: #E9EAEF;
            height: 22px;
            margin-top: 5px;
            float: left;
        }

            .clssbox_search > input[type="text"]:focus {
                border: none;
                border-left: 1px solid #CBCCCE;
            }

    .clssbox_button {
        width: 120px;
        float: left;
    }

        .clssbox_button > input[type="button"] {
            height: 37px;
            background-color: #00A0F8;
            color: white;
            padding: 0px 0px 0px 20px;
            border: none;
            width: 110px;
            float: right;
            cursor: pointer;
            margin-top: -1px;
        }

    .search_icon {
        margin: 9px 0px 0px -100px;
        float: left;
    }

    .clssbox_button_icon {
        float: left;
        width: 30px;
    }
</style>

<div class="divCover" id="legalsearch_div" style="">
    <div class="box_title"><label style=""> @WebApps.Resources.Resource.TimKiem </label></div>
    <div class="clssbox_search">
        <select id="cbo_searchtype" onchange="FunChooseSearchtype()">
            <option value="1">
                @WebApps.Resources.Resource.TinhTrangDon
            </option>
            <option value="2">
                @WebApps.Resources.Resource.LuatSu
            </option>
            @if (_user_type != 3)
            {
                <option value="3">
                    @WebApps.Resources.Resource.KhachHang
                </option>
            }
            <option value="4">
                Wiki
            </option>
        </select>
        <input type="text" id="legalsearch_txtsearchcontent" placeholder="@WebApps.Resources.Resource.lblTenNhanHieu, @WebApps.Resources.Resource.CaseCode, @WebApps.Resources.Resource.CaseName,  @WebApps.Resources.Resource.TinhTrangDon, @WebApps.Resources.Resource.Processor, @WebApps.Resources.Resource.LoaiDon" />
        <div class="clssbox_button">
            <input type="button" style="" value="@WebApps.Resources.Resource.TimKiem" onclick="findObjects(1, 1)" />
        </div>
    </div>
    <div class="clssbox_button_icon">
        <img src="~/Content/images/magnify.svg" class="search_icon" />
    </div>

    <div>

        <input type="hidden" id="colSorted_1" />
        <input type="hidden" id="colSorted_2" />
        <input type="hidden" id="colSorted_3" />
        <input type="hidden" id="colSorted_4" />
        <input type="hidden" id="SortType_1" />
        <input type="hidden" id="SortType_2" />
        <input type="hidden" id="SortType_3" />
        <input type="hidden" id="SortType_4" />
    </div>

    <script>
        var _Keysearch = "";
        var _searchtype = "1";
        var _searchContent = "";
        var _arrKeySearch;

        function FunChooseSearchtype() {
            try {
                var _searchtype = $("#cbo_searchtype").val();
                if (_searchtype == 1) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.lblTenNhanHieu), @Html.Raw(Resource.CaseCode), @Html.Raw(Resource.CaseName), @Html.Raw(Resource.TinhTrangDon), @Html.Raw(Resource.Processor), @Html.Raw(Resource.LoaiDon) ')
                }
                if (_searchtype == 2) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TenLuatSu)')
                }
                if (_searchtype == 3) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TenKhachHang), @Html.Raw(Resource.QuocTich), @Html.Raw(Resource.MaDaiDien), @Html.Raw(Resource.NghanhNgheChinh)')
                } if (_searchtype == 4) {
                    $("#legalsearch_txtsearchcontent").attr("placeholder", '@Html.Raw(Resource.TieuDe) , hashtag')
                }
            } catch (e) {

            }
        }

        function findObjects(_pageNumber, _isSearching) {
            try {
                var _RecordonPage = 5;
                if (_isSearching === 1) {
                    _searchtype = $("#cbo_searchtype").val();
                    _searchContent = $("#legalsearch_txtsearchcontent").val();
                    _Keysearch = _searchtype + "|" + _searchContent;
                } else {
                    _arrKeySearch = _Keysearch.split('|');
                    _searchtype = _arrKeySearch[0];
                    _searchContent = _arrKeySearch[1];
                    $("#cbo_searchtype").val(_searchtype);
                    $("#legalsearch_txtsearchcontent").val(_searchContent);
                }
                _optionFilter = "";

                if (_searchtype == "1") {
                    //Tình trạng đơn
                }
                if (_searchtype == "2") {
                    //Luật sư
                }
                if (_searchtype == "3") {
                    //Khách hàng
                }
                if (_searchtype == "4") {
                    //Wiki
                }
                var orderby = $("#colSorted_" + _searchtype).val();
                var orderType = $("#SortType_" + _searchtype).val();
                if (orderby.indexOf("NUMBER_TEXT") >= 0) {
                    orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
                }
                else if (orderby.indexOf("TITLE") >= 0) {
                    orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
                }
                else if (orderby.toLocaleUpperCase().indexOf("AGENCIE_NAME") >= 0) {
                    orderby = "NLSSORT(UPPER(" + orderby + "), 'NLS_SORT=vietnamese')";
                }
                var _optionFilter = orderby + "|" + orderType + "||" + _pageNumber + "|" + _RecordonPage

                var url = "/search/search-dashboard?searchtype=" + _searchtype + "&searchContent=" + _searchContent + "&options=" + _optionFilter;
                window.open(url);

                //$.ajax({
                //    type: "POST",
                //    headers: { "cache-control": "no-cache" },
                //    url: "/search-dashboard",
                //    data: {
                //        searchtype: _searchtype,
                //        keysSearch: _searchContent,
                //        options: _optionFilter
                //    },
                //    async: true,
                //    success: function (data) {
                //        if (data != null) {
                //            $("#LegalSearchdivTable").html(data);
                //        }
                //    }
                //});
                //return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }
        }

        function jsPaging(_page) {
            try {
                findObjects(_page, 0);
            } catch (e) {
                alert(e.toString());
            }
        }


        function HomeSortByCol(value, _Searchtype) {
            try {
                //Lay gia tri luu trong colSort luu duoi dang text Hidden
                var _currentColSorted = $("#colSorted_" + _Searchtype).val();
                //Lay gia tri luu trong SortType luu duoi dang text Hidden
                var _currentSortedType = $("#SortType_" + _Searchtype).val();
                var tag = "#" + value;
                if (_currentColSorted == value) {
                    if (_currentSortedType == "ASC") {
                        $("#SortType_" + _Searchtype).val("DESC");
                    }
                    else {
                        $("#SortType_" + _Searchtype).val("ASC");
                    }
                }
                else {
                    $("#colSorted_" + _Searchtype).val(value);
                    $("#SortType_" + _Searchtype).val("ASC");
                }
                var pos = document.getElementById("tableList_" + _Searchtype).parentElement.scrollLeft;
                //Sort lai thi ve trang dau
                findObjects(1, 0, _Searchtype);
                //Sort lai thi ve trang dau
                document.getElementById("tableList_" + _Searchtype).parentElement.scrollLeft = pos;
            } catch (e) {
                console.info(e.toString());
            }
        }

        function HomeChangeIConSortWhenSortColumns(_Searchtype) {
            try {
                var _order_by = $("#colSorted_" + _Searchtype).val();
                var _order_type = $("#SortType_" + _Searchtype).val();
                var _text = _order_type == 'DESC' ? $("#" + _order_by + "_" + _Searchtype).text() + " ▼" : $("#" + _order_by + "_" + _Searchtype).text() + " ▲";
                $("#" + _order_by + "_" + _Searchtype).text(_text);
            }
            catch (e) {
            }
        }


        function viewDetailUser(userId, username) {
            $.ajax({
                type: "POST",
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/view-detail-user",
                headers: { "cache-control": "no-cache" },
                async: false,
                data: { userId: userId },
                success: function (data) {
                    if (data != null) {
                        if (validateResponse(data)) {
                            $("#divPopUpUser").html(data);
                            ShowPopupDialog_Ipace('divWrapperPopUpUser', "Chi tiết người dùng: <span class='data-in-title-popup'>" + username + "</span>", 900, 900);
                        }
                    }
                    return false;
                }
            });
        }

        function ClosePopUpUser() {
            CloseDivPopUp('divWrapperPopUpUser');
        }
    </script>
</div>
