@using Common.CommonData
@using Common.Extensions
@model List<ObjectInfos.ModuleUsersAndRoles.GroupUserInfo>
@try
{
	<div>
		<table class="table-lst-data" id="tableListGroupUser">
			<thead>
				<tr>
					<th style="width: 4%">STT</th>
					<th data-sort id="Name" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Tên nhóm</th>
					<th style="width: 15%" data-sort id="LastTimeUpdated">Cập nhật lúc</th>
					<th style="width: 100px;">Chức năng</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.Count > 0)
				{
					foreach (var item in Model)
					{
						<tr>
							<td class="tdcenteralign">@item.Stt</td>
							<td class="tdleftalign">@item.Name</td>
							<td class="tdleftalign">@item.LastTimeUpdated.ToDateTimeStringN0()</td>
							<td class="tdcenteralign">
								<a href="javascript:getViewToEditGroupUser(@item.Id, '@item.Name')" class="icon icon-edit" data-title="Sửa"></a>
								<a href="javascript:doDeleteGroupUser(@item.Id, @item.NumberUsersInGroup)" class="icon icon-delete" data-title="Xóa"></a>
								<a href="javascript:setupFunctionsToGroup(@item.Id, '@item.Name')" class="icon icon-group-setting" data-title="Phân quyền cho nhóm"></a>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="4">Không có dữ liệu</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="d-paging">
		@Html.Raw(ViewBag.Paging)
	</div>
}
catch (Exception)
{
	// ignored
}
