@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using WebApps.Resources;
@{
    ViewBag.Title = "C02";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("C02");

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Detail_C02_Info _App_Detail = new App_Detail_C02_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_C02_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }

    List<AppDocumentOthersInfo> _LstDocumentOthersInfo = new List<AppDocumentOthersInfo>();
    if (ViewBag.lstDocOther != null)
    {
        _LstDocumentOthersInfo = (List<AppDocumentOthersInfo>)ViewBag.lstDocOther;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
      .div-search-title > .width_max {
        width: 200px;
    }
    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">C.02 gia hạn, duy trì VBBH</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@_AppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> C.02 gia hạn, duy trì VBBH</legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName_View.cshtml", "0")

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon_View.cshtml")

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon_View.cshtml")
        @* end 2 *@

        @* end 2 *@

        @* 3 - ĐƠN YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                ĐỐI TƯỢNG YÊU CẦU GIA HẠN/DUY TRÌ
            </div>
        </div>


        @if (_App_Detail.App_Change_Type == 1)
        {
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input disabled checked type="radio" class="" name="type_detail" id="type_detail_1" value="1">
                        <label> Bằng độc quyền kiểu dáng công nghiệp </label>
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số văn bằng bảo hộ:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="App_No_Change_1" value="@_App_Detail.App_No_Change" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Các phương án cần gia hạn:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="App_Change_Detail_1" placeholder="Mô tả" maxlength="200" value="@_App_Detail.App_Change_Detail" />
                    </div>
                </div>
            </div>

        }
        else if (_App_Detail.App_Change_Type == 2)
        {
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input disabled checked type="radio" class="" name="type_detail" id="type_detail_2" value="2" onchange="return ShowHiden_Type('2')">
                        <label> Giấy chứng nhận đăng ký nhãn hiệu </label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số văn bằng bảo hộ:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="App_No_Change_2" value="@_App_Detail.App_No_Change" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Các nhóm hoặc sản phẩm, dịch vụ cần gia hạn:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="App_Change_Detail_2" placeholder="Mô tả" maxlength="200" value="@_App_Detail.App_Change_Detail" />
                    </div>
                </div>
            </div>
        }
        else if (_App_Detail.App_Change_Type == 3)
        {
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input disabled checked type="radio" class="classNguonGoc" name="type_detail" id="type_detail_3" value="3" onchange="return ShowHiden_Type('3')">
                        <label> Bằng độc quyền sáng chế</label>
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số bằng độc quyền:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="App_Change_Detail_3" maxlength="50" value="@_App_Detail.App_Change_Detail" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input disabled checked type="radio" class="classNguonGoc" name="type_detail" id="type_detail_4" value="4" onchange="return ShowHiden_Type('4')">
                        <label> Bằng độc quyền giải pháp hữu ích</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số điểm yêu cầu bảo hộ độc lập:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="txtPoint" onkeyup="jsFormatNumber(this.value, this.id)" value="@_App_Detail.Number_Point" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Năm duy trì hiệu lực:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input disabled type="text" id="txtYear" onkeyup="jsFormatNumber(this.value, this.id)" value="@_App_Detail.Number_Year" />
                    </div>
                </div>
            </div>
        }



        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @foreach (var itemdoc in _lst_doc)
        {
            if (dic_appDoc.ContainsKey(itemdoc.Doc_Id))
            {
                string _width = "";
                string _vl_isuse = dic_appDoc[itemdoc.Doc_Id].Isuse.ToString();
                string _vl_char01 = dic_appDoc[itemdoc.Doc_Id].CHAR01;
                string _vl_url = dic_appDoc[itemdoc.Doc_Id].Url_Hardcopy;
                string _vl_char02 = dic_appDoc[itemdoc.Doc_Id].CHAR02;

                string _model = itemdoc.Doc_Id + "|" + itemdoc.Check_Box_Id + "|" + itemdoc.Doc_Level + "|" + itemdoc.Content_1 + "|" + itemdoc.Content_2 + "|" + itemdoc.Is_Upload.ToString() + "|" + _width + "|" + itemdoc.Content_3;
                _model += ";" + _vl_isuse + "|" + _vl_char01 + "|" + _vl_url + "|" + _vl_char02;

                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model)

            }
        }

        @*TÀI LIỆU KHÁC*@
        @if (_LstDocumentOthersInfo.Count > 0)
        {
            @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others_View.cshtml")
        }

        @* Cam kết của hủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_View.cshtml", _camket)
        }

        <div class="class_save">
            <div class="classGuiDon">
                @if (_AppHeaderInfo.Status == (int)Common.CommonData.CommonEnums.App_Status.Luu_tam)
                {
                    <input type="button" value="@Resource.btnGuiDon" onclick="return do_GuiDon('@_AppHeaderInfo.Case_Code')" id="btnGuiDon" class="btn class_37" />
                }
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/C02/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#0_txtCase_Name").focus();
    });

    function do_GuiDon(_case_code) {
        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
            $.ajax({
                url: '/trade-mark-mana/quan-ly-don/do-gui-don',
                type: 'POST',
                data: {
                    p_case_code: _case_code 
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            window.location.href = "/home";
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }
</script>
