@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using ObjectInfos;
@{
    ViewBag.Title = "C01";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("C02");
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

      .div-search-title > .width_max {
        width: 200px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">C.02 gia hạn, duy trì VBBH</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> @Resource.TM3B_Legend</legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>
        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        @* end 2 *@

        @* 3 - Đối tượng  yêu cầu gia hạn, duy trì*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                ĐỐI TƯỢNG YÊU CẦU GIA HẠN/DUY TRÌ
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" class="" name="type_detail" id="type_detail_1" value="1" onchange="return ShowHiden_Type('1')">
                    <label> Bằng độc quyền kiểu dáng công nghiệp </label>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone _detail" id="Type_1" style="margin-top: 5px; background:#fbf4f4">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số văn bằng bảo hộ:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon"/>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Các phương án cần gia hạn:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon"  placeholder="Mô tả" maxlength="200"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" class="" name="type_detail" id="type_detail_2" value="2" onchange="return ShowHiden_Type('2')">
                    <label> Giấy chứng nhận đăng ký nhãn hiệu </label>
                </div>
            </div>
        </div>
        <div class="clssDisplaynone _detail" id="Type_2" style="margin-top: 5px; background:#fbf4f4">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số văn bằng bảo hộ:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Các nhóm hoặc sản phẩm, dịch vụ cần gia hạn:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon" placeholder="Mô tả" maxlength="200" />
                    </div>
                </div>
            </div>
        </div>



        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" class="classNguonGoc" name="type_detail" id="type_detail_3" value="3" onchange="return ShowHiden_Type('3')">
                    <label> Bằng độc quyền sáng chế</label>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone _detail" id="Type_3" style="margin-top: 5px; background:#fbf4f4">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số bằng độc quyền:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon" />
                    </div>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" class="classNguonGoc" name="type_detail" id="type_detail_4" value="4" onchange="return ShowHiden_Type('4')">
                    <label> Bằng độc quyền giải pháp hữu ích</label>
                </div>
            </div>
        </div>
        <div class="clssDisplaynone _detail" id="Type_4" style="margin-top: 5px; background:#fbf4f4">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Số điểm yêu cầu bảo hộ độc lập:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtPoint" onkeyup="jsFormatNumber(this.value, this.id)"/>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div class="width_max">Năm duy trì hiệu lực:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtYear" onkeyup="jsFormatNumber(this.value, this.id)"/>
                    </div>
                </div>
            </div>

        </div>

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>
        @foreach (Sys_Document_Info item in _lst_doc)
        {
            string _model = item.Doc_Id + "|" + item.Check_Box_Id + "|" + item.Doc_Level + "|" + item.Content_1 + "|" + item.Content_2 + "|" + item.Is_Upload + "|" + item.Width + "|" + item.Content_3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model)
        }
        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml")

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

<script>
    function ShowHiden_Type(type) {
        try{
            if(type == '1'){
                if ($("#type_detail_1").is(':checked')) {
                    $("._detail").addClass("clssDisplaynone");
                    $("#Type_1").removeClass("clssDisplaynone");
                    $("#txt_PCT_SoDon").focus();
                }
                else {
                    $("#Type_1").addClass("clssDisplaynone");
                }
            } else if (type == '2') {
                if ($("#type_detail_2").is(':checked')) {
                    $("._detail").addClass("clssDisplaynone");
                    $("#Type_2").removeClass("clssDisplaynone");
                    $("#txt_PCT_SoDon").focus();
                }
                else {
                    $("#Type_2").addClass("clssDisplaynone");
                }
            } else if (type == '3') {
                if ($("#type_detail_3").is(':checked')) {
                    $("._detail").addClass("clssDisplaynone");
                    $("#Type_3").removeClass("clssDisplaynone");
                    $("#txt_PCT_SoDon").focus();
                }
                else {
                    $("#Type_3").addClass("clssDisplaynone");
                }
            } else if (type == '4') {
                if ($("#type_detail_4").is(':checked')) {
                    $("._detail").addClass("clssDisplaynone");
                    $("#Type_4").removeClass("clssDisplaynone");
                    $("#txt_PCT_SoDon").focus();
                }
                else {
                    $("#Type_4").addClass("clssDisplaynone");
                }
            }
        } catch (ex) {
            console.log(ex)
        }
    }

    $(document).ready(function () {
        $("#0_txtCase_Name").focus();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });
        } catch (e) {
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });



    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }
    }

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    $("#ckb_DOC_11").change(function () {
        if ($("#ckb_DOC_11").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });

</script>