@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Quản lý notify";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string language = WebApps.Session.SessionData.CurrentUser.Language;
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;

    List<AllCodeInfo> _lstPayStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("BILLING", "PAY_STATUS");
    var lstPayStatus = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstPayStatus.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));


    List<AllCodeInfo> _lstStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("TODO", "STATUS");
    var lstStatus = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstStatus.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));

    string _type = "";
    if (ViewBag.Type != null)
    {
        _type = (string)ViewBag.Type;
    }
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .main-content {
        background-color: #E9EAEF;
        padding: 10px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLy</a>
        <span class="red">></span>
        <a href="/quan-ly-notify/danh-sach-notify">Quản lý notify</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main" style="background-color: #E9EAEF;">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="todo_id" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div id="divTitle" class="div-title-content clssDisplaynone"> THÔNG TIN @_type</div>
        </div>
    </div>

    @*Notify*@
    @*<div class="divCover" style="float:left;width:100%">
            @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
        </div>*@

    <div class="divCover smb_content" id="div-search-simple">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CaseCode</div>
            </div>
            <div>
                <div>
                    <input style="width: 250px;" type="text" id="txtAppCaseCode" data-controlcondition="TRUE" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Nguoigui</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" style="width: 250px;" id="txtRequestBy" data-controlcondition="TRUE" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Processor</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtReponseBy" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai  </div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboStatus">
                        <option value="ALL">-- ALL --</option>
                        @foreach (var item in _lstStatus)
                        {
                            if (item.CdVal == "0")
                            {
                                <option selected="selected" value="@item.CdVal">@item.Content</option>
                            }
                            else
                            {
                                <option value="@item.CdVal">@item.Content</option>
                            }
                        }
                    </select>
                    @*@Html.DropDownList("cboStatus", lstStatus, new { @id = "cboStatus" })*@
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="@WebApps.Resources.Resource.TimKiem" class="btn-default" onclick="Search_Notify(1, 1)" />
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Detail_Notify.cshtml", _type)
    </div>

    <div class="divCover">
        <div id="divDataNotify" class="divDataTables" style="overflow-x: auto;">
            @*@Html.Partial("~/Areas/Manager/Views/Notify/_PartialTableNotify.cshtml")*@
            @if (_type == "TODO")
            {
                @Html.Partial("~/Areas/Home/Views/Shared/HomeToDoBox.cshtml")
            }
            else if (_type == "ORDER")
            {
                @Html.Partial("~/Areas/Home/Views/Shared/_OrderData.cshtml")
            }
            else if (_type == "REMIND")
            {
                @Html.Partial("~/Areas/Home/Views/Shared/_RemindData.cshtml")
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txtAppCaseCode').focus();
        $("#cboStatus").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                Search_Notify(1, 1);
            }
        });

        //Search_Notify(1, 1);
    });

    function OrderChangeIConSortWhenSortColumns() {
    }

    function TodoChangeIConSortWhenSortColumns() {

    }

    function RemindChangeIConSortWhenSortColumns() {

    }

    function jsPaging(page) {
        Search_Notify(page, 0);
    }

    function Search_Notify(p_NumPage, p_type) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var _type = $("#txtType").val();
            if (_type == null || _type == "") {
                _type = '@_type';
            }

            var p_keysearch;
            if (p_type == 1) {

                var _txtAppCaseCode = $("#txtAppCaseCode").val();
                if (_txtAppCaseCode == "") {
                    _txtAppCaseCode = "ALL";
                }

                var _txtRequestBy = $("#txtRequestBy").val();
                if (_txtRequestBy == "") {
                    _txtRequestBy = "ALL";
                }

                var txtReponseBy = $("#txtReponseBy").val();
                if (txtReponseBy == "") {
                    txtReponseBy = "ALL";
                }

                var _Status = $("#cboStatus").val();

                p_keysearch = _type + "|" + _txtAppCaseCode + "|" + _Status + "|" + _txtRequestBy + "|" + txtReponseBy  ;

                //Lưu lại keysearch
                $("#txtKeyValue").val(p_keysearch);

            } else {
                p_keysearch = $("#txtKeyValue").val();
            }
            var p_column = $("#txtSortColumn").val();
            var p_type_sort = $("#txtSortType").val();

            $.ajax({
                type: 'POST',
                url: '/quan-ly-notify/danh-sach-notify/search/',
                data: {
                    p_keysearch: p_keysearch,
                    p_CurrentPage: p_NumPage,
                    p_column: p_column,
                    p_type_sort: p_type_sort
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataNotify").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    function GetView2View_Notify(_id, _app_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-notify/danh-sach-notify/show-view-notify?id=" + _id + "&case_code=" + _app_case_code;
            window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }


</script>
