@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using WebApps.Resources;
@{
    ViewBag.Title = "yêu cầu cấp chứng chỉ hành nghề dịch vụ đại diện sở hữu công nghiệp";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }

    var b03_info = new E01_Info();
    if (ViewBag.B03_Info != null)
    {
        b03_info = ViewBag.B03_Info;
    }

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("E01");
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">Tờ khai yêu cầu cấp chứng chỉ hành nghề dịch vụ đại diện sở hữu công nghiệp</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />
<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> Tờ khai yêu cầu cấp chứng chỉ hành nghề dịch vụ đại diện sở hữu công nghiệp </legend>
        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @foreach (Sys_Document_Info item in _lst_doc)
        {
            string _model = item.Doc_Id + "|" + item.Check_Box_Id + "|" + item.Doc_Level + "|" + item.Content_1 + "|" + item.Content_2 + "|" + item.Is_Upload + "|" + item.Width + "|" + item.Content_3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model)
        }

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>


    </fieldset>
</div>

@Html.Partial("~/Areas/Patent/Views/E01/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>
<script>
    $(document).ready(function () {
        //Search suggestion
        var Name = $("#txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#txtTenDayDu").val(arrVal[0]);
                            $("#txtDiaChi").val(arrVal[1]);
                            $("#txtDienThoai").val(arrVal[2]);
                            $("#txtFax").val(arrVal[3]);
                            $("#txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });
    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });

        } catch (e) {
            console.log(e);
        }
    });
    function funGetData(ptype) {
        try{
            var formData = new FormData();
            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                return false;
            }
            formData.append("pInfo.Appcode", v_AppCode);
            if (ptype == 1) {
                if (funcThongTinChuDon_SaveTem(formData, "1") != true) {
                    return false;
                }
            } else if (ptype == 2) {
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
            }
            formData.append("pInfo.Status", ptype);
            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }
            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/lg-patentE01/register',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        if (ptype == 1) {
                            jAlert('@Html.Raw(Resource.LuuTamThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jAlert('@Html.Raw(Resource.GuiDonThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        }
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });

        } catch (ex) {
            console.log(ex);
        }
    }


    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            // 1
            // 1
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_00", "0");
            formData.append("pAppDocumentInfo[0].CHAR01","");


            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_01", "1");
            formData.append("pAppDocumentInfo[1].CHAR01","");



            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_02", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_03", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", "");
    

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_04", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", "");



        } catch (e) {
            console.log(e);
        }



    }
    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }

</script>