@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<Email_Info> _list_data = new List<Email_Info>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }
}

<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th class="class150" style="width:12%"> @WebApps.Resources.Resource.Nguoigui</th>
                <th class="class150 m20">@WebApps.Resources.Resource.NguoiNhan</th>
                <th class="class100 m20">@WebApps.Resources.Resource.ChuDe</th>
                <th class="class100 hidemobile">@WebApps.Resources.Resource.TrangThai</th>
                <th class="class30">@WebApps.Resources.Resource.ChucNang</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">@item.STT</td>
                        <td class="tdleftalign">@item.EmailFrom</td>
                        <td class="tdleftalign">@item.EmailTo</td>
                        <td class="tdcenteralign">@item.Subject</td>
                        <td class="tdcenteralign hidemobile">@item.Status_Name</td>

                        <td class="tdcenteralign">
                            <a href="javascript:;" onclick="getView(@item.Id, '')" class="icon icon-info" data-title="Xem chi tiết"></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
