@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Xem Email";
    Layout = "~/ViewsShared/_Layout.cshtml";
    Email_Info _Email_Info = new Email_Info();
    if (ViewBag.Email_Info != null)
    {
        _Email_Info = (Email_Info)ViewBag.Email_Info;
    }

    if (_Email_Info.lst_attachment == null || _Email_Info.lst_attachment == "")
    {
        _Email_Info.lst_attachment = "";
    }

    string[] _arr_attach = _Email_Info.lst_attachment.Replace(@"C:\inetpub\wwwroot\Dropbox\LEGALTECH", "").Replace(@"\\", @"\").Split(',');
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }

    .none_style a {
        padding: 0;
        /* height: 27px; */
        border: none;
        /* border-left: none; */
        text-decoration: underline;
        color: #02961E;
    }
</style>

<script>
    var _isSimpleEditorToolBar = 0;// set cho ckfinder có cấu hình xoạn thảo đơn giản
</script>
<script src="~/Content/ckeditor/ckeditor.js"></script>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-email/danh-sach-email">Quản lý email</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> CHI TIẾT EMAIL </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Chủ để</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtSubject" value="@_Email_Info.Subject" disabled />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Người gửi</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtFrom" value="@_Email_Info.EmailFrom" disabled />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Email người nhận</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtTo" value="@_Email_Info.EmailTo" disabled />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>CC</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtCC" value="@_Email_Info.EmailCC" disabled />
            </div>
        </div>
    </div>

    @foreach (string item in _arr_attach)
    {
        if (item != "")
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.FileDinhKem</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @{
                            string _a = item.Replace(@"\", ";");
                            string[] _ar = _a.Split(';');
                            string file_name = _ar.Length == 0 ? "" : _ar[_ar.Length - 1];
                        }
                        <a style="height: 20px !important;" download="@item" href="@item"> @file_name </a>
                    </div>
                </div>
            </div>
        }
    }

    <div class="div-search-ad">
        <div class="div-search-title" style="height:200px">
            <div>Nội dung<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <p class="none_style" style="width:100%; height:200px; border:1px solid #aaa; border-left: none; padding: 0 10px; overflow: auto">@Html.Raw(_Email_Info.Content)</p>
                @*<textarea maxlength="4000" rows="10" style="height:202px; width:100%" id="txtBody" disabled>@Html.Raw(_Email_Info.Content)</textarea>*@
            </div>
        </div>
    </div>



</div>

<script>

</script>
