@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@{
    ViewBag.Title = "Conversion of international trademark";
    Layout = "~/ViewsShared/_Layout.cshtml";


    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }
    C07_Info _App_Detail = new C07_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (C07_Info)ViewBag.App_Detail;
    }
    string language = AppsCommon.GetCurrentLang();
    string _Logourl = "";
    if (ViewBag.Logourl != null)
    {
        _Logourl = (string)ViewBag.Logourl;
    }


    string urlMauNhanHieu = "/Content/images/Noimg.jpg";
    string urlLogoChu = "";
    if (!string.IsNullOrEmpty(_Logourl))
    {
        urlMauNhanHieu = _Logourl.Replace("~", "");
    }
    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode(ViewBag.AppCode);
    List<App_Detail_TM06DKQT_Info> _ListTM06nhdetail = new List<App_Detail_TM06DKQT_Info>();
    if (ViewBag.ListTM06nhdetail != null)
    {
        _ListTM06nhdetail = ViewBag.ListTM06nhdetail;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
    .div-radio
    {
    min-width:100px;
    }

</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">Registration of the Geographical Indication</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">  Registration of the Geographical Indication </legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Đăng ký nhãn hiệu chuyển đổi")

            <div class="class_full_div_input_extent">
                <div class="class_left_40">
                    <div class="class_block_title_control" style="display:flex;margin-top: 10px;">
                        <div style="width:165px ;height:165px;margin-left: 10px;" id="divLogo">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container" id="divckbNhanHieuAnh" style="flex-grow:1;padding-top:50px">
                        </div>
                    </div>
                </div>
                
                <div class="class_right_60" style="display:block">
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <label>
                                    Đăng ký quốc tế nhãn hiệu đã bị mất hiệu lực tại nước xuất xứ theo quy định tại Điều 9 của Nghị định thư Madrid

                                </label>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Số đăng ký quốc tế:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <select id="cbo_SODK_QUOCTE" onchange="chooseAppTm06($(this).val())">
                                    <option>
                                        Nhập số ĐK
                                    </option>
                                    @foreach (var item in _ListTM06nhdetail)
                                    {
                                        <option value="@item.APP_HEADER_ID">
                                            @item.APPNO
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                     
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Ngày đăng ký quốc tế:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input class="datetimepicker" type="text" id="_txtNGAY_DK_QUOCTE" maxlength="10" />
                            </div>
                        </div>
                        <div class="div-search-title">
                            <div style="width:230px">
                              Ngày ưu tiên của đơn đăng ký quốc tế:
                            </div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input class="datetimepicker" type="text" id="_txtNGAY_UT_DKQT" maxlength="10" />
                            </div>
                        </div>
                      </div>
                       
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div style="width:230px">
                            Chủ nhãn hiệu(Tên, địa chỉ)
                            </div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" id="_txtCHUNH_TEN" maxlength="500" />
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <label>Danh mục và nhóm hàng hoá, dịch vụ yêu cầu 
                                đăng ký nhãn hiệu chuyển đổi</label>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                 <input  type="radio" name="0_TRANGTHAIDANGKY" class="classNhanHieu" value="GIUNGUYEN" id="cbo_giunguyen" onclick="ChangeTrangThaiDK()" />
                                  <label>Giữ nguyên trong đăng ký quốc tế</label>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <input checked="checked" type="radio" name="0_TRANGTHAIDANGKY" class="classNhanHieu" value="RUTGON" id="cbo_rutgon" onclick="ChangeTrangThaiDK()" />
                                <label>Thu hẹp hàng hóa, dịch vụ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>
        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        @* end 2 *@

        <div id="div_appclass_Tm06">
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTMAddAppClass.cshtml")
        </div>

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

         
        @foreach (Sys_Document_Info item in _lst_doc)
        {
            string _model = item.Doc_Id + "|" + item.Check_Box_Id + "|" + item.Doc_Level + "|" + item.Content_1 + "|" + item.Content_2 + "|" + item.Is_Upload + "|" + item.Width + "|" + item.Content_3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model)
        }

          
 

        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml")

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")


        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>
@Html.Partial("~/Areas/DKQT/Views/C07/_PartialPreview_IU.cshtml")

<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview"> 
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>

    function chooseAppTm06(_id) {
        try {
            var imgMauNhanHieu = $("#imgMauNhanHieu");
           // var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            var div_PartialThongTinChuDon = $("#div_PartialThongTinChuDon");
            var div_appclass_Tm06 = $("#div_appclass_Tm06");
            $.ajax({
                url: '/trade-mark-share-data/get-tm06DKQT-info',
                type: 'POST',
                data: { pAppHeaderId: _id, p_idchudon: "1", p_iddaidienchudon: "2", p_idappclass: "" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        imgMauNhanHieu.attr("src", data.LogoURL);
                        //_1_txtNgayNopDon.val(data.NgayNopDon);
                        div_PartialThongTinChuDon.html(data.ViewChuDon);
                        div_appclass_Tm06.html(data.ViewAppClass);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }
    }

     
    function ChangeTrangThaiDK() {
        try {
            
        } catch (e) {
            alert(e.message);
        }
    }

    function onChangeTLKhac() {
        try {
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                $("#divTLKhac").removeClass("clssDisplaynone");
            } else {
                $("#divTLKhac").addClass("clssDisplaynone");
            }
        } catch (e) {
            console.log(e);
        }
    }
     
    $("#ckb_Doc_13").change(function () {      
        if ($("#ckb_Doc_13").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });
      

    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
        $("#0_txtCase_Name").focus();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });

        // nếu có appno
        if ('@_App_No' != "") {
            $("#0_txtDonSo").val('@_App_No');
            onChangeAppNo();
        }
    });

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e.message);
        }
    });


    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e.message);
        }
    });

    function funGetData(p_Status) {
        try {

            var _showerror = 0;
            if (p_Status == 2) {
                _showerror = 1;
            }

            //Thông tin chủ đơn
            var formData = new FormData();

            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin detail
            reponse = funcGetAppDetail(formData, _showerror);
            if (reponse == false) {
                return false;
            }

            if (funcThongTinChuDon(formData, "1") != true) {
                return false;
            }
 
             
            if (funcChuDonKhac(formData) != true) {
                return false;
            }

            formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin)');
            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                return false;
            }

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                showError('@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)');
                $("#_2_rdoNguoiDaiDienPL").focus()
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Status", p_Status);

            //Lấy thông tin tài liệu có trong đơn
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                formData.append("pInfo.USE_DOC_OTHERS", 1);
            } else {
                formData.append("pInfo.USE_DOC_OTHERS", 0);
            }

            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            //Tài liệu khác trong đơn
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }


            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/conversion-international-trademark/register',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        var _mess = '@Html.Raw(Resource.GuiDonThanhCong)';
                        if (p_Status == "1") {
                            _mess = '@Html.Raw(Resource.LuuTamThanhCong)';
                        }
                        jAlert(_mess, ThongBao, function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e.message);
                }
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e.message);
        }
    }


    function funcGetAppDetail(formData, p_ShowError) {
        try {
            var _txtDangKySo = $("#_txtDangKySo");
            var _txtNgayDangKy = $("#_txtNgayDangKy");
            var cbo_nuocdangky = $("#cbo_nuocdangky");
            var _txtTCQL_Ten = $("#_txtTCQL_Ten");
            var _txTCQL_DiaChi = $("#_txTCQL_DiaChi");
            var _txtTCQL_Tel = $("#_txtTCQL_Tel");
            var _txtTCQL_Fax = $("#_txtTCQL_Fax");
            var _txtTCQL_Email = $("#_txtTCQL_Email");
            var _txtTenSanPham = $("#_txtTenSanPham");
            var _txtSP_TomTat = $("#_txtSP_TomTat");
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files.length > 0) {
                formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else if (p_ShowError == 1) {
                showError('Chưa upload ảnh chỉ dẫn địa lý');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
           }
            if (p_ShowError == 1) {
                if ($("#cbo_dadk").is(':checked')) {
                    if (_txtDangKySo.val() == "")
                    {
                        showError('Đăng ký số không được để trống');
                        _txtDangKySo.focus();
                        return false;
                    }
                    if (_txtNgayDangKy.val() == "" || _txtNgayDangKy.val() == "__/__/____") {
                        showError('Ngày đăng ký không được để trống');
                        _txtNgayDangKy.focus();
                        return false;
                    }
                    if(cbo_nuocdangky.val() == "")
                    {
                        showError('Nước đăng ký không được để trống');
                        cbo_nuocdangky.focus();
                        return false;
                    }
                }
                if (_txtTCQL_Ten.val().trim() == "") {
                    showError('Tên tổ chức quản lý chỉ dẫn địa lý không được để trống');
                    _txtTCQL_Ten.focus();
                    return false;
                }
                if (_txTCQL_DiaChi.val().trim() == "") {
                    showError('Địa chỉ tổ chức quản lý chỉ dẫn địa lý không được để trống');
                    _txTCQL_DiaChi.focus();
                    return false;
                }
                if(_txtTenSanPham.val().trim() == "")
                {
                    showError('Tên sản phẩm không được để trống');
                    _txtTenSanPham.focus();
                    return false;
                }
               
               
            }
            
            if ($("#cbo_dadk").is(':checked')) {
                formData.append("pDetail.TRANGTHAIDANGKY", $("#cbo_dadk").val());
                formData.append("pDetail.SODANGKY", _txtDangKySo.val());
                formData.append("pDetail.NUOCDANGKY", cbo_nuocdangky.val());
                formData.append("pDetail.NGAYDANGKY", _txtNgayDangKy.val());

            } else
            {
                formData.append("pDetail.TRANGTHAIDANGKY", $("#cbo_chuadk").val());
                formData.append("pDetail.SODANGKY", "");
                formData.append("pDetail.NUOCDANGKY", "");
            }
            formData.append("pDetail.TCQLDL_TEN", _txtTCQL_Ten.val());
            formData.append("pDetail.TCQLDL_DIACHI", _txTCQL_DiaChi.val());
            formData.append("pDetail.TCQLDL_DIENTHOAI", _txtTCQL_Tel.val());
            formData.append("pDetail.TCQLDL_FAX", _txtTCQL_Fax.val());
            formData.append("pDetail.TCQLDL_EMAIL", _txtTCQL_Email.val());
            formData.append("pDetail.SANPHAM_TEN", _txtTenSanPham.val());
            formData.append("pDetail.SANPHAM_TOMTAT", _txtSP_TomTat.val());

            var txtMADDSHCN = $("#txtMADDSHCN").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (p_ShowError == 1 && v_RepMasterType == "DDPL" && txtMADDSHCN == "") {
                showError('@Resource.TM3C_MaDaiDienKhongDuocTrong');
                $("#txtMADDSHCN").focus()
                return false;
            }
            formData.append("pInfo.Customer_Code", txtMADDSHCN);
        } catch (e) {
            console.log(e.message);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }
     

     
      
     
    function onChangeChuDonKhac() {
        try {
            if ($("#rdChuDonKhac").is(':checked')) {
                $("#divChungDonKhac001").removeClass("clssDisplaynone");
            }
            else {
                $("#divChungDonKhac001").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }
     

    

    function ThemChuDon() {
        try {

            var _id = parseInt($("#txt_id_ChuDon").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/conversion-international-trademark/chu-don/them-chu-don/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divChuDonKhac").append(data);
                    $("#txt_id_ChuDon").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }


  

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            // 1
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_Doc_01").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_Doc_01_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_Doc_02").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_Doc_02_2").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_03", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_Doc_03").val());
            formData.append("pAppDocumentInfo[2].CHAR02", $("#txt_Doc_03_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_04", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_Doc_04").val());
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_Doc_04").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_Doc_05").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_Doc_06").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_07", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_Doc_07").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_08", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#txt_Doc_08").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_09", "8");



            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_10", "9");


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_11", "10");

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_12", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_Doc_12").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_13", "12");

        } catch (e) {
            console.log(e.message);
        }
    }


    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            if ($("#ckb_Doc_13").is(":checked") == true) {
                $(".clssListUpload").each(function () {
                    formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                    formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                    item++;
                });
            }  
            return true;
        } catch (e) {
            return false;
        }
    }

    


    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            console.log(e.message);
            return false;
        }
    }

    function funcChuDonKhac(formData) {
        try {
            var _index = 0;
            $(".clsChuDonKhac").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse_ChuDonKhac").val() == "1") {

                    formData.append("pOther_MasterInfo[" + _index + "].Master_Name", $("#" + _id + "_txtTenDayDu_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Address", $("#" + _id + "_txtDiaChi_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Phone", $("#" + _id + "_txtDienThoai_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Fax", $("#" + _id + "_txtFax_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Email", $("#" + _id + "_txtEmail_Khac").val());

                    if ($("#" + _id + "_ckbTacGiaDongThoi").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "TGDT");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "");
                    }

                    if ($("#" + _id + "_ckbPhoBan").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "PB");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "");
                    }

                    _index = _index + 1;
                }
            });
            return true;
        } catch (e) {
            return false;
        }
    }
   

</script>
