@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@{
    ViewBag.Title = "Conversion of international trademark";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string language = AppsCommon.GetCurrentLang();
    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    C07_Info _App_Detail = new C07_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (C07_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    List<Other_MasterInfo> Lst_Other_Master = new List<Other_MasterInfo>();
    if (ViewBag.Lst_Other_Master != null)
    {
        Lst_Other_Master = (List<Other_MasterInfo>)ViewBag.Lst_Other_Master;
    }

    List<AppDocumentOthersInfo> Lst_DocumentOthers = new List<AppDocumentOthersInfo>();
    if (ViewBag.Lst_DocumentOthers != null)
    {
        Lst_DocumentOthers = (List<AppDocumentOthersInfo>)ViewBag.Lst_DocumentOthers;
    }


    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }


    B_Todos_Info _todo = new B_Todos_Info();
    if (ViewBag.B_Todos_Info != null)
    {
        _todo = (B_Todos_Info)ViewBag.B_Todos_Info;
    }
    else
    {
        _todo = null;
    }

    decimal _max_Model_Id = Lst_Other_Master.Count + 1;
    List<App_Detail_TM06DKQT_Info> _ListTM06nhdetail = new List<App_Detail_TM06DKQT_Info>();
    if (ViewBag.ListTM06nhdetail != null)
    {
        _ListTM06nhdetail = ViewBag.ListTM06nhdetail;
    }
    
    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("C07");

}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }

    .div-radio {
        min-width: 100px;
    }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">Conversion of international trademark</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='C07' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> Conversion of international trademark</legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Đăng ký nhãn hiệu chuyển đổi")

            <div class="class_full_div_input_extent">
                <div class="class_left_40">
                    <div class="class_block_title_control" style="display:flex;margin-top: 10px;">
                        <div style="width:165px ;height:165px;margin-left: 10px;" id="divLogo">
                            <img id="imgMauNhanHieu" src="@_App_Detail.LOGOURL" style="width:160px ;height:160px">
                        </div>
                        <div class="container" id="divckbNhanHieuAnh" style="flex-grow:1;padding-top:50px">
                        </div>
                    </div>
                </div>

                <div class="class_right_60" style="display:block">
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <label>
                                    Đăng ký quốc tế nhãn hiệu đã bị mất hiệu lực tại nước xuất xứ theo quy định tại Điều 9 của Nghị định thư Madrid
                                </label>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Số đăng ký quốc tế:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" readonly="readonly" value="@_App_Detail.SODK_QUOCTE" />
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div style="width:160px">Ngày đăng ký quốc tế:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input  type="text"  readonly="readonly"
                                       value="@(_App_Detail.NGAY_DK_QUOCTE == DateTime.MinValue ? "" : _App_Detail.NGAY_DK_QUOCTE.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                        <div class="div-search-title">
                            <div style="width:230px">
                                Ngày ưu tiên của đơn đăng ký quốc tế:
                            </div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" readonly="readonly" value="@(_App_Detail.NGAY_UT_DKQT == DateTime.MinValue ? "" : _App_Detail.NGAY_UT_DKQT.ToString("dd/MM/yyyy"))" />
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div style="width:230px">
                                Chủ nhãn hiệu(Tên, địa chỉ):
                            </div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" readonly="readonly"
                                       value="@_App_Detail.CHUNH_TEN" />
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <label>
                                    Danh mục và nhóm hàng hoá, dịch vụ yêu cầu
                                    đăng ký nhãn hiệu chuyển đổi
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <input type="radio" name="0_TRANGTHAIDANGKY" class="classNhanHieu" 
                                       value="GIUNGUYEN" id="cbo_giunguyen" disabled />
                                <label>Giữ nguyên trong đăng ký quốc tế</label>
                            </div>
                        </div>
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <input type="radio" name="0_TRANGTHAIDANGKY" class="classNhanHieu" value="RUTGON"
                                        id="cbo_rutgon"disabled />
                                <label>Thu hẹp hàng hóa, dịch vụ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon_View.cshtml", "1")
        </div>


        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon_View.cshtml", "2")

        <div id="div_appclass_Tm06">
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTMAddAppClass.cshtml")
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3C_MaDaiDien:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" disabled id="txtMADDSHCN" value="@_AppHeaderInfo.Customer_Code" />
                </div>
            </div>
        </div>



        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        <div class="divCover cls_form_title">
            <b>@Resource.TaiLieuToiThieu.ToUpper()</b>
        </div>

        @foreach (var itemdoc in _lst_doc)
        {
            if (dic_appDoc.ContainsKey(itemdoc.Doc_Id))
            {
                string _doc_id = itemdoc.Doc_Id;
                string _ckb_doc = itemdoc.Check_Box_Id;
                string _level = itemdoc.Doc_Level;

                string _lebel = itemdoc.Content_1;
                string _sotrang = itemdoc.Content_2;

                string _is_upload = itemdoc.Is_Upload.ToString();
                string _width = "";

                string _lebel3 = itemdoc.Content_3;

                string _vl_isuse = dic_appDoc[itemdoc.Doc_Id].Isuse.ToString();
                string _vl_char01 = dic_appDoc[itemdoc.Doc_Id].CHAR01;
                string _vl_url = dic_appDoc[itemdoc.Doc_Id].Url_Hardcopy;
                string _vl_char02 = dic_appDoc[itemdoc.Doc_Id].CHAR02;

                string _model = _doc_id + "|" + _ckb_doc + "|" + _level + "|" + _lebel + "|" + _sotrang + "|" + _is_upload + "|" + _width + "|" + _lebel3;
                _model += ";" + _vl_isuse + "|" + _vl_char01 + "|" + _vl_url + "|" + _vl_char02;

                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model)

            }

        }

        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others_View.cshtml")

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_View.cshtml", _camket)
        }

        <div class="class_save">
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/DKQT/Views/C07/_PartialPreview.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>


<script>
      

    var _trangThaiDK = '@_App_Detail.YC_DK_NH_CHUYENDOI';

    function ChangeTrangThaiDK() {
        try {
        } catch (e) {
            alert(e.message);
        }
    }
    $(document).ready(function () {
        SetValRadioCheckBoxByName('0_TRANGTHAIDANGKY', _trangThaiDK);
        ChangeTrangThaiDK();
        funcShowOtherdocument();
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
        $("#0_txtCase_Name").focus();
    });

    $("#ckb_DOC_10").change(function () {
        funcShowOtherdocument();
    });
    function funcShowOtherdocument()
    {
        try {
            if ($("#ckb_DOC_10").is(":checked") == true) {
                $("#divContainerDocOther").css('display', 'block')
            } else {
                $("#divContainerDocOther").css('display', 'none');
            }
        } catch (e) {
            console.log(e);
        }
    }
    
</script>
