@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<UserInfo> _list_data = new List<UserInfo>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }
}

<div>
    <table class="table-lst-data" id="tableListUser">
        <thead>
            <tr>
                <th style="width: 4%">STT</th>
                <th data-sort id="Username" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Tên đăng nhập</th>
                <th style="width: 17%" data-sort id="FullName" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Họ tên</th>
                <th style="width: 10%" data-sort id="Status" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Trạng thái</th>
                <th style="width: 10%" data-sort id="Type" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Loại người dùng</th>
                <th style="width: 15%" data-sort id="Email" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Email</th>
                <th style="width: 10%" data-sort id="Phone" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Số điện thoại</th>
                <th style="width: 15%" data-sort id="LastTimeUpdated">Cập nhật lúc</th>
                <th style="width: 100px;">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (_list_data != null && _list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">@item.Stt</td>
                        <td class="tdleftalign"><a href="javascript:viewDetailUser(@item.Id, '@item.Username')">@item.Username</a></td>
                        <td class="tdleftalign">@item.FullName</td>
                        <td class="tdleftalign">@item.StatusDisplayName</td>
                        <td class="tdleftalign">@item.Type_Name</td>
                        <td class="tdleftalign">@item.Email</td>
                        <td class="tdleftalign">@item.Phone</td>
                        <td class="tdleftalign">@item.LastTimeUpdated.ToDateTimeStringN0()</td>
                        <td class="tdcenteralign">
                            <a href="javascript:viewDetailUser(@item.Id, '@item.Username')" class="icon icon-info" data-title="Xem chi tiết"></a>
                            @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin)
                            {
                                <a href="javascript:getViewToEditUser(@item.Id, '@item.Username')" class="icon icon-edit" data-title="Sửa"></a>
                                <a href="javascript:doDeleteUser(@item.Id, @item.IsActive().ToString().ToLower())" class="icon icon-delete" data-title="Xóa"></a>
                                <a href="javascript:getViewToResetPass('@item.Username')" class="icon icon-reset" data-title="Reset mật khẩu"></a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>
