@using BussinessFacade.ModuleUsersAndRoles;
@using Common.Extensions;
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model ObjectInfos.UserInfo
@{
    string _GroupName = "Chưa có nhóm quyền";
    if (Model.GroupSelectedCollection.Count > 0)
    {
        int _groupId = Model.GroupSelectedCollection[0];
        foreach (GroupUserInfo item in MemoryData.GetAllGroup())
        {
            if (item.Id == _groupId)
            {
                _GroupName = item.Name;
                break;
            }
        }
    }
}
@try
{
    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên đăng nhập<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Username, new { @id = "txtUsername" })
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Họ tên<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.FullName, new { @id = "txtFullName" })
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Ngày sinh</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.DateOfBirth, new
                        {
                            @id = "DateOfBirth",
                            @Value = Model.DateOfBirth == DateTime.MinValue ? "" : Model.DateOfBirth.ToString("dd/MM/yyyy")
                        })
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Giới tính</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.SexDisplayName)
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Số điện thoại<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Phone, new { @maxlength = "50" })
                    </div>
                </div>
                <div class="div-search-title">
                    <div>Email </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @maxlength = "50" })
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Loại người dùng<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Type_Name)
                    </div>
                </div>
                <div class="div-search-title">
                    <div>Trạng thái </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.StatusDisplayName)
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Nhóm</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_GroupName"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group-bottom">
                <input type="button" class="btn-default" value="Thoát" onclick="ClosePopUpUser()" style="width: auto;" />
            </div>
        </div>
    </div>
}
catch (Exception)
{
    // ignored
}