@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using ObjectInfos;
@using System.Linq;
@{
    ViewBag.Title = WebApps.Resources.Resource.ThemMoiNguoiDung;
    Layout = "~/ViewsShared/_Layout.cshtml";

    List<AllCodeInfo> _lstUserType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("USER", "USER_TYPE");
    _lstUserType.RemoveAll(m => m.CdVal == (Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.SupperAdmin)).ToString());
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 145px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-tri-he-thong/quan-ly-nguoi-dung"> @WebApps.Resources.Resource.QuanLyNguoiDung</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>


<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThemMoiNguoiDung</div>
        </div>
    </div>

    <div class="divCover">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LoaiNguoiDung<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboTypeAdd" style="width:200px" onchange="Choose_UserType()">
                        @foreach (var item in _lstUserType)
                        {
                            if (item.CdVal != Convert.ToInt16(CommonEnums.UserType.Customer).ToString() && item.CdVal != Convert.ToInt16(CommonEnums.UserType.Lawer).ToString())
                            {
                                <option value="@item.CdVal"> @item.Content </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboStatusAdd">
                        @foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.UserStatus))
                        {
                            <option value="@item.CdVal">
                                @item.Content
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NhomQuyen<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboGroupUser">
                        <option value="-1">None</option>
                        @foreach (var item in MemoryData.GetAllGroup())
                        {
                            <option value="@item.Id"> @item.Name </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenDangNhap<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtUsernameAdd" maxlength="64" onkeypress="funikeyNoSpace(this)" onkeyup="funikeyNoSpace(this)" />
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.HoTen<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtFullNameAdd" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.MatKhau<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="password" id="txtPasswordAdd" maxlength="64" style="height: 30px; width: 200px; border: 1px solid #aaa; border-left: none;padding-left: 5px; " />
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.MatKhauNhacLai<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="password" id="txtRePasswordAdd" maxlength="64" style="height: 30px; border: 1px solid #aaa; border-left: none;padding-left: 5px; " />
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.ThongTinKhac
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.DiaChi</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtAddress" maxlength="200" />
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblDienThoai<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtPhoneAdd" maxlength="16" style="width:200px" />
                </div>
            </div>
            <div class="div-search-title">
                <div>Fax</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtFaxAdd" maxlength="50" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Email<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtEmailAdd" maxlength="200" style="width:200px" />
                </div>
            </div>
            <div class="div-search-title">
                <div>Face</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtface_link" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Linkedin</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtlinkedin" maxlength="200" style="width:200px" />
                </div>
            </div>
            <div class="div-search-title">
                <div>Wechat</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtwechat_link" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Other link</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtOther_Link" maxlength="200" />
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == Common.Common.Country_VietNam_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>



        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NgaySinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtDateOfBirthAdd" maxlength="250" class="datetimepicker" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GioiTinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboSexAdd" style="width:200px">
                        @foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.SexType))
                        {
                            <option value="@item.CdVal">
                                @item.Content
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NguoiGioiThieu </div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboReferee">
                        <option value=""></option>
                        @foreach (var item in BussinessFacade.ModuleUsersAndRoles.UserBL.GetAllUsers())
                        {
                            <option value="@item.Username">@item.FullName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CongTy</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtCompany_Name" maxlength="200" style="width: 200px" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChucVu</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.BoPhan</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtDivision" maxlength="200" style="width: 200px" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TruongBoPhan</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtDirect_Supervisor" maxlength="200" />
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Luu" onclick="return doAddNewUser()" />
        </div>
    </div>
</div>

<script>
    var usernameAdd = '',
        fullNameAdd = '',
        passwordAdd = '',
        rePasswordAdd = '',
        dateOfBirthAdd = '',
        sexAdd = '',
        emailAdd = '',
        phoneAdd = '',
        statusAdd = '',
        typeAdd = '',
        GroupIdAdd = '';
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            //formatTime: 'H:i',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });

        Choose_UserType();

        $('#cboCountry').multipleSelect({
            filter: true,
            single: true,
            isdatastring: false,
            maxHeight: 150,
            placeholder: "-- @WebApps.Resources.Resource.ChonQuocTich --"
        });
    });

    function collectDataToAddNewUser(formData) {
        formData.append('userInfo.Username', usernameAdd);
        formData.append('userInfo.FullName', fullNameAdd);
        formData.append('userInfo.Address', $("#txtAddress").val());
        formData.append('userInfo.Password', passwordAdd);

        if (dateOfBirthAdd != "") {
            formData.append('userInfo.DateOfBirth', dateOfBirthAdd);
        }

        formData.append('userInfo.Sex', sexAdd);
        formData.append('userInfo.Email', emailAdd);
        formData.append('userInfo.Phone', phoneAdd);
        formData.append('userInfo.Fax', $("#txtFaxAdd").val());
        formData.append('userInfo.Type', typeAdd);
        formData.append('userInfo.Status', statusAdd);

        formData.append('userInfo.Country', $("#cboCountry").val());
        formData.append('userInfo.Face_Link', $("#txtface_link").val());
        formData.append('userInfo.Linkedin_Link', $("#txtlinkedin").val());
        formData.append('userInfo.Wechat_Link', $("#txtwechat_link").val());
        formData.append('userInfo.Other_Link', $("#txtOther_Link").val());

        formData.append('userInfo.Referee', $("#cboReferee").val());
        formData.append('userInfo.Company_Name', $("#txtCompany_Name").val());
        formData.append('userInfo.Title', $("#txtTitle").val());
        formData.append('userInfo.Division', $("#txtDivision").val());
        formData.append('userInfo.Direct_Supervisor', $("#txtDirect_Supervisor").val());

        formData.append('GroupId', GroupIdAdd);
    }

        function Choose_UserType() {
        try {
            typeAdd = $('#cboTypeAdd').val();

            @*if (typeAdd == '@Convert.ToInt16(Common.CommonData.CommonEnums.UserType.Customer)') {

                $("#clsCustomer").removeClass("clssDisplaynone");
                $("#clsCustomer1").removeClass("clssDisplaynone");
                $("#clsCustomer2").removeClass("clssDisplaynone");
                $("#clsCustomer3").removeClass("clssDisplaynone");
                $("#clsLawer").addClass("clssDisplaynone");
            }*@  
        } catch (e) {
            alert(e);
        }
    }

    function back() {
        var url = "/quan-tri-he-thong/quan-ly-nguoi-dung/";
        window.location.href = url;
    }

    function doAddNewUser() {
        if (validateFormAddNewUser()) {
            var formData = new FormData();
            collectDataToAddNewUser(formData);
            $.ajax({
                url: '/quan-tri-he-thong/quan-ly-nguoi-dung/do-add-user',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    if (data != null) {
                        CreateRollingWaitingIcon(false);
                        if (onResponse(data)) {
                            var url = "/quan-tri-he-thong/quan-ly-nguoi-dung/";
                            window.location.href = url;
                        }
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }

    function validateFormAddNewUser() {
        usernameAdd = $('#txtUsernameAdd').val().trim();
        fullNameAdd = $('#txtFullNameAdd').val().trim();
        passwordAdd = $('#txtPasswordAdd').val();
        rePasswordAdd = $('#txtRePasswordAdd').val();
        dateOfBirthAdd = $('#txtDateOfBirthAdd').val().trim();
        sexAdd = $('#cboSexAdd').val();
        emailAdd = $('#txtEmailAdd').val().trim();
        phoneAdd = $('#txtPhoneAdd').val().trim();
        typeAdd = $('#cboTypeAdd').val();
        statusAdd = $('#cboStatusAdd').val();
        GroupIdAdd = $('#cboGroupUser').val();
        if (usernameAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.TenDangNhap)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtUsernameAdd').focus();
            });
            return false;
        }

        if (fullNameAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.HoTen)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtFullNameAdd').focus();
            });
            return false;
        }

        if (passwordAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.MatKhau)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtPasswordAdd').focus();
            });
            return false;
        }
        if (rePasswordAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.MatKhauNhacLai)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtRePasswordAdd').focus();
            });
            return false;
        }
        if (passwordAdd.length < 6) {
            jError("@Html.Raw(WebApps.Resources.Resource.DoDaiMK)"  , "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtRePasswordAdd').focus();
            });
            return false;
        } else if (passwordAdd !== rePasswordAdd) {
            jError("@Html.Raw(WebApps.Resources.Resource.MatKhauKhongGiong)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtRePasswordAdd').focus();
                $("#txtRePasswordAdd").select();
            });
            return false;
        }

        //if ($("#txtAddress").val() === "") {
        //    jError("Địa chỉ không được để trống!", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
        //        $('#txtAddress').val('');
        //        $('#txtAddress').focus();
        //    });
        //    return false;
        //}

        if (dateOfBirthAdd != "" && dateOfBirthAdd != window.maskDateTime_N0 && isValidDate_N0(dateOfBirthAdd) === false) {
            jError("@Html.Raw(WebApps.Resources.Resource.NgaySinh)" + "@Html.Raw(WebApps.Resources.Resource.KhongDungDinhDang)" + " (dd/mm/yyyy)!", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtDateOfBirthAdd').focus();
            });
            return false;
        }

        if (phoneAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.DienThoaiKhongDuocDeTrong)" , "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtPhoneAdd').val('');
                $('#txtPhoneAdd').focus();
            });
            return false;
        }

        if (emailAdd === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.EmailKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtEmailAdd').focus();
            });
            return false;
        } else if (!IsvalidEmail(emailAdd)) {
            jError("@Html.Raw(WebApps.Resources.Resource.EmailFormat)" , "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtEmailAdd').focus();
            });
            return false;
        }

        var _cboCountry =  $("#cboCountry").val();
        if (_cboCountry == null) {
            jError("@Html.Raw(WebApps.Resources.Resource.QuocTichKhongDuocDeTrong)" , "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#cboCountry').multipleSelect('focus');
            });
            return false;
        }

        if (statusAdd == null) {
            jError("@Html.Raw(WebApps.Resources.Resource.TrangThai)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#cboStatusAdd').focus();
            });
            return false;
        }

        if (GroupIdAdd == "-1") {
            jError("@Html.Raw(WebApps.Resources.Resource.NhomQuyen)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $("#cboGroupUser").focus();
            });
            return false;
        }

        return true;
    }
</script>
