@using BussinessFacade
@using CommonData
@try
{
	<div class="popup-opacity-wrapper"></div>
	<div class="d-popup" style="overflow: visible">
		<div class="d-popup-content grid grid-2cols">
			<div>
				<label>Tên đăng nhập <i class="redspan">(*)</i></label>
				<input type="text" id="txtUsernameAdd" maxlength="64" onkeypress="funikeyNoSpace(this)" onkeyup="funikeyNoSpace(this)" />
			</div>

			<div>
				<label>Họ tên <i class="redspan">(*)</i></label>
				<input type="text" id="txtFullNameAdd" maxlength="250" />
			</div>

			<div>
				<label>Mật khẩu <i class="redspan">(*)</i></label>
				<input type="password" id="txtPasswordAdd" maxlength="64" />
			</div>

			<div>
				<label>Nhập lại mật khẩu <i class="redspan">(*)</i></label>
				<input type="password" id="txtRePasswordAdd" maxlength="64" />
			</div>

			<div>
				<label>Ngày sinh <label>Ngày sinh</label> <i class="redspan">(*)</i></label> 
				<input type="text" id="txtDateOfBirthAdd" maxlength="250" class="datetimepicker" />
			</div>

			<div>
				<label>Giới tính</label>
				<select id="cboSexAdd">
					@foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.SexType))
					{
						<option value="@item.CdVal">@item.Content</option>
					}
				</select>
			</div>
			
			<div>
				<label>Email <i class="redspan">(*)</i></label>
				<input type="password" id="txtEmailAdd" maxlength="250" />
			</div>
			
			<div>
				<label>Điện thoại <i class="redspan">(*)</i></label>
				<input type="password" id="txtPhoneAdd" maxlength="16" onkeypress="return isNumberKey()" onkeyup="return isNumberKey()" />
			</div>

			<div>
				<label>Phòng ban</label>
				<select id="cboDeparmentAdd">
					<option value="">None</option>
				</select>
			</div>

			<div>
				<label>Chức vụ</label>
				<select id="cboPositionAdd">
					<option value="">None</option>
				</select>
			</div>
			<div>
				<label>Chi nhánh</label>
				<select id="cboBranchAdd">
					<option value="">None</option>
				</select>
			</div>
			<div>
				<label>Kho</label>
				<select id="cboWareHouseAdd">
					<option value="">None</option>
				</select>
			</div>
			<div>
				<label>Loại giá sử dụng</label>
				<select id="cboUnitPriceTypeAdd">
					@foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.UnitPriceType))
					{
						<option value="@item.CdVal">@item.Content</option>
					}
				</select>
			</div>
			<div>
				<label>Trạng thái</label>
				<select id="cboStatusAdd">
					@foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.UserStatus))
					{
						<option value="@item.CdVal">@item.Content</option>
					}
				</select>
			</div>

			<div>
				<input type="checkbox" class="facheck" id="chkbViewOtherBranchAdd" />
				<label for="chkbViewOtherBranchAdd"><i class="far fa-circle"></i>Thấy được các cửa hàng khác</label>


			</div>
			<div>
				<input type="checkbox" class="facheck" id="chkbSeeProductTypeSAdd" />
				<label for="chkbSeeProductTypeSAdd"><i class="far fa-circle"></i>Thấy được xe loại 2</label>

			</div>

			<div>
				<input type="checkbox" class="facheck" id="chkbCanChangeInstanceWhenOutStockAdd" />
				<label for="chkbCanChangeInstanceWhenOutStockAdd"><i class="far fa-circle"></i>Thay đổi thông tin xe sau khi bán</label>
			</div>
			<div>
				<label>Nhóm quyền</label>
				<div class="groups-checkbox">
					@foreach (var item in GroupUserBL.GetAllGroups())
					{
						<input type="checkbox" class="facheck" id="chkbGroupIdAdd-@(item.Id)" />
						<label for="chkbGroupIdAdd-@(item.Id)"><i class="far fa-circle"></i>@item.Name</label>
						<br/>
					}
				</div>
			</div>
		</div>
		<div class="d-popup-footer">
			<input type="submit" class="btn" value="Lưu" onclick="return doAddNewUser()" />
		</div>
	</div>

	<script>
		var usernameAdd,
			fullNameAdd,
			passwordAdd,
			rePasswordAdd,
			dateOfBirthAdd,
			sexAdd,
			emailAdd,
			phoneAdd,
			deparmentAdd,
			positionAdd,
			branchAdd,
			wareHouseAdd,
			unitPriceTypeAdd,
			viewOtherBranchAdd,
			seeProductTypeSAdd,
			canChangeInstanceWhenOutStockAdd,
			statusAdd;
		$(document).ready(function () {
			$.datetimepicker.setLocale('vi');
			$('.datetimepicker').datetimepicker({
				timepicker: false,
				format: 'd/m/Y',
				//formatTime: 'H:i',
				formatDate: 'd/m/Y',
				mask: '39/19/9999',
				validateOnBlur: false,
				scrollInput: false
			});

			$('#cboDepartmentAdd').multipleSelect({
				filter: true,
				single: true,
				isdatastring: false,
				maxHeight: 150
			});
			$('#cboPositionAdd').multipleSelect({
				filter: true,
				single: true,
				isdatastring: false,
				maxHeight: 150
			});
			$('#cboBranchAdd').multipleSelect({
				filter: true,
				single: true,
				isdatastring: false,
				maxHeight: 150
			});
			$('#cboWareHouseAdd').multipleSelect({
				filter: true,
				single: true,
				isdatastring: false,
				maxHeight: 150
			});

		});

		function doAddNewUser() {
			if (validateFormAddNewUser()) {
				var formData = new FormData();
				collectDataToAddNewUser(formData);
				$.ajax({
					url: '/quan-tri-he-thong/quan-ly-nguoi-dung/do-add-user',
					type: 'POST',
					data: formData,
					processData: false,
					contentType: false,
					traditional: true,
					async: false,
					headers: { "cache-control": "no-cache" },
					success: function (data) {
						if (data != null) {
							if (onResponse(data)) {
								if (data["AddUserResult"]["isAddUserSuccess"]) {
									showSuccess(data["AddUserResult"]["message"]);
									ClosePopupDialog('dpop-users', true);
									window.findUsers(1, 0);
								} else {
									showError(data["AddUserResult"]["message"]);
								}
							}
						}
					},
					error: function (e) {
						console.log(e);
					}
				});
			}
		}

		function validateFormAddNewUser() {
			usernameAdd = $('#txtUsernameAdd').val().trim();
			fullNameAdd = $('#txtFullNameAdd').val().trim();
			passwordAdd = $('#txtPasswordAdd').val();
			rePasswordAdd = $('#txtRePasswordAdd').val();
			dateOfBirthAdd = $('#txtDateOfBirthAdd').val().trim();
			sexAdd = $('#cboSexAdd').val();
			emailAdd = $('#txtEmailAdd').val().trim();
			phoneAdd = $('#txtPhoneAdd').val().trim();
			deparmentAdd = $('#cboDeparmentAdd').val();
			positionAdd = $('#cboPositionAdd').val();
			branchAdd = $('#cboBranchAdd').val();
			wareHouseAdd = $('#cboWareHouseAdd').val();
			unitPriceTypeAdd = $('#cboUnitPriceTypeAdd').val();
			
			viewOtherBranchAdd = $('#chkbViewOtherBranchAdd').val().toLowerCase();
			seeProductTypeSAdd = $('#chkbSeeProductTypeSAdd').val().toLowerCase();
			canChangeInstanceWhenOutStockAdd = $('#chkbCanChangeInstanceWhenOutStockAdd').val().toLowerCase();
			statusAdd = $('#cboStatusAdd').val();

			if (usernameAdd === "") {
				$('#txtUsernameAdd').focus().val('');
				showError('Tên nhóm không được để trống!');
				return false;
			}

			return true;
		}

		function collectDataToAddNewUser(formData) {
			formData.append('userInfo.Username', usernameAdd);
			formData.append('userInfo.FullName', fullNameAdd);
			formData.append('userInfo.Password', passwordAdd);
			formData.append('userInfo.DateOfBirth', dateOfBirthAdd);
			formData.append('userInfo.Sex', sexAdd);
			formData.append('userInfo.Email', emailAdd);
			formData.append('userInfo.Phone', phoneAdd);
			formData.append('userInfo.DepartmentId', deparmentAdd);
			formData.append('userInfo.PositionId', positionAdd);
			formData.append('userInfo.BranchId', branchAdd);
			formData.append('userInfo.WareHouseId', wareHouseAdd);
			formData.append('userInfo.UnitPriceType', unitPriceTypeAdd);
			formData.append('userInfo.ViewOtherBranch', viewOtherBranchAdd);
			formData.append('userInfo.SeeProductTypeS', seeProductTypeSAdd);
			formData.append('userInfo.CanChangeInstanceWhenOutStock', canChangeInstanceWhenOutStockAdd);
			formData.append('userInfo.Status', statusAdd);
		}
	</script>
}
catch (Exception)
{
	// ignored
}