@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Quản lý luật sư";
    Layout = "~/ViewsShared/_Layout.cshtml";

    List<AllCodeInfo> _lstType = MemoryData.AllCode_GetBy_CdTypeCdName("USER", "USER_TYPE");
    List<AllCodeInfo> _lstStatus = MemoryData.AllCode_GetBy_CdTypeCdName("USER_STATUS", "USER_STATUS");
}
@try
{
    <style>
        /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
        .div-search-title > div {
            width: 120px;
        }
    </style>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            Quản trị hệ thống
            <span class="red">></span>
            <a href="/quan-tri-he-thong/quan-ly-luat-su">Quản lý luật sư</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" value="LastTimeUpdated" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <div class="div-title-content"> THÔNG TIN LUẬT SƯ </div>
            </div>
        </div>

        <div class="divCover" id="div-search-simple">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 120px">Tên luật sư</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtFullNameSearch" data-controlcondition="TRUE" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div style="width: 120px">Trạng thái</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <select data-controlcondition="TRUE" id="cboStatusSearch">
                            <option selected="selected" value="">None</option>
                            @foreach (var item in _lstStatus)
                            {
                                <option value="@item.CdVal">@item.Content</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="divCover">
            <div class="div-search-btn" style="width:450px;">
                <input type="button" value="Tìm kiếm" class="btn-default" onclick="findUsers(1, 1)" />
                <input type="button" value="Thêm người dùng" class="btn-default" style="width: 125px;" onclick="getViewToAddNewUser()" />
            </div>
        </div>

        <div class="divCover">
            <div id="divTableUsers">
                @Html.Partial("_PartialTableListLawer")
            </div>
        </div>

        <div id="divWrapperViewUser" class="divWrapperPopup" style="display: none;">
            <div class="divPopup" id="divViewUser">
            </div>
        </div>

        <div id="divWrapperEditUser" class="divWrapperPopup" style="display: none;">
            <div class="divPopup" id="divEditUser">
            </div>
        </div>

        <div id="divWrapperAddUser" class="divWrapperPopup" style="display: none;">
            <div class="divPopup" id="divAddUser">
            </div>
        </div>

        <div id="divWrapperPopUpUser" class="divWrapperPopup" style="display: none;">
            <div class="divPopup" id="divPopUpUser">
            </div>
        </div>

    </div>

    <script>
        var _currentKeySearch = '@SessionStorages.SEARCH_USER_KEY_CONDITIONS';
        var _currentOptionFilter = '@SessionStorages.SEARCH_USER_KEY_OPTIONS';
        var username = '', fullName = '', type = '', status = '';

        $(document).ready(function () {
            initAllSearchingData(_currentKeySearch, _currentOptionFilter, initOrderBySearching, setKeySearch, findUsers);

            $('txtFullNameSearch').focus();
            $('[data-controlcondition="TRUE"]').on('keypress',
				function (e) {
				    enterKeyPress(e, 'btnFindUsers');
                });

            findUsers(1, 1)
        });

        function findUsers(_pageNumber, _isSearching) {
            reinitSearchingConditions(_currentKeySearch, _currentOptionFilter, _pageNumber, _isSearching);
            type = '@Convert.ToInt16(Common.CommonData.CommonEnums.UserType.Lawer)';
            username = "";
            if (isSearching == 1) {
                fullName = $("#txtFullNameSearch").val().trim();
                status = $("#cboStatusSearch").val();
            } else {
                window.arrKeySearch = window.keySearch.split('|');
                fullName = arrKeySearch[1];
                type = arrKeySearch[2];
                status = arrKeySearch[3];

                $("#txtFullNameSearch").val(fullName);
                $("#cboStatusSearch").val(status);
            }

            updateSearchingConditions("divNumberRecordOnPageListUsers", setKeySearch);

            $.ajax({
                type: "POST",
                headers: { "cache-control": "no-cache" },
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/find-user",
                data: {
                    keysSearch: keySearch,
                    options: optionFilter,
                    p_type: type
                },
                async: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null) {
                        onResponseWhenSearching(data, "divTableUsers", findUsers);
                    }
                }
            });
            return true;
        }

        function setKeySearch() {
            window.keySearch = username + "|" + fullName + "|" + type + "|" + status;
        }

        function initOrderBySearching() {
            window.colSort = 'LastTimeUpdated';
            window.sortType = 'DESC';
        }

        function pageListOfUsers(_pagenum) {
            try {
                findUsers(_pagenum, 0);

            } catch (e) {
                console.log(e.message);
            }
        }
    </script>

    @* task function *@
    <script>

        function getViewToAddNewUser() {
            $.ajax({
                type: "POST",
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/get-view-to-add-user",
                headers: { "cache-control": "no-cache" },
                async: false,
                success: function (data) {
                    if (data != null) {
                        if (validateResponse(data)) {
                            //$("#dpop-users").html(data);
                            //ShowPopupDialog("dpop-users", "Thêm mới người dùng", 900, 0, "txtUsernameAdd");

                            $("#divPopUpUser").html(data);
                            ShowPopupDialog_Ipace('divWrapperPopUpUser', "Thêm mới người dùng", 900, 1200, "txtUsernameAdd");
                        }
                    }
                    return false;
                }
            });
        }



        function getViewToEditUser(userId, username) {
            $.ajax({
                type: "POST",
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/get-view-to-edit-user",
                headers: { "cache-control": "no-cache" },
                data: { userId: userId },
                async: false,
                success: function (data) {
                    if (data != null) {
                        if (validateResponse(data)) {

                            $("#divPopUpUser").html(data);
                            ShowPopupDialog_Ipace('divWrapperPopUpUser', "Sửa người dùng: <span class='data-in-title-popup'>" + username + "</span>", 900, 900, "txtFullNameEdit");
                        }
                    }
                    return false;
                }
            });
        }

        function doDeleteUser(userId, canDelete) {
            if (canDelete > 0) {
                showError("Không thể xóa người dùng đang hoạt động.");
                return false;
            } else {
                nvsConfirm(null, "Bạn có chắc chắn muốn xóa người dùng này không?", function () {
                    $.ajax({
                        url: "/quan-tri-he-thong/quan-ly-nguoi-dung/do-delete-user",
                        type: "POST",
                        data: { userId: userId },
                        headers: { "cache-control": "no-cache" },
                        async: false,
                        success: function (data) {
                            if (data != null) {
                                if (onResponse(data)) {
                                    ClosePopupDialog('dpop-users', true);
                                    findUsers(1, 0);
                                }
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });

                });
            }
        }

        function viewDetailUser(userId, username) {
            $.ajax({
                type: "POST",
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/view-detail-user",
                headers: { "cache-control": "no-cache" },
                async: false,
                data: { userId: userId },
                success: function (data) {
                    if (data != null) {
                        if (validateResponse(data)) {
                            $("#divPopUpUser").html(data);
                            ShowPopupDialog_Ipace('divWrapperPopUpUser', "Chi tiết người dùng: <span class='data-in-title-popup'>" + username + "</span>", 900, 900);
                        }
                    }
                    return false;
                }
            });
        }

        function getViewToResetPass(Username) {
            $.ajax({
                type: "POST",
                url: "/quan-tri-he-thong/quan-ly-nguoi-dung/get-view-to-reset-pass",
                data: { p_user_name: Username },
                headers: { "cache-control": "no-cache" },
                async: false,
                success: function (data) {
                    if (data != null) {
                        if (validateResponse(data)) {
                            $("#divPopUpUser").html(data);
                            ShowPopupDialog_Ipace('divWrapperPopUpUser', "Thêm mới người dùng", 500, 1200, "txtPassword");
                        }
                    }
                    return false;
                }
            });
        }

        function ClosePopUpUser() {
            CloseDivPopUp('divWrapperPopUpUser');
        }

    </script>
}
catch (Exception)
{
    // ignored
}