@using ObjectInfos;
@using BussinessFacade;
@model Timesheet_Info
@{

    ViewBag.Title = "Thêm mới timesheet";
    Layout = "~/ViewsShared/_Layout.cshtml";

    App_Lawer_BL _App_Lawer_BL = new App_Lawer_BL();
    List<App_Lawer_Info> _lstAppLawer = _App_Lawer_BL.GetApp_Grant4Lawer(WebApps.Session.SessionData.CurrentUser.Id, WebApps.Session.SessionData.CurrentUser.Type, WebApps.CommonFunction.AppsCommon.GetCurrentLang());
}
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        Monitor
        <span class="red">></span>
        <a href="/quan-ly-timesheet/danh-sach-timesheet">Quản lý timesheet</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> THÊM MỚI TIMESHEET</div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Case code<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<select id="cboAppHeader">
                            @foreach (var item in _lstAppLawer)
                            {
                                <option value="@item.Case_Code">@item.Case_Code - @item.Client_Reference</option>
                            }
                        </select>*@
                    @Html.TextBoxFor(m => m.App_Case_Code, new { id = "txtApp_Case_Code", @maxlength = "200" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mô tả công việc <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name, new { id = "txtName", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Ngày <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Time_Date, "{0:dd/MM/yyyy}", new { id = "txtTime_Date", @Value = Model.Time_Date == DateTime.MinValue ? "" : Model.Time_Date.ToString("dd/MM/yyyy"), @placeholder = "dd/mm/yyyy", @class = "datepicker" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Bắt đầu <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.From_Time, new { id = "txtFrom_Time", @maxlength = "5", @style = "width: 250px", @placeholder = "HH:mm", @onblur = "CallHours()" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Kết thúc  <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.To_Time, new { id = "txtTo_Time", @maxlength = "5", @placeholder = "HH:mm", @onblur = "CallHours()" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Giờ thực tế <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours, new { id = "txtHours", @Value = Model.Hours == 0 ? "" : Model.Hours.ToString("#,##0.##"), onkeyup = "jsFormatNumber(this.value, this.id)", @style = "width: 250px" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Giờ điều chỉnh  <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours_Adjust, new { id = "txtHours_Adjust", @Value = Model.Hours_Adjust == 0 ? "" : Model.Hours_Adjust.ToString("#,##0.##"), onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Ghi chú</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Notes, new { id = "txtNotes", @maxlength = "2000" })
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="Lưu" onclick="return doInsertTimeSheet()" />
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //$('#cboAppHeader').multipleSelect({
        //    filter: true,
        //    single: true,
        //    isdatastring: false,
        //    maxHeight: 150,
        //    placeholder: "-- Chọn đơn --"
        //});
    });

    function doInsertTimeSheet() {
        if (validateForm()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn khai timesheet này không?", function () {
                var formData = new FormData();
                collectData(formData);
                $.ajax({
                    url: '/quan-ly-timesheet/danh-sach-timesheet/do-insert-timeshet',
                    type: 'POST',
                    data: formData,
                    async: true, traditional: true, contentType: false, processData: false,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Khai timesheet thành công!', "THÔNG BÁO", function () {
                                var url = "/quan-ly-timesheet/danh-sach-timesheet/";
                                window.location.href = url;
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function CallHours() {
        try {
            var txtFrom_Time = $("#txtFrom_Time").val();
            var txtTo_Time = $("#txtTo_Time").val();

            if (txtFrom_Time == "" || txtTo_Time == "") {
                return false;
            }

            if (Check_Time_Sheet() == false) {
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '/quan-ly-timesheet/danh-sach-timesheet/call-hours',
                data: {
                    p_From_Time: txtFrom_Time,
                    p_To_Time: txtTo_Time,
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    $("#txtHours").val(data.success);
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function validateForm() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        var _App_Case_Code = $("#txtApp_Case_Code").val();
        if (_App_Case_Code == null || _App_Case_Code == "") {
            jError("Case code khai timesheet không được bỏ trống!", "lỗi", function () {
                $("#txtApp_Case_Code").val('');
                $('#txtApp_Case_Code').focus();
            });
            return false;
        }

        var txtName = $("#txtName").val();
        if (txtName == "") {
            jError("Mô tả công việc không được bỏ trống!", "lỗi", function () {
                $("#txtName").val('');
                $("#txtName").focus();
            });
            return false;
        }

        var txtTime_Date = $("#txtTime_Date").val();
        if (checkDate("Ngày khai timesheet", "#txtTime_Date", txtTime_Date) == false) {
            return false;
        }

        if (Check_Time_Sheet() == false) {
            return false;
        }

        var txtHours = $("#txtHours").val();
        if (txtHours == "") {
            jError("Giờ thực tế không được bỏ trống!", "lỗi", function () {
                $("#txtHours").val('');
                $("#txtHours").focus();
            });
            return false;
        }

        if (txtHours == "0") {
            jError("Giờ thực tế phải lớn hơn 0!", "lỗi", function () {
                $("#txtHours").val('');
                $("#txtHours").focus();
            });
            return false;
        }

        var txtHours_Adjust = $("#txtHours_Adjust").val();
        if (txtHours_Adjust == "") {
            jError("Giờ điều chỉnh không được bỏ trống!", "lỗi", function () {
                $("#txtHours_Adjust").val('');
                $("#txtHours_Adjust").focus();
            });
            return false;
        }

        if (txtHours_Adjust == "0") {
            jError("Giờ điều chỉnh phải lớn hơn 0!", "lỗi", function () {
                $("#txtHours_Adjust").val('');
                $("#txtHours_Adjust").focus();
            });
            return false;
        }

        return true;
    }

    function collectData(formData) {
        formData.append('p_Timesheet_Info.App_Case_Code', $("#txtApp_Case_Code").val());
        formData.append('p_Timesheet_Info.Name', $("#txtName").val());
        formData.append('p_Timesheet_Info.Time_Date', $("#txtTime_Date").val());
        formData.append('p_Timesheet_Info.Hours', $("#txtHours").val());
        formData.append('p_Timesheet_Info.Hours_Adjust', $("#txtHours_Adjust").val());
        formData.append('p_Timesheet_Info.From_Time', $("#txtFrom_Time").val());
        formData.append('p_Timesheet_Info.To_Time', $("#txtTo_Time").val());
        formData.append('p_Timesheet_Info.Notes', $("#txtNotes").val());
    }
</script>
