@using ObjectInfos;
@model Timesheet_Info
@{

    ViewBag.Title = "Duyệt time sheet";
    Layout = "~/ViewsShared/_Layout.cshtml";
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-timesheet/danh-sach-timesheet">Quản lý timesheet</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main smb_content">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> XEM CHI TIẾT TIMESHEET</div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Case code<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.App_Case_Code, new { @id = "txtApp_Code", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Case Name</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Case_Name, new { id = "txtCase_Name", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Luật sư</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Lawer_Name, new { id = "txtLawer_Name", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mô tả công việc <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name, new { id = "txtName", @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Trạng thái  <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Status_Name, new { id = "txtStatus_Name", @readonly = "readonly", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Ngày <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Time_Date, "{0:dd/MM/yyyy}", new { id = "txtTime_Date", @Value = Model.Time_Date == DateTime.MinValue ? "" : Model.Time_Date.ToString("dd/MM/yyyy"), @placeholder = "dd/mm/yyyy", @class = "datepicker", @disabled = "disabled" })
                </div>
            </div>

        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Bắt đầu <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.From_Time, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Kết thúc  <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.To_Time, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Giờ thực tế <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Giờ điều chỉnh  <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours_Adjust, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        @*<div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GhiChu</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Notes, new { id = "txtNotes", @maxlength = "2000" })
                </div>
            </div>
        </div>*@

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Yêu cầu<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="500" />
                </div>
            </div>
        </div>

        @if (Model.Status == Convert.ToInt16(Common.CommonData.CommonEnums.TimeSheet_Status.Reject))
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Lý do từ chối</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Reject_Reason, new { id = "txtReject_Reason", @maxlength = "2000" })
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="Duyệt" onclick="return doApproveTimeSheet()" />
            <input type="submit" class="btn-default" value="Từ chối" onclick="return doRejectTimeSheet()" />
        </div>
    </div>
</div>

<script>

    function CheckValidate() {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var txtNotes = $("#txtNotes").val();
            if (txtNotes == null || txtNotes == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.YeuCauKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtNotes").val('');
                    $('#txtNotes').focus();
                });
                return false;
            }

        } catch (e) {
            alert(e);
            return false;
        }
    }

    function doRejectTimeSheet() {

        if (CheckValidate() == false) {
            return;
        }

        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.TuChoiNoiDung)", function () {
            var formData = new FormData();
            collectData(formData, '@Convert.ToInt16(Common.CommonData.CommonEnums.TimeSheet_Status.Reject)');
            $.ajax({
                url: '/quan-ly-timesheet/danh-sach-timesheet/do-approve-timeshet',
                type: 'POST',
                data: formData,
                async: true, traditional: true, contentType: false, processData: false,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.TuChoiThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            var url = "/quan-ly-timesheet/danh-sach-timesheet/";
                            window.location.href = url;
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

    function doApproveTimeSheet() {
        if (CheckValidate() == false) {
            return;
        }

        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmApprove)", function () {
            var formData = new FormData();
            collectData(formData,'@Convert.ToInt16(Common.CommonData.CommonEnums.TimeSheet_Status.Approve)');
            $.ajax({
                url: '/quan-ly-timesheet/danh-sach-timesheet/do-approve-timeshet',
                type: 'POST',
                data: formData,
                async: true, traditional: true, contentType: false, processData: false,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.DuyetThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            var url = "/quan-ly-timesheet/danh-sach-timesheet/";
                            window.location.href = url;
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

    function collectData(formData, p_type) {
        formData.append('p_id', @Model.Id);
        formData.append('p_status', p_type);
        formData.append('p_reject_reason', $("#txtReject_Reason").val());
        formData.append('p_notes', $("#txtNotes").val());
    }
</script>
