@using ObjectInfos;
@using BussinessFacade;
@model Timesheet_Info
@{

    ViewBag.Title = "Xem chi tiết time sheet";
    Layout = "~/ViewsShared/_Layout.cshtml";
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLy</a>
        <span class="red">></span>
        <a href="/quan-ly-timesheet/danh-sach-timesheet">@WebApps.Resources.Resource.QuanLyTimeSheet </a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main smb_content">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThongTinTimeSheet.ToUpper() </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CaseCode<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.App_Case_Code, new { @id = "txtApp_Code", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CaseName</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Case_Name, new { id = "txtCase_Name", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.MoTaCongViec</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @id = "txtName", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LuatSu</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Lawer_Name, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Status_Name, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Ngay</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Time_Date, new
                    {
                        @id = "DateOfBirth",
                        @Value = Model.Time_Date == DateTime.MinValue ? "" : Model.Time_Date.ToString("dd/MM/yyyy"), @disabled = "disabled"
                    })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.BatDau <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.From_Time, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.KetThuc  <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.To_Time, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GioThucTe <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GioDieuChinh  <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hours_Adjust, new { @disabled = "disabled" })
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GhiChu</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Notes, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        @if (Model.Status == (int)Common.CommonData.CommonEnums.TimeSheet_Status.Reject)
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.LyDoTuChoi</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Reject_Reason, new { @id = "txtReject_Reason", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Thoat" onclick="return back()" />
        </div>
    </div>
</div>

<script>
    function back() {
        var url = "/quan-ly-timesheet/danh-sach-timesheet/";
        window.location.href = url;
    }
</script>
