@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Notice_Info _App_Notice_Info = new App_Notice_Info();
    _App_Notice_Info.Times = 0;
    if (ViewBag.App_Notice_Info != null)
    {
        _App_Notice_Info = (App_Notice_Info)ViewBag.App_Notice_Info;
    }

    string _str_number = "";
    if (_App_Notice_Info.Times > 0)
    {
        _str_number = "lần" + _App_Notice_Info.Times.ToString();
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 250px;
    }
</style>
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/info.png" />
        <div class="cls_form_header">
            Lawer transale notice reject form
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div id="divNumberNotice">Số thông báo @_str_number<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" maxlength="100" placeholder="Số thông báo" value="@_App_Notice_Info.Notice_Number" id="txt_Notice_Number" style="width:200px" disabled="disabled" />
            </div>
        </div>

        <div class="div-search-title">
            <div>Ngày thông báo <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày thông báo" id="txt_notice_date" maxlength="100" disabled="disabled" value="@_App_Notice_Info.Notice_Date.ToString("dd/MM/yyyy")" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ngày hợp lệ</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày hợp lệ" id="txt_accept_date" maxlength="100" disabled="disabled" value="@(_App_Notice_Info.Accept_Date == DateTime.MinValue ? "" : _App_Notice_Info.Accept_Date.ToString("dd/MM/yyyy") )" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ngày trả lời</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày trả lời cục" id="txt_replies_date" maxlength="100" value="@(_App_Notice_Info.Replies_Date == DateTime.MinValue ? "" : _App_Notice_Info.Replies_Date.ToString("dd/MM/yyyy") )" class="datepicker"/>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Nội dung chính</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txt_advise_replies" value="@_App_Notice_Info.Advise_Replies" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Nội dung chính  (TA)</div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txt_advise_replies_trans" value="@_App_Notice_Info.Advise_Replies_Trans" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ghi chú <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File scan thông báo<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_App_Notice_Info.Notice_Url" download="@_App_Notice_Info.Notice_Url"> File scan thông báo </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>File dịch<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="@_App_Notice_Info.Notice_Trans_Url" download="@_App_Notice_Info.Notice_Trans_Url"> File translate</a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Billing<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                @*<a style="height: 20px !important;" href="@_App_Notice_Info.Billing_Url" download="@_App_Notice_Info.Billing_Url"> File billing </a>*@
                @if (_App_Notice_Info.Billing_Id > 0)
                {
                    <a style="height: 20px !important;" href="@_App_Notice_Info.Billing_Url" download="@_App_Notice_Info.Billing_Url"> File billing </a>
                }
                else
                {
                    <input type="text" value="No billing" disabled="disabled" />
                }
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>CV trả lời<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="javascript:;" onclick="Download_CV('@_App_Notice_Info.Case_Code')"> CV trả lời </a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Submit" onclick="return do_Submit('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function do_Submit(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn gửi nội dung này hay không?", function () {

                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/reject-lawer-translate',
                    type: 'POST',
                    data: {
                        p_case_code: _case_code,
                        p_Notice_Type: '@Convert.ToDecimal(Common.CommonData.CommonEnums.Notice_Type.HinhThuc)',
                        p_advise_replies: $('#txt_advise_replies').val(),
                        p_advise_replies_trans: $('#txt_advise_replies_trans').val(),
                        p_replies_date: $('#txt_replies_date').val(),
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Submit thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {

        var txt_replies_date = $("#txt_replies_date").val();
        if (checkDate("Ngày trả lời cục", "#txt_replies_date", txt_replies_date) == false) {
            return false;
        }

        var _txt_advise_replies = $('#txt_advise_replies').val();
        if (_txt_advise_replies == null || _txt_advise_replies == "") {
            jError('Advise trả lời không được để trống!', "Lỗi", function () {
                $('#txt_advise_replies').focus();
            });
            return false;
        }

        var _txt_advise_replies_trans = $('#txt_advise_replies_trans').val();
        if (_txt_advise_replies_trans == null || _txt_advise_replies_trans == "") {
            jError('Advise trả lời (TA) không được để trống!', "Lỗi", function () {
                $('#txt_advise_replies_trans').focus();
            });
            return false;
        }



        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError('Ghi chú không được để trống!', "Lỗi", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

    function Download_CV(_case_code) {
        try {

            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var _url = "/trade-mark-mana/quan-ly-don/do-export-cv-auto";
            $.ajax({
                url: _url,
                type: "POST",
                data: {
                    p_case_code: _case_code,
                    p_Notice_Type: '@Convert.ToDecimal(Common.CommonData.CommonEnums.Notice_Type.HinhThuc)',
                    p_advise_replies: $('#txt_advise_replies').val()
                },
                headers: { "cache-control": "no-cache" },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    console.log(data.success);
                    if (data.success == "-1") {
                        jError("Lỗi check lại kết nối tới server");
                        return false;
                    }
                    else {
                        OpenPreview("/trade-mark-mana/Pre-View?p_filename=" + data.success);
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            CreateRollingWaitingIcon(true);
            alert(e);
        }
    }

    function OpenPreview(url) {
        try {
            w = 1100; //độ rộng form popup
            h = 600;//chiều cao
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;  // for 25% - devide by 4  |  for 33% - devide by 3
            var targetWin = window.open(url, 'Xem thông tin hóa đơn', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        } catch (e) {
        }
    }

</script>
