@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using WebApps.Resources;
@{
    ViewBag.Title = "Request for patent registration";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.PatentRegister</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />


<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> @Resource.PatentRegister.ToUpper()</legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 3 - ĐƠN YÊU CẦU SỬA ĐỔI *@
        <div class="divCover cls_form_title clssDisplaynone">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.ChuDonDuoiDay:
            </div>
        </div>

        <div class="div-search-ad clssDisplaynone">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="1_rdoLoaiSangChe" id="1_rdBangDocQuyen" value="1" checked="checked">
                    <label>@Resource.BangDocQuyenSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdoLoaiSangChe" id="3_rdKieuDangCongNghiep" value="2" disabled>
                    <label>@Resource.BangDocQuyenGPHI</label>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.NguonGocDon
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" class="classNguonGoc" name="2_rdoNguonGocDon" id="2_rdPCT" value="1" onchange="return ShowHiden_NguonGocDon()">
                    <label> @Resource.DonNopTrenPCT</label>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone" id="divPCT" style="margin-top: 5px; background:#fbf4f4">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@Resource.So</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_SoDon" style="width:348px" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@Resource.NgayNopDonQuocTe:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_NgayNopQT" class="datetimepicker" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@Resource.CongBoQuocTeSo:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_CongBoQT" style="width:348px" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@Resource.Ngay:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_Date" class="datetimepicker" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@Resource.NgayChonVietNam:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_PCT_VN_Date" class="datetimepicker" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="margin-left: 0px">
                        <input type="checkbox" name="2_rdo_PCT_SuaDoi" id="2_rdo_PCT_SuaDoi" onchange="return ShowHiden_PCT_SuaDoi()">
                        <label> @Resource.CoSuaDoi</label>
                    </div>
                </div>
            </div>

            <div class="clssDisplaynone" id="divPCT_SuaDoi" style="margin-top: 5px;margin-left: 15px;background:#fbf4f4">
                <div class="divCover cls_form_title">
                    <div class="cls_form_header">
                        @Resource.TM3B_NoiDungYCSuaDoi.ToUpper() <i class="redspan">(*)</i>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio" style="width:382px">
                            <input type="checkbox" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdTenChuDon" value="1">
                            <label>@Resource.TM3B_TenChuDon</label>
                        </div>
                    </div>

                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="checkbox" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdDiaChiChuDon" value="2">
                            <label>@Resource.TM3B_DiaChiChuDon</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio" style="width:382px">
                            <input type="checkbox" name="4_rdoNoiDungYeuCauSuaDoi" id="4_rdnoiDungKhac" value="3">
                            <label>@Resource.TM3B_NoiDungKhac</label>
                        </div>
                    </div>

                    <div class="div-search-title" style="margin-left: 0px !important;">
                        <div>@Resource.TM3B_DeNghiSuaThanh:</div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="text" placeholder="@Resource.TM3B_DeNghiSuaThanh" id="4_DeNghiSuaThanh" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" class="classNguonGoc" name="2_rdoNguonGocDon" id="2_rdDQSC" value="2" onchange="return ShowHiden_NguonGocDon()">
                    <label> @Resource.DonTachDQSC</label>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone" id="divDQSC" style="margin-top: 5px;background:#fbf4f4">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@Resource.DonGoc:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_DQSC_SoDon" style="width:348px" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@Resource.NgayNopDon:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_DQSC_NgayNop" class="datetimepicker" />
                    </div>
                </div>
            </div>


            <div class="div-search-ad" style="margin-top: 5px;margin-left: 15px;">
                <div class="div-search-content">
                    <div class="div-radio" style="width:464px">
                        <input type="checkbox" name="DQSC_TruocHopLe" id="DQSC_TruocHopLe" value="1">
                        <label>@Resource.TruocHopLe</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="checkbox" name="DQSC_SauHopLe" id="DQSC_SauHopLe" value="1">
                        <label>@Resource.SauHopLe</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" class="classNguonGoc" name="2_rdoNguonGocDon" id="2_rdGPHI" value="3" onchange="return ShowHiden_NguonGocDon()">
                    <label> @Resource.DonTachGPHI</label>
                </div>
            </div>
        </div>

        <div class="clssDisplaynone" id="divGPHI" style="margin-top: 5px; background:#fbf4f4">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@Resource.DonGoc:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_GPHI_SoDon" style="width:348px" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@Resource.NgayNopDon:</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_GPHI_NgayNop" class="datetimepicker" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad" style="margin-top: 5px;margin-left: 15px;">
                <div class="div-search-content">
                    <div class="div-radio" style="width:464px">
                        <input type="checkbox" name="GPHI_TruocHopLe" id="GPHI_TruocHopLe" value="1">
                        <label>@Resource.TruocHopLe</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="checkbox" name="GPHI_SauHopLe" id="GPHI_SauHopLe" value="1">
                        <label>@Resource.SauHopLe</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TenSangChe.ToUpper()
            </div>
        </div>

        <div style="width: 100%;height: 100px;">
            <div class="div-search-ad" style="width:50%;float:left">
                <div class="div-search-title" style="height: 63px;">
                    <div>@Resource.TenSangChe <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txt_Patent_Name" style="height:65px" />
                    </div>
                </div>
            </div>

            <div style="width:49%;float:left;margin-left: 10px;">
                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" checked="checked" name="TuPhanLoai" id="ckbCucPhanLoai" onchange="onChangeTuPhanLoai()">
                            <label>@Resource.YeuCauCucPhanLoai</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="radio" name="TuPhanLoai" id="ckbTuPhanLoai" onchange="onChangeTuPhanLoai()">
                            <label>@Resource.TuPhanLoai</label>
                        </div>
                    </div>
                </div>

                <div class="div-search-ad clssDisplaynone" id="divTuNhapPhanLoai">
                    <div class="div-search-content">
                        <div class="div-radio">
                            <input type="text" id="txtClass" placeholder="...@Resource.Nhap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Class *@
        @*@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClass.cshtml")*@
        @* End Class *@

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>

        @*<div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitleChuDon.cshtml", @WebApps.Resources.Resource.lblChuDon.ToUpper())
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHChuDonKhacTop.cshtml", "1")
        </div>*@

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:385px">
                    <input type="radio" name="1_rdoChuDon" value="TGDT" id="1_ckbTacGiaDongThoi">
                    <label>@Resource.ChuDonDongThoiLaTacGia</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdoChuDon" value="CDK" id="rdChuDonKhac" onchange="onChangeChuDonKhac()">
                    <label>@Resource.NgoaiChuDon</label>
                </div>
            </div>
        </div>

        <div id="divChuDonKhac">

        </div>

        <div class="div_full_100_area classChuDonKhac clssDisplaynone" id="divChungDonKhac001">
            <input type="hidden" id="txt_id_ChuDon" value="1" />
            <a href="javascript:;" onclick="return ThemChuDon();" style="text-decoration:underline; color: blue;float: left;">@Resource.ThemChuDonKhac</a>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        @* end 2 *@

        @* Tác giả *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TacGia
            </div>
        </div>

        <div id="div_PartialThongTinTacGia">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinTacGia.cshtml", "1")
        </div>

        <div id="divTacGiaKhac">

        </div>

        <div class="div_full_100_area classChuDonKhac">
            <input type="hidden" id="txt_id_tacgia" value="1" />
            <a href="javascript:;" onclick="return ThemTacGia();" style="text-decoration:underline; color: blue;float: left;">@Resource.ThemTacGia</a>
        </div>

        @* Tác giả *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.lblYeuCauHuongQuyenUT.ToUpper()
            </div>

            <div style="display: inline-block;  padding-top: 8px; padding-left: 5px;">
                <input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" onchange="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')" />
                <label><a style="color:blue ;font-weight:bold" id="hrefCo" onclick="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')">@WebApps.Resources.Resource.lblYes</a></label>
            </div>
            <div style="display: inline-block;">
                <input type="checkbox" name="KO_ckbCoSuDungDonUuTien" value="KO" id="KOUT" onchange="return funcChoiseDonUT('KOUT')" />
                <label><a style="color:blue ;font-weight:bold" id="hrefKhong" onclick="return funcChoiseDonUT('KOUT')">@WebApps.Resources.Resource.lblNo</a></label>
            </div>
        </div>

        <div id="div_ThongTinDonUuTien" class="clssDisplaynone">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinQuyenUuTien.cshtml", "1")
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.SoDiemYeuCauBaoHoDocLap.ToUpper()
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.SoDiemYeuCau <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtPoint" />
                </div>
            </div>
        </div>

        @* Yêu cầu thẩm định nội dung *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.YeuCauThamDinhNoiDung
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" id="ckbThamDinhNoiDung">
                    <label> @Resource.YeuCauThamDinhNoiDung</label>
                </div>
            </div>
        </div>

        @* Yêu cầu thẩm định nội dung *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.ChuyenDoiDon
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" id="ckbChuyenDoiDon">
                    <label> @Resource.DeNghiChuyenDoiDon</label>
                </div>
            </div>
        </div>

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @*Hình công bố*@
        @*@{
            string _doc_id17 = "A01_17";
            string _model17 = _doc_id17 + "|Doc_17|0|" + "Hình công bố" + "||0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model17)
        }*@

        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Image_Public.cshtml")

        @* id doc | id của check box | level | lable | lable 2 | is upload *@

        <div class="divCover cls_form_title">
            <b>@Resource.TaiLieuToiThieu.ToUpper()</b>
        </div>

        @* 2. Bản mô tả, bằng tiếng *@
        @{
            string _doc_id2 = "A01_02";
            string _model2 = _doc_id2 + "|Doc_02|0|" + Resource.BanMoTaBangTieng + "|" + Resource.TM3B_Tieng + "|1||" + Resource.TM2B_SoTrang;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model2)
        }

        @* 6 Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id6 = "A01_06";
            string _model6 = _doc_id6 + "|Doc_06|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model6)
        }

        @* 7  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id7 = "A01_07";
            string _model7 = _doc_id7 + "|Doc_07|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model7)
        }

        @* 8 Bản gốc *@
        @{
            string _doc_id8 = "A01_08";
            string _model8 = _doc_id8 + "|Doc_08|1|" + Resource.TM2B_BanGoc + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model8)
        }

        @* 9 Bản sao *@
        @{
            string _doc_id9 = "A01_09";
            string _model9 = _doc_id9 + "|Doc_09|1|" + Resource.TM2B_BanSao + "||0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model9)
        }


        @* 10 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id10 = "A01_10";
            string _model10 = _doc_id10 + "|Doc_10|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model10)
        }

        @* 11 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id11 = "A01_11";
            string _model11 = _doc_id11 + "|Doc_11|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model11)
        }

        <div class="divCover cls_form_title">
            @*<img src="/Content/icons/category.png">*@
            <div class="cls_form_header">@WebApps.Resources.Resource.lblTaiLieuKhac.ToUpper()</div>
            <div style="display: inline-block;  padding-top: 5px; padding-left: 10px;">
                <input type="radio" name="ck_TaiLieu_Khac" id="ck_TaiLieu_Khac" onchange="onChangeTLKhac()">
                <label>@WebApps.Resources.Resource.lblYes</label>
            </div>

            <div style="display: inline-block;padding-left: 5px;">
                <input type="radio" name="ck_TaiLieu_Khac" id="ck_TaiLieu_Khac_No" onchange="onChangeTLKhac()" checked />
                <label>@WebApps.Resources.Resource.lblNo</label>
            </div>
        </div>

        <div id="divTLKhac" class="clssDisplaynone">

            @* 1 Tờ khai *@
            @{
                string _doc_id1 = "A01_01";
                string _model1 = _doc_id1 + "|Doc_01|0|" + Resource.TM2B_ToKhaiGom + "|" + Resource.TM2B_SoTrang + "|0||" + Resource.lblSoBan;
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model1)
            }

            @* 3. Bản sao *@
            @{
                string _doc_id3 = "A01_03";
                string _model3 = _doc_id3 + "|Doc_03|0|" + Resource.BanSaoChungTu + "|" + Resource.TM2B_SoTrang + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model3)
            }


            @{
                string _doc_id4 = "A01_04";
                string _model4 = _doc_id4 + "|Doc_04|0|" + Resource.BanTomTatBangTieng + "|" + Resource.TM3B_Tieng + "|1||" + Resource.TM2B_SoTrang;
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model4)
            }


            @{
                string _doc_id5 = "A01_05";
                string _model5 = _doc_id5 + "|Doc_05|0|" + Resource.lblBanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model5)
            }

            @* 12 Tài liệu chứng minh quyền ưu tiên --> bỏ đi vì trùng với phần quyền ưu tiên *@
            @*@{
                string _doc_id12 = "A01_12";
                string _model12 = _doc_id12 + "|Doc_12|0|" + Resource.lblTaiLieuChungMinhQuyenUT + "||0";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model12)
            }

            @{
                string _doc_id13 = "A01_13";
                string _model13 = _doc_id13 + "|Doc_13|1|" + Resource.BanSaoDonDauTien + "|" + Resource.lblBan + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model13)
            }

            @{
                string _doc_id14 = "A01_14";
                string _model14 = _doc_id14 + "|Doc_14|1|" + Resource.GiayChuyenNhuongQuyenUT + "||1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model14)
            }*@

            @* end quyền ưu tiên *@

            @{
                string _doc_id15 = "A01_15";
                string _model15 = _doc_id15 + "|Doc_15|0|" + Resource.TaiLieuXacNhanQuyenDangKy + "||1";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model15)
            }

            @{
                string _doc_id16 = "A01_16";
                string _model16 = _doc_id16 + "|Doc_16|0|" + Resource.CoTaiLieuKhac + "||0";
                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model16)
            }

        </div>


        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml")

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/Patent/Views/A01/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.classNguonGoc').click(function () {
            $('.classNguonGoc').not(this).prop('checked', false);
        });

        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });

    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");

            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });

    function onChangeTLKhac() {
        try {
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                $("#divTLKhac").removeClass("clssDisplaynone");
            } else {
                $("#divTLKhac").addClass("clssDisplaynone");
            }
        } catch (e) {
            console.log(e);
        }
    }

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e);
        }
    });

    $("#btnDuLieuCu").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(-2);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    function funcChuDonKhac(formData) {
        try {
            var _index = 0;
            $(".clsChuDonKhac").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse_ChuDonKhac").val() == "1") {

                    formData.append("pOther_MasterInfo[" + _index + "].Master_Name", $("#" + _id + "_txtTenDayDu_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Address", $("#" + _id + "_txtDiaChi_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Phone", $("#" + _id + "_txtDienThoai_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Fax", $("#" + _id + "_txtFax_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Email", $("#" + _id + "_txtEmail_Khac").val());
                    //formData.append("pOther_MasterInfo[" + _index + "].Author_Country", $("#" + _id + "_TG_QuocTich").val());

                    if ($("#" + _id + "_ckbTacGiaDongThoi").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "TGDT");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "");
                    }

                    if ($("#" + _id + "_ckbPhoBan").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "PB");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "");
                    }

                    _index = _index + 1;
                }
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    function funGetData(ptype) {
        try {
            //Thông tin chủ đơn
            var formData = new FormData();

            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            // hàng hóa
            //reponse = funcGetDataClassInfo(formData);
            //if (reponse == false) {
            //    return false;
            //}

            if (ptype == 1) {
                if (funcThongTinChuDon_SaveTem(formData, "1") != true) {
                    return false;
                }
            } else if (ptype == 2) {
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
            }

            if ($("#1_ckbTacGiaDongThoi").is(':checked')) {
                formData.append("pInfo.Master_Type", "TGDT");
            } else if ($("#rdChuDonKhac").is(':checked')) {
                formData.append("pInfo.Master_Type", "CDK");
            }

            if (funcChuDonKhac(formData) != true) {
                return false;
            }

            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                return false;
            }

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (ptype == 1) {

            } else if (ptype == 2) {
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
            }

            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Status", ptype);

            //Lấy thông tin tài liệu có trong đơn
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                formData.append("pInfo.USE_DOC_OTHERS", 1);
            } else {
                formData.append("pInfo.USE_DOC_OTHERS", 0);
            }
            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            //Tài liệu khác trong đơn
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetImagePublic(formData);
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin detail
            reponse = funcGetAppDetail(formData, ptype);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/lg-patent/register',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        if (ptype == 1) {
                            jAlert('@Html.Raw(Resource.LuuTamThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jAlert('@Html.Raw(Resource.GuiDonThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        }
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    }

    function onChangeAppNo() {
        try {
            var _AppNo = $("#3_SoDon").val();
            if (_AppNo != "") {

                $.ajax({
                    type: 'POST',
                    url: '/trade-mark-3b/getMasterByAppNo/',
                    data: {
                        p_appNo: _AppNo,
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);

                        $("#div_PartialThongTinChuDon").html(data.PartialThongTinChuDon);
                        $("#div_PartialThongTinDaiDienChuDon").html(data.PartialThongTinDaiDienChuDon);
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }


    function funcChoiseDonUT(pID) {
        try {
            //if ($("#0_ckbCoSuDungDonUuTien").is(':checked')) {
            //    $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");
            //}
            //else {
            //    $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            //}

            if (pID == "0_ckbCoSuDungDonUuTien") {
                $('#0_ckbCoSuDungDonUuTien').prop('checked', true);
                $('#KOUT').prop('checked', false);

                $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");

            } else {
                $('#KOUT').prop('checked', true);
                $('#0_ckbCoSuDungDonUuTien').prop('checked', false);

                $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_NguonGocDon() {
        try {
            ShowHiden_PCT();
            ShowHiden_DQSC();
            ShowHiden_GPHI();
        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_PCT() {
        try {
            if ($("#2_rdPCT").is(':checked')) {
                $("#divPCT").removeClass("clssDisplaynone");
                $("#txt_PCT_SoDon").focus();
            }
            else {
                $("#divPCT").addClass("clssDisplaynone");
            }


        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_DQSC() {
        try {
            if ($("#2_rdDQSC").is(':checked')) {
                $("#divDQSC").removeClass("clssDisplaynone");
                $("#txt_PCT_So").focus();
            }
            else {
                $("#divDQSC").addClass("clssDisplaynone");
            }


        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_GPHI() {
        try {
            if ($("#2_rdGPHI").is(':checked')) {
                $("#divGPHI").removeClass("clssDisplaynone");
                $("#txt_GPHI_SoDon").focus();
            }
            else {
                $("#divGPHI").addClass("clssDisplaynone");
            }

        } catch (e) {
            alert(e);
        }
    }

    function ShowHiden_PCT_SuaDoi() {
        try {
            if ($("#2_rdo_PCT_SuaDoi").is(':checked') ) {
                $("#divPCT_SuaDoi").removeClass("clssDisplaynone");
            }
            else {
                $("#divPCT_SuaDoi").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeChuDonKhac() {
        try {
            if ($("#rdChuDonKhac").is(':checked')) {
                $("#divChungDonKhac001").removeClass("clssDisplaynone");
            }
            else {
                $("#divChungDonKhac001").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeTuPhanLoai() {
        try {
            if ($("#ckbTuPhanLoai").is(':checked')) {
                $("#divTuNhapPhanLoai").removeClass("clssDisplaynone");
                $("#txtClass").focus();
            }
            else {
                $("#divTuNhapPhanLoai").addClass("clssDisplaynone");
            }

            $("#txtClass").val("");
        } catch (e) {
            alert(e);
        }
    }

    function ThemTacGia() {
        try {

            var _id = parseInt($("#txt_id_tacgia").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/lg-patent/tac-gia/them-tac-gia/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divTacGiaKhac").append(data);
                    $("#txt_id_tacgia").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function ThemChuDon() {
        try {

            var _id = parseInt($("#txt_id_ChuDon").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/lg-patent/chu-don/them-chu-don/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divChuDonKhac").append(data);
                    $("#txt_id_ChuDon").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function XoaTacGia(pId, pId2) {
        try {
            $("#" + pId).addClass("clssDisplaynone");

            $("#" + pId2).val("0");
        } catch (e) {
            alert(e);
        }
    }

    function ThemDonUuTien() {
        try {

            $.ajax({
                type: 'POST',
                url: '/lg-patent/don-uu-tien/them-don/',
                data: {
                    p_id: "2"
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#div_ThongTinDonUuTien").append(data);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    $("#ckb_Doc_16").change(function () {
        if ($("#ckb_Doc_16").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });

    //$("#ckb_Doc_17").change(function () {
    //    if ($("#ckb_Doc_17").is(":checked") == true) {
    //        $("#divContainerDocOther_Img").css('display', 'block')
    //    } else {
    //        $("#divContainerDocOther_Img").css('display', 'none');
    //    }
    //});


    function funcGetAppDetail(formData, pType) {
        try {

            var _txtMADDSHCN = $("#txtMADDSHCN").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();

            // nếu là gửi đơn
            if (pType == 2) {
                if (v_RepMasterType = "DDPL") {
                    if (_txtMADDSHCN == "") {
                        jError("@Resource.TM3C_MaDaiDienKhongDuocTrong", "@Resource.TM3B_Loi", function () {
                            $("#txtMADDSHCN").focus()
                        });
                        return false;
                    }
                }
            }

            formData.append("pInfo.Customer_Code", _txtMADDSHCN);

            var _txt_Patent_Name = $("#txt_Patent_Name").val();
            if (pType == 2) {
                if (_txt_Patent_Name == "") {
                    jError("Tên bằng sáng chế không được để trống", "@Resource.TM3B_Loi", function () {
                        $("#txt_Patent_Name").focus()
                    });
                    return false;
                }
            }

            formData.append("pDetail.Patent_Name", _txt_Patent_Name);
            formData.append("pDetail.Patent_Type", "DQSC");


            if ($("#ckbCucPhanLoai").is(':checked')) {
                formData.append("pDetail.Class_Type", "CUC");
                formData.append("pDetail.Class_Content", "");
            } else {
                formData.append("pDetail.Class_Type", "MY");
                formData.append("pDetail.Class_Content", $("#txtClass").val());
            }

            var _txtPoint = $("#txtPoint").val();
            if (pType == 2) {
                if (_txtPoint == "") {
                    jError("Số điểm yêu cầu bảo hộ độc lập không được để trống", "@Resource.TM3B_Loi", function () {
                        $("#txtPoint").focus()
                    });
                    return false;
                }
            }

            formData.append("pDetail.Point", _txtPoint);


            if ($("#ckbThamDinhNoiDung").is(':checked')) {
                formData.append("pDetail.ThamDinhNoiDung", "TDND");
            } else {
                formData.append("pDetail.ThamDinhNoiDung", "");
            }

            if ($("#ckbChuyenDoiDon").is(':checked')) {
                formData.append("pDetail.ChuyenDoiDon", "CDD");
            } else {
                formData.append("pDetail.ChuyenDoiDon", "");
            }

            // nguồn gốc đơn
            if ($("#2_rdPCT").is(':checked')) {
                formData.append("pDetail.Source_PCT", "Y");
                formData.append("pDetail.PCT_Number", $("#txt_PCT_SoDon").val());
                formData.append("pDetail.PCT_Filling_Date_Qt", $("#txt_PCT_NgayNopQT").val());
                formData.append("pDetail.PCT_Number_Qt", $("#txt_PCT_CongBoQT").val());
                formData.append("pDetail.PCT_Date", $("#txt_PCT_Date").val());
                formData.append("pDetail.PCT_VN_Date", $("#txt_PCT_VN_Date").val());

                if ($("#2_rdo_PCT_SuaDoi").is(':checked')) {
                    formData.append("pDetail.PCT_SuaDoi", 1);

                    var _Request_To_Type = $("input[name='4_rdoNoiDungYeuCauSuaDoi']:checked").val();
                    if (pType == 2) {
                        if (_Request_To_Type === "" || _Request_To_Type == undefined) {
                            jError("@Resource.TM3B_ChonNoiDungYCSuaDoi", "@Resource.TM3B_Loi", function () {
                                $("#4_rdTenChuDon").focus()
                            });
                            return false;
                        }
                    }

                    if ($("#4_rdTenChuDon").is(':checked')) {
                        formData.append("pDetail.PCT_SuaDoi_Name", "Y");
                    } else {
                        formData.append("pDetail.PCT_SuaDoi_Name", "N");
                    }

                    if ($("#4_rdDiaChiChuDon").is(':checked')) {
                        formData.append("pDetail.PCT_SuaDoi_Address", "Y");
                    } else {
                        formData.append("pDetail.PCT_SuaDoi_Address", "N");
                    }

                    if ($("#4_rdnoiDungKhac").is(':checked')) {
                        formData.append("pDetail.PCT_SuaDoi_Others", "Y");
                    } else {
                        formData.append("pDetail.PCT_SuaDoi_Others", "N");
                    }

                    formData.append("pDetail.PCT_SuaDoi_Content", $("#4_DeNghiSuaThanh").val());

                } else {
                    formData.append("pDetail.PCT_SuaDoi", 0);
                    formData.append("pDetail.PCT_SuaDoi_Type", "");
                    formData.append("pDetail.PCT_SuaDoi_Content", "");
                }
            } else {
                formData.append("pDetail.Source_PCT", "N");
                formData.append("pDetail.PCT_Number", "");
                formData.append("pDetail.PCT_Filling_Date_Qt", "");
                formData.append("pDetail.PCT_Number_Qt", "");
                formData.append("pDetail.PCT_Date", "");
                formData.append("pDetail.PCT_VN_Date", "");

                formData.append("pDetail.PCT_SuaDoi", 0);
                formData.append("pDetail.PCT_SuaDoi_Type", "");
                formData.append("pDetail.PCT_SuaDoi_Content", "");
            }

            if ($("#2_rdDQSC").is(':checked')) {
                formData.append("pDetail.Source_DQSC", "Y");
                formData.append("pDetail.DQSC_Origin_App_No", $("#txt_DQSC_SoDon").val());
                formData.append("pDetail.DQSC_Filling_Date", $("#txt_DQSC_NgayNop").val());

                if ($("#DQSC_TruocHopLe").is(':checked')) {
                    formData.append("pDetail.DQSC_Valid_Before", 1);
                } else {
                    formData.append("pDetail.DQSC_Valid_Before", 0);
                }

                if ($("#DQSC_SauHopLe").is(':checked')) {
                    formData.append("pDetail.DQSC_Valid_After", 1);
                } else {
                    formData.append("pDetail.DQSC_Valid_After", 0);
                }
            } else {
                formData.append("pDetail.Source_DQSC", "N");
                formData.append("pDetail.DQSC_Origin_App_No", "");
                formData.append("pDetail.DQSC_Filling_Date", "");
                formData.append("pDetail.DQSC_Valid_Before", 0);
                formData.append("pDetail.DQSC_Valid_After", 0);
            }

            if ($("#2_rdGPHI").is(':checked')) {
                formData.append("pDetail.Source_GPHI", "Y");
                formData.append("pDetail.GPHI_Origin_App_No", $("#txt_GPHI_SoDon").val());
                formData.append("pDetail.GPHI_Filling_Date", $("#txt_GPHI_NgayNop").val());

                if ($("#GPHI_TruocHopLe").is(':checked')) {
                    formData.append("pDetail.GPHI_Valid_Before", 1);
                } else {
                    formData.append("pDetail.GPHI_Valid_Before", 0);
                }

                if ($("#GPHI_SauHopLe").is(':checked')) {
                    formData.append("pDetail.GPHI_Valid_After", 1);
                } else {
                    formData.append("pDetail.GPHI_Valid_After", 0);
                }
            } else {
                formData.append("pDetail.Source_GPHI", "N");
                formData.append("pDetail.GPHI_Origin_App_No", "");
                formData.append("pDetail.GPHI_Filling_Date", "");
                formData.append("pDetail.GPHI_Valid_Before", 0);
                formData.append("pDetail.GPHI_Valid_After", 0);
            }

            var _index = 0;
            $(".clsTacGia").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse").val() == "1") {

                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Name", $("#" + _id +  "_TG_TenDayDu").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Address", $("#" + _id + "_TG_DiaChi").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Phone", $("#" + _id +  "_TG_DienThoai").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Fax", $("#" + _id + "_TG_Fax").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Email", $("#" + _id + "_TG_Email").val());
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Country", $("#" + _id + "_TG_QuocTich").val());

                    var cbo_country_tg = document.getElementById(_id + "_TG_QuocTich");
                    formData.append("pAppAuthorsInfo[" + _index + "].Author_Country_Display", cbo_country_tg.options[cbo_country_tg.selectedIndex].text);

                    _index = _index + 1;
                }
            });

            // đơn ưu tiên
            var v_CoSDQuyenUT = 0;
            if ($("#0_ckbCoSuDungDonUuTien").prop('checked') == true) {
                v_CoSDQuyenUT = 1;
            }
            formData.append("pDetail.Used_Special", v_CoSDQuyenUT);

            if (v_CoSDQuyenUT == 1) {

                _index = 0;
                var _index_document = 12;

                $(".clsDivDonUTien").each(function (item) {
                    var _id = $(this).attr('data-id');
                    if ($("#" + _id + "_UT_Use").val() == "1") {

                        if (pType == 2) {
                            if ($("#" + _id + "_UT_txtSoDon").val() === "" || $("#" + _id + "_UT_txtSoDon").val() == undefined) {
                                showError('Số đơn ưu tiên không được để trống');
                                $("#" + _id + "_UT_txtSoDon").focus();
                                return false;
                            }

                            if ($("#" + _id + "_UT_txtNgayNopDon").val() === "" || $("#" + _id + "_UT_txtNgayNopDon").val() == undefined) {
                                showError('Ngày nộp đơn ưu tiên không được để trống');
                                $("#" + _id + "_UT_txtNgayNopDon").focus();
                                return false;
                            }

                            if ($("#" + _id + "_UT_txtQuocGia").val() === "" || $("#" + _id + "_UT_txtQuocGia").val() == undefined) {
                                showError('Nước nộp đơn ưu tiên không được để trống');
                                $("#" + _id + "_UT_txtQuocGia").focus();
                                return false;
                            }
                        }

                        formData.append("pUTienInfo[" + _index + "].UT_SoDon", $("#" + _id + "_UT_txtSoDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_NgayNopDon", $("#" + _id + "_UT_txtNgayNopDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_QuocGia", $("#" + _id + "_UT_txtQuocGia").val());

                        var cbo_country = document.getElementById(_id + "_UT_txtQuocGia");
                        formData.append("pUTienInfo[" + _index + "].UT_QuocGia_Display", cbo_country.options[cbo_country.selectedIndex].text);

                        var _nameYC = _id + "_rdo_YCHuongQuyen";
                        var v_QuyenUuTien = $("input[name='" + _nameYC + "']:checked").val();
                        if (pType == 2) {
                            if (v_QuyenUuTien == undefined || v_QuyenUuTien == null || v_QuyenUuTien == 0 && (pEditOrNew == 1)) {
                                showError('Yêu cầu hưởng quyền ưu tiên phải chọn ít nhất 1 giá trị');
                                return false;
                            }
                        }
                        formData.append("pUTienInfo[" + _index + "].UT_Type", v_QuyenUuTien);
                        formData.append("pUTienInfo[" + _index + "].UT_ThoaThuanKhac", $("#" + _id + "_txtThoathuanKhac").val());
                        _index = _index + 1;
                        _index_document = _index_document + 1;
                        // 13

                        var _id_checkbox = "ckb_" + _id + "_TLCMQUT";
                        var _id_textbox = "txt_" + _id + "_TLCMQUT";
                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_BanSaoDauTien";
                        var _id_textbox = "txt_" + _id + "_BanSaoDauTien";

                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_BanDich";
                        var _id_textbox = "txt_" + _id + "_BanDich";

                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());

                        _index_document = _index_document + 1;
                        _id_checkbox = "ckb_" + _id + "_GiayChuyenNhuong";
                        var _id_textbox = "txt_" + _id + "_GiayChuyenNhuong";
                        reponse = funcGetCheckValueAndText(formData, _id_checkbox, _index_document);
                        //formData.append("pAppDocumentInfo[" + _index_document + "].CHAR01", $("#" + _id_textbox).val());
                    }
                });

            }
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_Doc_01").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_Doc_01_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_Doc_02").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_Doc_02_2").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_03", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_Doc_03").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_04", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_Doc_04").val());
            formData.append("pAppDocumentInfo[3].CHAR02", $("#txt_Doc_04_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_Doc_05").val());


            // 6
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_Doc_06").val());

            // 7
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_07", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_Doc_07").val());

            // 8
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_08", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", "");

            // 9
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_09", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", "");

            // 10
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_10", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", "");

            // 11
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_11", "10");
            formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_Doc_11").val());

            // quyền ưu tiên
            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_12", "11");

            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_13", "12");
            //formData.append("pAppDocumentInfo[12].CHAR01", $("#txt_Doc_13").val());

            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_14", "13");
            //formData.append("pAppDocumentInfo[13].CHAR01", "");
            // end quyen uu tien

            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_15", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", "");

            // 16
            reponse = funcGetCheckValueAndText(formData, "ckb_Doc_16", "12");
            formData.append("pAppDocumentInfo[12].CHAR01", "");

        } catch (e) {
            console.log(e);
        }
    }

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    function funcGetImagePublic(formData) {
        try {
            var item = 0;
            $(".clssListUploadImg").each(function () {
                formData.append("pLstImagePublic[" + item + "].keyFileUpload", this.id);
                formData.append("pLstImagePublic[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
