@using BussinessFacade.ModuleMemoryData
<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:200px">
            <input type="checkbox" maxlength="3" value="C06DKQT_D_01" id="_6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            Tờ khai, gồm:
        </div>
    </div>
    <div class="div-search-title">
        <div>số trang: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input style="width:140px" type="text" id="_6_txtToKhaiTrang" maxlength="50" placeholder="_6_txtToKhaiTrang" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        </div>

    </div>
    <div class="div-search-title">
        <div>
            số bản:
        </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="_6_txtToKhaiBan" maxlength="50" placeholder="_6_txtToKhaiBan" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoToKhai")
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:300px">
            <input type="checkbox" id="_6_rdoMauDKVPQuocTe" value="C06DKQT_D_02" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            Mẫu đăng ký của Văn phòng quốc tế, form số:
        </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="_6_txtMauDKVPQuocTe" maxlength="50" placeholder="_6_txtMauDKVPQuocTe" />
        </div>
    </div>
    <div class="div-search-title">
        <div>làm bằng tiếng </div>
    </div>
    <div class="div-search-content">
        <div style="width:150px">
            <select id="_6_cboNgonNguMauDangKy">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div>số trang:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="_6_txtnumberpage" maxlength=" 50" placeholder="_6_txtnumberpage" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        </div>
    </div>

    <div class="div-search-title">
        <div>số bản:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="_6_txtnumberCopy" maxlength="50" placeholder="_6_txtnumberCopy" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        </div>
    </div>

</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoMauDKVPQuocTe")
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:200px">
            <input type="checkbox" id="_6_rdoMauNhanHieu" value="C06DKQT_D_03" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            Mẫu nhãn hiệu:
        </div>
    </div>
    <div class="div-search-title">
        <div>
            Số mẫu:
        </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="_6_txtSoLuongMauNH" maxlength="3" placeholder="_6_txtSoLuongMauNH" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoMauNhanHieu")
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:100%">
            <input type="checkbox" id="_6_rdoBanSaoToKhai" value="C06DKQT_D_04" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            <label>  Bản sao Tờ khai yêu cầu cấp GCN đăng ký nhãn hiệu cơ sở</label> 
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanSaoToKhai")
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:100%">
            <input type="checkbox" id="_6_rdoBanSaoGiayChungNhanDKNHCS" value="C06DKQT_D_05" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            <label> Bản sao Giấy chứng nhận đăng ký nhãn hiệu cơ sở</label> 
        </div>
    </div>
</div>
<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanSaoGiayChungNhanDKNHCS")
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:100%">
            <input type="checkbox" id="_6_rdoBanCamketSDNDBaoHo" value="C06DKQT_D_06" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            <label>
                Bản cam kết sẽ sử dụng NH tại nước yêu cầu đăng ký bảo hộ (nếu chỉ định vào các quốc gia Ireland, Singapore, Vương quốc Anh và Hoa Kỳ
            </label>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanCamketSDNDBaoHo")
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:600px">
            <input type="checkbox" id="_6_rdoGiayUyQuyenBangTieng" value="C06DKQT_D_07" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            Giấy ủy quyền bằng tiếng:
        </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="_6_cboNgonNguGiayUyQuyen">
                @foreach (var item in MemoryData.c_lst_Country)
                {
                    if (item.Country_Id == Common.Common.Country_VietNam_Id)
                    {
                        <option selected="selected" value="@item.Country_Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Country_Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
<div class="div-search-ad">
    <div class="div-search-content">
        <div>
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoGiayUyQuyenBangTieng")
        </div>
    </div>
</div>



<div class="class_full_div_input" style="margin-left:30px">
    <div class="class_radio_head"><input type="checkbox" id="_6_rdoBanDichTiengViet" value="C06DKQT_D_08" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
    <div class="class_text_end">
        <label class="class_text_left">Bản dịch tiếng Việt gồm </label>
        <input style="width:15%; padding-left:5px" type="text" id="_6_txtSoLuongBanDichTiengViet" maxlength="3" placeholder="_6_txtSoLuongBanDichTiengViet" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" />
        <label class="class_text_left">trang</label>
    </div>
</div>

@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanDichTiengViet")

<div class="class_full_div_input" style="margin-left:30px">
    <div class="class_radio_head"><input type="checkbox" id="_6_rdoBanGoc" value="C06DKQT_D_09" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
    <div class="class_text_end">
        <label class="class_text_left">Bản gốc </label>
    </div>
</div>

@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanGoc")


<div class="class_full_div_input" style="margin-left:30px">
    <div class="class_radio_head"><input type="checkbox" id="_6_rdoBanSao" value="C06DKQT_D_10" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
    <div class="class_text_end">
        <label class="class_text_left">Bản sao </label>
    </div>
</div>

@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoBanSao")


<div class="class_full_div_input" style="margin-left:50px">
    <div class="class_radio_head"><input type="radio" name="C06DKQT_D_10" id="_6_rdoBanGocSeNopSau" value="C06DKQT_D_10" /></div>
    <div class="class_text_end">
        <label class="class_text_left">Bản gốc sẽ nộp sau </label>
    </div>
</div>


<div class="class_full_div_input" style="margin-left:50px">
    <div class="class_radio_head"><input type="radio" name="C06DKQT_D_10" id="_6_rdoBanGocDaNopTheoDonSo" value="C06DKQT_D_11"     /></div>
    <div class="class_text_end">
        <label class="class_text_left">Bản gốc đã nộp theo đơn số:  </label>
        <input style="width:15%; padding-left:5px" type="text" id="_6_txtbanGocNopTheoDonSo" maxlength="50" placeholder="6_txtbanGocNopTheoDonSo" />
    </div>
    <br />
</div>



<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:100%">
            <input type="checkbox" id="_6_rdoChungTuLePhi" value="C06DKQT_D_12" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            <label>  Chứng từ, lệ phí</label> 
        </div>
    </div>
</div>
<div class="div-search-ad">
    <div class="div-search-content">
        <div>
         @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoChungTuLePhi")
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-checkbox" style="width:100%">
            <input type="checkbox" id="_6_rdoCoTaiLieuBoTroKhaiBoSung" value="C06DKQT_D_13" onchange="return ShowHidenUpLoad(this.id, this.id);" />
            <label> Có tài liệu bổ trợ khai tại trang bổ sung </label> 
        </div>
    </div>
</div>
<div class="div-search-ad">
    <div class="div-search-content">
        <div>
          @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoCoTaiLieuBoTroKhaiBoSung")
        </div>
    </div>
</div>

 




