@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@{
    //  ViewBag.Title = "XEM CHI TIẾT YÊU CẦU GHI NHẬN CHUYỂN NHƯỢNG ĐƠN ĐĂNG KÝ ĐỐI TƯỢNG SỞ HỮU CÔNG NGHIỆP";
    ViewBag.Title = "Request for amendment of application";
    Layout = "~/ViewsShared/_Layout.cshtml";


    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Detail_PLB02_CGD_Info _App_Detail = new App_Detail_PLB02_CGD_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLB02_CGD_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }
}
@using WebApps.Resources;
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;">  Request for amendment of application</a></li>
    </ul>
</div>

<input type="hidden" id="txtAppCode" value='@_AppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">
            @Resource.TM3C_Legend
        </legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName_View.cshtml", "0")

        @* 4 - ĐƠN ĐƯỢC CHUYỂN NHƯỢNG *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM3C_FormHeader
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    @if (_App_Detail.Transfer_Type == 1)
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_SC" value="1" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_SC" value="1" disabled="disabled">
                    }
                    <label>@Resource.TM3B_DonDKSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Transfer_Type == 2)
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_KDCN" value="2" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_KDCN" value="2" disabled="disabled">
                    }
                    <label>@Resource.TM3B_DonDKKieuDangCongNghiep</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    @if (_App_Detail.Transfer_Type == 3)
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_MBD" value="3" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_MBD" value="3" disabled="disabled">
                    }

                    <label>@Resource.TM3B_DonDKThietKeBotriMach </label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Transfer_Type == 4)
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_NH" value="4" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_NH" value="4" disabled="disabled">
                    }
                    <label>@Resource.TM3B_DonDKNhanHieu</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoDon:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="4_txt_SoDon" disabled="disabled" value="@_App_Detail.Transfer_Appno" />
                </div>
            </div>
        </div>

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon_View.cshtml")

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    @if (_App_Detail.Master_Type == 1)
                    {
                        <input type="radio" name="1_rdoChuDon" value="1" id="rb_1_ChuDonChuyenNhuong" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="1_rdoChuDon" value="1" id="rb_1_ChuDonChuyenNhuong" disabled="disabled">
                    }

                    <label>@Resource.TM3C_LaBenChuyenNhuong</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    @if (_App_Detail.Master_Type == 2)
                    {
                        <input type="radio" name="1_rdoChuDon" value="2" disabled="disabled" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="1_rdoChuDon" value="2" disabled="disabled">
                    }
                    <label>@Resource.TM3C_LaBenNhanChuyenNhuong</label>
                </div>
            </div>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM2B_DaiDienChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon_View.cshtml")

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3C_MaDaiDien:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="Mã đại diện" id="txt_MaDaiDien" value="@_App_Detail.Customer_Code" disabled="disabled" />
                </div>
            </div>
        </div>
        @* end 2 *@

        @* 3 - BÊN THỨ HAI TRONG HỢP ĐỒNG (KHÔNG ĐỨNG TÊN CHỦ ĐƠN) *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM3C_BenThuHaiTrongHD
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/PLB02_CGD_3C/_PartialSecondMaster_View.cshtml", "3")


        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        @{
            string _doc_id = "02_CGD_01";
            string _id = _doc_id + "|6_Doc_ToKhai|0|Tờ khai, gồm|Số trang|0";
            string _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            string _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model)
        }

        @* 2. Văn bản chuyển nhượng đơn, bằng tiếng *@
        @{
            string _doc_id2 = "02_CGD_02";
            string _id2 = _doc_id2 + "|6_Doc_02_CGD_02|0|" + Resource.TM3C_VanBanChuyenNhuong + "|" + Resource.TM3B_Tieng + "|1";
            string _value2 = dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy;
            string _model2 = _id2 + ";" + _value2;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model2)
        }

        @* 3. Văn bản đồng ý của những chủ đơn khác (trường hợp nhiều người cùng có quyền nộp đơn) *@
        @{
            string _doc_id3 = "02_CGD_03";
            string _id3 = _doc_id3 + "|6_Doc_02_CGD_03|0|" + Resource.TM3C_VanBanDongY + "||1";
            string _value3 = dic_appDoc[_doc_id3].Isuse.ToString().Trim() + " | " + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy;
            string _model3 = _id3 + ";" + _value3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model3)
        }

        @* 4. Bản dịch tiếng Việt *@
        @{
            string _doc_id4 = "02_CGD_04";
            string _id4 = _doc_id4 + "|6_Doc_02_CGD_04|0|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value4 = dic_appDoc[_doc_id4].Isuse.ToString().Trim() + " | " + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
            string _model4 = _id4 + ";" + _value4;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model4)
        }

        @* 5. Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id50 = "02_CGD_05";
            string _id50 = _doc_id50 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|1";
            string _value50 = dic_appDoc[_doc_id50].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id50].CHAR01 + "|" + dic_appDoc[_doc_id50].Url_Hardcopy;
            string _model50 = _id50 + ";" + _value50;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model50)
        }

        @* 6 -> 5.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id5 = "02_CGD_06";
            string _id5 = _doc_id5 + "|6_Doc_BanDichPOA|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value5 = dic_appDoc[_doc_id5].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id5].CHAR01 + "|" + dic_appDoc[_doc_id5].Url_Hardcopy;
            string _model5 = _id5 + ";" + _value5;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model5)
        }

        @* 7 -> 5.2 Bản gốc *@
        @{
            string _doc_id6 = "02_CGD_07";
            string _id6 = _doc_id6 + "|6_Doc_BanGocPOA|1|" + Resource.TM2B_BanGoc + "||1";
            string _value6 = dic_appDoc[_doc_id6].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id6].CHAR01 + "|" + dic_appDoc[_doc_id6].Url_Hardcopy;
            string _model6 = _id6 + ";" + _value6;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model6)
        }

        @* 8 -> 5.3 Bản sao *@
        @{
            string _doc_id7 = "02_CGD_08";
            string _id7 = _doc_id7 + "|6_Doc_BanSaoPOA|1|" + Resource.TM2B_BanSao + "||0";
            string _value7 = dic_appDoc[_doc_id7].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id7].CHAR01 + "|" + dic_appDoc[_doc_id7].Url_Hardcopy;
            string _model7 = _id7 + ";" + _value7;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model7)
        }

        @* 9 -> 5.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id8 = "02_CGD_09";
            string _id8 = _doc_id8 + "|6_Doc_BanGocPOA_Later|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            string _value8 = dic_appDoc[_doc_id8].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id8].CHAR01 + "|" + dic_appDoc[_doc_id8].Url_Hardcopy;
            string _model8 = _id8 + ";" + _value8;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model8)
        }

        @* 10 -> 5.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id9 = "02_CGD_10";
            string _id9 = _doc_id9 + "|6_Doc_BanGocPOA_ByApp|2|" + Resource.lblBanGocNopTheoDonSo + "|" + Resource.TM3B_SoDon + "|0";
            string _value9 = dic_appDoc[_doc_id9].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id9].CHAR01 + "|" + dic_appDoc[_doc_id9].Url_Hardcopy;
            string _model9 = _id9 + ";" + _value9;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model9)
        }

        @* 11 -> Bản sao chứng từ nộp phí *@
        @{
            string _doc_id10 = "02_CGD_11";
            string _id10 = _doc_id10 + "|6_Doc_BanSaoChungTu|0|" + Resource.TM3B_BanSaoChungTuNopPhi + "||1";
            string _value10 = dic_appDoc[_doc_id10].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id10].CHAR01 + "|" + dic_appDoc[_doc_id10].Url_Hardcopy;
            string _model10 = _id10 + ";" + _value10;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model10)
        }

        @* 12. Khác *@
        @{
            string _doc_id11 = "02_CGD_12";
            string _id11 = _doc_id11 + "|6_Doc_Other|0|" + Resource.TM3B_TaiLieuKhac + "|" + Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1";
            string _value11 = dic_appDoc[_doc_id11].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id11].CHAR01 + "|" + dic_appDoc[_doc_id11].Url_Hardcopy;
            string _model11 = _id11 + ";" + _value11;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_View.cshtml", _model11)
        }

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_View.cshtml", _camket)
        }
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLB02_CGD_3C/_PartialPreview.cshtml");
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    //function ShowHidenUpLoad(pID, pClass, pTxt) {
    //    try {
    //        if ($("#" + pID).is(':checked')) {
    //            $("#div_up_" + pClass).removeClass("clssDisplaynone");

    //            // ẩn text
    //            if (pTxt != "") {
    //                $("#" + pTxt).removeAttr("disabled");
    //            }
    //        }
    //        else {
    //            $("#div_up_" + pClass).addClass("clssDisplaynone");

    //            // ẩn text
    //            if (pTxt != "") {
    //                $("#" + pTxt).prop('disabled', true);
    //            }
    //        }
    //    } catch (e) {
    //        alert(e);
    //    }
    //}

</script>
