@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Request for amendment of application";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }
}
@using WebApps.Resources;
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

@*<div class="d-nav-container">
        <ul class="ul-nav">
            <li><a href="javascript:;">TradeMark</a></li>
            <li><a href="javascript:;">  Request for amendment of application</a></li>
        </ul>
    </div>*@

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM3C_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>

<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">
            @Resource.TM3C_Legend
        </legend>

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 4 - ĐƠN ĐƯỢC CHUYỂN NHƯỢNG *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3C_FormHeader
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_SC" value="1">
                    <label>@Resource.TM3B_DonDKSangChe</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_KDCN" value="2">
                    <label>@Resource.TM3B_DonDKKieuDangCongNghiep</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_MBD" value="3">
                    <label>@Resource.TM3B_DonDKThietKeBotriMach </label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="4_rdoDonDuocChuyenNhuong" id="4_rdDK_NH" value="4">
                    <label>@Resource.TM3B_DonDKNhanHieu</label>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3B_SoDon:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3B_SoDon" id="4_txt_SoDon" onblur="onChangeAppNo()" />
                </div>
            </div>
        </div>

        @* end 4 *@

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        <div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:382px">
                    <input type="radio" name="1_rdoChuDon" value="1" id="rb_1_ChuDonChuyenNhuong">
                    <label>@Resource.TM3C_LaBenChuyenNhuong</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdoChuDon" value="2">
                    <label>@Resource.TM3C_LaBenNhanChuyenNhuong</label>
                </div>
            </div>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_DaiDienChuDon
            </div>
        </div>

        <div id="div_PartialThongTinDaiDienChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3C_MaDaiDien:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3C_MaDaiDien" id="txt_MaDaiDien" />
                </div>
            </div>
        </div>
        @* end 2 *@

        @* 3 - BÊN THỨ HAI TRONG HỢP ĐỒNG (KHÔNG ĐỨNG TÊN CHỦ ĐƠN) *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3C_BenThuHaiTrongHD
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/PLB02_CGD_3C/_PartialSecondMaster.cshtml", "3")
        @* end 3 *@



        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox">
                    <input type="checkbox" name="ckb_6_Doc_02_CGD_01" id="ckb_6_Doc_02_CGD_01" value="02_CGD_01" checked="checked">
                    <label>@Resource.TM3C_ToKhaiGom</label>
                </div>
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialTaiLieuTrongDon_3B.cshtml", "ckb_6_Doc_ToKhai")

        @* 2. Văn bản chuyển nhượng đơn, bằng tiếng *@
        @{
            string _doc_id2 = "02_CGD_02";
            string _model2 = _doc_id2 + "|6_Doc_02_CGD_02|0|" + Resource.TM3C_VanBanChuyenNhuong + "|" + Resource.TM3B_Tieng + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model2)
        }

        @* 3. Văn bản đồng ý của những chủ đơn khác (trường hợp nhiều người cùng có quyền nộp đơn) *@
        @{
            string _doc_id3 = "02_CGD_03";
            string _model3 = _doc_id3 + "|6_Doc_02_CGD_03|0|" + Resource.TM3C_VanBanDongY + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model3)
        }

        @* 4. Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id4 = "02_CGD_04";
            string _model4 = _doc_id4 + "|6_Doc_02_CGD_04|0|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model4)
        }

        @* 5.. POA Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id50 = "02_CGD_05";
            string _model50 = _doc_id50 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model50)
        }

        @* 6 -> 5.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id51 = "02_CGD_06";
            string _model51 = _doc_id51 + "|6_Doc_BanDichPOA|1|" + Resource.TM3B_BanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model51)
        }

        @* 7 -> 5.2 Bản gốc *@
        @{
            string _doc_id6 = "02_CGD_07";
            string _model6 = _doc_id6 + "|6_Doc_BanGocPOA|1|" + Resource.TM2B_BanGoc + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model6)
        }

        @* 8 -> 5.3 Bản sao *@
        @{
            string _doc_id7 = "02_CGD_08";
            string _model7 = _doc_id7 + "|6_Doc_BanSaoPOA|1|" + Resource.TM2B_BanSao + "||0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model7)
        }


        @* 9 -> 5.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id8 = "02_CGD_09";
            string _model8 = _doc_id8 + "|6_Doc_BanGocPOA_Later|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model8)
        }

        @* 10 -> 5.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id9 = "02_CGD_10";
            string _model9 = _doc_id9 + "|6_Doc_BanGocPOA_ByApp|2|" + Resource.lblBanGocNopTheoDonSo + "|" + Resource.TM3B_SoDon + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model9)
        }

        @* END POA *@

        @* 11. Bản sao chứng từ nộp phí *@
        @{

            string _doc_id10 = "02_CGD_11";
            string _model10 = _doc_id10 + "|6_Doc_BanSaoChungTu|0|" + Resource.TM3B_BanSaoChungTuNopPhi + "||1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model10)
        }

        @* 12. Khác *@
        @{

            string _doc_id11 = "02_CGD_12";
            string _model11 = _doc_id11 + "|6_Doc_Other|0|" + Resource.TM3B_TaiLieuKhac + "|" + Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1";
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model11)
        }

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")


        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div> <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="Dữ liệu quá khứ" id="btnDuLieuCu" class="btn class_37" style="margin-left:5px" />
            </div>
        </div>

    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLB02_CGD_3C/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<script>
    $(document).ready(function () {
        //$.datetimepicker.setLocale('vi');
        //$('.datetimepicker').datetimepicker({
        //    timepicker: false,
        //    format: 'd/m/Y',
        //    formatDate: 'd/m/Y',
        //    mask: '39/19/9999',
        //    validateOnBlur: false,
        //    scrollInput: false
        //});
        $("#0_txtCase_Name").focus();

        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });

        // nếu có appno
        if ('@_App_No' != "")
        {
            $("#4_txt_SoDon").val('@_App_No');
            onChangeAppNo();
        }
    });

    function onChangeAppNo() {
        try {
            var _AppNo = $("#4_txt_SoDon").val();
            if (_AppNo != "") {

                $.ajax({
                    type: 'POST',
                    url: '/trade-mark-3b/getMasterByAppNo/',
                    data: {
                        p_appNo: _AppNo,
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);

                        $("#div_PartialThongTinChuDon").html(data.PartialThongTinChuDon);
                        $("#div_PartialThongTinDaiDienChuDon").html(data.PartialThongTinDaiDienChuDon);
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }


    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@WebApps.Resources.Resource.ConfirmGui", function () {
                var formData = new FormData();
                var reponse = funcThongTinNhapHo(formData);
                if (reponse == false) {
                    return false;
                }

                formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.DaGui_ChoPhanLoai_Admin)');
                var reponse = funcThongTinCaseName(formData, "0");
                if (reponse == false) {
                    return false;
                }

                var v_AppCode = $("#txtAppCode").val();
                if (v_AppCode === "") {
                    $('#txtAppCode').focus().val('');
                    showError('@Resource.TM3B_ChonLoaiDonDK');
                    return false;
                }
                formData.append("pInfo.Appcode", v_AppCode);

                //Thông tin chủ đơn
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
                var Master_Type = $("input[name='1_rdoChuDon']:checked").val();
                if (Master_Type === "" || Master_Type == undefined) {
                    jError("@Resource.TM3C_ChonChuDon", "@Resource.TM3B_Loi", function () {
                        $("#rb_1_ChuDonChuyenNhuong").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Master_Type", Master_Type);


                // đại diện chủ đơn
                if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                    return false;
                }

                var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Resource.TM2B_ChonDaiDienChuDon", "@Resource.TM3B_Loi", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
                formData.append("pInfo.Rep_Master_Type", v_RepMasterType);


                //Lấy thông tin detail
                reponse = funcGetAppDetail(formData);
                if (reponse == false) {
                    return false;
                }

                //Lấy thông tin tài liệu có trong đơn
                reponse = funGetDocumentFile(formData);
                if (reponse == false) {
                    return false;
                }

                reponse = funcGetCamKetChuDon(formData);
                if (reponse == false) {
                    return false;
                }

                // Display the values
                for (var value of formData.values()) {
                    console.log(value);
                }

                // Display the values
                for (var key of formData.keys()) {
                    console.log(key);
                }

                $.ajax({
                    url: '/trade-mark-3c/register_PLB_02_CGD',
                    type: 'POST',
                    data: formData,
                    processData: false, contentType: false, traditional: true, async: false,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    headers: { "cache-control": "no-cache" },
                    //beforeSend: function () {
                    //    CreateRollingWaitingIcon(true);
                    //},
                    success: function (data) {
                        //CreateRollingWaitingIcon(false);
                        if (data != null && data.status >= 0) {
                            jAlert('@Resource.GuiDonThanhCong', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError(AddFail, ThongBao, function () {
                            });
                        }
                    },
                    error: function (e) {
                        //CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });

            });
        } catch (e) {
            //CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    $("#btnDuLieuCu").click(function () {
        try {
            nvsConfirm(null, "@WebApps.Resources.Resource.ConfirmGui", function () {
                var formData = new FormData();
                var reponse = funcThongTinNhapHo(formData);
                if (reponse == false) {
                    return false;
                }

                formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.DuLieuCu)');
                var reponse = funcThongTinCaseName(formData, "0");
                if (reponse == false) {
                    return false;
                }

                var v_AppCode = $("#txtAppCode").val();
                if (v_AppCode === "") {
                    $('#txtAppCode').focus().val('');
                    showError('@Resource.TM3B_ChonLoaiDonDK');
                    return false;
                }
                formData.append("pInfo.Appcode", v_AppCode);

                //Thông tin chủ đơn
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
                var Master_Type = $("input[name='1_rdoChuDon']:checked").val();
                if (Master_Type === "" || Master_Type == undefined) {
                    jError("@Resource.TM3C_ChonChuDon", "@Resource.TM3B_Loi", function () {
                        $("#rb_1_ChuDonChuyenNhuong").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Master_Type", Master_Type);


                // đại diện chủ đơn
                if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                    return false;
                }

                var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Resource.TM2B_ChonDaiDienChuDon", "@Resource.TM3B_Loi", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
                formData.append("pInfo.Rep_Master_Type", v_RepMasterType);


                //Lấy thông tin detail
                reponse = funcGetAppDetail(formData);
                if (reponse == false) {
                    return false;
                }

                //Lấy thông tin tài liệu có trong đơn
                reponse = funGetDocumentFile(formData);
                if (reponse == false) {
                    return false;
                }

                reponse = funcGetCamKetChuDon(formData);
                if (reponse == false) {
                    return false;
                }

                // Display the values
                for (var value of formData.values()) {
                    console.log(value);
                }

                // Display the values
                for (var key of formData.keys()) {
                    console.log(key);
                }

                $.ajax({
                    url: '/trade-mark-3c/register_PLB_02_CGD',
                    type: 'POST',
                    data: formData,
                    processData: false, contentType: false, traditional: true, async: false,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    headers: { "cache-control": "no-cache" },
                    //beforeSend: function () {
                    //    CreateRollingWaitingIcon(true);
                    //},
                    success: function (data) {
                        //CreateRollingWaitingIcon(false);
                        if (data != null && data.status >= 0) {
                            jAlert('@Resource.GuiDonThanhCong', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError(AddFail, ThongBao, function () {
                            });
                        }
                    },
                    error: function (e) {
                        //CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });

            });
        } catch (e) {
            //CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@WebApps.Resources.Resource.ConfirmLuuTam", function () {
                var formData = new FormData();
                var reponse = funcThongTinNhapHo(formData);
                if (reponse == false) {
                    return false;
                }

                formData.append("pInfo.Status", '@((int)Common.CommonData.CommonEnums.App_Status.Luu_tam)');
                var reponse = funcThongTinCaseName(formData, "0");
                if (reponse == false) {
                    return false;
                }

                var v_AppCode = $("#txtAppCode").val();
                if (v_AppCode === "") {
                    $('#txtAppCode').focus().val('');
                    showError('@Resource.TM3B_ChonLoaiDonDK');
                    return false;
                }
                formData.append("pInfo.AppCode", v_AppCode);

                //Thông tin chủ đơn
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
                var Master_Type = $("input[name='1_rdoChuDon']:checked").val();
                if (Master_Type === "" || Master_Type == undefined) {
                    jError("@Resource.TM3C_ChonChuDon", "@Resource.TM3B_Loi", function () {
                        $("#rb_1_ChuDonChuyenNhuong").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Master_Type", v_RepMasterType);

                // đại diện chủ đơn
                if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                    return false;
                }

                var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Resource.TM2B_ChonDaiDienChuDon", "@Resource.TM3B_Loi", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
                formData.append("pInfo.Rep_Master_Type", v_RepMasterType);



                //Lấy thông tin detail
                reponse = funcGetAppDetail(formData);
                if (reponse == false) {
                    return false;
                }

                //Lấy thông tin tài liệu có trong đơn
                reponse = funGetDocumentFile(formData);
                if (reponse == false) {
                    return false;
                }

                reponse = funcGetCamKetChuDon(formData);
                if (reponse == false) {
                    return false;
                }

                $.ajax({
                    url: '/trade-mark-3c/register_PLB_02_CGD',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    async: true,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data != null && data.status >= 0) {
                            jAlert('@Resource.TM3B_LuuTamThanhCong', "@Resource.TM3C_ThongBao", function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError("@Resource.TM3B_LuuTamLoi");
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });

            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e);
        }
    });

    function funcGetAppDetail(formData) {
        try {

            // BÊN THỨ HAI TRONG HỢP ĐỒNG (KHÔNG ĐỨNG TÊN CHỦ ĐƠN)
            if (funcGetSecondMaster(formData, "3") != true) {
                return false;
            }

            var txt_MaDaiDien = $("#txt_MaDaiDien").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType = "DDPL") {
                if (txt_MaDaiDien == "") {
                    jError("@Resource.TM3C_MaDaiDienKhongDuocTrong", "@Resource.TM3B_Loi", function () {
                        $("#txt_MaDaiDien").focus()
                    });
                    return false;
                }
            }
            formData.append("pDetail.Customer_Code", txt_MaDaiDien);

            var _DonDuocChuyenNhuong = $("input[name='4_rdoDonDuocChuyenNhuong']:checked").val();
            if (_DonDuocChuyenNhuong === "" || _DonDuocChuyenNhuong == undefined) {
                jError("@Resource.TM3C_ChonGiaTriYeuCauChuyenNhuong", "@Resource.TM3B_Loi", function () {
                    $("#4_rdDK_SC").focus()
                });
                return false;
            }
            formData.append("pDetail.Transfer_Type", parseInt(_DonDuocChuyenNhuong));

            // số đơn
            var _4_txt_SoDon = $("#4_txt_SoDon").val();
            if (_4_txt_SoDon === "" || _4_txt_SoDon == undefined) {
                jError("@Resource.TM3B_SoDonKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                    $("#4_txt_SoDon").focus()
                });
                return false;
            }
            formData.append("pDetail.Transfer_Appno", _4_txt_SoDon);
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1. Tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_02_CGD_01", "0");

            // 2. Tài liệu xác nhận
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_02_CGD_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_Doc_02_CGD_02").val());

            // 3 Văn bản đồng ý
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_02_CGD_03", "2");

            // 4 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_02_CGD_04", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", $("#txt_6_Doc_02_CGD_04").val());

            // 5 -> 5.0 Giấy uỷ quyền bằng tiếng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_POA", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_6_Doc_POA").val());

            // 6 -> 5.1 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichPOA", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_6_Doc_BanDichPOA").val());

            // 7 -> 5.2 Bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA", "6");

            // 8 -> 5.3 Bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoPOA", "7");

            // 9 -> 5.3.1  Bản gốc sẽ nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_Later", "8");

            // 10 -> 5.3.2  Bản gốc đã nộp theo đơn số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_ByApp", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#txt_6_Doc_BanGocPOA_ByApp").val());

            // 11 Bản sao chứng từ nộp phí, lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoChungTu", "10");

            // 12 Tài liệu khác, cụ thể:
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Other", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_6_Doc_Other").val());
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
