@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using WebApps.Resources;
@{
    ViewBag.Title = "Request for patent registration";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _App_No = "";
    if (ViewBag.App_No != null)
    {
        _App_No = (string)ViewBag.App_No;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }

    var b03_info = new B03_Info();
    if (ViewBag.B03_Info != null)
    {
        b03_info = ViewBag.B03_Info;
    }

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("B03");
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.B03_TITLE</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>

</div>
<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />
<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600"> @Resource.B03_TITLE.ToUpper()</legend>

        @Html.Partial("~/ViewsShared/_PartialQuocGia.cshtml")

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.B03_SoDon_Title.ToUpper()
            </div>
        </div>

        <div id="div_PartialThongTinChuDon">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> @Resource.B03_SoDon <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@b03_info.App_Detail_Number" type="text" maxlength="200" id="txtApp_Detail_Number" />
                    </div>
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.B03_NguoiYeuCau.ToUpper()
            </div>
        </div>
        @*<div id="div_PartialThongTinChuDon">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
        </div>*@
        <div id="div_PartialThongTinChuDon">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> @Resource.lblTenDayDu <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@b03_info.Name_Evaluator" type="text" maxlength="200" id="txtTenDayDu" />
                    </div>
                </div>
            </div>


            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> @Resource.lblDiaChi <i class="redspan">(*)</i> </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@b03_info.Address_Evaluator" type="text" maxlength="200" id="txtDiaChi" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div> @Resource.lblDienThoai: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@b03_info.Phone_Evaluator" maxlength="50" id="txtDienThoai" style="width: 250px;" />
                    </div>
                </div>

                <div class="div-search-title">
                    <div> Fax: </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@b03_info.Fax_Evaluator" type="text" maxlength="50" id="txtFax" />
                    </div>
                </div>
                <div class="div-search-title">
                    <div>Email:  </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input value="@b03_info.Email_Evaluator" type="text" maxlength="50" id="txtEmail" />
                    </div>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:385px">
                    <input type="radio" name="1_rdoChuDon" value="DDCD" id="rdChuDon">
                    <label>@Resource.B03_LaChuDon</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="1_rdoChuDon" value="NTB" id="rdNguoithuba">
                    <label>@Resource.B03_LaNguoiThuBa</label>
                </div>
            </div>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        @* end 2 *@

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.SoDiemYeuCauBaoHoDocLap.ToUpper()
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.SoDiemYeuCau <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtPoint" />
                </div>
            </div>
        </div>

        @* Yêu cầu thẩm định nội dung *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.YeuCauThamDinhNoiDung.ToUpper()
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio">
                    <input type="checkbox" id="ckbThamDinhNoiDung">
                    <label> @Resource.YeuCauThamDinhNoiDung</label>
                </div>
            </div>
        </div>


        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @foreach (Sys_Document_Info item in _lst_doc)
        {
            string _model = item.Doc_Id + "|" + item.Check_Box_Id + "|" + item.Doc_Level + "|" + item.Content_1 + "|" + item.Content_2 + "|" + item.Is_Upload + "|" + item.Width + "|" + item.Content_3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document.cshtml", _model)
        }

        @* Cam kết của chủ đơn *@
        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>

    </fieldset>
</div>
@Html.Partial("~/Areas/Patent/Views/B03/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>


<script>
    $(document).ready(function () {
        //Search suggestion
        var Name = $("#txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#txtTenDayDu").val(arrVal[0]);
                            $("#txtDiaChi").val(arrVal[1]);
                            $("#txtDienThoai").val(arrVal[2]);
                            $("#txtFax").val(arrVal[3]);
                            $("#txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });
    // gửi đơn : 2
    // lưu tạm : 1

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e);
        }
    });

    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });

        } catch (e) {
            console.log(e);
        }
    });

    function funGetData(ptype) {
        try {
            var formData = new FormData();
            var reponse = getNation_Represent(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('@Html.Raw(Resource.TM3B_ChonLoaiDonDK)');
                return false;
            }

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", v_AppCode);
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (ptype == 1) {

            } else if (ptype == 2) {
                if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                    jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                        $("#_2_rdoNguoiDaiDienPL").focus()
                    });
                    return false;
                }
            }

            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Status", ptype);

            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

           

            //Lấy thông tin detail
            reponse = funcGetAppDetail(formData, ptype);
            if (reponse == false) {
                return false;
            }

           

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }
          

            $.ajax({
                url: '/lg-patentB03/register',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                traditional: true,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.status >= 0) {
                        if (ptype == 1) {
                            jAlert('@Html.Raw(Resource.LuuTamThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jAlert('@Html.Raw(Resource.GuiDonThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        }
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });

        } catch (ex) {
            console.log(ex);
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            // 1
            // 1
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_00", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_DOC_00").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_DOC_00_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_01", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_DOC_01").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_DOC_01_2").val());


            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_02", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_DOC_02").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_03", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", "");
            //formData.append("pAppDocumentInfo[3].CHAR02", $("#txt_DOC_03_2").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_04", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", "");


            // 6
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_05", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", "");

            // 7
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_06", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_DOC_06").val());

            // 8
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_07", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#txt_DOC_07").val());

            // 9
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_08", "8");
            formData.append("pAppDocumentInfo[7].CHAR01", "");

            //// 9
            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_09", "8");
            //formData.append("pAppDocumentInfo[8].CHAR01", "");

            //// 10
            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_10", "9");
            //formData.append("pAppDocumentInfo[9].CHAR01", "");

            //// 11
            //reponse = funcGetCheckValueAndText(formData, "ckb_Doc_11", "10");
            //formData.append("pAppDocumentInfo[10].CHAR01", $("#txt_Doc_11").val());

        } catch (e) {
            console.log(e);
        }



    }
    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }


    function funcGetAppDetail(formData, pType) {
        try {
            //Mã đại diện
            var _txtMADDSHCN = $("#txtMADDSHCN").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();

            if (pType == 2) {
                if (v_RepMasterType = "DDPL") {
                    if (_txtMADDSHCN == "") {
                        jError("@Resource.TM3C_MaDaiDienKhongDuocTrong", "@Resource.TM3B_Loi", function () {
                            $("#txtMADDSHCN").focus()
                        });
                        return false;
                    }
                }
            }
            formData.append("pInfo.Customer_Code", _txtMADDSHCN);
            //số đơn
            var v_app_detail_number = $("#txtApp_Detail_Number").val();
            if (pType == 2) {
                if (v_app_detail_number === "") {
                    $('#txtApp_Detail_Number').focus().val('');
                    showError('Số đơn không được để trống');
                    return false;
                }
            }
            var v_tendaydu = $("#txtTenDayDu").val();
            if (pType == 2) {
                if (v_tendaydu === "") {
                    $('#txtTenDayDu').focus().val('');
                    showError('@Resource.TM2B_TenKhongDuocDeTrong');
                    return false;
                }
            }
            var v_diachi = $("#txtDiaChi").val();
            if (pType == 2) {
                if (v_diachi === "") {
                    $('#txtDiaChi').focus().val('');
                    showError('@Resource.TM2B_DiaChiKhongDuocDeTrong');
                    return false;
                }
            }
            var v_dienthoai = $("#txtDienThoai").val();
            //if (v_dienthoai === "") {
            //    $('#txtDienThoai').focus().val('');
            //    showError('Điện thoại không được để trống');
            //    return false;
            //}
            var v_fax = $("#txtFax").val();
            //if (v_fax === "") {
            //    $('#txtFax').focus().val('');
            //    showError('Số fax không được để trống');
            //    return false;
            //}
            var v_email = $("#txtEmail").val();
            //if (v_email === "") {
            //    $('#txtEmail').focus().val('');
            //    showError('Email không được để trống');
            //    return false;
            //}
            if (pType == 2) {
                if (v_email != "") {
                    if (!IsvalidEmail(v_email)) {
                        $("#txtEmail").focus();
                        showError('@Resource.lblThongBaoLoiEmail');
                        return false;
                    }
                }
            }
            if ($("#rdChuDon").is(':checked')) {
                formData.append("pDetail.Type_Evaluator", "CD");
            } else if ($("#rdNguoithuba").is(':checked')) {
                formData.append("pDetail.Type_Evaluator", "NTB");
            } else {
                formData.append("pDetail.Type_Evaluator", " ");
            }


            var _txtPoint = $("#txtPoint").val();
            if (pType == 2) {
                if (_txtPoint == "") {
                    jError("Số điểm yêu cầu bảo hộ độc lập không được để trống", "@Resource.TM3B_Loi", function () {
                        $("#txtPoint").focus()
                    });
                    return false;
                }
            }

            formData.append("pDetail.Point", _txtPoint);


            if ($("#ckbThamDinhNoiDung").is(':checked')) {
                formData.append("pDetail.Thamdinhnoidung", "TDND");
            } else {
                formData.append("pDetail.Thamdinhnoidung", "");
            }

            formData.append("pDetail.App_Detail_Number", v_app_detail_number);
            formData.append("pDetail.Name_Evaluator", v_tendaydu);
            formData.append("pDetail.Address_Evaluator", v_diachi);
            formData.append("pDetail.Phone_Evaluator", v_dienthoai);
            formData.append("pDetail.Fax_Evaluator", v_fax);
            formData.append("pDetail.Email_Evaluator", v_email);
           
        } catch (ex) {
            console.log(ex);
        }
    }

</script>