@using ObjectInfos.ModuleTrademark;
@using ObjectInfos
@using System.Linq
@model AppDocumentOthersInfo
@{
    string _id = Model.Model_Id.ToString();

    string pfileName = "pTreefileName" + _id;
    string txtDocument = "TreetxtTaiLieuKhac" + _id;
    string txtDocumentSoTrang = "Treetxttailieuanhsotrang" + _id;
    string txtDocumentGhiChu = "TreetxttailieuanhGhiChu" + _id;
    string txtMaxfile = "treetxtMaxfile" + _id;
    string divDocumnetNo = "treedivDocumnetNo" + _id;

    string btnXoa = "treebtnXoa" + _id;
    string btnTaiFile = "treebtnTaiFile" + _id;
    string btnremoveFile = "treebtnRemove" + _id;
    string _refid = Model.IdRef.ToString();
}

<div class="div-search-ad" id="@divDocumnetNo">
    <div class="div-search-title">
        <div> @WebApps.Resources.Resource.lblTenTaiLieu :</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" class="clssListUploadIndusDesign" maxlength="200" id="@txtDocument" meta-data2="1" meta-data="@_id" value="@Model.Documentname">
        </div>
    </div>
    <div class="div-search-title">
        <div>Số trang</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="width:90px" maxlength="4" id="@txtDocumentSoTrang" value="@Model.Char01" />
        </div>
    </div>
    <div class="div-search-title">
        <div>  Ghi chú</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="1000" id="@txtDocumentGhiChu" value="@Model.Char02" />
        </div>
    </div>

    <div class="div-search-content">
        <div>
            <button title="Thêm tài liệu cùng cấp" onclick="funcTreeAddSubDocumentNew(@_id)" style="width: 30px;margin-left:2px; height:30px">
                <i class="fa fa-plus-square"></i>
            </button>

            @if (_id != "1")
            {
                <button onclick="return funcTreeRemoveDocument('@("divChild" + _id)',1)" id="@btnXoa" style="width: 30px;margin-left:2px">
                    <i class="fa fa-minus-circle"></i>
                </button>
            }
        </div>
    </div>
</div>
