@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using System.Linq
@model string
@{
    string[] _arr = Model.ToString().Split('|');
    string _id = _arr[0];
    string _refid = _arr[1];

    string pfileName = "pTreefileName" + _id;
    string txtDocument = "TreetxtTaiLieuKhac" + _id;
    string txtDocumentSoTrang = "Treetxttailieuanhsotrang" + _id;
    string txtDocumentGhiChu = "TreetxttailieuanhGhiChu" + _id;
    string txtMaxfile = "treetxtMaxfile" + _id;
    string divDocumnetNo = "treedivDocumnetNo" + _id;
    string btnXoa = "treebtnXoa" + _id;
    string btnTaiFile = "treebtnTaiFile" + _id;
    string btnremoveFile = "treebtnRemove" + _id;

}

<div class="div-search-ad" id="@divDocumnetNo" style="margin-left:20px">
    <div class="div-search-title">
        <div style="width: 100px;"> @WebApps.Resources.Resource.lblTenTaiLieu :</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" class="clssListUploadIndusDesign" maxlength="200" id="@txtDocument" meta-data2="2" meta-data="@_id">
        </div>
    </div>

    <div class="div-search-title">
        <div>  Số trang</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="width:90px" maxlength="4" id="@txtDocumentSoTrang" />
        </div>
    </div>

    <div class="div-search-title">
        <div>  Ghi chú</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="1000" id="@txtDocumentGhiChu" />
        </div>
    </div>

    <div class="div-search-content">
        <div>
            <div class="file-upload btn btn-primary" style="margin-left:2px;">
                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                <input type="file" onchange="return funcTreeChoiseFileDocOther('@pfileName', '@txtMaxfile', '@txtDocument', '@btnremoveFile', '@_refid');" name="@pfileName" id="@pfileName" class="upload fileuploadurl" />
            </div>

            <input type="text" class="classMaxfile" id="@txtMaxfile" readonly data-id="@_id">

            <button onclick="return funcTreeRemoveDocument('@divDocumnetNo', 2)" id="@btnXoa" style="width: 30px;margin-left:2px">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
    </div>
</div> 