@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using System.Linq;

@{
    List<AppDocumentOthersInfo> ListDocDesign = new List<AppDocumentOthersInfo>();
    List<AppDocumentOthersInfo> ListDocDesignLv2 = new List<AppDocumentOthersInfo>();
    if (ViewBag.ListDocDesign != null)
    {
        ListDocDesign = (List<AppDocumentOthersInfo>)ViewBag.ListDocDesign;
    }

    string listIDFileAtt = "";
    string styleTLK = "display:block";
    if (ListDocDesign.Count > 0)
    {
        styleTLK = "display:block";
        ListDocDesignLv2 = ListDocDesign.Where(m => m.IdRef != 0).ToList();
    }

    decimal _max_Model_Id = ListDocDesign.Count + 1;
    int _index = 0;
}

<div class="div_full_100_area" id="divTreeContainerDocOther" style="@styleTLK">
    @*@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Bộ hình ảnh")*@
    <div class="divCover cls_form_title">
        <div class="cls_form_header" style="margin: 0 !important;">
            Số phương án/ số hình ảnh
            <button title="Thêm phương án" onclick="funcTreeAddDocumentNew(1)"><i class="fa fa-plus-circle"></i></button>
        </div>
    </div>

    <div id="TreedivDocumentOther">
        @foreach (AppDocumentOthersInfo item in ListDocDesign)
        {
            if (item.IdRef == 0)
            {
                _index++;
                item.Model_Id = _index;

                <div id="@("divChild" + item.Model_Id)" data-ParentId="@item.Model_Id">
                    @Html.Partial("~/Areas/IndustrialDesign/Views/Shared/_PartialTreeDocument_Edit_Child_0.cshtml", item)

                    @foreach (AppDocumentOthersInfo itemlv2 in ListDocDesignLv2)
                    {
                        if (item.ParentId == itemlv2.IdRef.ToString())
                        {
                            _index++;
                            itemlv2.Model_Id = _index;

                            @Html.Partial("~/Areas/IndustrialDesign/Views/Shared/_PartialTreeDocument_Edit_Child_2.cshtml", itemlv2)
                        }
                    }
                </div>
            }
        }
    </div>

    <input type="hidden" id="TreeincreNo" value="@_max_Model_Id" />
</div>

<script>

    function funcTreeAddDocumentNew(_level) {
        try {

            var _index = parseInt($("#TreeincreNo").val()) + 1;
            $("#TreeincreNo").val(_index);
            $.ajax({
                type: 'POST',
                url: '/indus-design/hinh-cong-bo/them-cung-cap-0/',
                data: {
                    p_id: _index
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#TreedivDocumentOther").append(data);
                    CountPhuongAnHinhAnh();
                }
            });
            
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeAddSubDocumentNew(_id) {
        try {
            var _index = parseInt($("#TreeincreNo").val()) + 1;
            $("#TreeincreNo").val(_index);
            $.ajax({
                type: 'POST',
                url: '/indus-design/hinh-cong-bo/them-cung-cap-2/',
                data: {
                    p_id: _index,
                    p_refId: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divChild" + _id).append(data);
                    CountPhuongAnHinhAnh();
                }
            });
           
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeRemoveDocument(pTag, level) {
        try {
            var divFileUpload = document.getElementById(pTag);
            $(divFileUpload).remove();
            CountPhuongAnHinhAnh();
        } catch (e) {
            console.log(e.message);
        }
    }

    function funcTreeChoiseFileDocOther(pIDFile, ptxtId, ptagKey, pRemoveFile, prefid) {
        try {
            var obj = $("#" + pIDFile);
            $("#" + ptxtId).val(obj.val());

            funcTreePushFileDocumentOther(pIDFile, ptagKey, pRemoveFile, prefid);
            CountPhuongAnHinhAnh();
        } catch (e) {
            console.log(e.message);
        }
    }


    function funcTreePushFileDocumentOther(pID, ptagKey, pdivRemoveFile, prefid) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn

            Isuse = 1;

            formdata.append("pInfo.keyFileUpload", ptagKey);
            formdata.append("pInfo.CHAR05", "2");//
            formdata.append("pInfo.refId", prefid);//

            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/indus-design/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#" + pdivRemoveFile).css("display", "inline-block");
                        CountPhuongAnHinhAnh();
                    } else {
                        jError(pushfileError, "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                }
            });
           
        } catch (e) {
            console.log(e.message);
        }
    }
</script>

