@*@using BussinessFacade.ModuleCommonCatalogData*@
@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using Common.Extensions
@model ObjectInfos.UserInfo
@{

    ViewBag.Title = WebApps.Resources.Resource.SuaThongTinNguoiDung;
    Layout = "~/ViewsShared/_Layout.cshtml";

    int _groupId = 0;
    if (Model.GroupSelectedCollection.Count > 0)
    {
        _groupId = Model.GroupSelectedCollection[0];
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 145px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/luat-su/quan-ly-luat-su">@WebApps.Resources.Resource.QuanLyLuatSu</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content">@WebApps.Resources.Resource.SuaThongTinLuatSu.ToUpper()</div>
        </div>
    </div>

    <div class="divCover">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenDangNhap<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Username, new { @id = "txtUsername", maxlength = "64", @style = "width:200px;", @readonly = "readonly" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.HoTen<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.FullName, new { @id = "txtFullName", maxlength = "250" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.DiaChi<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Address, new { @id = "txtAddress", maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NgaySinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.DateOfBirth, new
                    {
                        @id = "txtDateOfBirth",
                        @Value = Model.DateOfBirth == DateTime.MinValue ? "" : Model.DateOfBirth.ToString("dd/MM/yyyy"),
                        @class= "datetimepicker",
                        @style="width:200px;"
                    })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GioiTinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboSex">
                        @foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.SexType))
                        {
                            <option @(item.CdVal == Model.Sex ? "selected=\"selected\"" : "") value="@item.CdVal">@item.Content</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoDienThoai<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Phone, new { @style = "width:200px;", @id = "txtPhone", @maxlength = "16", @onkeypress = "isNumberKey()", @onkeyup = "isNumberKey()" })
                </div>
            </div>

            <div class="div-search-title">
                <div>Fax </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Fax, new { @maxlength = "50", @id = "txtfax" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Email<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @id = "txtEmail", @maxlength = "250", @style = "width:200px;" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Face </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Face_Link, new { @id = "txtface_link", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Linkedin</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Linkedin_Link, new { @id = "txtlinkedin", @maxlength = "200", @style = "width: 200px" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Wechat</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Wechat_Link, new { @id = "txtwechat_link", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Other link</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Other_Link, new { @id = "txtOther_Link", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == Model.Country)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LoaiNguoiDung<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Type_Name, new { @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai </div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<select id="cboStatus">
                        @foreach (var item in AllCodeBL.GetAllCodeByCdName(AllCodeCdName.UserStatus))
                        {
                            <option @(item.CdVal == Model.Status.ToString() ? "selected=\"selected\"" : "") value="@item.CdVal">@item.Content</option>
                        }
                    </select>*@
                    @Html.TextBoxFor(m => m.StatusDisplayName, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsLawer">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LoaiLuatSu <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboLawerType" style="width:200px">
                        @foreach (var item in WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("USER", "LAWER_TYPE"))
                        {
                            <option @(item.CdVal == Model.Other_Type.ToString() ? "selected=\"selected\"" : "") value="@item.CdVal">@item.Content</option>
                        }
                    </select>
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NguoiGioiThieu </div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboReferee">
                        <option value=""></option>
                        @foreach (var item in BussinessFacade.ModuleUsersAndRoles.UserBL.GetAllUsers())
                        {
                            <option @(item.Username == Model.Referee ? "selected=\"selected\"" : "") value="@item.Username">@item.FullName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CongTy  </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Company_Name, new { @id = "txtCompany_Name", @style = "width: 200px", @maxlength = "200" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChucDanh </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Title, new { @id = "txtTitle", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.BoPhan  </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Division, new { @id = "txtDivision", @style = "width: 200px", @maxlength = "200" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TruongBoPhan </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Direct_Supervisor, new { @id = "txtDirect_Supervisor", @maxlength = "200" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoTien1GioVND <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hourly_Rate, new { @id = "txthourly_rate", @Value = Model.Hourly_Rate == 0 ? "" : Model.Hourly_Rate.ToString("#,##0.##"), @style = "width: 200px", @onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoTien1GioUSD <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Hourly_Rate_USD, new { @id = "txthourly_rate_usd", @Value = Model.Hourly_Rate_USD == 0 ? "" : Model.Hourly_Rate_USD.ToString("#,##0.##"), @onkeyup = "jsFormatNumber(this.value, this.id)" })
                </div>
            </div>
        </div>

        @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.SupperAdmin)
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.NhomQuyen</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <select id="cboGroupUser">
                            <option value="-1">None</option>
                            @foreach (var item in MemoryData.GetAllGroup())
                            {
                                if (item.Id == _groupId)
                                {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>

                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Sua" onclick="return doUser()" />

            @if (WebApps.Session.SessionData.CurrentUser.Username == Model.Username)
            {
                <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.ResetPass" onclick="return getViewToResetPass('@Model.Username')" />
            }

            @*<input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Thoat" onclick="return back()" />*@
        </div>
    </div>

    <div id="divWrapperPopUpUser" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpUser">
        </div>
    </div>
</div>

<script>
	var userId = '@Model.Id',
		username = '',
		fullName = '',
		password = '',
		rePassword = '',
		dateOfBirth = '@Model.DateOfBirth.ToDateStringN0()',
		sex = '',
		email = '',
		phone = '',
		status = '',
		GroupId = '';
	$(document).ready(function () {
		$.datetimepicker.setLocale('vi');
		$('.datetimepicker').datetimepicker({
			timepicker: false,
			format: 'd/m/Y',
			//formatTime: 'H:i',
			formatDate: 'd/m/Y',
			mask: '39/19/9999',
			validateOnBlur: false,
			scrollInput: false
		});

		$('#txtDateOfBirth').datetimepicker({ value: dateOfBirth });
    });

    function back() {
        var url = "/luat-su/quan-ly-luat-su/";
        window.location.href = url;
    }

	function doUser() {
		if (validateFormUser()) {
			var formData = new FormData();
			collectDataToUser(formData);
			$.ajax({
                url: '/luat-su/quan-ly-luat-su/do-edit-lawer',
				type: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				traditional: true,
				async: true,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
					if (data != null) {
						if (onResponse(data)) {
                            var url = "/luat-su/quan-ly-luat-su/";
                            window.location.href = url;
						}
					}
				},
				error: function (e) {
					console.log(e);
				}
			});
		}
	}

	function validateFormUser() {
		fullName = $('#txtFullName').val().trim();
		dateOfBirth = $('#txtDateOfBirth').val().trim();
		sex = $('#cboSex').val();
		email = $('#txtEmail').val().trim();
		phone = $('#txtPhone').val().trim();
		//type = $('#cboType').val();
		status = '@Model.Status';
		GroupId = $('#cboGroupUser').val();

		if (fullName === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.HoTen)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtFullName').focus();
            });
            return false;
        }

        if ($("#txtAddress").val() === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.DiaChi)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtAddress').val('');
                $('#txtAddress').focus();
            });
            return false;
        }

        var txtDateOfBirth = $("#txtDateOfBirth").val();
        if (txtDateOfBirth != "" && txtDateOfBirth != "__/__/____") {
            if (checkDate("@Html.Raw(WebApps.Resources.Resource.NgaySinh)", "#txtDateOfBirth", txtDateOfBirth) == false) {
                return false;
            }
        }

        if (phone === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.lblDienThoai)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtPhone').val('');
                $('#txtPhone').focus();
            });
            return false;
        }

        if (email === "") {
            jError("@Html.Raw(WebApps.Resources.Resource.EmailKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtEmail').focus();
            });
            return false;
        } else if (!IsvalidEmail(email)) {
            jError("@Html.Raw(WebApps.Resources.Resource.EmailFormat)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtEmail').focus();
            });
            return false;
        }

        var _cboCountry = $("#cboCountry").val();
        if (_cboCountry == null) {
            jError("@Html.Raw(WebApps.Resources.Resource.QuocTichKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#cboCountry').multipleSelect('focus');
            });
            return false;
        }

        var _cboLawerType =  $("#cboLawerType").val();
        if (_cboLawerType == null) {
            jError("Loại luật sư không được bỏ trống!", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#cboLawerType').focus();
            });
            return false;
        }

        var _txthourly_rate = $("#txthourly_rate").val();
        if (_txthourly_rate == null || _txthourly_rate == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.SoTien1GioVND)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txthourly_rate').focus();
            });
            return false;
        }

        if (_txthourly_rate == "0") {
            jError("@Html.Raw(WebApps.Resources.Resource.SoTien1GioVND)" + "@Html.Raw(WebApps.Resources.Resource.LonHon0)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $("#txthourly_rate").val('');
                $("#txthourly_rate").focus();
            });
            return false;
        }

        var _txthourly_rate_usd = $("#txthourly_rate_usd").val();
        if (_txthourly_rate_usd == null || _txthourly_rate_usd == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.SoTien1GioUSD)" + "@Html.Raw(WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txthourly_rate_usd').focus();
            });
            return false;
        }

        if (_txthourly_rate_usd == "0") {
            jError("@Html.Raw(WebApps.Resources.Resource.SoTien1GioUSD)" + "@Html.Raw(WebApps.Resources.Resource.LonHon0)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $("#txthourly_rate_usd").val('');
                $("#txthourly_rate_usd").focus();
            });
            return false;
        }


        //if (GroupId == "-1") {
        //    jError("Loại người dùng không được để trống!", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
        //        $("#cboGroupUser").focus();
        //    });
        //    return false;
        //}

        return true;
    }

	function collectDataToUser(formData) {
		formData.append('userInfo.Id', userId);
        formData.append('userInfo.FullName', fullName);
        formData.append('userInfo.Address', $("#txtAddress").val());
		formData.append('userInfo.DateOfBirth', dateOfBirth);
		formData.append('userInfo.Sex', sex);
		formData.append('userInfo.Email', email);
        formData.append('userInfo.Phone', phone);
        formData.append('userInfo.Fax', $("#txtfax").val());
        formData.append('userInfo.Type', @Model.Type);
        formData.append('userInfo.Status', status);

        formData.append('userInfo.Country', $("#cboCountry").val());
        formData.append('userInfo.Face_Link', $("#txtface_link").val());
        formData.append('userInfo.Linkedin_Link', $("#txtlinkedin").val());
        formData.append('userInfo.Wechat_Link', $("#txtwechat_link").val());
        formData.append('userInfo.Other_Link', $("#txtOther_Link").val());

        formData.append('userInfo.Other_Type', $("#cboLawerType").val());
        formData.append('userInfo.Hourly_Rate', $("#txthourly_rate").val().replace(/,/g, ""));
        formData.append('userInfo.Hourly_Rate_USD', $("#txthourly_rate_usd").val().replace(/,/g, ""));

        formData.append('userInfo.Title', $("#txtTitle").val());
        formData.append('userInfo.Company_Name', $("#txtCompany_Name").val());
        formData.append('userInfo.Referee', $("#cboReferee").val());

        formData.append('userInfo.Division', $("#txtDivision").val());
        formData.append('userInfo.Direct_Supervisor', $("#txtDirect_Supervisor").val());

		formData.append('GroupId', '@_groupId');
    }

    function getViewToResetPass(Username) {
        $.ajax({
            type: "POST",
            url: "/quan-tri-he-thong/quan-ly-nguoi-dung/get-view-to-reset-pass",
            data: { p_user_name: Username },
            headers: { "cache-control": "no-cache" },
            async: false,
            success: function (data) {
                if (data != null) {
                    if (validateResponse(data)) {
                        $("#divPopUpUser").html(data);
                        ShowPopupDialog_Ipace('divWrapperPopUpUser', "Reset pass", 500, 1200, "txtPassword");
                    }
                }
                return false;
            }
        });
    }

    function ClosePopUpUser() {
        CloseDivPopUp('divWrapperPopUpUser');
    }
</script>
