@using ObjectInfos
@{
    App_Detail_PLD01_HDCN_Info _App_Detail = new App_Detail_PLD01_HDCN_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLD01_HDCN_Info)ViewBag.App_Detail;
    }
}

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_App_Detail.Second_Name" disabled="disabled" id="1_txtTenDayDu"/>
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="200" value="@_App_Detail.Second_Address" disabled="disabled" id="1_txtDiaChi"/>
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" style="width: 250px;" value="@_App_Detail.Second_Phone" disabled="disabled" id="1_txtDienThoai"/>
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_App_Detail.Second_Fax" disabled="disabled" id="1_txtFax"/>
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" maxlength="50" value="@_App_Detail.Second_Email" disabled="disabled" id="1_txtEmail"/>
        </div>
    </div>
</div>

<script>
    function funcGetSecondMaster_View(formData, PreID) {
        try {
            var txtTenDayDu = $("#1_txtTenDayDu").val();
            var txtDiaChi = $("#1_txtDiaChi").val();
            var txtDienThoai = $("#1_txtDienThoai").val();
            var txtFax = $("#1_txtFax").val();
            var txtEmail = $("#1_txtEmail").val();

            formData.append("pDetail.Second_Name", txtTenDayDu);
            formData.append("pDetail.Second_Address", txtDiaChi);
            formData.append("pDetail.Second_Phone", txtDienThoai);
            formData.append("pDetail.Second_Fax", txtFax);
            formData.append("pDetail.Second_Email", txtEmail);

            return true;
        } catch (e) {
            return false;
        }
    }
</script>




