@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model NewsInfo
@{
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/ViewsShared/_Layout.cshtml";
    var objInfo = new NewsInfo();
    if (Model != null)
    {
        objInfo = (NewsInfo)Model;
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    if (!string.IsNullOrEmpty(objInfo.Imageheader))
    {

        urlMauNhanHieu = objInfo.Imageheader.Replace("~", "");
    }
}
@try
{
    <style>
        .div-search-title > div {
            width: 150px;
        }

        .select {
            height: 200px;
        }

        .btnSave {
            height: 30px;
            width: 75px;
        }

        #cke_txtNoiDung {
            margin-left: 162px;
        }
    </style>
    <script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" />Bài viết
            <span class="red">></span>
            <a href="/quan-ly-tin/danh-sach-tin">Quản lý bài viết</a>
            <span class="red">></span>
            <a href="/quan-ly-tin/soan-bai-viet">Sửa bài viết</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" id="txtNewsId" value="@objInfo.Id" />
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <input type="hidden" id="txtLogoOld" value="@urlMauNhanHieu" />

                <div class="div-title-content">SỬA THÔNG TIN BÀI VIẾT </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tiêu đề<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" value="@objInfo.Title" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tóm tắt</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader" value="@Html.Raw(objInfo.Header)" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblQuocGia</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="6_txtNuocNopDon" class="classDacTinhUT">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (Model.Country_Id == item.Country_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="class_full_div_input">

            <div class="class_left_40">
                <div class="class_block_title" style="padding-top:5px; "><label>@WebApps.Resources.Resource.lblAnhDaiDien:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:120px ;height:120px;margin-left: 40px;" id="divLogo">
                        <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:120px ;height:120px">
                        <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:20px">
                        <img onclick="funcRemoveTradeMarkImg('imgMauNhanHieu')" src="~/Content/icons/delete_file.png" style="margin: 0px 21px -44px 4px;" />
                        <div class="file-upload btn btn-primary" style="margin-top:95px">
                            <span>@WebApps.Resources.Resource.lblTaiFile</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div style="margin-top:15px">
            <div>Nội dung<i class="redspan">(*)</i></div>
            <div>
                <textarea type="text" id="txtNoiDung" name="txtNoiDung">@Html.Raw(objInfo.Content)</textarea>
            </div>
        </div>
    </div>

    <div style="width:100%;padding-top:10px;">
        <div class="class_left_50">
            <div style="width:200px">Chuyên mục chính <i style="color: red">(*)</i></div> <br />
            <select id="_txtCategories" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in ViewBag.lstCategory)
                    {
                        if (Model.Categories_Id == item.CdVal)
                        {
                        <option selected="selected" value="@item.CdVal">@item.Content</option>
                        }
                        else
                        {
                        <option value="@item.CdVal">@item.Content</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="class_right_50">
            <div style="width:250px">Chuyên mục liên quan </div> <br />
            <select id="_txtCategoriesRe" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in ViewBag.lstCategory)
                    {
                        if (Model.ReCategories_Id == item.CdVal)
                        {
                        <option selected="selected" value="@item.CdVal">@item.Content</option>
                        }
                        else
                        {
                        <option value="@item.CdVal">@item.Content</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="class_save" style="margin-left:163px;">
        @if (ViewBag.Status == Common.Status.VietBai)
        {
            <div class="classGuiDon">
                <input type="button" value="Gửi bài" id="btnLuuBai" class="btn" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        }
        else if (ViewBag.Status == Common.Status.ChoXuly)
        {
            <div class="classGuiDon">
                <input type="button" value="Xuất bản" id="btnXuatBan" class="btn" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="Từ chối" id="btnTuChoi" class="btn" />
            </div>
        }
        else if (ViewBag.Status == Common.Status.XuatBan)
        {
            <div class="classGuiDon">
                <input type="button" value="Gỡ bài" id="btnGobai" class="btn" />
            </div>
        }
        else if (ViewBag.Status == Common.Status.DaGo)
        {
        <div class="classGuiDon">
            <input type="button" value="Gửi bài" id="btnLuuBai" class="btn" />
        </div>
        <div class="classLuuTam">
            <input type="button" value="Lưu bài" id="btnLuuGo" class="btn" />
        </div>
        }
        else
        {
        <div class="classGuiDon">
            <input type="button" value="Lưu bài" id="btnLuuBai" class="btn" />
        </div>
        }
    </div>

}
catch (Exception)
{
}

<script>
    function funcRemoveTradeMarkImg(ptag) {
        $("#" + ptag).attr('src', '');
        $("#txtLogoOld").val("");

    }
    $('#6_txtNuocNopDon').multipleSelect({
        filter: true,
        noMatchesFound: "Không tìm thấy dữ liệu",
        single: true,
        isdatastring: false,
        placeholder: 'Tìm kiếm quốc gia'
    });

    $(document).ready(function () {
        $("#txtTitle").focus();
    });
    var txtNoiDung = CKEDITOR.replace("txtNoiDung",
        {
            height: 500
        });

    $("#btnLuuTam").click(function () {
        SaveArticles(2);
    });

    $("#btnLuuBai").click(function () {
        SaveArticles(1);
    });

    $("#btnXuatBan").click(function () {
        SaveArticles(7);
    });
    
    $("#btnTuChoi").click(function () {
        SaveArticles(5);
    });

    $("#btnGobai").click(function () {
        SaveArticles(6);
    });

    $("#btnLuuGo").click(function () {
        SaveArticles(6);
    });


    function SaveArticles(pStatus) {
        try {
            var formData = new FormData();

            var tieude = $("#txtTitle").val();
            if (tieude.trim() == "") {
                showError('Tiêu đề bài viết không được để trống!!');
                return false;
            }
            var header = $("#txtHeader").val();

            var noidung = CKEDITOR.instances['txtNoiDung'].getData();
            if (noidung.trim() == "" || noidung.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết không được để trống!!');
                $("#txtNoiDung").focus();
                $("#txtNoiDung").setData('');
                return false;
            }

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formData.append("pNewsInfo.pfileLogo", fileLogo[0].files[0]);
            }

            var category = $("#_txtCategories").val();
            if (category.trim() == "") {
                showError('danh mục bài viết không được để trống!!');
                return false;
            }
            var recategory = $("#_txtCategoriesRe").val();
            formData.append("pNewsInfo.Id", $("#txtNewsId").val().trim());
            formData.append("pNewsInfo.Title", tieude.trim());
            formData.append("pNewsInfo.Content", noidung.trim());
            formData.append("pNewsInfo.Categories_Id", category.trim());
            formData.append("pNewsInfo.ReCategories_Id", recategory);
            formData.append("pNewsInfo.Header", header);
            formData.append("pNewsInfo.Status", pStatus);
            var v_Nuocnopdon_Ut = $("#6_txtNuocNopDon").val();
            formData.append("pNewsInfo.Country_Id", v_Nuocnopdon_Ut);
            $.ajax({
                url: '/quan-ly-tin/luu-sua-bai-viet',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        if (pStatus == 7) {
                            nvsAlert("Xuất bản bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/" + pStatus;
                            });
                        } else if (pStatus == 6) {
                            nvsAlert("Gỡ bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/" + pStatus;
                            });
                        }
                        else {
                            nvsAlert("Sửa bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/" + pStatus;
                            });
                        }
                    } else {
                        nvsError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {

        }
    }
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');
        if (this.files[0].type.indexOf("image") != -1) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("Thông báo", "File tải lên không phải là file ảnh?", "");
        }
    };
</script>

<style>
    .select {
        padding: 3px;
    }

        .select option {
            line-height: 25px;
            padding: 5px;
        }

    .class100 {
        display: inline;
    }

    .classwidth200 {
        width: 200px;
    }

    .classwidth250 {
        width: 250px;
    }
</style>
