@using Common.CommonData
@using ObjectInfos
    @{ 
        List<NewsInfo> listArticles = ViewBag.listArticles;
        if (listArticles == null)
        {
            listArticles = new List<NewsInfo>();
        }
    }
@try
{
    <div>
        <table class="table-lst-data" id="tableListObject">
            <thead>
                <tr>
                    <th style="width: 4%">STT</th>
                    <th style="width: 25%" data-sort id="TITLE" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Tiêu đề</th>
                    <th style="width: 25%" data-sort id="CREATED_BY" data-sortoption="@((int)CommonEnums.OrderOptions.String)">Người tạo</th>
                    <th style="width: 15%" data-sort id="MODIFIED_DATE">Cập nhật lúc</th>
                    <th style="width: 100px;">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in listArticles)
                    {
                        <tr>
                            <td class="tdcenteralign">@item.STT</td>
                            <td class="tdleftalign">@item.Title</td>
                            <td class="tdleftalign">@item.Createdby</td>
                            <td class="tdleftalign">@item.Createddate.ToString("dd/MM/yyy HH:mm:ss")</td>
                            <td class="tdcenteralign">
                                <a href="/quan-ly-tin/chi-tiet-bai-viet/@item.Id/@ViewBag.Status" class="icon icon-info" data-title="Xem chi tiết"></a>
                                <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@ViewBag.Status" class="icon icon-edit" data-title="Sửa"></a>
                                @if (ViewBag.Status != Common.Status.XuatBan)
                                {
                                    <a href="javascript:;" onclick="return funcDelArticles(@item.Id)" class="icon icon-delete" data-title="Xóa"></a>
                                }
                                @if (ViewBag.Status == Common.Status.ChoXuly)
                                {
                                    <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@ViewBag.Status" class="icon icon-confirm-circle" data-title="Công bố"></a>
                                }

                                @if (ViewBag.Status == Common.Status.XuatBan)
                                {
                                    <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@ViewBag.Status" class="icon icon-cancel-circle" data-title="Gỡ bỏ"></a>
                                }

                            </td>
                        </tr>
                    }

                    if (listArticles.Count < 1)
                    {
                        <tr><td colspan="9"> Không có dữ liệu </td> </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="d-paging">
        @Html.Raw(ViewBag.Paging)
    </div>
}
catch (Exception)
{
    // ignored
}
