@using Common.CommonData
@using ObjectInfos
@{
    List<NewsInfo> listArticles = ViewBag.listArticles;
    if (listArticles == null)
    {
        listArticles = new List<NewsInfo>();
    }
}
@try
{
    <div>
        <table class="table-lst-data" id="tableListObject">
            <thead>
                <tr>
                    <th class="class30">@WebApps.Resources.Resource.lblSTT</th>
                    <th class="class200 mb30" data-sort id="TITLE" data-sortoption="@((int)CommonEnums.OrderOptions.String)">@WebApps.Resources.Resource.lblTieuDe</th>
                    <th style="width: 10%" class="hidemobile" data-sort id="CREATED_BY" data-sortoption="@((int)CommonEnums.OrderOptions.String)">@WebApps.Resources.Resource.lblNguoiTao</th>
                    <th class="mb30" data-sort id="STATUS">@WebApps.Resources.Resource.TrangThai</th>
                    <th class="mb20">@WebApps.Resources.Resource.lblChucNang</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in listArticles)
                    {
                        <tr>
                            <td class="tdcenteralign">@item.STT</td>
                            <td class="tdleftalign">@item.Title</td>
                            <td class="tdleftalign hidemobile">@item.Createdby</td>

                            @if (item.Status == Common.Status.XuatBan)
                            {
                                <td class="tdleftalign" style="color:green">@item.Status_Name</td>

                            }
                            else if (item.Status == Common.Status.DaGo)
                            {
                                <td class="tdleftalign" style="color:red">@item.Status_Name</td>
                            }
                            else
                            {
                                <td class="tdleftalign">@item.Status_Name</td>
                            }


                            @*<td class="tdleftalign">@item.Createddate.ToString("dd/MM/yyy HH:mm:ss")</td>*@
                            <td class="tdcenteralign">
                                <a href="/quan-ly-tin/chi-tiet-bai-viet/@item.Id/@item.Status" class="icon icon-info" data-title="@WebApps.Resources.Resource.btnXemChiTiet"></a>
                                <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@item.Status" class="icon icon-edit" data-title="@WebApps.Resources.Resource.btnSua"></a>

                                @if (item.Status != Common.Status.XuatBan)
                                {
                                    <a href="javascript:;" onclick="return funcDelArticles(@item.Id)" class="icon icon-delete" data-title="@WebApps.Resources.Resource.btnXoa"></a>
                                }
                                @if (item.Status == Common.Status.ChoXuly)
                                {
                                    <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@item.Status" class="icon icon-confirm-circle" data-title="@WebApps.Resources.Resource.btnXuatban"></a>
                                }

                                @if (item.Status == Common.Status.XuatBan)
                                {
                                    <a href="/quan-ly-tin/sua-bai-viet/@item.Id/@item.Status" class="icon icon-cancel-circle" data-title="@WebApps.Resources.Resource.btnGoBo"></a>
                                }

                            </td>
                        </tr>
                    }

                    if (listArticles.Count < 1)
                    {
                        <tr><td colspan="9"> Không có dữ liệu </td> </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="d-paging">
        @Html.Raw(ViewBag.Paging)
    </div>
}
catch (Exception)
{
    // ignored
}
