@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model NewsInfo
@{
    ViewBag.Title = WebApps.Resources.Resource.lblQuanLyBaiViet;
    Layout = "~/ViewsShared/_Layout.cshtml";
    var objInfo = new NewsInfo();
    if (Model != null)
    {
        objInfo = (NewsInfo)Model;
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    if (!string.IsNullOrEmpty(objInfo.Imageheader))
    {

        urlMauNhanHieu = objInfo.Imageheader.Replace("~", "");
    }
    string strChuyenMuc = "";
    string strChuyenMucLienQuan = "";

    if (ViewBag.lstCategory != null)
    {
        foreach (AllCodeInfo item in ViewBag.lstCategory)
        {
            if (Model.ReCategories_Id == item.CdVal)
            {
                strChuyenMucLienQuan = item.Content;
            }

            if (Model.Categories_Id == item.CdVal)
            {
                strChuyenMuc = item.Content;
            }
        }
    }

    B_Todos_Info _B_Todos_Info = new B_Todos_Info();
    if (ViewBag.B_Todos_Info != null)
    {
        _B_Todos_Info = (B_Todos_Info)ViewBag.B_Todos_Info;
    }
    else
    {
        _B_Todos_Info = null;
    }
}
@try
{
    <style>
        .div-search-title > div {
            width: 150px;
        }

        .select {
            height: 200px;
        }

        .btnSave {
            height: 30px;
            width: 75px;
        }

        #cke_txtNoiDung {
            margin-left: 162px;
        }
    </style>
    <script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="/quan-ly-tin/danh-sach-tin/1">@WebApps.Resources.Resource.lblQuanLyBaiViet</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main smb_content">
        <div class="divCover">
            <div class="classTitle">

                <input type="hidden" id="txtMenuSelected" value="@ViewBag.Status" />
                <div class="div-title-content">@WebApps.Resources.Resource.lblChiTietBaiViet.ToUpper()</div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTieuDe<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" readonly="readonly" value="@objInfo.Title" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTieuDe (EN)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle_EN" readonly="readonly" value="@objInfo.Title_EN" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTomTat</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader" readonly="readonly" value="@Html.Raw(objInfo.Header)" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTomTat (EN)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader_EN" readonly="readonly" value="@Html.Raw(objInfo.Header_EN)" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblQuocGia</div>
            </div>
            <div class="div-search-content">
                <div>
                    @{
                        string strQuocGia = "";
                        foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (Model.Country_Id == item.Country_Id)
                            {
                                strQuocGia = item.Name;
                            }
                        }
                        <input type="text" id="txtHeaderCountry" readonly="readonly" value="@strQuocGia" maxlength="250" />
                    }
                </div>
            </div>
        </div>

        <div class="class_full_div_input">

            <div class="class_left_40">
                <div class="class_block_title" style="padding-top:5px; "><label>@WebApps.Resources.Resource.lblAnhDaiDien:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:120px ;height:120px;margin-left: 40px;" id="divLogo">
                        <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:120px ;height:120px">
                        <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                    </div>
                </div>
            </div>

        </div>

        <div style="margin-top:15px">
            <div style="font-weight:bold; padding:10px 0">@WebApps.Resources.Resource.lblNoiDung<i class="redspan">(*)</i></div>
            <div>
                <div class="show_desktop">
                    <textarea type="text" id="txtNoiDung" name="txtNoiDung" readonly disabled>@Html.Raw(objInfo.Content)</textarea>
                </div>

                <div class="smb_mobile div_text">
                    @Html.Raw(objInfo.Content)
                </div>
            </div>
        </div>

        <div style="margin-top:15px">
            <div style="font-weight:bold; padding:10px 0">@WebApps.Resources.Resource.lblNoiDung (EN)<i class="redspan">(*)</i></div>
            <div>

                <div class="show_desktop" style="margin-left: 162px;">
                    <textarea class="show_desktop" type="text" id="txtNoiDung_En" name="txtNoiDung_En" readonly disabled>@Html.Raw(objInfo.Content_En)</textarea>
                </div>

                <div class="smb_mobile div_text">
                    @Html.Raw(objInfo.Content_En)
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblChuyenMucChinh<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtCategory" readonly="readonly" value="@strChuyenMuc" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblChuyenMucLienQuan<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div style="margin-left: 162px;">
                    <input type="text" id="txtReCategory" readonly="readonly" value="@strChuyenMucLienQuan" maxlength="250" />
                </div>
            </div>
        </div>

    </div>


    <div class="class_save" style="margin-left:163px;">
        <div class="classGuiDon">
            <input type="button" value="@WebApps.Resources.Resource.lblThoat" id="btnThoat" class="btn" />
        </div>

        @*@if (_B_Todos_Info != null)
        {
            <div class="classGuiDon">
                <input type="button" value="@WebApps.Resources.Resource.btnTuChoi" style="margin-left: 5px" id="btnTuChoi" class="btn" />
            </div>

            <div class="classGuiDon">
                <input type="button" value="@WebApps.Resources.Resource.btnXuatban" style="margin-left: 5px" id="btnXuatBan" class="btn" />
            </div>
        }*@
    </div>

}
catch (Exception)
{
}

<script>
    var txtNoiDung = CKEDITOR.replace("txtNoiDung",
        {
            height: 500
        });

    var txtNoiDung_EN = CKEDITOR.replace("txtNoiDung_En",
        {
            height: 500
        });
    $("#btnThoat").click(function () {
        var status = $("#txtMenuSelected").val();
        location.href = "/quan-ly-tin/danh-sach-tin/" + status;
    });

    $("#btnXuatBan").click(function () {
        SaveArticles(7);
    });

    $("#btnTuChoi").click(function () {
        SaveArticles(5);
    });

    function SaveArticles(pStatus) {
        try {
            var formData = new FormData();

            var tieude = $("#txtTitle").val();
            if (tieude.trim() == "") {
                showError('Tiêu đề bài viết không được để trống!!');
                return false;
            }
            var header = $("#txtHeader").val();

            var tieude_EN = $("#txtTitle_EN").val();
            if (tieude_EN.trim() == "") {
                showError('Tiêu đề bài viết (EN) không được để trống!!');
                $("#txtTitle_EN").focus();
                return false;
            }
            var header_EN = $("#txtHeader_EN").val();

            var noidung = CKEDITOR.instances['txtNoiDung'].getData();
            if (noidung.trim() == "" || noidung.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết không được để trống!!');
                $("#txtNoiDung").focus();
                $("#txtNoiDung").setData('');
                return false;
            }

            var _contentVal_En = CKEDITOR.instances['txtNoiDung_En'].getData();
            if (_contentVal_En.trim() == "" || _contentVal_En.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết tiếng anh không được để trống!!');
                txtNoiDung_En.focus();
                txtNoiDung_En.setData('');
                return false;
            }

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formData.append("pNewsInfo.pfileLogo", fileLogo[0].files[0]);
            }

            var category = $("#_txtCategories").val();
            if (category.trim() == "") {
                showError('danh mục bài viết không được để trống!!');
                return false;
            }
            var recategory = $("#_txtCategoriesRe").val();
            formData.append("pNewsInfo.Id", $("#txtNewsId").val().trim());
            formData.append("pNewsInfo.Title", tieude.trim());
            formData.append("pNewsInfo.Header", header);

            formData.append("pNewsInfo.Title_EN", tieude_EN.trim());
            formData.append("pNewsInfo.Header_EN", header_EN);

            formData.append("pNewsInfo.Content", noidung.trim());
            formData.append("pNewsInfo.Content_En", _contentVal_En.trim());
            formData.append("pNewsInfo.Categories_Id", category.trim());
            formData.append("pNewsInfo.ReCategories_Id", recategory);
            formData.append("pNewsInfo.Status", pStatus);
            var v_Nuocnopdon_Ut = $("#6_txtNuocNopDon").val();
            formData.append("pNewsInfo.Country_Id", v_Nuocnopdon_Ut);
            $.ajax({
                url: '/quan-ly-tin/luu-sua-bai-viet',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        if (pStatus == 7) {
                            nvsAlert("Xuất bản bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/1";
                            });
                        } else if (pStatus == 6) {
                            nvsAlert("Gỡ bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/1";
                            });
                        }
                        else {
                            nvsAlert("Sửa bài viết thành công!", ThongBao, function () {
                                location.href = "/quan-ly-tin/danh-sach-tin/";
                            });
                        }
                    } else {
                        nvsError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {

        }
    }
</script>

<style>
    .select {
        padding: 3px;
    }

        .select option {
            line-height: 25px;
            padding: 5px;
        }

    .class100 {
        display: inline;
    }

    .classwidth200 {
        width: 200px;
    }

    .classwidth250 {
        width: 250px;
    }
</style>
