@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = WebApps.Resources.Resource.lblQuanLyBaiViet ;
    Layout = "~/ViewsShared/_Layout.cshtml";
}
@try
{
    <style>
        .div-search-title > div {
            width: 150px;
        }

        .select {
            height: 200px;
        }

        .btnSave {
            height: 30px;
            width: 75px;
        }

        #cke_txtNoiDung {
            margin-left: 162px;
        }
    </style>
    <script>
        var _isSimpleEditorToolBar = 0;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="/quan-ly-tin/danh-sach-tin/1">@WebApps.Resources.Resource.lblQuanLyBaiViet</a> 
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <div class="div-title-content">@WebApps.Resources.Resource.lblThongTinBaiViet</div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTieuDe<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTieuDe (EN)<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle_EN" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTomTat</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTomTat (EN)</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader_EN" maxlength="250" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblQuocGia</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="6_txtNuocNopDon" class="classDacTinhUT">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            <option value="@item.Country_Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="class_full_div_input">
            <div class="class_left_40">
                <div class="class_block_title" style="padding-top:5px; ">
                    <label>@WebApps.Resources.Resource.lblAnhDaiDien :</label>
                </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:120px ;height:120px;margin-left: 40px;" id="divLogo">
                        <img id="imgMauNhanHieu" src="~/Content/images/logo_ipace.png" style="width:120px ;height:120px">
                        <img id="imgMauNhanHieuTeplace" src="~/Content/images/logo_ipace.png" hidden="hidden">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:20px">
                        <div class="file-upload btn btn-primary" style="margin-top:95px">
                            <span>@WebApps.Resources.Resource.lblTaiFile</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung<i class="redspan">(*)</i></div>
            <div>
                <textarea type="text" id="txtNoiDung" name="txtNoiDung"></textarea>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung (EN)<i class="redspan">(*)</i></div>
            <div style="margin-left: 162px;">
                <textarea type="text" id="txtNoiDung_En"></textarea>
            </div>
        </div>
    </div>

    <div style="width:100%;padding-top:10px;">
        <div class="class_left_50">
            <div style="width:200px">@WebApps.Resources.Resource.lblChuyenMucChinh <i style="color: red">(*)</i></div> <br />
            <select id="_txtCategories" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in ViewBag.lstCategory)
                    {
                        <option value="@item.CdVal">@item.Content</option>
                    }
                }
            </select>
        </div>
        <div class="class_right_50">
            <div style="width:250px">@WebApps.Resources.Resource.lblChuyenMucLienQuan</div> <br />
            <select id="_txtCategoriesRe" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in ViewBag.lstCategory)
                    {
                        <option value="@item.CdVal">@item.Content</option>
                    }
                }
            </select>
        </div>
    </div>


    <div class="class_save" style="margin-left:163px;">
        <div class="classGuiDon">
            <input type="button" value="@WebApps.Resources.Resource.btnGuiBai" id="btnLuuBai" class="btn" />
        </div> <div class="classLuuTam">
            <input type="button" value="@WebApps.Resources.Resource.btnLuuTam" id="btnLuuTam" class="btn" />
        </div>
    </div>

}
catch (Exception)
{
}

<script>

    $('#6_txtNuocNopDon').multipleSelect({
        filter: true,
        noMatchesFound: "Không tìm thấy dữ liệu",
        single: true,
        isdatastring: false,
        placeholder: 'Tìm kiếm quốc gia'
    });

    $(document).ready(function () {
        $("#txtTitle").focus();
    });

    var txtNoiDung = CKEDITOR.replace("txtNoiDung",
        {
            height: 500
        });

    var txtNoiDung_En = CKEDITOR.replace("txtNoiDung_En",
        {
            height: 500
        });

    $("#btnLuuTam").click(function () {
        SaveArticles(2);
    });

    $("#btnLuuBai").click(function () {
        SaveArticles(1);
    });

    function SaveArticles(pStatus) {
        try {
            var formData = new FormData();

            var tieude = $("#txtTitle").val();
            if (tieude.trim() == "") {
                showError('Tiêu đề bài viết không được để trống!!');
                $("#txtTitle").focus();
                return false;
            }
            var header = $("#txtHeader").val();


            var tieude_EN = $("#txtTitle_EN").val();
            if (tieude_EN.trim() == "") {
                showError('Tiêu đề bài viết (EN) không được để trống!!');
                $("#txtTitle_EN").focus();
                return false;
            }
            var header_EN = $("#txtHeader_EN").val();


            var noidung = CKEDITOR.instances['txtNoiDung'].getData();
            if (noidung.trim() == "" || noidung.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết không được để trống!!');
                $("#txtNoiDung").focus();
                $("#txtNoiDung").setData('');
                return false;
            }

            var _contentVal_En = CKEDITOR.instances['txtNoiDung_En'].getData();
            if (_contentVal_En.trim() == "" || _contentVal_En.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết tiếng anh không được để trống!!');
                txtNoiDung_En.focus();
                txtNoiDung_En.setData('');
                return false;
            }

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formData.append("pNewsInfo.pfileLogo", fileLogo[0].files[0]);
            }

            var category = $("#_txtCategories").val();
            if (category == "" || category==null || category==undefined) {
                showError('danh mục bài viết không được để trống!!');
                $("#_txtCategories").focus();
                return false;
            }
            var recategory = $("#_txtCategoriesRe").val();

            formData.append("pNewsInfo.Title", tieude.trim());
            formData.append("pNewsInfo.Header", header);

            formData.append("pNewsInfo.Title_EN", tieude_EN.trim());
            formData.append("pNewsInfo.Header_EN", header_EN);

            formData.append("pNewsInfo.Content", noidung.trim());
            formData.append("pNewsInfo.Content_En", _contentVal_En.trim());
            formData.append("pNewsInfo.Categories_Id", category.trim());
            formData.append("pNewsInfo.ReCategories_Id", recategory);
            formData.append("pNewsInfo.Status", pStatus);
            var v_Nuocnopdon_Ut = $("#6_txtNuocNopDon").val();
            formData.append("pNewsInfo.Country_Id", v_Nuocnopdon_Ut);
            $.ajax({
                url: '/quan-ly-tin/them-moi-bai-viet',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        nvsAlert(AddSuccess, ThongBao, function () {
                            location.href = "/quan-ly-tin/danh-sach-tin/" + 1;
                        });
                    } else {
                        nvsError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {

        }
    }
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');
        if (this.files[0].type.indexOf("image") != -1) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("Thông báo", "File tải lên không phải là file ảnh?", "");
        }
    };
</script>

<style>
    .select {
        padding: 3px;
    }

        .select option {
            line-height: 25px;
            padding: 5px;
        }

    .class100 {
        display: inline;
    }

    .classwidth200 {
        width: 200px;
    }

    .classwidth250 {
        width: 250px;
    }
</style>
