@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = WebApps.Resources.Resource.lblDanhSachTin;
    Layout = "~/ViewsShared/_Layout.cshtml";
    decimal _status = 1;
    if (ViewBag.Status != null)
    {
        _status = (decimal)ViewBag.Status;
    }

    string _title = "Danh sách bài viết";
    if (_status == 1)
    {
        _title = "Danh sách bài viết";
    }
    else if (_status == 2)
    {
        _title = "Danh sách bài viết Lưu tạm";
    }
    else if (_status == 4)
    {
        _title = "Danh sách bài viết chờ xử lý";
    }
    else if (_status == 5)
    {
        _title = "Danh sách bài viết từ chối";
    }
    else if (_status == 6)
    {
        _title = "Danh sách bài viết đã gỡ";
    }
    else if (_status == 7)
    {
        _title = "Danh sách bài viết đã xuất bản";
    }
}
<style>
    .div-search-title > div {
        width: 150px;
    }

    .ms-parent {
        margin: 0px 3px;
    }

    .ms-choice {
        height: 30px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" />@WebApps.Resources.Resource.lblTinTuc
        <span class="red">></span>
        <a href="/quan-ly-tin/danh-sach-tin">@WebApps.Resources.Resource.lblQuanLyBaiViet</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
        <input type="hidden" value="DESC" id="SortType" />
        <input type="hidden" value="" id="OptionSorting" />
        <input type="hidden" value="@ViewBag.Status" id="txtStatusFilter" />

        <div class="classTitle">
            <div class="div-title-content"> @_title</div>
        </div>
    </div>

    <div class="divCover" id="div-search-simple" style="margin-top:10px">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width: 120px">@WebApps.Resources.Resource.lblDanhMuc</div>
            </div>
            <div>
                <div style="width:200px">
                    <select id="cboSearchWikiCatalogue">
                        <option value="ALL"> @WebApps.Resources.Resource.lblTatCa</option>
                        @if (ViewBag.lstCategory != null)
                        {
                            foreach (AllCodeInfo item in ViewBag.lstCategory)
                            {
                                <option value="@item.CdVal">@item.Content</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="div-search-title">
                <div style="width: 120px">@WebApps.Resources.Resource.lblTieuDe</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTieuDeBaiViet" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:450px;">
            <input type="button" value="@WebApps.Resources.Resource.TimKiem" id="btnSearch" class="btn-default" />
            @* Nếu là viết bài mới  *@
            @if (ViewBag.Status == Common.Status.VietBai)
            {
                <a href="/quan-ly-tin/soan-bai-viet"><input type="button" value="@WebApps.Resources.Resource.ThemMoi" class="btn-default" style="width: 125px;" /></a>
            }
        </div>
    </div>

    <div class="divCover">
        <div id="divTableObjects">
            @Html.Partial("~/Areas/Articles/Views/ArticlesNews/_PartialViewTable.cshtml")
        </div>
    </div>

</div>

<script>

    $("#btnSearch").click(function () {
        funcSearch(1,0);
    });


    function funcSearch(page ,pType) {
        try {
            var danhmuc = $("#cboSearchWikiCatalogue").val();
            var tieude = $("#txtTieuDeBaiViet").val();
            var status = $("#txtStatusFilter").val();
            if (CheckSessionTimeOut() == false) {
                return false;
            }
            $.ajax({
                url: "/quan-ly-tin/tim-kiem-tin",
                type: "GET",
                data: {

                    pCategory: danhmuc,
                    pTitile: tieude,
                    pPage: page,
                    pStatus: status
                },
                async: true, cache: false, traditional: true,
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data)
                {
                    $("#divTableObjects").html(data);
                    CreateRollingWaitingIcon(false);
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {

        }

    }
    function funcDelArticles(pID) {

        nvsConfirm(null,"@Html.Raw(WebApps.Resources.Resource.ConfirmDelete)", function () {
            console.log('vao day');
            $.ajax({
                url: "/quan-ly-tin/xoa-bai-viet",
                type: "GET",
                data: {
                    pIDArticles: pID
                },
                async: true, cache: false, traditional: true,
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.XoaThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            SearchDDSHCN(1, 1);
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

    function jsPaging(page) {
        funcSearch(page, 0);
    }
</script>