@using BussinessFacade.ModuleUsersAndRoles;
@using Common.Extensions;
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model ObjectInfos.UserInfo

@{

    ViewBag.Title = "Thông tin khách hàng";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string _GroupName = "Chưa có nhóm quyền";
    if (Model.GroupSelectedCollection.Count > 0)
    {
        int _groupId = Model.GroupSelectedCollection[0];
        foreach (GroupUserInfo item in MemoryData.GetAllGroup())
        {
            if (item.Id == _groupId)
            {
                _GroupName = item.Name;
                break;
            }
        }
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 145px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/customer/quan-ly-customer">@WebApps.Resources.Resource.QuanLyKhachHang</a>

    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main smb_content">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThongTinKhachHang.ToUpper()</div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenDangNhap<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Username, new { @id = "txtUsername", @disabled = "disabled", @style = "width: 200px" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenKhachHang<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.FullName, new { @id = "txtFullName", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.DiaChi<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Address, new { @id = "txtAddress", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NgaySinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.DateOfBirth, new
                    {
                        @id = "DateOfBirth",
                        @Value = Model.DateOfBirth == DateTime.MinValue ? "" : Model.DateOfBirth.ToString("dd/MM/yyyy"), @disabled = "disabled", @style = "width: 200px"
                    })
                </div>
            </div>


            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GioiTinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.SexDisplayName, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoDienThoai<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Phone, new { @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>

            <div class="div-search-title">
                <div>Fax </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Fax, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Email<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @maxlength = "200", @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Face </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Face_Link, new { @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Linkedin</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Linkedin_Link, new { @maxlength = "200", @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>Wechat</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Wechat_Link, new { @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Other link</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Other_Link, new { @id = "txtOther_Link", @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Country_Name, new { @id = "txtCountry_Name", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LoaiNguoiDung<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Type_Name, new { @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.StatusDisplayName, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsCustomer">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenCongTy <i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Company_Name, new { @maxlength = "500", @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LinhVucHoatDong<i class="redspan"></i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Main_Business, new { @maxlength = "500", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsCustomer1">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NguoiQuanLy</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Copyto, new { @maxlength = "200", @style = "width: 200px", @disabled = "disabled" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChucVu </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Title, new { @maxlength = "500", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsCustomer3">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NguoiGioiThieu </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Referee, new { @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsCustomer3">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ContactPerson </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Contact_Person, new { @maxlength = "200", @disabled = "disabled", @style = "width: 200px" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TelContactPerson </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Tel_Contact_Person, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        @if (Model.Is_Agent == 1)
        {
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="checkbox" id="ckbAgent" checked="checked" />
                        <label>@WebApps.Resources.Resource.LaDaiDien</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.NguoiDaiDienSHCN </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Agent_Representative, new { @disabled = "disabled", @style = "width: 200px" })
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.MaDaiDien</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Customer_Code, new { @maxlength = "200", @disabled = "disabled", @style = "width: 200px" })
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.TheHanhNghe </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.License_Agent, new { @disabled = "disabled" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                     <div>@WebApps.Resources.Resource.NguoiDaiDienTheoPL </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Agent_Representative, new { @disabled = "disabled", @style = "width: 200px" })
                    </div>
                </div>

                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.GiayUyQuyen </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.License_Agent, new { @disabled = "disabled" })
                    </div>
                </div>
            </div>
        }

        <div class="div-search-ad" id="clsCustomer2">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LyDoDung </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Reason_Select_Name, new { @disabled = "disabled", @style = "width: 200px" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChinhSachGiaDacBiet </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Request_Credit_Name, new { @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad" id="clsCustomer3">
            <div class="div-search-title">
                <div style="color:red">Rating </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Rating, new { @disabled = "disabled", @Value = Model.Rating == 0 ? "" : Model.Rating.ToString("#,##0.##") })
                </div>
            </div>
        </div>

        @if (WebApps.Session.SessionData.CurrentUser.Type == (int)Common.CommonData.CommonEnums.UserType.Admin)
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Nhóm quyền</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" value="@_GroupName" disabled="disabled" />
                    </div>
                </div>
            </div>
        }

        @if (Model.Is_Agent == 1)
        {
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="color:red">Rating</div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Rating, new { @disabled = "disabled", @Value = Model.Rating == 0 ? "" : Model.Rating.ToString("#,##0.##") })
                    </div>
                </div>
            </div>
        }

        @*<div class="divCover">
                <div class="div-search-btn" style="width:600px;margin-top: 5px;">
                    <input type="button" class="btn-default" value="Thoát" onclick="back()" style="width: auto;" />
                </div>
            </div>*@
    </div>


    <script>
        function back() {
            //var url = "/customer/quan-ly-customer/";
            var url = "/";
            window.location.href = url;
        }
    </script>
