@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@using ObjectInfos.ModuleTrademark
@using WebApps.Resources;

@{
    ViewBag.Title = "Dịch đơn khiếu nại";
    Layout = "~/ViewsShared/_Layout.cshtml";

    ApplicationHeaderInfo _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    App_Detail_PLC05_KN_Info _App_Detail = new App_Detail_PLC05_KN_Info();
    if (ViewBag.App_Detail != null)
    {
        _App_Detail = (App_Detail_PLC05_KN_Info)ViewBag.App_Detail;
    }

    List<AppDocumentInfo> Lst_AppDoc = new List<AppDocumentInfo>();
    if (ViewBag.Lst_AppDoc != null)
    {
        Lst_AppDoc = (List<AppDocumentInfo>)ViewBag.Lst_AppDoc;
    }

    List<AppFeeFixInfo> Lst_AppFee = new List<AppFeeFixInfo>();
    if (ViewBag.Lst_AppFee != null)
    {
        Lst_AppFee = (List<AppFeeFixInfo>)ViewBag.Lst_AppFee;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in Lst_AppDoc)
    {
        dic_appDoc[item.Document_Id] = item;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>

<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
        //Search suggestion
        var Name = $("#1_txtTenDayDu").val();
        $.ajax({
            url: '/trade-mark/GetNameSuggest/',
            type: 'POST',
            data: {
                pName: Name
            },
            sync: true, cache: false, traditional: true,
            success: function (data) {

                var lts = data.lst;
                $('#1_txtTenDayDu').autocomplete({
                    autoFocus: true,
                    source: function (request, response) {
                        var matcher = new RegExp("" + $.ui.autocomplete.escapeRegex(request.term.toUpperCase()), "i");
                        response($.grep(lts, function (item) {
                            return matcher.test(item.value);
                        }));
                    },
                    select: function (event, ui) {
                        $("#1_txtTenDayDu").val("");
                        event.preventDefault();
                        var arrVal = ui.item.value.split('|');
                        if (arrVal.length === 5) {
                            $("#1_txtTenDayDu").val(arrVal[0]);
                            $("#1_txtDiaChi").val(arrVal[1]);
                            $("#1_txtDienThoai").val(arrVal[2]);
                            $("#1_txtFax").val(arrVal[3]);
                            $("#1_txtEmail").val(arrVal[4]);
                        }

                    },
                    focus: function (event, ui) {
                        var arrResult = $(".ui-menu-item");
                        for (var i = 0; i < arrResult.length; i++) {
                            var label = $.trim($(arrResult[i]).text().split("-")[0]);
                            if (label == ui.item.name) {
                                $(".clsLiActive").removeClass("clsLiActive")
                                $(arrResult[i]).addClass("clsLiActive");
                                break;
                            }
                        }
                        event.preventDefault();
                    },
                    open: function (event, ui) {
                        $("ul").scrollTop(0);
                        event.preventDefault();
                    },
                });
            }
        });
    });
</script>

@*<div class="d-nav-container">
        <ul class="ul-nav">
            <li><a href="javascript:;">TradeMark</a></li>
            <li><a href="javascript:;">  Request for amendment of application</a></li>
        </ul>
    </div>*@
<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@WebApps.Resources.Resource.lblKhieuNai</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>

<input type="hidden" id="txtAppCode" value='@_AppHeaderInfo.Appcode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;margin-top: 15px;">
        <legend style="font-weight:600">
            @Resource.TM3D_Legend
        </legend>

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        @* 4 - Đối tượng khiếu nại *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM3D_Header
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@Resource.TM3D_LanKhieuNai</div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboAppealTimes">
                        @if (_App_Detail.Times == 1)
                        {
                            <option value="1" selected="selected">@Resource.TM3D_KhieuNaiLan1</option>
                            <option value="2">@Resource.TM3D_KhieuNaiLan2</option>
                        }
                        else
                        {
                            <option value="1">@Resource.TM3D_KhieuNaiLan1</option>
                            <option value="2" selected="selected">@Resource.TM3D_KhieuNaiLan2</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @if (_App_Detail.Appeal_Type == 1)
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_1" value="1" onchange="return OnChangeAppealObject()" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_1" value="1" onchange="return OnChangeAppealObject()">
                    }
                    <label>@Resource.TM3D_QuyetDinhThongBao</label>
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM3D_SoQuyetDinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder=">@Resource.TM3D_SoQuyetDinh" id="3_txt_appeal_number" maxlength="100" value="@_App_Detail.Appeal_Number" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM3D_NgayQuyetDinh</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3D_NgayQuyetDinh" id="3_txt_appeal_date" maxlength="100" class="datepicker" value="@_App_Detail.Appeal_Date.ToString("dd/MM/yyyy")" />
                </div>
            </div>

        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @if (_App_Detail.Appeal_Type == 2)
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_2" value="2" onchange="return OnChangeAppealObject()" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_2" value="2" onchange="return OnChangeAppealObject()">
                    }

                    <label>@Resource.TM3D_LienQuanDenDonDK</label>
                </div>
            </div>
            <div class="div-search-title">
                <div>@Resource.lblSoDon</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.lblSoDon" id="3_txt_appeal_appno" maxlength="100" value="@_App_Detail.Appeal_Appno" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:450px">
                    @if (_App_Detail.Appeal_Type == 3)
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_3" value="3" onchange="return OnChangeAppealObject()" checked="checked">
                    }
                    else
                    {
                        <input type="radio" name="3_rdoAppeal_Object" id="3_rdAppeal_Object_3" value="3" onchange="return OnChangeAppealObject()">
                    }
                    <label>@Resource.TM3D_LienQuanDenVanPhongBaoHo</label>
                </div>
            </div>
            <div class="div-search-title">
                <div>@Resource.TM3D_SoBang</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@Resource.TM3D_SoBang" id="3_txt_appeal_degree" maxlength="100" value="@_App_Detail.Appeal_Degree" />
                </div>
            </div>
        </div>
        @* end 3 *@

        @* 1 - CHỦ ĐƠN*@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_ChuDon
            </div>
        </div>
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")
        @* end 2 *@

        @* Mục phí chỉ hiện thị khi user là admin hoặc luật sư *@
        @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer)
        {
            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    @Resource.lblPhiLePhi
                </div>
            </div>

            @* 2. Phí tra cứu thông tin phục vụ việc giải quyết khiếu nại *@
            string _fee_id1 = "PhiTraCuu|" + Resource.TM3D_PhiTraCuuThongTin;
            string _fee_value1 = Lst_AppFee[0].Isuse.ToString() + "|" + Lst_AppFee[0].Number_Of_Patent.ToString() + "|" + Lst_AppFee[0].Amount.ToString("#,##0.##");
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Fee_Edit.cshtml", _fee_id1 + ";" + _fee_value1)

            @* 2. Phí thẩm định để giải quyết khiếu nại *@
            string _fee_id2 = "PhiThamDinh|" + Resource.TM3D_PhiThamDinhDeGiaiQuyet;
            string _fee_value2 = Lst_AppFee[1].Isuse.ToString() + "|" + Lst_AppFee[1].Number_Of_Patent.ToString() + "|" + Lst_AppFee[1].Amount.ToString("#,##0.##");
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Fee_Edit.cshtml", _fee_id2 + ";" + _fee_value2)
        }
        @* END Fee *@

        @* CÁC TÀI LIỆU CÓ TRONG ĐƠN *@
        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                @Resource.TM2B_TaiLieuCoTrongDon
            </div>
        </div>

        @* 1. Tờ khai *@
        @{
            string _doc_id = "C05_KN_01";
            string _id = _doc_id + "|6_Doc_C05_KN_01|0|" + Resource.TM3D_ToKhaiGom + "|" + Resource.TM2B_SoTrang + "|0";

            string _value = "";
            if (dic_appDoc.ContainsKey(_doc_id) == false)
            {
                _value = "0|" + "" + "|" + "";
            }
            else
            {
                _value = dic_appDoc[_doc_id].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id].CHAR01 + "|" + dic_appDoc[_doc_id].Url_Hardcopy;
            }

            string _model = _id + ";" + _value;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model)
        }

        @* 2. Văn bản giải trình lý do khiếu nại, gồm......trang  02 bản *@
        @{
            string _doc_id2 = "C05_KN_02";
            string _id2 = _doc_id2 + "|6_Doc_C05_KN_02|0|" + Resource.TM3D_VanBanGiaiTrinhLyDo + "|" + Resource.TM2B_SoTrang + "|1";
            string _value2 = "";
            if (dic_appDoc.ContainsKey(_doc_id2) == false)
            {
                _value2 = "0|" + "" + "|" + "";
            }
            else
            {
                _value2 = dic_appDoc[_doc_id2].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id2].CHAR01 + "|" + dic_appDoc[_doc_id2].Url_Hardcopy;
            }

            string _model2 = _id2 + ";" + _value2;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model2)
        }

        @* 3. Bản sao quyết định/thông báo bị khiếu nại (nếu có)  *@
        @{
            string _doc_id3 = "C05_KN_03";
            string _id3 = _doc_id3 + "|6_Doc_C05_KN_03|0|" + Resource.TM3D_BanSaoQuyetDinh + "||1";
            string _value3 = "";
            if (dic_appDoc.ContainsKey(_doc_id3) == false)
            {
                _value3 = "0|" + "" + "|" + "";
            }
            else
            {
                _value3 = dic_appDoc[_doc_id3].Isuse.ToString().Trim() + " | " + dic_appDoc[_doc_id3].CHAR01 + "|" + dic_appDoc[_doc_id3].Url_Hardcopy;
            }

            string _model3 = _id3 + ";" + _value3;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model3)
        }

        @* 4. Bản sao quyết định giải quyết khiếu nại lần đầu (đối với khiếu nại lần hai) *@
        @{
            string _doc_id4 = "C05_KN_04";
            string _id4 = _doc_id4 + "|6_Doc_C05_KN_04|0|" + Resource.TM3D_BanSaoQuyetDinhGiaiQuyet + "|" + Resource.TM2B_SoTrang + "|1";
            string _value4 = "";
            if (dic_appDoc.ContainsKey(_doc_id4) == false)
            {
                _value4 = "0|" + "" + "|" + "";
            }
            else
            {
                _value4 = dic_appDoc[_doc_id4].Isuse.ToString().Trim() + " | " + dic_appDoc[_doc_id4].CHAR01 + "|" + dic_appDoc[_doc_id4].Url_Hardcopy;
            }
            string _model4 = _id4 + ";" + _value4;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model4)
        }

        @* 5. Giấy uỷ quyền bằng tiếng *@
        @{
            string _doc_id50 = "C05_KN_05";
            string _id50 = _doc_id50 + "|6_Doc_POA|0|" + Resource.TM3B_GiayUyQuyenBangTieng + "|" + Resource.TM3B_Tieng + "|1";
            string _value50 = "";
            if (dic_appDoc.ContainsKey(_doc_id50) == false)
            {
                _value50 = "0|" + "" + "|" + "";
            }
            else
            {
                _value50 = dic_appDoc[_doc_id50].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id50].CHAR01 + "|" + dic_appDoc[_doc_id50].Url_Hardcopy;
            }

            string _model50 = _id50 + ";" + _value50;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model50)
        }

        @* 6 -> 5.1  Bản dịch tiếng Việt, gồm *@
        @{
            string _doc_id5 = "C05_KN_06";
            string _id5 = _doc_id5 + "|6_Doc_BanDichPOA|1|" + Resource.lblBanDichTiengVietGom + "|" + Resource.TM2B_SoTrang + "|1";
            string _value5 = "";
            if (dic_appDoc.ContainsKey(_doc_id5) == false)
            {
                _value5 = "0|" + "" + "|" + "";
            }
            else
            {
                _value5 = dic_appDoc[_doc_id5].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id5].CHAR01 + "|" + dic_appDoc[_doc_id5].Url_Hardcopy;
            }

            string _model5 = _id5 + ";" + _value5;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model5)
        }

        @* 7 -> 5.2 Bản gốc *@
        @{
            string _doc_id6 = "C05_KN_07";
            string _id6 = _doc_id6 + "|6_Doc_BanGocPOA|1|" + Resource.lblBanGoc + "||1";
            string _value6 = "";
            if (dic_appDoc.ContainsKey(_value6) == false)
            {
                _value6 = "0|" + "" + "|" + "";
            }
            else
            {
                _value6 = dic_appDoc[_doc_id6].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id6].CHAR01 + "|" + dic_appDoc[_doc_id6].Url_Hardcopy;
            }

            string _model6 = _id6 + ";" + _value6;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model6)
        }

        @* 8 -> 5.3 Bản sao *@
        @{
            string _doc_id7 = "C05_KN_08";
            string _id7 = _doc_id7 + "|6_Doc_BanSaoPOA|1|" + Resource.TM2B_BanSao + "||0";
            string _value7 = "";
            if (dic_appDoc.ContainsKey(_doc_id7) == false)
            {
                _value7 = "0|" + "" + "|" + "";
            }
            else
            {
                _value7 = dic_appDoc[_doc_id7].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id7].CHAR01 + "|" + dic_appDoc[_doc_id7].Url_Hardcopy;
            }

            string _model7 = _id7 + ";" + _value7;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model7)
        }

        @* 9 -> 5.3.1 Bản sao  > Bản gốc sẽ nộp sau *@
        @{
            string _doc_id8 = "C05_KN_09";
            string _id8 = _doc_id8 + "|6_Doc_BanGocPOA_Later|2|" + Resource.TM2B_BanGocSeNopSau + "||1";
            string _value8 = "";
            if (dic_appDoc.ContainsKey(_doc_id8) == false)
            {
                _value8 = "0|" + "" + "|" + "";
            }
            else
            {
                _value8 = dic_appDoc[_doc_id8].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id8].CHAR01 + "|" + dic_appDoc[_doc_id8].Url_Hardcopy;
            }

            string _model8 = _id8 + ";" + _value8;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model8)
        }

        @* 10 -> 5.3.2 Bản sao  > Bản gốc đã nộp theo đơn *@
        @{
            string _doc_id9 = "C05_KN_10";
            string _id9 = _doc_id9 + "|6_Doc_BanGocPOA_ByApp|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM3B_SoDon + "|0";
            string _value9 = "";
            if (dic_appDoc.ContainsKey(_doc_id9) == false)
            {
                _value9 = "0|" + "" + "|" + "";
            }
            else
            {
                _value9 = dic_appDoc[_doc_id9].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id9].CHAR01 + "|" + dic_appDoc[_doc_id9].Url_Hardcopy;
            }

            string _model9 = _id9 + ";" + _value9;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model9)
        }

        @* 11 -> Bản sao chứng từ nộp phí *@
        @{
            string _doc_id10 = "C05_KN_11";
            string _id10 = _doc_id10 + "|6_Doc_BanSaoChungTu|0|" + Resource.TM3B_BanSaoChungTuNopPhi + "||1";
            string _value10 = "";
            if (dic_appDoc.ContainsKey(_doc_id10) == false)
            {
                _value10 = "0|" + "" + "|" + "";
            }
            else
            {
                _value10 = dic_appDoc[_doc_id10].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id10].CHAR01 + "|" + dic_appDoc[_doc_id10].Url_Hardcopy;
            }

            string _model10 = _id10 + ";" + _value10;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model10)
        }

        @* 12. Khác *@
        @{
            string _doc_id11 = "C05_KN_12";
            string _id11 = _doc_id11 + "|6_Doc_Other|0|" + Resource.TM3B_TaiLieuKhac + "|" + Resource.TM3B_TaiLieuKhacTenTaiLieu + "|1";
            string _value11 = "";
            if (dic_appDoc.ContainsKey(_doc_id11) == false)
            {
                _value11 = "0|" + "" + "|" + "";
            }
            else
            {
                _value11 = dic_appDoc[_doc_id11].Isuse.ToString().Trim() + "|" + dic_appDoc[_doc_id11].CHAR01 + "|" + dic_appDoc[_doc_id11].Url_Hardcopy;
            }

            string _model11 = _id11 + ";" + _value11;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model11)
        }

        @* Cam kết của chủ đơn *@
        @{
            string _camket = _AppHeaderInfo.Address + "|" + _AppHeaderInfo.DateNo + "|" + _AppHeaderInfo.Months + "|" + _AppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_Edit.cshtml", _camket)
        }


        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
            </div>
            <div class="classLuuTam">
                <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
            </div>
        </div>
    </fieldset>
</div>

@Html.Partial("~/Areas/TradeMark/Views/PLC05_KN_3D/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#0_txtCase_Name").focus();
    });

    function OnChangeAppealObject() {
        try {
            if ($("#3_rdAppeal_Object_1").is(':checked')) {
                $("#3_txt_appeal_number").removeAttr("disabled");
                $("#3_txt_appeal_date").removeAttr("disabled");
                $("#3_txt_appeal_number").focus();

                // 2
                $("#3_txt_appeal_appno").val('');
                $("#3_txt_appeal_appno").prop('disabled', true);

                // 3
                $("#3_txt_appeal_degree").val('');
                $("#3_txt_appeal_degree").prop('disabled', true);
            }
            else if ($("#3_rdAppeal_Object_2").is(':checked')) {
                $("#3_txt_appeal_appno").removeAttr("disabled");
                $("#3_txt_appeal_appno").focus();

                // 1
                $("#3_txt_appeal_number").val('');
                $("#3_txt_appeal_number").prop('disabled', true);

                $("#3_txt_appeal_date").val('');
                $("#3_txt_appeal_date").prop('disabled', true);

                // 3
                $("#3_txt_appeal_degree").val('');
                $("#3_txt_appeal_degree").prop('disabled', true);
            }
            else {
                $("#3_txt_appeal_degree").removeAttr("disabled");
                $("#3_txt_appeal_degree").focus();

                // 1
                $("#3_txt_appeal_number").val('');
                $("#3_txt_appeal_number").prop('disabled', true);

                $("#3_txt_appeal_date").val('');
                $("#3_txt_appeal_date").prop('disabled', true);

                // 2
                $("#3_txt_appeal_appno").val('');
                $("#3_txt_appeal_appno").prop('disabled', true);
            }
        } catch (e) {
            alert(e);
        }
    }


    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@WebApps.Resources.Resource.ConfirmLuuTam", function () {
                //Thông tin chủ đơn
                var formData = new FormData();
                var reponse = GetDatatoUpdate(formData, @_AppHeaderInfo.Status);
                if (reponse == false) {
                    return false;
                }

                $.ajax({
                    url: '/trade-mark-3d/Translate_PLC05_KN_3D',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    success: function (data) {
                        if (data != null && data.status >= 0) {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.DichDonThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        } catch (e) {
            console.log(e);
        }
    });

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@WebApps.Resources.Resource.ConfirmDich", function () {
                //Thông tin chủ đơn
                var formData = new FormData();
                var reponse = GetDatatoUpdate(formData, @_AppHeaderInfo.Status);
                if (reponse == false) {
                    return false;
                }

                $.ajax({
                    url: '/trade-mark-3d/Translate_PLC05_KN_3D',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    dataType: "json",
                    enctype: 'multipart/form-data',
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    success: function (data) {
                        if (data != null && data.status >= 0) {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.DichDonThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

            });
        } catch (e) {
            console.log(e);
        }
    });

    function GetDatatoUpdate(formData, p_status) {
        try {
            formData.append("pInfo.Id", @_AppHeaderInfo.Id);
            formData.append("pInfo.Id_Vi", '@_AppHeaderInfo.Id_Vi');
            formData.append("pInfo.Status", @_AppHeaderInfo.Status);
            formData.append("pInfo.Case_Code", '@_AppHeaderInfo.Case_Code');
            formData.append("pInfo.Languague_Code", '@_AppHeaderInfo.Languague_Code');
            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

            if (funcThongTinChuDon(formData, "1") != true) {
                return false;
            }

            // đại diện chủ đơn
            formData.append("pInfo.Appcode", '@_AppHeaderInfo.Appcode');
            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                jError("@Resource.TM3C_ChonChuDon", "@Resource.TM3B_Loi", function () {
                    $("#_2_rdoNguoiDaiDienPL").focus()
                });
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData);
            if (reponse == false) {
                return false;
            }

            // get thông tin fee
            var reponse = funcGet_Fee(formData);
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin tài liệu có trong đơn
            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetAppDetail(formData) {
        try {
            var _Appeal_Object = $("input[name='3_rdoAppeal_Object']:checked").val();
            if (_Appeal_Object == "" || _Appeal_Object == undefined) {
                jError("@Resource.TM3D_ChonGiaTriDoiTuongKhieuNai", "@Resource.TM3B_Loi", function () {
                    $("#3_rdAppeal_Object_1").focus()
                });
                return false;
            }
            formData.append("pDetail.Appeal_Type", parseInt(_Appeal_Object));
            formData.append("pDetail.Times", $("#cboAppealTimes").val());

            if (parseInt(_Appeal_Object) == 1) {

                $("#3_txt_appeal_number").prop('disabled', true);
                $("#3_txt_appeal_date").prop('disabled', true);

                var _appeal_number = $("#3_txt_appeal_number").val();
                if (_appeal_number == "") {
                    jError("@Resource.TM3D_SoQuyetDinhKhongDuocBoTrong", "@Resource.TM3B_Loi", function () {
                        $("#3_txt_appeal_number").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Appeal_Number", _appeal_number);

                // check validate ngày
                var _appeal_date = $("#3_txt_appeal_date").val();
                if (checkDate("@Resource.TM3D_NgayQuyetDinh", "#3_txt_appeal_date", _appeal_date) == false) {
                    return false;
                }
                formData.append("pDetail.Appeal_Date", _appeal_date);
            }
            else if (parseInt(_Appeal_Object) == 2) {

                var _appeal_appno = $("#3_txt_appeal_appno").val();
                if (_appeal_appno == "") {
                    jError("@Resource.TM3B_SoDonKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                        $("#3_txt_appeal_appno").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Appeal_Appno", _appeal_appno);

            }
            else if (parseInt(_Appeal_Object) == 3) {

                var _appeal_degree = $("#3_txt_appeal_degree").val();
                if (_appeal_degree == "") {
                    jError("@Resource.TM3D_SoBangKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                        $("#3_txt_appeal_degree").focus()
                    });
                    return false;
                }
                formData.append("pDetail.Appeal_Degree", _appeal_degree);
            }

            var txtMADDSHCN = $("#txtMADDSHCN").val();
            if (txtMADDSHCN == "") {
                jError("@Resource.TM3C_MaDaiDienKhongDuocTrong", "@Resource.TM3B_Loi", function () {
                    $("#txtMADDSHCN").focus()
                });
                return false;
            }
            formData.append("pDetail.Customer_Code", txtMADDSHCN);

        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funcGet_Fee(formData) {
        try {

            if (@WebApps.Session.SessionData.CurrentUser.Type == '@((int)CommonEnums.UserType.Admin)' ||
                @WebApps.Session.SessionData.CurrentUser.Type == '@((int)CommonEnums.UserType.Lawer)') {

                if ($('#ckb_PhiTraCuu').is(":checked") == false && $('#ckb_PhiThamDinh').is(":checked") == false) {
                    jError("@Resource.TM3D_FeeKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                        $("#ckb_PhiTraCuu").focus()
                    });
                    return false;
                }

                // Phí tra cứu thông tin phục vụ việc giải quyết khiếu nại
                formData.append("pFeeFixInfo[0].Fee_Id", 1);
                if ($('#ckb_PhiTraCuu').is(":checked") == true) {

                    var _PhiTraCuu = $("#txt_PhiTraCuu").val();
                    var _PhiTraCuu_SoTien = $("#txt_PhiTraCuu_SoTien").val();

                    if (_PhiTraCuu == "") {
                        jError("@Resource.TM3D_SoDoiTuongTinhPhiKhongDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_PhiTraCuu").focus()
                        });
                        return false;
                    }
                    if (_PhiTraCuu_SoTien == "") {
                        jError("@Resource.TM3D_SoTienKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_PhiTraCuu_SoTien").focus()
                        });
                        return false;
                    }

                    formData.append("pFeeFixInfo[0].Isuse", 1);
                    formData.append("pFeeFixInfo[0].Number_Of_Patent", parseInt(_PhiTraCuu.replace(/,/g, "")));
                    formData.append("pFeeFixInfo[0].Amount", parseInt(_PhiTraCuu_SoTien.replace(/,/g, "")));
                } else {
                    formData.append("pFeeFixInfo[0].Isuse", 0);
                    formData.append("pFeeFixInfo[0].Number_Of_Patent", 0);
                    formData.append("pFeeFixInfo[0].Amount", 0);
                }

                // Phí thẩm định để giải quyết khiếu nại
                formData.append("pFeeFixInfo[1].Fee_Id", 2);
                if ($('#ckb_PhiThamDinh').is(":checked") == true) {

                    var _PhiThamDinh = $("#txt_PhiThamDinh").val();
                    var _PhiThamDinh_SoTien = $("#txt_PhiThamDinh_SoTien").val();

                    if (_PhiThamDinh == "") {
                        jError("@Resource.TM3D_SoDoiTuongTinhPhiKhongDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_PhiThamDinh").focus()
                        });
                        return false;
                    }
                    if (_PhiThamDinh_SoTien == "") {
                        jError("@Resource.TM3D_SoTienKhongDuocDeTrong", "@Resource.TM3B_Loi", function () {
                            $("#txt_PhiThamDinh_SoTien").focus()
                        });
                        return false;
                    }

                    formData.append("pFeeFixInfo[1].Isuse", 1);
                    formData.append("pFeeFixInfo[1].Number_Of_Patent", parseInt(_PhiThamDinh.replace(/,/g, "")));
                    formData.append("pFeeFixInfo[1].Amount", parseInt(_PhiThamDinh_SoTien.replace(/,/g, "")));
                } else {
                    formData.append("pFeeFixInfo[1].Isuse", 0);
                    formData.append("pFeeFixInfo[1].Number_Of_Patent", 0);
                    formData.append("pFeeFixInfo[1].Amount", 0);
                }
            }
        } catch (e) {
            console.log(e);
            showError('@Resource.TM3B_InternetError');
            return false;
        }
    }

    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            // 1. Tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_C05_KN_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_6_Doc_ToKhai").val());

            // 2. Tài liệu xác nhận
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_C05_KN_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_Doc_C05_KN_02").val());

            // 3 Văn bản đồng ý
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_C05_KN_03", "2");

            // 4 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_C05_KN_04", "3");

            // 5 -> 5.0 Giấy uỷ quyền bằng tiếng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_POA", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", $("#txt_6_Doc_POA").val());

            // 6 -> 5.1 Bản dịch tiếng Việt, gồm
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichPOA", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", $("#txt_6_Doc_BanDichPOA").val());

            // 7 -> 5.2 Bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA", "6");

            // 8 -> 5.3 Bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoPOA", "7");

            // 9 -> 5.3.1  Bản gốc sẽ nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_Later", "8");

            // 10 -> 5.3.2  Bản gốc đã nộp theo đơn số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocPOA_ByApp", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#txt_6_Doc_BanGocPOA_ByApp").val());

            // 11 Bản sao chứng từ nộp phí, lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoChungTu", "10");

            // 12 Tài liệu khác, cụ thể:
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Other", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_6_Doc_Other").val());
        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
