@model string[]
@{
    string AfterID = Model[0].ToString();
    string Title = Model[1].ToString();

    string btnChooseFile = "btnChooseFile_" + AfterID;
    string file_attach = "file_attach_" + AfterID;

    string txtMaxFile = "txtMaxFile_" + AfterID;

    string div_filename = "div_filename_" + AfterID;
    string div_RemoveImg = "div_RemoveImg_" + AfterID;
}

<div class="div-search-ad">
    <div class="div-search-content">
        <input type="button" id="@btnChooseFile" value="@WebApps.Resources.Resource.lblTaiFile" class="btn" onclick="return Click_Upload_File('@AfterID')" style="margin-left:4px;height:29px;" />
        <input type="file" id="@file_attach" style="display:none" onchange="FuncChooseResultFile('@AfterID')" />

        <div class="div-checkbox clssDisplaynone" id="@div_RemoveImg">
            <img onclick="RemoveFile('@AfterID')" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
        </div>
    </div>
    <div class="div-search-title">
        <div id="@div_filename" style="width: 168px;">Tên file<i class="redspan">(*)</i></div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="@WebApps.Resources.Resource.FileUp2MB" id="@txtMaxFile" readonly="readonly" />
        </div>
    </div>
</div>

<script>

    function Click_Upload_File(p_AfterID) {
        var _idfile = "file_attach_" + p_AfterID;
        document.getElementById(_idfile).click();
    }

    function FuncChooseResultFile(p_AfterID) {
        try {

            var _textFile = $("#txtMaxFile_" + p_AfterID);
            var div_filename = document.getElementById("div_filename_"+ p_AfterID);

            // lay du lieu file
            var pfile = $("#file_attach_" + p_AfterID);

            if (pfile.val() == "") {
                _textFile.val("");

                $("#div_RemoveImg_" + p_AfterID).addClass("clssDisplaynone");
                div_filename.width = "168px";
            }
            else {
                var _Filename = pfile[0].files[0].name.toString();
                _textFile.val(_Filename);

                $("#div_RemoveImg_" + p_AfterID).removeClass("clssDisplaynone");
                div_filename.width = "143px";
            }
        } catch (e) {
            alert(e);
        }
    }

    function CheckValidate_File(p_AfterID) {
        try {
            var pfile = $("#file_attach_" + p_AfterID); 
            if (pfile.val() != "") {
                var _CheckFile = true;
                var _Len = pfile[0].files[0].name.toString()
                if (_Len.length > 200) {
                    _CheckFile = false;
                    jError("Tên file không được quá 200 ký tự", "Lỗi", function () {
                        $(pfile).focus();
                    });
                    return false;
                }

                var _file = pfile[0].files[0];
                var _size = _file.size / 1024 / 1024;

                if (validateFileName(_file.name) == false) {
                    _CheckFile = false;
                    jError("Không tải file có tên file được lưu là unicode Tiếng việt có dấu ! ", "Lỗi", function () {
                        $(pfile).focus();
                    });
                    return false;
                }
                if (_CheckFile == false) {
                    return false;
                }
            }
        } catch (e) {

        }
    }

    function RemoveFile(p_AfterID) {
        try {

            $("#file_attach_" + p_AfterID).val('');
            $("#div_RemoveImg_" + p_AfterID).addClass("clssDisplaynone");
            var _textFile = $("#txtMaxFile_" + p_AfterID);
            _textFile.val("");

        } catch (e) {
            alert(e.toString());
        }
    }
</script>
