@using BussinessFacade.ModuleMemoryData
@using ObjectInfos;
@model SearchObject_Detail_Info
@{
    decimal _IdSearch = Model.ID;
    decimal _IsFirst = Model.IS_FIRST;

    List<AllCodeInfo> _lstObject = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _ListSearchType = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "SEARCHTYPE");
}

<div id='@("div_condition_" + _IdSearch)' class="div-search-ad">
    <input type="hidden" value="@_IdSearch" class="txtIdSeachClass" />
    @*<div class="div-search-title">
        <div> Đối tượng <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <select class="search_object" id="@("_cbosearch_object_" + _IdSearch)" style="width:150px" disabled="disabled">
                @foreach (AllCodeInfo item in _lstObject)
                {
                    <option value="@item.CdVal">
                        @item.Content
                    </option>
                }
            </select>
        </div>
    </div>*@

    <div class="div-search-title">
        <div> Loại <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <select class="search_type" id="@("_cbosearch_type_" + _IdSearch)" disabled="disabled">
                @foreach (AllCodeInfo item in _ListSearchType)
                {
                    if (item.CdVal == Model.SEARCH_TYPE.ToString())
                    {
                        <option value="@item.CdVal" selected="selected">
                            @item.Content
                        </option>
                    }
                    else
                    {
                        <option value="@item.CdVal">
                            @item.Content
                        </option>
                    }
                }
            </select>
        </div>
    </div>
</div>