@using ObjectInfos;
@using BussinessFacade;
@{
    //decimal _application_header_id = -1;
    //if (ViewBag.Application_Header_Id != null)
    //{
    //    _application_header_id = ViewBag.Application_Header_Id;
    //}

    var _SearchObject_Header_Info = new SearchObject_Header_Info();
    if (ViewBag.SearchHeader != null)
    {
        _SearchObject_Header_Info = ViewBag.SearchHeader;
    }

    Lawer_Info_BL _Lawer_Info_BL = new Lawer_Info_BL();
    List<UserInfo> _lstLawer = _Lawer_Info_BL.Lawer_Info_GetAll();

    string _id1 = "1";
    string _isValid1 = "0";
    string _model1 = _id1 + "|" + _isValid1 + "|" + WebApps.Resources.Resource.FileDinhKem;

    string _id2 = "2";
    string _isValid2 = "0";
    string _model2 = _id2 + "|" + _isValid2 + "|" + WebApps.Resources.Resource.FileDinhKem;

    string _value = "dangtq";
}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>
@*style="padding:5px 38px"*@

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.LuatSuPhanHoi
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title" style="height:200px">
            <div>Trả lời<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <textarea maxlength="4000" rows="10" style="height:202px; width:100%" id="_txtResult"></textarea>
            </div>
        </div>
    </div>

    @*@Html.Partial("/Areas/Manager/Views/SearchManage/_PartialTaiLieuUpload_New.cshtml", new string[] { "ADD_FILE_01", "File đính kèm 1" })
        @Html.Partial("/Areas/Manager/Views/SearchManage/_PartialTaiLieuUpload_New.cshtml", new string[] { "ADD_FILE_02", "File đính kèm 2" })*@

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.Billing</div>
        </div>
        <div class="div-search-content">
            <div>
                <a style="height: 20px !important;" href="javascript:;" onclick="getView2Insert('@_SearchObject_Header_Info.CASE_CODE')"> Yes </a>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)

    @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model2)


    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Submit" onclick="return doTraLoi()" />
        </div>
    </div>

    <div id="divWrapperPopUpBilling" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divDataBillingDetail">
        </div>
    </div>

</div>

<script>

    function ClosePopUpBilling() {
        CloseDivPopUp('divWrapperPopUpBilling');
    }

    function getView2Insert(_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        //var url = "/quan-ly-billing-search/danh-sach-billing/show-insert-by-casecode?p_case_code=" + _case_code;
        //window.open(url);

        $.ajax({
            type: "POST",
            url: "/quan-ly-billing/danh-sach-billing/get-view-to-popup-insert",
            data: {
                p_case_code: _case_code,
                p_type: 1
            },
            headers: { "cache-control": "no-cache" },
            async: true, cache: false, traditional: true,
            beforeSend: function () {
                CreateRollingWaitingIcon(true);
            },
            success: function (data) {
                CreateRollingWaitingIcon(false);
                if (data.success == "-2") {
                    jError("@Html.Raw(WebApps.Resources.Resource.TrangThaiDonKhongHopLe)");
                }
                else if (data.success == "-1") {
                }
                else {
                    $("#divDataBillingDetail").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpBilling', "@Html.Raw(WebApps.Resources.Resource.ThongTinPhi)", 500, 1200);
                }
            }
        });
    }

    var _SearchResult = "";

    function doTraLoi() {
        if (validateAction()) {
            var formData = new FormData();
            collectObjectData(formData);
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmPhanHoi)", function () {
                $.ajax({
                    url: '/quan-ly-search/tra-loi-search',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            //jError("Lỗi check lại kết nối tới server", "Lỗi");
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        } else if (data.success == "-2") {
                            jError("@Html.Raw(WebApps.Resources.Resource.KhongCoThongTinBilling)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                                //CloseDivPopUp('divWrapperPopUpApp');
                                //Search_Application(1,1);
                            });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        var _txtResult = $("#_txtResult");
        if (_txtResult.val() == null || _txtResult.val().trim() == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.NoiDungKhongTheDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                _txtResult.focus();
            });
            return false;
        }

        var _re = checkValidate_File("1");
        if (_re == false) {
            return false;
        }

        var _re = checkValidate_File("2");
        if (_re == false) {
            return false;
        }

        //if (CheckValidate_File('ADD_FILE_01')  == false) {
        //    return false;
        //}

        //if (CheckValidate_File('ADD_FILE_02') == false) {
        //    return false;
        //}

        return true;
    }

    function collectObjectData(formData)
    {
        _SearchResult = $("#_txtResult").val();
        formData.append('p_SearchObject_Header_Info.CONTENT', _SearchResult);
        formData.append('p_SearchObject_Header_Info.CASE_CODE', '@_SearchObject_Header_Info.CASE_CODE');
        formData.append('p_SearchObject_Header_Info.NOTE', $('#txtNotes').val());

        var pfile = $("#file_attach_1");//lay du lieu file
        if (pfile.val() != "") {
            var _file = pfile[0].files[0];
            formData.append('p_SearchObject_Header_Info.FileBase_File_Url', _file);
        }

        var pfile_t = $("#file_attach_2");//lay du lieu file
        if (pfile_t.val() != "") {
            var _file_t = pfile_t[0].files[0];
            formData.append('p_SearchObject_Header_Info.FileBase_File_Url02', _file_t);
        }

        //var pfile = $("#file_attach_ADD_FILE_01");//lay du lieu file
        //var _file = pfile[0].files[0];

        //var pfile_t = $("#file_attach_ADD_FILE_02");//lay du lieu file
        //var _file_t = pfile_t[0].files[0];

        //formData.append('p_SearchObject_Header_Info.FileBase_File_Url', _file);
        //formData.append('p_SearchObject_Header_Info.FileBase_File_Url02', _file_t);
    }



    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            //Các tài liệụ đính kèm
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", "1");
            return true;
        } catch (e) {
            return false;
        }

    }
</script>
