@using BussinessFacade.ModuleMemoryData
@using ObjectInfos;
@model string
@{
    decimal _IdSearch = 0;
    decimal _IsFirst = 0;
    if (!string.IsNullOrEmpty(Model))
    {
        _IdSearch = Convert.ToDecimal(Model.Split('|')[0]);
        _IsFirst = Convert.ToDecimal(Model.Split('|')[1]);
    }

    List<AllCodeInfo> _lstObject = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _ListSearchType = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "SEARCHTYPE");
}
<div id='@("div_condition_" + _IdSearch)' class="div-search-ad">
    <div class="div-checkbox" style="border: none;">
        <img onclick="RemoveFile_Edit('@_IdSearch')" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
    </div>

    <div class="div-search-title">
        <div> Đối tượng <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <select class="search_type" id="@("_cbosearch_object_" + _IdSearch)" style="width:150px">
                @foreach (AllCodeInfo item in _lstObject)
                {
                    <option value="@item.CdVal">
                        @item.Content
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div> Đối tượng <i class="redspan">(*)</i> </div>
    </div>
    <div class="div-search-content">
        <div>
            <select class="search_type" id="@("_cbosearch_type_" + _IdSearch)">
                @foreach (AllCodeInfo item in _ListSearchType)
                {
                    <option value="@item.CdVal">
                        @item.Content
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<input type="hidden" value="@_IdSearch" class="txtIdSeachClass" />
