@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData

@{
    SearchObject_Header_Info _HeaderInfo = new SearchObject_Header_Info();
    List<SearchObject_Detail_Info> _ListDetail = new List<SearchObject_Detail_Info>();
    SearchObject_Question_Info _QuestionInfo = new SearchObject_Question_Info();
    if (ViewBag.SearchHeader != null)
    {
        _HeaderInfo = ViewBag.SearchHeader;
    }
    if (ViewBag.SearchListDetail != null)
    {
        _ListDetail = ViewBag.SearchListDetail;
    }
    if (ViewBag.QuestionInfo != null)
    {
        _QuestionInfo = ViewBag.QuestionInfo;
    }
    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }

    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");
    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    string urlLogoChu = "";
    if (!string.IsNullOrEmpty(_HeaderInfo.Logourl) && _HeaderInfo.Logochu != 1)
    {
        urlMauNhanHieu = _HeaderInfo.Logourl.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(_HeaderInfo.Logourl) && _HeaderInfo.Logochu == 1)
    {
        urlLogoChu = _HeaderInfo.Logourl;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div style="float:left;width:100%">
    <br />

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @WebApps.Resources.Resource.CaseCode  </div>
        </div>
        <div class="div-search-content">
            <div>
                <input readonly type="text" placeholder="@WebApps.Resources.Resource.CaseCode" maxlength="200" style="width:250px" id="_txtcasecode" value="@_HeaderInfo.CASE_CODE" />
            </div>
        </div>

        <div class="div-search-title">
            <div> @WebApps.Resources.Resource.CaseName</div>
        </div>
        <div class="div-search-content">
            <div>
                <input readonly type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" value="@_HeaderInfo.CASE_NAME" />
            </div>
        </div>
    </div>
    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @WebApps.Resources.Resource.ClientReference </div>
        </div>
        <div class="div-search-content">
            <div>
                <input readonly type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" style="width:250px" id="txtClient_Reference" value="@_HeaderInfo.CLIENT_REFERENCE" />
            </div>
        </div>

        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.QuocGia<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <select id="cboCountry" disabled="disabled">
                    @foreach (var item in MemoryData.c_lst_Country)
                    {
                        if (item.Country_Id == _HeaderInfo.Country_Id)
                        {
                            <option selected="selected" value="@item.Country_Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Country_Id">
                                @item.Name
                            </option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div> @WebApps.Resources.Resource.Object: </div>
        </div>
        <div class="div-search-content">
            <div>
                <input readonly type="text" placeholder="@WebApps.Resources.Resource.Object" maxlength="200" id="txtObject_Search" value="@_HeaderInfo.Object_Search_Name" />
            </div>
        </div>
    </div>

    @if (_HeaderInfo.Url_File != null && _HeaderInfo.Url_File != "")
    {
        string[] _arr1 = _HeaderInfo.Url_File.Split('/');
        string _filename1 = @WebApps.Resources.Resource.FileDinhKem;
        if (_arr1.Length > 0)
        {
            _filename1 = _arr1[_arr1.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.FileDinhKem</div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@_HeaderInfo.Url_File" download="@_HeaderInfo.Url_File"> @_filename1 </a>
                </div>
            </div>
        </div>
    }

    <div style="margin-top:15px">
        <div>@WebApps.Resources.Resource.NoiDungYeuCau </div>
        <textarea disabled type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200">@_HeaderInfo.CONTENT</textarea>
    </div>

    <div class="divCover cls_form_title">
        <img src="/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.KetQua
        </div>
    </div>

    @if (_QuestionInfo.FILE_URL != null && _QuestionInfo.FILE_URL != "")
    {
        string[] _arr = _QuestionInfo.FILE_URL.Split('/');
        string _filename = WebApps.Resources.Resource.FileDinhKem;
        if (_arr.Length > 0)
        {
            _filename = _arr[_arr.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>File attach<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@_QuestionInfo.FILE_URL" download="@_QuestionInfo.FILE_URL"> @_filename </a>
                </div>
            </div>
        </div>
    }


    @if (_QuestionInfo.FILE_URL02 != null && _QuestionInfo.FILE_URL02 != "")
    {
        string[] _arr1 = _QuestionInfo.FILE_URL02.Split('/');
        string _filename1 = WebApps.Resources.Resource.FileDinhKem;
        if (_arr1.Length > 0)
        {
            _filename1 = _arr1[_arr1.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>File attach<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@_QuestionInfo.FILE_URL02" download="@_QuestionInfo.FILE_URL02"> @_filename1 </a>
                </div>
            </div>
        </div>
    }

    @if (_HeaderInfo.Url_Billing != null && _HeaderInfo.Url_Billing != "")
    {
        string[] _arr1 = _HeaderInfo.Url_Billing.Split('/');
        string _filename1 = WebApps.Resources.Resource.Billing;
        if (_arr1.Length > 0)
        {
            _filename1 = _arr1[_arr1.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Billing<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@_HeaderInfo.Url_Billing" download="@_HeaderInfo.Url_Billing"> @_filename1 </a>
                </div>
            </div>
        </div>
    }

    <div style="margin-top:15px">
        <div>@WebApps.Resources.Resource.KetQua</div>
        <textarea disabled type="text" style="height:100px;width:100%;" maxlength="200">@_QuestionInfo.RESULT</textarea>
    </div>
</div>