@using ObjectInfos;
@using BussinessFacade;
@{

    var _SearchObject_Header_Info = new SearchObject_Header_Info();
    if (ViewBag.SearchHeader != null)
    {
        _SearchObject_Header_Info = ViewBag.SearchHeader;
    }

    var QuestionInfo = new SearchObject_Question_Info();
    if (ViewBag.QuestionInfo != null)
    {
        QuestionInfo = (SearchObject_Question_Info)ViewBag.QuestionInfo;
    }

    Billing_Header_Info _Billing_Header_Info = null;
    if (_SearchObject_Header_Info.Url_Billing != null && _SearchObject_Header_Info.Url_Billing != "")
    {
        Billing_BL _Billing_BL = new Billing_BL();
        _Billing_Header_Info = _Billing_BL.Billing_GetBy_Id(_SearchObject_Header_Info.Billing_Id, WebApps.CommonFunction.AppsCommon.GetCurrentLang());
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>
<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/category.png" />
        <div class="cls_form_header">
            @WebApps.Resources.Resource.GuiYeuCauXacNhanChoKhachHang
        </div>
    </div>

    @if (QuestionInfo.FILE_URL != null && QuestionInfo.FILE_URL != "")
    {
        string[] _arr = QuestionInfo.FILE_URL.Split('/');
        string _filename = "File attach";
        if (_arr.Length > 0)
        {
            _filename = _arr[_arr.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>File attach<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@QuestionInfo.FILE_URL" download="@QuestionInfo.FILE_URL"> @_filename </a>
                </div>
            </div>
        </div>
    }


    @if (QuestionInfo.FILE_URL02 != null && QuestionInfo.FILE_URL02 != "")
    {
        string[] _arr1 = QuestionInfo.FILE_URL02.Split('/');
        string _filename1 = "File attach";
        if (_arr1.Length > 0)
        {
            _filename1 = _arr1[_arr1.Length - 1];
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>File attach<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@QuestionInfo.FILE_URL02" download="@QuestionInfo.FILE_URL02"> @_filename1 </a>
                </div>
            </div>
        </div>
    }

    @if (_SearchObject_Header_Info.Url_Billing != null && _SearchObject_Header_Info.Url_Billing != "")
    {
        string[] _arr1 = _SearchObject_Header_Info.Url_Billing.Split('/');
        string _filename1 = "Billing";
        if (_arr1.Length > 0)
        {
            _filename1 = _arr1[_arr1.Length - 1];

            // Hiển thị cả trạng thái reject nữa
            if (_Billing_Header_Info.Status == (decimal)Common.CommonData.CommonEnums.Billing_Status.Reject)
            {
                _filename1 = _filename1 + "(" + _Billing_Header_Info.Status_Name + ")";
            }
        }
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Billing</div>
            </div>
            <div class="div-search-content">
                <div>
                    <a style="height: 20px !important;" href="@_SearchObject_Header_Info.Url_Billing" download="@_SearchObject_Header_Info.Url_Billing"> @_filename1 </a>
                </div>
            </div>
        </div>
    }

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Kết quả <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" value="@QuestionInfo.RESULT" disabled="disabled" />
            </div>
        </div>
    </div>


    <div class="div-search-ad">
        <div class="div-search-title">
            <div>@WebApps.Resources.Resource.GhiChu <i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Accept" onclick="return doConfirm()" />
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Reject" onclick="return doReject()" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });

    function doConfirm() {
        if (validateAction()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmPhanHoiKhachHang)", function () {
                $.ajax({
                    url: '/quan-ly-search/admin-confirm-a',
                    type: 'POST',
                    data: {
                        p_case_code: '@_SearchObject_Header_Info.CASE_CODE',
                        p_status: '@Common.CommonData.CommonSearch.Stt_DaPhanHoi',
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        }
    }

    function doReject() {
        if (validateAction()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.TuChoiNoiDung)", function () {
                $.ajax({
                    url: '/quan-ly-search/admin-confirm-a',
                    type: 'POST',
                    data: {
                        p_case_code: '@_SearchObject_Header_Info.CASE_CODE',
                        p_status: '@Common.CommonData.CommonSearch.Admin_Reject',
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        var _Note = $('#txtNotes').val();
        if (_Note == null || _Note == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.GhiChuKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

</script>
