@model string[]
@{
    string AfterID = Model[0].ToString();
    string Title = Model[1].ToString();
    string Level = "0";

    string pfile = "pfile_" + AfterID;
    string txtMaxFile = "txt_" + AfterID;
    string btnTaiFile = "btnUp_" + AfterID;
    string ifafaCheck = "i_" + AfterID;
    string div_Img = "div_img_" + AfterID;
    string div_Up = "div_up_" + AfterID;

    string div_check = "divcheckFile_" + AfterID;
    string _span_Id = "spanResultfile_" + AfterID;
    string btnShowChoseFile = "btnShow" + AfterID;
}

<div class="div-search-ad @AfterID" id="@div_Up" data-level="@Level">
   
    <div class="div-search-title">
        <div>@Title</div>
        <input type="hidden" value="@AfterID" id="@AfterID" />
    </div>
    <div class="div-search-content">
        <div class="div-checkbox">

            <input type="button" value="Tải file" class="btn" onclick="return Click_Upload_File('@AfterID')" style="margin:2px;" />
            <div>
                <input type="file" id="@pfile" style="display:none" onchange="FuncChooseResultFile('@AfterID')" />
            </div>
        </div>
    </div>
 
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="Tên file Maximum file size is 2MB" id="@txtMaxFile" style="width:400px" readonly="readonly" />
        </div>
    </div>

    <div class="div-search-content clssDisplaynone" id="@div_Img">
        <div class="div-checkbox">
            <img onclick="RemoveFile('@AfterID')" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
        </div>
    </div>

    <div class="div-search-content clssDisplaynone" id="@div_check">
        <div class="div-checkbox" style="width:20px ">
            <i class="fa fa-check" id="@ifafaCheck" style="font-size:15px;color:green;margin-top: 5px; margin-left: 3px;"></i>
        </div>
    </div>

    <div class="div-search-content">
        <div class="div-checkbox" style="width:70px ">
            <input type="button" value="Tải file" class="btn" style="margin:2px;" id="@btnTaiFile" onclick="return funcPushFileToServer('@AfterID');" />
        </div>
    </div>


</div>

<script>

    function FuncChooseResultFile(p_AfterID) {
        try {

            var _textFile = $("#txt_" + p_AfterID);
            var _txt = document.getElementById("txt_" + p_AfterID);

            // lay du lieu file
            var pfile = $("#pfile_" + p_AfterID);

            if (pfile.val() == "") {
                _textFile.val("");

                $("#div_img_" + p_AfterID).addClass("clssDisplaynone");

                _txt.style.width = "400px";
            }
            else {
                var _Filename = pfile[0].files[0].name.toString();
                _textFile.val(_Filename);

                $("#div_img_" + p_AfterID).removeClass("clssDisplaynone");

                _txt.style.width = "400px";
            }
        } catch (e) {
            alert(e);
        }
    }


    function Click_Upload_File(p_AfterID) {
        var _idfile = "pfile_" + p_AfterID;
        document.getElementById(_idfile).click();
    }

    function RemoveFile(p_AfterID) {
        try {
            var keyFileUpload = p_AfterID;
            $.ajax({
                type: 'POST',
                url: '/quan-ly-search/push-file-to-server',
                data: {
                    keyFileUpload: keyFileUpload
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    if (data.success == 0) {
                        $("#div_img_" + p_AfterID).addClass("clssDisplaynone");
                        $("#divcheckFile_" + p_AfterID).addClass("clssDisplaynone");
                        $("#pfile_" + p_AfterID).val('');
                        var _textFile = $("#txt_" + p_AfterID);
                        _textFile.val("");
                        var _txt = document.getElementById("txt_" + p_AfterID);
                        _txt.style.width = "400px";
                    }
                }
            });

        } catch (e) {

        }

    }


    function funcPushFileToServer(pID) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", pID);

            // lay du lieu file
            var _idfile = "pfile_" + pID;
            var pfile = $("#" + _idfile);
            if (pfile.val() != "") {
                var _CheckFile = true;
                var _Len = pfile[0].files[0].name.toString()
                if (_Len.length > 200) {
                    _CheckFile = false;
                    jError("Tên file không được quá 200 ký tự", "Lỗi", function () {
                        $(pfile).focus();

                    });
                    return false;
                }

                var _file = pfile[0].files[0];
                var _size = _file.size / 1024 / 1024;

                if (validateFileName(_file.name) == false) {
                    _CheckFile = false;
                    jError("Không tải file có tên file được lưu là unicode Tiếng việt có dấu ! ", "Lỗi", function () {
                        $(pfile).focus();
                    });
                    return false;
                }
                if (_CheckFile == false) {
                    return false;
                }

                //formData.append("file", _file);
                formdata.append("pInfo.pfiles", _file);
            }
            else {
                jError("Không có file để tải lên!", "lỗi");
                return;
            }

            //2
            $.ajax({
                type: 'POST',
                url: '/wiki-manage/wiki-doc/push-file-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#i_" + pID).css("display", "inline-block");

                        $("#divcheckFile_" + pID).removeClass("clssDisplaynone");
                    } else {
                        $("#divcheckFile_" + pID).addClass("clssDisplaynone");
                        jError(pushfileError);
                    }
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
</script>
