@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Quản lý Search";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<WikiCatalogues_Info> _listcata = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCata != null)
    {
        _listcata = ViewBag.ListCata;
    }
    int _CurrentStatus = ViewBag.CurrStatus;
    string _hef01 = "", _hef02 = "", _hef03 = "", _hef04 = "";
    if (_CurrentStatus == 1)
    {
        _hef01 = "text-decoration: underline;";
    }
    if (_CurrentStatus == 2)
    {
        _hef02 = "text-decoration: underline;";
    }
    if (_CurrentStatus == 3)
    {
        _hef03 = "text-decoration: underline;";
    }
    if (_CurrentStatus == 4)
    {
        _hef04 = "text-decoration: underline;";
    }
}

@try
{
    <style>
        /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
        .div-search-title > div {
            width: 150px;
        }

        .ms-parent {
            margin: 0px 3px;
        }

        .ms-choice {
            height: 30px;
        }
    </style>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            Wiki
            <span class="red">></span>
            <a href="#">Quản lý Search</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
            <input type="hidden" value="DESC" id="SortType" />
            <input type="hidden" value="" id="OptionSorting" />
            <table style="margin:10px 0px">
                <tr>
                    <td>
                        <a   href="/quan-ly-search/them-moi">1. Create New Search</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a style="@_hef01" href="/quan-ly-search/danh-sach-search/@CommonSearch.Stt_PhanChoLuatSu">  2. Search cần phân cho luật sư</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a style="@_hef02" href="/quan-ly-search/danh-sach-search/@CommonSearch.Stt_ChoLuatSuPhanHoi">  3. Search chờ luật sư phản hồi</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a style="@_hef03" href="/quan-ly-search/danh-sach-search/@CommonSearch.Stt_ChoDuyet">  4. Search chờ duyệt (Ls đã phản hồi)</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a style="@_hef04" href="/quan-ly-search/danh-sach-search/@CommonSearch.Stt_DaPhanHoi">  5. Search đã phản hồi </a>
                    </td>
                </tr>
            </table>

        </div>

        <div class="divCover" id="div-search-simple">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 120px">Case code</div>
                </div>
                <div>
                    <div style="width:200px">
                        <input type="text" id="txtCasecode" data-controlcondition="TRUE" />
                    </div>
                </div>
                <div class="div-search-title">
                    <div style="width: 120px">Client Reference</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="_txtClientReference" data-controlcondition="TRUE" />
                    </div>
                </div>
           
            </div>
            <div class="div-search-ad">

                <div class="div-search-title">
                    <div style="width: 120px">Khách hàng tạo</div>
                </div>
                <div class="div-search-content">
                    <div style="width:200px">
                        <input type="text" id="_txtCreateBy" data-controlcondition="TRUE" />
                    </div>
                </div>
                <div class="div-search-title">
                    <div style="width: 120px">Luật sư được phân</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="_txtLawer" data-controlcondition="TRUE" />
                    </div>
                </div>
            </div>
            </div>

        <div class="divCover">
            <div class="div-search-btn" style="width:450px;">
                <input type="button" value="Tìm kiếm" class="btn-default" onclick="findObjects(1, 1)" />
            </div>
        </div>

        <div class="divCover">
            <div id="divTableObjects">
                @Html.Partial("/Areas/Manager/Views/SearchManage/_SearchData.cshtml")
            </div>
        </div>

    </div>

    <script>
        var _currentKeySearch = '/Areas/Manager/Views/SearchManage/ListSearch.cshtml' + '@_CurrentStatus';
        var _currentOptionFilter = '/Areas/Manager/Views/SearchManage/ListSearchFilter.cshtml' + '@_CurrentStatus';
        var _status = '@_CurrentStatus', _casename = "", _clientref = "", _createby = "", _lawer = "";

        $(document).ready(function () {
              initAllSearchingData(_currentKeySearch, _currentOptionFilter, initOrderBySearching, setKeySearch, findObjects);
              $('#txtCasecode').focus();
            $('[data-controlcondition="TRUE"]').on('keypress',
				function (e) {
				    enterKeyPress(e, 'btnfindObjects');
				});
        });


        function findObjects(_pageNumber, _isSearching) {
            try {
                reinitSearchingConditions(_currentKeySearch, _currentOptionFilter, _pageNumber, _isSearching);
                if (isSearching === 1) {
                    _status = '@_CurrentStatus';
                    _casename = $("#txtCasecode").val();
                    _clientref = $("#_txtClientReference").val().trim();
                    _createby = $("#_txtCreateBy").val();
                    _lawer = $("#_txtLawer").val();

                } else {
                    window.arrKeySearch = window.keySearch.split('|');

                    _status = arrKeySearch[0];
                    _casename = arrKeySearch[1];
                    _clientref = arrKeySearch[2];
                    _createby = arrKeySearch[3];
                    _lawer = arrKeySearch[4];
                    $("#txtCasecode").val(_casename);
                    $("#_txtClientReference").val().trim(_clientref);
                    $("#_txtCreateBy").val(_createby);
                    $("#_txtLawer").val(_lawer);
                }

                updateSearchingConditions("divNumberRecordOnPageListObjects", setKeySearch);

                $.ajax({
                    type: "POST",
                    headers: { "cache-control": "no-cache" },
                    url: "/quan-ly-search/findobject-search/",
                    data: {
                        keysSearch: keySearch,
                        options: optionFilter
                    },
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            onResponseWhenSearching(data, "divTableObjects", findObjects);
                        }
                    }
                });
                return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }


        }

        function setKeySearch() {
            window.keySearch = _status + "|" + _casename + "|" + _clientref + "|" + _createby + "|" + _lawer;
        }

        function initOrderBySearching() {
            window.colSort = 'MODIFIED_DATE';
            window.sortType = 'DESC';
        }

        function pageListOfObjects(_pagenum) {
            try {
                findObjects(_pagenum, 0);

            } catch (e) {
                console.log(e.message);
            }
        }


        function doDeleteObject(p_id) {
            try {
                    nvsConfirm(null, "Bạn có chắc chắn muốn xóa bản ghi search này không?", function () {
                        $.ajax({
                            url: "/quan-ly-search/do-delete",
                            type: "POST",
                            data: { p_id: p_id },
                            headers: { "cache-control": "no-cache" },
                            async: false,
                            success: function (data) {
                                //if (data != null) {
                                //    if (onResponse(data)) {
                                //        ClosePopupDialog('dpop-users', true);
                                //        findObjects(1, 0);
                                //    }
                                //}
                                if (data.result >= 0) {
                                    showSuccess("Xóa dữ liệu thành công!");
                                    window.findObjects(1, 0);
                                }
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });

                    });

            } catch (e) {
                alert(e.toString());
            }

        }


    </script>
}
catch (Exception)
{
    // ignored
}