@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@using WebApps.CommonFunction
@{
    ViewBag.Title = "Sửa thông tin yêu cầu tìm kiếm";
    Layout = "~/ViewsShared/_Layout.cshtml";
    SearchObject_Header_Info _HeaderInfo = new SearchObject_Header_Info();
    List<SearchObject_Detail_Info> _ListDetail = new List<SearchObject_Detail_Info>();
    SearchObject_Question_Info _QuestionInfo = new SearchObject_Question_Info();
    if (ViewBag.SearchHeader != null)
    {
        _HeaderInfo = ViewBag.SearchHeader;
    }
    if (ViewBag.SearchListDetail != null)
    {
        _ListDetail = ViewBag.SearchListDetail;
    }
    if (ViewBag.QuestionInfo != null)
    {
        _QuestionInfo = ViewBag.QuestionInfo;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");
        if (language == Language.LangVI)
        {
            if (item.name != null)
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (item.name_en != null)
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }

    List<AllCodeInfo> _lstObject = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");
    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    string urlLogoChu = "";
    if (!string.IsNullOrEmpty(_HeaderInfo.Logourl) && _HeaderInfo.Logochu != 1)
    {
        urlMauNhanHieu = _HeaderInfo.Logourl.Replace("~", "");
    }
    if (!string.IsNullOrEmpty(_HeaderInfo.Logourl) && _HeaderInfo.Logochu == 1)
    {
        urlLogoChu = _HeaderInfo.Logourl;
    }
}
<input type="hidden" id="txtLogoOld" value="@urlMauNhanHieu" />
<input type="hidden" id="txtlogochu" value='@_HeaderInfo.Logochu' />
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>

<style>
    .ui-autocomplete-loading {
        background: white url("/Content/icons/Rolling-1s-16px.svg") right center no-repeat;
    }
</style>
<script>
    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");

            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });
</script>

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-search/danh-sach-search">@WebApps.Resources.Resource.iSeaching</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.TraCuuKhaNangBaoHo</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content">@WebApps.Resources.Resource.SuaThongTinTimKiem.ToUpper()</div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.CaseName:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" value="@_HeaderInfo.CASE_NAME" />
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.ClientReference: </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" id="txtClient_Reference" value="@_HeaderInfo.CLIENT_REFERENCE" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Object<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select class="search_object" id="cbosearch_object" disabled>
                        @foreach (AllCodeInfo item in _lstObject)
                        {
                            if (item.CdVal == _HeaderInfo.Object_Search.ToString())
                            {
                                <option value="@item.CdVal" selected="selected">
                                    @item.Content
                                </option>
                            }
                            else
                            {
                                <option value="@item.CdVal">
                                    @item.Content
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocGia<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == _HeaderInfo.Country_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>



        @if (_HeaderInfo.Object_Search == Search_Object_Enum.Trademark)
        {
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.AnhNhanHieu
                </div>
            </div>

            <div class="class_full_div_input_extent">
                <div class="div-search-ad">
                    <div class="div-search-title">
                        <div>@WebApps.Resources.Resource.lblMauNhanHieu:</div>
                        <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                           data-title="@WebApps.Resources.Resource.TooltipNhanHieu"></a>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <select id="cboLogoType" onchange="funcChangeLogoType()">
                                @foreach (var item in _lstLogoType)
                                {
                                    if (_HeaderInfo.Logochu == Convert.ToInt32(item.CdVal))
                                    {
                                        <option value="@item.CdVal" selected="selected">
                                            @item.Content
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.CdVal">
                                            @item.Content
                                        </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>


                <div class="div-search-ad" id="spfontsize" style="display:none">
                    <div class="div-search-title">
                        <div>
                            Font-size
                        </div>
                    </div>
                    <div class="div-search-content">
                        <div>
                            <input type="number" onchange="changeFontSize()" id="txtFontSize" value="@(_HeaderInfo.LOGO_FONT_SIZE==0?12:_HeaderInfo.LOGO_FONT_SIZE)" style="height: 27px; display:none" />
                        </div>
                    </div>
                </div>


                <div class="class_block_title_control divLogoAnh" style="display:flex;padding-top:10px">
                    @if (_HeaderInfo.Logochu != 1)
                    {
                        <div style="width:165px ;height:165px; margin-left: 43px;" id="divLogo" class="divLogoAnh">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container divLogoAnh" id="iddivLogoAnh" style="flex-grow:1;padding-top:50px">
                            <img onclick="funcRemoveTradeMarkImg('imgMauNhanHieu')" src="~/Content/icons/delete_file.png" style="margin: 0px 21px -44px 4px;" />
                            <div class="file-upload btn btn-primary" style="margin-top:95px">
                                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                                <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" onchange="onChangerdoMauNhanHieu()" />
                            </div>
                        </div>
                        <div id="divckbNhanHieuChu" style="display:none">
                            <div style="width:165px ;height:165px;  margin-left: 43px;">
                                <input type="text" class="classChuNhanHieu" id="txtChuNhanHieu" value="@urlLogoChu" style="height:160px;width:160px;text-align: center;" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width:165px ;height:165px; margin-left: 43px;display:none" id="divLogo">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container" id="divLogoHiden" style="flex-grow:1;padding-top:50px;display:none">
                            <img onclick="funcRemoveTradeMarkImg('imgMauNhanHieu')" src="~/Content/icons/delete_file.png" style="margin: 0px 21px -44px 4px;" />
                            <div class="file-upload btn btn-primary" style="margin-top:95px">
                                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                                <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" onchange="onChangerdoMauNhanHieu()" />
                            </div>
                        </div>

                        <div id="divckbNhanHieuChu">
                            <div style="width:165px ;height:165px; margin-left: 43px;">
                                <input type="text" class="classChuNhanHieu" id="txtChuNhanHieu" value="@urlLogoChu" style="height:160px;width:160px;text-align: center;" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <script>

                $(document).ready(function () {
                    funcChangeLogoType();
                    changeFontSize();
                });

                function funcChangeLogoType() {
                    try {
                        if ($("#cboLogoType").val() == "1") {
                            $("#divLogo").css('display', 'none');
                            $("#divLogoHiden").css('display', 'none');
                            $("#divckbNhanHieuChu").css('display', 'block');
                            $("#spfontsize").css('display', 'block');
                            $("#txtFontSize").css('display', 'block');
                            $("#iddivLogoAnh").css('display', 'none');

                        }
                        else {
                            $("#divckbNhanHieuChu").css('display', 'none');
                            $("#divLogo").css('display', 'block');
                            $("#divLogoHiden").css('display', 'block');

                            $("#spfontsize").css('display', 'none');
                            $("#txtFontSize").css('display', 'none');
                            $("#iddivLogoAnh").css('display', 'block');
                        }

                    } catch (e) {
                        console.log(e.toString());
                    }
                }
            </script>

            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.MoTaTomTat
                </div>
            </div>

            @*@Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialAddSearchClass.cshtml")*@
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClass.cshtml")

            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.DieuKienSearch
                </div>
            </div>

            <div id="div_searchcondtion_content">
                @foreach (var item in _ListDetail)
                {
                    @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialSearchCondition4Edit.cshtml", item)
                }
            </div>

            <br />
            <br />
        }
        else if (_HeaderInfo.Object_Search == Search_Object_Enum.Patent)
        {
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.Patent
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.TenSangChe</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="500" id="txtName" value="@_HeaderInfo.Name" />
                    </div>
                </div>
            </div>
        }
        else if (_HeaderInfo.Object_Search == Search_Object_Enum.IndusDesign)
        {
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.IndusDesign
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.TenKieuDangCongNghiep</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="500" id="txtName" value="@_HeaderInfo.Name" />
                    </div>
                </div>
            </div>
        }

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.NoiDungYeuCau<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200">@_HeaderInfo.CONTENT</textarea>
        </div>

        @if (_HeaderInfo.Url_File != null && _HeaderInfo.Url_File != "")
        {
            string[] _arr1 = _HeaderInfo.Url_File.Split('/');
            string _filename1 = WebApps.Resources.Resource.FileDinhKem;
            if (_arr1.Length > 0)
            {
                _filename1 = _arr1[_arr1.Length - 1];
            }
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.FileDinhKem</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <a style="height: 20px !important;" href="@_HeaderInfo.Url_File" download="@_HeaderInfo.Url_File"> @_filename1 </a>
                    </div>
                </div>
            </div>
        }

        @if (_HeaderInfo.Url_File != null && _HeaderInfo.Url_File != "")
        {
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.TaiFileDinhKemKhac
                </div>
            </div>
        }
        else
        {
            <div class="divCover cls_form_title">
                <img src="/Content/icons/category.png" />
                <div class="cls_form_header">
                    @WebApps.Resources.Resource.TaiFileDinhKem
                </div>
            </div>
        }
        @{
            string _id1 = "1";
            string _isValid1 = "0";
            string _model1 = _id1 + "|" + _isValid1 + "|" + WebApps.Resources.Resource.FileDinhKem;
            @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
        }


    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" id="btnGuiBai" class="btn-default" value="@WebApps.Resources.Resource.Sua" />
            <input type="button" class="btn-default" value="@WebApps.Resources.Resource.Back" onclick="return goBack()" />
        </div>
    </div>
</div>

<script>

    function funcAddCondition() {
        try {
            var txtDdSeachClass = $(".txtIdSeachClass").last().val();
            $.ajax({
                type: 'POST',
                url: '/quan-ly-search/them-dieu-kien/',
                data: {
                    _idSearch: txtDdSeachClass / 1 + 1
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    $("#div_searchcondtion_content").append(data);
                }
            });
        } catch (e) {

        }
    }

    function funcdeletecondition(_idsearch) {
        try {
            $("#div_condition_" + _idsearch).remove();
        } catch (e) {

        }
    }


    function funcRemoveTradeMarkImg(ptag) {
        $("#" + ptag).attr('src', '');
        $("#txtLogoOld").val("");
    }

    var _checkanh = 0;
    function onChangerdoMauNhanHieu() {
         _checkanh = 0;
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');

        //kiểm tra ảnh có đúng kích cỡ hay không?
        if (this.files[0].type.indexOf("image") != -1) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
                //2x2 75x75 px
                if (iheight > 302 || iheight < 75 || iwidth > 302 || iwidth < 75) {
                    _checkanh = 1;
                    nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.KichThuoc2288)", function () {
                        return true;
                    }, function () {
                        //Callback
                        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                    });

                } else {
                    return true;
                }
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("@Html.Raw(WebApps.Resources.Resource.ThongBao)", "@Html.Raw(WebApps.Resources.Resource.FileKhongPhaiLaAnh)", "");
            _checkanh = 2;
        }
    }

    function  fileNhanHieu(pfile, pIdImg) {
        try {
            if (pfile.files && pfile.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#" + pIdImg).attr("src", e.target.result);
                }
                reader.readAsDataURL(pfile.files[0]);
            }
        } catch (e) {

        }
    }

    function changeFontSize()
    {
        try {
            document.getElementById("txtChuNhanHieu").style.fontSize = document.getElementById("txtFontSize").value + "px";
        } catch (e) {

        }
    }


    $("#btnGuiBai").click(function () {
        try {
            var formData = new FormData();

            var _txtcasename = $("#_txtcasename");
            var txtClient_Reference = $("#txtClient_Reference");

            var _re = checkValidate_File("1");
            if (_re == false) {
                return false;
            }

            var _object_Search = @_HeaderInfo.Object_Search;
            if (_object_Search == '@Search_Object_Enum.Patent' ) {
                var _txtName = $("#txtName").val();
                if (_txtName == null || _txtName == "") {
                    jError("@Html.Raw(WebApps.Resources.Resource.TenSangChe + WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                        $("#txtName").val('');
                        $('#txtName').focus();
                    });
                    return false;
                }
            } else if (_object_Search == '@Search_Object_Enum.IndusDesign') {
                var _txtName = $("#txtName").val();
                if (_txtName == null || _txtName == "") {
                    jError("@Html.Raw(WebApps.Resources.Resource.TenKieuDangCongNghiep + WebApps.Resources.Resource.KhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                        $("#txtName").val('');
                        $('#txtName').focus();
                    });
                    return false;
                }
            }

            formData.append("p_searchHeaderInfo.SEARCH_ID", '@_HeaderInfo.SEARCH_ID');
            formData.append("p_searchHeaderInfo.CASE_NAME", _txtcasename.val().trim());
            formData.append("p_searchHeaderInfo.CLIENT_REFERENCE", txtClient_Reference.val());
            formData.append("p_searchHeaderInfo.STATUS", '@CommonSearch.Stt_PhanChoLuatSu');
            formData.append("p_searchHeaderInfo.Country_Id", $("#cboCountry").val());
            formData.append("p_searchHeaderInfo.Object_Search", $("#cbosearch_object").val());

            if (_object_Search == '@Search_Object_Enum.Trademark') {
                //HungTD
                if ($("#cboLogoType").val() == "1") {
                    formData.append("p_searchHeaderInfo.Logochu", $("#cboLogoType").val());
                    formData.append("p_searchHeaderInfo.ChuLogo", $("#txtChuNhanHieu").val());
                    formData.append("p_searchHeaderInfo.LOGO_FONT_SIZE", $("#txtFontSize").val());
                    formData.append("p_searchHeaderInfo.FONTTYPE", "");
                }
                else {
                    formData.append("p_searchHeaderInfo.Logochu", $("#cboLogoType").val());
                    var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
                    if (fileLogo != undefined || fileLogo != null) {
                        formData.append("p_searchHeaderInfo.pfileLogo", fileLogo[0].files[0]);
                    } else {
                        showError('Mẫu nhãn hiệu không được để trống');
                        $("#pfile_6_rdoMauNhanHieu").focus();
                    }
                }

                //Vào so sánh vs cái mới xem có sửa hay ko ko sửa thì thôi ko save
                var logORG = $("#txtLogoOld").val();
                formData.append("p_searchHeaderInfo.LogourlOrg", logORG);
                //End HưngTD

                $('.search_type').each(function (i, item) {
                    formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_TYPE", $(item).val());
                });

                formData.append("p_searchHeaderInfo.Name", "");

                var reponse = funcGetDataClassInfo(formData);
                if (reponse == false) {
                    return false;
                }

            } else if (_object_Search == '@Search_Object_Enum.Patent') {
                formData.append("p_searchHeaderInfo.Name", $("#txtName").val());
            } else if (_object_Search == '@Search_Object_Enum.IndusDesign') {
                formData.append("p_searchHeaderInfo.Name", $("#txtName").val());
            }

            var pfile = $("#file_attach_1");//lay du lieu file
            if (pfile.val() != "") {
                var _file = pfile[0].files[0];
                formData.append("p_searchHeaderInfo.Url_File_Up", _file);
            }

            var txtAddContent = $("#txtAddContent");
            if (txtAddContent.val().trim() == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.MoTaKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    txtAddContent.val('');
                    txtAddContent.focus();
                });
                return false;
            }
            formData.append("p_questionInfo.CONTENT", txtAddContent.val());

            
            $.ajax({
                url: '/quan-ly-search/SearchEdit/',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.CapNhatDuLieuThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            var url = "/quan-ly-search/danh-sach-search";
                            window.location.href = url;
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
            return false;
        }
    });

</script>
