@using Common.CommonData
@using ObjectInfos;
@using WebApps.CommonFunction
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Trademark";
    Layout = "~/ViewsShared/_Layout.cshtml";

    List<AllCodeInfo> _lstObject = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _lstType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "SEARCHTYPE");

    //List<SuggestInfo> _lstSuggest = new List<SuggestInfo>();
    //if (ViewBag.Data_Object != null)
    //{
    //    _lstSuggest = (List<SuggestInfo>)ViewBag.Data_Object;
    //}

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        if (item == null || item.name == null)
        {
            continue;
        }

        var pShortInfo = new SuggestInfo("", "");
        if (language == Language.LangVI)
        {
            pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
        }
        else
        {
            pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }

    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");
}
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

@*<script src="~/Scripts/jquery-1.12.4.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@

<script src="~/Content/ComboCheckList/jquery.multiple.select_new.js"></script>
<link href="~/Content/ComboCheckList/multiple-select.css" rel="stylesheet" />

@*<script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@
<style>
    .ui-autocomplete-loading {
        background: white url("/Content/icons/Rolling-1s-16px.svg") right center no-repeat;
    }
</style>
<script>
    @*$(function () {

        var availableTags = [];
        var array = @Html.Raw(Json.Encode(@_lstSuggest));
        for(var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }

        $("#tags").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);

                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                return false;
            }
        });
    });*@

    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");

            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });
</script>

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>
@*<script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>*@

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-search/danh-sach-search">@WebApps.Resources.Resource.iSeaching</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.TrademarkSearch</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.TrademarkSearch.ToUpper()</div>
        </div>
    </div>
    <div class="divCover">


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == Common.Common.Country_VietNam_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.YeuCau<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="500" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.CaseName<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.ClientReference </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input value="" type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" id="txtClient_Reference" />
                </div>
            </div>
        </div>



        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.TrademarkSample
            </div>
        </div>

        <div class="class_full_div_input_extent">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>@WebApps.Resources.Resource.lblMauNhanHieu:</div>
                    <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                       data-title="@WebApps.Resources.Resource.TooltipNhanHieu"></a>
                </div>
                <div class="div-search-content">
                    <div>
                        <select id="cboLogoType" onchange="funcChangeLogoType()">
                            @foreach (var item in _lstLogoType)
                            {
                                <option value="@item.CdVal">
                                    @item.Content
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="div-search-ad" id="spfontsize" style="display:none">
                <div class="div-search-title">
                    <div>
                        Font-size
                    </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="number" onchange="changeFontSize()" id="txtFontSize" value="12" style="height: 27px; display:none" />
                    </div>
                </div>
            </div>



            <div class="class_block_title_control" style="display:flex;padding-top:10px">
                <div style="width:165px ;height:165px;margin-left: 13px;" id="divLogo">
                    <img id="imgMauNhanHieu" src="~/Content/icons/logo.jpg" style="width:160px ;height:160px">
                    <img id="imgMauNhanHieuTeplace" src="~/Content/icons/logo.jpg" hidden="hidden">
                </div>
                <div class="container" id="divckbNhanHieuAnh" style="flex-grow:1;padding-top:50px">
                    <div class="file-upload btn btn-primary" style="margin-top:95px">
                        <span>@WebApps.Resources.Resource.lblTaiFile</span>
                        <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                    </div>
                </div>
                <div id="divckbNhanHieuChu" style="display:none">
                    <div style="width:165px ;height:165px;margin-left: 13px;">
                        <input type="text" class="classChuNhanHieu" id="txtChuNhanHieu" style="height:160px;width:160px;text-align: center;" />
                    </div>
                </div>
            </div>
            <script>
                            function funcChangeLogoType()
                            {
                                try {
                                    if($("#cboLogoType").val() != "1" )
                                    {
                                        $("#divckbNhanHieuAnh").css('display', 'block');
                                        $("#divLogo").css('display', 'block');
                                        $("#divckbNhanHieuChu").css('display', 'none');
                                        $("#tagSuggessIMG").css('display', 'block');
                                        $("#spfontsize").css('display', 'none');
                                        $("#txtFontSize").css('display', 'none');
                                    }
                                    else
                                    {
                                        $("#divckbNhanHieuAnh").css('display', 'none');
                                        $("#divLogo").css('display', 'none');
                                        $("#tagSuggessIMG").css('display', 'none');
                                        $("#divckbNhanHieuChu").css('display', 'block');
                                        $("#spfontsize").css('display', 'block');
                                        $("#txtFontSize").css('display', 'block');
                                    }

                                } catch (e) {
                                    console.log(e.toString());
                                }
                            }

                            function changeFontSize()
                            {
                                try {
                                    document.getElementById("txtChuNhanHieu").style.fontSize = document.getElementById("txtFontSize").value + "px";
                                } catch (e) {

                                }
                            }

                            var _checkanh = 0;
                            document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
                                _checkanh = 0;
                                var preturn = fileNhanHieu(this, 'imgMauNhanHieu');

                                //kiểm tra ảnh có đúng kích cỡ hay không?
                                if (this.files[0].type.indexOf("image") != -1) {

                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                                        var img = $("#imgMauNhanHieuTeplace");
                                        var iheight = 500; var iwidth = 500;

                                        iheight = img[0].height;
                                        console.log('lan 1: ' + iheight);
                                        iheight = img[0].height;
                                        iwidth = img[0].width;
                                        console.log(iheight);
                                        //2x2 75x75 px , 8x8 302x302
                                        if (iheight > 302 || iheight < 75 || iwidth > 302 || iwidth < 75) {
                                            _checkanh = 1;
                                            nvsConfirm(null,"@Html.Raw(WebApps.Resources.Resource.KichThuoc2288)", function () {
                                                return true;
                                            }, function () {
                                                //Callback
                                                $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                                            });

                                        } else {
                                            return true;
                                        }
                                    }
                                    reader.readAsDataURL(this.files[0]);
                                } else {
                                    nvsAlert("@Html.Raw(WebApps.Resources.Resource.ThongBao)", "@Html.Raw(WebApps.Resources.Resource.FileKhongPhaiLaAnh)", "");
                                    _checkanh = 2;
                                }
                            };

                            function funcUpLoadMauNhanHieu(pFile) {
                                try {
                                    var file = document.getElementsByName(pFile);
                                    if (file != undefined) {
                                        formdata.append("pInfo.pfiles", file[0].files[0]);
                                    }
                                } catch (e) {
                                }
                            }

                            function  fileNhanHieu(pfile, pIdImg) {
                                try {
                                    if (pfile.files && pfile.files[0]) {
                                        var reader = new FileReader();
                                        reader.onload = function (e) {
                                            $("#" + pIdImg).attr("src", e.target.result);
                                        }
                                        reader.readAsDataURL(pfile.files[0]);


                                    }
                                } catch (e) {

                                }
                            }

            </script>
        </div>

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.HangHoaDichVuMangNhanHieu
            </div>
        </div>

        @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialAddSearchClass.cshtml")




        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.DieuKienSearch
            </div>
        </div>

        <div id="div_searchcondtion_content">
            @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialSearchCondition.cshtml", "1|1")
        </div>

        <div class="div-search-ad" style="float:left; width:100%;">
            <input class="btn" style="margin: 4px 0px 0px 28px;" type="button" value="@WebApps.Resources.Resource.ThemDieuKien" onclick="funcAddCondition()" />
        </div>

        <br />
        <br />
        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.NoiDungYeuCau<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200"></textarea>
        </div>

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.TaiFileDinhKem
            </div>
        </div>
        <br />
        @{
            string _id1 = "1";
            string _isValid1 = "0";
            string _model1 = _id1 + "|" + _isValid1 + "|" + WebApps.Resources.Resource.FileDinhKem;
            @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
        }
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" id="btnGuiBai" class="btn-default" value="@WebApps.Resources.Resource.GuiTimKiem" />
        </div>
    </div>
</div>



<script>
    function funcAddCondition() {
        try {
            var txtDdSeachClass = $(".txtIdSeachClass").last().val();
            $.ajax({
                type: 'POST',
                url: '/quan-ly-search/them-dieu-kien/',
                data: {
                    _idSearch: txtDdSeachClass / 1 + 1
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    $("#div_searchcondtion_content").append(data);
                }
            });
        } catch (e) {

        }
    }

    function funcdeletecondition(_idsearch) {
        try {
            $("#div_condition_" + _idsearch).remove();
        } catch (e) {

        }
    }

    $("#btnGuiBai").click(function () {
        try {
            var formData = new FormData();

            var _txtcasename = $("#_txtcasename");
            var txtClient_Reference = $("#txtClient_Reference");

            if (_txtcasename.val().trim() == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.CaseNameTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    _txtcasename.val('');
                    _txtcasename.focus();
                });
                return false;
            }
            //if (txtClient_Reference.val().trim() == "") {
            //    jError("Client Reference không được bỏ trống!", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
            //        txtClient_Reference.val('');
            //        txtClient_Reference.focus();
            //    });
            //    return false;
            //}

            var _re = checkValidate_File("1");
            if (_re == false) {
                return false;
            }

            var txtNotes = $("#txtNotes").val();
            if (txtNotes == null || txtNotes == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.YeuCauKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtNotes").val('');
                    $('#txtNotes').focus();
                });
                return false;
            }

            //var _contentVal = CKEDITOR.instances['txtAddContent'].getData();

            formData.append("p_searchHeaderInfo.CASE_NAME", _txtcasename.val().trim());
            formData.append("p_searchHeaderInfo.CLIENT_REFERENCE", txtClient_Reference.val());
            formData.append("p_searchHeaderInfo.STATUS", '@CommonSearch.Stt_PhanChoLuatSu');
            formData.append("p_searchHeaderInfo.Country_Id", $("#cboCountry").val());
            formData.append("p_searchHeaderInfo.NOTE", $("#txtNotes").val());
            formData.append("p_searchHeaderInfo.Object_Search", '@Search_Object_Enum.Trademark');

            //hungtd thêm up ảnh
            if ($("#cboLogoType").val() == "1") {
                formData.append("p_searchHeaderInfo.Logochu", 1);
                formData.append("p_searchHeaderInfo.ChuLogo", $("#txtChuNhanHieu").val());
                formData.append("p_searchHeaderInfo.LOGO_FONT_SIZE", $("#txtFontSize").val());
                formData.append("p_searchHeaderInfo.FONTTYPE", "");
            }
            else {
                formData.append("p_searchHeaderInfo.Logochu", $("#cboLogoType").val());
                var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
                if (fileLogo != undefined || fileLogo != null) {
                    formData.append("p_searchHeaderInfo.pfileLogo", fileLogo[0].files[0]);
                } 
            }
            //end hungtd

            // lay du lieu file
            var pfile = $("#file_attach_1");//lay du lieu file
            if (pfile.val() != "") {
                var _file = pfile[0].files[0];
                formData.append("p_searchHeaderInfo.Url_File_Up", _file);
            }

            //$('.search_object').each(function (i, item) {
            //    formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_OBJECT", $(item).val());
            //});

            $('.search_type').each(function (i, item) {
                formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_TYPE", $(item).val());
            });
            var txtAddContent = $("#txtAddContent");
            if (txtAddContent.val().trim() == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.MoTaKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    txtAddContent.val('');
                    txtAddContent.focus();
                });
                return false;
            }
            formData.append("p_questionInfo.CONTENT", txtAddContent.val());

            var reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/quan-ly-search/SearchInsert/',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data',
                async: false, headers: { "cache-control": "no-cache" }, 
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.success >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.ThemThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            var url = "/quan-ly-search/danh-sach-search";
                            window.location.href = url;
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
            return false;
        }

    });

</script>
