@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@using WebApps.CommonFunction
@{
    ViewBag.Title = "Sửa thông tin yêu cầu tìm kiếm";
    Layout = "~/ViewsShared/_Layout.cshtml";
    SearchObject_Header_Info _HeaderInfo = new SearchObject_Header_Info();
    List<SearchObject_Detail_Info> _ListDetail = new List<SearchObject_Detail_Info>();
    SearchObject_Question_Info _QuestionInfo = new SearchObject_Question_Info();
    if (ViewBag.SearchHeader != null)
    {
        _HeaderInfo = ViewBag.SearchHeader;
    }
    if (ViewBag.SearchListDetail != null)
    {
        _ListDetail = ViewBag.SearchListDetail;
    }
    if (ViewBag.QuestionInfo != null)
    {
        _QuestionInfo = ViewBag.QuestionInfo;
    }

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");
        if (language == Language.LangVI)
        {
            if (item.name != null)
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (item.name_en != null)
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }

    List<AllCodeInfo> _lstObject = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>

<style>
    .ui-autocomplete-loading {
        background: white url("/Content/icons/Rolling-1s-16px.svg") right center no-repeat;
    }
</style>
<script>
    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");

            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });
</script>

@*<script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>*@

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" />
        <span class="red">></span>
        <a href="/quan-ly-search/danh-sach-search">Quản lý Search</a>
        <span class="red">></span>
        <a href="#">Sửa Search</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content">SỬA THÔNG TIN YÊU CẦU TÌM KIẾM </div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.CaseName:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" value="@_HeaderInfo.CASE_NAME" />
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.ClientReference: </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" id="txtClient_Reference" value="@_HeaderInfo.CLIENT_REFERENCE" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Object<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select class="search_object" id="cbosearch_object">
                        @foreach (AllCodeInfo item in _lstObject)
                        {
                            if (item.CdVal == _HeaderInfo.Object_Search.ToString())
                            {
                                <option value="@item.CdVal" selected="selected">
                                    @item.Content
                                </option>
                            }
                            else
                            {
                                <option value="@item.CdVal">
                                    @item.Content
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == _HeaderInfo.Country_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <br />
        @{
            string _id1 = "1";
            string _isValid1 = "1";
            string _model1 = _id1 + "|" + _isValid1 + "|" + "File đính kèm";
            @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
        }

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.MoTaTomTat
            </div>
        </div>

        @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialAddSearchClass.cshtml")

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.DieuKienSearch
            </div>
        </div>

        <div id="div_searchcondtion_content">
            @foreach (var item in _ListDetail)
            {
                @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialSearchCondition4Edit.cshtml", item)
            }
        </div>

        <br />
        <br />

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblMoTa<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200">@_HeaderInfo.CONTENT</textarea>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" id="btnGuiBai" class="btn-default" value="@WebApps.Resources.Resource.Sua" />
        </div>
    </div>

</div>



<script>

    function funcAddCondition() {
        try {
            var txtDdSeachClass = $(".txtIdSeachClass").last().val();
            $.ajax({
                type: 'POST',
                url: '/quan-ly-search/them-dieu-kien/',
                data: {
                    _idSearch: txtDdSeachClass / 1 + 1
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    $("#div_searchcondtion_content").append(data);
                }
            });
        } catch (e) {

        }
    }

    function funcdeletecondition(_idsearch) {
        try {
            $("#div_condition_" + _idsearch).remove();
        } catch (e) {

        }
    }

    $("#btnGuiBai").click(function () {
        try {
            var formData = new FormData();

            var _txtcasename = $("#_txtcasename");
            var txtClient_Reference = $("#txtClient_Reference");

            if (_txtcasename.val().trim() == "") {
                jError("Case code không được bỏ trống!", "lỗi", function () {
                    _txtcasename.val('');
                    _txtcasename.focus();
                });
                return false;
            }
            if (txtClient_Reference.val().trim() == "") {
                jError("Client Reference không được bỏ trống!", "lỗi", function () {
                    txtClient_Reference.val('');
                    txtClient_Reference.focus();
                });
                return false;
            }

            var _re = checkValidate_File("1");
            if (_re == false) {
                return false;
            }

            //var _contentVal = CKEDITOR.instances['txtAddContent'].getData();
            formData.append("p_searchHeaderInfo.SEARCH_ID", '@_HeaderInfo.SEARCH_ID');
            formData.append("p_searchHeaderInfo.CASE_NAME", _txtcasename.val().trim());
            formData.append("p_searchHeaderInfo.CLIENT_REFERENCE", txtClient_Reference.val());
            formData.append("p_searchHeaderInfo.STATUS", '@CommonSearch.Stt_PhanChoLuatSu');
            formData.append("p_searchHeaderInfo.Country_Id", $("#cboCountry").val());
            formData.append("p_searchHeaderInfo.Object_Search", $("#cbosearch_object").val());

            var pfile = $("#file_attach_1");//lay du lieu file
            if (pfile.val() != "") {
                var _file = pfile[0].files[0];
                formData.append("p_searchHeaderInfo.Url_File_Up", _file);
            }

            //$('.search_object').each(function (i, item) {
            //    formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_OBJECT", $(item).val());
            //});
            $('.search_type').each(function (i, item) {
                formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_TYPE", $(item).val());
            });
            var txtAddContent = $("#txtAddContent");
            if (txtAddContent.val().trim() == "") {
                jError("Mô tả câu hỏi không được bỏ trống!", "lỗi", function () {
                    txtAddContent.val('');
                    txtAddContent.focus();
                });
                return false;
            }
            formData.append("p_questionInfo.CONTENT", txtAddContent.val());

            var reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/quan-ly-search/SearchEdit/',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        jAlert('Sửa search thành công!', "THÔNG BÁO", function () {
                            var url = "/quan-ly-search/danh-sach-search";
                            window.location.href = url;
                        });
                    } else {
                        jError("Có lỗi trong quá trình xử lý dữ liệu");
                        return false;

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
            return false;
        }

    });

</script>
