@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Chi tiết Search";
    Layout = "~/ViewsShared/_Layout.cshtml";

    decimal c_operator_type = Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update);
    if (ViewBag.Operator_Type != null)
    {
        c_operator_type = (decimal)ViewBag.Operator_Type;
    }


    decimal _currstatus = 1;
    if (ViewBag.Currstatus != null)
    {
        _currstatus = ViewBag.Currstatus;
    }
    string _Checked = "";
    List<AllCodeInfo> _lstStatus = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "STATUS");
    int _count = 0;
    List<B_Todos_Info> _Listtodo = new List<B_Todos_Info>();
    if (ViewBag.ListTodo != null)
    {
        _Listtodo = ViewBag.ListTodo;
    }

    B_Todos_Info _FirstTodo = new B_Todos_Info();
    if (_Listtodo.Count > 0)
    {
        _FirstTodo = _Listtodo[0];
    }

    SearchObject_Header_Info _HeaderInfo = new SearchObject_Header_Info();
    if (ViewBag.SearchHeader != null)
    {
        _HeaderInfo = ViewBag.SearchHeader;
    }
}

<style>
    .legalTodo_div {
        text-align: left;
        border: 1px solid #ccc;
        min-height: 50px;
        padding: 0px 0px 0px 0px;
        margin-top: 10px;
        float: left;
        width: 100%;
    }

    #legaltodo_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .legalRemind_div {
        text-align: left;
        border: 1px solid #ccc;
        min-height: 50px;
        padding: 5px 0px 5px 5px;
        margin-top: 10px;
    }

    #legalOrder_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .cls_form_title {
        /*display: none;*/
    }

    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }

    .main-content {
        background-color: #E9EAEF;
        padding: 10px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">iSearching</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@Html.Partial("~/Areas/Home/Views/Shared/HomeSearchBox.cshtml")

@*Notify*@
@Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")

<fieldset style="border: 1px solid #908282; padding: 1.25rem; margin-top:20px">
    <legend>YÊU CẦU TÌM KIẾM </legend>

    <style>
        .progress_div_radio {
            width: 19px;
            float: left;
            padding: 0px 5px;
        }

            .progress_div_radio > input[type=radio] {
                width: 1.5em;
                height: 1.5em;
            }

        .progress_hr {
            /*width: 12%;*/
            width: 20%;
            margin-top: 9px;
            float: left;
        }

        .progress_div_text1 {
            width: 90px;
            float: left;
            text-align: center;
        }

        .progress_div_text2 {
            width: 150px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px + 0px);
            /*margin-left: calc(12% - 29px + 22px - 90px + 40px);*/
        }

        .progress_div_text3 {
            width: 150px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px - 20px);
        }

        .progress_div_text4 {
            width: 150px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 31px - 90px - 28px);
        }

        .progress_div_text5 {
            width: 150px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px + 11px);
        }



        .progress_hr:last-child {
            width: calc(100% - 58% - 215px);
            margin-top: 9px;
            float: left;
        }

        .progress_hr:first-child {
            width: 20px;
            margin-top: 9px;
            float: left;
        }

        .progress_div_user1 {
            width: 80px;
            float: left;
            text-align: center;
        }

        .progress_div_user2 {
            width: 90px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px + 38px);
        }

        .progress_div_user3 {
            width: 110px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px + 29px);
        }

        .progress_div_user4 {
            width: 100px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 31px - 90px + 16px);
        }

        .progress_div_user5 {
            width: 122px;
            float: left;
            text-align: center;
            margin-left: calc(20% - 29px + 22px - 90px + 18px);
        }

        .user_hidden {
            visibility: hidden;
        }

        .user_progress_active {
            background-color: burlywood;
        }
    </style>
    <div style="width:100%;float:left;">
        @{
            _count = 0;
        }
        @foreach (var item in _lstStatus)
        {
            _count++;

            <div class="@("progress_div_text" +  _count)"> @item.Content</div>
        }
    </div>
    <div style="width:100%;float:left;margin-top:7px">
        <hr class="progress_hr" />
        @{
            _count = 0;
        }
        @foreach (var item in _lstStatus)
        {
            _count++;

            _Checked = "";
            if (item.CdVal == _currstatus.ToString())
            {
                _Checked = "checked='checked'";
            }
            <div class="progress_div_radio"><input type="radio" name="name" disabled @_Checked /></div>
            <hr class="progress_hr" />
        }
    </div>
    @if (_Listtodo.Count > 0)
    {
        <div style="width:100%;float:left; margin-top:7px">
            @{
                _count = 0;
            }
            @foreach (var item in _lstStatus)
            {
                _count++;

                if (item.CdVal == _currstatus.ToString())
                {
                    <div class="@("user_progress_active progress_div_user" +  _count)"> @_FirstTodo.REQUEST_BY_NAME</div>
                }
                else
                {
                    <div class="@("user_hidden progress_div_user" +  _count)">@_FirstTodo.REQUEST_BY_NAME </div>
                }
            }
        </div>
    }

    @if (c_operator_type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Update))
    {
        <div style="margin-top:20px;float:left;width:100%">
            @if (_currstatus == CommonSearch.Stt_PhanChoLuatSu)
            {
                @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialPhanLoai.cshtml")
            }
            else if (_currstatus == CommonSearch.Stt_ChoLuatSuPhanHoi)
            {
                @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialLuatSuTraloi.cshtml")
            }
            else if (_currstatus == CommonSearch.Stt_ChoAdminDuyet)
            {
                @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialAdminConfirm.cshtml")
            }
        </div>
    }

    @if (_HeaderInfo.Object_Search == Search_Object_Enum.Trademark)
    {
        @Html.Partial("/Areas/Manager/Views/SearchManage/_PartialSearchDetails.cshtml")
    }
    else if (_HeaderInfo.Object_Search == Search_Object_Enum.Legal_Inquiries)
    {
        @Html.Partial("/Areas/Manager/Views/SearchManage/_PartialSearchDetails_Inquiries.cshtml")
    }

    <div class="divCover cls_form_title" style="margin-top:20px;float:left;width:100%">
        <img src="/Content/icons/category.png" />
        <div class="cls_form_header">
            Lịch sử giao dịch
        </div>
    </div>

    <div class="divCover legalTodo_div" style="background-color: antiquewhite;">
        <div class="box_title" style="width:200px; float:left">  </div>
        <div id="d_todo_notify" class="box_title" style="width:calc(100% - 240px); padding:0px; float:left">
        </div>
        <div class="Homebox">
            <div id="LegalTododivTable" class="LegaldivBoxTable">
                @Html.Partial("~/Areas/Manager/Views/SearchManage/_TodoData.cshtml")
            </div>
        </div>
    </div>

</fieldset>
<script>
    
</script>
