@using Common.CommonData
@using ObjectInfos;
@using WebApps.CommonFunction
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Trademark";
    Layout = "~/ViewsShared/_Layout.cshtml";

    List<AllCodeInfo> _lstObject = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _lstType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "SEARCHTYPE");

    
    string language = AppsCommon.GetCurrentLang();
     
    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");
}
<script src="~/Content/ComboCheckList/jquery.multiple.select_new.js"></script>
<link href="~/Content/ComboCheckList/multiple-select.css" rel="stylesheet" />
 
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>
@*<script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>*@

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-search/danh-sach-search">@WebApps.Resources.Resource.iSeaching</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.LegalInquiries</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.LegalInquiries.ToUpper()</div>
        </div>
    </div>
    <div class="divCover">


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocGia<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == Common.Common.Country_VietNam_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.YeuCau<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="500" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.CaseName</div>
                <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                   data-title="@WebApps.Resources.Resource.TooltipCaseName"></a>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.ClientReference </div>
                <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                   data-title="@WebApps.Resources.Resource.TooltipClientReference"></a>
            </div>
            <div class="div-search-content">
                <div>
                    <input value="" type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" id="txtClient_Reference" />
                </div>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.NoiDungYeuCau<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200"></textarea>
        </div>

        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.TaiFileDinhKem
            </div>
        </div>
        <br />
        @{
            string _id1 = "1";
            string _isValid1 = "0";
            string _model1 = _id1 + "|" + _isValid1 + "|" + WebApps.Resources.Resource.FileDinhKem;
            @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
        }


    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" id="btnGuiBai" class="btn-default" value="@WebApps.Resources.Resource.GuiTimKiem" />
        </div>
    </div>
</div>



<script>
     

    $("#btnGuiBai").click(function () {
        try {
            var formData = new FormData();

            var _txtcasename = $("#_txtcasename");
            var txtClient_Reference = $("#txtClient_Reference");

            @*if (_txtcasename.val().trim() == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.CaseNameTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    _txtcasename.val('');
                    _txtcasename.focus();
                });
                return false;
            }*@

            var _re = checkValidate_File("1");
            if (_re == false) {
                return false;
            }

            var txtNotes = $("#txtNotes").val();
            if (txtNotes == null || txtNotes == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.YeuCauKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    $("#txtNotes").val('');
                    $('#txtNotes').focus();
                });
                return false;
            }

            //var _contentVal = CKEDITOR.instances['txtAddContent'].getData();

            formData.append("p_searchHeaderInfo.CASE_NAME", _txtcasename.val().trim());
            formData.append("p_searchHeaderInfo.CLIENT_REFERENCE", txtClient_Reference.val());
            formData.append("p_searchHeaderInfo.STATUS", '@CommonSearch.Stt_PhanChoLuatSu');
            formData.append("p_searchHeaderInfo.Country_Id", $("#cboCountry").val());
            formData.append("p_searchHeaderInfo.NOTE", $("#txtNotes").val());
            formData.append("p_searchHeaderInfo.Object_Search", '@Search_Object_Enum.Legal_Inquiries');

            // lay du lieu file
            var pfile = $("#file_attach_1");//lay du lieu file
            if (pfile.val() != "") {
                var _file = pfile[0].files[0];
                formData.append("p_searchHeaderInfo.Url_File_Up", _file);
            }
            
            var txtAddContent = $("#txtAddContent");
            if (txtAddContent.val().trim() == "") {
                jError("@Html.Raw(WebApps.Resources.Resource.MoTaKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                    txtAddContent.val('');
                    txtAddContent.focus();
                });
                return false;
            }
            formData.append("p_questionInfo.CONTENT", txtAddContent.val());

            $.ajax({
                url: '/quan-ly-search/SearchInsert/',
                type: 'POST',
                data: formData,
                async: true, traditional: true, contentType: false, processData: false,
                headers: { "cache-control": "no-cache" },
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data != null && data.success >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.ThemThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            var url = "/quan-ly-search/danh-sach-search";
                            window.location.href = url;
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;

                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
            return false;
        }

    });

</script>
