@using Common.CommonData
@using ObjectInfos;
@using WebApps.CommonFunction
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Yêu cầu tra cứu";
    Layout = "~/ViewsShared/_Layout.cshtml";

    List<AllCodeInfo> _lstObject = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "OBJECT");
    List<AllCodeInfo> _lstType = MemoryData.AllCode_GetBy_CdTypeCdName("SEARCH_OBJECT", "SEARCHTYPE");

    //List<SuggestInfo> _lstSuggest = new List<SuggestInfo>();
    //if (ViewBag.Data_Object != null)
    //{
    //    _lstSuggest = (List<SuggestInfo>)ViewBag.Data_Object;
    //}

    string language = AppsCommon.GetCurrentLang();
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        if (item == null || item.name == null)
        {
            continue;
        }

        var pShortInfo = new SuggestInfo("", "");
        if (language == Language.LangVI)
        {
            pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
        }
        else
        {
            pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
}
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

@*<script src="~/Scripts/jquery-1.12.4.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@

<script src="~/Content/ComboCheckList/jquery.multiple.select_new.js"></script>
<link href="~/Content/ComboCheckList/multiple-select.css" rel="stylesheet" />

@*<script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@
<style>
    .ui-autocomplete-loading {
        background: white url("/Content/icons/Rolling-1s-16px.svg") right center no-repeat;
    }
</style>
<script>
    @*$(function () {

        var availableTags = [];
        var array = @Html.Raw(Json.Encode(@_lstSuggest));
        for(var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }

        $("#tags").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);

                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                return false;
            }
        });
    });*@

    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");

            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });
</script>

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>
@*<script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>*@

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" />
        <span class="red">></span>
        <a href="/quan-ly-search/danh-sach-search">Quản lý Search</a>
        <span class="red">></span>
        <a href="#">Yêu cầu tra cứu</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThemMoiSearch.ToUpper()</div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.CaseName<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" placeholder="@WebApps.Resources.Resource.CaseName" maxlength="200" id="_txtcasename" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> @WebApps.Resources.Resource.ClientReference<i class="redspan">(*)</i> </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input value="" type="text" placeholder="@WebApps.Resources.Resource.ClientReference" maxlength="200" id="txtClient_Reference" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.QuocTich<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboCountry">
                        @foreach (var item in MemoryData.c_lst_Country)
                        {
                            if (item.Country_Id == Common.Common.Country_VietNam_Id)
                            {
                                <option selected="selected" value="@item.Country_Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Country_Id">
                                    @item.Name
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.Object<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select class="search_object" id="cbosearch_object">
                        @foreach (AllCodeInfo item in _lstObject)
                        {
                            <option value="@item.CdVal">
                                @item.Content
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.YeuCau<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="500" />
                </div>
            </div>
        </div>

        <br/>
        @{
            string _id1 = "1";
            string _isValid1 = "1";
            string _model1 = _id1 + "|" + _isValid1 + "|" + "File đính kèm";
            @Html.Partial("~/Areas/TradeMark/Views/Application/_Partial_UploadFile_Local.cshtml", _model1)
        }


        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.MoTaTomTat
            </div>
        </div>

        @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialAddSearchClass.cshtml")


        <div class="divCover cls_form_title">
            <img src="/Content/icons/category.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.DieuKienSearch
            </div>
        </div>

        <div id="div_searchcondtion_content">
            @Html.Partial("~/Areas/Manager/Views/SearchManage/_PartialSearchCondition.cshtml", "1|1")
        </div>

        <div class="div-search-ad" style="float:left; width:100%;">
            <input class="btn" style="margin: 4px 0px 0px 28px;" type="button" value="@WebApps.Resources.Resource.ThemDieuKien" onclick="funcAddCondition()" />
        </div>

        <br />
        <br />
        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblMoTa<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtAddContent" style="height:100px;width:100%;" maxlength="200"></textarea>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" id="btnGuiBai" class="btn-default" value="@WebApps.Resources.Resource.GuiTimKiem" />
        </div>
    </div>
</div>



<script>
    function funcAddCondition() {
        try {
            var txtDdSeachClass = $(".txtIdSeachClass").last().val();
            $.ajax({
                type: 'POST',
                url: '/quan-ly-search/them-dieu-kien/',
                data: {
                    _idSearch: txtDdSeachClass / 1 + 1
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    $("#div_searchcondtion_content").append(data);
                }
            });
        } catch (e) {

        }
    }

    function funcdeletecondition(_idsearch) {
        try {
            $("#div_condition_" + _idsearch).remove();
        } catch (e) {

        }
    }

    $("#btnGuiBai").click(function () {
        try {
            var formData = new FormData();

            var _txtcasename = $("#_txtcasename");
            var txtClient_Reference = $("#txtClient_Reference");

            if (_txtcasename.val().trim() == "") {
                jError("Case name không được bỏ trống!", "lỗi", function () {
                    _txtcasename.val('');
                    _txtcasename.focus();
                });
                return false;
            }
            if (txtClient_Reference.val().trim() == "") {
                jError("Client Reference không được bỏ trống!", "lỗi", function () {
                    txtClient_Reference.val('');
                    txtClient_Reference.focus();
                });
                return false;
            }

            var _re = checkValidate_File("1");
            if (_re == false) {
                return false;
            }

            var txtNotes = $("#txtNotes").val();
            if (txtNotes == null || txtNotes == "") {
                jError("Yêu cầu không được bỏ trống!", "lỗi", function () {
                    $("#txtNotes").val('');
                    $('#txtNotes').focus();
                });
                return false;
            }

            //var _contentVal = CKEDITOR.instances['txtAddContent'].getData();

            formData.append("p_searchHeaderInfo.CASE_NAME", _txtcasename.val().trim());
            formData.append("p_searchHeaderInfo.CLIENT_REFERENCE", txtClient_Reference.val());
            formData.append("p_searchHeaderInfo.STATUS", '@CommonSearch.Stt_PhanChoLuatSu');
            formData.append("p_searchHeaderInfo.Country_Id", $("#cboCountry").val());
            formData.append("p_searchHeaderInfo.Notes", $("#txtNotes").val());
            formData.append("p_searchHeaderInfo.Object_Search", $("#cbosearch_object").val());

            // lay du lieu file
            var pfile = $("#file_attach_1");//lay du lieu file
            if (pfile.val() != "") {
                var _file = pfile[0].files[0];
                formData.append("p_searchHeaderInfo.Url_File_Up", _file);
            }

            //$('.search_object').each(function (i, item) {
            //    formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_OBJECT", $(item).val());
            //});

            $('.search_type').each(function (i, item) {
                formData.append("p_SearchObject_Detail_Info[" + i + "].SEARCH_TYPE", $(item).val());
            });
            var txtAddContent = $("#txtAddContent");
            if (txtAddContent.val().trim() == "") {
                jError("Mô tả câu hỏi không được bỏ trống!", "lỗi", function () {
                    txtAddContent.val('');
                    txtAddContent.focus();
                });
                return false;
            }
            formData.append("p_questionInfo.CONTENT", txtAddContent.val());

            var reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            $.ajax({
                url: '/quan-ly-search/SearchInsert/',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        jAlert('Thêm yêu cầu tìm kiếm thành công!', "THÔNG BÁO", function () {
                            var url = "/quan-ly-search/danh-sach-search";
                            window.location.href = url;
                        });
                    } else {
                        jError("Có lỗi trong quá trình xử lý dữ liệu");
                        return false;

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
            return false;
        }

    });

</script>
