@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@model Sys_Pages_Info
@{
    ViewBag.Title = WebApps.Resources.Resource.lblQuanLyBaiViet;
    Layout = "~/ViewsShared/_Layout.cshtml";
    var objInfo = new Sys_Pages_Info();
    if (Model != null)
    {
        objInfo = (Sys_Pages_Info)Model;
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    if (!string.IsNullOrEmpty(objInfo.Imageheader))
    {

        urlMauNhanHieu = objInfo.Imageheader.Replace("~", "");
    }
}
@try
{
    <style>
        .div-search-title > div {
            width: 150px;
        }

        .select {
            height: 200px;
        }

        .btnSave {
            height: 30px;
            width: 75px;
        }

        #cke_txtNoiDung {
            margin-left: 162px;
        }
    </style>
    <script>
        var _isSimpleEditorToolBar = 0;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" />@WebApps.Resources.Resource.lblBaiViet
            <span class="red">></span>
            <a href="/quan-ly-trang-bia/danh-sach">@WebApps.Resources.Resource.lblQuanLyBaiViet</a>
            <span class="red">></span>
            <a href="/quan-ly-trang-bia/soan-bai-viet">@WebApps.Resources.Resource.lblChiTietBaiViet</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" id="txtPagesId" value="@objInfo.Id" />
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <input type="hidden" id="txtLogoOld" value="@urlMauNhanHieu" />
                <div class="div-title-content">@WebApps.Resources.Resource.lblSuaBaiViet.ToUpper()</div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.lblTieuDe<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtHeader" value="@Html.Raw(objInfo.Header)" maxlength="500" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Code<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtCode" maxlength="50" value="@objInfo.Code" readonly/>
                </div>
            </div>
        </div>

        <div class="class_full_div_input">

            <div class="class_left_40">
                <div class="class_block_title" style="padding-top:5px; "><label>@WebApps.Resources.Resource.lblAnhDaiDien:</label> </div>
                <div class="class_block_title_control" style="display:flex">
                    <div style="width:120px ;height:120px;margin-left: 40px;" id="divLogo">
                        <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:120px ;height:120px">
                        <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                    </div>
                    <div class="container" style="flex-grow:1;padding-top:20px">
                        <img onclick="funcRemoveTradeMarkImg('imgMauNhanHieu')" src="~/Content/icons/delete_file.png" style="margin: 0px 21px -44px 4px;" />
                        <div class="file-upload btn btn-primary" style="margin-top:95px">
                            <span>@WebApps.Resources.Resource.lblTaiFile</span>
                            <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung<i class="redspan">(*)</i></div>
            <div>
                <textarea type="text" id="txtNoiDung" name="txtNoiDung">@Html.Raw(objInfo.Content)</textarea>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>@WebApps.Resources.Resource.lblNoiDung (EN)<i class="redspan">(*)</i></div>
            <div style="margin-left: 162px;">
                <textarea type="text" id="txtNoiDung_En" name="txtNoiDung_En">@Html.Raw(objInfo.Content_En)</textarea>
            </div>
        </div>
    </div>

    <div class="class_save" style="margin-left:163px;">
        <div class="classGuiDon">
            <input type="button" value="@WebApps.Resources.Resource.lblLuuBai" id="btnLuuBai" class="btn" />
        </div>
    </div>

}
catch (Exception)
{
}

<script>
    function funcRemoveTradeMarkImg(ptag) {
        $("#" + ptag).attr('src', '');
        $("#txtLogoOld").val("");
    }

    $(document).ready(function () {
        $("#txtHeader").focus();
    });

    var txtNoiDung = CKEDITOR.replace("txtNoiDung",
        {
            height: 500
        });

    var txtNoiDung_En = CKEDITOR.replace("txtNoiDung_En",
        {
            height: 500
        });

    $("#btnLuuBai").click(function () {
        Save_Pages(1);
    });


    function Save_Pages(pStatus) {
        try {
            var formData = new FormData();

            var header = $("#txtHeader").val();
            if (header.trim() == "") {
                showError('Tiêu đề bài viết không được để trống!!');
                $("#txtTitle").focus();
                return false;
            }

            var noidung = CKEDITOR.instances['txtNoiDung'].getData();
            if (noidung.trim() == "" || noidung.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết không được để trống!!');
                $("#txtNoiDung").focus();
                $("#txtNoiDung").setData('');
                return false;
            }

            var noidung_en = CKEDITOR.instances['txtNoiDung_En'].getData();
            if (noidung_en.trim() == "" || noidung_en.replace(/&nbsp;/g, '').trim() == "") {
                showError('Nội dung bài viết tiếng anh không được để trống!!');
                $("#txtNoiDung_En").focus();
                $("#txtNoiDung_En").setData('');
                return false;
            }

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formData.append("p_Sys_Pages_Info.pfileLogo", fileLogo[0].files[0]);
            }

            formData.append("p_Sys_Pages_Info.Id", $("#txtPagesId").val().trim());
            formData.append("p_Sys_Pages_Info.Code", $("#txtCode").val());
            formData.append("p_Sys_Pages_Info.Content", noidung.trim());
            formData.append("p_Sys_Pages_Info.Content_En", noidung_en.trim());
            formData.append("p_Sys_Pages_Info.Header", header);
            formData.append("p_Sys_Pages_Info.Status", pStatus);
            $.ajax({
                url: '/quan-ly-trang-bia/luu-sua-bai-viet',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        nvsAlert("Sửa bài viết thành công!", ThongBao, function () {
                            location.href = "/quan-ly-trang-bia/danh-sach";
                        });
                    } else {
                        nvsError(AddFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {

        }
    }
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');
        if (this.files[0].type.indexOf("image") != -1) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("Thông báo", "File tải lên không phải là file ảnh?", "");
        }
    };
</script>

<style>
    .select {
        padding: 3px;
    }

        .select option {
            line-height: 25px;
            padding: 5px;
        }

    .class100 {
        display: inline;
    }

    .classwidth200 {
        width: 200px;
    }

    .classwidth250 {
        width: 250px;
    }
</style>
