@using WebApps.CommonFunction
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using Common.CommonData
@using WebApps.Resources;
@{
    ViewBag.Title = "Sửa đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";


    var objAppHeaderInfo = new App_Detail_F04_Info();
    var lstDocumentInfo = new List<AppDocumentInfo>();
    var lstDocOther = new List<AppDocumentOthersInfo>();

    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (App_Detail_F04_Info)ViewBag.objAppHeaderInfo;
    }
    if (ViewBag.lstDocumentInfo != null)
    {
        lstDocumentInfo = (List<AppDocumentInfo>)ViewBag.lstDocumentInfo;
    }

    Dictionary<string, AppDocumentInfo> dic_appDoc = new Dictionary<string, AppDocumentInfo>();
    foreach (AppDocumentInfo item in lstDocumentInfo)
    {
        dic_appDoc[item.Document_Id] = item;
    }

    if (ViewBag.lstDocOther != null)
    {
        lstDocOther = (List<AppDocumentOthersInfo>)ViewBag.lstDocOther;
    }

    string _checkGood_mark = "";
    if (objAppHeaderInfo.Loainhanhieu == "NHNM")
    {
        _checkGood_mark = "checked='checked'";
    }

    string styleNhanHieu = "", styleLienKet = "", styleNhanHieuCN = "", styleShowHidenNHCN = "style=display:none";
    if (objAppHeaderInfo.Loainhanhieu == "NHTT")
    {
        styleNhanHieu = "checked='checked'";
    }
    if (objAppHeaderInfo.Loainhanhieu == "NHLK")
    {
        styleLienKet = "checked='checked'";
    }
    if (objAppHeaderInfo.Loainhanhieu == "NHCN")
    {
        styleNhanHieuCN = "checked='checked'";
        styleShowHidenNHCN = "style =display:block";
    }

    string urlMauNhanHieu = "/Content/icons/logo.jpg";
    string urlLogoChu = "";
    if (!string.IsNullOrEmpty(objAppHeaderInfo.Logourl))
    {
        urlMauNhanHieu = objAppHeaderInfo.Logourl.Replace("~", "");
    }

    string language = AppsCommon.GetCurrentLang();
    B_Todos_Info _todo = new B_Todos_Info();
    if (ViewBag.B_Todos_Info != null)
    {
        _todo = (B_Todos_Info)ViewBag.B_Todos_Info;
    }
    else
    {
        _todo = null;
    }
    List<AllCodeInfo> _lstLogoType = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("NOTICE_APP", "LOGOTYPE");

    List<Sys_Document_Info> _lst_doc = WebApps.CommonFunction.AppsCommon.Sys_Document_GetBy_Casecode("F04");
    List<UTienInfo> Lst_UTienInfo = new List<UTienInfo>();
    if (ViewBag.Lst_UTienInfo != null)
    {
        Lst_UTienInfo = (List<UTienInfo>)ViewBag.Lst_UTienInfo;
    }

    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' ') + "[" + item.value + "]", item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' ') + "[" + item.value + "]", item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    #divCheckbox_F04_10, #divCheckbox_F04_15 {
        width: 190px !important;
    }
</style>

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>

            <a href="/trade-mark-mana/quan-ly-don">@Resource.QuanLyDon</a>
            <span class="red">></span>

            <a href="javascript:;">@Resource.TM2A_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>

<input type="hidden" id="txtAppCode" value='@objAppHeaderInfo.Appcode' />
<input type="hidden" id="txtAppHeaderID" value="@objAppHeaderInfo.App_Header_Id" />
<input type="hidden" id="txtCase_Code" value="@objAppHeaderInfo.Case_Code" />
@* Luuw cac Id cua cac file dinh kem xoa di xu ly khi thuc hien nut luu *@
<input type="hidden" id="txtDocumentInAppRemove" value="" />

<input type="hidden" id="txtLogoOld" value="@urlMauNhanHieu" />
<input type="hidden" id="txtStatusEdit" value="@objAppHeaderInfo.Status" />
<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>REGISTRATION OF TRADEMARK</legend>

        @* Case name *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName_Lao.cshtml", "0")
        </div>

        <div class="div_full_100_area">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Filling date</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input class="datetimepicker" type="text" id="0_txtNgayNopDon" maxlength="10" value="@objAppHeaderInfo.Duadate.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            </div>
        </div>

        @* 1 *@
        <div class="div_full_100_area">
            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    APPLICANT
                </div>
            </div>
            <div id="div_PartialThongTinChuDon">
                @Html.Partial("~/Areas/TradeMark/Views/F04/_PartialChuDon.cshtml", "1")
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:482px">
                    <input type="radio" name="Applicant_Type" class="" value="1" @(objAppHeaderInfo.Applicant_Type == 1 ? "checked" : "") />
                    <label>Individual</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="Applicant_Type" class="" value="2" @(objAppHeaderInfo.Applicant_Type == 2 ? "checked" : "") />
                    <label>Legal entity or organization</label>
                </div>
            </div>
        </div>

        @* 2 - ĐẠI DIỆN CỦA CHỦ ĐƠN *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        @* end 2 *@

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                Business line of application
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title" style="height: 100px;">
                <div>Description:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <textarea id="2_MoTa" maxlength="2000" rows="5" cols="10" style="height:102px">@objAppHeaderInfo.Business_Line</textarea>
                </div>
            </div>
        </div>

        @* Nhan hieu *@
        <div class="div_full_100_area">
            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Specimen of the mark(Place a copy of the mark in the box.The mark should be clear enough to be reproduced and digitized)")
            <div class="class_full_div_input_extent">

                <div class="class_left_40">


                    <div class="class_block_title" style="padding-top:5px; ">

                    </div>

                    <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
                       data-title="@WebApps.Resources.Resource.TooltipNhanHieu"></a>
                    <div class="class_block_title_control divLogoAnh" style="display:flex;margin-top:10px">

                        <div style="width:165px ;height:165px;margin-left: 10px;" id="divLogo" class="divLogoAnh">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container divLogoAnh" id="iddivLogoAnh" style="flex-grow:1;padding-top:50px">
                            <img onclick="funcRemoveTradeMarkImg('imgMauNhanHieu')" src="~/Content/icons/delete_file.png" style="margin: 0px 21px -44px 4px;" />
                            <div class="file-upload btn btn-primary" style="margin-top:95px">
                                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                                <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                            </div>
                        </div>
                        <div id="divckbNhanHieuChu" style="display:none">
                            <div style="width:165px ;height:165px;margin-left: 10px;">
                                <input type="text" class="classChuNhanHieu" id="txtChuNhanHieu" value="@urlLogoChu" style="height:160px;width:160px;text-align: center;" />
                            </div>
                        </div>

                    </div>
                </div>


                <script>
                    $(document).ready(function () {
                        funcChangeLogoType();
                    });
                    function funcChangeLogoType() {
                        try {
                            if ($("#cboLogoType").val() == "1") {
                                $("#divLogo").css('display', 'none');
                                $("#divLogoHiden").css('display', 'none');
                                $("#divckbNhanHieuChu").css('display', 'block');
                                $("#spfontsize").css('display', 'block');
                                $("#txtFontSize").css('display', 'block');
                                $("#iddivLogoAnh").css('display', 'none');

                            }
                            else {
                                $("#divckbNhanHieuChu").css('display', 'none');
                                $("#divLogo").css('display', 'block');
                                $("#divLogoHiden").css('display', 'block');

                                $("#spfontsize").css('display', 'none');
                                $("#txtFontSize").css('display', 'none');
                                $("#iddivLogoAnh").css('display', 'block');
                            }

                        } catch (e) {
                            console.log(e.toString());
                        }
                    }

                </script>

                <div class="class_right_60" style="display:block">
                    @* Thêm mục đích sau này Admin đặt tên theo qui tắc phục vụ tìm kiếm *@
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Mark name:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" value="@objAppHeaderInfo.Codelogo" maxlength="50" id="0_txtTenNhanHieu" />
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Color(s) of the Mark:</div>
                        </div>
                        <div class="div-search-content">
                            <div><input type="text" value="@objAppHeaderInfo.Color" maxlength="50" id="0_MauSac" /></div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title" style="height: 126px;">
                            <div>Description:</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <textarea id="0_MoTa" maxlength="2000" rows="5" cols="10" style="height:128px">@objAppHeaderInfo.Description</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title" style="height: 126px;">
                            <div>Translation of word(s) mark*</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <textarea id="1_MoTa" maxlength="2000" rows="5" cols="10" style="height:128px">@objAppHeaderInfo.Translation_Of_Word</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio" style="width:482px">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHNM" @_checkGood_mark id="0_NhanHieuThongThuong" />
                        <label>Goods mark</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHTT" @styleNhanHieu id="0_NhanHieuTapThe" />
                        <label>Service mark</label>
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHLK" @styleLienKet id="0_NhanHieuLienKet" />
                        <label>Collective mark</label>
                    </div>
                </div>

                <div class="div-search-content">
                    <div class="div-radio">
                        <input type="radio" name="0_NhanHieu" class="classNhanHieu" value="NHCN" @styleNhanHieuCN id="0_NhanHieuChungNhan" />
                        <label>Certificate mark</label>
                    </div>
                </div>
            </div>
        </div>

        @* 2 *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                GOODS AND/OR SERVICES COVERED BY THE APPLICATION (NICE CLASSIFICATION)
            </div>
        </div>

        @*<div id="" data-id="" class="clsDivDonUTien">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 150px"> Class No. </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="50" id="ClassNo" value="@objAppHeaderInfo.ClassNo" />
                    </div>
                </div>
            </div>
        </div>*@

        <div class="div-search-ad">
            <div class="div-search-title">
                <div> Class No. </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" maxlength="50" id="ClassNo" style="width:100px" />
                </div>
            </div>

            <div class="div-search-title">
                <div> Class description: </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input value="" type="text" maxlength="50" id="txt_Class_Description" style="width:450px" />
                </div>
            </div>

            <input type="button" value="Add" class="btn" onclick="return funcAddDataRow();" style="width:75px;height:30px;    margin-left: 5px;" />
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>
                    Suggestions
                </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTenHangHoa" placeholder="Search class/product" style="border-left: 1px solid #ccc;width:100%" />
                </div>
            </div>
        </div>

        <div id="divDataClass" style="margin-top: 10px">
            @Html.Partial("~/Areas/TradeMark/Views/F04/_PartialTableClass.cshtml")
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                PRIORITY CLAIMS (IF ANY)
            </div>

            <div style="display: inline-block;  padding-top: 8px; padding-left: 5px;">
                @if (objAppHeaderInfo.Used_Special == 1)
                {
                    <input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" onchange="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')" checked="checked" />
                }
                else
                {
                    <input type="checkbox" name="0_ckbCoSuDungDonUuTien" value="SDUT" placeholder="0_ckbCoSuDungDonUuTien" id="0_ckbCoSuDungDonUuTien" onchange="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')" />
                }
                <label><a style="color:blue ;font-weight:bold" id="hrefCo" onclick="return funcChoiseDonUT('0_ckbCoSuDungDonUuTien')">Yes</a></label>
            </div>
            <div style="display: inline-block;">
                @if (objAppHeaderInfo.Used_Special == 0)
                {
                    <input type="checkbox" name="KO_ckbCoSuDungDonUuTien" value="KO" id="KOUT" onchange="return funcChoiseDonUT('KOUT')" checked="checked" />
                }
                else
                {
                    <input type="checkbox" name="KO_ckbCoSuDungDonUuTien" value="KO" id="KOUT" onchange="return funcChoiseDonUT('KOUT')" />
                }
                <label><a style="color:blue ;font-weight:bold" id="hrefKhong" onclick="return funcChoiseDonUT('KOUT')">No</a></label>
            </div>
        </div>

        @if (Lst_UTienInfo.Count > 0)
        {
            <div id="div_ThongTinDonUuTien">
                @for (int i = 0; i < Lst_UTienInfo.Count; i++)
                {
                    Lst_UTienInfo[i].Model_Id = i + 1;
                    if (Lst_UTienInfo.Count > 1 && i == 0)
                    {
                        Lst_UTienInfo[i].DaAddd_DonUTKhac = 1;
                    }
                    else
                    {
                        Lst_UTienInfo[i].DaAddd_DonUTKhac = 0;
                    }
                    @Html.Partial("~/Areas/Patent/Views/Lao_PT/_PartialThongTinQuyenUuTien_Edit.cshtml", Lst_UTienInfo[i])
                }
            </div>
        }
        else
        {
            <div id="div_ThongTinDonUuTien" class="clssDisplaynone">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinQuyenUuTien.cshtml", "1")
            </div>
        }

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                DOCUMENT ACCOMPANYING THE APPLICATION
            </div>
        </div>

        @foreach (var itemdoc in _lst_doc)
        {
            if (dic_appDoc.ContainsKey(itemdoc.Doc_Id))
            {
                string _width = "";
                string _vl_isuse = dic_appDoc[itemdoc.Doc_Id].Isuse.ToString();
                string _vl_char01 = dic_appDoc[itemdoc.Doc_Id].CHAR01;
                string _vl_url = dic_appDoc[itemdoc.Doc_Id].Url_Hardcopy;
                string _vl_char02 = dic_appDoc[itemdoc.Doc_Id].CHAR02;

                string _model = itemdoc.Doc_Id + "|" + itemdoc.Check_Box_Id + "|" + itemdoc.Doc_Level + "|" + itemdoc.Content_1 + "|" + itemdoc.Content_2 + "|" + itemdoc.Is_Upload.ToString() + "|" + _width + "|" + itemdoc.Content_3;
                if (itemdoc.Doc_Id == "F04_10" || itemdoc.Doc_Id == "F04_15")
                {
                    _model += "|Submit date";
                }
                _model += ";" + _vl_isuse + "|" + _vl_char01 + "|" + _vl_url + "|" + _vl_char02;

                @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_Partial_Document_Edit.cshtml", _model)

            }
        }

        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others_Edit.cshtml")

        @* Cam kết của hủ đơn *@
        @{
            string _camket = objAppHeaderInfo.Address + "|" + objAppHeaderInfo.DateNo + "|" + objAppHeaderInfo.Months + "|" + objAppHeaderInfo.Years;
            @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon_Edit.cshtml", _camket)
        }


        <div class="class_save">
            @if (objAppHeaderInfo.Status == (int)Common.CommonData.CommonEnums.App_Status.Luu_tam)
            {
                <div class="classGuiDon">
                    <input type="button" value="Send" style="width:70px" id="btnGuiDon" class="btn class_37" />
                </div>
                <div class="classLuuTam">
                    <input type="button" value="Temporary save" style="width:70px" id="btnLuuTam" class="btn class_37" />
                </div>
            }
            else
            {
                <div class="classGuiDon">
                    <input type="button" value="Save" id="btnSuaDon" class="btn class_37" />
                </div>


                if (_todo != null)
                {
                    <div class="classGuiDon">
                        <input type="button" value="Send" id="btnSend" class="btn class_37" style="margin-left:5px;height:30px" />
                    </div>
                }
            }
            <div class="classLuuTam">
                <input type="button" value="@WebApps.Resources.Resource.Back" onclick="return goBack()" style="margin-left:10px" class="btn class_37" />
            </div>
        </div>



    </fieldset>
</div>

<input type="hidden" id="txtDateTime" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
<input type="hidden" id="ActionView" value="N" />

@Html.Partial("~/Areas/TradeMark/Views/F04/_PartialPreview_IUNN.cshtml")

<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>


<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="iconFormConfirm" style="">?</div>
        <div style="text-align:center">Uploaded image incorrectly, must be from 4x4cm to 8x8cm</div>
        <div style="overflow: hidden">
            <div onclick="ActionOk()" class="btnRS">OK</div>
            <div onclick="ActionResize()" class="btnRS">Resize</div>
            <div onclick="ActionCancel()" style="background:rgb(170, 170, 170)" class="btnRS">Cancel</div>
        </div>
    </div>
</div>


<style>
    .div-search-content .ms-ul > ul {
        margin-left: 0px;
    }
</style>
<input type="hidden" value="@ViewBag.keyData" id="txtKeyData" />
<input type="hidden" value="@objAppHeaderInfo.Rep_Master_Type" id="txtRepMasterTypeEdit" />

<script>
    $(document).ready(function () {
        $('.classNhanHieu').click(function () {
            $('.classNhanHieu').not(this).prop('checked', false);
        });

        if ($("#ckb_Doc_20").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
        $("#divContainerDocOther").css('display', 'block')
    });

    $(function ()
    {
      try {
        var availableTags = [];
        var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
        for (var i = 0; i < array.length; i++) {
            availableTags[i] = array[i];
        }
        $("#txtTenHangHoa").autocomplete({
            minLength: 3,
            source: function (request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                response(results.slice(0, 100));
            },
            select: function (event, ui) {
                $("#txtClass").val(ui.item.value);
                //return false;
                var textinput = $("#txtTenHangHoa").val();
                event.preventDefault();
                //funcAddDataRowSuggest(ui.item.label, ui.item.value);
                $("#txtTenHangHoa").val("");
            },
            focus: function (event, ui) {
                var arrResult = $(".ui-menu-item");
                for (var i = 0; i < arrResult.length; i++) {
                    var label = $.trim($(arrResult[i]).text().split("-")[0]);
                    if (label == ui.item.name) {
                        $(".clsLiActive").removeClass("clsLiActive")
                        $(arrResult[i]).addClass("clsLiActive");
                        break;
                    }
                }
                event.preventDefault();
            }
        });
        } catch (e) {
        }
    });

    //disable enable
    $("input[id='6_rdoTLCMQUT'").change(function () {
        funcAddRemoveDisabled("6_rdoTLCMQUT", "6_txtTLCMQUT");
    });

    $("input[id='6_rdoBSDDT'").change(function () {
        funcAddRemoveDisabled("6_rdoBSDDT", "6_txtBSDDT");
    });

    $("input[id='6_rdoBDTVGom'").change(function () {
        funcAddRemoveDisabled("6_rdoBDTVGom", "6_txtBDTVGom");
    });

    $("input[id='6_rdoTLCMQUT_2'").change(function () {
        funcAddRemoveDisabled("6_rdoTLCMQUT_2", "6_txtTLCMQUT_2");
    });

    $("input[id='6_rdoBSDDT_2'").change(function () {
        funcAddRemoveDisabled("6_rdoBSDDT_2", "6_txtBSDDT_2");
    });

    $("input[id='6_rdoBDTVGom_2'").change(function () {
        funcAddRemoveDisabled("6_rdoBDTVGom_2", "6_txtBDTVGom_2");
    });

    function funcRemoveTradeMarkImg(ptag) {
        $("#" + ptag).attr('src', '');
        $("#txtLogoOld").val("");

    }
    $('#6_txtNuocNopDon').multipleSelect({
        filter: true,
        noMatchesFound: "Không tìm thấy dữ liệu",
        single: true,
        isdatastring: false,
        placeholder: 'Tìm kiếm quốc gia'
    });

    $("#6_txtNuocNopDon").multipleSelect("disable");


    //$("#0_ckbDacTinhHangHoa").change(function () {
    //    if (this.checked) { funcEnableDisable('classDacTinhHangHoa', true); } else { funcEnableDisable('classDacTinhHangHoa', false); }
    //});

    function funcEnableDisable(classaction, enable) {
        if (enable == true) { $("." + classaction).removeAttr('disabled'); } else { $("." + classaction).attr('disabled', 'disabled'); }
    }

    $("#0_ckbCoSuDungDonUuTien").change(function () {
        if (this.checked) {
            funcEnableDisable('classDacTinhUT', true);
            $("#6_txtNuocNopDon").multipleSelect("enable")
        } else {
            funcEnableDisable('classDacTinhUT', false);
            $("#6_txtNuocNopDon").multipleSelect("disable")
        }
    });
    var _checkanh = 0;
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        _checkanh = 0;
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');

        //kiểm tra ảnh có đúng kích cỡ hay không?
        if (this.files[0].type.indexOf("image") != -1) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
                //2x2 75x75 px
                if (iheight > 302 || iheight < 75 || iwidth > 302 || iwidth < 75) {
                    _checkanh = 1;
                    showFResize();
                } else {
                    nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmFile)", function () {
                        return true;
                    }, function () {
                        funcRemoveTradeMarkImg('imgMauNhanHieu');
                        $('#pfile_6_rdoMauNhanHieu').val('');
                        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                    });
                }
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("@Html.Raw(WebApps.Resources.Resource.ThongBao)", "@Html.Raw(WebApps.Resources.Resource.FileKhongPhaiLaAnh)", "");
            _checkanh = 2;
        }
    };

    function ActionOk() {
        $("#myModal").css("display", "none");
        return true;
    }
    function ActionCancel() {
        $("#myModal").css("display", "none");
        funcRemoveTradeMarkImg('imgMauNhanHieu');
        $('#pfile_6_rdoMauNhanHieu').val('');
        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
    }
    function ActionResize() {
        $("#myModal").css("display", "none");
        funcRemoveTradeMarkImg('imgMauNhanHieu');
        $('#pfile_6_rdoMauNhanHieu').val('');
        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
        window.open("https://picresize.com/", '_blank');
    }

    function funcUpLoadMauNhanHieu(pFile) {
        try {
            var file = document.getElementsByName(pFile);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
        } catch (e) {
        }
    }

    function funcAddRemoveDisabled(pIDControl, ptxtDisable) {
        try {
            if ($("#" + pIDControl).is(':checked')) {
                $("#" + ptxtDisable).removeAttr('disabled');
            } else {
                $("#" + ptxtDisable).attr('disabled', 'disabled');
            }
        } catch (e) {

        }
    }


    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
    });

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {
        }
    }

    function ShowHidenUpLoadRadioClick(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                if (pID == "6_rdoBanGocDaNopTheoDonSo") {
                    $('.6_rdoBanGocDaNopTheoDonSo').css('display', 'block');
                    $('.6_rdoBanGocSeNopSau').css('display', 'none');
                }
                if (pID == "6_rdoBanGocSeNopSau") {
                    $('.6_rdoBanGocSeNopSau').css('display', 'block');
                    $('.6_rdoBanGocDaNopTheoDonSo').css('display', 'none');
                }

            }
        } catch (e) {
        }
    }

    $("#btnGuiDon").click(function () {
        nvsConfirm(null, "@Html.Raw(@WebApps.Resources.Resource.ConfirmGui)", function () {
            funcSaveType(2, 0);
        });
    });

    $("#btnLuuTam").click(function () {
        nvsConfirm(null, "@Html.Raw(@WebApps.Resources.Resource.ConfirmLuuTam)", function () {
            funcSaveType(1, 0);
        });
    });

    $("#btnSuaDon").click(function () {
        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuu)", function () {
            funcSaveType('@objAppHeaderInfo.Status', 0);
        });
    });

    $("#btnSend").click(function () {
        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
            funcSaveType('@objAppHeaderInfo.Status', 1);
        });
    });

    function funcSaveType(pStatus, pUpdateTodo) {
        try {
            //Thông tin chủ đơn
            var formData = new FormData();

            if (pUpdateTodo == 1) {
                formData.append("pInfo.UpdateToDo", 1);
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }


            if (pStatus == 1) {
                if (funcThongTinChuDon_SaveTem(formData, "1") != true) {
                    return false;
                }
            } else {
                if (funcThongTinChuDon(formData, "1") != true) {
                    return false;
                }
            }

            var v_AppCode = $("#txtAppCode").val();
            if (v_AppCode === "") {
                $('#txtAppCode').focus().val('');
                showError('Chưa chọn loại đơn đăng ký!');
                return false;
            }

            //if (_checkanh === 1) {
            //    showError('Ảnh tải lên không đúng kích cỡ từ 2x2 đến 8x8!');
            //    return false;
            //}
            if (_checkanh === 2) {
                showError('File tải lên không đúng định dạng file ảnh');
                return false;
            }


            formData.append("pInfo.Appcode", v_AppCode);

            var v_AppHeaderID = $("#txtAppHeaderID").val();
            if (v_AppHeaderID === "") {
                $('#txtAppHeaderID').focus().val('');
                showError('Không lấy được ID bản ghi!');
                return false;
            }
            formData.append("pInfo.Id", v_AppHeaderID);
            formData.append("pInfo.Case_Code", $("#txtCase_Code").val());

            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                jError("@Html.Raw(Resource.TM2B_ChonDaiDienChuDon)", "@Html.Raw(Resource.TM3B_Loi)", function () {
                    $("#_2_rdoNguoiDaiDienPL").focus()
                });
                return false;
            }
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);

            //trang thai
            formData.append("pInfo.Status", pStatus);

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData, 2, 1);
            if (reponse == false) {
                return false;
            }

            // Box V đơn ưu tiên
            reponse = fun_Get_Don_UT(formData, pStatus);
            if (reponse == false) {
                return false;
            }

            //Lấy thông tin file có trong đơn
            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }

            //lay tai lieu khac
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            //
            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }
            $.ajax({
                url: '/trade-mark/edit-dang-ky-nhan-hieu_nn',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        if (pStatus == 1) {
                            nvsAlert('@Html.Raw(Resource.LuuTamThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else if (pStatus == 2) {
                            nvsAlert('@Html.Raw(Resource.GuiDonThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        } else {
                            nvsAlert('@Html.Raw(Resource.SuaDonThanhCong)', ThongBao, function () {
                                window.location = "/trade-mark-mana/quan-ly-don";
                            });
                        }

                    } else {
                        nvsError(EditFail, ThongBao, function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
        }
    }


    function funcGetAppDetail(formdata, pEditOrNew, pPreView) {
        try {
            if (pEditOrNew == undefined) pEditOrNew = 1;
            if (pPreView == undefined) pPreView = 0;


            /// return true if strDate1 <= strDate2
            //function compareDate_N0(strDate1, strDate2) {
            var timenow = $("#txtDateTime").val();



            var v_NhanHieu = $("input[name='0_NhanHieu']:checked").val();
            formdata.append("pDetail.LoaiNhanHieu", v_NhanHieu);


            var codeNhanHieu = $("#0_txtTenNhanHieu").val();
            formdata.append("pDetail.CodeLogo", codeNhanHieu);

            var v_MauSac_0 = $("#0_MauSac").val();
            formdata.append("pDetail.Color", v_MauSac_0);

            var v_MoTa_0 = $("#0_MoTa").val();
            formdata.append("pDetail.Description", v_MoTa_0);


            var v_MoTa_2 = $("#2_MoTa").val();
            formdata.append("pDetail.Business_Line", v_MoTa_2);

            var v_MoTa_1 = $("#1_MoTa").val();
            formdata.append("pDetail.Translation_Of_Word", v_MoTa_1);

            //var v_UT_txtSoDon = $("#1_UT_txtSoDon").val();
            //formdata.append("pDetail.Sodon_ut", v_UT_txtSoDon);

            //var v_UT_txtNgayNopDon = $("#1_UT_txtNgayNopDon").val();
            //formdata.append("pDetail.Ngaynopdon_ut", v_UT_txtNgayNopDon);

            //var v_UT_txtQuocGia = $("#1_UT_txtQuocGia").val();
            //formdata.append("pDetail.Nuocnopdon_ut", v_UT_txtQuocGia);

            var logORG = $("#txtLogoOld").val();
            formdata.append("pDetail.LogourlOrg", logORG);

            var v_ClassNo = $("#ClassNo").val();
            formdata.append("pDetail.ClassNo", v_ClassNo);

            var v_NgayNopDonn_0 = $("#0_txtNgayNopDon").val();
            formdata.append("pDetail.Duadate", v_NgayNopDonn_0);

            var v_Applicant_Type = $('input[name=Applicant_Type]:checked').val();
            formdata.append("pDetail.Applicant_Type", v_Applicant_Type);

            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined || fileLogo != null) {
                formdata.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else {
                showError("@Html.Raw(WebApps.Resources.Resource.lblMauNhanHieu + Resource.KhongDuocDeTrong)");
                $("#pfile_6_rdoMauNhanHieu").focus();
            }
            return true;
        } catch (e) {
            showError('Có lỗi xảy ra kiểm tra kết nối internet');
            return false;
        }
    }


    $("#ckb_DOC_20").change(function () {
        if ($("#ckb_DOC_20").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });


    function funGetDocumentFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_01", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_02", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", "");


            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_03", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_04", "3");
            formData.append("pAppDocumentInfo[3].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_05", "4");
            formData.append("pAppDocumentInfo[4].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_06", "5");
            formData.append("pAppDocumentInfo[5].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_07", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_08", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_09", "8");
            formData.append("pAppDocumentInfo[8].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_10", "9");
            formData.append("pAppDocumentInfo[9].CHAR01", $("#txt_DOC_10").val());
            formData.append("pAppDocumentInfo[9].CHAR02", $("#txt_DOC_10_2").val());
            formData.append("pAppDocumentInfo[9].CHAR03", $("#txt_DOC_10_3").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_11", "10");
            formData.append("pAppDocumentInfo[10].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_12", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_13", "12");
            formData.append("pAppDocumentInfo[12].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_14", "13");
            formData.append("pAppDocumentInfo[13].CHAR01", "");

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_15", "14");
            formData.append("pAppDocumentInfo[14].CHAR01", $("#txt_DOC_15").val());
            formData.append("pAppDocumentInfo[14].CHAR02", $("#txt_DOC_15_2").val());
            formData.append("pAppDocumentInfo[14].CHAR03", $("#txt_DOC_15_3").val());

            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_16", "15");
            formData.append("pAppDocumentInfo[15].CHAR01", "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_17", "16");
            formData.append("pAppDocumentInfo[16].CHAR01", "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_18", "17");
            formData.append("pAppDocumentInfo[17].CHAR01", "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_19", "18");
            formData.append("pAppDocumentInfo[18].CHAR01", "");
            reponse = funcGetCheckValueAndText(formData, "ckb_DOC_20", "19");
            formData.append("pAppDocumentInfo[19].CHAR01", "");

        } catch (e) {
            console.log(e);
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }


    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            $(".clssListUpload").each(function () {
                formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                item++;
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    //Gọi bên này
    //<a href="~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml">~/Areas/TradeMark/Views/TradeMarkRegistration/Edit_PartialShowFileAttach.cshtml</a>
    function RemoveFileEdit(pID, pdivUp) {
        try {
            $("." + pID).css('display', 'none');
            var lstID = $("#txtDocumentInAppRemove").val();
            lstID = lstID + pID + "|";
            $("#txtDocumentInAppRemove").val(lstID);
            $("#Pre_" + pdivUp).removeClass("clssDisplaynone");
            $("#Pre_" + pdivUp).addClass("clssDisplayBlock");
            //Cho ddown UT2
            $("#div_up_" + pdivUp).removeClass("clssDisplaynone");
            $("#div_up_" + pdivUp).addClass("clssDisplayBlock");

        } catch (e) {
        }
    }

    //undo lai
    function UndoFileEdit(pID, pdivUp) {
        try {
            $("." + pID).css('display', 'block');

            var arrlistID = $("#txtDocumentInAppRemove").val();
            var pIDUndo = pID + "|";
            if (arrlistID.indexOf(pIDUndo) != -1) {
                arrlistID = arrlistID.replace(pIDUndo, "");
            }
            $("#Pre_" + pdivUp).removeClass("clssDisplayBlock");
            $("#Pre_" + pdivUp).addClass("clssDisplaynone");
            $("#txtDocumentInAppRemove").val(arrlistID);
        } catch (e) {
        }
    }



    $(document).on('dblclick', '.classNhanHieu', function () {
        if (this.checked) {
            $(this).prop('checked', false);
        }
    });



    function changeFontSize() {
        try {
            document.getElementById("txtChuNhanHieu").style.fontSize = document.getElementById("txtFontSize").value + "px";
        } catch (e) {

        }
    }

    function funcChoiseDonUT(pID) {
        try {
            if (pID == "0_ckbCoSuDungDonUuTien") {
                $('#0_ckbCoSuDungDonUuTien').prop('checked', true);
                $('#KOUT').prop('checked', false);

                $("#div_ThongTinDonUuTien").removeClass("clssDisplaynone");

            } else {
                $('#KOUT').prop('checked', true);
                $('#0_ckbCoSuDungDonUuTien').prop('checked', false);

                $("#div_ThongTinDonUuTien").addClass("clssDisplaynone");
            }
        } catch (e) {
            alert(e);
        }
    }

    function onChangeTLKhac() {
        try {
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                $("#divTLKhac").removeClass("clssDisplaynone");
            } else {
                $("#divTLKhac").addClass("clssDisplaynone");
            }
        } catch (e) {
            console.log(e);
        }
    }

    function fun_Get_Don_UT(formData, pType) {
        try {
            // đơn ưu tiên
            var v_CoSDQuyenUT = 0;
            if ($("#0_ckbCoSuDungDonUuTien").prop('checked') == true) {
                v_CoSDQuyenUT = 1;
            }
            formData.append("pDetail.Used_Special", v_CoSDQuyenUT);

            if (v_CoSDQuyenUT == 1) {

                _index = 0;
                var _index_document = 12;

                $(".clsDivDonUTien").each(function (item) {
                    var _id = $(this).attr('data-id');
                    if ($("#" + _id + "_UT_Use").val() == "1") {

                        if (pType == 2) {
                            if ($("#" + _id + "_UT_txtSoDon").val() === "" || $("#" + _id + "_UT_txtSoDon").val() == undefined) {
                                showError("@Html.Raw(WebApps.Resources.Resource.SoDonUuTien + Resource.KhongDuocDeTrong)");
                                $("#" + _id + "_UT_txtSoDon").focus();
                                return false;
                            }

                            if ($("#" + _id + "_UT_txtNgayNopDon").val() === "" || $("#" + _id + "_UT_txtNgayNopDon").val() == undefined) {
                                showError("@Html.Raw(WebApps.Resources.Resource.NgayNopDonUuTien + Resource.KhongDuocDeTrong)");
                                $("#" + _id + "_UT_txtNgayNopDon").focus();
                                return false;
                            }

                            if ($("#" + _id + "_UT_txtQuocGia").val() === "" || $("#" + _id + "_UT_txtQuocGia").val() == undefined) {
                                showError("@Html.Raw(WebApps.Resources.Resource.NuocNopQuyenUuTien + Resource.KhongDuocDeTrong)");
                                $("#" + _id + "_UT_txtQuocGia").focus();
                                return false;
                            }
                        }

                        formData.append("pUTienInfo[" + _index + "].UT_SoDon", $("#" + _id + "_UT_txtSoDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_NgayNopDon", $("#" + _id + "_UT_txtNgayNopDon").val());
                        formData.append("pUTienInfo[" + _index + "].UT_QuocGia", $("#" + _id + "_UT_txtQuocGia").val());

                        var cbo_country = document.getElementById(_id + "_UT_txtQuocGia");
                        formData.append("pUTienInfo[" + _index + "].UT_QuocGia_Display", cbo_country.options[cbo_country.selectedIndex].text);
                    }
                });
            }

            return true;
        } catch (e) {
            return false;
        }
    }

    function ThemDonUuTien() {
        try {
            var _id = parseInt($("#txt_id_Don_UT").val()) + 1;
            $.ajax({
                type: 'POST',
                url: '/lg-patent-lao/don-uu-tien/them-don/',
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#div_ThongTinDonUuTien").append(data);
                    $("#txt_id_Don_UT").val(_id);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function funcAddDataRow() {
        try {

            var _ClassNo = $("#ClassNo").val();
            if (_ClassNo == "" || _ClassNo == undefined) {
                showError('ClassNo can not blank');
                return false;
            }

            var _txt_Class_Description = $("#txt_Class_Description").val();
            if (_txt_Class_Description == "" || _txt_Class_Description == undefined) {
                showError('Class description can not blank');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '/trade-mark/class/them/',
                data: {
                    p_code: _ClassNo,
                    p_description: _txt_Class_Description
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataClass").html(data);

                    $("#ClassNo").val("");
                    $("#txt_Class_Description").val("");
                }
            });
        } catch (e) {
            console.log(e);
        }
    }

</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    function showFResize() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>