@using Common.CommonData
@using Common.Extensions
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos;
@{
    List<Billing_Detail_Info> _list_data = new List<Billing_Detail_Info>();
    if (ViewBag.List_Billing != null)
    {
        _list_data = ViewBag.List_Billing;
    }

    decimal _Operator_Type = (decimal)Common.CommonData.CommonEnums.Operator_Type.Insert;
    if (ViewBag.Operator_Type != null)
    {
        _Operator_Type = (decimal)ViewBag.Operator_Type;
    }

    //ApplicationHeaderInfo _ApplicationHeaderInfo = new ApplicationHeaderInfo();
    //if (ViewBag.objAppHeaderInfo != null)
    //{
    //    _ApplicationHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    //}

    decimal _tax = Common.Common.Tax;
    decimal _Tex_Fee = 0;
    decimal _Total_Pre_Tex = 0;
    decimal _Total_Amount = 0;


    foreach (Billing_Detail_Info item in _list_data)
    {
        _Total_Pre_Tex = _Total_Pre_Tex + item.Total_Fee;
        _Tex_Fee = Math.Round(_Total_Pre_Tex / 100 * _tax);
        _Total_Amount = _Total_Pre_Tex + _Tex_Fee;
    }

    decimal _ShowPopUp = 0;
    if (ViewBag.ShowPopUp != null)
    {
        _ShowPopUp = (decimal)ViewBag.ShowPopUp;
    }

    string _App_Case_Code = "";
    if (ViewBag.App_Case_Code != null)
    {
        _App_Case_Code = (string)ViewBag.App_Case_Code;
    }

    string _Currency_Type = "";
    if (ViewBag.Currency_Type != null)
    {
        _Currency_Type = (string)ViewBag.Currency_Type;
    }
}

<div>
    <input type="hidden" id="txt_Total_Pre_Tex" value="@_Total_Pre_Tex" />
    <input type="hidden" id="txt_Tex_Fee" value="@_Tex_Fee" />
    <input type="hidden" id="txt_Total_Amount" value="@_Total_Amount" />
    <input type="hidden" id="txtApp_Case_CodeP" value="@_App_Case_Code" />
</div>

<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class300">@WebApps.Resources.Resource.MoTaCongViec</th>
                <th class="class150">@WebApps.Resources.Resource.LePhiQuocGia</th>
                <th class="class150">@WebApps.Resources.Resource.LePhiDaiDien</th>
                <th class="class100">@WebApps.Resources.Resource.PhiDichVu</th>
                <th class="class150" style="font-weight:bold">@WebApps.Resources.Resource.Tong</th>
                @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                {
                    <th class="class80"></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdleftalign">@item.Biling_Detail_Name</td>
                        <td class="tdrightalign">@item.Nation_Fee.ToString("#,##0.##")</td>
                        <td class="tdrightalign">@item.Represent_Fee.ToString("#,##0.##")</td>

                        @if (item.Type != Convert.ToDecimal(Common.CommonData.CommonEnums.Billing_Detail_Type.Service))
                        {
                            <td class="tdrightalign">@item.Service_Fee.ToString("#,##0.##")</td>
                        }
                        else
                        {
                            if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.View) || _Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Approve))
                            {
                                <td class="tdrightalign">@item.Service_Fee.ToString("#,##0.##")</td>
                            }
                            else
                            {
                                <td class="tdrightalign">
                                    <input type="text" style="width:100px" id="txtService_Fee" value="@item.Service_Fee.ToString("#,##0.##")" onkeyup="jsFormatNumber(this.value, this.id)" onblur="onChangeOthersFee(this.value)" />
                                </td>
                            }
                        }

                        <td class="tdrightalign" style="font-weight:bold">@item.Total_Fee.ToString("#,##0.##")</td>
                        @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                        {
                            <td class="tdcenteralign">
                                <a href="javascript:;" onclick="doDeleteBillingDetail(@item.Ref_Id, @item.Type)" class="icon icon-delete" data-title="Xóa"></a>
                            </td>
                        }
                    </tr>
                }

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.TongTruocThue</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold">@_Total_Pre_Tex.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.ThuePhiNH (5%)</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold">@_Tex_Fee.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.TongCong (@_Currency_Typee)</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_Total_Amount.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td colspan="9">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                    }
                    else
                    {
                        <td colspan="8">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (_list_data.Count > 0 && _ShowPopUp == 1)
{
    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Luu" onclick="return doInsertBilling()" />
        </div>
    </div>
}
<script>

      function doDeleteBillingDetail(_Ref_Id, _type) {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmDelete)", function () {
                $.ajax({
                    url: '/quan-ly-billing/danh-sach-billing/do-delete-billing-detail',
                    type: 'POST',
                    data: {
                        p_case_code: $("#txtApp_Case_CodeP").val(),
                        p_Ref_Id: _Ref_Id,
                        p_Type: _type,
                        p_ShowPopUp: '@_ShowPopUp'
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        $("#divDataBillingDetail").html(data);
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        } catch (e) {
            console.log(e);
        }
    }

    function onChangeOthersFee(_value) {

        var _amount = 0;
        if (_value != "") {
            _amount = parseInt(_value.replace(/,/g, ""));
        }

        try {
            $.ajax({
                url: '/quan-ly-billing/danh-sach-billing/change-other-fee',
                type: 'POST',
                data: {
                    p_case_code: $("#txtApp_Case_CodeP").val(),
                    p_amount: _amount,
                    p_ShowPopUp: '@_ShowPopUp'
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataBillingDetail").html(data);
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
</script>
