@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    ApplicationHeaderInfo _ApplicationHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _ApplicationHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    decimal _Operator_Type = (decimal)Common.CommonData.CommonEnums.Operator_Type.Insert;
    if (ViewBag.Operator_Type != null)
    {
        _Operator_Type = (decimal)ViewBag.Operator_Type;
    }

    List<AllCodeInfo> _lstCurrency = MemoryData.AllCode_GetBy_CdTypeCdName("CURRENCY", "CODE");
    var lstCurrency = _lstCurrency.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal });

    Billing_Header_Info _Billing_Header_Info = new Billing_Header_Info();
    if (ViewBag.Billing_Header_Info != null)
    {
        _Billing_Header_Info = (Billing_Header_Info)ViewBag.Billing_Header_Info;
    }

    string _IsCurrency = "0";
    if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert) && _ApplicationHeaderInfo.Customer_Country != Common.Common.Country_VietNam_Id)
    {
        _IsCurrency = "1";
    }
}

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Case name</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="width: 250px;" id="txtCaseName" disabled="disabled" value="@_ApplicationHeaderInfo.Case_Name" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Client Reference</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="txtClient_Reference" disabled="disabled" value="@_ApplicationHeaderInfo.Client_Reference" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Tên khách hàng</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="width: 250px;" id="txtCustomerName" disabled="disabled" value="@_ApplicationHeaderInfo.Master_Name" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Địa chỉ</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="txtAddress" disabled="disabled" value="@_ApplicationHeaderInfo.Master_Address" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Người liên lạc</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="width: 250px;" id="txtContact" disabled="disabled" value="@_ApplicationHeaderInfo.Rep_Master_Name" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Luật sư xử lý</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" id="txtLawer_Name" disabled="disabled" value="@_ApplicationHeaderInfo.Lawer_Name" />
            <input type="hidden" id="txtRequest_By" value="@_ApplicationHeaderInfo.Lawer_User_Name" />
            <input type="hidden" id="txtApprove_By" value="@_ApplicationHeaderInfo.User_Admin_Grant" />
        </div>
    </div>
</div>

<input type="hidden" id="txtIsCurrency" value="@_IsCurrency" />

@if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert) &&
    _ApplicationHeaderInfo.Customer_Country != Common.Common.Country_VietNam_Id)
{
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Chọn loại ngoại tệ<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                @Html.DropDownList("Currency", lstCurrency, new { @id = "cboCurrency", @style = "width: 250px;" })
            </div>
        </div>

        <div class="div-search-title">
            <div>Tỷ giá<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtCurrency_Rate" onkeyup="jsFormatNumber(this.value, this.id)" onblur="onChangeCurrency_Rate(this.value)" />
            </div>
        </div>

        @*<div class="div-search-title">
            <div>Thành tiền (Ngoại tệ)<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtTotal_Foeign" disabled="disabled" />
            </div>
        </div>*@
    </div>
}
else if (_Operator_Type != Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert) && _ApplicationHeaderInfo.Customer_Country != Common.Common.Country_VietNam_Id)
{
    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ngoại tệ<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtTotal_Foeign" disabled="disabled" value="@_Billing_Header_Info.Currency" style="width:250px" />
            </div>
        </div>

        <div class="div-search-title">
            <div>Tỷ giá<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtCurrency_Rate" disabled="disabled" onkeyup="jsFormatNumber(this.value, this.id)" value="@_Billing_Header_Info.Currency_Rate.ToString("#,##0.##")" />
            </div>
        </div>
    </div>
}
