@using ObjectInfos;
@using BussinessFacade;
@using BussinessFacade.ModuleMemoryData
@using System.Xml
@model Billing_Header_Info

@{
    ViewBag.Title = WebApps.Resources.Resource.ThemMoiBilling;
    Layout = "~/ViewsShared/_Layout.cshtml";

    decimal _discount = 0;
    List<AllCodeInfo> _lstDiscount = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("DISCOUNT", "SERVICE");
    if (_lstDiscount.Count > 0)
    {
        _discount = Convert.ToDecimal(_lstDiscount[0].CdVal);
    }

    List<AllCodeInfo> _lstBank = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("BILLING", "BANK");
    string _BankName = "";
    string _Bank_Account_Name = "";
    string _Swift_Code = "";
    string _bank_Account_no = "";
    if (_lstBank.Count > 0)
    {
        _BankName = _lstBank[0].CdVal;
        _Bank_Account_Name = _lstBank[1].CdVal;
        _Swift_Code = _lstBank[2].CdVal;
        _bank_Account_no = _lstBank[3].CdVal;
    }

    BussinessFacade.ModuleUsersAndRoles.UserBL _UserBL = new BussinessFacade.ModuleUsersAndRoles.UserBL();
    List<UserInfo> _lstUsersAdmin = _UserBL.GetUserByType(Convert.ToDecimal(Common.CommonData.CommonEnums.UserType.Admin));
    var lstUsersAdmin = _lstUsersAdmin.Select(x => new SelectListItem { Text = x.FullName, Value = x.Username });

    Model.Billing_Date = DateTime.Now;
    Model.Deadline = DateTime.Now.AddDays(30);

    string _case_code = "";
    if (ViewBag.Case_Code != null)
    {
        _case_code = (string)ViewBag.Case_Code;
    }
    Model.App_Case_Code = _case_code;


    decimal _insertType = (decimal)Common.CommonData.CommonEnums.Billing_Insert_Type.App;
    if (ViewBag.Insert_Type != null)
    {
        _insertType = (decimal)ViewBag.Insert_Type;
    }
}
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 150px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="/quan-ly-billing/danh-sach-billing">@WebApps.Resources.Resource.QuanLyBilling</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <div class="div-title-content"> @WebApps.Resources.Resource.ThemMoiBilling.ToUpper()</div>
        </div>
    </div>

    <div class="divCover">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoBill<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Case_Code, new { id = "txtCaseCode", @maxlength = "50", @disabled = "disabled", @style = "width: 250px" })
                    <input type="hidden" id="txtCaseCodeSearch" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CaseCode<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.App_Case_Code, new { id = "txtApp_Case_Code", @maxlength = "50", @onblur = "onChangeApp_Case_Code()" })
                </div>
            </div>

            @*<div class="div-search-title">
                    <div>Người xét duyệt<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.DropDownList("Approve_By", lstUsersAdmin, new { @id = "Approve_By" })
                    </div>
                </div>*@
        </div>

        <div id="divInfoApp" style="margin-top: 10px;">
            @Html.Partial("~/Areas/Manager/Views/Billing/_Partial_AppInfo.cshtml")
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.NgayYeuCau <i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Billing_Date, "{0:dd/MM/yyyy}",
                        new {
                            id = "txtBilling_Date",
                            @Value = Model.Billing_Date == DateTime.MinValue ? "" : Model.Billing_Date.ToString("dd/MM/yyyy"),
                            @placeholder = "dd/mm/yyyy",
                            @class = "datepicker",
                            @style = "width: 250px",
                            @onblur = "onChangeBilling_Date()"
                        })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.HanThanhToan</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Deadline, "{0:dd/MM/yyyy}",
                       new {
                           @id = "txtDeadline",
                           @Value = Model.Deadline == DateTime.MinValue ? "" : Model.Deadline.ToString("dd/MM/yyyy"),
                           @placeholder = "dd/mm/yyyy",
                           @class = "datepicker",
                           @disabled = "disabled"
                       })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.GhiChu<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="500" />
                </div>
            </div>
        </div>

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/bank.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.VuiLongChuyenKhoan
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenNganHang<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" style="width: 250px;" value="@_BankName" disabled="disabled" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SWiftCode<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" value="@_Swift_Code" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.ChuTaiKhoan<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" style="width: 250px;" value="@_Bank_Account_Name" disabled="disabled" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.SoTaiKhoan<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" value="@_bank_Account_no" disabled="disabled" />
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info_2.png" />
            <div class="cls_form_header">
                @WebApps.Resources.Resource.ChiTietBilling
            </div>
        </div>

        <div id="divDataBillingDetail" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/Manager/Views/Billing/_PartialDetail_Insert_Billing.cshtml")
        </div>



    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Luu" onclick="return doInsertBilling()" />
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        $("#txtApp_Case_Code").focus();

        if ($("#txtApp_Case_Code").val() != "") {
            onChangeApp_Case_Code();
        }
    });

    function onChangeApp_Case_Code() {
        try {

            var _txtCaseCodeSearch = $("#txtCaseCodeSearch").val();
            var _App_Case_Code = $("#txtApp_Case_Code").val();

            if (_txtCaseCodeSearch == _App_Case_Code) {
                return;
            }

            if (_App_Case_Code != "") {

                $.ajax({
                    type: 'POST',
                    url: '/quan-ly-billing/danh-sach-billing/GetAppByCaseCode',
                    data: {
                        p_case_code: _App_Case_Code,
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);

                        if (data.success == "-2") {
                            jError("@Html.Raw(WebApps.Resources.Resource.TrangThaiDonKhongHopLe)");
                        }
                        else if (data.success == "-1") {
                        }
                        else {
                            $("#divInfoApp").html(data.Partial_AppInfo);
                            $("#divDataBillingDetail").html(data.PartialDetail_Insert_Billing);

                            //CssPopUpTag("divWrapperPopUpBilling", ".divPopup");
                            $("#txtCaseCodeSearch").val(_App_Case_Code);
                        }
                    }
                });
            }
        } catch (e) {
            CreateRollingWaitingIcon(true);
            alert(e);
        }
    }

    function onChangeBilling_Date() {
        try {

            var txtBilling_Date = $("#txtBilling_Date").val();
            if (checkDate("Billing", "#txtBilling_Date", txtBilling_Date) == false) {
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '/quan-ly-billing/danh-sach-billing/change-date',
                data: {
                    p_date: txtBilling_Date,
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#txtDeadline").val(data.success);
                }
            });
        } catch (e) {
            alert(e.toString());
        }
    }

  

    function doInsertBilling() {
        if (validateForm()) {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmInsert)", function () {
                var formData = new FormData();
                collectData(formData);
                $.ajax({
                    url: '/quan-ly-billing/danh-sach-billing/do-insert-billing',
                    type: 'POST',
                    data: formData,
                    async: true, traditional: true, contentType: false, processData: false,
                    headers: { "cache-control": "no-cache" },
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                            return false;
                        }
                        else if (data.success == "-2") {
                            jError("@Html.Raw(WebApps.Resources.Resource.KhongCoThongTinBilling)");
                            return false;
                        }
                        else {
                            jAlert("@Html.Raw(WebApps.Resources.Resource.ThemThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                                var url = "/quan-ly-billing/danh-sach-billing/";
                                window.location.href = url;
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateForm() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        var App_Case_Code = $("#txtApp_Case_Code").val();
        if (App_Case_Code == null) {
            jError("@Html.Raw(WebApps.Resources.Resource.CaseCodeKhongDuocBoTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $("#txtApp_Case_Code").val('');
                $('#txtApp_Case_Code').focus();
            });
            return false;
        }

        var txtBilling_Date = $("#txtBilling_Date").val();
        if (checkDate("Billing", "#txtBilling_Date", txtBilling_Date) == false) {
            return false;
        }

        var _txt_Total_Amount = $("#txt_Total_Amount").val();
        if (_txt_Total_Amount == "" || _txt_Total_Amount == "0") {
            jError("@Html.Raw(WebApps.Resources.Resource.KhongCoThongTinBilling)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $('#txtApp_Case_Code').focus();
            });
            return false;
        }

        var txtNotes = $("#txtNotes").val();
        if (txtNotes == null || txtNotes == "") {
            jError("@Html.Raw(WebApps.Resources.Resource.YeuCauKhongDuocDeTrong)", "@Html.Raw(WebApps.Resources.Resource.Loi)", function () {
                $("#txtNotes").val('');
                $('#txtNotes').focus();
            });
            return false;
        }

        return true;
    }

    function collectData(formData) {
        try {

            // hearder
            formData.append('p_Billing_Header_Info.Case_Code', $("#txtCaseCode").val());
            formData.append('p_Billing_Header_Info.App_Case_Code', $("#txtApp_Case_Code").val());

            formData.append('p_Billing_Header_Info.Billing_Date', $("#txtBilling_Date").val());
            formData.append('p_Billing_Header_Info.Deadline', $("#txtDeadline").val());

            formData.append('p_Billing_Header_Info.Request_By', $("#txtRequest_By").val());
            formData.append('p_Billing_Header_Info.Approve_By', $("#txtApprove_By").val());

            formData.append('p_Billing_Header_Info.Total_Pre_Tex', parseFloat($("#txt_Total_Pre_Tex").val().replace(/,/g, "")));
            formData.append('p_Billing_Header_Info.Tex_Fee', parseFloat($("#txt_Tex_Fee").val().replace(/,/g, "")));
            formData.append('p_Billing_Header_Info.Total_Amount', parseFloat($("#txt_Total_Amount").val().replace(/,/g, "")));
            formData.append('p_Billing_Header_Info.Discount_Fee_Service', parseFloat($("#txt_Discount").val().replace(/,/g, "")));

            formData.append('p_Billing_Header_Info.Currency', $("#txtCurrency").val());
            formData.append('p_Billing_Header_Info.Currency_Rate', parseInt($("#txtCurrency_Rate").val().replace(/,/g, "")));
            formData.append('p_Billing_Header_Info.Notes', $("#txtNotes").val());

            formData.append('p_Billing_Header_Info.Insert_Type', @_insertType);
            formData.append('p_Billing_Header_Info.Percent_Discount', @_discount);

            @*if ('@_case_code' != "") {
                formData.append('p_Billing_Header_Info.Is_AdviceFilling', 1);
            }
            else {
                formData.append('p_Billing_Header_Info.Insert_Type', -1);
            }*@
        } catch (e) {
            alert(e.toString());
        }
    }
</script>
