@using Common.CommonData
@using Common.Extensions
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos;
@using WebApps.Resources;
@{
    List<Billing_Detail_Info> _list_data = new List<Billing_Detail_Info>();
    if (ViewBag.List_Billing != null)
    {
        _list_data = ViewBag.List_Billing;
    }

    decimal _Operator_Type = (decimal)Common.CommonData.CommonEnums.Operator_Type.Insert;
    if (ViewBag.Operator_Type != null)
    {
        _Operator_Type = (decimal)ViewBag.Operator_Type;
    }

    decimal _tax = Common.Common.Tax;
    decimal _Tex_Fee = 0;
    decimal _Total_Pre_Tex = 0;
    decimal _Total_Amount = 0;
    decimal _Total_Amount_Temp = 0;
    decimal _Total_Amount_Represent = 0;

    foreach (Billing_Detail_Info item in _list_data)
    {
        _Total_Amount_Temp = _Total_Amount_Temp + item.Total_Fee;
        _Total_Amount_Represent = _Total_Amount_Represent + item.Represent_Fee;
    }

    // khuyến mãi
    decimal _discount_percent = 0;
    List<AllCodeInfo> _lstDiscount = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("DISCOUNT", "SERVICE");
    if (_lstDiscount.Count > 0)
    {
        _discount_percent = Convert.ToDecimal(_lstDiscount[0].CdVal);
    }

    decimal _discount = Math.Round(_Total_Amount_Represent * _discount_percent / 100);
    _Total_Pre_Tex = _Total_Amount_Temp - _discount;

    _Tex_Fee = Math.Round(_Total_Pre_Tex / 100 * _tax);

    _Total_Amount = _Total_Pre_Tex + _Tex_Fee;

    decimal _ShowPopUp = 0;
    if (ViewBag.ShowPopUp != null)
    {
        _ShowPopUp = (decimal)ViewBag.ShowPopUp;
    }

    string _App_Case_Code = "";
    if (ViewBag.App_Case_Code != null)
    {
        _App_Case_Code = (string)ViewBag.App_Case_Code;
    }

    string _Currency_Type = "";
    if (ViewBag.Currency_Type != null)
    {
        _Currency_Type = (string)ViewBag.Currency_Type;
    }

    string _language = WebApps.CommonFunction.AppsCommon.GetCurrentLang();
}

<div>
    <input type="hidden" id="txt_Total_Pre_Tex" value="@_Total_Pre_Tex" />
    <input type="hidden" id="txt_Tex_Fee" value="@_Tex_Fee" />
    <input type="hidden" id="txt_Total_Amount" value="@_Total_Amount" />
    <input type="hidden" id="txtApp_Case_CodeP" value="@_App_Case_Code" />
    <input type="hidden" id="txt_Discount" value="@_discount" />
</div>

<div>
    <table class="table-lst-data" id="tableListGroupUser">
        <thead>
            <tr>
                <th class="class300">@WebApps.Resources.Resource.MoTaCongViec</th>
                <th class="class100">@WebApps.Resources.Resource.LePhiQuocGia</th>
                <th class="class100">@WebApps.Resources.Resource.PhiDichVu</th>
                <th class="class100">@WebApps.Resources.Resource.PhiDichVuTheoGio</th>
                <th class="class100" style="font-weight:bold">@WebApps.Resources.Resource.Tong</th>
                @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                {
                    <th class="class80"></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdleftalign">@(_language != "VI_VN" ? item.Biling_Detail_Name_EN : item.Biling_Detail_Name)</td>

                        <td class="tdrightalign">@item.Nation_Fee.ToString("#,##0.##")</td>

                        @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert)
                            && WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin
                            && item.Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Billing_Detail_Type.App))
                        {
                            <td class="tdrightalign">
                                <input type="text" style="width:100px" id="@(item.Billing_Detail_Id + "txtRepresent_Fee")" value="@item.Represent_Fee.ToString("#,##0.##")"
                                       onkeyup="jsFormatNumber(this.value, this.id)" onblur="onChangeRepresent_Fee('@item.Billing_Detail_Id', this.value)" />
                            </td>
                        }
                        else
                        {
                            <td class="tdrightalign">@item.Represent_Fee.ToString("#,##0.##")</td>
                        }

                        @if (item.Type != Convert.ToDecimal(Common.CommonData.CommonEnums.Billing_Detail_Type.Others))
                        {
                            <td class="tdrightalign">@item.Service_Fee.ToString("#,##0.##")</td>
                        }
                        else
                        {
                            if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.View) || _Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Approve))
                            {
                                <td class="tdrightalign">@item.Service_Fee.ToString("#,##0.##")</td>
                            }
                            else
                            {
                                <td class="tdrightalign">
                                    <input type="text" style="width:100px" id="txtService_Fee" value="@item.Service_Fee.ToString("#,##0.##")"
                                           onkeyup="jsFormatNumber(this.value, this.id)" onblur="onChangeOthersFee(this.value)" />
                                </td>
                            }
                        }

                        <td class="tdrightalign" style="font-weight:bold">@item.Total_Fee.ToString("#,##0.##")</td>
                        @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                        {
                            <td class="tdcenteralign">
                                <a href="javascript:;" onclick="doDeleteBillingDetail(@item.Ref_Id, @item.Type)" class="icon icon-delete" data-title="Xóa"></a>
                            </td>
                        }
                    </tr>
                }

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.Subtitle</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold">@_Total_Pre_Tex.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@(Resource.ChietKhau + " " + Resource.PhiDichVu) (@_discount_percent.ToString() %)</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold">@_discount.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.ThuePhiNH (@_tax%)</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold">@_Tex_Fee.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>

                <tr>
                    <td class="tdleftalign" style="font-weight:bold">@WebApps.Resources.Resource.TongCong (@_Currency_Type)</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign">-</td>
                    <td class="tdrightalign" style="font-weight:bold; color: red">@_Total_Amount.ToString("#,##0.##")</td>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td class="tdrightalign"></td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    @if (_Operator_Type == Convert.ToDecimal(Common.CommonData.CommonEnums.Operator_Type.Insert))
                    {
                        <td colspan="9">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                    }
                    else
                    {
                        <td colspan="8">@WebApps.Resources.Resource.KhongCoDuLieu</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (_list_data.Count > 0 && _ShowPopUp == 1)
{
    <div class="divCover">
        <div class="div-search-btn" style="width:600px;margin-top: 5px;">
            <input type="submit" class="btn-default" value="@WebApps.Resources.Resource.Luu" onclick="return ClosePopUpBilling()" />
        </div>
    </div>
}
<script>

    function ClosePopUpBilling() {
        CloseDivPopUp('divWrapperPopUpBilling');
    }

    function doDeleteBillingDetail(_Ref_Id, _type) {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmDelete)", function () {
                $.ajax({
                    url: '/quan-ly-billing/danh-sach-billing/do-delete-billing-detail',
                    type: 'POST',
                    data: {
                        p_case_code: $("#txtApp_Case_CodeP").val(),
                        p_Ref_Id: _Ref_Id,
                        p_Type: _type,
                        p_ShowPopUp: '@_ShowPopUp'
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        $("#divDataBillingDetail").html(data);
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        } catch (e) {
            console.log(e);
        }
    }

    function onChangeRepresent_Fee(_id, _value) {
        var _amount = 0;
        if (_value != "") {
            _amount = parseInt(_value.replace(/,/g, ""));
        }

        try {
            $.ajax({
                url: '/quan-ly-billing/danh-sach-billing/change-represent-fee',
                type: 'POST',
                data: {
                    p_case_code: $("#txtApp_Case_CodeP").val(),
                    p_billing_detail_id: _id,
                    p_amount: _amount,
                    p_ShowPopUp: '@_ShowPopUp'
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataBillingDetail").html(data);
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }

    function onChangeOthersFee(_value) {

        var _amount = 0;
        if (_value != "") {
            _amount = parseInt(_value.replace(/,/g, ""));
        }

        try {
            $.ajax({
                url: '/quan-ly-billing/danh-sach-billing/change-other-fee',
                type: 'POST',
                data: {
                    p_case_code: $("#txtApp_Case_CodeP").val(),
                    p_amount: _amount,
                    p_ShowPopUp: '@_ShowPopUp'
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataBillingDetail").html(data);
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
</script>
