@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@{
    ViewBag.Title = WebApps.Resources.Resource.QuanLyBilling;
    Layout = "~/ViewsShared/_Layout.cshtml";

    string language = WebApps.Session.SessionData.CurrentUser.Language;
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;

    List<AllCodeInfo> _lstPayStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("BILLING", "PAY_STATUS");
    var lstPayStatus = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstPayStatus.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));


    List<AllCodeInfo> _lstStatus = WebApps.CommonFunction.AppsCommon.AllCode_GetBy_CdTypeCdName("BILLING", "STATUS");
    var lstStatus = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstStatus.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));

}
<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        <a href="/home">Home</a>
        <span class="red">></span>
        <a href="#">@WebApps.Resources.Resource.QuanLy</a>
        <span class="red">></span>
        <a href="/quan-ly-billing/danh-sach-billing">@WebApps.Resources.Resource.QuanLyBilling</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>


@*Notify*@
<div class="divCover">
    @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
</div>

<div class="d-main smb_content">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="Billing_Id" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div class="div-title-content"> @WebApps.Resources.Resource.ChiTietBilling</div>
        </div>
    </div>

    <div class="divCover" id="div-search-simple">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.CaseCode</div>
            </div>
            <div>
                <div>
                    <input style="width: 150px;" type="text" id="txtAppCaseCode" data-controlcondition="TRUE" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.LuatSu</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" style="width: 150px;" id="txtLawer" data-controlcondition="TRUE" />
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TenKhachHang</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtCustomerName" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThai </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboStatus", lstStatus, new { @id = "cboStatus", @style = "width: 150px;" })
                </div>
            </div>

            <div class="div-search-title">
                <div>@WebApps.Resources.Resource.TrangThaiThanhToan</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboPayStatus", lstPayStatus, new { @id = "cboPayStatus" })
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="@WebApps.Resources.Resource.TimKiem" class="btn-default" onclick="Search_Billing(1, 1)" />
            @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin)
            {
                <input type="button" value="@WebApps.Resources.Resource.ThemMoi" class="btn-default" onclick="getView2Insert()" />
            }
        </div>
    </div>

    <div class="divCover">
        <div id="divDataBilling" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/Manager/Views/Billing/_PartialTableBilling.cshtml")
        </div>
    </div>

    <div id="divWrapperPopUpBilling" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpBilling">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txtAppCaseCode').focus();
        $("#cboStatus,#txtAppCaseCode,#txtLawer,#txtCustomerName,#cboPayStatus").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                Search_Billing(1, 1);
            }
        });

        Search_Billing(1, 1);
    });

    function jsPaging(page) {
        Search_Billing(page, 0);
    }

    function Search_Billing(p_NumPage, p_type) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var p_keysearch;
            if (p_type == 1) {

                var _txtAppCaseCode = $("#txtAppCaseCode").val();
                if (_txtAppCaseCode == "") {
                    _txtAppCaseCode = "ALL";
                }

                var txtLawer = $("#txtLawer").val();
                if (txtLawer == "") {
                    txtLawer = "ALL";
                }

                var txtCustomerName = $("#txtCustomerName").val();
                if (txtCustomerName == "") {
                    txtCustomerName = "ALL";
                }

                var _Status = $("#cboStatus").val();
                var _payStatus = $("#cboPayStatus").val();

                p_keysearch = _txtAppCaseCode + "|" + txtLawer + "|" + txtCustomerName + "|" + _Status + "|" + _payStatus;

                //Lưu lại keysearch
                $("#txtKeyValue").val(p_keysearch);

            } else {
                p_keysearch = $("#txtKeyValue").val();
            }
            var p_column = $("#txtSortColumn").val();
            var p_type_sort = $("#txtSortType").val();

            $.ajax({
                type: 'POST',
                url: '/quan-ly-billing/danh-sach-billing/search/',
                data: {
                    p_keysearch: p_keysearch,
                    p_CurrentPage: p_NumPage,
                    p_column: p_column,
                    p_type_sort: p_type_sort
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataBilling").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    function GetView2View_Billing(_id, _app_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-billing/danh-sach-billing/show-view-billing?id=" + _id + "&case_code=" + _app_case_code;
            window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function getView2Insert() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        var url = "/quan-ly-billing/danh-sach-billing/show-insert/";
        window.location.href = url;
    }

    function getView2Edit(_id, _app_case_code) {

        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-billing/danh-sach-billing/show-edit?p_id=" + _id + "&p_app_case_code=" + _app_case_code;
            window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }

        //if (CheckSessionTimeOut() == false) {
        //    return false;
        //}

        //$.ajax({
        //    type: "POST",
        //    url: "/quan-ly-billing/danh-sach-billing/show-edit/",
        //    dataType: "html",
        //    data: {
        //        p_id: _id,
        //        p_app_case_code: _app_case_code
        //    },
        //    async: false, cache: false, traditional: true,
        //    success: function (data) {
        //        if (data != null) {
        //            $("#divPopUpBilling").html(data);
        //            ShowPopupDialog_Ipace('divWrapperPopUpBilling', "Sửa thông tin billing", 750, 800, "txtApp_Case_Code");
        //        }
        //        return false;
        //    }
        //});
    }

    function getView2Approve(_id, _app_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-billing/danh-sach-billing/show-approve-billing?id=" + _id + "&case_code=" + _app_case_code;
            window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function getView2UpdatePayStatus(_id, _app_case_code) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        try {
            var url = "/quan-ly-billing/danh-sach-billing/show-change-status-pay?id=" + _id + "&case_code=" + _app_case_code;
            window.location.href = url;
        } catch (e) {
            console.log(e.toString())
        }
    }

    function doDeleteBilling(_id) {

        nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmDelete)", function () {
            $.ajax({
                url: "/quan-ly-billing/danh-sach-billing/do-delete-billing",
                type: "POST",
                data: {
                    p_id: _id
                },
                headers: { "cache-control": "no-cache" },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiCheckLai)");
                        return false;
                    }
                    else if (data.success == "-2") {
                        jError("@Html.Raw(WebApps.Resources.Resource.NoiDungDaDuyetKhongTheXoa)");
                        return false;
                    }
                    else {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.XoaThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            Search_Billing(1, 1);
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

    function ClosePopUpBilling() {
        CloseDivPopUp('divWrapperPopUpBilling');
    }

</script>
