@model string
@{
    string[] arr = Model.Split('|');
    string Address = arr[0];
    string DateNo = arr[1];
    string Months = arr[2];
    string Years = arr[3];
}

<div class="divCover cls_form_title">
    <img src="~/Content/icons/category.png" />
    <div class="cls_form_header">
        @WebApps.Resources.Resource.lblCamKetCuaChuDon.ToUpper()
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Khai tại:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" style="margin-left: 1px;width:250px" maxlength="200" id="txtKhaiTai" disabled="disabled" value="@Address" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Ngày khai: </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboNgayKhai" class="classNgayThangNam" style="width:50px" disabled="disabled">
                @for (int i = 1; i < 32; i++)
                {
                    if (i.ToString().PadLeft(2, '0') == DateNo)
                    {
                        <option selected="selected" value="@i.ToString().PadLeft(2, '0')">@i.ToString().PadLeft(2, '0')</option>
                    }
                    else
                    {
                        <option value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }

                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div> Tháng: </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboThangKhai" class="classNgayThangNam" style="width:50px" disabled="disabled">
                @for (int i = 1; i < 13; i++)
                {
                    if (i.ToString().PadLeft(2, '0') == Months)
                    {
                        <option selected="selected" value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }
                    else
                    {
                        <option value="@i.ToString().PadLeft(2,'0')">@i.ToString().PadLeft(2, '0')</option>
                    }

                }
            </select>
        </div>
    </div>

    <div class="div-search-title">
        <div>Năm:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboNamKhai" class="classNgayThangNam" disabled="disabled">
                @for (int i = 2005; i < 2051; i++)
                {
                    if (i.ToString() == Years)
                    {
                        <option selected="selected" value="@i.ToString()">@i.ToString()</option>
                    }
                    else
                    {
                        <option value="@i.ToString()">@i.ToString()</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
