@using Common.CommonData
@using WebApps.CommonFunction;
@using BussinessFacade.ModuleMemoryData
@using WebApps.Resources;
@using BussinessFacade.ModuleMemoryData
@using ObjectInfos
@{
    ViewBag.Title = Resource.TM2B_TITLE;
    Layout = "~/ViewsShared/_Layout.cshtml";
    string language = AppsCommon.GetCurrentLang();
    List<App_Class_Info> _list = new List<App_Class_Info>();
    if (ViewBag.ListAppClass != null)
    {
        _list = ViewBag.ListAppClass;
    }
    List<AppDetail04NHInfo> _List04nhdetail = new List<AppDetail04NHInfo>();
    if (ViewBag.ListAppDetail04NHInfo != null)
    {
        _List04nhdetail = ViewBag.ListAppDetail04NHInfo;
    }

    string _appcode = ViewBag.AppCode;
   
    var clstAppClassShortSuggest = new List<SuggestInfo>();
    foreach (var item in MemoryData.clstAppClassSuggest)
    {
        var pShortInfo = new SuggestInfo("", "");

        if (language == Language.LangVI)
        {
            if (!string.IsNullOrEmpty(item.name) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name.Replace('/', ' '), item.value);
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(item.name_en) && !string.IsNullOrEmpty(item.value))
            {
                pShortInfo = new SuggestInfo(item.name_en.Replace('/', ' '), item.value);
            }
        }
        clstAppClassShortSuggest.Add(pShortInfo);
    }
    string _Logourl = "";
    if (ViewBag.Logourl != null)
    {
        _Logourl = (string)ViewBag.Logourl;
    }


    string urlMauNhanHieu = "/Content/images/Noimg.jpg";
    if (!string.IsNullOrEmpty(_Logourl))
    {
        urlMauNhanHieu = _Logourl.Replace("~", "");
    }
}
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>



<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 120px;
    }

    .div-title-col-2 {
        height: 35px;
        border: 1px solid #aaa;
    }

        .div-title-col-2 > div {
            margin: 9px 5px 0px 7px;
        }
</style>
<script src="~/Scripts/ScriptsLoadClassInfo.js"></script>
@*<div class="d-nav-container">
        <ul class="ul-nav">
            <li><a href="javascript:;">TradeMark</a></li>
            <li><a href="javascript:;"> @Resource.TM2B_Formname</a></li>
        </ul>
    </div>*@

<div class="d-nav-container" style="background-color:#fff">
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            <a href="/home">Home</a>
            <span class="red">></span>
            <a href="javascript:;">@Resource.TM2B_Formname</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>
    <div class="divCover">
        @Html.Partial("~/Areas/Home/Views/Shared/_Partial_Quick_Notify.cshtml")
    </div>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@TradeMarkAppCode.AppCodeDangKyQuocTeNH' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend> @Resource.TM2B_legend </legend>

        @*thông tin khách hàng mà admin nhập hộ*@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCustomer.cshtml")

        @* Case name *@
        @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialCaseName.cshtml", "0")

        <div class="divCover cls_form_title">
            <img src="~/Content/icons/info_2.png" />
            <div class="cls_form_header">
                @Resource.TM2B_thongtincoban
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-radio" style="width:400px">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND" id="_01_rdnghidinh_madrid" placeholder="_01_rdnghidinh_madrid" />
                    <label>@Resource.TM2B_thanhviennghidinhthu</label>
                </div>
            </div>

            <div class="div-search-content">
                <div class="div-radio">
                    <input type="radio" name="rad_thanhviennghidinhthu" value="TVND_TU" id="_01_rdnghidinh_thoa_uoc_madrid" placeholder="_01_rdnghidinh_thoa_uoc_madrid" />
                    <label>@Resource.TM2B_thanhvienthoauoc</label>
                </div>
            </div>
        </div>


        <div class="divCover cls_form_title">
            <img src="~/Content/icons/category.png" />
            <div class="cls_form_header">
                1.@Resource.TM2B_nhanhieuquocte.ToUpper()
            </div>
        </div>
        <div class="div_full_100_area">
            <div class="class_full_div_input_extent">
                <div class="class_left_40">
                    <div class="class_block_title" style="padding-top:5px; "><label>@Resource.TM2B_MauNhanHieu:</label> </div>
                    <div class="class_block_title_control" style="display:flex;margin-top: 10px;">
                        <div style="width:165px ;height:165px;margin-left: 10px;" id="divLogo">
                            <img id="imgMauNhanHieu" src="@urlMauNhanHieu" style="width:160px ;height:160px">
                            <img id="imgMauNhanHieuTeplace" src="@urlMauNhanHieu" hidden="hidden">
                        </div>
                        <div class="container" id="divckbNhanHieuAnh" style="flex-grow:1;padding-top:50px">
                            <div class="file-upload btn btn-primary" style="margin-top:95px">
                                <span>@WebApps.Resources.Resource.lblTaiFile</span>
                                <input type="file" name="pfile_6_rdoMauNhanHieu" id="pfile_6_rdoMauNhanHieu" class="upload fileuploadurl" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="class_right_60">
                    <div class="div-search-ad">
                        <div class="div-search-content">
                            <div class="div-radio">
                                <input type="radio" name="_01_rad_DonDkOrGiayDK" value="DONDK" id="_01_rad_DonDK" placeholder=" rad_DonDK" />
                                <label>@Resource.TM2B_dondangkynhanhieucs</label>
                            </div>
                        </div>

                    </div>
                    <div class="div-search-ad">

                        <div class="div-search-content">
                            <div class="div-radio">
                                <input type="radio" name="_01_rad_DonDkOrGiayDK" value="GIAYDK" id="_01_rad_GiayDK" placeholder="01_rad_GiayDK" />
                                <label> @Resource.TM2B_giaycndknhcs</label>
                            </div>
                        </div>
                    </div>

                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div>Tìm kiếm số đơn</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <select id="cbo_04nh_data" onchange="chooseApp2a($(this).val())">
                                    @foreach (var item in _List04nhdetail)
                                    {
                                        <option value="@item.App_Header_Id">
                                            @item.Appno
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="div-search-title">
                            <div style="width:200px">Số đơn/Số GCN</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text" class="" id="_1_txtSoDonGCN"   maxlength="100"   />
                            </div>
                        </div>

                       
                    </div>
                    <div class="div-search-ad">
                        <div class="div-search-title">
                            <div style="width:200px">@Resource.TM2B_Ngaynopdon</div>
                        </div>
                        <div class="div-search-content">
                            <div>
                                <input type="text"class="datetimepicker"  id="_1_txtNgayNopDon" placeholder="@Resource.TM2B_Ngaynopdon" maxlength="10"   />
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <i id="tagSuggessIMG" style="color:red;font-weight:bold;margin-left:120px">(@WebApps.Resources.Resource.lblSizeOfPicture)</i>
            <a href="javascript:;" st="" class="icon icon-info tip" data-placement="right" style="border:none"
               data-title="@Resource.TooltipSizeofImage"></a>
        </div>
         




            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    2.@Resource.TM2B_ChuDon
                </div>
            </div>

            <div id="div_PartialThongTinChuDon">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinChuDon.cshtml", "1")
            </div>

            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialThongTinDaiDienChuDon.cshtml", "2")

            <div id="div_appclass_2a">
                @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTMAddAppClass.cshtml")
            </div>

       


            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    4.@Resource.TM2B_TenNuocDK
                </div>
            </div>


            @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialDanhSachQuocGiaDKQTNH.cshtml", "_4")

            @*<div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    5.PHÍ, LỆ PHÍ
                </div>
            </div>*@

 



            <div class="divCover cls_form_title">
                <img src="~/Content/icons/category.png" />
                <div class="cls_form_header">
                    5.@Resource.TM2B_TaiLieuCoTrongDon
                </div>
            </div>

        @* 1. Tài tờ khai *@
        @{
            string _doc_id1 = "C06DKQT_D_01";
            string _model1 = _doc_id1 + "|6_Doc_ToKhai|0|" + Resource.TM2B_ToKhaiGom + "|" + Resource.TM2B_SoTrang + "|" + Resource.TM2B_SoBan + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model1)
        }
        @* 2. mẫu đăng ký của văn phòng quốc tế *@
        <div class="div-search-ad">
            <div class="div-search-content">
                <div>
                    @Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTaiLieuTrongDonFileInput.cshtml", "_6_rdoToKhai")
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-content">
                <div class="div-checkbox" style="width:300px">
                    <input type="checkbox" id="ckb_6_MauDKVPQuocTe" value="C06DKQT_D_02" onchange="return ShowHidenUpLoad(this.id, this.id, 'txt_6_MauDKVPQuocTe');" />
                    @Resource.TM2B_MauDKVPQT
                </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe" maxlength="50" placeholder="" disabled />
                </div>
            </div>
            <div class="div-search-title">
                <div>@Resource.TM2B_LamBangTieng </div>
            </div>
            <div class="div-search-content">
                <div style="width:150px">
                    <input type="text" id="txt_6_MauDKVPQuocTe_1" maxlength="50" placeholder="" disabled />
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM2B_SoTrang:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe_2" maxlength="50" placeholder="" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" disabled />
                </div>
            </div>

            <div class="div-search-title">
                <div>@Resource.TM2B_SoBan:</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txt_6_MauDKVPQuocTe_3" maxlength="50" placeholder="" onkeypress="return isNumberKey(event);" onkeyup="jsFormatNumber(this.value, this.id)" disabled />
                </div>
            </div>

        </div>

        @*3 mẫu đăng ký nhãn hiệu*@
        @{
            string _doc_id3 = "C06DKQT_D_03";
            string _model3 = _doc_id3 + "|6_Doc_MauNhanHieu|0|" + Resource.TM2B_MauNhanHieu + "|" + Resource.TM2B_SoMau + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model3)
        }




            @*4bản sao tờ khai *@
            @{
                string _doc_id4 = "C06DKQT_D_04";
                string _model4 = _doc_id4 + "|6_Doc_BanSaoToKhai|0|" + Resource.TM2B_BanSaoToKhai + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model4)
            }

            @*5 bản sao giay chung nhan dk nhan hieu co so *@
            @{
                string _doc_id5 = "C06DKQT_D_05";
                string _model5 = _doc_id5 + "|6_Doc_BanSaoGiayDKNHCS|0|" + Resource.TM2B_BanSaoGiayCNDK + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model5)
            }

            @*6 bản cam kết sẽ sử dụng NH *@
            @{
                string _doc_id6 = "C06DKQT_D_06";
                string _model6 = _doc_id6 + "|6_Doc_CamKetSuDungNH|0|" + Resource.TM2B_BanCamKetSeSD + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model6)
            }

            @*7 giay quy quyen bang tieng *@
            @{
                string _doc_id7 = "C06DKQT_D_07";
                string _model7 = _doc_id7 + "|6_Doc_GiayUyQuyenBangTieng|0|" + Resource.TM2B_GiayUyQuyen + "|" + Resource.TM2B_BangTieng + "|0";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model7)
            }
            @*Bản dịch tiếng việt*@

        @{
            string _doc_id8 = "C06DKQT_D_08";
            string _model8 = _doc_id8 + "|6_Doc_BanDichTiengViet|1|" + Resource.TM2B_BanDichTiengViet + "|" + Resource.TM2B_BanDichSoTrang + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model8)
        }

            @*9 bản gốc*@

            @{
                string _doc_id9 = "C06DKQT_D_09";
                string _model9 = _doc_id9 + "|6_DocBanGoc|1|" + Resource.TM2B_BanGoc + "|0";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model9)
            }

            @*10 bản sao*@

            @{
                string _doc_id10 = "C06DKQT_D_010";
                string _model10 = _doc_id10 + "|6_Doc_Sao|1|" + Resource.TM2B_BanSao + "|0";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model10)
            }

            @*11 bản sao nộp sau*@

            @{
                string _doc_id11 = "C06DKQT_D_011";
                string _model11 = _doc_id11 + "|6_Doc_BanGocSeNopSau|2|" + Resource.TM2B_BanGocSeNopSau + "|0";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model11)
            }

            @*12 bản gốc đã nộp theo số *@

            @{
                string _doc_id12 = "C06DKQT_D_012";
                string _model12 = _doc_id12 + "|6_Doc_BanGocDaNopTheoDonSo|2|" + Resource.TM2B_BanGocDaNopTheo + "|" + Resource.TM2B_SodonNopTheo + "|0";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model12)
            }

            @*13 chứng từ lệ phí *@

            @{
                string _doc_id13 = "C06DKQT_D_013";
                string _model13 = _doc_id13 + "|6_Doc_ChungTuLePhi|0|" + Resource.BanSaoChungTu + "|1";
                @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model13)
            }

           
        

             
        @*14 tài liệu bổ sung *@

        @{
            string _doc_id14 = "C06DKQT_D_014";
            string _model14 = _doc_id14 + "|6_Doc_TaiLieuBoSung|0|" + Resource.TM2B_TaiLieuBoSung + "|" + Resource.TM2B_NhapTaiLieu + "|0";
            @Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialTaiLieuTrongDon.cshtml", _model14)
        }
        
        @*TÀI LIỆU KHÁC*@
        @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Document_Others.cshtml") 

        @* Cam kết của chủ đơn *@

        @Html.Partial("~/Areas/TradeMark/Views/PLB01_SDD_3B/_PartialCamKetChuDon.cshtml")

            <div class="class_save">
                <div class="classGuiDon">
                    <input type="button" value="@Resource.btnGuiDon" id="btnGuiDon" class="btn class_37" />
                </div> <div class="classLuuTam">
                    <input type="button" value="@Resource.btnLuuTam" id="btnLuuTam" class="btn class_37" />
                </div>
            </div>
</fieldset>
</div>

<input type="hidden" id="txtDateTime" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
@Html.Partial("~/Areas/TradeMark/Views/TradeMarkRegistrationDKQT/_PartialPreview_IU.cshtml")
<div id="divWrapperPreview" class="divWrapperPreview" style="display:none">
    <div class="dpop-preview" id="dpop-preview">
    </div>
</div>

<div id="divWrapperPopUpFee" class="divWrapperPopup" style="display: none;">
    <div class="divPopup" id="divPopUpFee">
    </div>
</div>

<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetimepicker').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            mask: '39/19/9999',
            validateOnBlur: false,
            scrollInput: false
        });
    });

    $("#ckb_6_Doc_TaiLieuBoSung").change(function () {
        if ($("#ckb_6_Doc_TaiLieuBoSung").is(":checked") == true) {
            $("#divContainerDocOther").css('display', 'block')
        } else {
            $("#divContainerDocOther").css('display', 'none');
        }
    });


    var _checkanh = 0;
    document.getElementById("pfile_6_rdoMauNhanHieu").onchange = function () {
        _checkanh = 0;
        var preturn = fileNhanHieu(this, 'imgMauNhanHieu');

        //kiểm tra ảnh có đúng kích cỡ hay không?
        if (this.files[0].type.indexOf("image") != -1) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgMauNhanHieuTeplace").attr("src", e.target.result);

                var img = $("#imgMauNhanHieuTeplace");
                var iheight = 500; var iwidth = 500;

                iheight = img[0].height;
                console.log('lan 1: ' + iheight);
                iheight = img[0].height;
                iwidth = img[0].width;
                console.log(iheight);
                //2x2 75x75 px , 8x8 302x302
                if (iheight > 302 || iheight < 75 || iwidth > 302 || iwidth < 75) {
                    _checkanh = 1;
                    nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.KichThuoc2288)", function () {
                        return true;
                    }, function () {
                        //Callback
                        $("#imgMauNhanHieu").attr("src", "/Content/icons/logo.jpg");
                    });

                } else {
                    return true;
                }
            }
            reader.readAsDataURL(this.files[0]);
        } else {
            nvsAlert("@Html.Raw(WebApps.Resources.Resource.ThongBao)", "@Html.Raw(WebApps.Resources.Resource.FileKhongPhaiLaAnh)", "");
            _checkanh = 2;
        }
    };
    function FuncLoadAppClass()
    {
        try {
            var availableTags = [];
            var array = @Html.Raw(Json.Encode(clstAppClassShortSuggest));
            for (var i = 0; i < array.length; i++) {
                availableTags[i] = array[i];
            }
            $("#txtTenHangHoa").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(availableTags, request.term.toUpperCase());
                    response(results.slice(0, 100));
                },
                select: function (event, ui) {
                    $("#txtClass").val(ui.item.value);
                    //return false;
                    var textinput = $("#txtTenHangHoa").val();
                    event.preventDefault();
                    funcAddDataRowSuggest(ui.item.label, ui.item.value);
                    $("#txtTenHangHoa").val("");

                },
                focus: function (event, ui) {
                    var arrResult = $(".ui-menu-item");
                    for (var i = 0; i < arrResult.length; i++) {
                        var label = $.trim($(arrResult[i]).text().split("-")[0]);
                        if (label == ui.item.name) {
                            $(".clsLiActive").removeClass("clsLiActive")
                            $(arrResult[i]).addClass("clsLiActive");
                            break;
                        }
                    }
                    event.preventDefault();
                }
            });
        } catch (e) {
            alert(e.toString());
        }
    }
    $(function ()
    {
        try {
            FuncLoadAppClass();
        } catch (e) {
        }
    });

    $(document).ready(function () {
        $('#cbo_04nh_data').multipleSelect({
            filter: true,
            noMatchesFound: "@Resource.TM2B_KhongTimThayDuLieu",
            single: true,
            isdatastring: false,
            width: 200,
            placeholder: '@Resource.TM2B_TimKiemSoDon'
        });

    });



    function ShowHidenUpLoad(pID, pClass, pTxt) {
        try {
            if ($("#" + pID).is(':checked')) {
                $("#div_up_" + pClass).removeClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).removeAttr("disabled");
                    $("#" + pTxt + "_1").removeAttr("disabled");
                    $("#" + pTxt + "_2").removeAttr("disabled");
                    $("#" + pTxt + "_3").removeAttr("disabled");
                }
            }
            else {
                $("#div_up_" + pClass).addClass("clssDisplaynone");

                // ẩn text
                if (pTxt != "") {
                    $("#" + pTxt).prop('disabled', true);
                    $("#" + pTxt + "_1").prop('disabled', true);
                    $("#" + pTxt + "_2").prop('disabled', true);
                    $("#" + pTxt + "_3").prop('disabled', true);
                }
            }
        } catch (e) {
            alert(e);
        }
    }
    function funGetData(p_Status) {
        try {
            var _showerror = 0;
            if (p_Status == 2) {
                _showerror = 1;
            }
            var formData = new FormData();
            var reponse = funcThongTinNhapHo(formData);
            if (reponse == false) {
                return false;
            }

            var reponse = funcThongTinCaseName(formData, "0");
            if (reponse == false) {
                return false;
            }

         
            var cbo_04nh_data = $("#cbo_04nh_data");

            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if ((v_RepMasterType == "" || v_RepMasterType == undefined) && _showerror == 1 ) {
                showError('@Resource.TM2B_ChonDaiDienChuDon');
                $("#_2_rdoNguoiDaiDienPL").focus();
                return false;
            }

            //Lấy thông tin detail
            var reponse = funcGetAppDetail(formData, _showerror);
            if (reponse == false) {
                return false;
            }
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
            formData.append("pInfo.Send_Date", _1_txtNgayNopDon.val());
            //trang thai
            formData.append("pInfo.Status", p_Status);
            // thông tin chủ đơn
         
            //Lấy thông tin file có trong đơn
            reponse = funGetThongTinFile(formData);
            if (reponse == false) {
                return false;
            }

            reponse =  funcCheckDataClassInfo(_showerror);
            if (reponse == false) {
                return false;
            }
            reponse = funcGetDataClassInfo(formData);
            if (reponse == false) {
                return false;
            }

            if (funcThongTinChuDon(formData, "1") != true) {
                return false;
            }

            if (funcThongTinDaiDienChuDon(formData, "2") != true) {
                return false;
            }
            reponse = funcGetCamKetChuDon(formData);
            if (reponse == false) {
                return false;
            }
            //Lấy thông tin tài liệu có trong đơn
            if ($("#ck_TaiLieu_Khac").is(':checked')) {
                formData.append("pInfo.USE_DOC_OTHERS", 1);
            } else {
                formData.append("pInfo.USE_DOC_OTHERS", 0);
            }

            reponse = funGetDocumentFile(formData);
            if (reponse == false) {
                return false;
            }
            //Tài liệu khác trong đơn
            reponse = funcGetTenTaiLieuKhac(formData);
            if (reponse == false) {
                return false;
            }
            $.ajax({
                url: '/trade-mark-01/dang_ky_nhan_hieu',
                type: 'POST',
                data: formData,
                processData: false, contentType: false, traditional: true, dataType: "json",
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.status >= 0) {
                        jAlert("@Html.Raw(WebApps.Resources.Resource.ThemThanhCong)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                            window.location = "/trade-mark-mana/quan-ly-don";
                        });
                    } else {
                        jError("@Html.Raw(WebApps.Resources.Resource.LoiXuLyDuLieu)", "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }
    }


    $("#btnLuuTam").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmLuuTam)", function () {
                funGetData(1);
            });
        } catch (e) {
            CreateRollingWaitingIcon(false);
            console.log(e.message);
        }
    });

    $("#btnGuiDon").click(function () {
        try {
            nvsConfirm(null, "@Html.Raw(WebApps.Resources.Resource.ConfirmGui)", function () {
                funGetData(2);
            });

        } catch (e) {
            console.log(e.message);
        }
    });


    // lấy thông tin chi tiết đơn
    function funcGetAppDetail(formData, p_ShowError) {
        try {
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            var cbo_04nh_data = $("#cbo_04nh_data");
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            formData.append("pDetail.THANHVIEN_ND_TC", $("input[name='rad_thanhviennghidinhthu']:checked").val());

            var _1_txtSoDonGCN  = $("#_1_txtSoDonGCN");
            var imgMauNhanHieu = $("#imgMauNhanHieu");
            var _logourl = imgMauNhanHieu.attr("src").trim();
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            if (fileLogo != undefined && fileLogo != null && fileLogo[0].files.length > 0) {
                formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
            } else if (p_ShowError == 1 && (_logourl == "" || _logourl == '@urlMauNhanHieu')) {
                showError('Chưa upload ảnh nhãn hiệu');
                $("#pfile_6_rdoMauNhanHieu").focus();
                return false;
            }
            formData.append("pDetail.LOGOURL", _logourl);
            var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
            var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
            var _01_rad_DonDkOrGiayDK = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            //Thông tin chủ đơn

            if ((v_thanhviennghidinh === "" || v_thanhviennghidinh == undefined) && p_ShowError == 1) {
                showError('@Resource.TM2B_ChonThanhVien');
                $("#_01_rdnghidinh_madrid").focus();
                return false;
            }


            if ((_01_rad_DonDkOrGiayDK === "" || _01_rad_DonDkOrGiayDK == undefined) && p_ShowError == 1) {
                showError('@Resource.TM2B_ChonGiayDK');
                $("#_01_rad_DonDK").focus();
                return false;
            }


            if (_1_txtSoDonGCN.val() == "" && p_ShowError == 1) {
                showError('@Resource.TM2B_ChonSoDon');
                _1_txtSoDonGCN.focus();
                return false;
            }

          
            if ((_1_txtNgayNopDon.val() == "" || _1_txtNgayNopDon.val() == "__/__/____") && p_ShowError == 1) {
                showError('@Resource.TM2B_ChonNgayNopDon');
                _1_txtNgayNopDon.focus();
                return false;
            }

            formData.append("pInfo.Appcode", '@_appcode');
          
            // danh sach quoc gia
            var _listNational = $("#_4_cboNational01").val() + "," + $("#_4_cboNational02").val() + "," + $("#_4_cboNational03").val() + "," + $("#_4_cboNational04").val()
                + "," + $("#_4_cboNational05").val() + "," + $("#_4_cboNational06").val() + "," + $("#_4_cboNational07").val() + "," + $("#_4_cboNational08").val();
            _listNational = _listNational.replace(/null/g, '');
            if (_listNational.replace(/,/g, '') == "" && p_ShowError == 1) {
                showError('@Resource.TM2B_ChonNuocDKNH');
                $("#_4_cboNational01").multipleSelect("focus");
                return false;
            }
            var _arrayNational = _listNational.split(",");
            _arrayNational = RepushArray(_arrayNational);
            if (CheckArrDuplicate(_arrayNational) == true && p_ShowError == 1) {
                showError('@Resource.TM2B_TrungMaNuoc');
                $("#_4_cboNational01").focus();
                return false;
            }

            var v_don_giaydknhcs = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
            formData.append("pDetail.DON_GIAY_DKNHCS", v_don_giaydknhcs);
            formData.append("pDetail.REF_APPNO", _1_txtSoDonGCN.val());
            var REF_APPNO_TEXT = "";
            if($('#cbo_04nh_data').val() != "" && $('#cbo_04nh_data').val() !=null)
            {
                REF_APPNO_TEXT = $('#cbo_04nh_data option:selected').text();
            }

            formData.append("pDetail.REF_APPNO_TEXT", REF_APPNO_TEXT);
            formData.append("pDetail.NGAYNOPDON", $("#_1_txtNgayNopDon").val());

            formData.append("pDetail.COUNTRY_ID01", $("#_4_cboNational01").val() == null || $("#_4_cboNational01").val() == "-1" ? "" : $("#_4_cboNational01").val());
            formData.append("pDetail.COUNTRY_ID02", $("#_4_cboNational02").val() == null || $("#_4_cboNational02").val() == "-1" ? "" : $("#_4_cboNational02").val());
            formData.append("pDetail.COUNTRY_ID03", $("#_4_cboNational03").val() == null || $("#_4_cboNational03").val() == "-1" ? "" : $("#_4_cboNational03").val());
            formData.append("pDetail.COUNTRY_ID04", $("#_4_cboNational04").val() == null || $("#_4_cboNational04").val() == "-1" ? "" : $("#_4_cboNational04").val());
            formData.append("pDetail.COUNTRY_ID05", $("#_4_cboNational05").val() == null || $("#_4_cboNational05").val() == "-1" ? "" : $("#_4_cboNational05").val());
            formData.append("pDetail.COUNTRY_ID06", $("#_4_cboNational06").val() == null || $("#_4_cboNational06").val() == "-1" ? "" : $("#_4_cboNational06").val());
            formData.append("pDetail.COUNTRY_ID07", $("#_4_cboNational07").val() == null || $("#_4_cboNational07").val() == "-1" ? "" : $("#_4_cboNational07").val());
            formData.append("pDetail.COUNTRY_ID08", $("#_4_cboNational08").val() == null || $("#_4_cboNational08").val() == "-1" ? "" : $("#_4_cboNational08").val());

            formData.append("pDetail.COUNTRY_ID01_TEXT", $('#_4_cboNational01 option:selected').text());
            formData.append("pDetail.COUNTRY_ID02_TEXT", $('#_4_cboNational02 option:selected').text());
            formData.append("pDetail.COUNTRY_ID03_TEXT", $('#_4_cboNational03 option:selected').text());
            formData.append("pDetail.COUNTRY_ID04_TEXT", $('#_4_cboNational04 option:selected').text());
            formData.append("pDetail.COUNTRY_ID05_TEXT", $('#_4_cboNational05 option:selected').text());
            formData.append("pDetail.COUNTRY_ID06_TEXT", $('#_4_cboNational06 option:selected').text());
            formData.append("pDetail.COUNTRY_ID07_TEXT", $('#_4_cboNational07 option:selected').text());
            formData.append("pDetail.COUNTRY_ID08_TEXT", $('#_4_cboNational08 option:selected').text());


            //formData.append("pDetail.PAGE_REMAIN", $("#_8_txtPageRemain").val());

            var txtMADDSHCN = $("#txtMADDSHCN").val();
            var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
            if (p_ShowError == 1 && v_RepMasterType == "DDPL" && txtMADDSHCN == "") {
                showError('@Resource.TM3C_MaDaiDienKhongDuocTrong');
                $("#txtMADDSHCN").focus()
                return false;
            }
            formData.append("pInfo.Customer_Code", txtMADDSHCN);
            // lấy thông tin chủ đơn

        } catch (e) {
            alert(e.toString());
            return false;
        }
    }



    function funGetThongTinFile(formData) {
        try {
            var Isuse = 0, Note = "", reponse = false;
            //1 tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ToKhai", "0");
            formData.append("pAppDocumentInfo[0].CHAR01", $("#txt_6_Doc_ToKhai").val());
            formData.append("pAppDocumentInfo[0].CHAR02", $("#txt_6_Doc_ToKhai_1").val());
            //v2 mau đăng ký văn phòng quốc tế
            reponse = funcGetCheckValueAndText(formData, "ckb_6_MauDKVPQuocTe", "1");
            formData.append("pAppDocumentInfo[1].CHAR01", $("#txt_6_MauDKVPQuocTe").val());
            formData.append("pAppDocumentInfo[1].CHAR02", $("#txt_6_MauDKVPQuocTe_1").val());
            formData.append("pAppDocumentInfo[1].CHAR03", $("#txt_6_MauDKVPQuocTe_2").val());
            formData.append("pAppDocumentInfo[1].CHAR04", $("#txt_6_MauDKVPQuocTe_3").val());

            // 3  mẫu nhãn hiệu

            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_MauNhanHieu", "2");
            formData.append("pAppDocumentInfo[2].CHAR01", $("#txt_6_Doc_MauNhanHieu").val());

            //4 bản sao tờ khai
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoToKhai", "3");

            //5 bản sao giấy ck dăng ký nh cs
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanSaoGiayDKNHCS", "4");

            // bản cam kết sẽ sử dụng NH
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_CamKetSuDungNH", "5");

            //7 giay quy quyen bang tieng
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_GiayUyQuyenBangTieng", "6");
            formData.append("pAppDocumentInfo[6].CHAR01", $("#txt_6_Doc_GiayUyQuyenBangTieng").val());

            // 8 bản dịch tiếng việt
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanDichTiengViet", "7");
            formData.append("pAppDocumentInfo[7].CHAR01", $("#txt_6_Doc_BanDichTiengViet").val());

            // 9 bản gốc
            reponse = funcGetCheckValueAndText(formData, "ckb_6_DocBanGoc", "8");

            // 10 bản sao
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_Sao", "9");

            // 11 bản sao nộp sau
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocSeNopSau", "10");

            // 12   bản gốc đã nộp theo số
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_BanGocDaNopTheoDonSo", "11");
            formData.append("pAppDocumentInfo[11].CHAR01", $("#txt_6_Doc_BanGocDaNopTheoDonSo").val());

            // 13  chứng từ lệ phí
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_ChungTuLePhi", "12");

            // 14  tài liệu bổ sung
            reponse = funcGetCheckValueAndText(formData, "ckb_6_Doc_TaiLieuBoSung", "13");
            formData.append("pAppDocumentInfo[13].CHAR01", $("#txt_6_Doc_TaiLieuBoSung").val());

        } catch (e) {
            console.log(e);
        }
    }
    function funcCheckDataClassInfo(_showerror) {
        try {
            var item = 0;
            $("#tblClassInfo").find("tbody").find(".DataAdd").each(function () {
                item++;
            });
            if(item == 0 && _showerror == 1)
            {
                showError('Chưa phân loại hàng hóa/dịch vụ');
                $("#txtTenHangHoa").focus();
                return false;
            }
            else if(item > 0 && _showerror == 1 && (
                $("#txtTongSoNhom").val() == "0"  || $("#txtTongSoNhom").val() == ""))
            {
                showError('Chưa phân loại hàng hóa/dịch vụ');
                $("#txtTenHangHoa").focus();
                return false;
            }
            return true;
        }
        catch (e) {
            console.log(e);
            return false;
        }
    }

    function funcGetCheckValueAndText(formData, pID, pItem) {
        try {
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[" + pItem + "].keyFileUpload", pID);
            formData.append("pAppDocumentInfo[" + pItem + "].Document_Id", $("#" + pID).val());
            formData.append("pAppDocumentInfo[" + pItem + "].Isuse", Isuse);
            return true;
        } catch (e) {
            return false;
        }

    }

    //kiểm tra xem trong mảng có thằng nào trùng nhau không
    function CheckArrDuplicate(values) {
        var valueArr = values.map(function (item) { return item });
        var isDuplicate = valueArr.some(function (item, idx) {
            return valueArr.indexOf(item) != idx
        });
        return isDuplicate;
    }

    /// xóa những bản ghi trống
    function RepushArray(_array) {
        var index = _array.length - 1;
        while (index >= 0) {
            if (_array[index] === '') {
                _array.splice(index, 1);
            }
            index -= 1;
        }
        return _array;
    }

    // lấy thông tin đơn 2a fill vào các trường
    function chooseApp2a(_id) {
        try {
            var imgMauNhanHieu = $("#imgMauNhanHieu");
            var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
            var div_chudon2a = $("#div_chudon2a");
            //var div_daidienchudon2a = $("#div_daidienchudon2a");
            var div_appclass_2a = $("#div_appclass_2a");
            var _txtSoDonGCN =  $("#_1_txtSoDonGCN");
            if(_id.trim() != "")
            {

                _txtSoDonGCN.val($("#cbo_04nh_data option:selected" ).text().trim());
            }
            $.ajax({
                //string p_idthongtinchudong, string p_iddaidienchudon, string p_idappclass)

                url: '/trade-mark-share-data/get-tm04nh-info',
                type: 'POST',
                data: { pAppHeaderId: _id, p_idchudon: "_1", p_iddaidienchudon: "_2", p_idappclass: "" },
                // processData: false, contentType: false, traditional: true, dataType: "json",
                //  enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                success: function (data) {
                    if (data != null && data.success >= 0) {
                        imgMauNhanHieu.attr("src", data.LogoURL);
                        _1_txtNgayNopDon.val(data.NgayNopDon);
                        div_chudon2a.html(data.ViewChuDon);
                        //div_daidienchudon2a.html(data.ViewDaiDienChuDon);
                        div_appclass_2a.html(data.ViewAppClass);
                        FuncLoadAppClass();

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        } catch (e) {
            alert(e.toString());
        }
    }


    
    function funcChuDonKhac(formData) {
        try {
            var _index = 0;
            $(".clsChuDonKhac").each(function (item) {
                var _id = $(this).attr('data-id');
                if ($("#" + _id + "_txtUse_ChuDonKhac").val() == "1") {

                    formData.append("pOther_MasterInfo[" + _index + "].Master_Name", $("#" + _id + "_txtTenDayDu_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Address", $("#" + _id + "_txtDiaChi_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Phone", $("#" + _id + "_txtDienThoai_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Fax", $("#" + _id + "_txtFax_Khac").val());
                    formData.append("pOther_MasterInfo[" + _index + "].Master_Email", $("#" + _id + "_txtEmail_Khac").val());

                    if ($("#" + _id + "_ckbTacGiaDongThoi").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "TGDT");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].TacGiaDongThoi", "");
                    }

                    if ($("#" + _id + "_ckbPhoBan").is(':checked')) {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "PB");
                    } else {
                        formData.append("pOther_MasterInfo[" + _index + "].PhoBan", "");
                    }

                    _index = _index + 1;
                }
            });
            return true;
        } catch (e) {
            return false;
        }
    }

    
    function funGetDocumentFile(formData) {
        try {
            var item = 0;
            var Isuse = 0, Note = "", reponse = false;
            var _txtid01 = "";
            var _txtid02 = "";
            $(".checkbox_appdocument").each(function () {
                Isuse = 0;
                Note = "";
                reponse = false;
                var _checkboxname = $(this).attr("id");
                var _txtIndexID  = item.toString();
                if(item <= 9)
                {
                    _txtIndexID = "0" + _txtIndexID;
                }
                var _txtid01 = "txt_DOC_" + _txtIndexID;
                var _txtid02 = "txt_DOC_" + _txtIndexID + "_2";
                reponse = funcGetCheckValueAndText(formData, _checkboxname, item);
                formData.append("pAppDocumentInfo["+item+"].CHAR01", FuncGetValDocById(_txtid01));
                formData.append("pAppDocumentInfo["+item+"].CHAR02",FuncGetValDocById(_txtid02));
                item++;
            });
            return true;
        }
        catch (e) {
            console.log(e);
            return false;
        }
    }
    

    function funcGetTenTaiLieuKhac(formData) {
        try {
            var item = 0;
            if ($("#ckb_6_Doc_TaiLieuBoSung").is(":checked") == true) {
                $(".clssListUpload").each(function () {
                    formData.append("pAppDocOtherInfo[" + item + "].keyFileUpload", this.id);
                    formData.append("pAppDocOtherInfo[" + item + "].Documentname", $("#" + this.id).val());
                    item++;
                });
            }
            return true;
        } catch (e) {
            return false;
        }
    }






</script>
