@using ObjectInfos;
@using BussinessFacade;
@model AppDDSHCNInfo
@{
}
<style>
    .div-search-title > div {
        width: 120px;
    }
</style>


<input type="hidden" id="txtID" value="@Model.Id" />

<div class="" style="padding:5px 38px">

    <div class="divCover divCover_popup">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tên tiếng việt</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name_Vi, new { id = "txtName_Vi", @maxlength = "200" , @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tên tiếng anh</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name_Vi, new { id = "txtName_En", @maxlength = "200", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Phone </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Name_Vi, new { id = "txtPhone", @maxlength = "50", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Fax</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Fax, new { id = "txtFax", @maxlength = "50", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Email</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @maxlength = "150", @disabled = "disabled" })
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Địa chỉ</div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.TextBoxFor(m => m.Address_Vi, new { id = "txtAddress_Vi", @Value = Model.Address_Vi, @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Thoát" onclick="return ClosePopUpDDSHCN()" />
        </div>
    </div>
</div>
 